interactions:
- request:
    body: "--8c7b03fe2fa3cb2782bda1441df792e0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/3097052e-4477-4fde-8797-8e5e280af682/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"3097052e-4477-4fde-8797-8e5e280af682"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/3097052e-4477-4fde-8797-8e5e280af682/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"25767188","attempt":1,"shardIndex":0},{"jobId":"25767187","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25767186","attempt":1,"shardIndex":-1}]},"id":"3097052e-4477-4fde-8797-8e5e280af682"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/3097052e-4477-4fde-8797-8e5e280af682/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"25767195","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"25767188","attempt":1,"shardIndex":0},{"jobId":"25767187","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25767186","attempt":1,"shardIndex":-1}]},"id":"3097052e-4477-4fde-8797-8e5e280af682"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/3097052e-4477-4fde-8797-8e5e280af682/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"25767195","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"25767188","attempt":1,"shardIndex":0},{"jobId":"25767187","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25767186","attempt":1,"shardIndex":-1}]},"id":"3097052e-4477-4fde-8797-8e5e280af682"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
