interactions:
- request:
    body: "--d5daa0d4a88692053f1cdbd49fe65d72\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/9489472d-f88e-4d64-b011-5495663c5f15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9489472d-f88e-4d64-b011-5495663c5f15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/9489472d-f88e-4d64-b011-5495663c5f15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"27404037","attempt":1,"shardIndex":0},{"jobId":"27404036","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"27404038","attempt":1,"shardIndex":-1}]},"id":"9489472d-f88e-4d64-b011-5495663c5f15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/9489472d-f88e-4d64-b011-5495663c5f15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"27404043","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"27404037","attempt":1,"shardIndex":0},{"jobId":"27404036","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"27404038","attempt":1,"shardIndex":-1}]},"id":"9489472d-f88e-4d64-b011-5495663c5f15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/9489472d-f88e-4d64-b011-5495663c5f15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"27404043","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"27404037","attempt":1,"shardIndex":0},{"jobId":"27404036","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"27404038","attempt":1,"shardIndex":-1}]},"id":"9489472d-f88e-4d64-b011-5495663c5f15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
