interactions:
- request:
    body: "--b20eb4863fbf0c3a6209fd71b1cb0824\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4c7219a4-b6db-4c9b-b695-82f1ba20a01d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4c7219a4-b6db-4c9b-b695-82f1ba20a01d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4c7219a4-b6db-4c9b-b695-82f1ba20a01d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"41881926","attempt":1,"shardIndex":0},{"jobId":"41881927","attempt":1,"shardIndex":1},{"jobId":"41881925","attempt":1,"shardIndex":2}]},"id":"4c7219a4-b6db-4c9b-b695-82f1ba20a01d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4c7219a4-b6db-4c9b-b695-82f1ba20a01d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"41881926","attempt":1,"shardIndex":0},{"jobId":"41881927","attempt":1,"shardIndex":1},{"jobId":"41881925","attempt":1,"shardIndex":2}]},"id":"4c7219a4-b6db-4c9b-b695-82f1ba20a01d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
