interactions:
- request:
    body: "--dffb28f0eff82ec51e0bf2b96a16dbce\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/badc5d1d-9ec6-4c9d-a9cb-b44be419a09a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"badc5d1d-9ec6-4c9d-a9cb-b44be419a09a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/badc5d1d-9ec6-4c9d-a9cb-b44be419a09a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"51407809","attempt":1,"shardIndex":-1}]},"id":"badc5d1d-9ec6-4c9d-a9cb-b44be419a09a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/badc5d1d-9ec6-4c9d-a9cb-b44be419a09a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"51407809","attempt":1,"shardIndex":-1}]},"id":"badc5d1d-9ec6-4c9d-a9cb-b44be419a09a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
