interactions:
- request:
    body: "--370682d9c829b22768f36488b9c7f01d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--370682d9c829b22768f36488b9c7f01d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--370682d9c829b22768f36488b9c7f01d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=370682d9c829b22768f36488b9c7f01d
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"f8f39381-74e9-4a02-9c42-19c9292ad8e3","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/f8f39381-74e9-4a02-9c42-19c9292ad8e3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f8f39381-74e9-4a02-9c42-19c9292ad8e3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/f8f39381-74e9-4a02-9c42-19c9292ad8e3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"57493713","attempt":1,"shardIndex":-1}]},"id":"f8f39381-74e9-4a02-9c42-19c9292ad8e3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/f8f39381-74e9-4a02-9c42-19c9292ad8e3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"57493713","attempt":1,"shardIndex":-1}]},"id":"f8f39381-74e9-4a02-9c42-19c9292ad8e3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
