interactions:
- request:
    body: "--9c08abe5622cddc2e6b7bfb5d152865a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/5aa2123b-e0bd-4d7b-a90e-800064b5d528/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5aa2123b-e0bd-4d7b-a90e-800064b5d528"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/5aa2123b-e0bd-4d7b-a90e-800064b5d528/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"51706139","attempt":1,"shardIndex":0},{"jobId":"51706138","attempt":1,"shardIndex":1}]},"id":"5aa2123b-e0bd-4d7b-a90e-800064b5d528"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/5aa2123b-e0bd-4d7b-a90e-800064b5d528/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"51706139","attempt":1,"shardIndex":0},{"jobId":"51706138","attempt":1,"shardIndex":1}]},"id":"5aa2123b-e0bd-4d7b-a90e-800064b5d528"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
