interactions:
- request:
    body: "--ab838e7e12d57a45f4a93b8bdfc58e8f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--ab838e7e12d57a45f4a93b8bdfc58e8f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ab838e7e12d57a45f4a93b8bdfc58e8f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ab838e7e12d57a45f4a93b8bdfc58e8f
    method: POST
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1
  response:
    body:
      string: '{"id":"0a53f8bb-2adb-400d-b771-c562264bdf48","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/0a53f8bb-2adb-400d-b771-c562264bdf48/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"0a53f8bb-2adb-400d-b771-c562264bdf48"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/0a53f8bb-2adb-400d-b771-c562264bdf48/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"44085894","attempt":1,"shardIndex":-1}]},"id":"0a53f8bb-2adb-400d-b771-c562264bdf48"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/0a53f8bb-2adb-400d-b771-c562264bdf48/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"44085894","attempt":1,"shardIndex":-1}]},"id":"0a53f8bb-2adb-400d-b771-c562264bdf48"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
