interactions:
- request:
    body: "--7eae32b8d04c74c09b77ab2fb508e769\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--7eae32b8d04c74c09b77ab2fb508e769\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7eae32b8d04c74c09b77ab2fb508e769--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=7eae32b8d04c74c09b77ab2fb508e769
    method: POST
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1
  response:
    body:
      string: '{"id":"74d95e90-784e-42dc-8cca-cf9f39882f17","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/74d95e90-784e-42dc-8cca-cf9f39882f17/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"74d95e90-784e-42dc-8cca-cf9f39882f17"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/74d95e90-784e-42dc-8cca-cf9f39882f17/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"26221330","attempt":1,"shardIndex":-1}]},"id":"74d95e90-784e-42dc-8cca-cf9f39882f17"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/74d95e90-784e-42dc-8cca-cf9f39882f17/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"26221330","attempt":1,"shardIndex":-1}]},"id":"74d95e90-784e-42dc-8cca-cf9f39882f17"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
