interactions:
- request:
    body: "--00682d5df37c1c11db4b1c0bf093d1af\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--00682d5df37c1c11db4b1c0bf093d1af\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--00682d5df37c1c11db4b1c0bf093d1af--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=00682d5df37c1c11db4b1c0bf093d1af
    method: POST
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1
  response:
    body:
      string: '{"id":"f97a9f45-e0cc-401c-8a4d-1877433d22bf","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/f97a9f45-e0cc-401c-8a4d-1877433d22bf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f97a9f45-e0cc-401c-8a4d-1877433d22bf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/f97a9f45-e0cc-401c-8a4d-1877433d22bf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"50539152","attempt":1,"shardIndex":-1}]},"id":"f97a9f45-e0cc-401c-8a4d-1877433d22bf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/f97a9f45-e0cc-401c-8a4d-1877433d22bf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"50539152","attempt":1,"shardIndex":-1}]},"id":"f97a9f45-e0cc-401c-8a4d-1877433d22bf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
