interactions:
- request:
    body: "--1c9dd0ad6a4c60a705ff32315c6801f1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/61d34a07-fbcc-4f1e-943a-40685f3e48f9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"61d34a07-fbcc-4f1e-943a-40685f3e48f9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/61d34a07-fbcc-4f1e-943a-40685f3e48f9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"43391618","attempt":1,"shardIndex":0},{"jobId":"43391619","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43391621","attempt":1,"shardIndex":-1}]},"id":"61d34a07-fbcc-4f1e-943a-40685f3e48f9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/61d34a07-fbcc-4f1e-943a-40685f3e48f9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"43391641","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"43391618","attempt":1,"shardIndex":0},{"jobId":"43391619","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43391621","attempt":1,"shardIndex":-1}]},"id":"61d34a07-fbcc-4f1e-943a-40685f3e48f9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/61d34a07-fbcc-4f1e-943a-40685f3e48f9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"43391641","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"43391618","attempt":1,"shardIndex":0},{"jobId":"43391619","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43391621","attempt":1,"shardIndex":-1}]},"id":"61d34a07-fbcc-4f1e-943a-40685f3e48f9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
