interactions:
- request:
    body: "--4b605b9f9060da8566559f207bb96fee\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/6ea8905f-3ed4-4e8d-9b52-7c44a42ac0a0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6ea8905f-3ed4-4e8d-9b52-7c44a42ac0a0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/6ea8905f-3ed4-4e8d-9b52-7c44a42ac0a0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"25767043","attempt":1,"shardIndex":0},{"jobId":"25767041","attempt":1,"shardIndex":1},{"jobId":"25767042","attempt":1,"shardIndex":2}]},"id":"6ea8905f-3ed4-4e8d-9b52-7c44a42ac0a0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/6ea8905f-3ed4-4e8d-9b52-7c44a42ac0a0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"25767043","attempt":1,"shardIndex":0},{"jobId":"25767041","attempt":1,"shardIndex":1},{"jobId":"25767042","attempt":1,"shardIndex":2}]},"id":"6ea8905f-3ed4-4e8d-9b52-7c44a42ac0a0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
