interactions:
- request:
    body: "--5710db59921bc919366dab0809c0685d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/76835b94-2e45-461d-829a-859dc8b64d76/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 76835b94-2e45-461d-829a-859dc8b64d76\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/76835b94-2e45-461d-829a-859dc8b64d76/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"76835b94-2e45-461d-829a-859dc8b64d76"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
