interactions:
- request:
    body: "--9118974cbb3fc1d2f606319377631512\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/c97621b9-b06f-432a-9f1d-ed83884be6c3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c97621b9-b06f-432a-9f1d-ed83884be6c3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/c97621b9-b06f-432a-9f1d-ed83884be6c3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"23973538","attempt":1,"shardIndex":0},{"jobId":"23973541","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"23973540","attempt":1,"shardIndex":-1}]},"id":"c97621b9-b06f-432a-9f1d-ed83884be6c3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/c97621b9-b06f-432a-9f1d-ed83884be6c3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"23973924","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"23973538","attempt":1,"shardIndex":0},{"jobId":"23973541","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"23973540","attempt":1,"shardIndex":-1}]},"id":"c97621b9-b06f-432a-9f1d-ed83884be6c3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/c97621b9-b06f-432a-9f1d-ed83884be6c3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"23973924","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"23973538","attempt":1,"shardIndex":0},{"jobId":"23973541","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"23973540","attempt":1,"shardIndex":-1}]},"id":"c97621b9-b06f-432a-9f1d-ed83884be6c3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
