interactions:
- request:
    body: "--80b00a416a2d976c7d9a5e307bdd04cb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--80b00a416a2d976c7d9a5e307bdd04cb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--80b00a416a2d976c7d9a5e307bdd04cb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=80b00a416a2d976c7d9a5e307bdd04cb
    method: POST
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1
  response:
    body:
      string: '{"id":"8e8fdb9d-d667-46a0-bd47-459b8d4bb336","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/8e8fdb9d-d667-46a0-bd47-459b8d4bb336/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"8e8fdb9d-d667-46a0-bd47-459b8d4bb336"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/8e8fdb9d-d667-46a0-bd47-459b8d4bb336/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"48670187","attempt":1,"shardIndex":-1}]},"id":"8e8fdb9d-d667-46a0-bd47-459b8d4bb336"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/8e8fdb9d-d667-46a0-bd47-459b8d4bb336/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"48670187","attempt":1,"shardIndex":-1}]},"id":"8e8fdb9d-d667-46a0-bd47-459b8d4bb336"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
