interactions:
- request:
    body: "--d565593a186473a4b9c7f8fdb114aa94\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--d565593a186473a4b9c7f8fdb114aa94\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d565593a186473a4b9c7f8fdb114aa94--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d565593a186473a4b9c7f8fdb114aa94
    method: POST
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1
  response:
    body:
      string: '{"id":"ac767506-fbb3-4b11-8714-8c6127ed0452","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/ac767506-fbb3-4b11-8714-8c6127ed0452/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ac767506-fbb3-4b11-8714-8c6127ed0452"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/ac767506-fbb3-4b11-8714-8c6127ed0452/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globSubdir.create_nested_files":[{"jobId":"41177831","attempt":1,"shardIndex":-1}]},"id":"ac767506-fbb3-4b11-8714-8c6127ed0452"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/ac767506-fbb3-4b11-8714-8c6127ed0452/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"41177831","attempt":1,"shardIndex":-1}]},"id":"ac767506-fbb3-4b11-8714-8c6127ed0452"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
