interactions:
- request:
    body: "--9bddc4062b276c8395aff7cb4f528ec2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/5a450677-50c4-48de-ae41-927b00ca681e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5a450677-50c4-48de-ae41-927b00ca681e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/5a450677-50c4-48de-ae41-927b00ca681e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"25974494","attempt":1,"shardIndex":0},{"jobId":"25974493","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25974495","attempt":1,"shardIndex":-1}]},"id":"5a450677-50c4-48de-ae41-927b00ca681e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/5a450677-50c4-48de-ae41-927b00ca681e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"25974498","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"25974494","attempt":1,"shardIndex":0},{"jobId":"25974493","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25974495","attempt":1,"shardIndex":-1}]},"id":"5a450677-50c4-48de-ae41-927b00ca681e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/5a450677-50c4-48de-ae41-927b00ca681e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"25974498","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"25974494","attempt":1,"shardIndex":0},{"jobId":"25974493","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25974495","attempt":1,"shardIndex":-1}]},"id":"5a450677-50c4-48de-ae41-927b00ca681e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
