interactions:
- request:
    body: "--65b9d14892c9b18eb6cb89bbcdaad898\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--65b9d14892c9b18eb6cb89bbcdaad898\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--65b9d14892c9b18eb6cb89bbcdaad898--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=65b9d14892c9b18eb6cb89bbcdaad898
    method: POST
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1
  response:
    body:
      string: '{"id":"db5bcb99-784d-46dc-b7c6-4c56c6a20ae3","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/db5bcb99-784d-46dc-b7c6-4c56c6a20ae3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"db5bcb99-784d-46dc-b7c6-4c56c6a20ae3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/db5bcb99-784d-46dc-b7c6-4c56c6a20ae3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"47888547","attempt":1,"shardIndex":-1}]},"id":"db5bcb99-784d-46dc-b7c6-4c56c6a20ae3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/db5bcb99-784d-46dc-b7c6-4c56c6a20ae3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"47888547","attempt":1,"shardIndex":-1}]},"id":"db5bcb99-784d-46dc-b7c6-4c56c6a20ae3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
