interactions:
- request:
    body: "--1087f43b81b8f2a6e559676447e66b33\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/bf613a43-bf85-41d2-8bbc-05809fad9a15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"bf613a43-bf85-41d2-8bbc-05809fad9a15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/bf613a43-bf85-41d2-8bbc-05809fad9a15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"52622481","attempt":1,"shardIndex":0},{"jobId":"52622482","attempt":1,"shardIndex":1}]},"id":"bf613a43-bf85-41d2-8bbc-05809fad9a15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/bf613a43-bf85-41d2-8bbc-05809fad9a15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"52622481","attempt":1,"shardIndex":0},{"jobId":"52622482","attempt":1,"shardIndex":1}]},"id":"bf613a43-bf85-41d2-8bbc-05809fad9a15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
