interactions:
- request:
    body: "--947d033a69500aaf57c4f0ef875cd0a1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--947d033a69500aaf57c4f0ef875cd0a1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--947d033a69500aaf57c4f0ef875cd0a1--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=947d033a69500aaf57c4f0ef875cd0a1
    method: POST
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1
  response:
    body:
      string: '{"id":"f2557ad8-4ea6-4f5b-a1be-7ef2d8e1fdf7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/f2557ad8-4ea6-4f5b-a1be-7ef2d8e1fdf7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f2557ad8-4ea6-4f5b-a1be-7ef2d8e1fdf7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/f2557ad8-4ea6-4f5b-a1be-7ef2d8e1fdf7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"29236959","attempt":1,"shardIndex":-1}]},"id":"f2557ad8-4ea6-4f5b-a1be-7ef2d8e1fdf7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/f2557ad8-4ea6-4f5b-a1be-7ef2d8e1fdf7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"29236959","attempt":1,"shardIndex":-1}]},"id":"f2557ad8-4ea6-4f5b-a1be-7ef2d8e1fdf7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
