interactions:
- request:
    body: "--bfea10797977d0ccec9ec866b3bd7be0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/679da823-3ad1-4cb9-b54d-d895907b2163/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"679da823-3ad1-4cb9-b54d-d895907b2163"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/679da823-3ad1-4cb9-b54d-d895907b2163/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"18672647","attempt":1,"shardIndex":0},{"jobId":"18672646","attempt":1,"shardIndex":1},{"jobId":"18672645","attempt":1,"shardIndex":2}]},"id":"679da823-3ad1-4cb9-b54d-d895907b2163"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/679da823-3ad1-4cb9-b54d-d895907b2163/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"18672647","attempt":1,"shardIndex":0},{"jobId":"18672646","attempt":1,"shardIndex":1},{"jobId":"18672645","attempt":1,"shardIndex":2}]},"id":"679da823-3ad1-4cb9-b54d-d895907b2163"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
