interactions:
- request:
    body: "--99aeab1312b76d16a680bf4faf97908b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--99aeab1312b76d16a680bf4faf97908b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--99aeab1312b76d16a680bf4faf97908b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=99aeab1312b76d16a680bf4faf97908b
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"e7e618b2-3f72-4b5f-baca-bf6efd4879f2","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/e7e618b2-3f72-4b5f-baca-bf6efd4879f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e7e618b2-3f72-4b5f-baca-bf6efd4879f2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/e7e618b2-3f72-4b5f-baca-bf6efd4879f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"62606683","attempt":1,"shardIndex":-1}]},"id":"e7e618b2-3f72-4b5f-baca-bf6efd4879f2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/e7e618b2-3f72-4b5f-baca-bf6efd4879f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"62606683","attempt":1,"shardIndex":-1}]},"id":"e7e618b2-3f72-4b5f-baca-bf6efd4879f2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
