interactions:
- request:
    body: "--4c98d7421c8cebe6dc4fdd057203f1c7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--4c98d7421c8cebe6dc4fdd057203f1c7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4c98d7421c8cebe6dc4fdd057203f1c7--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=4c98d7421c8cebe6dc4fdd057203f1c7
    method: POST
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1
  response:
    body:
      string: '{"id":"49e6b44b-067a-4505-a6a7-5f4599b09372","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/49e6b44b-067a-4505-a6a7-5f4599b09372/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"49e6b44b-067a-4505-a6a7-5f4599b09372"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/49e6b44b-067a-4505-a6a7-5f4599b09372/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"44782283","attempt":1,"shardIndex":-1}]},"id":"49e6b44b-067a-4505-a6a7-5f4599b09372"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/49e6b44b-067a-4505-a6a7-5f4599b09372/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"44782283","attempt":1,"shardIndex":-1}]},"id":"49e6b44b-067a-4505-a6a7-5f4599b09372"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
