interactions:
- request:
    body: "--baa4e3d206765a14f562cf0065e87d0e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--baa4e3d206765a14f562cf0065e87d0e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--baa4e3d206765a14f562cf0065e87d0e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=baa4e3d206765a14f562cf0065e87d0e
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"b663de6d-e122-45cb-a014-f9a4d23ce6ad","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/b663de6d-e122-45cb-a014-f9a4d23ce6ad/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b663de6d-e122-45cb-a014-f9a4d23ce6ad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/b663de6d-e122-45cb-a014-f9a4d23ce6ad/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"43231797","attempt":1,"shardIndex":-1}]},"id":"b663de6d-e122-45cb-a014-f9a4d23ce6ad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/b663de6d-e122-45cb-a014-f9a4d23ce6ad/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"43231797","attempt":1,"shardIndex":-1}]},"id":"b663de6d-e122-45cb-a014-f9a4d23ce6ad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
