interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/ff2405c6-9c25-4c37-9e1c-0cd51700796b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"8394583","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"8394589","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"8394587","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"8394586","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"8394585","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"8394582","attempt":1,"shardIndex":0},{"jobId":"8394584","attempt":1,"shardIndex":1},{"jobId":"8394588","attempt":1,"shardIndex":2}]},"id":"ff2405c6-9c25-4c37-9e1c-0cd51700796b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/83f9df09-ff73-4810-8fc1-0e61f40a4d12/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"8393682","attempt":1,"shardIndex":-1}]},"id":"83f9df09-ff73-4810-8fc1-0e61f40a4d12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/e8b00db8-5b66-41ab-bac7-2152c1eaa55d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"8394648","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"8394230","attempt":1,"shardIndex":0},{"jobId":"8394228","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"8394229","attempt":1,"shardIndex":-1}]},"id":"e8b00db8-5b66-41ab-bac7-2152c1eaa55d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/85b9b078-ab05-4635-bb58-7d3253c2078d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloModuleHostname.Hostname":[{"jobId":"8393838","attempt":1,"shardIndex":-1}]},"id":"85b9b078-ab05-4635-bb58-7d3253c2078d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/f13e87a0-4fd1-4f2e-8dc1-dcc18b9d9c2c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"8394363","attempt":1,"shardIndex":-1}]},"id":"f13e87a0-4fd1-4f2e-8dc1-dcc18b9d9c2c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/23b5a96c-4376-4690-b97f-e12ce9b68889/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"8393298","attempt":1,"shardIndex":-1}]},"id":"23b5a96c-4376-4690-b97f-e12ce9b68889"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/451f97cc-cc6d-464f-b743-e013e2234e12/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"8393369","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"8393695","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"8393970","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"8394218","attempt":1,"shardIndex":-1}]},"id":"451f97cc-cc6d-464f-b743-e013e2234e12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
