interactions:
- request:
    body: "--5ae76ffd1643ff32fb0bbfd81d2dcb90\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--5ae76ffd1643ff32fb0bbfd81d2dcb90\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5ae76ffd1643ff32fb0bbfd81d2dcb90--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=5ae76ffd1643ff32fb0bbfd81d2dcb90
    method: POST
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1
  response:
    body:
      string: '{"id":"f147a291-d9c2-4e7b-9937-9c2bbbe63f88","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/f147a291-d9c2-4e7b-9937-9c2bbbe63f88/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f147a291-d9c2-4e7b-9937-9c2bbbe63f88"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/f147a291-d9c2-4e7b-9937-9c2bbbe63f88/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"43905934","attempt":1,"shardIndex":-1}]},"id":"f147a291-d9c2-4e7b-9937-9c2bbbe63f88"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/f147a291-d9c2-4e7b-9937-9c2bbbe63f88/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"43905934","attempt":1,"shardIndex":-1}]},"id":"f147a291-d9c2-4e7b-9937-9c2bbbe63f88"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
