interactions:
- request:
    body: "--1975ea455b39754e7d2c2973c7fed0d0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--1975ea455b39754e7d2c2973c7fed0d0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1975ea455b39754e7d2c2973c7fed0d0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1975ea455b39754e7d2c2973c7fed0d0
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"00694dfb-b42c-41fa-a98f-faa6010f99e0","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/00694dfb-b42c-41fa-a98f-faa6010f99e0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"00694dfb-b42c-41fa-a98f-faa6010f99e0"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/00694dfb-b42c-41fa-a98f-faa6010f99e0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"54309957","attempt":1,"shardIndex":-1}]},"id":"00694dfb-b42c-41fa-a98f-faa6010f99e0"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/00694dfb-b42c-41fa-a98f-faa6010f99e0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"54309957","attempt":1,"shardIndex":-1}]},"id":"00694dfb-b42c-41fa-a98f-faa6010f99e0"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
