interactions:
- request:
    body: "--0d68806ace971e5ca97770b6142f0cc6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--0d68806ace971e5ca97770b6142f0cc6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0d68806ace971e5ca97770b6142f0cc6--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0d68806ace971e5ca97770b6142f0cc6
    method: POST
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1
  response:
    body:
      string: '{"id":"e6f12a4a-f2ac-43ab-adb7-d1f956a4ac11","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/e6f12a4a-f2ac-43ab-adb7-d1f956a4ac11/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e6f12a4a-f2ac-43ab-adb7-d1f956a4ac11\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/e6f12a4a-f2ac-43ab-adb7-d1f956a4ac11/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e6f12a4a-f2ac-43ab-adb7-d1f956a4ac11"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
