interactions:
- request:
    body: "--b9da6f67230f327668b2a9b95660fef4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--b9da6f67230f327668b2a9b95660fef4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b9da6f67230f327668b2a9b95660fef4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b9da6f67230f327668b2a9b95660fef4
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"30d9b5ea-95b2-4401-bbf0-519ea4f47eba","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/30d9b5ea-95b2-4401-bbf0-519ea4f47eba/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"30d9b5ea-95b2-4401-bbf0-519ea4f47eba"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/30d9b5ea-95b2-4401-bbf0-519ea4f47eba/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"25768543","attempt":1,"shardIndex":-1}]},"id":"30d9b5ea-95b2-4401-bbf0-519ea4f47eba"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/30d9b5ea-95b2-4401-bbf0-519ea4f47eba/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"25768543","attempt":1,"shardIndex":-1}]},"id":"30d9b5ea-95b2-4401-bbf0-519ea4f47eba"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
