interactions:
- request:
    body: "--fe58b462da9843cb2e9e39b8f5afe642\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/7133666a-4e89-4c7a-855f-0717d0ff34c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7133666a-4e89-4c7a-855f-0717d0ff34c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/7133666a-4e89-4c7a-855f-0717d0ff34c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"49457291","attempt":1,"shardIndex":0},{"jobId":"49457290","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"49457292","attempt":1,"shardIndex":-1}]},"id":"7133666a-4e89-4c7a-855f-0717d0ff34c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/7133666a-4e89-4c7a-855f-0717d0ff34c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"49457301","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"49457291","attempt":1,"shardIndex":0},{"jobId":"49457290","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"49457292","attempt":1,"shardIndex":-1}]},"id":"7133666a-4e89-4c7a-855f-0717d0ff34c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/7133666a-4e89-4c7a-855f-0717d0ff34c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"49457301","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"49457291","attempt":1,"shardIndex":0},{"jobId":"49457290","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"49457292","attempt":1,"shardIndex":-1}]},"id":"7133666a-4e89-4c7a-855f-0717d0ff34c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
