interactions:
- request:
    body: "--602b21b719827b51f8f43f04398e7f28\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--602b21b719827b51f8f43f04398e7f28\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--602b21b719827b51f8f43f04398e7f28--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=602b21b719827b51f8f43f04398e7f28
    method: POST
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1
  response:
    body:
      string: '{"id":"85fd97e9-2d34-4cf1-925d-c2aa5d83f319","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/85fd97e9-2d34-4cf1-925d-c2aa5d83f319/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"85fd97e9-2d34-4cf1-925d-c2aa5d83f319"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/85fd97e9-2d34-4cf1-925d-c2aa5d83f319/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"52338810","attempt":1,"shardIndex":-1}]},"id":"85fd97e9-2d34-4cf1-925d-c2aa5d83f319"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/85fd97e9-2d34-4cf1-925d-c2aa5d83f319/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"52338810","attempt":1,"shardIndex":-1}]},"id":"85fd97e9-2d34-4cf1-925d-c2aa5d83f319"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
