interactions:
- request:
    body: "--80c34c1bb4a4586680c7ec79a8878609\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--80c34c1bb4a4586680c7ec79a8878609\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--80c34c1bb4a4586680c7ec79a8878609--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=80c34c1bb4a4586680c7ec79a8878609
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"0dbc48f5-555c-4f05-9a7a-ea2b1421a514","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/0dbc48f5-555c-4f05-9a7a-ea2b1421a514/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"0dbc48f5-555c-4f05-9a7a-ea2b1421a514"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/0dbc48f5-555c-4f05-9a7a-ea2b1421a514/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"51043301","attempt":1,"shardIndex":-1}]},"id":"0dbc48f5-555c-4f05-9a7a-ea2b1421a514"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/0dbc48f5-555c-4f05-9a7a-ea2b1421a514/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"51043301","attempt":1,"shardIndex":-1}]},"id":"0dbc48f5-555c-4f05-9a7a-ea2b1421a514"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
