interactions:
- request:
    body: "--9bc7a2f131144c3153e73e71ae5efe43\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ad59ae7f-85cd-475e-a681-a99041764b25/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ad59ae7f-85cd-475e-a681-a99041764b25"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ad59ae7f-85cd-475e-a681-a99041764b25/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"40375539","attempt":1,"shardIndex":0},{"jobId":"40375538","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"40375540","attempt":1,"shardIndex":-1}]},"id":"ad59ae7f-85cd-475e-a681-a99041764b25"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ad59ae7f-85cd-475e-a681-a99041764b25/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"40375547","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"40375539","attempt":1,"shardIndex":0},{"jobId":"40375538","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"40375540","attempt":1,"shardIndex":-1}]},"id":"ad59ae7f-85cd-475e-a681-a99041764b25"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ad59ae7f-85cd-475e-a681-a99041764b25/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"40375547","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"40375539","attempt":1,"shardIndex":0},{"jobId":"40375538","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"40375540","attempt":1,"shardIndex":-1}]},"id":"ad59ae7f-85cd-475e-a681-a99041764b25"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
