interactions:
- request:
    body: "--4ac03a4cbba2b99bcb07b62a9e10e413\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/6edcdb5c-16ac-4b37-9fb8-8985e281b6f3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6edcdb5c-16ac-4b37-9fb8-8985e281b6f3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/6edcdb5c-16ac-4b37-9fb8-8985e281b6f3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"29236965","attempt":1,"shardIndex":-1}]},"id":"6edcdb5c-16ac-4b37-9fb8-8985e281b6f3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/6edcdb5c-16ac-4b37-9fb8-8985e281b6f3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"29236965","attempt":1,"shardIndex":-1}]},"id":"6edcdb5c-16ac-4b37-9fb8-8985e281b6f3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
