interactions:
- request:
    body: "--5fa6b21bdde8beb493a4aa750784149f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/d00f1969-7350-4ab7-aacb-28b0d3f7dc00/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d00f1969-7350-4ab7-aacb-28b0d3f7dc00"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/d00f1969-7350-4ab7-aacb-28b0d3f7dc00/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"25974544","attempt":1,"shardIndex":0},{"jobId":"25974545","attempt":1,"shardIndex":1}]},"id":"d00f1969-7350-4ab7-aacb-28b0d3f7dc00"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/d00f1969-7350-4ab7-aacb-28b0d3f7dc00/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"25974544","attempt":1,"shardIndex":0},{"jobId":"25974545","attempt":1,"shardIndex":1}]},"id":"d00f1969-7350-4ab7-aacb-28b0d3f7dc00"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
