interactions:
- request:
    body: "--c4a9be68128b327d0c11f16ef9c7999d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--c4a9be68128b327d0c11f16ef9c7999d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c4a9be68128b327d0c11f16ef9c7999d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c4a9be68128b327d0c11f16ef9c7999d
    method: POST
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1
  response:
    body:
      string: '{"id":"b70f5eb3-4f93-4ec7-9677-7eafcbb96a5e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/b70f5eb3-4f93-4ec7-9677-7eafcbb96a5e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b70f5eb3-4f93-4ec7-9677-7eafcbb96a5e\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/b70f5eb3-4f93-4ec7-9677-7eafcbb96a5e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b70f5eb3-4f93-4ec7-9677-7eafcbb96a5e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
