interactions:
- request:
    body: "--0d63692628de0eba54eb100a448eb399\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/ebb88478-63ca-47ae-aa4f-1804f344a5ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ebb88478-63ca-47ae-aa4f-1804f344a5ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/ebb88478-63ca-47ae-aa4f-1804f344a5ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"45592065","attempt":1,"shardIndex":0},{"jobId":"45592066","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45592064","attempt":1,"shardIndex":-1}]},"id":"ebb88478-63ca-47ae-aa4f-1804f344a5ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/ebb88478-63ca-47ae-aa4f-1804f344a5ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"45592073","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"45592065","attempt":1,"shardIndex":0},{"jobId":"45592066","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45592064","attempt":1,"shardIndex":-1}]},"id":"ebb88478-63ca-47ae-aa4f-1804f344a5ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/ebb88478-63ca-47ae-aa4f-1804f344a5ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"45592073","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"45592065","attempt":1,"shardIndex":0},{"jobId":"45592066","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45592064","attempt":1,"shardIndex":-1}]},"id":"ebb88478-63ca-47ae-aa4f-1804f344a5ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
