interactions:
- request:
    body: "--3e800e4410f64605f811e9da3231df4b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/b7837cfd-7418-4eb0-99c2-1d7ce6bc1290/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b7837cfd-7418-4eb0-99c2-1d7ce6bc1290"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/b7837cfd-7418-4eb0-99c2-1d7ce6bc1290/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"28688977","attempt":1,"shardIndex":0},{"jobId":"28688976","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"28688978","attempt":1,"shardIndex":-1}]},"id":"b7837cfd-7418-4eb0-99c2-1d7ce6bc1290"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/b7837cfd-7418-4eb0-99c2-1d7ce6bc1290/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"28689152","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"28688977","attempt":1,"shardIndex":0},{"jobId":"28688976","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"28688978","attempt":1,"shardIndex":-1}]},"id":"b7837cfd-7418-4eb0-99c2-1d7ce6bc1290"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/b7837cfd-7418-4eb0-99c2-1d7ce6bc1290/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"28689152","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"28688977","attempt":1,"shardIndex":0},{"jobId":"28688976","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"28688978","attempt":1,"shardIndex":-1}]},"id":"b7837cfd-7418-4eb0-99c2-1d7ce6bc1290"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
