interactions:
- request:
    body: "--ae55fd8c9c83f224bc749f7b404da435\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/a3a578f8-77bf-4e67-b0f5-950938cff36d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a3a578f8-77bf-4e67-b0f5-950938cff36d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/a3a578f8-77bf-4e67-b0f5-950938cff36d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"43978320","attempt":1,"shardIndex":0},{"jobId":"43978318","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43978319","attempt":1,"shardIndex":-1}]},"id":"a3a578f8-77bf-4e67-b0f5-950938cff36d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/a3a578f8-77bf-4e67-b0f5-950938cff36d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"43978327","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"43978320","attempt":1,"shardIndex":0},{"jobId":"43978318","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43978319","attempt":1,"shardIndex":-1}]},"id":"a3a578f8-77bf-4e67-b0f5-950938cff36d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/a3a578f8-77bf-4e67-b0f5-950938cff36d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"43978327","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"43978320","attempt":1,"shardIndex":0},{"jobId":"43978318","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43978319","attempt":1,"shardIndex":-1}]},"id":"a3a578f8-77bf-4e67-b0f5-950938cff36d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
