interactions:
- request:
    body: "--f4c428f7dd6d9f1f9ea6db1591bae579\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/9d77fc2f-fc28-4711-b15b-f6785938a61f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9d77fc2f-fc28-4711-b15b-f6785938a61f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/9d77fc2f-fc28-4711-b15b-f6785938a61f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"21709023","attempt":1,"shardIndex":0},{"jobId":"21709021","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"21709022","attempt":1,"shardIndex":-1}]},"id":"9d77fc2f-fc28-4711-b15b-f6785938a61f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/9d77fc2f-fc28-4711-b15b-f6785938a61f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"21709037","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"21709023","attempt":1,"shardIndex":0},{"jobId":"21709021","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"21709022","attempt":1,"shardIndex":-1}]},"id":"9d77fc2f-fc28-4711-b15b-f6785938a61f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/9d77fc2f-fc28-4711-b15b-f6785938a61f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"21709037","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"21709023","attempt":1,"shardIndex":0},{"jobId":"21709021","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"21709022","attempt":1,"shardIndex":-1}]},"id":"9d77fc2f-fc28-4711-b15b-f6785938a61f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
