interactions:
- request:
    body: "--6ef87c58d8d704f85bd31bc33ed8ae7d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--6ef87c58d8d704f85bd31bc33ed8ae7d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6ef87c58d8d704f85bd31bc33ed8ae7d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=6ef87c58d8d704f85bd31bc33ed8ae7d
    method: POST
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1
  response:
    body:
      string: '{"id":"08767c20-fcbb-4554-992a-9d89b730af06","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/08767c20-fcbb-4554-992a-9d89b730af06/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"08767c20-fcbb-4554-992a-9d89b730af06"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/08767c20-fcbb-4554-992a-9d89b730af06/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"31909447","attempt":1,"shardIndex":-1}]},"id":"08767c20-fcbb-4554-992a-9d89b730af06"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/08767c20-fcbb-4554-992a-9d89b730af06/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"31909447","attempt":1,"shardIndex":-1}]},"id":"08767c20-fcbb-4554-992a-9d89b730af06"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
