interactions:
- request:
    body: "--13207534c64c3c0f8f9627b09f651700\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--13207534c64c3c0f8f9627b09f651700\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--13207534c64c3c0f8f9627b09f651700--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=13207534c64c3c0f8f9627b09f651700
    method: POST
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1
  response:
    body:
      string: '{"id":"69827488-0b4d-4f6f-b63b-56aad4b7f1af","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/69827488-0b4d-4f6f-b63b-56aad4b7f1af/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"69827488-0b4d-4f6f-b63b-56aad4b7f1af"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/69827488-0b4d-4f6f-b63b-56aad4b7f1af/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"51854168","attempt":1,"shardIndex":-1}]},"id":"69827488-0b4d-4f6f-b63b-56aad4b7f1af"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/69827488-0b4d-4f6f-b63b-56aad4b7f1af/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"51854168","attempt":1,"shardIndex":-1}]},"id":"69827488-0b4d-4f6f-b63b-56aad4b7f1af"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
