interactions:
- request:
    body: "--862085da95e9a2710ece58c13555ff16\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--862085da95e9a2710ece58c13555ff16\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--862085da95e9a2710ece58c13555ff16--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=862085da95e9a2710ece58c13555ff16
    method: POST
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1
  response:
    body:
      string: '{"id":"5191aefd-06ae-48cc-85bd-bc6111d21f3c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/5191aefd-06ae-48cc-85bd-bc6111d21f3c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5191aefd-06ae-48cc-85bd-bc6111d21f3c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/5191aefd-06ae-48cc-85bd-bc6111d21f3c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"25974546","attempt":1,"shardIndex":-1}]},"id":"5191aefd-06ae-48cc-85bd-bc6111d21f3c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/5191aefd-06ae-48cc-85bd-bc6111d21f3c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"25974546","attempt":1,"shardIndex":-1}]},"id":"5191aefd-06ae-48cc-85bd-bc6111d21f3c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
