interactions:
- request:
    body: "--7d791ff22a6e5fc575998e74687b20c6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/78fc20c8-9405-4d76-b75c-f1e88c249d19/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"78fc20c8-9405-4d76-b75c-f1e88c249d19"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/78fc20c8-9405-4d76-b75c-f1e88c249d19/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"57493838","attempt":1,"shardIndex":-1}]},"id":"78fc20c8-9405-4d76-b75c-f1e88c249d19"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/78fc20c8-9405-4d76-b75c-f1e88c249d19/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"57493838","attempt":1,"shardIndex":-1}]},"id":"78fc20c8-9405-4d76-b75c-f1e88c249d19"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
