interactions:
- request:
    body: "--310718ffca3d79c93c90504bb78a4950\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/daa7b7f6-66fc-46ca-9040-b6793dff3c15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"daa7b7f6-66fc-46ca-9040-b6793dff3c15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/daa7b7f6-66fc-46ca-9040-b6793dff3c15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"49682077","attempt":1,"shardIndex":-1}]},"id":"daa7b7f6-66fc-46ca-9040-b6793dff3c15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/daa7b7f6-66fc-46ca-9040-b6793dff3c15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"49682077","attempt":1,"shardIndex":-1}]},"id":"daa7b7f6-66fc-46ca-9040-b6793dff3c15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
