interactions:
- request:
    body: "--d77ea3ebd4cb138d31a8c824322608bb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonTaskOrderTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonTaskOrderTest {\n  input {\n    String input_json  # JSON
      string used as input for both tasks\n  }\n\n  call Task1 { input: input_json
      = input_json }\n  call Task2 { input: input_json = input_json, previous_output
      = Task1.output_file }\n\n  output {\n    File task1_output = Task1.output_file\n
      \   File task2_output = Task2.output_file\n  }\n}\n\ntask Task1 {\n  input {\n
      \   String input_json\n  }\n  \n  command <<<\n    echo \"Processing JSON in
      Task1: ~{input_json}\" > task1_output.txt\n    echo \"Task1 completed\" >> task1_output.txt\n
      \ >>>\n  \n  output {\n    File output_file = \"task1_output.txt\"\n  }\n  \n
      \ runtime {\n    cpu: 1\n    memory: \"2G\"\n  }\n}\n\ntask Task2 {\n  input
      {\n    String input_json\n    File previous_output\n  }\n  \n  command <<<\n
      \   echo \"Processing JSON in Task2: ~{input_json}\" > task2_output.txt\n    echo
      \"Task2 completed after Task1\" >> task2_output.txt\n    cat ~{previous_output}
      >> task2_output.txt\n  >>>\n  \n  output {\n    File output_file = \"task2_output.txt\"\n
      \ }\n  \n  runtime {\n    cpu: 1\n    memory: \"2G\"\n  }\n}\n\r\n--d77ea3ebd4cb138d31a8c824322608bb\r\nContent-Disposition:
      form-data; name=\"workflowInputs\"; filename=\"inputs.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n  \"jsonTaskOrderTest.input_json\": \"I am the text
      that from input.json\"\n}\n\r\n--d77ea3ebd4cb138d31a8c824322608bb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d77ea3ebd4cb138d31a8c824322608bb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=d77ea3ebd4cb138d31a8c824322608bb
    method: POST
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1
  response:
    body:
      string: '{"id":"34155348-e2bc-4eb2-8006-b9429297a3ff","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/34155348-e2bc-4eb2-8006-b9429297a3ff/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"34155348-e2bc-4eb2-8006-b9429297a3ff"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/34155348-e2bc-4eb2-8006-b9429297a3ff/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"53131516","attempt":1,"shardIndex":-1}]},"id":"34155348-e2bc-4eb2-8006-b9429297a3ff"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/34155348-e2bc-4eb2-8006-b9429297a3ff/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"53131516","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"53131535","attempt":1,"shardIndex":-1}]},"id":"34155348-e2bc-4eb2-8006-b9429297a3ff"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/34155348-e2bc-4eb2-8006-b9429297a3ff/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"53131516","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"53131535","attempt":1,"shardIndex":-1}]},"id":"34155348-e2bc-4eb2-8006-b9429297a3ff"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
