interactions:
- request:
    body: "--9831e349bcab7f6a14a691131b5574ae\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--9831e349bcab7f6a14a691131b5574ae\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9831e349bcab7f6a14a691131b5574ae--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9831e349bcab7f6a14a691131b5574ae
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"2251baa9-8c17-4c7e-8426-684dcf42e764","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/2251baa9-8c17-4c7e-8426-684dcf42e764/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2251baa9-8c17-4c7e-8426-684dcf42e764"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/2251baa9-8c17-4c7e-8426-684dcf42e764/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globSubdir.create_nested_files":[{"jobId":"54310180","attempt":1,"shardIndex":-1}]},"id":"2251baa9-8c17-4c7e-8426-684dcf42e764"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/2251baa9-8c17-4c7e-8426-684dcf42e764/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"54310180","attempt":1,"shardIndex":-1}]},"id":"2251baa9-8c17-4c7e-8426-684dcf42e764"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
