interactions:
- request:
    body: "--3bdd6810f8a5a867b67c3f883b34d268\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/d12ef887-bb72-4a9a-bde2-e7e4d03d4ff1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d12ef887-bb72-4a9a-bde2-e7e4d03d4ff1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/d12ef887-bb72-4a9a-bde2-e7e4d03d4ff1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"43905758","attempt":1,"shardIndex":0},{"jobId":"43905757","attempt":1,"shardIndex":1}]},"id":"d12ef887-bb72-4a9a-bde2-e7e4d03d4ff1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/d12ef887-bb72-4a9a-bde2-e7e4d03d4ff1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"43905758","attempt":1,"shardIndex":0},{"jobId":"43905757","attempt":1,"shardIndex":1}]},"id":"d12ef887-bb72-4a9a-bde2-e7e4d03d4ff1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
