interactions:
- request:
    body: "--b1cda8650a56d99f4fb42738c552bf3b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/8436eba3-73f6-4344-b55a-59e157c8f2f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"8436eba3-73f6-4344-b55a-59e157c8f2f2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/8436eba3-73f6-4344-b55a-59e157c8f2f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"55899627","attempt":1,"shardIndex":0},{"jobId":"55899628","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"55899629","attempt":1,"shardIndex":-1}]},"id":"8436eba3-73f6-4344-b55a-59e157c8f2f2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/8436eba3-73f6-4344-b55a-59e157c8f2f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"55899704","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"55899627","attempt":1,"shardIndex":0},{"jobId":"55899628","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"55899629","attempt":1,"shardIndex":-1}]},"id":"8436eba3-73f6-4344-b55a-59e157c8f2f2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/8436eba3-73f6-4344-b55a-59e157c8f2f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"55899704","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"55899627","attempt":1,"shardIndex":0},{"jobId":"55899628","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"55899629","attempt":1,"shardIndex":-1}]},"id":"8436eba3-73f6-4344-b55a-59e157c8f2f2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
