interactions:
- request:
    body: "--fbf2f31e86dc8a4c97b53d71ae732802\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--fbf2f31e86dc8a4c97b53d71ae732802\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--fbf2f31e86dc8a4c97b53d71ae732802--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=fbf2f31e86dc8a4c97b53d71ae732802
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"1a54ab2f-ca14-4b2c-a5d8-5c2d2104ff5c","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/1a54ab2f-ca14-4b2c-a5d8-5c2d2104ff5c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"1a54ab2f-ca14-4b2c-a5d8-5c2d2104ff5c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/1a54ab2f-ca14-4b2c-a5d8-5c2d2104ff5c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"3542804","attempt":1,"shardIndex":-1}]},"id":"1a54ab2f-ca14-4b2c-a5d8-5c2d2104ff5c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/1a54ab2f-ca14-4b2c-a5d8-5c2d2104ff5c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"3542804","attempt":1,"shardIndex":-1}]},"id":"1a54ab2f-ca14-4b2c-a5d8-5c2d2104ff5c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
