interactions:
- request:
    body: "--670016390ccc695441a1091743e6bc3d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/a6b21217-cd27-429a-8005-f7e4aa0ab597/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a6b21217-cd27-429a-8005-f7e4aa0ab597"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/a6b21217-cd27-429a-8005-f7e4aa0ab597/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"26629052","attempt":1,"shardIndex":0},{"jobId":"26629051","attempt":1,"shardIndex":1}]},"id":"a6b21217-cd27-429a-8005-f7e4aa0ab597"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/a6b21217-cd27-429a-8005-f7e4aa0ab597/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"26629052","attempt":1,"shardIndex":0},{"jobId":"26629051","attempt":1,"shardIndex":1}]},"id":"a6b21217-cd27-429a-8005-f7e4aa0ab597"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
