interactions:
- request:
    body: "--3146500c6fbabbf7c16786669e8f1f6e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/5a6b8b8c-c82b-4563-a225-a689c0f8d609/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5a6b8b8c-c82b-4563-a225-a689c0f8d609"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/5a6b8b8c-c82b-4563-a225-a689c0f8d609/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"25767194","attempt":1,"shardIndex":0},{"jobId":"25767192","attempt":1,"shardIndex":1}]},"id":"5a6b8b8c-c82b-4563-a225-a689c0f8d609"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/5a6b8b8c-c82b-4563-a225-a689c0f8d609/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"25767194","attempt":1,"shardIndex":0},{"jobId":"25767192","attempt":1,"shardIndex":1}]},"id":"5a6b8b8c-c82b-4563-a225-a689c0f8d609"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
