interactions:
- request:
    body: "--733b5093a1fa662bd1f657e6d709e6ca\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testRemoteFileLocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testRemoteFileLocalization {\n    input {\n        String string\n
      \       Int integer\n        Float float\n        Boolean boolean\n        File
      remote_file\n    }\n\n    # Task 1: Test input localization and processing\n
      \   call testInputLocalization {[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/60b1a15f-e89e-4579-8f2d-9d57ee3fedc0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"60b1a15f-e89e-4579-8f2d-9d57ee3fedc0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/60b1a15f-e89e-4579-8f2d-9d57ee3fedc0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testRemoteFileLocalization.testInputLocalization":[{"jobId":"23131583","attempt":1,"shardIndex":-1}]},"id":"60b1a15f-e89e-4579-8f2d-9d57ee3fedc0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/60b1a15f-e89e-4579-8f2d-9d57ee3fedc0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testRemoteFileLocalization.testInputLocalization":[{"jobId":"23131583","attempt":1,"shardIndex":-1}],"testRemoteFileLocalization.testOutputUsage":[{"jobId":"23131588","attempt":1,"shardIndex":-1}]},"id":"60b1a15f-e89e-4579-8f2d-9d57ee3fedc0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
