interactions:
- request:
    body: "--918ee60a09b09a9e751084ffd40dfc9a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--918ee60a09b09a9e751084ffd40dfc9a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--918ee60a09b09a9e751084ffd40dfc9a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=918ee60a09b09a9e751084ffd40dfc9a
    method: POST
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1
  response:
    body:
      string: '{"id":"c6fbcc39-48ca-4b91-b07a-4a2b9bbefc12","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/c6fbcc39-48ca-4b91-b07a-4a2b9bbefc12/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c6fbcc39-48ca-4b91-b07a-4a2b9bbefc12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/c6fbcc39-48ca-4b91-b07a-4a2b9bbefc12/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"20758850","attempt":1,"shardIndex":-1}]},"id":"c6fbcc39-48ca-4b91-b07a-4a2b9bbefc12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/c6fbcc39-48ca-4b91-b07a-4a2b9bbefc12/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"20758850","attempt":1,"shardIndex":-1}]},"id":"c6fbcc39-48ca-4b91-b07a-4a2b9bbefc12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
