interactions:
- request:
    body: "--16f6664fc8867c88e6b8bbc4c909aabb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/a57f6a9d-a7cb-4238-a7ee-14d8e65abc71/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a57f6a9d-a7cb-4238-a7ee-14d8e65abc71"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/a57f6a9d-a7cb-4238-a7ee-14d8e65abc71/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"52866202","attempt":1,"shardIndex":-1}]},"id":"a57f6a9d-a7cb-4238-a7ee-14d8e65abc71"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/a57f6a9d-a7cb-4238-a7ee-14d8e65abc71/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"52866202","attempt":1,"shardIndex":-1}]},"id":"a57f6a9d-a7cb-4238-a7ee-14d8e65abc71"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
