interactions:
- request:
    body: "--f58fd8727cf8e8a35af9beb144f064bc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/a08e9179-5d41-420f-9d8b-a8abb9f01bde/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a08e9179-5d41-420f-9d8b-a8abb9f01bde"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/a08e9179-5d41-420f-9d8b-a8abb9f01bde/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"41177673","attempt":1,"shardIndex":0},{"jobId":"41177671","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41177672","attempt":1,"shardIndex":-1}]},"id":"a08e9179-5d41-420f-9d8b-a8abb9f01bde"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/a08e9179-5d41-420f-9d8b-a8abb9f01bde/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"41177705","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"41177673","attempt":1,"shardIndex":0},{"jobId":"41177671","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41177672","attempt":1,"shardIndex":-1}]},"id":"a08e9179-5d41-420f-9d8b-a8abb9f01bde"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/a08e9179-5d41-420f-9d8b-a8abb9f01bde/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"41177705","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"41177673","attempt":1,"shardIndex":0},{"jobId":"41177671","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41177672","attempt":1,"shardIndex":-1}]},"id":"a08e9179-5d41-420f-9d8b-a8abb9f01bde"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
