interactions:
- request:
    body: "--45937db3f73acff239c1298b7c3c7ee9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/5b34687b-0200-41d3-8517-c882a6c3d807/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5b34687b-0200-41d3-8517-c882a6c3d807"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/5b34687b-0200-41d3-8517-c882a6c3d807/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"52866192","attempt":1,"shardIndex":-1}]},"id":"5b34687b-0200-41d3-8517-c882a6c3d807"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/5b34687b-0200-41d3-8517-c882a6c3d807/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"52866192","attempt":1,"shardIndex":-1}]},"id":"5b34687b-0200-41d3-8517-c882a6c3d807"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
