interactions:
- request:
    body: "--3235dfbb5283f283f96c331f7609137c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--3235dfbb5283f283f96c331f7609137c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3235dfbb5283f283f96c331f7609137c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=3235dfbb5283f283f96c331f7609137c
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"edc0b13a-8074-4493-8d06-9f0bd19a9b16","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/edc0b13a-8074-4493-8d06-9f0bd19a9b16/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"edc0b13a-8074-4493-8d06-9f0bd19a9b16"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/edc0b13a-8074-4493-8d06-9f0bd19a9b16/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"51043288","attempt":1,"shardIndex":-1}]},"id":"edc0b13a-8074-4493-8d06-9f0bd19a9b16"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/edc0b13a-8074-4493-8d06-9f0bd19a9b16/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"51043288","attempt":1,"shardIndex":-1}]},"id":"edc0b13a-8074-4493-8d06-9f0bd19a9b16"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
