interactions:
- request:
    body: "--56ebb519494fb81b1cffaaef4bcb6c74\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--56ebb519494fb81b1cffaaef4bcb6c74\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--56ebb519494fb81b1cffaaef4bcb6c74--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=56ebb519494fb81b1cffaaef4bcb6c74
    method: POST
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1
  response:
    body:
      string: '{"id":"49dcb520-a69f-482d-9910-c0978687abb4","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/49dcb520-a69f-482d-9910-c0978687abb4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"49dcb520-a69f-482d-9910-c0978687abb4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/49dcb520-a69f-482d-9910-c0978687abb4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"39941893","attempt":1,"shardIndex":-1}]},"id":"49dcb520-a69f-482d-9910-c0978687abb4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/49dcb520-a69f-482d-9910-c0978687abb4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"39941893","attempt":1,"shardIndex":-1}]},"id":"49dcb520-a69f-482d-9910-c0978687abb4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
