interactions:
- request:
    body: "--a7ad6b6fdc4bcd5d5252f38d87cd0ac7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/5b920685-dc20-4d13-b63c-eb544be50184/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5b920685-dc20-4d13-b63c-eb544be50184"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/5b920685-dc20-4d13-b63c-eb544be50184/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"18672639","attempt":1,"shardIndex":-1}]},"id":"5b920685-dc20-4d13-b63c-eb544be50184"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/5b920685-dc20-4d13-b63c-eb544be50184/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"18672639","attempt":1,"shardIndex":-1}]},"id":"5b920685-dc20-4d13-b63c-eb544be50184"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
