interactions:
- request:
    body: "--605b83846482b3eddd12ddf69e06b81e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/79505dbe-21c1-43c7-91b5-29b803ab33b0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"79505dbe-21c1-43c7-91b5-29b803ab33b0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/79505dbe-21c1-43c7-91b5-29b803ab33b0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"26221318","attempt":1,"shardIndex":0},{"jobId":"26221319","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"26221317","attempt":1,"shardIndex":-1}]},"id":"79505dbe-21c1-43c7-91b5-29b803ab33b0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/79505dbe-21c1-43c7-91b5-29b803ab33b0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"26221329","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"26221318","attempt":1,"shardIndex":0},{"jobId":"26221319","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"26221317","attempt":1,"shardIndex":-1}]},"id":"79505dbe-21c1-43c7-91b5-29b803ab33b0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/79505dbe-21c1-43c7-91b5-29b803ab33b0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"26221329","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"26221318","attempt":1,"shardIndex":0},{"jobId":"26221319","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"26221317","attempt":1,"shardIndex":-1}]},"id":"79505dbe-21c1-43c7-91b5-29b803ab33b0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
