interactions:
- request:
    body: "--f21f0b497530f4d3b7c7e3a330720c87\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/bc15a152-d7fc-468b-9bf2-e76809c06aaf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"bc15a152-d7fc-468b-9bf2-e76809c06aaf"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/bc15a152-d7fc-468b-9bf2-e76809c06aaf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"64209465","attempt":1,"shardIndex":-1}]},"id":"bc15a152-d7fc-468b-9bf2-e76809c06aaf"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/bc15a152-d7fc-468b-9bf2-e76809c06aaf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"64209465","attempt":1,"shardIndex":-1}]},"id":"bc15a152-d7fc-468b-9bf2-e76809c06aaf"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
