interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/5c85fd0b-ff25-4bfa-b147-f1de54ba2492/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"16289706","attempt":1,"shardIndex":-1}]},"id":"5c85fd0b-ff25-4bfa-b147-f1de54ba2492"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/ade93086-fb5b-4dac-89db-092d92b18cea/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"16289919","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"16289920","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"16289918","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"16289923","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"16289922","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"16289916","attempt":1,"shardIndex":0},{"jobId":"16289921","attempt":1,"shardIndex":1},{"jobId":"16289917","attempt":1,"shardIndex":2}]},"id":"ade93086-fb5b-4dac-89db-092d92b18cea"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/a2a610d9-79f3-44f6-bd72-3d25c4f297b1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"16289908","attempt":1,"shardIndex":-1}]},"id":"a2a610d9-79f3-44f6-bd72-3d25c4f297b1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/d0885c39-acb8-4454-b00d-8519c26b0545/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"16289928","attempt":1,"shardIndex":-1}]},"id":"d0885c39-acb8-4454-b00d-8519c26b0545"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/9a11358f-b962-4b9f-ad26-de86f5d4ddf2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"16289930","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"16289852","attempt":1,"shardIndex":0},{"jobId":"16289849","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"16289850","attempt":1,"shardIndex":-1}]},"id":"9a11358f-b962-4b9f-ad26-de86f5d4ddf2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/e9db79e5-6bb5-4905-8d2a-c694de191796/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"16289932","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"16289969","attempt":1,"shardIndex":-1}]},"id":"e9db79e5-6bb5-4905-8d2a-c694de191796"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/5284f74a-e23c-4cf7-9654-3c6b906bbff9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"16289653","attempt":1,"shardIndex":-1}]},"id":"5284f74a-e23c-4cf7-9654-3c6b906bbff9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/7d6b5278-969c-4aec-ac8c-90a6978c180d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"16289804","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"16289936","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"16289973","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"16290033","attempt":1,"shardIndex":-1}]},"id":"7d6b5278-969c-4aec-ac8c-90a6978c180d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/37bf58d3-2871-40e2-a0fe-56d7017c4d8e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"16289654","attempt":1,"shardIndex":-1}]},"id":"37bf58d3-2871-40e2-a0fe-56d7017c4d8e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/f846e837-1851-4f46-9318-32d4546c3748/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"16289970","attempt":1,"shardIndex":0},{"jobId":"16289971","attempt":1,"shardIndex":1}]},"id":"f846e837-1851-4f46-9318-32d4546c3748"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/8a88a0ef-0491-4b66-bb26-46fc04c2898d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"16289831","attempt":1,"shardIndex":-1}]},"id":"8a88a0ef-0491-4b66-bb26-46fc04c2898d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/09a46630-471f-4c81-bfc4-4bd8eaaa3b50/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"16289978","attempt":1,"shardIndex":0},{"jobId":"16289979","attempt":1,"shardIndex":1},{"jobId":"16289976","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"16289977","attempt":1,"shardIndex":0},{"jobId":"16289980","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"16290035","attempt":1,"shardIndex":-1}]},"id":"09a46630-471f-4c81-bfc4-4bd8eaaa3b50"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/27ca6ee0-b6d9-482d-8f29-48772da3463a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"16290030","attempt":1,"shardIndex":0},{"jobId":"16290032","attempt":1,"shardIndex":1},{"jobId":"16290031","attempt":1,"shardIndex":2}]},"id":"27ca6ee0-b6d9-482d-8f29-48772da3463a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/211b7215-eed0-443b-8409-f7a0c50c1da0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"16289992","attempt":1,"shardIndex":-1}]},"id":"211b7215-eed0-443b-8409-f7a0c50c1da0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
