interactions:
- request:
    body: "--66313253c92e61c5a9b88ab4baf0eac3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/8cd88572-4bf1-489d-9974-9371cef6f0b2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"8cd88572-4bf1-489d-9974-9371cef6f0b2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/8cd88572-4bf1-489d-9974-9371cef6f0b2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"53131644","attempt":1,"shardIndex":0},{"jobId":"53131643","attempt":1,"shardIndex":1}]},"id":"8cd88572-4bf1-489d-9974-9371cef6f0b2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/8cd88572-4bf1-489d-9974-9371cef6f0b2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"53131644","attempt":1,"shardIndex":0},{"jobId":"53131643","attempt":1,"shardIndex":1}]},"id":"8cd88572-4bf1-489d-9974-9371cef6f0b2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
