interactions:
- request:
    body: "--f55b8ab3075b21bad8f9fe8260ee9cf6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/24d3f800-3fa9-4f73-87bd-3820d5f8529b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"24d3f800-3fa9-4f73-87bd-3820d5f8529b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/24d3f800-3fa9-4f73-87bd-3820d5f8529b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"28688856","attempt":1,"shardIndex":0},{"jobId":"28688855","attempt":1,"shardIndex":1},{"jobId":"28688853","attempt":1,"shardIndex":2}]},"id":"24d3f800-3fa9-4f73-87bd-3820d5f8529b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/24d3f800-3fa9-4f73-87bd-3820d5f8529b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"28688856","attempt":1,"shardIndex":0},{"jobId":"28688855","attempt":1,"shardIndex":1},{"jobId":"28688853","attempt":1,"shardIndex":2}]},"id":"24d3f800-3fa9-4f73-87bd-3820d5f8529b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
