interactions:
- request:
    body: "--987de79a26f557ce4c60175eff5e966d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--987de79a26f557ce4c60175eff5e966d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--987de79a26f557ce4c60175eff5e966d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=987de79a26f557ce4c60175eff5e966d
    method: POST
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1
  response:
    body:
      string: '{"id":"cc0051dd-e5b5-4570-a538-00b74aa21f2a","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/cc0051dd-e5b5-4570-a538-00b74aa21f2a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"cc0051dd-e5b5-4570-a538-00b74aa21f2a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/cc0051dd-e5b5-4570-a538-00b74aa21f2a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"47888957","attempt":1,"shardIndex":-1}]},"id":"cc0051dd-e5b5-4570-a538-00b74aa21f2a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/cc0051dd-e5b5-4570-a538-00b74aa21f2a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"47888957","attempt":1,"shardIndex":-1}]},"id":"cc0051dd-e5b5-4570-a538-00b74aa21f2a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
