interactions:
- request:
    body: "--43d7e5e209aaa7897e52231a639b4c18\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/0dbd31d9-d686-4ad8-ba1f-2d074770df59/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 0dbd31d9-d686-4ad8-ba1f-2d074770df59\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/0dbd31d9-d686-4ad8-ba1f-2d074770df59/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"0dbd31d9-d686-4ad8-ba1f-2d074770df59"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
