interactions:
- request:
    body: "--70ea5dd0619dd16f807fb1ada36b64dd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--70ea5dd0619dd16f807fb1ada36b64dd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--70ea5dd0619dd16f807fb1ada36b64dd--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=70ea5dd0619dd16f807fb1ada36b64dd
    method: POST
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1
  response:
    body:
      string: '{"id":"44e1d335-a269-4b16-b30e-fc181e7157ff","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44e1d335-a269-4b16-b30e-fc181e7157ff/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"44e1d335-a269-4b16-b30e-fc181e7157ff"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44e1d335-a269-4b16-b30e-fc181e7157ff/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"18672573","attempt":1,"shardIndex":-1}]},"id":"44e1d335-a269-4b16-b30e-fc181e7157ff"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44e1d335-a269-4b16-b30e-fc181e7157ff/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"18672573","attempt":1,"shardIndex":-1}]},"id":"44e1d335-a269-4b16-b30e-fc181e7157ff"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
