interactions:
- request:
    body: "--6c7910aa58f9542b194bfe31eab7c9e1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/e80d55c7-24e0-402c-9331-0ac1cb956a83/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e80d55c7-24e0-402c-9331-0ac1cb956a83"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/e80d55c7-24e0-402c-9331-0ac1cb956a83/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"40375564","attempt":1,"shardIndex":-1}]},"id":"e80d55c7-24e0-402c-9331-0ac1cb956a83"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/e80d55c7-24e0-402c-9331-0ac1cb956a83/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"40375564","attempt":1,"shardIndex":-1}]},"id":"e80d55c7-24e0-402c-9331-0ac1cb956a83"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
