interactions:
- request:
    body: "--6cf20fda73c979bbf3585cc48650de0d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/9a91dacb-ce9a-4d46-a930-69a06ae2fa51/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9a91dacb-ce9a-4d46-a930-69a06ae2fa51"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/9a91dacb-ce9a-4d46-a930-69a06ae2fa51/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"23973088","attempt":1,"shardIndex":0},{"jobId":"23973087","attempt":1,"shardIndex":1}]},"id":"9a91dacb-ce9a-4d46-a930-69a06ae2fa51"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/9a91dacb-ce9a-4d46-a930-69a06ae2fa51/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"23973088","attempt":1,"shardIndex":0},{"jobId":"23973087","attempt":1,"shardIndex":1}]},"id":"9a91dacb-ce9a-4d46-a930-69a06ae2fa51"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
