interactions:
- request:
    body: "--4abff39bfcf2e892060d7ea8550ecd8f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--4abff39bfcf2e892060d7ea8550ecd8f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4abff39bfcf2e892060d7ea8550ecd8f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4abff39bfcf2e892060d7ea8550ecd8f
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"10e981cb-366a-4ddc-9cdf-431e6427e246","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/10e981cb-366a-4ddc-9cdf-431e6427e246/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"10e981cb-366a-4ddc-9cdf-431e6427e246"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/10e981cb-366a-4ddc-9cdf-431e6427e246/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"8627705","attempt":1,"shardIndex":-1}]},"id":"10e981cb-366a-4ddc-9cdf-431e6427e246"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/10e981cb-366a-4ddc-9cdf-431e6427e246/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"8627705","attempt":1,"shardIndex":-1}]},"id":"10e981cb-366a-4ddc-9cdf-431e6427e246"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
