interactions:
- request:
    body: "--8ae92f9c0ba01871221c549f04c80e55\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--8ae92f9c0ba01871221c549f04c80e55\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8ae92f9c0ba01871221c549f04c80e55--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=8ae92f9c0ba01871221c549f04c80e55
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"f49f64ad-45f2-442c-b5a6-7d2438b9ff10","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/f49f64ad-45f2-442c-b5a6-7d2438b9ff10/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f49f64ad-45f2-442c-b5a6-7d2438b9ff10"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/f49f64ad-45f2-442c-b5a6-7d2438b9ff10/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"10023379","attempt":1,"shardIndex":-1}]},"id":"f49f64ad-45f2-442c-b5a6-7d2438b9ff10"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/f49f64ad-45f2-442c-b5a6-7d2438b9ff10/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"10023379","attempt":1,"shardIndex":-1}]},"id":"f49f64ad-45f2-442c-b5a6-7d2438b9ff10"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
