interactions:
- request:
    body: "--76b5a35c8aad2b28de1a2c85ce0abb1c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--76b5a35c8aad2b28de1a2c85ce0abb1c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--76b5a35c8aad2b28de1a2c85ce0abb1c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=76b5a35c8aad2b28de1a2c85ce0abb1c
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"7dac3f84-3d05-4719-9918-20c6e5e4720b","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7dac3f84-3d05-4719-9918-20c6e5e4720b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7dac3f84-3d05-4719-9918-20c6e5e4720b"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7dac3f84-3d05-4719-9918-20c6e5e4720b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"57494706","attempt":1,"shardIndex":-1}]},"id":"7dac3f84-3d05-4719-9918-20c6e5e4720b"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7dac3f84-3d05-4719-9918-20c6e5e4720b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"57494706","attempt":1,"shardIndex":-1}]},"id":"7dac3f84-3d05-4719-9918-20c6e5e4720b"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
