interactions:
- request:
    body: "--9933bbc184324624a0a105f4e43ce6e5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/782e1f83-939b-48d8-9922-99bdf1b421a9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"782e1f83-939b-48d8-9922-99bdf1b421a9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/782e1f83-939b-48d8-9922-99bdf1b421a9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"41577489","attempt":1,"shardIndex":0},{"jobId":"41577488","attempt":1,"shardIndex":1},{"jobId":"41577487","attempt":1,"shardIndex":2}]},"id":"782e1f83-939b-48d8-9922-99bdf1b421a9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/782e1f83-939b-48d8-9922-99bdf1b421a9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"41577489","attempt":1,"shardIndex":0},{"jobId":"41577488","attempt":1,"shardIndex":1},{"jobId":"41577487","attempt":1,"shardIndex":2}]},"id":"782e1f83-939b-48d8-9922-99bdf1b421a9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
