interactions:
- request:
    body: "--4b5ddeaed44d1a08e9672e9ed6ca16eb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--4b5ddeaed44d1a08e9672e9ed6ca16eb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4b5ddeaed44d1a08e9672e9ed6ca16eb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=4b5ddeaed44d1a08e9672e9ed6ca16eb
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"0ff5e9ce-0260-49b7-9194-d03741352f0f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/0ff5e9ce-0260-49b7-9194-d03741352f0f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 0ff5e9ce-0260-49b7-9194-d03741352f0f\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/0ff5e9ce-0260-49b7-9194-d03741352f0f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"0ff5e9ce-0260-49b7-9194-d03741352f0f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
