interactions:
- request:
    body: "--89f364e5410c1d1d634996518ec3b764\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/164fef5d-0e85-4d53-8f78-06d59086dc67/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"164fef5d-0e85-4d53-8f78-06d59086dc67"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/164fef5d-0e85-4d53-8f78-06d59086dc67/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"52622139","attempt":1,"shardIndex":0},{"jobId":"52622138","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52622440","attempt":1,"shardIndex":-1}]},"id":"164fef5d-0e85-4d53-8f78-06d59086dc67"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/164fef5d-0e85-4d53-8f78-06d59086dc67/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"52622444","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"52622139","attempt":1,"shardIndex":0},{"jobId":"52622138","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52622440","attempt":1,"shardIndex":-1}]},"id":"164fef5d-0e85-4d53-8f78-06d59086dc67"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/164fef5d-0e85-4d53-8f78-06d59086dc67/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"52622444","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"52622139","attempt":1,"shardIndex":0},{"jobId":"52622138","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52622440","attempt":1,"shardIndex":-1}]},"id":"164fef5d-0e85-4d53-8f78-06d59086dc67"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
