interactions:
- request:
    body: "--63f50b4068ac99a35f06df7d3a2752d4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/2be94481-c82c-4ad7-8381-4f14f7b9c4ad/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2be94481-c82c-4ad7-8381-4f14f7b9c4ad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/2be94481-c82c-4ad7-8381-4f14f7b9c4ad/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"18672589","attempt":1,"shardIndex":-1}]},"id":"2be94481-c82c-4ad7-8381-4f14f7b9c4ad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/2be94481-c82c-4ad7-8381-4f14f7b9c4ad/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"18672589","attempt":1,"shardIndex":-1}]},"id":"2be94481-c82c-4ad7-8381-4f14f7b9c4ad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
