interactions:
- request:
    body: "--b021bd377974b9e9159dde3f8e5149b6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/e7e4340f-d1e1-4418-9470-6b4c986d4c8c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e7e4340f-d1e1-4418-9470-6b4c986d4c8c\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/e7e4340f-d1e1-4418-9470-6b4c986d4c8c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e7e4340f-d1e1-4418-9470-6b4c986d4c8c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
