interactions:
- request:
    body: "--49422535dfe55a58e87d72421fd3c641\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/a84b093f-c492-4bdf-acfd-1033bbfea900/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a84b093f-c492-4bdf-acfd-1033bbfea900"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/a84b093f-c492-4bdf-acfd-1033bbfea900/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"29236987","attempt":1,"shardIndex":0},{"jobId":"29236985","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"29236986","attempt":1,"shardIndex":-1}]},"id":"a84b093f-c492-4bdf-acfd-1033bbfea900"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/a84b093f-c492-4bdf-acfd-1033bbfea900/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"29236995","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"29236987","attempt":1,"shardIndex":0},{"jobId":"29236985","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"29236986","attempt":1,"shardIndex":-1}]},"id":"a84b093f-c492-4bdf-acfd-1033bbfea900"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/a84b093f-c492-4bdf-acfd-1033bbfea900/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"29236995","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"29236987","attempt":1,"shardIndex":0},{"jobId":"29236985","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"29236986","attempt":1,"shardIndex":-1}]},"id":"a84b093f-c492-4bdf-acfd-1033bbfea900"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
