interactions:
- request:
    body: "--8bb24b272645bd95283b31992092ec1b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/7375f4f3-c529-407c-8c0b-434dcf8c5ecb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7375f4f3-c529-407c-8c0b-434dcf8c5ecb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/7375f4f3-c529-407c-8c0b-434dcf8c5ecb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"26628252","attempt":1,"shardIndex":0},{"jobId":"26628253","attempt":1,"shardIndex":1},{"jobId":"26628251","attempt":1,"shardIndex":2}]},"id":"7375f4f3-c529-407c-8c0b-434dcf8c5ecb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/7375f4f3-c529-407c-8c0b-434dcf8c5ecb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"26628252","attempt":1,"shardIndex":0},{"jobId":"26628253","attempt":1,"shardIndex":1},{"jobId":"26628251","attempt":1,"shardIndex":2}]},"id":"7375f4f3-c529-407c-8c0b-434dcf8c5ecb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
