interactions:
- request:
    body: "--8781924c046d5ae427e1c7cecbaf6fb4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/50b09c05-cca4-4faa-9512-6c6ff21ea239/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"50b09c05-cca4-4faa-9512-6c6ff21ea239"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/50b09c05-cca4-4faa-9512-6c6ff21ea239/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"20758909","attempt":1,"shardIndex":-1}]},"id":"50b09c05-cca4-4faa-9512-6c6ff21ea239"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/50b09c05-cca4-4faa-9512-6c6ff21ea239/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"20758909","attempt":1,"shardIndex":-1}]},"id":"50b09c05-cca4-4faa-9512-6c6ff21ea239"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
