interactions:
- request:
    body: "--5600286556880a789269c4e5dd5f7f27\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/f2b519de-4730-4bb1-9663-08bafc352b4f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f2b519de-4730-4bb1-9663-08bafc352b4f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/f2b519de-4730-4bb1-9663-08bafc352b4f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"25768582","attempt":1,"shardIndex":0},{"jobId":"25768581","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25768583","attempt":1,"shardIndex":-1}]},"id":"f2b519de-4730-4bb1-9663-08bafc352b4f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/f2b519de-4730-4bb1-9663-08bafc352b4f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"25768589","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"25768582","attempt":1,"shardIndex":0},{"jobId":"25768581","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25768583","attempt":1,"shardIndex":-1}]},"id":"f2b519de-4730-4bb1-9663-08bafc352b4f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/f2b519de-4730-4bb1-9663-08bafc352b4f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"25768589","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"25768582","attempt":1,"shardIndex":0},{"jobId":"25768581","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25768583","attempt":1,"shardIndex":-1}]},"id":"f2b519de-4730-4bb1-9663-08bafc352b4f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
