interactions:
- request:
    body: "--30b5e016ac9b89ba0ce9ca3ea6fc0ae6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/f3d87386-f9a4-4e09-b364-8e2a76eea744/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f3d87386-f9a4-4e09-b364-8e2a76eea744"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/f3d87386-f9a4-4e09-b364-8e2a76eea744/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"21788433","attempt":1,"shardIndex":-1}]},"id":"f3d87386-f9a4-4e09-b364-8e2a76eea744"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/f3d87386-f9a4-4e09-b364-8e2a76eea744/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"21788433","attempt":1,"shardIndex":-1}]},"id":"f3d87386-f9a4-4e09-b364-8e2a76eea744"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
