interactions:
- request:
    body: "--0d9de15397e1004c18140f47ea89414c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/74cd3179-0724-4f6f-8ce4-f89e75329562/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"74cd3179-0724-4f6f-8ce4-f89e75329562"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/74cd3179-0724-4f6f-8ce4-f89e75329562/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"22670136","attempt":1,"shardIndex":0},{"jobId":"22670135","attempt":1,"shardIndex":1},{"jobId":"22670137","attempt":1,"shardIndex":2}]},"id":"74cd3179-0724-4f6f-8ce4-f89e75329562"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/74cd3179-0724-4f6f-8ce4-f89e75329562/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"22670136","attempt":1,"shardIndex":0},{"jobId":"22670135","attempt":1,"shardIndex":1},{"jobId":"22670137","attempt":1,"shardIndex":2}]},"id":"74cd3179-0724-4f6f-8ce4-f89e75329562"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
