interactions:
- request:
    body: "--e970d034f5a6f4f6b97ca0e7324e4197\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--e970d034f5a6f4f6b97ca0e7324e4197\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e970d034f5a6f4f6b97ca0e7324e4197--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e970d034f5a6f4f6b97ca0e7324e4197
    method: POST
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1
  response:
    body:
      string: '{"id":"445cc431-d970-4665-adb6-734c2dc26445","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/445cc431-d970-4665-adb6-734c2dc26445/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"445cc431-d970-4665-adb6-734c2dc26445"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/445cc431-d970-4665-adb6-734c2dc26445/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"52622478","attempt":1,"shardIndex":-1}]},"id":"445cc431-d970-4665-adb6-734c2dc26445"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/445cc431-d970-4665-adb6-734c2dc26445/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"52622478","attempt":1,"shardIndex":-1}]},"id":"445cc431-d970-4665-adb6-734c2dc26445"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
