interactions:
- request:
    body: "--77b21891ef9a25d08b355264ecf7cc78\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/4e46ab65-0210-423b-bb4e-17d9aebd9d80/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4e46ab65-0210-423b-bb4e-17d9aebd9d80"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/4e46ab65-0210-423b-bb4e-17d9aebd9d80/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"52866203","attempt":1,"shardIndex":0},{"jobId":"52866204","attempt":1,"shardIndex":1}]},"id":"4e46ab65-0210-423b-bb4e-17d9aebd9d80"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/4e46ab65-0210-423b-bb4e-17d9aebd9d80/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"52866203","attempt":1,"shardIndex":0},{"jobId":"52866204","attempt":1,"shardIndex":1}]},"id":"4e46ab65-0210-423b-bb4e-17d9aebd9d80"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
