interactions:
- request:
    body: "--4b688ba411e3a78b8f96240d6154d042\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fc509941-1914-4325-aa0f-1b4815148c91/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fc509941-1914-4325-aa0f-1b4815148c91"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fc509941-1914-4325-aa0f-1b4815148c91/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"64209314","attempt":1,"shardIndex":0},{"jobId":"64209313","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"64209312","attempt":1,"shardIndex":-1}]},"id":"fc509941-1914-4325-aa0f-1b4815148c91"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fc509941-1914-4325-aa0f-1b4815148c91/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"64209340","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"64209314","attempt":1,"shardIndex":0},{"jobId":"64209313","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"64209312","attempt":1,"shardIndex":-1}]},"id":"fc509941-1914-4325-aa0f-1b4815148c91"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fc509941-1914-4325-aa0f-1b4815148c91/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"64209340","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"64209314","attempt":1,"shardIndex":0},{"jobId":"64209313","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"64209312","attempt":1,"shardIndex":-1}]},"id":"fc509941-1914-4325-aa0f-1b4815148c91"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
