interactions:
- request:
    body: "--32817fcdb355b6fe6a2e65776fbc4748\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--32817fcdb355b6fe6a2e65776fbc4748\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--32817fcdb355b6fe6a2e65776fbc4748--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=32817fcdb355b6fe6a2e65776fbc4748
    method: POST
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1
  response:
    body:
      string: '{"id":"6665a888-fe9b-472b-94fd-d448e08d846f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/6665a888-fe9b-472b-94fd-d448e08d846f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 6665a888-fe9b-472b-94fd-d448e08d846f\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/6665a888-fe9b-472b-94fd-d448e08d846f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6665a888-fe9b-472b-94fd-d448e08d846f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
