interactions:
- request:
    body: "--7ad1d15e273c45c14b3abd277959e4f0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/2b854fba-1fab-4add-a2e8-47139d7062cb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2b854fba-1fab-4add-a2e8-47139d7062cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/2b854fba-1fab-4add-a2e8-47139d7062cb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"46404096","attempt":1,"shardIndex":0},{"jobId":"46404097","attempt":1,"shardIndex":1},{"jobId":"46404095","attempt":1,"shardIndex":2}]},"id":"2b854fba-1fab-4add-a2e8-47139d7062cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/2b854fba-1fab-4add-a2e8-47139d7062cb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"46404096","attempt":1,"shardIndex":0},{"jobId":"46404097","attempt":1,"shardIndex":1},{"jobId":"46404095","attempt":1,"shardIndex":2}]},"id":"2b854fba-1fab-4add-a2e8-47139d7062cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
