interactions:
- request:
    body: "--602d73eb2d68c57a96c6104272d17ced\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/fa9a35a2-8a9d-4f8a-bc2c-60c0d984902f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fa9a35a2-8a9d-4f8a-bc2c-60c0d984902f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/fa9a35a2-8a9d-4f8a-bc2c-60c0d984902f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"41577717","attempt":1,"shardIndex":0},{"jobId":"41577715","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41577716","attempt":1,"shardIndex":-1}]},"id":"fa9a35a2-8a9d-4f8a-bc2c-60c0d984902f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/fa9a35a2-8a9d-4f8a-bc2c-60c0d984902f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"41577725","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"41577717","attempt":1,"shardIndex":0},{"jobId":"41577715","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41577716","attempt":1,"shardIndex":-1}]},"id":"fa9a35a2-8a9d-4f8a-bc2c-60c0d984902f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/fa9a35a2-8a9d-4f8a-bc2c-60c0d984902f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"41577725","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"41577717","attempt":1,"shardIndex":0},{"jobId":"41577715","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41577716","attempt":1,"shardIndex":-1}]},"id":"fa9a35a2-8a9d-4f8a-bc2c-60c0d984902f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
