interactions:
- request:
    body: "--f676107ca44d478ea671a914e77522c6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/1e1b5c4e-7cd4-481d-8ffa-21c6f0dc959b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"1e1b5c4e-7cd4-481d-8ffa-21c6f0dc959b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/1e1b5c4e-7cd4-481d-8ffa-21c6f0dc959b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"33393810","attempt":1,"shardIndex":0},{"jobId":"33393811","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"33393812","attempt":1,"shardIndex":-1}]},"id":"1e1b5c4e-7cd4-481d-8ffa-21c6f0dc959b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/1e1b5c4e-7cd4-481d-8ffa-21c6f0dc959b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"33393820","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"33393810","attempt":1,"shardIndex":0},{"jobId":"33393811","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"33393812","attempt":1,"shardIndex":-1}]},"id":"1e1b5c4e-7cd4-481d-8ffa-21c6f0dc959b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/1e1b5c4e-7cd4-481d-8ffa-21c6f0dc959b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"33393820","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"33393810","attempt":1,"shardIndex":0},{"jobId":"33393811","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"33393812","attempt":1,"shardIndex":-1}]},"id":"1e1b5c4e-7cd4-481d-8ffa-21c6f0dc959b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
