interactions:
- request:
    body: "--9099b2a0f66e45514b93ac6298ba359c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicTaskExecution.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
      a string input and writes it to a file called output.txt. It demonstrates a
      basic execution of a task with file output.\n\n# This tests basic task execution,
      input handling, and file output functionality. It ensures that a task can successfully
      take an input and generate an output.\n\nworkflow basicTaskTest {\n  input {\n
      \   String text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n
      \     message = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n
      \ }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
      {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n
      \ }\n}\n\r\n--9099b2a0f66e45514b93ac6298ba359c\r\nContent-Disposition: form-data;
      name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type: application/json\r\n\r\n{\n
      \   \"workflow_failure_mode\": \"ContinueWhilePossible\",\n    \"write_to_cache\":
      false,\n    \"read_from_cache\": false\n}\n\r\n--9099b2a0f66e45514b93ac6298ba359c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9099b2a0f66e45514b93ac6298ba359c
    method: POST
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1
  response:
    body:
      string: '{"id":"0fd7c53c-aaaa-4039-aec2-489d9a0a6ada","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/0fd7c53c-aaaa-4039-aec2-489d9a0a6ada/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"0fd7c53c-aaaa-4039-aec2-489d9a0a6ada"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/0fd7c53c-aaaa-4039-aec2-489d9a0a6ada/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicTaskTest.simpleTask":[{"jobId":"45857648","attempt":1,"shardIndex":-1}]},"id":"0fd7c53c-aaaa-4039-aec2-489d9a0a6ada"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/0fd7c53c-aaaa-4039-aec2-489d9a0a6ada/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"45857648","attempt":1,"shardIndex":-1}]},"id":"0fd7c53c-aaaa-4039-aec2-489d9a0a6ada"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
