interactions:
- request:
    body: "--c748aba99c827e1b22a8150e15c70125\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/ee3d3dd8-815e-47aa-a215-6bd4cb0c2e48/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ee3d3dd8-815e-47aa-a215-6bd4cb0c2e48"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/ee3d3dd8-815e-47aa-a215-6bd4cb0c2e48/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"55275991","attempt":1,"shardIndex":0},{"jobId":"55275992","attempt":1,"shardIndex":1}]},"id":"ee3d3dd8-815e-47aa-a215-6bd4cb0c2e48"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/ee3d3dd8-815e-47aa-a215-6bd4cb0c2e48/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"55275991","attempt":1,"shardIndex":0},{"jobId":"55275992","attempt":1,"shardIndex":1}]},"id":"ee3d3dd8-815e-47aa-a215-6bd4cb0c2e48"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
