interactions:
- request:
    body: "--d11ccb28f2716b31f9ac85eb1bdacc2a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--d11ccb28f2716b31f9ac85eb1bdacc2a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d11ccb28f2716b31f9ac85eb1bdacc2a--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=d11ccb28f2716b31f9ac85eb1bdacc2a
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"51606180-c098-4133-9a94-54bdb059ba60","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/51606180-c098-4133-9a94-54bdb059ba60/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 51606180-c098-4133-9a94-54bdb059ba60\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/51606180-c098-4133-9a94-54bdb059ba60/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"51606180-c098-4133-9a94-54bdb059ba60"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
