interactions:
- request:
    body: "--36516c0f38b7ff6336a7279ac1c796f7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--36516c0f38b7ff6336a7279ac1c796f7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--36516c0f38b7ff6336a7279ac1c796f7--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=36516c0f38b7ff6336a7279ac1c796f7
    method: POST
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1
  response:
    body:
      string: '{"id":"92141394-b68d-4e12-81eb-398822453fbb","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/92141394-b68d-4e12-81eb-398822453fbb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 92141394-b68d-4e12-81eb-398822453fbb\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/92141394-b68d-4e12-81eb-398822453fbb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"92141394-b68d-4e12-81eb-398822453fbb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
