interactions:
- request:
    body: "--a7755cc2c5072987b44a56086c734798\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/bd888b09-5647-4390-8c5e-96164bc1783c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"bd888b09-5647-4390-8c5e-96164bc1783c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/bd888b09-5647-4390-8c5e-96164bc1783c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"29797145","attempt":1,"shardIndex":0},{"jobId":"29797144","attempt":1,"shardIndex":1},{"jobId":"29797146","attempt":1,"shardIndex":2}]},"id":"bd888b09-5647-4390-8c5e-96164bc1783c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/bd888b09-5647-4390-8c5e-96164bc1783c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"29797145","attempt":1,"shardIndex":0},{"jobId":"29797144","attempt":1,"shardIndex":1},{"jobId":"29797146","attempt":1,"shardIndex":2}]},"id":"bd888b09-5647-4390-8c5e-96164bc1783c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
