interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"14641751","attempt":1,"shardIndex":-1}]},"id":"0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/20416cd7-7d31-4d01-b155-13a1618124ac/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"14641758","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"14641759","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"14641757","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"14641756","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"14641753","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"14641755","attempt":1,"shardIndex":0},{"jobId":"14641754","attempt":1,"shardIndex":1},{"jobId":"14641752","attempt":1,"shardIndex":2}]},"id":"20416cd7-7d31-4d01-b155-13a1618124ac"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/90e0e5b6-99e3-42cf-8615-0e34f11fd689/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"14641764","attempt":1,"shardIndex":-1}]},"id":"90e0e5b6-99e3-42cf-8615-0e34f11fd689"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"14641762","attempt":1,"shardIndex":-1}]},"id":"71d121b0-35b9-45a3-a5a9-c5fd83925ff8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/c70522c4-7e9f-42e6-861c-ccc1ca3d9218/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"14641791","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"14641785","attempt":1,"shardIndex":0},{"jobId":"14641786","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"14641787","attempt":1,"shardIndex":-1}]},"id":"c70522c4-7e9f-42e6-861c-ccc1ca3d9218"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/899890e5-7c99-4c94-9711-aa2d46cd1cae/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"14641777","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"14641780","attempt":1,"shardIndex":-1}]},"id":"899890e5-7c99-4c94-9711-aa2d46cd1cae"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/8b1e33f9-f844-4271-9225-f6d9a8011483/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"14641778","attempt":1,"shardIndex":-1}]},"id":"8b1e33f9-f844-4271-9225-f6d9a8011483"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/c6ec497b-38c7-499c-98aa-e871a30ec584/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"14641784","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"14641790","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"14641792","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"14641795","attempt":1,"shardIndex":-1}]},"id":"c6ec497b-38c7-499c-98aa-e871a30ec584"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/9fff1e51-5a6e-4b09-b2ba-f4c210d46df7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"14641779","attempt":1,"shardIndex":-1}]},"id":"9fff1e51-5a6e-4b09-b2ba-f4c210d46df7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/6b6deb96-80bf-4126-88f2-8b2af10ea688/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"14641776","attempt":1,"shardIndex":0},{"jobId":"14641775","attempt":1,"shardIndex":1}]},"id":"6b6deb96-80bf-4126-88f2-8b2af10ea688"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/df37c190-9bc3-4b69-9203-7c30fda96f10/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"14641789","attempt":1,"shardIndex":-1}]},"id":"df37c190-9bc3-4b69-9203-7c30fda96f10"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/2e31f4ea-7042-41f0-857c-d6ae0bf0b869/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"14641770","attempt":1,"shardIndex":0},{"jobId":"14641767","attempt":1,"shardIndex":1},{"jobId":"14641769","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"14641768","attempt":1,"shardIndex":0},{"jobId":"14641766","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"14641774","attempt":1,"shardIndex":-1}]},"id":"2e31f4ea-7042-41f0-857c-d6ae0bf0b869"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/4cb21128-8d41-4946-ab41-d6c73c721376/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"14641772","attempt":1,"shardIndex":0},{"jobId":"14641773","attempt":1,"shardIndex":1},{"jobId":"14641771","attempt":1,"shardIndex":2}]},"id":"4cb21128-8d41-4946-ab41-d6c73c721376"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0aa90cf8-73c2-422a-9598-81e543ce33c1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"14641765","attempt":1,"shardIndex":-1}]},"id":"0aa90cf8-73c2-422a-9598-81e543ce33c1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
