interactions:
- request:
    body: "--61e0be4af81a158a9b55c5d32b8cdd4f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/00a60478-aa3e-4f1a-b8a3-01a7e1915e27/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"00a60478-aa3e-4f1a-b8a3-01a7e1915e27"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/00a60478-aa3e-4f1a-b8a3-01a7e1915e27/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"21708994","attempt":1,"shardIndex":-1}]},"id":"00a60478-aa3e-4f1a-b8a3-01a7e1915e27"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/00a60478-aa3e-4f1a-b8a3-01a7e1915e27/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"21708994","attempt":1,"shardIndex":-1}]},"id":"00a60478-aa3e-4f1a-b8a3-01a7e1915e27"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
