interactions:
- request:
    body: "--2fa39338c6568df482b1844b25e2bfd9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/b2607a95-1298-4574-a613-6b02a1c065a9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b2607a95-1298-4574-a613-6b02a1c065a9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/b2607a95-1298-4574-a613-6b02a1c065a9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"41882028","attempt":1,"shardIndex":-1}]},"id":"b2607a95-1298-4574-a613-6b02a1c065a9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/b2607a95-1298-4574-a613-6b02a1c065a9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"41882028","attempt":1,"shardIndex":-1}]},"id":"b2607a95-1298-4574-a613-6b02a1c065a9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
