interactions:
- request:
    body: "--2296f775537b3047defe2b175212dd32\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/0974a0e3-ee90-4445-85bf-86024c3842aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"0974a0e3-ee90-4445-85bf-86024c3842aa"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/0974a0e3-ee90-4445-85bf-86024c3842aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"57492133","attempt":1,"shardIndex":0},{"jobId":"57492131","attempt":1,"shardIndex":1},{"jobId":"57492132","attempt":1,"shardIndex":2}]},"id":"0974a0e3-ee90-4445-85bf-86024c3842aa"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/0974a0e3-ee90-4445-85bf-86024c3842aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"57492133","attempt":1,"shardIndex":0},{"jobId":"57492131","attempt":1,"shardIndex":1},{"jobId":"57492132","attempt":1,"shardIndex":2}]},"id":"0974a0e3-ee90-4445-85bf-86024c3842aa"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
