interactions:
- request:
    body: "--fb4bbc8eb82cd332d53a763525f8512d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/d4c8b505-8c9a-49f8-b912-1c232d58a731/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d4c8b505-8c9a-49f8-b912-1c232d58a731"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/d4c8b505-8c9a-49f8-b912-1c232d58a731/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"50539186","attempt":1,"shardIndex":0},{"jobId":"50539184","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"50539185","attempt":1,"shardIndex":-1}]},"id":"d4c8b505-8c9a-49f8-b912-1c232d58a731"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/d4c8b505-8c9a-49f8-b912-1c232d58a731/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"50539190","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"50539186","attempt":1,"shardIndex":0},{"jobId":"50539184","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"50539185","attempt":1,"shardIndex":-1}]},"id":"d4c8b505-8c9a-49f8-b912-1c232d58a731"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/d4c8b505-8c9a-49f8-b912-1c232d58a731/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"50539190","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"50539186","attempt":1,"shardIndex":0},{"jobId":"50539184","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"50539185","attempt":1,"shardIndex":-1}]},"id":"d4c8b505-8c9a-49f8-b912-1c232d58a731"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
