interactions:
- request:
    body: "--fd835a280c6e63497164269990ce2ce5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/009e06c7-5c11-48eb-ae84-0305ffb3d4d3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"009e06c7-5c11-48eb-ae84-0305ffb3d4d3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/009e06c7-5c11-48eb-ae84-0305ffb3d4d3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"55275807","attempt":1,"shardIndex":0},{"jobId":"55275806","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"55275808","attempt":1,"shardIndex":-1}]},"id":"009e06c7-5c11-48eb-ae84-0305ffb3d4d3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/009e06c7-5c11-48eb-ae84-0305ffb3d4d3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"55275824","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"55275807","attempt":1,"shardIndex":0},{"jobId":"55275806","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"55275808","attempt":1,"shardIndex":-1}]},"id":"009e06c7-5c11-48eb-ae84-0305ffb3d4d3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/009e06c7-5c11-48eb-ae84-0305ffb3d4d3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"55275824","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"55275807","attempt":1,"shardIndex":0},{"jobId":"55275806","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"55275808","attempt":1,"shardIndex":-1}]},"id":"009e06c7-5c11-48eb-ae84-0305ffb3d4d3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
