interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/73122dc8-2de8-4668-8529-426cfc94a0be/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"11775588","attempt":1,"shardIndex":-1}]},"id":"73122dc8-2de8-4668-8529-426cfc94a0be"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/9f62a4cf-e243-4b41-b87e-e7b5a1cc853b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"11775616","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"11775617","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"11775621","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"11775619","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"11775620","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"11775615","attempt":1,"shardIndex":0},{"jobId":"11775618","attempt":1,"shardIndex":1},{"jobId":"11775614","attempt":1,"shardIndex":2}]},"id":"9f62a4cf-e243-4b41-b87e-e7b5a1cc853b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/ca9b4ed0-980e-417e-9da4-9b6eda72fe3f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"11775636","attempt":1,"shardIndex":0},{"jobId":"11775637","attempt":1,"shardIndex":1},{"jobId":"11775639","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"11775640","attempt":1,"shardIndex":0},{"jobId":"11775638","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"11775672","attempt":1,"shardIndex":-1}]},"id":"ca9b4ed0-980e-417e-9da4-9b6eda72fe3f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6ad31183-fca5-4c69-bfc4-a196ebe6c901/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"11775535","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"11775586","attempt":1,"shardIndex":-1}]},"id":"6ad31183-fca5-4c69-bfc4-a196ebe6c901"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/feccbe41-5fe5-46a8-959a-8c32a9e01102/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"11775671","attempt":1,"shardIndex":-1}]},"id":"feccbe41-5fe5-46a8-959a-8c32a9e01102"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/d123e213-32e5-49f0-94ba-1e09a2a61989/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"11775655","attempt":1,"shardIndex":-1}]},"id":"d123e213-32e5-49f0-94ba-1e09a2a61989"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/026946a7-1838-4988-a93e-e38944bb0fd0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"11775527","attempt":1,"shardIndex":-1}]},"id":"026946a7-1838-4988-a93e-e38944bb0fd0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6bd75105-934d-4470-8c52-dcac47d3e1c0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"11775552","attempt":1,"shardIndex":0},{"jobId":"11775551","attempt":1,"shardIndex":1},{"jobId":"11775553","attempt":1,"shardIndex":2}]},"id":"6bd75105-934d-4470-8c52-dcac47d3e1c0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/1e1751cb-150c-41ff-bae1-1e6cf4868d6c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"11775826","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"11775777","attempt":1,"shardIndex":0},{"jobId":"11775778","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"11775776","attempt":1,"shardIndex":-1}]},"id":"1e1751cb-150c-41ff-bae1-1e6cf4868d6c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/52280f80-8220-4034-8a78-ceb1accdaa38/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"11775809","attempt":1,"shardIndex":-1}]},"id":"52280f80-8220-4034-8a78-ceb1accdaa38"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/119b9639-b077-4fd7-84fd-83425cb0f40e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"11775743","attempt":1,"shardIndex":-1}]},"id":"119b9639-b077-4fd7-84fd-83425cb0f40e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/030b9c9a-e295-4ff1-bb98-5db554ec4c14/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"11775702","attempt":1,"shardIndex":0},{"jobId":"11775703","attempt":1,"shardIndex":1}]},"id":"030b9c9a-e295-4ff1-bb98-5db554ec4c14"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/af11cb0b-44cc-4676-a2a0-fa8b67988792/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"11775867","attempt":1,"shardIndex":-1}]},"id":"af11cb0b-44cc-4676-a2a0-fa8b67988792"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/d39269f3-1985-47c8-84df-c044ac944ac5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"11775876","attempt":1,"shardIndex":-1}]},"id":"d39269f3-1985-47c8-84df-c044ac944ac5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/2bea14fb-d69e-4b3a-b81f-921eba321306/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"11775796","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"11775835","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"11775877","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"11775890","attempt":1,"shardIndex":-1}]},"id":"2bea14fb-d69e-4b3a-b81f-921eba321306"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
