interactions:
- request:
    body: "--b964e73b029b82ee98d490e8a53a4c9d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/55dbd1c1-671d-476d-be40-dabd55d88522/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"55dbd1c1-671d-476d-be40-dabd55d88522"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/55dbd1c1-671d-476d-be40-dabd55d88522/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"47889364","attempt":1,"shardIndex":0},{"jobId":"47889365","attempt":1,"shardIndex":1}]},"id":"55dbd1c1-671d-476d-be40-dabd55d88522"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/55dbd1c1-671d-476d-be40-dabd55d88522/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"47889364","attempt":1,"shardIndex":0},{"jobId":"47889365","attempt":1,"shardIndex":1}]},"id":"55dbd1c1-671d-476d-be40-dabd55d88522"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
