interactions:
- request:
    body: "--da9a137df5ab6f8f5718745f2148e64f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/dc02061e-057b-45e4-b582-f13973509eec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"dc02061e-057b-45e4-b582-f13973509eec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/dc02061e-057b-45e4-b582-f13973509eec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"52866189","attempt":1,"shardIndex":0},{"jobId":"52866191","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52866190","attempt":1,"shardIndex":-1}]},"id":"dc02061e-057b-45e4-b582-f13973509eec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/dc02061e-057b-45e4-b582-f13973509eec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"52866196","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"52866189","attempt":1,"shardIndex":0},{"jobId":"52866191","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52866190","attempt":1,"shardIndex":-1}]},"id":"dc02061e-057b-45e4-b582-f13973509eec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/dc02061e-057b-45e4-b582-f13973509eec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"52866196","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"52866189","attempt":1,"shardIndex":0},{"jobId":"52866191","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52866190","attempt":1,"shardIndex":-1}]},"id":"dc02061e-057b-45e4-b582-f13973509eec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
