interactions:
- request:
    body: "--0302af8c745ffb0d247fe38f178f130d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/be467b4c-1bf3-4f1c-ab2f-283bc4c6ae5d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"be467b4c-1bf3-4f1c-ab2f-283bc4c6ae5d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/be467b4c-1bf3-4f1c-ab2f-283bc4c6ae5d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"43978339","attempt":1,"shardIndex":0},{"jobId":"43978338","attempt":1,"shardIndex":1},{"jobId":"43978337","attempt":1,"shardIndex":2}]},"id":"be467b4c-1bf3-4f1c-ab2f-283bc4c6ae5d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/be467b4c-1bf3-4f1c-ab2f-283bc4c6ae5d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"43978339","attempt":1,"shardIndex":0},{"jobId":"43978338","attempt":1,"shardIndex":1},{"jobId":"43978337","attempt":1,"shardIndex":2}]},"id":"be467b4c-1bf3-4f1c-ab2f-283bc4c6ae5d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
