interactions:
- request:
    body: "--b7e182df6802ca39bfb91c19115d7353\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/0adff90a-ec0c-4ff4-93b0-a2e9b81f8139/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"0adff90a-ec0c-4ff4-93b0-a2e9b81f8139"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/0adff90a-ec0c-4ff4-93b0-a2e9b81f8139/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"26221194","attempt":1,"shardIndex":-1}]},"id":"0adff90a-ec0c-4ff4-93b0-a2e9b81f8139"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/0adff90a-ec0c-4ff4-93b0-a2e9b81f8139/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"26221194","attempt":1,"shardIndex":-1}]},"id":"0adff90a-ec0c-4ff4-93b0-a2e9b81f8139"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
