interactions:
- request:
    body: "--cc8939e4e6317211b5b6f3d0f4dd1234\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--cc8939e4e6317211b5b6f3d0f4dd1234\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--cc8939e4e6317211b5b6f3d0f4dd1234--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=cc8939e4e6317211b5b6f3d0f4dd1234
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"7088a818-9656-4080-ae19-adf91d23e2c6","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/7088a818-9656-4080-ae19-adf91d23e2c6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7088a818-9656-4080-ae19-adf91d23e2c6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/7088a818-9656-4080-ae19-adf91d23e2c6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"10023381","attempt":1,"shardIndex":-1}]},"id":"7088a818-9656-4080-ae19-adf91d23e2c6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/7088a818-9656-4080-ae19-adf91d23e2c6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"10023381","attempt":1,"shardIndex":-1}]},"id":"7088a818-9656-4080-ae19-adf91d23e2c6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
