interactions:
- request:
    body: "--4dbeb5ace11f0b1b2d276598e88b5468\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/59ff1577-792f-431f-ab13-9cef9a2e3f81/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"59ff1577-792f-431f-ab13-9cef9a2e3f81"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/59ff1577-792f-431f-ab13-9cef9a2e3f81/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"45857641","attempt":1,"shardIndex":-1}]},"id":"59ff1577-792f-431f-ab13-9cef9a2e3f81"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/59ff1577-792f-431f-ab13-9cef9a2e3f81/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"45857641","attempt":1,"shardIndex":-1}]},"id":"59ff1577-792f-431f-ab13-9cef9a2e3f81"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
