interactions:
- request:
    body: "--1a430f85ea4d948c0cbdb99c200e66f4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/6428e5da-e1ea-4228-9f7a-e3c591f7e9e7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6428e5da-e1ea-4228-9f7a-e3c591f7e9e7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/6428e5da-e1ea-4228-9f7a-e3c591f7e9e7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"30945436","attempt":1,"shardIndex":0},{"jobId":"30945437","attempt":1,"shardIndex":1}]},"id":"6428e5da-e1ea-4228-9f7a-e3c591f7e9e7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/6428e5da-e1ea-4228-9f7a-e3c591f7e9e7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"30945436","attempt":1,"shardIndex":0},{"jobId":"30945437","attempt":1,"shardIndex":1}]},"id":"6428e5da-e1ea-4228-9f7a-e3c591f7e9e7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
