interactions:
- request:
    body: "--1ac1076acc41cab91cf31c059bd8aa4a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/6b3e100b-de7b-4e08-a947-ae44dfb94810/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6b3e100b-de7b-4e08-a947-ae44dfb94810"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/6b3e100b-de7b-4e08-a947-ae44dfb94810/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"47888653","attempt":1,"shardIndex":0},{"jobId":"47888655","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"47888654","attempt":1,"shardIndex":-1}]},"id":"6b3e100b-de7b-4e08-a947-ae44dfb94810"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/6b3e100b-de7b-4e08-a947-ae44dfb94810/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"47888756","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"47888653","attempt":1,"shardIndex":0},{"jobId":"47888655","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"47888654","attempt":1,"shardIndex":-1}]},"id":"6b3e100b-de7b-4e08-a947-ae44dfb94810"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/6b3e100b-de7b-4e08-a947-ae44dfb94810/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"47888756","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"47888653","attempt":1,"shardIndex":0},{"jobId":"47888655","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"47888654","attempt":1,"shardIndex":-1}]},"id":"6b3e100b-de7b-4e08-a947-ae44dfb94810"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
