interactions:
- request:
    body: "--e89a0228135bb72bcedaf3545d0745cb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/e6b8b0fc-502b-4fea-99a4-6cb572c2c866/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e6b8b0fc-502b-4fea-99a4-6cb572c2c866"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/e6b8b0fc-502b-4fea-99a4-6cb572c2c866/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"29236991","attempt":1,"shardIndex":0},{"jobId":"29236990","attempt":1,"shardIndex":1}]},"id":"e6b8b0fc-502b-4fea-99a4-6cb572c2c866"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/e6b8b0fc-502b-4fea-99a4-6cb572c2c866/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"29236991","attempt":1,"shardIndex":0},{"jobId":"29236990","attempt":1,"shardIndex":1}]},"id":"e6b8b0fc-502b-4fea-99a4-6cb572c2c866"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
