interactions:
- request:
    body: "--b5ff4f65f8769a3175ee521936c37651\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/1533c950-e381-42cc-aecf-73ec2ab15e36/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"1533c950-e381-42cc-aecf-73ec2ab15e36"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/1533c950-e381-42cc-aecf-73ec2ab15e36/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"40375572","attempt":1,"shardIndex":0},{"jobId":"40375574","attempt":1,"shardIndex":1},{"jobId":"40375573","attempt":1,"shardIndex":2}]},"id":"1533c950-e381-42cc-aecf-73ec2ab15e36"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/1533c950-e381-42cc-aecf-73ec2ab15e36/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"40375572","attempt":1,"shardIndex":0},{"jobId":"40375574","attempt":1,"shardIndex":1},{"jobId":"40375573","attempt":1,"shardIndex":2}]},"id":"1533c950-e381-42cc-aecf-73ec2ab15e36"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
