interactions:
- request:
    body: "--bdf4c8636abcd0b7788615f6aa9653a2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/61710811-2464-4166-88ce-dee843b2c504/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"61710811-2464-4166-88ce-dee843b2c504"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/61710811-2464-4166-88ce-dee843b2c504/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"35382024","attempt":1,"shardIndex":0},{"jobId":"35382025","attempt":1,"shardIndex":1},{"jobId":"35382026","attempt":1,"shardIndex":2}]},"id":"61710811-2464-4166-88ce-dee843b2c504"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/61710811-2464-4166-88ce-dee843b2c504/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"35382024","attempt":1,"shardIndex":0},{"jobId":"35382025","attempt":1,"shardIndex":1},{"jobId":"35382026","attempt":1,"shardIndex":2}]},"id":"61710811-2464-4166-88ce-dee843b2c504"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
