interactions:
- request:
    body: "--7696cf5d091ca951a6d14a4489c155ad\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/edae432d-7ed0-420e-bb85-007e38c7b57c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"edae432d-7ed0-420e-bb85-007e38c7b57c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/edae432d-7ed0-420e-bb85-007e38c7b57c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"26628706","attempt":1,"shardIndex":0},{"jobId":"26628707","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"26628705","attempt":1,"shardIndex":-1}]},"id":"edae432d-7ed0-420e-bb85-007e38c7b57c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/edae432d-7ed0-420e-bb85-007e38c7b57c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"26628915","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"26628706","attempt":1,"shardIndex":0},{"jobId":"26628707","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"26628705","attempt":1,"shardIndex":-1}]},"id":"edae432d-7ed0-420e-bb85-007e38c7b57c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/edae432d-7ed0-420e-bb85-007e38c7b57c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"26628915","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"26628706","attempt":1,"shardIndex":0},{"jobId":"26628707","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"26628705","attempt":1,"shardIndex":-1}]},"id":"edae432d-7ed0-420e-bb85-007e38c7b57c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
