interactions:
- request:
    body: "--7753d28e0b63f4bbc50290a7937800c8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/4d84e7fe-81e4-427d-8063-ea1f96f13d2f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4d84e7fe-81e4-427d-8063-ea1f96f13d2f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/4d84e7fe-81e4-427d-8063-ea1f96f13d2f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"47889193","attempt":1,"shardIndex":0},{"jobId":"47889194","attempt":1,"shardIndex":1},{"jobId":"47889195","attempt":1,"shardIndex":2}]},"id":"4d84e7fe-81e4-427d-8063-ea1f96f13d2f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/4d84e7fe-81e4-427d-8063-ea1f96f13d2f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"47889193","attempt":1,"shardIndex":0},{"jobId":"47889194","attempt":1,"shardIndex":1},{"jobId":"47889195","attempt":1,"shardIndex":2}]},"id":"4d84e7fe-81e4-427d-8063-ea1f96f13d2f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
