interactions:
- request:
    body: "--124cdea90aa24e0faa201783ec13e6c8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/fcf8bed2-2241-48f1-b309-d91abd93039b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fcf8bed2-2241-48f1-b309-d91abd93039b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/fcf8bed2-2241-48f1-b309-d91abd93039b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"41177359","attempt":1,"shardIndex":0},{"jobId":"41177360","attempt":1,"shardIndex":1},{"jobId":"41177358","attempt":1,"shardIndex":2}]},"id":"fcf8bed2-2241-48f1-b309-d91abd93039b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/fcf8bed2-2241-48f1-b309-d91abd93039b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"41177359","attempt":1,"shardIndex":0},{"jobId":"41177360","attempt":1,"shardIndex":1},{"jobId":"41177358","attempt":1,"shardIndex":2}]},"id":"fcf8bed2-2241-48f1-b309-d91abd93039b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
