interactions:
- request:
    body: "--8bee49b0871d8cbc427f357b09f2d00d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7e49127a-9584-4354-ba5f-3f5e215e21c5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7e49127a-9584-4354-ba5f-3f5e215e21c5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7e49127a-9584-4354-ba5f-3f5e215e21c5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"57492285","attempt":1,"shardIndex":0},{"jobId":"57492287","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"57492286","attempt":1,"shardIndex":-1}]},"id":"7e49127a-9584-4354-ba5f-3f5e215e21c5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7e49127a-9584-4354-ba5f-3f5e215e21c5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"57492440","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"57492285","attempt":1,"shardIndex":0},{"jobId":"57492287","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"57492286","attempt":1,"shardIndex":-1}]},"id":"7e49127a-9584-4354-ba5f-3f5e215e21c5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7e49127a-9584-4354-ba5f-3f5e215e21c5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"57492440","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"57492285","attempt":1,"shardIndex":0},{"jobId":"57492287","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"57492286","attempt":1,"shardIndex":-1}]},"id":"7e49127a-9584-4354-ba5f-3f5e215e21c5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
