interactions:
- request:
    body: "--dcd6505f44a1f3e31cfd0d19fa346e9f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/2a3943b8-36fd-4694-90e4-18f5bd8ae2be/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2a3943b8-36fd-4694-90e4-18f5bd8ae2be"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/2a3943b8-36fd-4694-90e4-18f5bd8ae2be/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"27404040","attempt":1,"shardIndex":0},{"jobId":"27404042","attempt":1,"shardIndex":1},{"jobId":"27404041","attempt":1,"shardIndex":2}]},"id":"2a3943b8-36fd-4694-90e4-18f5bd8ae2be"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/2a3943b8-36fd-4694-90e4-18f5bd8ae2be/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"27404040","attempt":1,"shardIndex":0},{"jobId":"27404042","attempt":1,"shardIndex":1},{"jobId":"27404041","attempt":1,"shardIndex":2}]},"id":"2a3943b8-36fd-4694-90e4-18f5bd8ae2be"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
