interactions:
- request:
    body: "--4b5a0ae8448ee22bc47595685027666e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/95158037-c8a6-4a4a-9a2e-53de347b47ce/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"95158037-c8a6-4a4a-9a2e-53de347b47ce"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/95158037-c8a6-4a4a-9a2e-53de347b47ce/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"64209308","attempt":1,"shardIndex":0},{"jobId":"64209309","attempt":1,"shardIndex":1},{"jobId":"64209306","attempt":1,"shardIndex":2}]},"id":"95158037-c8a6-4a4a-9a2e-53de347b47ce"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/95158037-c8a6-4a4a-9a2e-53de347b47ce/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"64209308","attempt":1,"shardIndex":0},{"jobId":"64209309","attempt":1,"shardIndex":1},{"jobId":"64209306","attempt":1,"shardIndex":2}]},"id":"95158037-c8a6-4a4a-9a2e-53de347b47ce"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
