interactions:
- request:
    body: "--dc15a43131fca85eed045e08dab3d83d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/00ae16c2-c926-44ef-b7f5-a221523e93b4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"00ae16c2-c926-44ef-b7f5-a221523e93b4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/00ae16c2-c926-44ef-b7f5-a221523e93b4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"8627708","attempt":1,"shardIndex":-1}]},"id":"00ae16c2-c926-44ef-b7f5-a221523e93b4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/00ae16c2-c926-44ef-b7f5-a221523e93b4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"8627708","attempt":1,"shardIndex":-1}]},"id":"00ae16c2-c926-44ef-b7f5-a221523e93b4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
