interactions:
- request:
    body: "--2df19d7211b649ec5cb66fc4238fadf0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/9964637f-abf5-49a8-b598-5e1a563dbfc4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9964637f-abf5-49a8-b598-5e1a563dbfc4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/9964637f-abf5-49a8-b598-5e1a563dbfc4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"8627709","attempt":1,"shardIndex":-1}]},"id":"9964637f-abf5-49a8-b598-5e1a563dbfc4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/9964637f-abf5-49a8-b598-5e1a563dbfc4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"8627709","attempt":1,"shardIndex":-1}]},"id":"9964637f-abf5-49a8-b598-5e1a563dbfc4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
