interactions:
- request:
    body: "--ffde30726882653953bcd1720374b271\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/44c03388-bfcf-4455-9071-da5327322103/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"44c03388-bfcf-4455-9071-da5327322103"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/44c03388-bfcf-4455-9071-da5327322103/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"30945443","attempt":1,"shardIndex":0},{"jobId":"30945442","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"30945441","attempt":1,"shardIndex":-1}]},"id":"44c03388-bfcf-4455-9071-da5327322103"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/44c03388-bfcf-4455-9071-da5327322103/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"30945516","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"30945443","attempt":1,"shardIndex":0},{"jobId":"30945442","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"30945441","attempt":1,"shardIndex":-1}]},"id":"44c03388-bfcf-4455-9071-da5327322103"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/44c03388-bfcf-4455-9071-da5327322103/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"30945516","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"30945443","attempt":1,"shardIndex":0},{"jobId":"30945442","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"30945441","attempt":1,"shardIndex":-1}]},"id":"44c03388-bfcf-4455-9071-da5327322103"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
