interactions:
- request:
    body: "--443b57376bf120ec9a5c9b7ab3ac8e10\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/d2cc37d5-401c-42b1-9911-62b5c69f8f1f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d2cc37d5-401c-42b1-9911-62b5c69f8f1f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/d2cc37d5-401c-42b1-9911-62b5c69f8f1f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"51407845","attempt":1,"shardIndex":0},{"jobId":"51407847","attempt":1,"shardIndex":1},{"jobId":"51407846","attempt":1,"shardIndex":2}]},"id":"d2cc37d5-401c-42b1-9911-62b5c69f8f1f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/d2cc37d5-401c-42b1-9911-62b5c69f8f1f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"51407845","attempt":1,"shardIndex":0},{"jobId":"51407847","attempt":1,"shardIndex":1},{"jobId":"51407846","attempt":1,"shardIndex":2}]},"id":"d2cc37d5-401c-42b1-9911-62b5c69f8f1f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
