interactions:
- request:
    body: "--041f9b0781cff675dc551484bf285e8d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--041f9b0781cff675dc551484bf285e8d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--041f9b0781cff675dc551484bf285e8d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=041f9b0781cff675dc551484bf285e8d
    method: POST
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1
  response:
    body:
      string: '{"id":"2620fb68-d684-4b2a-92a5-e2b3e105040d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/2620fb68-d684-4b2a-92a5-e2b3e105040d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2620fb68-d684-4b2a-92a5-e2b3e105040d\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/2620fb68-d684-4b2a-92a5-e2b3e105040d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2620fb68-d684-4b2a-92a5-e2b3e105040d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
