interactions:
- request:
    body: "--40dc9eb0133392d3d033582199681478\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/17e1ec91-81b1-4c7a-9816-a3ef406282c1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"17e1ec91-81b1-4c7a-9816-a3ef406282c1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/17e1ec91-81b1-4c7a-9816-a3ef406282c1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"55899607","attempt":1,"shardIndex":0},{"jobId":"55899608","attempt":1,"shardIndex":1},{"jobId":"55899609","attempt":1,"shardIndex":2}]},"id":"17e1ec91-81b1-4c7a-9816-a3ef406282c1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/17e1ec91-81b1-4c7a-9816-a3ef406282c1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"55899607","attempt":1,"shardIndex":0},{"jobId":"55899608","attempt":1,"shardIndex":1},{"jobId":"55899609","attempt":1,"shardIndex":2}]},"id":"17e1ec91-81b1-4c7a-9816-a3ef406282c1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
