interactions:
- request:
    body: "--1b5ef648845b8cb51be01e73ba6f3fae\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--1b5ef648845b8cb51be01e73ba6f3fae\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1b5ef648845b8cb51be01e73ba6f3fae--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1b5ef648845b8cb51be01e73ba6f3fae
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"3ca6e4ed-cb81-4c4f-96de-76cddbde9b40","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/3ca6e4ed-cb81-4c4f-96de-76cddbde9b40/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"3ca6e4ed-cb81-4c4f-96de-76cddbde9b40"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/3ca6e4ed-cb81-4c4f-96de-76cddbde9b40/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"55900622","attempt":1,"shardIndex":-1}]},"id":"3ca6e4ed-cb81-4c4f-96de-76cddbde9b40"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/3ca6e4ed-cb81-4c4f-96de-76cddbde9b40/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"55900622","attempt":1,"shardIndex":-1}]},"id":"3ca6e4ed-cb81-4c4f-96de-76cddbde9b40"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
