interactions:
- request:
    body: "--15e5026f2e68e83a763e09ee144d4d90\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/aac9b143-7139-4bce-880d-bd1ed2cb4139/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"aac9b143-7139-4bce-880d-bd1ed2cb4139"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/aac9b143-7139-4bce-880d-bd1ed2cb4139/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"3539213","attempt":1,"shardIndex":0},{"jobId":"3539212","attempt":1,"shardIndex":1},{"jobId":"3539211","attempt":1,"shardIndex":2}]},"id":"aac9b143-7139-4bce-880d-bd1ed2cb4139"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/aac9b143-7139-4bce-880d-bd1ed2cb4139/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"3539213","attempt":1,"shardIndex":0},{"jobId":"3539212","attempt":1,"shardIndex":1},{"jobId":"3539211","attempt":1,"shardIndex":2}]},"id":"aac9b143-7139-4bce-880d-bd1ed2cb4139"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
