interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/1b255972-2066-403c-8edf-0e199cf1a9b5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"12110583","attempt":1,"shardIndex":-1}]},"id":"1b255972-2066-403c-8edf-0e199cf1a9b5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/916adf91-62dd-44dd-a373-369f2123c701/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"12110622","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"12110623","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"12110621","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"12110624","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"12110626","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"12110628","attempt":1,"shardIndex":0},{"jobId":"12110627","attempt":1,"shardIndex":1},{"jobId":"12110625","attempt":1,"shardIndex":2}]},"id":"916adf91-62dd-44dd-a373-369f2123c701"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/41079c26-4c20-4917-afb5-f293acec708e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"12110587","attempt":1,"shardIndex":0},{"jobId":"12110586","attempt":1,"shardIndex":1},{"jobId":"12110585","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"12110584","attempt":1,"shardIndex":0},{"jobId":"12110588","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"12110593","attempt":1,"shardIndex":-1}]},"id":"41079c26-4c20-4917-afb5-f293acec708e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/b45c9010-f3ae-474f-aa10-068839b9f548/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"12110638","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"12110649","attempt":1,"shardIndex":-1}]},"id":"b45c9010-f3ae-474f-aa10-068839b9f548"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6cd7fc0a-6f4d-47ca-af08-2a1275a5b06a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"12110598","attempt":1,"shardIndex":-1}]},"id":"6cd7fc0a-6f4d-47ca-af08-2a1275a5b06a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/7d06c2d9-ec12-4a58-8587-6f9447a79fb1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"12110609","attempt":1,"shardIndex":-1}]},"id":"7d06c2d9-ec12-4a58-8587-6f9447a79fb1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/700320cf-ff94-4b01-a4b0-e7a63ecc1696/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"12110600","attempt":1,"shardIndex":-1}]},"id":"700320cf-ff94-4b01-a4b0-e7a63ecc1696"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/adfd882a-48dc-4081-b41b-68790583b068/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"12110633","attempt":1,"shardIndex":0},{"jobId":"12110631","attempt":1,"shardIndex":1},{"jobId":"12110632","attempt":1,"shardIndex":2}]},"id":"adfd882a-48dc-4081-b41b-68790583b068"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/7d69bd6d-2f83-4970-8a68-fc2eb1d6b7e9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"12110641","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"12110611","attempt":1,"shardIndex":0},{"jobId":"12110612","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"12110613","attempt":1,"shardIndex":-1}]},"id":"7d69bd6d-2f83-4970-8a68-fc2eb1d6b7e9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/7807cce3-4fab-418a-8488-0f093a734c06/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"12110608","attempt":1,"shardIndex":-1}]},"id":"7807cce3-4fab-418a-8488-0f093a734c06"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/677fe598-54ec-40d1-9b4f-e1284c9fb974/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"12110597","attempt":1,"shardIndex":-1}]},"id":"677fe598-54ec-40d1-9b4f-e1284c9fb974"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/82643ffa-b01f-426f-91cb-2c3821a99004/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"12110614","attempt":1,"shardIndex":0},{"jobId":"12110615","attempt":1,"shardIndex":1}]},"id":"82643ffa-b01f-426f-91cb-2c3821a99004"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/66b4204a-1819-4dc8-81b2-285a5dc088fe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"12110594","attempt":1,"shardIndex":-1}]},"id":"66b4204a-1819-4dc8-81b2-285a5dc088fe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/8dd97772-4f19-473b-86b6-15ecbe739900/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"12110618","attempt":1,"shardIndex":-1}]},"id":"8dd97772-4f19-473b-86b6-15ecbe739900"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/fc68de94-50c8-4ec7-84e3-1319a9f14536/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"12110643","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"12110650","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"12110652","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"12110657","attempt":1,"shardIndex":-1}]},"id":"fc68de94-50c8-4ec7-84e3-1319a9f14536"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
