interactions:
- request:
    body: "--717bef26bfdf4b013088548dc1c6c71a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"mapTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow enhanced_map_test {\n    input {\n        # Original inputs\n
      \       Array[String] samples\n        Map[String, String] sample_metadata\n
      \       Map[String, Int] read_lengths\n\n        # New test inputs\n        Map[String,
      Map[String, String]] nested_map = {\n            \"patient1\": {\n                \"sample1\":
      \"normal\",\n                \"sample2\": \"tumor\"\n            },\n            \"patient2\":
      {\n                \"sample3\": \"normal\",\n                \"sample4\": \"tumor\"\n
      \           }\n        }\n        # We need to provide keys as arrays since
      WDL 1.0 doesn't have a keys() function\n        Array[String] patient_ids =
      [\"patient1\", \"patient2\"]\n    }\n\n    # Test nested map processing\n    scatter
      (patient_id in patient_ids) {\n        call process_nested_map {\n            input:\n
      \               patient_id = patient_id,\n                patient_data = nested_map[patient_id],\n
      \               # We need to[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/2b9f05b9-86f8-4909-986d-9fc8c0ed0432/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2b9f05b9-86f8-4909-986d-9fc8c0ed0432"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/2b9f05b9-86f8-4909-986d-9fc8c0ed0432/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"enhanced_map_test.process_nested_map":[{"jobId":"43906089","attempt":1,"shardIndex":0},{"jobId":"43906086","attempt":1,"shardIndex":1}],"enhanced_map_test.process_sample":[{"jobId":"43906088","attempt":1,"shardIndex":0},{"jobId":"43906090","attempt":1,"shardIndex":1},{"jobId":"43906087","attempt":1,"shardIndex":2}]},"id":"2b9f05b9-86f8-4909-986d-9fc8c0ed0432"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/2b9f05b9-86f8-4909-986d-9fc8c0ed0432/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"enhanced_map_test.process_sample":[{"jobId":"43906088","attempt":1,"shardIndex":0},{"jobId":"43906090","attempt":1,"shardIndex":1},{"jobId":"43906087","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"43906089","attempt":1,"shardIndex":0},{"jobId":"43906086","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"43906116","attempt":1,"shardIndex":-1}]},"id":"2b9f05b9-86f8-4909-986d-9fc8c0ed0432"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/2b9f05b9-86f8-4909-986d-9fc8c0ed0432/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"43906088","attempt":1,"shardIndex":0},{"jobId":"43906090","attempt":1,"shardIndex":1},{"jobId":"43906087","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"43906089","attempt":1,"shardIndex":0},{"jobId":"43906086","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"43906116","attempt":1,"shardIndex":-1}]},"id":"2b9f05b9-86f8-4909-986d-9fc8c0ed0432"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
