interactions:
- request:
    body: "--57e6730ca308e5d061c402d7899e1ad5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/b28a70a6-b576-4220-a706-b21391f5624e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b28a70a6-b576-4220-a706-b21391f5624e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/b28a70a6-b576-4220-a706-b21391f5624e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"10023426","attempt":1,"shardIndex":0},{"jobId":"10023425","attempt":1,"shardIndex":1}]},"id":"b28a70a6-b576-4220-a706-b21391f5624e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/b28a70a6-b576-4220-a706-b21391f5624e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"10023426","attempt":1,"shardIndex":0},{"jobId":"10023425","attempt":1,"shardIndex":1}]},"id":"b28a70a6-b576-4220-a706-b21391f5624e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
