interactions:
- request:
    body: "--00e127bbe940d1c59ecaa2063be26723\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/8b09d321-3e69-4b5e-89a6-92cc0f719e82/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"8b09d321-3e69-4b5e-89a6-92cc0f719e82"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/8b09d321-3e69-4b5e-89a6-92cc0f719e82/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"21709011","attempt":1,"shardIndex":0},{"jobId":"21709012","attempt":1,"shardIndex":1},{"jobId":"21709013","attempt":1,"shardIndex":2}]},"id":"8b09d321-3e69-4b5e-89a6-92cc0f719e82"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/8b09d321-3e69-4b5e-89a6-92cc0f719e82/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"21709011","attempt":1,"shardIndex":0},{"jobId":"21709012","attempt":1,"shardIndex":1},{"jobId":"21709013","attempt":1,"shardIndex":2}]},"id":"8b09d321-3e69-4b5e-89a6-92cc0f719e82"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
