interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/853c45f5-5f55-4e8b-bd93-a42a40db12f1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"8313543","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"8313549","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"8313546","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"8313545","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"8313544","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"8313548","attempt":1,"shardIndex":0},{"jobId":"8313550","attempt":1,"shardIndex":1},{"jobId":"8313547","attempt":1,"shardIndex":2}]},"id":"853c45f5-5f55-4e8b-bd93-a42a40db12f1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"8313512","attempt":1,"shardIndex":-1}]},"id":"39f5b465-0acb-4e34-bdbc-a0fd47bb771a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/8d02c8a1-7467-45d1-8115-ab7bc3e23cf3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloModuleHostname.Hostname":[{"jobId":"8313574","attempt":1,"shardIndex":-1}]},"id":"8d02c8a1-7467-45d1-8115-ab7bc3e23cf3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/528cf3cc-7089-4e85-89b6-60f64dbc0403/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.Hostname":[{"jobId":"8313794","attempt":1,"shardIndex":-1}]},"id":"528cf3cc-7089-4e85-89b6-60f64dbc0403"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
