interactions:
- request:
    body: "--36dbb3cc9413c65f6ecdf2dfe3ff4420\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--36dbb3cc9413c65f6ecdf2dfe3ff4420\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--36dbb3cc9413c65f6ecdf2dfe3ff4420--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=36dbb3cc9413c65f6ecdf2dfe3ff4420
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"344ca979-0af7-4e19-8a2d-6ef9c080836c","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/344ca979-0af7-4e19-8a2d-6ef9c080836c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"344ca979-0af7-4e19-8a2d-6ef9c080836c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/344ca979-0af7-4e19-8a2d-6ef9c080836c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"3542411","attempt":1,"shardIndex":-1}]},"id":"344ca979-0af7-4e19-8a2d-6ef9c080836c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/344ca979-0af7-4e19-8a2d-6ef9c080836c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"3542411","attempt":1,"shardIndex":-1}]},"id":"344ca979-0af7-4e19-8a2d-6ef9c080836c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
