interactions:
- request:
    body: "--d3d06295591c8c43dba9521e29f2d341\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--d3d06295591c8c43dba9521e29f2d341\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d3d06295591c8c43dba9521e29f2d341--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d3d06295591c8c43dba9521e29f2d341
    method: POST
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1
  response:
    body:
      string: '{"id":"f63155db-6424-4cf7-8ed4-1dd57b9cc784","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/f63155db-6424-4cf7-8ed4-1dd57b9cc784/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f63155db-6424-4cf7-8ed4-1dd57b9cc784\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/f63155db-6424-4cf7-8ed4-1dd57b9cc784/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f63155db-6424-4cf7-8ed4-1dd57b9cc784"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
