interactions:
- request:
    body: "--99d6a75a1895f5d1ffce34a51d4a51ca\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--99d6a75a1895f5d1ffce34a51d4a51ca\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--99d6a75a1895f5d1ffce34a51d4a51ca--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=99d6a75a1895f5d1ffce34a51d4a51ca
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"ad263ea2-b732-46aa-9d02-fcc98daa9ebb","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/ad263ea2-b732-46aa-9d02-fcc98daa9ebb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ad263ea2-b732-46aa-9d02-fcc98daa9ebb"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/ad263ea2-b732-46aa-9d02-fcc98daa9ebb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"54309751","attempt":1,"shardIndex":-1}]},"id":"ad263ea2-b732-46aa-9d02-fcc98daa9ebb"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/ad263ea2-b732-46aa-9d02-fcc98daa9ebb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"54309751","attempt":1,"shardIndex":-1}]},"id":"ad263ea2-b732-46aa-9d02-fcc98daa9ebb"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
