interactions:
- request:
    body: "--58b29a71486c24b95b38595128eb2c61\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--58b29a71486c24b95b38595128eb2c61\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--58b29a71486c24b95b38595128eb2c61--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=58b29a71486c24b95b38595128eb2c61
    method: POST
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1
  response:
    body:
      string: '{"id":"ba49728d-deaa-4c71-86ae-5bd53a0c8700","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/ba49728d-deaa-4c71-86ae-5bd53a0c8700/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ba49728d-deaa-4c71-86ae-5bd53a0c8700"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/ba49728d-deaa-4c71-86ae-5bd53a0c8700/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"45857640","attempt":1,"shardIndex":-1}]},"id":"ba49728d-deaa-4c71-86ae-5bd53a0c8700"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/ba49728d-deaa-4c71-86ae-5bd53a0c8700/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"45857640","attempt":1,"shardIndex":-1}]},"id":"ba49728d-deaa-4c71-86ae-5bd53a0c8700"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
