interactions:
- request:
    body: "--0caf6ff3eda85df6bbde41d165f57531\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/570e8ad7-a62e-48ba-b138-bb0dad987ef9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"570e8ad7-a62e-48ba-b138-bb0dad987ef9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/570e8ad7-a62e-48ba-b138-bb0dad987ef9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"27404044","attempt":1,"shardIndex":-1}]},"id":"570e8ad7-a62e-48ba-b138-bb0dad987ef9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/570e8ad7-a62e-48ba-b138-bb0dad987ef9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"27404044","attempt":1,"shardIndex":-1}]},"id":"570e8ad7-a62e-48ba-b138-bb0dad987ef9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
