interactions:
- request:
    body: "--8bc3d6619f9ef05306c038221a1dd340\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--8bc3d6619f9ef05306c038221a1dd340\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8bc3d6619f9ef05306c038221a1dd340--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=8bc3d6619f9ef05306c038221a1dd340
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1
  response:
    body:
      string: '{"id":"cabd0ccc-e733-4033-b7c1-94d6bd9dca59","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/cabd0ccc-e733-4033-b7c1-94d6bd9dca59/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"cabd0ccc-e733-4033-b7c1-94d6bd9dca59"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/cabd0ccc-e733-4033-b7c1-94d6bd9dca59/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"52578557","attempt":1,"shardIndex":-1}]},"id":"cabd0ccc-e733-4033-b7c1-94d6bd9dca59"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/cabd0ccc-e733-4033-b7c1-94d6bd9dca59/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"52578557","attempt":1,"shardIndex":-1}]},"id":"cabd0ccc-e733-4033-b7c1-94d6bd9dca59"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
