interactions:
- request:
    body: "--88f58ea7afc260e597ce7ae3e531b0fb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloDockerHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the Docker image name and tag\n##
      and measures execution time of the Hostname task.\n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloDockerHostname {\n  input {\n    String docker_image = \"ubuntu:20.04\"
      \ # Default value but can be overridden\n  }\n\n  call GetStartTime\n\n  call
      Hostname {\n    input:\n      expected_image = docker_image,\n      start_time
      = GetStartTime.timestamp  # Add dependency on start time\n  }\n\n  call GetEndTime
      {\n    input:\n      hostname_done = Hostname.out  # Add dependency on Hostname
      completion\n  }\n\n  call ValidateExecutionTime {\n    input:\n      start_time
      = GetStartTime.timestamp,\n      end_time = GetEndTime.timestamp\n  }\n\n  output
      {\n    File stdout = Hostname.out\n    Float execution_time_seconds = ValidateExecutionTime.duration_seconds\n
      \   Boolean within_time_limit = ValidateExecutionTime.within_limit\n  }\n\n
      \ parameter_meta {\n    docker_image: \"Docker image to run the task in (e.g.
      ubuntu:latest)\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask GetStartTime {\n  command
      <<<\n    date +%s.%N\n  >>>\n\n  output {\n    Float timestamp = read_float(stdout())\n
      \ }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n    cpu: 1\n    memory: \"1
      GB\"\n  }\n}\n\ntask GetEndTime {\n  input {\n    File hostname_done  # Add
      dependency on Hostname completion\n  }\n\n  command <<<\n    date +%s.%N\n  >>>\n\n
      \ output {\n    Float timestamp = read_float(stdout())\n  }\n\n  ru[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"43231778","attempt":1,"shardIndex":-1}]},"id":"9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"43231778","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"43231781","attempt":1,"shardIndex":-1}]},"id":"9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"43231778","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"43231781","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"43231783","attempt":1,"shardIndex":-1}]},"id":"9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"43231778","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"43231781","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"43231783","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"43231785","attempt":1,"shardIndex":-1}]},"id":"9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"43231778","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"43231781","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"43231783","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"43231785","attempt":1,"shardIndex":-1}]},"id":"9aa9dc07-2dfc-4ea1-a3f0-df7b0c2edd20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
