interactions:
- request:
    body: "--837bc67e16faa2a8e3bd7452ff045acd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/aa4f7537-0f75-4ba1-bb29-6cf946409788/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"aa4f7537-0f75-4ba1-bb29-6cf946409788"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/aa4f7537-0f75-4ba1-bb29-6cf946409788/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"49457351","attempt":1,"shardIndex":0},{"jobId":"49457352","attempt":1,"shardIndex":1}]},"id":"aa4f7537-0f75-4ba1-bb29-6cf946409788"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/aa4f7537-0f75-4ba1-bb29-6cf946409788/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"49457351","attempt":1,"shardIndex":0},{"jobId":"49457352","attempt":1,"shardIndex":1}]},"id":"aa4f7537-0f75-4ba1-bb29-6cf946409788"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
