interactions:
- request:
    body: "--08977a00e7c0986dc7f7b6125562e861\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--08977a00e7c0986dc7f7b6125562e861\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--08977a00e7c0986dc7f7b6125562e861--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=08977a00e7c0986dc7f7b6125562e861
    method: POST
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1
  response:
    body:
      string: '{"id":"3ddf0995-0d42-47c6-baff-a1b9570db0ef","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/3ddf0995-0d42-47c6-baff-a1b9570db0ef/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"3ddf0995-0d42-47c6-baff-a1b9570db0ef"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/3ddf0995-0d42-47c6-baff-a1b9570db0ef/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globSubdir.create_nested_files":[{"jobId":"49681540","attempt":1,"shardIndex":-1}]},"id":"3ddf0995-0d42-47c6-baff-a1b9570db0ef"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/3ddf0995-0d42-47c6-baff-a1b9570db0ef/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"49681540","attempt":1,"shardIndex":-1}]},"id":"3ddf0995-0d42-47c6-baff-a1b9570db0ef"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
