interactions:
- request:
    body: "--b6f5b13e892fcf117a6f4a603420ddde\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/aa42b997-a18f-4609-8d2a-4bd7aa028cfd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"aa42b997-a18f-4609-8d2a-4bd7aa028cfd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/aa42b997-a18f-4609-8d2a-4bd7aa028cfd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"40429076","attempt":1,"shardIndex":0},{"jobId":"40429075","attempt":1,"shardIndex":1},{"jobId":"40429077","attempt":1,"shardIndex":2}]},"id":"aa42b997-a18f-4609-8d2a-4bd7aa028cfd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/aa42b997-a18f-4609-8d2a-4bd7aa028cfd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"40429076","attempt":1,"shardIndex":0},{"jobId":"40429075","attempt":1,"shardIndex":1},{"jobId":"40429077","attempt":1,"shardIndex":2}]},"id":"aa42b997-a18f-4609-8d2a-4bd7aa028cfd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
