interactions:
- request:
    body: "--0a08137c9405c6f33864ce5f6a842636\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--0a08137c9405c6f33864ce5f6a842636\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0a08137c9405c6f33864ce5f6a842636--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0a08137c9405c6f33864ce5f6a842636
    method: POST
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1
  response:
    body:
      string: '{"id":"c9321d33-c3bc-4160-aab7-68e50d8b6afe","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/c9321d33-c3bc-4160-aab7-68e50d8b6afe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c9321d33-c3bc-4160-aab7-68e50d8b6afe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/c9321d33-c3bc-4160-aab7-68e50d8b6afe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"44782303","attempt":1,"shardIndex":-1}]},"id":"c9321d33-c3bc-4160-aab7-68e50d8b6afe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/c9321d33-c3bc-4160-aab7-68e50d8b6afe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"44782303","attempt":1,"shardIndex":-1}]},"id":"c9321d33-c3bc-4160-aab7-68e50d8b6afe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
