interactions:
- request:
    body: "--93af486f6010238d01a194e3b1f64feb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/127030fb-03ee-43bf-bb0c-e0d8d87d928c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"127030fb-03ee-43bf-bb0c-e0d8d87d928c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/127030fb-03ee-43bf-bb0c-e0d8d87d928c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"37629048","attempt":1,"shardIndex":0},{"jobId":"37629049","attempt":1,"shardIndex":1},{"jobId":"37629050","attempt":1,"shardIndex":2}]},"id":"127030fb-03ee-43bf-bb0c-e0d8d87d928c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/127030fb-03ee-43bf-bb0c-e0d8d87d928c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"37629048","attempt":1,"shardIndex":0},{"jobId":"37629049","attempt":1,"shardIndex":1},{"jobId":"37629050","attempt":1,"shardIndex":2}]},"id":"127030fb-03ee-43bf-bb0c-e0d8d87d928c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
