interactions:
- request:
    body: "--ce199d0ba38a9d1537f4177ab4318d21\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/e180aa46-3750-44a8-8389-b21423ce0f7b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e180aa46-3750-44a8-8389-b21423ce0f7b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/e180aa46-3750-44a8-8389-b21423ce0f7b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"25768333","attempt":1,"shardIndex":0},{"jobId":"25768331","attempt":1,"shardIndex":1},{"jobId":"25768332","attempt":1,"shardIndex":2}]},"id":"e180aa46-3750-44a8-8389-b21423ce0f7b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/e180aa46-3750-44a8-8389-b21423ce0f7b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"25768333","attempt":1,"shardIndex":0},{"jobId":"25768331","attempt":1,"shardIndex":1},{"jobId":"25768332","attempt":1,"shardIndex":2}]},"id":"e180aa46-3750-44a8-8389-b21423ce0f7b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
