interactions:
- request:
    body: "--2f574ec152a4935b960c1d6bfabd5074\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--2f574ec152a4935b960c1d6bfabd5074\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2f574ec152a4935b960c1d6bfabd5074--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2f574ec152a4935b960c1d6bfabd5074
    method: POST
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1
  response:
    body:
      string: '{"id":"d1818ac0-4ee3-40c3-8400-5538846bba81","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/d1818ac0-4ee3-40c3-8400-5538846bba81/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d1818ac0-4ee3-40c3-8400-5538846bba81"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/d1818ac0-4ee3-40c3-8400-5538846bba81/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"41577706","attempt":1,"shardIndex":-1}]},"id":"d1818ac0-4ee3-40c3-8400-5538846bba81"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/d1818ac0-4ee3-40c3-8400-5538846bba81/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"41577706","attempt":1,"shardIndex":-1}]},"id":"d1818ac0-4ee3-40c3-8400-5538846bba81"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
