interactions:
- request:
    body: "--30159115e9327a59b4060e92d6463a50\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/d30207f3-17d5-47bd-a7ec-72b7cd039eab/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d30207f3-17d5-47bd-a7ec-72b7cd039eab"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/d30207f3-17d5-47bd-a7ec-72b7cd039eab/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"25974488","attempt":1,"shardIndex":-1}]},"id":"d30207f3-17d5-47bd-a7ec-72b7cd039eab"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/d30207f3-17d5-47bd-a7ec-72b7cd039eab/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"25974488","attempt":1,"shardIndex":-1}]},"id":"d30207f3-17d5-47bd-a7ec-72b7cd039eab"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
