interactions:
- request:
    body: "--7ad935194bd7279fbb77edda62807238\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/6b82cdf9-2855-4608-9acc-a3db95e721aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6b82cdf9-2855-4608-9acc-a3db95e721aa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/6b82cdf9-2855-4608-9acc-a3db95e721aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"20758898","attempt":1,"shardIndex":-1}]},"id":"6b82cdf9-2855-4608-9acc-a3db95e721aa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/6b82cdf9-2855-4608-9acc-a3db95e721aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"20758898","attempt":1,"shardIndex":-1}]},"id":"6b82cdf9-2855-4608-9acc-a3db95e721aa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
