interactions:
- request:
    body: "--05a9aac0f8d5773b632e4864d7020d8e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/9a6db123-13f9-43e1-8188-fe0c13aea27f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9a6db123-13f9-43e1-8188-fe0c13aea27f"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/9a6db123-13f9-43e1-8188-fe0c13aea27f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"6091092","attempt":1,"shardIndex":0},{"jobId":"6091094","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"6091093","attempt":1,"shardIndex":-1}]},"id":"9a6db123-13f9-43e1-8188-fe0c13aea27f"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/9a6db123-13f9-43e1-8188-fe0c13aea27f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"6091137","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"6091092","attempt":1,"shardIndex":0},{"jobId":"6091094","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"6091093","attempt":1,"shardIndex":-1}]},"id":"9a6db123-13f9-43e1-8188-fe0c13aea27f"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/9a6db123-13f9-43e1-8188-fe0c13aea27f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"6091137","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"6091092","attempt":1,"shardIndex":0},{"jobId":"6091094","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"6091093","attempt":1,"shardIndex":-1}]},"id":"9a6db123-13f9-43e1-8188-fe0c13aea27f"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
