interactions:
- request:
    body: "--b113eee130780979889ad6747b4629a6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/6f0f10b9-4aef-4ff7-9ed8-096f4fb15941/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6f0f10b9-4aef-4ff7-9ed8-096f4fb15941"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/6f0f10b9-4aef-4ff7-9ed8-096f4fb15941/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"44085882","attempt":1,"shardIndex":-1}]},"id":"6f0f10b9-4aef-4ff7-9ed8-096f4fb15941"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/6f0f10b9-4aef-4ff7-9ed8-096f4fb15941/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"44085882","attempt":1,"shardIndex":-1}]},"id":"6f0f10b9-4aef-4ff7-9ed8-096f4fb15941"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
