interactions:
- request:
    body: "--ef052ced68d0a1ac42a89e24d353bda6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/e47fc58a-acb0-4286-a69f-3239731c95f8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e47fc58a-acb0-4286-a69f-3239731c95f8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/e47fc58a-acb0-4286-a69f-3239731c95f8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"45857652","attempt":1,"shardIndex":0},{"jobId":"45857653","attempt":1,"shardIndex":1},{"jobId":"45857651","attempt":1,"shardIndex":2}]},"id":"e47fc58a-acb0-4286-a69f-3239731c95f8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/e47fc58a-acb0-4286-a69f-3239731c95f8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"45857652","attempt":1,"shardIndex":0},{"jobId":"45857653","attempt":1,"shardIndex":1},{"jobId":"45857651","attempt":1,"shardIndex":2}]},"id":"e47fc58a-acb0-4286-a69f-3239731c95f8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
