interactions:
- request:
    body: "--70a7cee95dc185d444006bfa4b4015ae\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/5c3f1d3e-a5bd-478a-a24d-b2013e48f9a0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5c3f1d3e-a5bd-478a-a24d-b2013e48f9a0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/5c3f1d3e-a5bd-478a-a24d-b2013e48f9a0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"51854167","attempt":1,"shardIndex":0},{"jobId":"51854166","attempt":1,"shardIndex":1},{"jobId":"51854165","attempt":1,"shardIndex":2}]},"id":"5c3f1d3e-a5bd-478a-a24d-b2013e48f9a0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/5c3f1d3e-a5bd-478a-a24d-b2013e48f9a0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"51854167","attempt":1,"shardIndex":0},{"jobId":"51854166","attempt":1,"shardIndex":1},{"jobId":"51854165","attempt":1,"shardIndex":2}]},"id":"5c3f1d3e-a5bd-478a-a24d-b2013e48f9a0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
