interactions:
- request:
    body: "--4a3763627d80cb0c73c4f9b76b3616f8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--4a3763627d80cb0c73c4f9b76b3616f8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4a3763627d80cb0c73c4f9b76b3616f8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=4a3763627d80cb0c73c4f9b76b3616f8
    method: POST
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1
  response:
    body:
      string: '{"id":"543173a3-8b02-4d0d-a6b1-8058f53bfc95","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/543173a3-8b02-4d0d-a6b1-8058f53bfc95/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"543173a3-8b02-4d0d-a6b1-8058f53bfc95"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/543173a3-8b02-4d0d-a6b1-8058f53bfc95/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"43391614","attempt":1,"shardIndex":-1}]},"id":"543173a3-8b02-4d0d-a6b1-8058f53bfc95"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/543173a3-8b02-4d0d-a6b1-8058f53bfc95/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"43391614","attempt":1,"shardIndex":-1}]},"id":"543173a3-8b02-4d0d-a6b1-8058f53bfc95"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
