interactions:
- request:
    body: "--a0863161b30807e7f7f302524ccf2e65\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/96a9d629-1d72-417f-bbaa-bdfd749bb777/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"96a9d629-1d72-417f-bbaa-bdfd749bb777"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/96a9d629-1d72-417f-bbaa-bdfd749bb777/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"21708911","attempt":1,"shardIndex":-1}]},"id":"96a9d629-1d72-417f-bbaa-bdfd749bb777"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/96a9d629-1d72-417f-bbaa-bdfd749bb777/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"21708911","attempt":1,"shardIndex":-1}]},"id":"96a9d629-1d72-417f-bbaa-bdfd749bb777"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
