interactions:
- request:
    body: "--47e43570e48ec43d3553c67e3c55be5d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--47e43570e48ec43d3553c67e3c55be5d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--47e43570e48ec43d3553c67e3c55be5d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=47e43570e48ec43d3553c67e3c55be5d
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"61270948-2320-4241-ab92-75200d8888a8","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/61270948-2320-4241-ab92-75200d8888a8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 61270948-2320-4241-ab92-75200d8888a8\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/61270948-2320-4241-ab92-75200d8888a8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"61270948-2320-4241-ab92-75200d8888a8"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
