interactions:
- request:
    body: "--edf8ea18624a96870969aa836b3a4e8c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/ae616621-1fc5-4db3-bfc6-e69453bfd452/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ae616621-1fc5-4db3-bfc6-e69453bfd452"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/ae616621-1fc5-4db3-bfc6-e69453bfd452/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"9972733","attempt":1,"shardIndex":0},{"jobId":"9972734","attempt":1,"shardIndex":1},{"jobId":"9972735","attempt":1,"shardIndex":2}]},"id":"ae616621-1fc5-4db3-bfc6-e69453bfd452"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/ae616621-1fc5-4db3-bfc6-e69453bfd452/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"9972733","attempt":1,"shardIndex":0},{"jobId":"9972734","attempt":1,"shardIndex":1},{"jobId":"9972735","attempt":1,"shardIndex":2}]},"id":"ae616621-1fc5-4db3-bfc6-e69453bfd452"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
