interactions:
- request:
    body: "--8ff688770b8a9088e532b02107bb7392\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/c583ed49-e4b1-4e24-aeec-6bd4e39967cb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c583ed49-e4b1-4e24-aeec-6bd4e39967cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/c583ed49-e4b1-4e24-aeec-6bd4e39967cb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"52338838","attempt":1,"shardIndex":0},{"jobId":"52338840","attempt":1,"shardIndex":1},{"jobId":"52338839","attempt":1,"shardIndex":2}]},"id":"c583ed49-e4b1-4e24-aeec-6bd4e39967cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/c583ed49-e4b1-4e24-aeec-6bd4e39967cb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"52338838","attempt":1,"shardIndex":0},{"jobId":"52338840","attempt":1,"shardIndex":1},{"jobId":"52338839","attempt":1,"shardIndex":2}]},"id":"c583ed49-e4b1-4e24-aeec-6bd4e39967cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
