interactions:
- request:
    body: "--eb098fceb2560177895e30b4b8014162\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/76717a3f-a26d-4cd5-90e1-24d1fb67d089/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"76717a3f-a26d-4cd5-90e1-24d1fb67d089"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/76717a3f-a26d-4cd5-90e1-24d1fb67d089/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"43906083","attempt":1,"shardIndex":0},{"jobId":"43906082","attempt":1,"shardIndex":1},{"jobId":"43906084","attempt":1,"shardIndex":2}]},"id":"76717a3f-a26d-4cd5-90e1-24d1fb67d089"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/76717a3f-a26d-4cd5-90e1-24d1fb67d089/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"43906083","attempt":1,"shardIndex":0},{"jobId":"43906082","attempt":1,"shardIndex":1},{"jobId":"43906084","attempt":1,"shardIndex":2}]},"id":"76717a3f-a26d-4cd5-90e1-24d1fb67d089"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
