interactions:
- request:
    body: "--39a9cca19244c1bdcfbeb732d2afbf1c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--39a9cca19244c1bdcfbeb732d2afbf1c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--39a9cca19244c1bdcfbeb732d2afbf1c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=39a9cca19244c1bdcfbeb732d2afbf1c
    method: POST
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1
  response:
    body:
      string: '{"id":"6fbb55e3-1195-4a39-b6d8-b5ab4c043dd6","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/6fbb55e3-1195-4a39-b6d8-b5ab4c043dd6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6fbb55e3-1195-4a39-b6d8-b5ab4c043dd6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/6fbb55e3-1195-4a39-b6d8-b5ab4c043dd6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"18672644","attempt":1,"shardIndex":-1}]},"id":"6fbb55e3-1195-4a39-b6d8-b5ab4c043dd6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/6fbb55e3-1195-4a39-b6d8-b5ab4c043dd6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"18672644","attempt":1,"shardIndex":-1}]},"id":"6fbb55e3-1195-4a39-b6d8-b5ab4c043dd6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
