interactions:
- request:
    body: "--cbcea69a20806ee016bcd76254ed5356\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/29dbcea5-f300-479c-8445-5350bd707263/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"29dbcea5-f300-479c-8445-5350bd707263"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/29dbcea5-f300-479c-8445-5350bd707263/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"29797169","attempt":1,"shardIndex":0},{"jobId":"29797168","attempt":1,"shardIndex":1}]},"id":"29dbcea5-f300-479c-8445-5350bd707263"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/29dbcea5-f300-479c-8445-5350bd707263/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"29797169","attempt":1,"shardIndex":0},{"jobId":"29797168","attempt":1,"shardIndex":1}]},"id":"29dbcea5-f300-479c-8445-5350bd707263"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
