interactions:
- request:
    body: "--ec2d8afa82b346c137cd17607627a7e1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/7bb7d39e-d464-42b0-9bcf-b76f4a9001c8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7bb7d39e-d464-42b0-9bcf-b76f4a9001c8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/7bb7d39e-d464-42b0-9bcf-b76f4a9001c8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"43905958","attempt":1,"shardIndex":0},{"jobId":"43905960","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43905959","attempt":1,"shardIndex":-1}]},"id":"7bb7d39e-d464-42b0-9bcf-b76f4a9001c8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/7bb7d39e-d464-42b0-9bcf-b76f4a9001c8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"43905970","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"43905958","attempt":1,"shardIndex":0},{"jobId":"43905960","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43905959","attempt":1,"shardIndex":-1}]},"id":"7bb7d39e-d464-42b0-9bcf-b76f4a9001c8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/7bb7d39e-d464-42b0-9bcf-b76f4a9001c8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"43905970","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"43905958","attempt":1,"shardIndex":0},{"jobId":"43905960","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"43905959","attempt":1,"shardIndex":-1}]},"id":"7bb7d39e-d464-42b0-9bcf-b76f4a9001c8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
