interactions:
- request:
    body: "--5fe7194f505f5789800972cdfad8bc24\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/36e63f0e-c94f-4bac-9fd6-4e0c66191540/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"36e63f0e-c94f-4bac-9fd6-4e0c66191540"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/36e63f0e-c94f-4bac-9fd6-4e0c66191540/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"30945329","attempt":1,"shardIndex":-1}]},"id":"36e63f0e-c94f-4bac-9fd6-4e0c66191540"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/36e63f0e-c94f-4bac-9fd6-4e0c66191540/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"30945329","attempt":1,"shardIndex":-1}]},"id":"36e63f0e-c94f-4bac-9fd6-4e0c66191540"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
