interactions:
- request:
    body: "--09a0ed3a4355ea366888963c60d2b704\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--09a0ed3a4355ea366888963c60d2b704\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--09a0ed3a4355ea366888963c60d2b704--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=09a0ed3a4355ea366888963c60d2b704
    method: POST
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1
  response:
    body:
      string: '{"id":"ee29379f-46ca-4322-800c-5063e7b71a1f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/ee29379f-46ca-4322-800c-5063e7b71a1f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ee29379f-46ca-4322-800c-5063e7b71a1f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/ee29379f-46ca-4322-800c-5063e7b71a1f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"35143648","attempt":1,"shardIndex":-1}]},"id":"ee29379f-46ca-4322-800c-5063e7b71a1f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/ee29379f-46ca-4322-800c-5063e7b71a1f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"35143648","attempt":1,"shardIndex":-1}]},"id":"ee29379f-46ca-4322-800c-5063e7b71a1f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
