interactions:
- request:
    body: "--b2cdc4fff39c21ed6476e829e3e9db20\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--b2cdc4fff39c21ed6476e829e3e9db20\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b2cdc4fff39c21ed6476e829e3e9db20--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b2cdc4fff39c21ed6476e829e3e9db20
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"e7ca2f55-0947-46c3-94b9-dcf4de659ed7","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/e7ca2f55-0947-46c3-94b9-dcf4de659ed7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e7ca2f55-0947-46c3-94b9-dcf4de659ed7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/e7ca2f55-0947-46c3-94b9-dcf4de659ed7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"HelloHostname.Hostname":[{"jobId":"3543276","attempt":1,"shardIndex":-1}]},"id":"e7ca2f55-0947-46c3-94b9-dcf4de659ed7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/e7ca2f55-0947-46c3-94b9-dcf4de659ed7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"3543276","attempt":1,"shardIndex":-1}]},"id":"e7ca2f55-0947-46c3-94b9-dcf4de659ed7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
