interactions:
- request:
    body: "--0ca6ff01c7b1fa5191e87e6017b1647a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/16f67c60-16d7-4b70-a6d0-3fc852304b79/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"16f67c60-16d7-4b70-a6d0-3fc852304b79"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/16f67c60-16d7-4b70-a6d0-3fc852304b79/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"25546575","attempt":1,"shardIndex":0},{"jobId":"25546574","attempt":1,"shardIndex":1},{"jobId":"25546573","attempt":1,"shardIndex":2}]},"id":"16f67c60-16d7-4b70-a6d0-3fc852304b79"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/16f67c60-16d7-4b70-a6d0-3fc852304b79/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"25546575","attempt":1,"shardIndex":0},{"jobId":"25546574","attempt":1,"shardIndex":1},{"jobId":"25546573","attempt":1,"shardIndex":2}]},"id":"16f67c60-16d7-4b70-a6d0-3fc852304b79"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
