interactions:
- request:
    body: "--ad6c99d5ee059706b873269d22418caa\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/d30a56ba-497c-461c-a016-973bc0032506/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d30a56ba-497c-461c-a016-973bc0032506"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/d30a56ba-497c-461c-a016-973bc0032506/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"27403987","attempt":1,"shardIndex":0},{"jobId":"27403988","attempt":1,"shardIndex":1}]},"id":"d30a56ba-497c-461c-a016-973bc0032506"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/d30a56ba-497c-461c-a016-973bc0032506/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"27403987","attempt":1,"shardIndex":0},{"jobId":"27403988","attempt":1,"shardIndex":1}]},"id":"d30a56ba-497c-461c-a016-973bc0032506"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
