interactions:
- request:
    body: "--e594af8a749f7f3d7615f98f4debced9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--e594af8a749f7f3d7615f98f4debced9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e594af8a749f7f3d7615f98f4debced9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e594af8a749f7f3d7615f98f4debced9
    method: POST
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1
  response:
    body:
      string: '{"id":"b2857539-0b97-41ae-b639-397aeaf899fc","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/b2857539-0b97-41ae-b639-397aeaf899fc/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b2857539-0b97-41ae-b639-397aeaf899fc"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/b2857539-0b97-41ae-b639-397aeaf899fc/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globSubdir.create_nested_files":[{"jobId":"42372189","attempt":1,"shardIndex":-1}]},"id":"b2857539-0b97-41ae-b639-397aeaf899fc"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/b2857539-0b97-41ae-b639-397aeaf899fc/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"42372189","attempt":1,"shardIndex":-1}]},"id":"b2857539-0b97-41ae-b639-397aeaf899fc"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
