interactions:
- request:
    body: "--9597fd2fbc065b92e85888028b7ad972\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--9597fd2fbc065b92e85888028b7ad972\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9597fd2fbc065b92e85888028b7ad972--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9597fd2fbc065b92e85888028b7ad972
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"d2e6a576-345c-499a-af45-fec4e3c51d5a","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/d2e6a576-345c-499a-af45-fec4e3c51d5a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d2e6a576-345c-499a-af45-fec4e3c51d5a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/d2e6a576-345c-499a-af45-fec4e3c51d5a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"64209455","attempt":1,"shardIndex":-1}]},"id":"d2e6a576-345c-499a-af45-fec4e3c51d5a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/d2e6a576-345c-499a-af45-fec4e3c51d5a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"64209455","attempt":1,"shardIndex":-1}]},"id":"d2e6a576-345c-499a-af45-fec4e3c51d5a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
