interactions:
- request:
    body: "--9b9dadcd1c79cb6a316e36e3e92a1f4e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/7049c08e-122c-4705-90ce-97cd276ce8b0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7049c08e-122c-4705-90ce-97cd276ce8b0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/7049c08e-122c-4705-90ce-97cd276ce8b0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"42372014","attempt":1,"shardIndex":0},{"jobId":"42372013","attempt":1,"shardIndex":1},{"jobId":"42372015","attempt":1,"shardIndex":2}]},"id":"7049c08e-122c-4705-90ce-97cd276ce8b0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/7049c08e-122c-4705-90ce-97cd276ce8b0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"42372014","attempt":1,"shardIndex":0},{"jobId":"42372013","attempt":1,"shardIndex":1},{"jobId":"42372015","attempt":1,"shardIndex":2}]},"id":"7049c08e-122c-4705-90ce-97cd276ce8b0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
