interactions:
- request:
    body: "--ca6722d625c1dc66e682b7eeb5d97bc8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/844354b9-b539-4a1c-9d04-2ba9faeef3c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"844354b9-b539-4a1c-9d04-2ba9faeef3c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/844354b9-b539-4a1c-9d04-2ba9faeef3c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"53131538","attempt":1,"shardIndex":0},{"jobId":"53131536","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"53131537","attempt":1,"shardIndex":-1}]},"id":"844354b9-b539-4a1c-9d04-2ba9faeef3c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/844354b9-b539-4a1c-9d04-2ba9faeef3c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"53131562","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"53131538","attempt":1,"shardIndex":0},{"jobId":"53131536","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"53131537","attempt":1,"shardIndex":-1}]},"id":"844354b9-b539-4a1c-9d04-2ba9faeef3c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/844354b9-b539-4a1c-9d04-2ba9faeef3c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"53131562","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"53131538","attempt":1,"shardIndex":0},{"jobId":"53131536","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"53131537","attempt":1,"shardIndex":-1}]},"id":"844354b9-b539-4a1c-9d04-2ba9faeef3c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
