interactions:
- request:
    body: "--796d83129e229fef7426331cd1c502e2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/9a0d239a-0e5f-49fc-a483-0d6aef145f7d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9a0d239a-0e5f-49fc-a483-0d6aef145f7d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/9a0d239a-0e5f-49fc-a483-0d6aef145f7d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"44782267","attempt":1,"shardIndex":0},{"jobId":"44782266","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"44782265","attempt":1,"shardIndex":-1}]},"id":"9a0d239a-0e5f-49fc-a483-0d6aef145f7d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/9a0d239a-0e5f-49fc-a483-0d6aef145f7d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"44782281","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"44782267","attempt":1,"shardIndex":0},{"jobId":"44782266","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"44782265","attempt":1,"shardIndex":-1}]},"id":"9a0d239a-0e5f-49fc-a483-0d6aef145f7d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/9a0d239a-0e5f-49fc-a483-0d6aef145f7d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"44782281","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"44782267","attempt":1,"shardIndex":0},{"jobId":"44782266","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"44782265","attempt":1,"shardIndex":-1}]},"id":"9a0d239a-0e5f-49fc-a483-0d6aef145f7d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
