interactions:
- request:
    body: "--4432261cf96d24a600d9d44941ce1885\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/96ee4c8a-c34e-4d2a-920e-00a9df536c82/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"96ee4c8a-c34e-4d2a-920e-00a9df536c82"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/96ee4c8a-c34e-4d2a-920e-00a9df536c82/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"51043304","attempt":1,"shardIndex":0},{"jobId":"51043302","attempt":1,"shardIndex":1}]},"id":"96ee4c8a-c34e-4d2a-920e-00a9df536c82"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/96ee4c8a-c34e-4d2a-920e-00a9df536c82/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"51043304","attempt":1,"shardIndex":0},{"jobId":"51043302","attempt":1,"shardIndex":1}]},"id":"96ee4c8a-c34e-4d2a-920e-00a9df536c82"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
