interactions:
- request:
    body: "--b3c1908f66192c5e4125cf91fe5147a1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/d6d6870c-a215-40c6-aaf2-8b089ab20bb9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d6d6870c-a215-40c6-aaf2-8b089ab20bb9"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/d6d6870c-a215-40c6-aaf2-8b089ab20bb9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"8627659","attempt":1,"shardIndex":0},{"jobId":"8627660","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"8627661","attempt":1,"shardIndex":-1}]},"id":"d6d6870c-a215-40c6-aaf2-8b089ab20bb9"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/d6d6870c-a215-40c6-aaf2-8b089ab20bb9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"8627672","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"8627659","attempt":1,"shardIndex":0},{"jobId":"8627660","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"8627661","attempt":1,"shardIndex":-1}]},"id":"d6d6870c-a215-40c6-aaf2-8b089ab20bb9"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/d6d6870c-a215-40c6-aaf2-8b089ab20bb9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"8627672","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"8627659","attempt":1,"shardIndex":0},{"jobId":"8627660","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"8627661","attempt":1,"shardIndex":-1}]},"id":"d6d6870c-a215-40c6-aaf2-8b089ab20bb9"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
