interactions:
- request:
    body: "--141612d91f96ce2d0983ceac76120c39\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--141612d91f96ce2d0983ceac76120c39\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--141612d91f96ce2d0983ceac76120c39--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=141612d91f96ce2d0983ceac76120c39
    method: POST
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1
  response:
    body:
      string: '{"id":"12bf15d7-5f4a-467d-b4e8-deeca7cb75e0","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/12bf15d7-5f4a-467d-b4e8-deeca7cb75e0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"12bf15d7-5f4a-467d-b4e8-deeca7cb75e0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/12bf15d7-5f4a-467d-b4e8-deeca7cb75e0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"53131543","attempt":1,"shardIndex":-1}]},"id":"12bf15d7-5f4a-467d-b4e8-deeca7cb75e0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/12bf15d7-5f4a-467d-b4e8-deeca7cb75e0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"53131543","attempt":1,"shardIndex":-1}]},"id":"12bf15d7-5f4a-467d-b4e8-deeca7cb75e0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
