interactions:
- request:
    body: "--8aad9a3f9e61d2af5828b7ccdcb923cb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--8aad9a3f9e61d2af5828b7ccdcb923cb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8aad9a3f9e61d2af5828b7ccdcb923cb--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=8aad9a3f9e61d2af5828b7ccdcb923cb
    method: POST
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1
  response:
    body:
      string: '{"id":"1f78a484-ef6a-47b4-a5e1-276a8a46f515","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/1f78a484-ef6a-47b4-a5e1-276a8a46f515/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"1f78a484-ef6a-47b4-a5e1-276a8a46f515"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/1f78a484-ef6a-47b4-a5e1-276a8a46f515/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"41577714","attempt":1,"shardIndex":-1}]},"id":"1f78a484-ef6a-47b4-a5e1-276a8a46f515"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/1f78a484-ef6a-47b4-a5e1-276a8a46f515/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"41577714","attempt":1,"shardIndex":-1}]},"id":"1f78a484-ef6a-47b4-a5e1-276a8a46f515"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
