interactions:
- request:
    body: "--2001d1eaf495c1376669fedd0cc1f8b9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--2001d1eaf495c1376669fedd0cc1f8b9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2001d1eaf495c1376669fedd0cc1f8b9--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=2001d1eaf495c1376669fedd0cc1f8b9
    method: POST
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1
  response:
    body:
      string: '{"id":"899c090b-ed07-45bc-9534-36ef89cfe8df","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/899c090b-ed07-45bc-9534-36ef89cfe8df/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"899c090b-ed07-45bc-9534-36ef89cfe8df"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/899c090b-ed07-45bc-9534-36ef89cfe8df/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"51407819","attempt":1,"shardIndex":-1}]},"id":"899c090b-ed07-45bc-9534-36ef89cfe8df"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/899c090b-ed07-45bc-9534-36ef89cfe8df/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"51407819","attempt":1,"shardIndex":-1}]},"id":"899c090b-ed07-45bc-9534-36ef89cfe8df"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
