interactions:
- request:
    body: "--3499431e9ca9f2dd28a5c70c8d53a826\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4f30cd6c-f083-4136-beb7-75a623f0d1aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4f30cd6c-f083-4136-beb7-75a623f0d1aa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4f30cd6c-f083-4136-beb7-75a623f0d1aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"41882001","attempt":1,"shardIndex":0},{"jobId":"41882000","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41882002","attempt":1,"shardIndex":-1}]},"id":"4f30cd6c-f083-4136-beb7-75a623f0d1aa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4f30cd6c-f083-4136-beb7-75a623f0d1aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"41882021","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"41882001","attempt":1,"shardIndex":0},{"jobId":"41882000","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41882002","attempt":1,"shardIndex":-1}]},"id":"4f30cd6c-f083-4136-beb7-75a623f0d1aa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4f30cd6c-f083-4136-beb7-75a623f0d1aa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"41882021","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"41882001","attempt":1,"shardIndex":0},{"jobId":"41882000","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"41882002","attempt":1,"shardIndex":-1}]},"id":"4f30cd6c-f083-4136-beb7-75a623f0d1aa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
