interactions:
- request:
    body: "--f352bc23c7af2481547811a8f408260b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--f352bc23c7af2481547811a8f408260b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f352bc23c7af2481547811a8f408260b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f352bc23c7af2481547811a8f408260b
    method: POST
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1
  response:
    body:
      string: '{"id":"58dbe189-b34b-4652-9a1e-632e689d9e8c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/58dbe189-b34b-4652-9a1e-632e689d9e8c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"58dbe189-b34b-4652-9a1e-632e689d9e8c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/58dbe189-b34b-4652-9a1e-632e689d9e8c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"41882076","attempt":1,"shardIndex":-1}]},"id":"58dbe189-b34b-4652-9a1e-632e689d9e8c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/58dbe189-b34b-4652-9a1e-632e689d9e8c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"41882076","attempt":1,"shardIndex":-1}]},"id":"58dbe189-b34b-4652-9a1e-632e689d9e8c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
