interactions:
- request:
    body: "--f1aa8cce300a4d08749ce8fa7050eb11\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--f1aa8cce300a4d08749ce8fa7050eb11\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f1aa8cce300a4d08749ce8fa7050eb11--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=f1aa8cce300a4d08749ce8fa7050eb11
    method: POST
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1
  response:
    body:
      string: '{"id":"824df06a-d713-4c4d-bf54-80e6dddb6c93","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/824df06a-d713-4c4d-bf54-80e6dddb6c93/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"824df06a-d713-4c4d-bf54-80e6dddb6c93"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/824df06a-d713-4c4d-bf54-80e6dddb6c93/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"50539182","attempt":1,"shardIndex":-1}]},"id":"824df06a-d713-4c4d-bf54-80e6dddb6c93"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/824df06a-d713-4c4d-bf54-80e6dddb6c93/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"50539182","attempt":1,"shardIndex":-1}]},"id":"824df06a-d713-4c4d-bf54-80e6dddb6c93"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
