interactions:
- request:
    body: "--8517b4d51cda46fb471d836bded74ded\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/aa49b6f9-e0e3-4ab7-9674-abfda3e3c104/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"aa49b6f9-e0e3-4ab7-9674-abfda3e3c104"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/aa49b6f9-e0e3-4ab7-9674-abfda3e3c104/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"10023310","attempt":1,"shardIndex":0},{"jobId":"10023311","attempt":1,"shardIndex":1},{"jobId":"10023312","attempt":1,"shardIndex":2}]},"id":"aa49b6f9-e0e3-4ab7-9674-abfda3e3c104"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/aa49b6f9-e0e3-4ab7-9674-abfda3e3c104/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"10023310","attempt":1,"shardIndex":0},{"jobId":"10023311","attempt":1,"shardIndex":1},{"jobId":"10023312","attempt":1,"shardIndex":2}]},"id":"aa49b6f9-e0e3-4ab7-9674-abfda3e3c104"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
