interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/f62e7bc0-4126-4d53-914a-7d22d08ca48d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"18560630","attempt":1,"shardIndex":-1}]},"id":"f62e7bc0-4126-4d53-914a-7d22d08ca48d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/42879a94-970b-493f-b8c9-28dfa71de0d8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"18560583","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"18560588","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"18560589","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"18560582","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"18560587","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"18560586","attempt":1,"shardIndex":0},{"jobId":"18560584","attempt":1,"shardIndex":1},{"jobId":"18560585","attempt":1,"shardIndex":2}]},"id":"42879a94-970b-493f-b8c9-28dfa71de0d8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/ed9d9cec-efad-4ce0-8c4d-6d8dc280db13/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"18560623","attempt":1,"shardIndex":-1}]},"id":"ed9d9cec-efad-4ce0-8c4d-6d8dc280db13"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/18303a4e-5478-4686-b6ab-1511824e9e30/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"18560576","attempt":1,"shardIndex":-1}]},"id":"18303a4e-5478-4686-b6ab-1511824e9e30"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/bf2ad5d0-e0f0-4d56-b2d8-e6c48b236193/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"18560624","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"18560619","attempt":1,"shardIndex":0},{"jobId":"18560620","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"18560618","attempt":1,"shardIndex":-1}]},"id":"bf2ad5d0-e0f0-4d56-b2d8-e6c48b236193"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/f5d9bff7-3a48-4514-811c-4ddbddbd88ae/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"18560628","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"18560631","attempt":1,"shardIndex":-1}]},"id":"f5d9bff7-3a48-4514-811c-4ddbddbd88ae"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/7d1371f5-0491-4dfa-a5fc-fc7ed8786bcd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSymlink.create_nested_files":[{"jobId":"18560609","attempt":1,"shardIndex":-1}]},"id":"7d1371f5-0491-4dfa-a5fc-fc7ed8786bcd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/eea7cd5e-25da-43bf-853c-3eb389f4e047/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"18560625","attempt":1,"shardIndex":-1}]},"id":"eea7cd5e-25da-43bf-853c-3eb389f4e047"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/1115d6ba-8fda-40e4-b003-89ed5f58c7fa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"18560575","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"18560578","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"18560596","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"18560605","attempt":1,"shardIndex":-1}]},"id":"1115d6ba-8fda-40e4-b003-89ed5f58c7fa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/27abe8a0-8161-4395-98cf-6588cfbc8957/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"18560581","attempt":1,"shardIndex":-1}]},"id":"27abe8a0-8161-4395-98cf-6588cfbc8957"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/9246c09c-5019-45f8-a278-39dd958d3da5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"18560611","attempt":1,"shardIndex":0},{"jobId":"18560610","attempt":1,"shardIndex":1}]},"id":"9246c09c-5019-45f8-a278-39dd958d3da5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/641e14ab-8619-4d66-9ade-b9fe078bbfbf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"18560606","attempt":1,"shardIndex":-1}]},"id":"641e14ab-8619-4d66-9ade-b9fe078bbfbf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44462c12-e263-42c7-a445-259312edcc89/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"18560601","attempt":1,"shardIndex":0},{"jobId":"18560599","attempt":1,"shardIndex":1},{"jobId":"18560600","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"18560598","attempt":1,"shardIndex":0},{"jobId":"18560602","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"18560607","attempt":1,"shardIndex":-1}]},"id":"44462c12-e263-42c7-a445-259312edcc89"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/9974349c-57f7-4dfa-bf9c-cb1abe8a71d2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"18560615","attempt":1,"shardIndex":0},{"jobId":"18560614","attempt":1,"shardIndex":1},{"jobId":"18560616","attempt":1,"shardIndex":2}]},"id":"9974349c-57f7-4dfa-bf9c-cb1abe8a71d2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/630e31a0-9d59-46bd-b52c-938f13d6040d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"18560604","attempt":1,"shardIndex":-1}]},"id":"630e31a0-9d59-46bd-b52c-938f13d6040d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
