interactions:
- request:
    body: "--2a24a5ea8c6498d63764f93c3ebd0488\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/6c2c4e85-7275-4205-8f97-8d0251d80a5a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6c2c4e85-7275-4205-8f97-8d0251d80a5a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/6c2c4e85-7275-4205-8f97-8d0251d80a5a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"25546652","attempt":1,"shardIndex":0},{"jobId":"25546650","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25546651","attempt":1,"shardIndex":-1}]},"id":"6c2c4e85-7275-4205-8f97-8d0251d80a5a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/6c2c4e85-7275-4205-8f97-8d0251d80a5a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"25546669","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"25546652","attempt":1,"shardIndex":0},{"jobId":"25546650","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25546651","attempt":1,"shardIndex":-1}]},"id":"6c2c4e85-7275-4205-8f97-8d0251d80a5a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/6c2c4e85-7275-4205-8f97-8d0251d80a5a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"25546669","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"25546652","attempt":1,"shardIndex":0},{"jobId":"25546650","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"25546651","attempt":1,"shardIndex":-1}]},"id":"6c2c4e85-7275-4205-8f97-8d0251d80a5a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
