interactions:
- request:
    body: "--70162a4a507f12aecad1e35242468b2e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"mapTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow enhanced_map_test {\n    input {\n        # Original inputs\n
      \       Array[String] samples\n        Map[String, String] sample_metadata\n
      \       Map[String, Int] read_lengths\n\n        # New test inputs\n        Map[String,
      Map[String, String]] nested_map = {\n            \"patient1\": {\n                \"sample1\":
      \"normal\",\n                \"sample2\": \"tumor\"\n            },\n            \"patient2\":
      {\n                \"sample3\": \"normal\",\n                \"sample4\": \"tumor\"\n
      \           }\n        }\n        # We need to provide keys as arrays since
      WDL 1.0 doesn't have a keys() function\n        Array[String] patient_ids =
      [\"patient1\", \"patient2\"]\n    }\n\n    # Test nested map processing\n    scatter
      (patient_id in patient_ids) {\n        call process_nested_map {\n            input:\n
      \               patient_id = patient_id,\n                patient_data = nested_map[patient_id],\n
      \               # We need to[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/f3ef4cbc-e55a-4960-838a-8b72b40e8415/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f3ef4cbc-e55a-4960-838a-8b72b40e8415"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/f3ef4cbc-e55a-4960-838a-8b72b40e8415/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"enhanced_map_test.process_nested_map":[{"jobId":"25546588","attempt":1,"shardIndex":0},{"jobId":"25546587","attempt":1,"shardIndex":1}],"enhanced_map_test.process_sample":[{"jobId":"25546586","attempt":1,"shardIndex":0},{"jobId":"25546585","attempt":1,"shardIndex":1},{"jobId":"25546589","attempt":1,"shardIndex":2}]},"id":"f3ef4cbc-e55a-4960-838a-8b72b40e8415"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/f3ef4cbc-e55a-4960-838a-8b72b40e8415/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"enhanced_map_test.process_sample":[{"jobId":"25546586","attempt":1,"shardIndex":0},{"jobId":"25546585","attempt":1,"shardIndex":1},{"jobId":"25546589","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"25546588","attempt":1,"shardIndex":0},{"jobId":"25546587","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"25546604","attempt":1,"shardIndex":-1}]},"id":"f3ef4cbc-e55a-4960-838a-8b72b40e8415"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/f3ef4cbc-e55a-4960-838a-8b72b40e8415/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"25546586","attempt":1,"shardIndex":0},{"jobId":"25546585","attempt":1,"shardIndex":1},{"jobId":"25546589","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"25546588","attempt":1,"shardIndex":0},{"jobId":"25546587","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"25546604","attempt":1,"shardIndex":-1}]},"id":"f3ef4cbc-e55a-4960-838a-8b72b40e8415"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
