interactions:
- request:
    body: "--5e4bc9e4e2b67075aa878463f0e1ec41\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/34c87c74-9038-4500-a75a-1cece5efc693/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"34c87c74-9038-4500-a75a-1cece5efc693"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/34c87c74-9038-4500-a75a-1cece5efc693/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"62606664","attempt":1,"shardIndex":0},{"jobId":"62606665","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"62606666","attempt":1,"shardIndex":-1}]},"id":"34c87c74-9038-4500-a75a-1cece5efc693"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/34c87c74-9038-4500-a75a-1cece5efc693/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"62606705","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"62606664","attempt":1,"shardIndex":0},{"jobId":"62606665","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"62606666","attempt":1,"shardIndex":-1}]},"id":"34c87c74-9038-4500-a75a-1cece5efc693"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/34c87c74-9038-4500-a75a-1cece5efc693/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"62606705","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"62606664","attempt":1,"shardIndex":0},{"jobId":"62606665","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"62606666","attempt":1,"shardIndex":-1}]},"id":"34c87c74-9038-4500-a75a-1cece5efc693"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
