interactions:
- request:
    body: "--48d04ec8453c5f7587fd1578fbdce077\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--48d04ec8453c5f7587fd1578fbdce077\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--48d04ec8453c5f7587fd1578fbdce077--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=48d04ec8453c5f7587fd1578fbdce077
    method: POST
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1
  response:
    body:
      string: '{"id":"159d1c4e-7ef3-4671-8453-8b48e0d538da","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/159d1c4e-7ef3-4671-8453-8b48e0d538da/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 159d1c4e-7ef3-4671-8453-8b48e0d538da\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/159d1c4e-7ef3-4671-8453-8b48e0d538da/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"159d1c4e-7ef3-4671-8453-8b48e0d538da"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
