interactions:
- request:
    body: "--2a92f23edae4fe909edbab3019af307e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/cd1d1817-bc82-47d7-8479-474e0cfe3d98/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"cd1d1817-bc82-47d7-8479-474e0cfe3d98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/cd1d1817-bc82-47d7-8479-474e0cfe3d98/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"29236917","attempt":1,"shardIndex":0},{"jobId":"29236915","attempt":1,"shardIndex":1},{"jobId":"29236916","attempt":1,"shardIndex":2}]},"id":"cd1d1817-bc82-47d7-8479-474e0cfe3d98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/cd1d1817-bc82-47d7-8479-474e0cfe3d98/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"29236917","attempt":1,"shardIndex":0},{"jobId":"29236915","attempt":1,"shardIndex":1},{"jobId":"29236916","attempt":1,"shardIndex":2}]},"id":"cd1d1817-bc82-47d7-8479-474e0cfe3d98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
