interactions:
- request:
    body: "--d60df7ecf16e9e3a0a415fd605d1bbf0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--d60df7ecf16e9e3a0a415fd605d1bbf0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d60df7ecf16e9e3a0a415fd605d1bbf0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d60df7ecf16e9e3a0a415fd605d1bbf0
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"6d26e8c9-1107-423f-a876-ece36a9a5b97","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/6d26e8c9-1107-423f-a876-ece36a9a5b97/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6d26e8c9-1107-423f-a876-ece36a9a5b97"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/6d26e8c9-1107-423f-a876-ece36a9a5b97/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"25768586","attempt":1,"shardIndex":-1}]},"id":"6d26e8c9-1107-423f-a876-ece36a9a5b97"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/6d26e8c9-1107-423f-a876-ece36a9a5b97/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"25768586","attempt":1,"shardIndex":-1}]},"id":"6d26e8c9-1107-423f-a876-ece36a9a5b97"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
