interactions:
- request:
    body: "--d6d94941ac6f75fa1bfceaf69fe16ae9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--d6d94941ac6f75fa1bfceaf69fe16ae9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d6d94941ac6f75fa1bfceaf69fe16ae9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d6d94941ac6f75fa1bfceaf69fe16ae9
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"ae1f6a40-b365-47f9-af3b-63437c58d17b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/ae1f6a40-b365-47f9-af3b-63437c58d17b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ae1f6a40-b365-47f9-af3b-63437c58d17b\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/ae1f6a40-b365-47f9-af3b-63437c58d17b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ae1f6a40-b365-47f9-af3b-63437c58d17b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
