interactions:
- request:
    body: "--d763bb4f2cb22b9782679c472939f61b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/75c15f71-64dd-49bd-b7db-8846240616cd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"75c15f71-64dd-49bd-b7db-8846240616cd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/75c15f71-64dd-49bd-b7db-8846240616cd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"51706258","attempt":1,"shardIndex":0},{"jobId":"51706257","attempt":1,"shardIndex":1},{"jobId":"51706259","attempt":1,"shardIndex":2}]},"id":"75c15f71-64dd-49bd-b7db-8846240616cd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/75c15f71-64dd-49bd-b7db-8846240616cd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"51706258","attempt":1,"shardIndex":0},{"jobId":"51706257","attempt":1,"shardIndex":1},{"jobId":"51706259","attempt":1,"shardIndex":2}]},"id":"75c15f71-64dd-49bd-b7db-8846240616cd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
