interactions:
- request:
    body: "--617fa2e6b6203839393751ed85f2ea8d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/c127c903-a29e-44f5-9c5e-fb3c4ea284d2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c127c903-a29e-44f5-9c5e-fb3c4ea284d2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/c127c903-a29e-44f5-9c5e-fb3c4ea284d2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"51043294","attempt":1,"shardIndex":0},{"jobId":"51043293","attempt":1,"shardIndex":1},{"jobId":"51043295","attempt":1,"shardIndex":2}]},"id":"c127c903-a29e-44f5-9c5e-fb3c4ea284d2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/c127c903-a29e-44f5-9c5e-fb3c4ea284d2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"51043294","attempt":1,"shardIndex":0},{"jobId":"51043293","attempt":1,"shardIndex":1},{"jobId":"51043295","attempt":1,"shardIndex":2}]},"id":"c127c903-a29e-44f5-9c5e-fb3c4ea284d2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
