interactions:
- request:
    body: "--2271174a36d6274daa5290b85636fe76\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/35c4361e-5fd1-40b6-9f37-ec780e820db1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"35c4361e-5fd1-40b6-9f37-ec780e820db1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/35c4361e-5fd1-40b6-9f37-ec780e820db1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"9973105","attempt":1,"shardIndex":0},{"jobId":"9973104","attempt":1,"shardIndex":1}]},"id":"35c4361e-5fd1-40b6-9f37-ec780e820db1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/35c4361e-5fd1-40b6-9f37-ec780e820db1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"9973105","attempt":1,"shardIndex":0},{"jobId":"9973104","attempt":1,"shardIndex":1}]},"id":"35c4361e-5fd1-40b6-9f37-ec780e820db1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
