interactions:
- request:
    body: "--d7b4df5a40241776075ffa6bf60711c0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--d7b4df5a40241776075ffa6bf60711c0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d7b4df5a40241776075ffa6bf60711c0--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=d7b4df5a40241776075ffa6bf60711c0
    method: POST
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1
  response:
    body:
      string: '{"id":"15f428a5-6b80-49d7-8401-f2405f6c0219","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/15f428a5-6b80-49d7-8401-f2405f6c0219/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 15f428a5-6b80-49d7-8401-f2405f6c0219\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/15f428a5-6b80-49d7-8401-f2405f6c0219/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"15f428a5-6b80-49d7-8401-f2405f6c0219"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
