interactions:
- request:
    body: "--1cbc8314479d91a7c51cf2b744445289\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/40b1a5d3-0c80-40fb-b9a6-18ba1a0edc93/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"40b1a5d3-0c80-40fb-b9a6-18ba1a0edc93"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/40b1a5d3-0c80-40fb-b9a6-18ba1a0edc93/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"54309930","attempt":1,"shardIndex":0},{"jobId":"54309929","attempt":1,"shardIndex":1},{"jobId":"54309928","attempt":1,"shardIndex":2}]},"id":"40b1a5d3-0c80-40fb-b9a6-18ba1a0edc93"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/40b1a5d3-0c80-40fb-b9a6-18ba1a0edc93/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"54309930","attempt":1,"shardIndex":0},{"jobId":"54309929","attempt":1,"shardIndex":1},{"jobId":"54309928","attempt":1,"shardIndex":2}]},"id":"40b1a5d3-0c80-40fb-b9a6-18ba1a0edc93"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
