interactions:
- request:
    body: "--7e56b482826c7c02658f071dbd43394d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/ae7c9c19-bc1d-4bbb-a354-f51d57ee9493/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ae7c9c19-bc1d-4bbb-a354-f51d57ee9493"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/ae7c9c19-bc1d-4bbb-a354-f51d57ee9493/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"52622464","attempt":1,"shardIndex":-1}]},"id":"ae7c9c19-bc1d-4bbb-a354-f51d57ee9493"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/ae7c9c19-bc1d-4bbb-a354-f51d57ee9493/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"52622464","attempt":1,"shardIndex":-1}]},"id":"ae7c9c19-bc1d-4bbb-a354-f51d57ee9493"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
