interactions:
- request:
    body: "--20fa2454cdc2e930644852ba19ed1cfa\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/b31905d7-c36a-4740-9b6d-1541885cc5be/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b31905d7-c36a-4740-9b6d-1541885cc5be\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/b31905d7-c36a-4740-9b6d-1541885cc5be/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b31905d7-c36a-4740-9b6d-1541885cc5be"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
