interactions:
- request:
    body: "--a3d39d4c3910738ad58693edc96de4dc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/401bbee8-d01b-4a71-a084-007269bb5567/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"401bbee8-d01b-4a71-a084-007269bb5567"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/401bbee8-d01b-4a71-a084-007269bb5567/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"21175288","attempt":1,"shardIndex":0},{"jobId":"21175287","attempt":1,"shardIndex":1},{"jobId":"21175289","attempt":1,"shardIndex":2}]},"id":"401bbee8-d01b-4a71-a084-007269bb5567"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/401bbee8-d01b-4a71-a084-007269bb5567/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"21175288","attempt":1,"shardIndex":0},{"jobId":"21175287","attempt":1,"shardIndex":1},{"jobId":"21175289","attempt":1,"shardIndex":2}]},"id":"401bbee8-d01b-4a71-a084-007269bb5567"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
