interactions:
- request:
    body: "--1f682095017d01eb03ff189b09078ad7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/15f00ade-0215-4f0f-bc24-1ccaaa59f347/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"15f00ade-0215-4f0f-bc24-1ccaaa59f347"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/15f00ade-0215-4f0f-bc24-1ccaaa59f347/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"25974478","attempt":1,"shardIndex":0},{"jobId":"25974477","attempt":1,"shardIndex":1},{"jobId":"25974479","attempt":1,"shardIndex":2}]},"id":"15f00ade-0215-4f0f-bc24-1ccaaa59f347"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/15f00ade-0215-4f0f-bc24-1ccaaa59f347/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"25974478","attempt":1,"shardIndex":0},{"jobId":"25974477","attempt":1,"shardIndex":1},{"jobId":"25974479","attempt":1,"shardIndex":2}]},"id":"15f00ade-0215-4f0f-bc24-1ccaaa59f347"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
