interactions:
- request:
    body: "--5fcbe2b0b5ed488cd8c28cc32d1d6093\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--5fcbe2b0b5ed488cd8c28cc32d1d6093\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5fcbe2b0b5ed488cd8c28cc32d1d6093--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=5fcbe2b0b5ed488cd8c28cc32d1d6093
    method: POST
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1
  response:
    body:
      string: '{"id":"d5491f32-77bf-4ae6-8a51-2da1a5e92a20","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/d5491f32-77bf-4ae6-8a51-2da1a5e92a20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d5491f32-77bf-4ae6-8a51-2da1a5e92a20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/d5491f32-77bf-4ae6-8a51-2da1a5e92a20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"44782268","attempt":1,"shardIndex":-1}]},"id":"d5491f32-77bf-4ae6-8a51-2da1a5e92a20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/d5491f32-77bf-4ae6-8a51-2da1a5e92a20/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"44782268","attempt":1,"shardIndex":-1}]},"id":"d5491f32-77bf-4ae6-8a51-2da1a5e92a20"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
