interactions:
- request:
    body: "--5815e6276f8db4dec1464ff465106b56\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/e50bdaa7-0595-4601-ac11-ded6da19cb25/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e50bdaa7-0595-4601-ac11-ded6da19cb25"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/e50bdaa7-0595-4601-ac11-ded6da19cb25/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"20758899","attempt":1,"shardIndex":0},{"jobId":"20758901","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"20758900","attempt":1,"shardIndex":-1}]},"id":"e50bdaa7-0595-4601-ac11-ded6da19cb25"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/e50bdaa7-0595-4601-ac11-ded6da19cb25/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"20758908","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"20758899","attempt":1,"shardIndex":0},{"jobId":"20758901","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"20758900","attempt":1,"shardIndex":-1}]},"id":"e50bdaa7-0595-4601-ac11-ded6da19cb25"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/e50bdaa7-0595-4601-ac11-ded6da19cb25/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"20758908","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"20758899","attempt":1,"shardIndex":0},{"jobId":"20758901","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"20758900","attempt":1,"shardIndex":-1}]},"id":"e50bdaa7-0595-4601-ac11-ded6da19cb25"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
