interactions:
- request:
    body: "--b456977bb89b692daf4d7944568baf18\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/629d95bc-a4b2-4cd6-927e-c18144f7c5ce/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"629d95bc-a4b2-4cd6-927e-c18144f7c5ce"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/629d95bc-a4b2-4cd6-927e-c18144f7c5ce/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"18672609","attempt":1,"shardIndex":0},{"jobId":"18672608","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"18672611","attempt":1,"shardIndex":-1}]},"id":"629d95bc-a4b2-4cd6-927e-c18144f7c5ce"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/629d95bc-a4b2-4cd6-927e-c18144f7c5ce/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"18672641","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"18672609","attempt":1,"shardIndex":0},{"jobId":"18672608","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"18672611","attempt":1,"shardIndex":-1}]},"id":"629d95bc-a4b2-4cd6-927e-c18144f7c5ce"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/629d95bc-a4b2-4cd6-927e-c18144f7c5ce/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"18672641","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"18672609","attempt":1,"shardIndex":0},{"jobId":"18672608","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"18672611","attempt":1,"shardIndex":-1}]},"id":"629d95bc-a4b2-4cd6-927e-c18144f7c5ce"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
