interactions:
- request:
    body: "--dacd0f6571059c8a1b1a1a07e8b7e6c9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/173e8dec-8aa9-4e32-87f8-8c249042f841/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"173e8dec-8aa9-4e32-87f8-8c249042f841"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/173e8dec-8aa9-4e32-87f8-8c249042f841/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"49682025","attempt":1,"shardIndex":0},{"jobId":"49682027","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"49682026","attempt":1,"shardIndex":-1}]},"id":"173e8dec-8aa9-4e32-87f8-8c249042f841"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/173e8dec-8aa9-4e32-87f8-8c249042f841/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"49682035","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"49682025","attempt":1,"shardIndex":0},{"jobId":"49682027","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"49682026","attempt":1,"shardIndex":-1}]},"id":"173e8dec-8aa9-4e32-87f8-8c249042f841"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/173e8dec-8aa9-4e32-87f8-8c249042f841/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"49682035","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"49682025","attempt":1,"shardIndex":0},{"jobId":"49682027","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"49682026","attempt":1,"shardIndex":-1}]},"id":"173e8dec-8aa9-4e32-87f8-8c249042f841"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
