interactions:
- request:
    body: "--da734c80a287125bf79fa5b44426a81c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/2b75d08c-5086-4883-8fba-545d7d6d5e54/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2b75d08c-5086-4883-8fba-545d7d6d5e54"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/2b75d08c-5086-4883-8fba-545d7d6d5e54/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"25546897","attempt":1,"shardIndex":0},{"jobId":"25546898","attempt":1,"shardIndex":1}]},"id":"2b75d08c-5086-4883-8fba-545d7d6d5e54"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/2b75d08c-5086-4883-8fba-545d7d6d5e54/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"25546897","attempt":1,"shardIndex":0},{"jobId":"25546898","attempt":1,"shardIndex":1}]},"id":"2b75d08c-5086-4883-8fba-545d7d6d5e54"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
