interactions:
- request:
    body: "--f6df0b6c5d2afdf891a6708b6d2d1c82\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--f6df0b6c5d2afdf891a6708b6d2d1c82\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f6df0b6c5d2afdf891a6708b6d2d1c82--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=f6df0b6c5d2afdf891a6708b6d2d1c82
    method: POST
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1
  response:
    body:
      string: '{"id":"4213ec23-375f-40da-a7fd-f325dd5e6c90","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/4213ec23-375f-40da-a7fd-f325dd5e6c90/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4213ec23-375f-40da-a7fd-f325dd5e6c90"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/4213ec23-375f-40da-a7fd-f325dd5e6c90/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"44085874","attempt":1,"shardIndex":-1}]},"id":"4213ec23-375f-40da-a7fd-f325dd5e6c90"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/4213ec23-375f-40da-a7fd-f325dd5e6c90/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"44085874","attempt":1,"shardIndex":-1}]},"id":"4213ec23-375f-40da-a7fd-f325dd5e6c90"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
