interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/53c70c6e-3475-4889-8128-7fb1b7ee4017/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"9059465","attempt":1,"shardIndex":-1}]},"id":"53c70c6e-3475-4889-8128-7fb1b7ee4017"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/09f656b4-5e41-4574-af63-427d1dd308e8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"9059419","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"9059413","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"9059418","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"9059416","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"9059412","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"9059414","attempt":1,"shardIndex":0},{"jobId":"9059415","attempt":1,"shardIndex":1},{"jobId":"9059417","attempt":1,"shardIndex":2}]},"id":"09f656b4-5e41-4574-af63-427d1dd308e8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/778876c0-fbe6-48e7-869e-be479aad64e9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"9059516","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"9059580","attempt":1,"shardIndex":-1}]},"id":"778876c0-fbe6-48e7-869e-be479aad64e9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/147aaf99-25da-426f-a1f0-44b2aa3d7af1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"9059430","attempt":1,"shardIndex":-1}]},"id":"147aaf99-25da-426f-a1f0-44b2aa3d7af1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/3e652c39-141c-4dd9-847f-bb0c9da10407/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"9059444","attempt":1,"shardIndex":-1}]},"id":"3e652c39-141c-4dd9-847f-bb0c9da10407"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/14f9aacf-7acf-49b7-8202-8a2084e26629/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"9059442","attempt":1,"shardIndex":-1}]},"id":"14f9aacf-7acf-49b7-8202-8a2084e26629"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/beb500bc-bfef-47ce-822d-a3399ad5f253/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"9059607","attempt":1,"shardIndex":0},{"jobId":"9059608","attempt":1,"shardIndex":1},{"jobId":"9059605","attempt":1,"shardIndex":2}]},"id":"beb500bc-bfef-47ce-822d-a3399ad5f253"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/fa6fcb13-c948-40fd-852c-631630df3537/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"9059609","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"9059581","attempt":1,"shardIndex":0},{"jobId":"9059583","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"9059582","attempt":1,"shardIndex":-1}]},"id":"fa6fcb13-c948-40fd-852c-631630df3537"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/ab79be6c-9595-46d1-ab20-148b8aae2b5e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"9059610","attempt":1,"shardIndex":-1}]},"id":"ab79be6c-9595-46d1-ab20-148b8aae2b5e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/d397ef3e-ec7b-4946-8e87-d7d8383c6210/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"9059684","attempt":1,"shardIndex":-1}]},"id":"d397ef3e-ec7b-4946-8e87-d7d8383c6210"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/c6e684ac-eb6f-42b0-8447-c1983238e23d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"9059632","attempt":1,"shardIndex":-1}]},"id":"c6e684ac-eb6f-42b0-8447-c1983238e23d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/3220a9d6-97e3-4484-ae6d-ae35f5da297a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"9059633","attempt":1,"shardIndex":-1}]},"id":"3220a9d6-97e3-4484-ae6d-ae35f5da297a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/66ca651d-bcd0-48fb-ab1a-a1030bd06dfc/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"9059606","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"9059631","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"9059713","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"9059768","attempt":1,"shardIndex":-1}]},"id":"66ca651d-bcd0-48fb-ab1a-a1030bd06dfc"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
