interactions:
- request:
    body: "--95ec99a3f71c92d3a0d53ccebca1db4e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/04ad8193-1583-4a8a-95fb-4c733178ef99/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"04ad8193-1583-4a8a-95fb-4c733178ef99"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/04ad8193-1583-4a8a-95fb-4c733178ef99/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"20758912","attempt":1,"shardIndex":0},{"jobId":"20758911","attempt":1,"shardIndex":1},{"jobId":"20758913","attempt":1,"shardIndex":2}]},"id":"04ad8193-1583-4a8a-95fb-4c733178ef99"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/04ad8193-1583-4a8a-95fb-4c733178ef99/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"20758912","attempt":1,"shardIndex":0},{"jobId":"20758911","attempt":1,"shardIndex":1},{"jobId":"20758913","attempt":1,"shardIndex":2}]},"id":"04ad8193-1583-4a8a-95fb-4c733178ef99"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
