interactions:
- request:
    body: "--74bea722bbace73226d560778f2e3638\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"mapTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow enhanced_map_test {\n    input {\n        # Original inputs\n
      \       Array[String] samples\n        Map[String, String] sample_metadata\n
      \       Map[String, Int] read_lengths\n\n        # New test inputs\n        Map[String,
      Map[String, String]] nested_map = {\n            \"patient1\": {\n                \"sample1\":
      \"normal\",\n                \"sample2\": \"tumor\"\n            },\n            \"patient2\":
      {\n                \"sample3\": \"normal\",\n                \"sample4\": \"tumor\"\n
      \           }\n        }\n        # We need to provide keys as arrays since
      WDL 1.0 doesn't have a keys() function\n        Array[String] patient_ids =
      [\"patient1\", \"patient2\"]\n    }\n\n    # Test nested map processing\n    scatter
      (patient_id in patient_ids) {\n        call process_nested_map {\n            input:\n
      \               patient_id = patient_id,\n                patient_data = nested_map[patient_id],\n
      \               # We need to[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/64c6de95-06d3-4628-96b0-b1c0be037327/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"64c6de95-06d3-4628-96b0-b1c0be037327"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/64c6de95-06d3-4628-96b0-b1c0be037327/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"enhanced_map_test.process_nested_map":[{"jobId":"42372185","attempt":1,"shardIndex":0},{"jobId":"42372183","attempt":1,"shardIndex":1}],"enhanced_map_test.process_sample":[{"jobId":"42372186","attempt":1,"shardIndex":0},{"jobId":"42372184","attempt":1,"shardIndex":1},{"jobId":"42372182","attempt":1,"shardIndex":2}]},"id":"64c6de95-06d3-4628-96b0-b1c0be037327"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/64c6de95-06d3-4628-96b0-b1c0be037327/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"enhanced_map_test.process_sample":[{"jobId":"42372186","attempt":1,"shardIndex":0},{"jobId":"42372184","attempt":1,"shardIndex":1},{"jobId":"42372182","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"42372185","attempt":1,"shardIndex":0},{"jobId":"42372183","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"42372191","attempt":1,"shardIndex":-1}]},"id":"64c6de95-06d3-4628-96b0-b1c0be037327"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/64c6de95-06d3-4628-96b0-b1c0be037327/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"42372186","attempt":1,"shardIndex":0},{"jobId":"42372184","attempt":1,"shardIndex":1},{"jobId":"42372182","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"42372185","attempt":1,"shardIndex":0},{"jobId":"42372183","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"42372191","attempt":1,"shardIndex":-1}]},"id":"64c6de95-06d3-4628-96b0-b1c0be037327"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
