interactions:
- request:
    body: "--b47df7136324c23641986f6ccbbd4777\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/0d712213-89cf-4442-8b07-456488586c39/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"0d712213-89cf-4442-8b07-456488586c39"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/0d712213-89cf-4442-8b07-456488586c39/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"35143815","attempt":1,"shardIndex":0},{"jobId":"35143814","attempt":1,"shardIndex":1}]},"id":"0d712213-89cf-4442-8b07-456488586c39"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/0d712213-89cf-4442-8b07-456488586c39/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"35143815","attempt":1,"shardIndex":0},{"jobId":"35143814","attempt":1,"shardIndex":1}]},"id":"0d712213-89cf-4442-8b07-456488586c39"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
