interactions:
- request:
    body: "--cab4123c7fde3f545e24bf95c6faed9f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/cc8f4654-50c8-4fac-8e60-3c934670e300/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"cc8f4654-50c8-4fac-8e60-3c934670e300"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/cc8f4654-50c8-4fac-8e60-3c934670e300/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"43010098","attempt":1,"shardIndex":0},{"jobId":"43010097","attempt":1,"shardIndex":1},{"jobId":"43010099","attempt":1,"shardIndex":2}]},"id":"cc8f4654-50c8-4fac-8e60-3c934670e300"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/cc8f4654-50c8-4fac-8e60-3c934670e300/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"43010098","attempt":1,"shardIndex":0},{"jobId":"43010097","attempt":1,"shardIndex":1},{"jobId":"43010099","attempt":1,"shardIndex":2}]},"id":"cc8f4654-50c8-4fac-8e60-3c934670e300"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
