interactions:
- request:
    body: "--0690a993d60d2923254106b1a011ccfd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a71c98a3-f883-4a3e-b04b-3364097f0f91/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a71c98a3-f883-4a3e-b04b-3364097f0f91"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a71c98a3-f883-4a3e-b04b-3364097f0f91/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"57494646","attempt":1,"shardIndex":0},{"jobId":"57494647","attempt":1,"shardIndex":1}]},"id":"a71c98a3-f883-4a3e-b04b-3364097f0f91"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a71c98a3-f883-4a3e-b04b-3364097f0f91/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"57494646","attempt":1,"shardIndex":0},{"jobId":"57494647","attempt":1,"shardIndex":1}]},"id":"a71c98a3-f883-4a3e-b04b-3364097f0f91"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
