interactions:
- request:
    body: "--b86aab66829dbb633f2ea1f51f886e97\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--b86aab66829dbb633f2ea1f51f886e97\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b86aab66829dbb633f2ea1f51f886e97--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b86aab66829dbb633f2ea1f51f886e97
    method: POST
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1
  response:
    body:
      string: '{"id":"7dbabae5-913a-41c8-8c0f-7332345cbade","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/7dbabae5-913a-41c8-8c0f-7332345cbade/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7dbabae5-913a-41c8-8c0f-7332345cbade"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/7dbabae5-913a-41c8-8c0f-7332345cbade/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"55275912","attempt":1,"shardIndex":-1}]},"id":"7dbabae5-913a-41c8-8c0f-7332345cbade"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/7dbabae5-913a-41c8-8c0f-7332345cbade/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"55275912","attempt":1,"shardIndex":-1}]},"id":"7dbabae5-913a-41c8-8c0f-7332345cbade"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
