interactions:
- request:
    body: "--79397eb1f4f3082080610e5290d6eab0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--79397eb1f4f3082080610e5290d6eab0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--79397eb1f4f3082080610e5290d6eab0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=79397eb1f4f3082080610e5290d6eab0
    method: POST
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1
  response:
    body:
      string: '{"id":"48704932-5f96-466b-9568-81ba09799244","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/48704932-5f96-466b-9568-81ba09799244/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"48704932-5f96-466b-9568-81ba09799244"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/48704932-5f96-466b-9568-81ba09799244/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"20758902","attempt":1,"shardIndex":-1}]},"id":"48704932-5f96-466b-9568-81ba09799244"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/48704932-5f96-466b-9568-81ba09799244/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"20758902","attempt":1,"shardIndex":-1}]},"id":"48704932-5f96-466b-9568-81ba09799244"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
