interactions:
- request:
    body: "--bdaa33397c5ae7742105af90bef1f7a1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--bdaa33397c5ae7742105af90bef1f7a1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--bdaa33397c5ae7742105af90bef1f7a1--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=bdaa33397c5ae7742105af90bef1f7a1
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"4ba2f970-955f-4cc2-bfcd-9ae64e64d994","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/4ba2f970-955f-4cc2-bfcd-9ae64e64d994/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4ba2f970-955f-4cc2-bfcd-9ae64e64d994\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/4ba2f970-955f-4cc2-bfcd-9ae64e64d994/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4ba2f970-955f-4cc2-bfcd-9ae64e64d994"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
