interactions:
- request:
    body: "--3d75f9b25bf76db55e64fe27227a4654\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/6c500559-63e4-42f0-9486-52834fc4a394/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6c500559-63e4-42f0-9486-52834fc4a394"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/6c500559-63e4-42f0-9486-52834fc4a394/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"55901364","attempt":1,"shardIndex":0},{"jobId":"55901365","attempt":1,"shardIndex":1}]},"id":"6c500559-63e4-42f0-9486-52834fc4a394"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/6c500559-63e4-42f0-9486-52834fc4a394/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"55901364","attempt":1,"shardIndex":0},{"jobId":"55901365","attempt":1,"shardIndex":1}]},"id":"6c500559-63e4-42f0-9486-52834fc4a394"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
