interactions:
- request:
    body: "--87f43a3120868077394e36e97bc16322\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/e0435c75-5685-4804-9e96-87526dec8462/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e0435c75-5685-4804-9e96-87526dec8462"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/e0435c75-5685-4804-9e96-87526dec8462/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"45311712","attempt":1,"shardIndex":0},{"jobId":"45311711","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45311710","attempt":1,"shardIndex":-1}]},"id":"e0435c75-5685-4804-9e96-87526dec8462"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/e0435c75-5685-4804-9e96-87526dec8462/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"45311717","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"45311712","attempt":1,"shardIndex":0},{"jobId":"45311711","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45311710","attempt":1,"shardIndex":-1}]},"id":"e0435c75-5685-4804-9e96-87526dec8462"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/e0435c75-5685-4804-9e96-87526dec8462/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"45311717","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"45311712","attempt":1,"shardIndex":0},{"jobId":"45311711","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45311710","attempt":1,"shardIndex":-1}]},"id":"e0435c75-5685-4804-9e96-87526dec8462"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
