interactions:
- request:
    body: "--2dad03036b1a3b13cf13c1f97d849638\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/ee22ad6d-1e6e-45ef-b2de-183e9b31883a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ee22ad6d-1e6e-45ef-b2de-183e9b31883a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/ee22ad6d-1e6e-45ef-b2de-183e9b31883a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"53131638","attempt":1,"shardIndex":0},{"jobId":"53131636","attempt":1,"shardIndex":1},{"jobId":"53131637","attempt":1,"shardIndex":2}]},"id":"ee22ad6d-1e6e-45ef-b2de-183e9b31883a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/ee22ad6d-1e6e-45ef-b2de-183e9b31883a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"53131638","attempt":1,"shardIndex":0},{"jobId":"53131636","attempt":1,"shardIndex":1},{"jobId":"53131637","attempt":1,"shardIndex":2}]},"id":"ee22ad6d-1e6e-45ef-b2de-183e9b31883a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
