interactions:
- request:
    body: "--c0802de175fb02c3f6258c9a39547d4c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/af95f520-20eb-4a44-813a-9054948f1916/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"af95f520-20eb-4a44-813a-9054948f1916"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/af95f520-20eb-4a44-813a-9054948f1916/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"48984765","attempt":1,"shardIndex":0},{"jobId":"48984766","attempt":1,"shardIndex":1}]},"id":"af95f520-20eb-4a44-813a-9054948f1916"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/af95f520-20eb-4a44-813a-9054948f1916/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"48984765","attempt":1,"shardIndex":0},{"jobId":"48984766","attempt":1,"shardIndex":1}]},"id":"af95f520-20eb-4a44-813a-9054948f1916"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
