interactions:
- request:
    body: "--0e43e833bcf6d6265cef30a84357b926\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/b558191c-26a7-4adb-b86f-e82327b894c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b558191c-26a7-4adb-b86f-e82327b894c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/b558191c-26a7-4adb-b86f-e82327b894c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"43391587","attempt":1,"shardIndex":0},{"jobId":"43391586","attempt":1,"shardIndex":1},{"jobId":"43391588","attempt":1,"shardIndex":2}]},"id":"b558191c-26a7-4adb-b86f-e82327b894c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/b558191c-26a7-4adb-b86f-e82327b894c7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"43391587","attempt":1,"shardIndex":0},{"jobId":"43391586","attempt":1,"shardIndex":1},{"jobId":"43391588","attempt":1,"shardIndex":2}]},"id":"b558191c-26a7-4adb-b86f-e82327b894c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
