interactions:
- request:
    body: "--bd5026c6f0acc3d880a1e6221c48040a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/dbec9d18-0c82-429b-8025-d90b79777ebe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"dbec9d18-0c82-429b-8025-d90b79777ebe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/dbec9d18-0c82-429b-8025-d90b79777ebe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"35381975","attempt":1,"shardIndex":0},{"jobId":"35381976","attempt":1,"shardIndex":1}]},"id":"dbec9d18-0c82-429b-8025-d90b79777ebe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/dbec9d18-0c82-429b-8025-d90b79777ebe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"35381975","attempt":1,"shardIndex":0},{"jobId":"35381976","attempt":1,"shardIndex":1}]},"id":"dbec9d18-0c82-429b-8025-d90b79777ebe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
