interactions:
- request:
    body: "--ded44f635ae6465d7c2faea19f52f0ba\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/5d0fc9de-5111-491d-abe1-8bf1b80cdc98/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5d0fc9de-5111-491d-abe1-8bf1b80cdc98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/5d0fc9de-5111-491d-abe1-8bf1b80cdc98/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"45857656","attempt":1,"shardIndex":0},{"jobId":"45857655","attempt":1,"shardIndex":1}]},"id":"5d0fc9de-5111-491d-abe1-8bf1b80cdc98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/5d0fc9de-5111-491d-abe1-8bf1b80cdc98/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"45857656","attempt":1,"shardIndex":0},{"jobId":"45857655","attempt":1,"shardIndex":1}]},"id":"5d0fc9de-5111-491d-abe1-8bf1b80cdc98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
