interactions:
- request:
    body: "--1e19ae0eb1f6d91a5e88f61fb71bee4d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/db1ff580-914d-47d7-abb0-26e390a96a7e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"db1ff580-914d-47d7-abb0-26e390a96a7e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/db1ff580-914d-47d7-abb0-26e390a96a7e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"54310192","attempt":1,"shardIndex":0},{"jobId":"54310191","attempt":1,"shardIndex":1}]},"id":"db1ff580-914d-47d7-abb0-26e390a96a7e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/db1ff580-914d-47d7-abb0-26e390a96a7e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"54310192","attempt":1,"shardIndex":0},{"jobId":"54310191","attempt":1,"shardIndex":1}]},"id":"db1ff580-914d-47d7-abb0-26e390a96a7e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
