interactions:
- request:
    body: "--83cc8ded25d63b1e493a91480bc010aa\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--83cc8ded25d63b1e493a91480bc010aa\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--83cc8ded25d63b1e493a91480bc010aa--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=83cc8ded25d63b1e493a91480bc010aa
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"8d0a6d8b-8ad4-44e0-add6-66e4e623e491","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/8d0a6d8b-8ad4-44e0-add6-66e4e623e491/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"8d0a6d8b-8ad4-44e0-add6-66e4e623e491"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/8d0a6d8b-8ad4-44e0-add6-66e4e623e491/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"64209457","attempt":1,"shardIndex":-1}]},"id":"8d0a6d8b-8ad4-44e0-add6-66e4e623e491"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
