interactions:
- request:
    body: "--ba4c6b7eb9c3e7e41aeff5b70adadc8c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/e7a599ec-638a-4459-88f3-b7ac4f351ece/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e7a599ec-638a-4459-88f3-b7ac4f351ece"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/e7a599ec-638a-4459-88f3-b7ac4f351ece/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"47889129","attempt":1,"shardIndex":-1}]},"id":"e7a599ec-638a-4459-88f3-b7ac4f351ece"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/e7a599ec-638a-4459-88f3-b7ac4f351ece/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"47889129","attempt":1,"shardIndex":-1}]},"id":"e7a599ec-638a-4459-88f3-b7ac4f351ece"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
