interactions:
- request:
    body: "--37a38fdb4b03325ce0e9da256bbfeb95\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/094c1994-5191-4c01-b841-6c5a5264e4ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"094c1994-5191-4c01-b841-6c5a5264e4ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/094c1994-5191-4c01-b841-6c5a5264e4ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"48670036","attempt":1,"shardIndex":-1}]},"id":"094c1994-5191-4c01-b841-6c5a5264e4ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/094c1994-5191-4c01-b841-6c5a5264e4ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"48670036","attempt":1,"shardIndex":-1}]},"id":"094c1994-5191-4c01-b841-6c5a5264e4ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
