interactions:
- request:
    body: "--531ed2bedaaa31fd2252e0e06b3a4bfb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/870b0f88-0984-409f-bd48-25c5e0ca20a7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"870b0f88-0984-409f-bd48-25c5e0ca20a7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/870b0f88-0984-409f-bd48-25c5e0ca20a7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"25546620","attempt":1,"shardIndex":-1}]},"id":"870b0f88-0984-409f-bd48-25c5e0ca20a7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/870b0f88-0984-409f-bd48-25c5e0ca20a7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"25546620","attempt":1,"shardIndex":-1}]},"id":"870b0f88-0984-409f-bd48-25c5e0ca20a7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
