interactions:
- request:
    body: "--69ef0d12d54717a0b0f95a817cb55cd3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--69ef0d12d54717a0b0f95a817cb55cd3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--69ef0d12d54717a0b0f95a817cb55cd3--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=69ef0d12d54717a0b0f95a817cb55cd3
    method: POST
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1
  response:
    body:
      string: '{"id":"2c09fd44-6b85-45a7-8e2c-e1cc89966031","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/2c09fd44-6b85-45a7-8e2c-e1cc89966031/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2c09fd44-6b85-45a7-8e2c-e1cc89966031"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/2c09fd44-6b85-45a7-8e2c-e1cc89966031/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"40375509","attempt":1,"shardIndex":-1}]},"id":"2c09fd44-6b85-45a7-8e2c-e1cc89966031"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/2c09fd44-6b85-45a7-8e2c-e1cc89966031/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"40375509","attempt":1,"shardIndex":-1}]},"id":"2c09fd44-6b85-45a7-8e2c-e1cc89966031"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
