interactions:
- request:
    body: "--fdb92ddf12feb1094976a0feeec7abc9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/935f6dc4-e21b-443f-a0eb-6bac8b74ae05/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"935f6dc4-e21b-443f-a0eb-6bac8b74ae05"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/935f6dc4-e21b-443f-a0eb-6bac8b74ae05/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"10023386","attempt":1,"shardIndex":-1}]},"id":"935f6dc4-e21b-443f-a0eb-6bac8b74ae05"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/935f6dc4-e21b-443f-a0eb-6bac8b74ae05/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"10023386","attempt":1,"shardIndex":-1}]},"id":"935f6dc4-e21b-443f-a0eb-6bac8b74ae05"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
