interactions:
- request:
    body: "--492784e5f7444655c11730c5e6a745f2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/285ae043-a4bb-4350-a7d5-9acbdec2dd33/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"285ae043-a4bb-4350-a7d5-9acbdec2dd33"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/285ae043-a4bb-4350-a7d5-9acbdec2dd33/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"10023306","attempt":1,"shardIndex":0},{"jobId":"10023308","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"10023307","attempt":1,"shardIndex":-1}]},"id":"285ae043-a4bb-4350-a7d5-9acbdec2dd33"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/285ae043-a4bb-4350-a7d5-9acbdec2dd33/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"10023324","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"10023306","attempt":1,"shardIndex":0},{"jobId":"10023308","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"10023307","attempt":1,"shardIndex":-1}]},"id":"285ae043-a4bb-4350-a7d5-9acbdec2dd33"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/285ae043-a4bb-4350-a7d5-9acbdec2dd33/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"10023324","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"10023306","attempt":1,"shardIndex":0},{"jobId":"10023308","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"10023307","attempt":1,"shardIndex":-1}]},"id":"285ae043-a4bb-4350-a7d5-9acbdec2dd33"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
