interactions:
- request:
    body: "--ce596d0d8a27f2d3dc39d0c543879a75\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--ce596d0d8a27f2d3dc39d0c543879a75\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ce596d0d8a27f2d3dc39d0c543879a75--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=ce596d0d8a27f2d3dc39d0c543879a75
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"1d59fa4b-f89f-4001-b8e1-bcff7e0107c8","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/1d59fa4b-f89f-4001-b8e1-bcff7e0107c8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"1d59fa4b-f89f-4001-b8e1-bcff7e0107c8"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/1d59fa4b-f89f-4001-b8e1-bcff7e0107c8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"57493776","attempt":1,"shardIndex":-1}]},"id":"1d59fa4b-f89f-4001-b8e1-bcff7e0107c8"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/1d59fa4b-f89f-4001-b8e1-bcff7e0107c8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"57493776","attempt":1,"shardIndex":-1}]},"id":"1d59fa4b-f89f-4001-b8e1-bcff7e0107c8"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
