interactions:
- request:
    body: "--7855d7ac8bf17a9f1dbe551f605c1b1e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--7855d7ac8bf17a9f1dbe551f605c1b1e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7855d7ac8bf17a9f1dbe551f605c1b1e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=7855d7ac8bf17a9f1dbe551f605c1b1e
    method: POST
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1
  response:
    body:
      string: '{"id":"fecf81cd-af05-42f3-8ae0-45371e15ba8f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/fecf81cd-af05-42f3-8ae0-45371e15ba8f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fecf81cd-af05-42f3-8ae0-45371e15ba8f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/fecf81cd-af05-42f3-8ae0-45371e15ba8f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"43391591","attempt":1,"shardIndex":-1}]},"id":"fecf81cd-af05-42f3-8ae0-45371e15ba8f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/fecf81cd-af05-42f3-8ae0-45371e15ba8f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"43391591","attempt":1,"shardIndex":-1}]},"id":"fecf81cd-af05-42f3-8ae0-45371e15ba8f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
