interactions:
- request:
    body: "--79b3ad1de1b93f80af17adbdd762a688\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/3eb0b8b6-a369-447b-a3c7-55ac19853091/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"3eb0b8b6-a369-447b-a3c7-55ac19853091"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/3eb0b8b6-a369-447b-a3c7-55ac19853091/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"43010077","attempt":1,"shardIndex":-1}]},"id":"3eb0b8b6-a369-447b-a3c7-55ac19853091"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/3eb0b8b6-a369-447b-a3c7-55ac19853091/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"43010077","attempt":1,"shardIndex":-1}]},"id":"3eb0b8b6-a369-447b-a3c7-55ac19853091"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
