interactions:
- request:
    body: "--d17d77a3204e5ed2546b760be99b1ba6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/9914b68f-8894-45b9-813d-7687234a94d8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9914b68f-8894-45b9-813d-7687234a94d8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/9914b68f-8894-45b9-813d-7687234a94d8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"52578590","attempt":1,"shardIndex":0},{"jobId":"52578591","attempt":1,"shardIndex":1},{"jobId":"52578592","attempt":1,"shardIndex":2}]},"id":"9914b68f-8894-45b9-813d-7687234a94d8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/9914b68f-8894-45b9-813d-7687234a94d8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"52578590","attempt":1,"shardIndex":0},{"jobId":"52578591","attempt":1,"shardIndex":1},{"jobId":"52578592","attempt":1,"shardIndex":2}]},"id":"9914b68f-8894-45b9-813d-7687234a94d8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
