interactions:
- request:
    body: "--155d948621c1bdc4552ddd7b72982f81\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--155d948621c1bdc4552ddd7b72982f81\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--155d948621c1bdc4552ddd7b72982f81--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=155d948621c1bdc4552ddd7b72982f81
    method: POST
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1
  response:
    body:
      string: '{"id":"e08c73de-c174-4d68-ab39-6f74e2aba2b4","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/e08c73de-c174-4d68-ab39-6f74e2aba2b4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e08c73de-c174-4d68-ab39-6f74e2aba2b4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/e08c73de-c174-4d68-ab39-6f74e2aba2b4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"39941902","attempt":1,"shardIndex":-1}]},"id":"e08c73de-c174-4d68-ab39-6f74e2aba2b4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/e08c73de-c174-4d68-ab39-6f74e2aba2b4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"39941902","attempt":1,"shardIndex":-1}]},"id":"e08c73de-c174-4d68-ab39-6f74e2aba2b4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
