interactions:
- request:
    body: "--8078e2883bab030b9aab98b772d3a109\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/ac8ae569-c1b2-4e69-9c88-ea8b2591c619/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ac8ae569-c1b2-4e69-9c88-ea8b2591c619"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/ac8ae569-c1b2-4e69-9c88-ea8b2591c619/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"41577713","attempt":1,"shardIndex":-1}]},"id":"ac8ae569-c1b2-4e69-9c88-ea8b2591c619"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/ac8ae569-c1b2-4e69-9c88-ea8b2591c619/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"41577713","attempt":1,"shardIndex":-1}]},"id":"ac8ae569-c1b2-4e69-9c88-ea8b2591c619"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
