interactions:
- request:
    body: "--dfc7caf8cca24aff9827f4101ba5b3c1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/53049af6-cbe4-4538-90d7-ccc20dd5b97f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"53049af6-cbe4-4538-90d7-ccc20dd5b97f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/53049af6-cbe4-4538-90d7-ccc20dd5b97f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"21788482","attempt":1,"shardIndex":0},{"jobId":"21788483","attempt":1,"shardIndex":1},{"jobId":"21788481","attempt":1,"shardIndex":2}]},"id":"53049af6-cbe4-4538-90d7-ccc20dd5b97f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/53049af6-cbe4-4538-90d7-ccc20dd5b97f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"21788482","attempt":1,"shardIndex":0},{"jobId":"21788483","attempt":1,"shardIndex":1},{"jobId":"21788481","attempt":1,"shardIndex":2}]},"id":"53049af6-cbe4-4538-90d7-ccc20dd5b97f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
