interactions:
- request:
    body: "--2903e6daeb50ff19f35993b9092d99c8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--2903e6daeb50ff19f35993b9092d99c8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2903e6daeb50ff19f35993b9092d99c8--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2903e6daeb50ff19f35993b9092d99c8
    method: POST
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1
  response:
    body:
      string: '{"id":"b5ed3086-d757-4bbf-878f-70b4a0a34bd8","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/b5ed3086-d757-4bbf-878f-70b4a0a34bd8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b5ed3086-d757-4bbf-878f-70b4a0a34bd8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/b5ed3086-d757-4bbf-878f-70b4a0a34bd8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"41882010","attempt":1,"shardIndex":-1}]},"id":"b5ed3086-d757-4bbf-878f-70b4a0a34bd8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/b5ed3086-d757-4bbf-878f-70b4a0a34bd8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"41882010","attempt":1,"shardIndex":-1}]},"id":"b5ed3086-d757-4bbf-878f-70b4a0a34bd8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
