interactions:
- request:
    body: "--1776a92ce00788e2ed8551015df0b551\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/2afaed44-69a8-4350-a878-37c84595ec0a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2afaed44-69a8-4350-a878-37c84595ec0a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/2afaed44-69a8-4350-a878-37c84595ec0a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"31909870","attempt":1,"shardIndex":0},{"jobId":"31909869","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"31909868","attempt":1,"shardIndex":-1}]},"id":"2afaed44-69a8-4350-a878-37c84595ec0a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/2afaed44-69a8-4350-a878-37c84595ec0a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"31910050","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"31909870","attempt":1,"shardIndex":0},{"jobId":"31909869","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"31909868","attempt":1,"shardIndex":-1}]},"id":"2afaed44-69a8-4350-a878-37c84595ec0a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/2afaed44-69a8-4350-a878-37c84595ec0a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"31910050","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"31909870","attempt":1,"shardIndex":0},{"jobId":"31909869","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"31909868","attempt":1,"shardIndex":-1}]},"id":"2afaed44-69a8-4350-a878-37c84595ec0a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
