interactions:
- request:
    body: "--445104c38b0a2e2644030bb03f03e433\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/c1219c65-c6c6-45d7-9784-a15e4e16276d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c1219c65-c6c6-45d7-9784-a15e4e16276d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/c1219c65-c6c6-45d7-9784-a15e4e16276d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"22897479","attempt":1,"shardIndex":0},{"jobId":"22897477","attempt":1,"shardIndex":1},{"jobId":"22897478","attempt":1,"shardIndex":2}]},"id":"c1219c65-c6c6-45d7-9784-a15e4e16276d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/c1219c65-c6c6-45d7-9784-a15e4e16276d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"22897479","attempt":1,"shardIndex":0},{"jobId":"22897477","attempt":1,"shardIndex":1},{"jobId":"22897478","attempt":1,"shardIndex":2}]},"id":"c1219c65-c6c6-45d7-9784-a15e4e16276d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
