interactions:
- request:
    body: "--a3c33983f73068351d67a671432e8603\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/a57b8844-3c23-4f7d-acfd-8eff978904e5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a57b8844-3c23-4f7d-acfd-8eff978904e5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/a57b8844-3c23-4f7d-acfd-8eff978904e5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"8627656","attempt":1,"shardIndex":0},{"jobId":"8627654","attempt":1,"shardIndex":1},{"jobId":"8627655","attempt":1,"shardIndex":2}]},"id":"a57b8844-3c23-4f7d-acfd-8eff978904e5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/a57b8844-3c23-4f7d-acfd-8eff978904e5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"8627656","attempt":1,"shardIndex":0},{"jobId":"8627654","attempt":1,"shardIndex":1},{"jobId":"8627655","attempt":1,"shardIndex":2}]},"id":"a57b8844-3c23-4f7d-acfd-8eff978904e5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
