interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/652a4b1c-390e-4fba-8480-d0a031dfb6e5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"14207629","attempt":1,"shardIndex":-1}]},"id":"652a4b1c-390e-4fba-8480-d0a031dfb6e5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/3845e3ad-0e97-438b-995d-c9b70a986f21/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"14207623","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"14207627","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"14207621","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"14207620","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"14207624","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"14207626","attempt":1,"shardIndex":0},{"jobId":"14207625","attempt":1,"shardIndex":1},{"jobId":"14207622","attempt":1,"shardIndex":2}]},"id":"3845e3ad-0e97-438b-995d-c9b70a986f21"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/fa39d444-5d67-4849-963a-8c118145e6ed/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"14207633","attempt":1,"shardIndex":0},{"jobId":"14207631","attempt":1,"shardIndex":1},{"jobId":"14207634","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"14207632","attempt":1,"shardIndex":0},{"jobId":"14207630","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"14207811","attempt":1,"shardIndex":-1}]},"id":"fa39d444-5d67-4849-963a-8c118145e6ed"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/d9a81e2b-1cd8-4485-bc5f-075de813363f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"14207813","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"14207815","attempt":1,"shardIndex":-1}]},"id":"d9a81e2b-1cd8-4485-bc5f-075de813363f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/c6186b51-ad71-4832-8e30-b8efd7f57edd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"14207812","attempt":1,"shardIndex":-1}]},"id":"c6186b51-ad71-4832-8e30-b8efd7f57edd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/ff6822d5-3c36-4399-81ac-4140368e1fdd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"14207816","attempt":1,"shardIndex":-1}]},"id":"ff6822d5-3c36-4399-81ac-4140368e1fdd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/4c72074e-33fd-41fa-8871-4b44216363cb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"14207757","attempt":1,"shardIndex":-1}]},"id":"4c72074e-33fd-41fa-8871-4b44216363cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/845cd26a-4da6-4e69-aa86-fb5ecb5fafa3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"14207808","attempt":1,"shardIndex":0},{"jobId":"14207809","attempt":1,"shardIndex":1},{"jobId":"14207807","attempt":1,"shardIndex":2}]},"id":"845cd26a-4da6-4e69-aa86-fb5ecb5fafa3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/15d6ba72-9854-41ed-a32b-da9293fe077b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"14207805","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"14207636","attempt":1,"shardIndex":0},{"jobId":"14207635","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"14207637","attempt":1,"shardIndex":-1}]},"id":"15d6ba72-9854-41ed-a32b-da9293fe077b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/4eb8af98-2e18-4887-bae0-4971c253f35e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"14207762","attempt":1,"shardIndex":-1}]},"id":"4eb8af98-2e18-4887-bae0-4971c253f35e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/e2d1e68f-10d0-41c3-9cde-3b3f32dedbaa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"14207814","attempt":1,"shardIndex":-1}]},"id":"e2d1e68f-10d0-41c3-9cde-3b3f32dedbaa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/999eb28b-6747-4f0a-81f1-bbccd9995838/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"14207824","attempt":1,"shardIndex":0},{"jobId":"14207823","attempt":1,"shardIndex":1}]},"id":"999eb28b-6747-4f0a-81f1-bbccd9995838"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/8c070a30-d1f0-4228-87ed-d6ac16a801f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"14207821","attempt":1,"shardIndex":-1}]},"id":"8c070a30-d1f0-4228-87ed-d6ac16a801f2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0a355670-7e37-454a-ad25-2fae307f739e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"14207818","attempt":1,"shardIndex":-1}]},"id":"0a355670-7e37-454a-ad25-2fae307f739e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/4bfeeab6-79b5-45ae-97e4-1efa23accd45/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"14207820","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"14207822","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"14207825","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"14207832","attempt":1,"shardIndex":-1}]},"id":"4bfeeab6-79b5-45ae-97e4-1efa23accd45"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
