interactions:
- request:
    body: "--65844a8506f72fc66f3ab762f876c529\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/cb459c32-a92b-436f-b0cc-e3c368320244/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"cb459c32-a92b-436f-b0cc-e3c368320244"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/cb459c32-a92b-436f-b0cc-e3c368320244/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"25768584","attempt":1,"shardIndex":0},{"jobId":"25768585","attempt":1,"shardIndex":1}]},"id":"cb459c32-a92b-436f-b0cc-e3c368320244"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/cb459c32-a92b-436f-b0cc-e3c368320244/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"25768584","attempt":1,"shardIndex":0},{"jobId":"25768585","attempt":1,"shardIndex":1}]},"id":"cb459c32-a92b-436f-b0cc-e3c368320244"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
