interactions:
- request:
    body: "--0c2697446322edec6523bd51f228ced8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/16a03dd6-75ff-4403-991d-9a793e4e6b15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"16a03dd6-75ff-4403-991d-9a793e4e6b15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/16a03dd6-75ff-4403-991d-9a793e4e6b15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"51854128","attempt":1,"shardIndex":0},{"jobId":"51854130","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"51854129","attempt":1,"shardIndex":-1}]},"id":"16a03dd6-75ff-4403-991d-9a793e4e6b15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/16a03dd6-75ff-4403-991d-9a793e4e6b15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"51854146","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"51854128","attempt":1,"shardIndex":0},{"jobId":"51854130","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"51854129","attempt":1,"shardIndex":-1}]},"id":"16a03dd6-75ff-4403-991d-9a793e4e6b15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/16a03dd6-75ff-4403-991d-9a793e4e6b15/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"51854146","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"51854128","attempt":1,"shardIndex":0},{"jobId":"51854130","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"51854129","attempt":1,"shardIndex":-1}]},"id":"16a03dd6-75ff-4403-991d-9a793e4e6b15"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
