interactions:
- request:
    body: "--ac5b421ea30072f4cbcbb50d8d5d97f6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/e37ad0ab-54a4-4f95-a0fc-b6db67f4e72e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e37ad0ab-54a4-4f95-a0fc-b6db67f4e72e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/e37ad0ab-54a4-4f95-a0fc-b6db67f4e72e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"45857635","attempt":1,"shardIndex":0},{"jobId":"45857636","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45857634","attempt":1,"shardIndex":-1}]},"id":"e37ad0ab-54a4-4f95-a0fc-b6db67f4e72e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/e37ad0ab-54a4-4f95-a0fc-b6db67f4e72e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"45857642","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"45857635","attempt":1,"shardIndex":0},{"jobId":"45857636","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45857634","attempt":1,"shardIndex":-1}]},"id":"e37ad0ab-54a4-4f95-a0fc-b6db67f4e72e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/e37ad0ab-54a4-4f95-a0fc-b6db67f4e72e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"45857642","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"45857635","attempt":1,"shardIndex":0},{"jobId":"45857636","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"45857634","attempt":1,"shardIndex":-1}]},"id":"e37ad0ab-54a4-4f95-a0fc-b6db67f4e72e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
