interactions:
- request:
    body: "--5758f417c7634e8207998901ed21a15c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--5758f417c7634e8207998901ed21a15c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5758f417c7634e8207998901ed21a15c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5758f417c7634e8207998901ed21a15c
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"8ddaf665-ac83-48e7-8ea1-ddb9bf516621","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/8ddaf665-ac83-48e7-8ea1-ddb9bf516621/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8ddaf665-ac83-48e7-8ea1-ddb9bf516621\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/8ddaf665-ac83-48e7-8ea1-ddb9bf516621/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"8ddaf665-ac83-48e7-8ea1-ddb9bf516621"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
