interactions:
- request:
    body: "--992b1e00bacb0aafb329ff93c88e97da\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/d5bfb2ca-e26c-425a-a525-9387f72b79d5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d5bfb2ca-e26c-425a-a525-9387f72b79d5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/d5bfb2ca-e26c-425a-a525-9387f72b79d5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"45592091","attempt":1,"shardIndex":-1}]},"id":"d5bfb2ca-e26c-425a-a525-9387f72b79d5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/d5bfb2ca-e26c-425a-a525-9387f72b79d5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"45592091","attempt":1,"shardIndex":-1}]},"id":"d5bfb2ca-e26c-425a-a525-9387f72b79d5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
