interactions:
- request:
    body: "--38e3467d6b761b84b7a8e3522ce7bc11\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/2efd01e2-c1a8-47cd-9e93-f4d3ef579130/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2efd01e2-c1a8-47cd-9e93-f4d3ef579130"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/2efd01e2-c1a8-47cd-9e93-f4d3ef579130/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"45592088","attempt":1,"shardIndex":0},{"jobId":"45592089","attempt":1,"shardIndex":1},{"jobId":"45592090","attempt":1,"shardIndex":2}]},"id":"2efd01e2-c1a8-47cd-9e93-f4d3ef579130"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/2efd01e2-c1a8-47cd-9e93-f4d3ef579130/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"45592088","attempt":1,"shardIndex":0},{"jobId":"45592089","attempt":1,"shardIndex":1},{"jobId":"45592090","attempt":1,"shardIndex":2}]},"id":"2efd01e2-c1a8-47cd-9e93-f4d3ef579130"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
