interactions:
- request:
    body: "--4a3751ffcb4f9fa4f304d064745c9e2c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/50cc609a-6544-4a37-9e8c-dbff4cb77eaa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"50cc609a-6544-4a37-9e8c-dbff4cb77eaa"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/50cc609a-6544-4a37-9e8c-dbff4cb77eaa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"55275929","attempt":1,"shardIndex":-1}]},"id":"50cc609a-6544-4a37-9e8c-dbff4cb77eaa"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/50cc609a-6544-4a37-9e8c-dbff4cb77eaa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"55275929","attempt":1,"shardIndex":-1}]},"id":"50cc609a-6544-4a37-9e8c-dbff4cb77eaa"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
