interactions:
- request:
    body: "--84b313bf2020d12f8f98699bde15662b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/facfcbbf-0ec1-4fa5-be86-2a39611e02f9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"facfcbbf-0ec1-4fa5-be86-2a39611e02f9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/facfcbbf-0ec1-4fa5-be86-2a39611e02f9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"26628495","attempt":1,"shardIndex":-1}]},"id":"facfcbbf-0ec1-4fa5-be86-2a39611e02f9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/facfcbbf-0ec1-4fa5-be86-2a39611e02f9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"26628495","attempt":1,"shardIndex":-1}]},"id":"facfcbbf-0ec1-4fa5-be86-2a39611e02f9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
