interactions:
- request:
    body: "--c1543b19c0d37447158ad92284abec37\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/401dd8b4-4bd9-4124-beac-6f0f1ba62af7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"401dd8b4-4bd9-4124-beac-6f0f1ba62af7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/401dd8b4-4bd9-4124-beac-6f0f1ba62af7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"62608145","attempt":1,"shardIndex":0},{"jobId":"62608144","attempt":1,"shardIndex":1},{"jobId":"62608143","attempt":1,"shardIndex":2}]},"id":"401dd8b4-4bd9-4124-beac-6f0f1ba62af7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/401dd8b4-4bd9-4124-beac-6f0f1ba62af7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"62608145","attempt":1,"shardIndex":0},{"jobId":"62608144","attempt":1,"shardIndex":1},{"jobId":"62608143","attempt":1,"shardIndex":2}]},"id":"401dd8b4-4bd9-4124-beac-6f0f1ba62af7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
