interactions:
- request:
    body: "--005fc1cb2392e8c4c1cdaacb4dd71f50\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--005fc1cb2392e8c4c1cdaacb4dd71f50\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--005fc1cb2392e8c4c1cdaacb4dd71f50--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=005fc1cb2392e8c4c1cdaacb4dd71f50
    method: POST
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1
  response:
    body:
      string: '{"id":"f4e96a82-52bb-4c26-aada-fd36f482ef0a","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/f4e96a82-52bb-4c26-aada-fd36f482ef0a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f4e96a82-52bb-4c26-aada-fd36f482ef0a\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/f4e96a82-52bb-4c26-aada-fd36f482ef0a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f4e96a82-52bb-4c26-aada-fd36f482ef0a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
