interactions:
- request:
    body: "--d93c636399e7abc2b8c618b1f11d0614\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--d93c636399e7abc2b8c618b1f11d0614\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d93c636399e7abc2b8c618b1f11d0614--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d93c636399e7abc2b8c618b1f11d0614
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"b5445d65-f883-4ab8-ae7b-0ada5f8ddf13","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/b5445d65-f883-4ab8-ae7b-0ada5f8ddf13/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b5445d65-f883-4ab8-ae7b-0ada5f8ddf13"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/b5445d65-f883-4ab8-ae7b-0ada5f8ddf13/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"21175307","attempt":1,"shardIndex":-1}]},"id":"b5445d65-f883-4ab8-ae7b-0ada5f8ddf13"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/b5445d65-f883-4ab8-ae7b-0ada5f8ddf13/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"21175307","attempt":1,"shardIndex":-1}]},"id":"b5445d65-f883-4ab8-ae7b-0ada5f8ddf13"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
