interactions:
- request:
    body: "--d60ae26470b23ae1b24d9db7f09989cf\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/40bb8119-d2cc-4c6b-97ba-f6dba0816456/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"40bb8119-d2cc-4c6b-97ba-f6dba0816456"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/40bb8119-d2cc-4c6b-97ba-f6dba0816456/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"21709006","attempt":1,"shardIndex":0},{"jobId":"21709007","attempt":1,"shardIndex":1}]},"id":"40bb8119-d2cc-4c6b-97ba-f6dba0816456"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/40bb8119-d2cc-4c6b-97ba-f6dba0816456/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"21709006","attempt":1,"shardIndex":0},{"jobId":"21709007","attempt":1,"shardIndex":1}]},"id":"40bb8119-d2cc-4c6b-97ba-f6dba0816456"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
