interactions:
- request:
    body: "--fa384dbc793ef9e9884fae4b344dfd95\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/ffc36047-4d5e-439b-b0c5-1eaf70e850a6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ffc36047-4d5e-439b-b0c5-1eaf70e850a6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/ffc36047-4d5e-439b-b0c5-1eaf70e850a6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"52622475","attempt":1,"shardIndex":1},{"jobId":"52622476","attempt":1,"shardIndex":2}]},"id":"ffc36047-4d5e-439b-b0c5-1eaf70e850a6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/ffc36047-4d5e-439b-b0c5-1eaf70e850a6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"52622477","attempt":1,"shardIndex":0},{"jobId":"52622475","attempt":1,"shardIndex":1},{"jobId":"52622476","attempt":1,"shardIndex":2}]},"id":"ffc36047-4d5e-439b-b0c5-1eaf70e850a6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
