interactions:
- request:
    body: "--15670d30e058c8785e5fa09182b11f78\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/ea8e3ca0-2388-45f0-8559-43d0c2faec34/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ea8e3ca0-2388-45f0-8559-43d0c2faec34"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/ea8e3ca0-2388-45f0-8559-43d0c2faec34/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"43010108","attempt":1,"shardIndex":-1}]},"id":"ea8e3ca0-2388-45f0-8559-43d0c2faec34"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/ea8e3ca0-2388-45f0-8559-43d0c2faec34/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"43010108","attempt":1,"shardIndex":-1}]},"id":"ea8e3ca0-2388-45f0-8559-43d0c2faec34"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
