interactions:
- request:
    body: "--52acc2b6889f776d39c8407d37be6a31\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/08d4e10a-e67d-426c-82dc-83376f26ee23/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"08d4e10a-e67d-426c-82dc-83376f26ee23"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/08d4e10a-e67d-426c-82dc-83376f26ee23/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"3543950","attempt":1,"shardIndex":0},{"jobId":"3543948","attempt":1,"shardIndex":1}]},"id":"08d4e10a-e67d-426c-82dc-83376f26ee23"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/08d4e10a-e67d-426c-82dc-83376f26ee23/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"3543950","attempt":1,"shardIndex":0},{"jobId":"3543948","attempt":1,"shardIndex":1}]},"id":"08d4e10a-e67d-426c-82dc-83376f26ee23"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
