interactions:
- request:
    body: "--68334bd9f33d5e1391542ee5d138c9bb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--68334bd9f33d5e1391542ee5d138c9bb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--68334bd9f33d5e1391542ee5d138c9bb--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=68334bd9f33d5e1391542ee5d138c9bb
    method: POST
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1
  response:
    body:
      string: '{"id":"bc528400-439b-4082-ab1b-a7eaf86229cf","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/bc528400-439b-4082-ab1b-a7eaf86229cf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"bc528400-439b-4082-ab1b-a7eaf86229cf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/bc528400-439b-4082-ab1b-a7eaf86229cf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"HelloHostname.Hostname":[{"jobId":"41881929","attempt":1,"shardIndex":-1}]},"id":"bc528400-439b-4082-ab1b-a7eaf86229cf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/bc528400-439b-4082-ab1b-a7eaf86229cf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"41881929","attempt":1,"shardIndex":-1}]},"id":"bc528400-439b-4082-ab1b-a7eaf86229cf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
