interactions:
- request:
    body: "--788cf88c540d369134cf541f5723a0dc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--788cf88c540d369134cf541f5723a0dc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--788cf88c540d369134cf541f5723a0dc--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=788cf88c540d369134cf541f5723a0dc
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"7b05bd86-a952-4bb2-adc4-459dcb8e39e6","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/7b05bd86-a952-4bb2-adc4-459dcb8e39e6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7b05bd86-a952-4bb2-adc4-459dcb8e39e6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/7b05bd86-a952-4bb2-adc4-459dcb8e39e6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"8627968","attempt":1,"shardIndex":-1}]},"id":"7b05bd86-a952-4bb2-adc4-459dcb8e39e6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/7b05bd86-a952-4bb2-adc4-459dcb8e39e6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"8627968","attempt":1,"shardIndex":-1}]},"id":"7b05bd86-a952-4bb2-adc4-459dcb8e39e6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
