interactions:
- request:
    body: "--0498d5210ab44f824f8fb67165a5aa94\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/7e964587-3c25-42c6-9dad-f34f08e47d94/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7e964587-3c25-42c6-9dad-f34f08e47d94"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/7e964587-3c25-42c6-9dad-f34f08e47d94/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"55275797","attempt":1,"shardIndex":0},{"jobId":"55275796","attempt":1,"shardIndex":1},{"jobId":"55275795","attempt":1,"shardIndex":2}]},"id":"7e964587-3c25-42c6-9dad-f34f08e47d94"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/7e964587-3c25-42c6-9dad-f34f08e47d94/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"55275797","attempt":1,"shardIndex":0},{"jobId":"55275796","attempt":1,"shardIndex":1},{"jobId":"55275795","attempt":1,"shardIndex":2}]},"id":"7e964587-3c25-42c6-9dad-f34f08e47d94"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
