interactions:
- request:
    body: "--4d4347342819eeab437af47919cd3cd6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/aa16e1af-2633-4f54-bf5f-a1e0de93164c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"aa16e1af-2633-4f54-bf5f-a1e0de93164c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/aa16e1af-2633-4f54-bf5f-a1e0de93164c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"49457331","attempt":1,"shardIndex":-1}]},"id":"aa16e1af-2633-4f54-bf5f-a1e0de93164c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/aa16e1af-2633-4f54-bf5f-a1e0de93164c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"49457331","attempt":1,"shardIndex":-1}]},"id":"aa16e1af-2633-4f54-bf5f-a1e0de93164c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
