interactions:
- request:
    body: "--1ad56561f1d03f84718a7827e045cba2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--1ad56561f1d03f84718a7827e045cba2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1ad56561f1d03f84718a7827e045cba2--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=1ad56561f1d03f84718a7827e045cba2
    method: POST
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1
  response:
    body:
      string: '{"id":"a93e215f-646a-4f0e-a372-a35af1b9a2fe","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/a93e215f-646a-4f0e-a372-a35af1b9a2fe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a93e215f-646a-4f0e-a372-a35af1b9a2fe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/a93e215f-646a-4f0e-a372-a35af1b9a2fe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"45311176","attempt":1,"shardIndex":-1}]},"id":"a93e215f-646a-4f0e-a372-a35af1b9a2fe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/a93e215f-646a-4f0e-a372-a35af1b9a2fe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"45311176","attempt":1,"shardIndex":-1}]},"id":"a93e215f-646a-4f0e-a372-a35af1b9a2fe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
