interactions:
- request:
    body: "--749ab0a2c5ab1040b78680cf4fcd90c7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/dbc844ed-847f-44e9-b63d-9d1ce00e1a23/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"dbc844ed-847f-44e9-b63d-9d1ce00e1a23"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/dbc844ed-847f-44e9-b63d-9d1ce00e1a23/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"33393821","attempt":1,"shardIndex":0},{"jobId":"33393819","attempt":1,"shardIndex":1},{"jobId":"33393818","attempt":1,"shardIndex":2}]},"id":"dbc844ed-847f-44e9-b63d-9d1ce00e1a23"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/dbc844ed-847f-44e9-b63d-9d1ce00e1a23/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"33393821","attempt":1,"shardIndex":0},{"jobId":"33393819","attempt":1,"shardIndex":1},{"jobId":"33393818","attempt":1,"shardIndex":2}]},"id":"dbc844ed-847f-44e9-b63d-9d1ce00e1a23"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
