interactions:
- request:
    body: "--fb63cd2338a28e69f458ec45e6006bae\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/571fdf14-d2fc-464c-9fe3-a622f0cc1946/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"571fdf14-d2fc-464c-9fe3-a622f0cc1946"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/571fdf14-d2fc-464c-9fe3-a622f0cc1946/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"55275927","attempt":1,"shardIndex":-1}]},"id":"571fdf14-d2fc-464c-9fe3-a622f0cc1946"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/571fdf14-d2fc-464c-9fe3-a622f0cc1946/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"55275927","attempt":1,"shardIndex":-1}]},"id":"571fdf14-d2fc-464c-9fe3-a622f0cc1946"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
