interactions:
- request:
    body: "--36599599d2396a0650c46e2fac004276\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/53302561-495e-4472-81a3-214f51c09d16/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"53302561-495e-4472-81a3-214f51c09d16"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/53302561-495e-4472-81a3-214f51c09d16/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"21175283","attempt":1,"shardIndex":-1}]},"id":"53302561-495e-4472-81a3-214f51c09d16"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/53302561-495e-4472-81a3-214f51c09d16/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"21175283","attempt":1,"shardIndex":-1}]},"id":"53302561-495e-4472-81a3-214f51c09d16"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
