interactions:
- request:
    body: "--b1f390b700247cc5bec2f5d4cc0b9a46\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/dd0595b0-9cb7-4823-9e4f-e29a804b8d52/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"dd0595b0-9cb7-4823-9e4f-e29a804b8d52"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/dd0595b0-9cb7-4823-9e4f-e29a804b8d52/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"9972980","attempt":1,"shardIndex":-1}]},"id":"dd0595b0-9cb7-4823-9e4f-e29a804b8d52"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/dd0595b0-9cb7-4823-9e4f-e29a804b8d52/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"9972980","attempt":1,"shardIndex":-1}]},"id":"dd0595b0-9cb7-4823-9e4f-e29a804b8d52"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
