interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/ff508e4e-2b3e-4d6c-889d-1a72c836bf38/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"14177158","attempt":1,"shardIndex":-1}]},"id":"ff508e4e-2b3e-4d6c-889d-1a72c836bf38"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/dacafdcb-238b-4e9e-a63d-fe71fca68a54/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"14176910","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"14176916","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"14176912","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"14176913","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"14176911","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"14176914","attempt":1,"shardIndex":0},{"jobId":"14176917","attempt":1,"shardIndex":1},{"jobId":"14176915","attempt":1,"shardIndex":2}]},"id":"dacafdcb-238b-4e9e-a63d-fe71fca68a54"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/a0434b58-9e9d-4d63-8ad6-31acd6ba8fc0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"14176765","attempt":1,"shardIndex":0},{"jobId":"14176764","attempt":1,"shardIndex":1},{"jobId":"14176763","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"14176761","attempt":1,"shardIndex":0},{"jobId":"14176762","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"14176956","attempt":1,"shardIndex":-1}]},"id":"a0434b58-9e9d-4d63-8ad6-31acd6ba8fc0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/9c086e53-ca0a-4dd2-9763-7c39815b4e30/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"14176684","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"14176839","attempt":1,"shardIndex":-1}]},"id":"9c086e53-ca0a-4dd2-9763-7c39815b4e30"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/8ee07b26-fdaa-4104-9e5d-4a5edeade7f8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"14176619","attempt":1,"shardIndex":-1}]},"id":"8ee07b26-fdaa-4104-9e5d-4a5edeade7f8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/8d360ac6-4276-4005-8901-72f606df69de/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"14176546","attempt":1,"shardIndex":-1}]},"id":"8d360ac6-4276-4005-8901-72f606df69de"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/d9ce0390-c03b-4e46-9dd5-849c14647231/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"14176837","attempt":1,"shardIndex":-1}]},"id":"d9ce0390-c03b-4e46-9dd5-849c14647231"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/019d1154-a2b3-4fe0-b1d8-3ec8d5deaf21/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"14176388","attempt":1,"shardIndex":0},{"jobId":"14176387","attempt":1,"shardIndex":1},{"jobId":"14176389","attempt":1,"shardIndex":2}]},"id":"019d1154-a2b3-4fe0-b1d8-3ec8d5deaf21"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/633333d8-bb43-4ec1-b06c-032e4a600649/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"14176686","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"14176516","attempt":1,"shardIndex":0},{"jobId":"14176518","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"14176517","attempt":1,"shardIndex":-1}]},"id":"633333d8-bb43-4ec1-b06c-032e4a600649"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/470a4ea3-ef8a-4e6c-863d-8d46c38c824d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"14177348","attempt":1,"shardIndex":-1}]},"id":"470a4ea3-ef8a-4e6c-863d-8d46c38c824d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/e5acec32-c12b-4b75-a84e-a81cf901cef1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"14177746","attempt":1,"shardIndex":-1}]},"id":"e5acec32-c12b-4b75-a84e-a81cf901cef1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0e54d8a7-5f6a-45ef-8c40-c2414e7e64d1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"14177263","attempt":1,"shardIndex":0},{"jobId":"14177262","attempt":1,"shardIndex":1}]},"id":"0e54d8a7-5f6a-45ef-8c40-c2414e7e64d1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/488b9e36-08bb-4e44-9d05-79b6334bd813/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"14177427","attempt":1,"shardIndex":-1}]},"id":"488b9e36-08bb-4e44-9d05-79b6334bd813"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/c9537c2b-de16-424f-8165-ede90e62cbdd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"14177676","attempt":1,"shardIndex":-1}]},"id":"c9537c2b-de16-424f-8165-ede90e62cbdd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/6e0fd514-6b00-451e-a224-290bb7d89aaa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"14177577","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"14177750","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"14177831","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"14177838","attempt":1,"shardIndex":-1}]},"id":"6e0fd514-6b00-451e-a224-290bb7d89aaa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
