interactions:
- request:
    body: "--c20d274bd89ae49a5805a2035c3c1fe9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--c20d274bd89ae49a5805a2035c3c1fe9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c20d274bd89ae49a5805a2035c3c1fe9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c20d274bd89ae49a5805a2035c3c1fe9
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"94ec9c92-2bc4-4ede-bc24-8771c02bf018","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/94ec9c92-2bc4-4ede-bc24-8771c02bf018/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"94ec9c92-2bc4-4ede-bc24-8771c02bf018"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/94ec9c92-2bc4-4ede-bc24-8771c02bf018/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"21175280","attempt":1,"shardIndex":-1}]},"id":"94ec9c92-2bc4-4ede-bc24-8771c02bf018"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/94ec9c92-2bc4-4ede-bc24-8771c02bf018/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"21175280","attempt":1,"shardIndex":-1}]},"id":"94ec9c92-2bc4-4ede-bc24-8771c02bf018"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
