interactions:
- request:
    body: "--af116beedc699b85ad02f76e96ebb92e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/2b0da3ce-82a3-4e83-9dc4-83ff5ff0eb4c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2b0da3ce-82a3-4e83-9dc4-83ff5ff0eb4c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/2b0da3ce-82a3-4e83-9dc4-83ff5ff0eb4c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"62608276","attempt":1,"shardIndex":-1}]},"id":"2b0da3ce-82a3-4e83-9dc4-83ff5ff0eb4c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/2b0da3ce-82a3-4e83-9dc4-83ff5ff0eb4c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"62608276","attempt":1,"shardIndex":-1}]},"id":"2b0da3ce-82a3-4e83-9dc4-83ff5ff0eb4c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
