interactions:
- request:
    body: "--c59d7906e508c5667e83f430e371ed58\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/51f137de-ec13-48bc-bb5d-d022f27a6264/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"51f137de-ec13-48bc-bb5d-d022f27a6264"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/51f137de-ec13-48bc-bb5d-d022f27a6264/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"33393794","attempt":1,"shardIndex":-1}]},"id":"51f137de-ec13-48bc-bb5d-d022f27a6264"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/51f137de-ec13-48bc-bb5d-d022f27a6264/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"33393794","attempt":1,"shardIndex":-1}]},"id":"51f137de-ec13-48bc-bb5d-d022f27a6264"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
