interactions:
- request:
    body: "--3a95a9569cd6acd48fbd0477295c3116\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--3a95a9569cd6acd48fbd0477295c3116\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3a95a9569cd6acd48fbd0477295c3116--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=3a95a9569cd6acd48fbd0477295c3116
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"6d94da0d-d8f5-48a4-9b5a-b20ed4206d79","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/6d94da0d-d8f5-48a4-9b5a-b20ed4206d79/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6d94da0d-d8f5-48a4-9b5a-b20ed4206d79"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/6d94da0d-d8f5-48a4-9b5a-b20ed4206d79/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"10023362","attempt":1,"shardIndex":-1}]},"id":"6d94da0d-d8f5-48a4-9b5a-b20ed4206d79"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/6d94da0d-d8f5-48a4-9b5a-b20ed4206d79/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"10023362","attempt":1,"shardIndex":-1}]},"id":"6d94da0d-d8f5-48a4-9b5a-b20ed4206d79"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
