interactions:
- request:
    body: "--dda06b021e5d8936263fed400418826d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/65e5b04a-7ebf-4355-9c64-e1c52aad6b36/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"65e5b04a-7ebf-4355-9c64-e1c52aad6b36"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/65e5b04a-7ebf-4355-9c64-e1c52aad6b36/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"25767151","attempt":1,"shardIndex":-1}]},"id":"65e5b04a-7ebf-4355-9c64-e1c52aad6b36"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/65e5b04a-7ebf-4355-9c64-e1c52aad6b36/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"WildcardsandConditions.wildcard_and_conditions_test":[{"jobId":"25767151","attempt":1,"shardIndex":-1}]},"id":"65e5b04a-7ebf-4355-9c64-e1c52aad6b36"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
