interactions:
- request:
    body: "--e99ef2671f1537235c08bf94dc5b4175\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--e99ef2671f1537235c08bf94dc5b4175\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e99ef2671f1537235c08bf94dc5b4175--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e99ef2671f1537235c08bf94dc5b4175
    method: POST
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1
  response:
    body:
      string: '{"id":"2f107a5d-1c16-4ae7-81b7-1213f6165e70","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/2f107a5d-1c16-4ae7-81b7-1213f6165e70/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2f107a5d-1c16-4ae7-81b7-1213f6165e70"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/2f107a5d-1c16-4ae7-81b7-1213f6165e70/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"43978323","attempt":1,"shardIndex":-1}]},"id":"2f107a5d-1c16-4ae7-81b7-1213f6165e70"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/2f107a5d-1c16-4ae7-81b7-1213f6165e70/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"43978323","attempt":1,"shardIndex":-1}]},"id":"2f107a5d-1c16-4ae7-81b7-1213f6165e70"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
