interactions:
- request:
    body: "--a88fc2c68229aee35b8597ffba1e08dc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/4b0f8eec-d693-476a-aee3-fcd9128dbe1a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4b0f8eec-d693-476a-aee3-fcd9128dbe1a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/4b0f8eec-d693-476a-aee3-fcd9128dbe1a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"6092181","attempt":1,"shardIndex":0},{"jobId":"6092183","attempt":1,"shardIndex":1},{"jobId":"6092182","attempt":1,"shardIndex":2}]},"id":"4b0f8eec-d693-476a-aee3-fcd9128dbe1a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/4b0f8eec-d693-476a-aee3-fcd9128dbe1a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"6092181","attempt":1,"shardIndex":0},{"jobId":"6092183","attempt":1,"shardIndex":1},{"jobId":"6092182","attempt":1,"shardIndex":2}]},"id":"4b0f8eec-d693-476a-aee3-fcd9128dbe1a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
