interactions:
- request:
    body: "--c8021b2644e5f0b3858cd11b5244df13\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--c8021b2644e5f0b3858cd11b5244df13\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c8021b2644e5f0b3858cd11b5244df13--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c8021b2644e5f0b3858cd11b5244df13
    method: POST
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1
  response:
    body:
      string: '{"id":"bd82894e-c0a4-442e-bed0-79132201dbdb","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/bd82894e-c0a4-442e-bed0-79132201dbdb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: bd82894e-c0a4-442e-bed0-79132201dbdb\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/bd82894e-c0a4-442e-bed0-79132201dbdb/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"bd82894e-c0a4-442e-bed0-79132201dbdb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
