interactions:
- request:
    body: "--06340d9e49c9dfc84502588920a2c32a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--06340d9e49c9dfc84502588920a2c32a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--06340d9e49c9dfc84502588920a2c32a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=06340d9e49c9dfc84502588920a2c32a
    method: POST
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1
  response:
    body:
      string: '{"id":"26a0c845-3b18-4e4d-9f63-84a6d7154f12","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/26a0c845-3b18-4e4d-9f63-84a6d7154f12/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"26a0c845-3b18-4e4d-9f63-84a6d7154f12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/26a0c845-3b18-4e4d-9f63-84a6d7154f12/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"33393816","attempt":1,"shardIndex":-1}]},"id":"26a0c845-3b18-4e4d-9f63-84a6d7154f12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/26a0c845-3b18-4e4d-9f63-84a6d7154f12/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"33393816","attempt":1,"shardIndex":-1}]},"id":"26a0c845-3b18-4e4d-9f63-84a6d7154f12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
