interactions:
- request:
    body: "--487c51b7d2ceb20f05b448d1c8f69dc0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--487c51b7d2ceb20f05b448d1c8f69dc0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--487c51b7d2ceb20f05b448d1c8f69dc0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=487c51b7d2ceb20f05b448d1c8f69dc0
    method: POST
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1
  response:
    body:
      string: '{"id":"63e47ee9-0298-4e46-b996-00773b72c77f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/63e47ee9-0298-4e46-b996-00773b72c77f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"63e47ee9-0298-4e46-b996-00773b72c77f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/63e47ee9-0298-4e46-b996-00773b72c77f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"25546907","attempt":1,"shardIndex":-1}]},"id":"63e47ee9-0298-4e46-b996-00773b72c77f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/63e47ee9-0298-4e46-b996-00773b72c77f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"25546907","attempt":1,"shardIndex":-1}]},"id":"63e47ee9-0298-4e46-b996-00773b72c77f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
