interactions:
- request:
    body: "--50c28fd2b488282d70b7686cea2ebb9b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"mapTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow enhanced_map_test {\n    input {\n        # Original inputs\n
      \       Array[String] samples\n        Map[String, String] sample_metadata\n
      \       Map[String, Int] read_lengths\n\n        # New test inputs\n        Map[String,
      Map[String, String]] nested_map = {\n            \"patient1\": {\n                \"sample1\":
      \"normal\",\n                \"sample2\": \"tumor\"\n            },\n            \"patient2\":
      {\n                \"sample3\": \"normal\",\n                \"sample4\": \"tumor\"\n
      \           }\n        }\n        # We need to provide keys as arrays since
      WDL 1.0 doesn't have a keys() function\n        Array[String] patient_ids =
      [\"patient1\", \"patient2\"]\n    }\n\n    # Test nested map processing\n    scatter
      (patient_id in patient_ids) {\n        call process_nested_map {\n            input:\n
      \               patient_id = patient_id,\n                patient_data = nested_map[patient_id],\n
      \               # We need to[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/04bd0c85-c374-40a8-a6ca-54b6e8011b1c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"04bd0c85-c374-40a8-a6ca-54b6e8011b1c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/04bd0c85-c374-40a8-a6ca-54b6e8011b1c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"enhanced_map_test.process_nested_map":[{"jobId":"21175277","attempt":1,"shardIndex":0},{"jobId":"21175279","attempt":1,"shardIndex":1}],"enhanced_map_test.process_sample":[{"jobId":"21175278","attempt":1,"shardIndex":0},{"jobId":"21175276","attempt":1,"shardIndex":1},{"jobId":"21175275","attempt":1,"shardIndex":2}]},"id":"04bd0c85-c374-40a8-a6ca-54b6e8011b1c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/04bd0c85-c374-40a8-a6ca-54b6e8011b1c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"enhanced_map_test.process_sample":[{"jobId":"21175278","attempt":1,"shardIndex":0},{"jobId":"21175276","attempt":1,"shardIndex":1},{"jobId":"21175275","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"21175277","attempt":1,"shardIndex":0},{"jobId":"21175279","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"21175284","attempt":1,"shardIndex":-1}]},"id":"04bd0c85-c374-40a8-a6ca-54b6e8011b1c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/04bd0c85-c374-40a8-a6ca-54b6e8011b1c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"21175278","attempt":1,"shardIndex":0},{"jobId":"21175276","attempt":1,"shardIndex":1},{"jobId":"21175275","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"21175277","attempt":1,"shardIndex":0},{"jobId":"21175279","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"21175284","attempt":1,"shardIndex":-1}]},"id":"04bd0c85-c374-40a8-a6ca-54b6e8011b1c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
