interactions:
- request:
    body: "--68bd26a514dc3e97ccbe035448f08863\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--68bd26a514dc3e97ccbe035448f08863\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--68bd26a514dc3e97ccbe035448f08863--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=68bd26a514dc3e97ccbe035448f08863
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"588a6c70-cc6f-4c09-8833-74568c50ed4c","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/588a6c70-cc6f-4c09-8833-74568c50ed4c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 588a6c70-cc6f-4c09-8833-74568c50ed4c\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/588a6c70-cc6f-4c09-8833-74568c50ed4c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"588a6c70-cc6f-4c09-8833-74568c50ed4c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
