interactions:
- request:
    body: "--91fec616182b56c361d94af8e7032673\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/ef14fc78-3247-4be6-9ef8-2e09b630a8ea/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ef14fc78-3247-4be6-9ef8-2e09b630a8ea"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/ef14fc78-3247-4be6-9ef8-2e09b630a8ea/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"42372138","attempt":1,"shardIndex":-1}]},"id":"ef14fc78-3247-4be6-9ef8-2e09b630a8ea"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/ef14fc78-3247-4be6-9ef8-2e09b630a8ea/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"42372138","attempt":1,"shardIndex":-1}]},"id":"ef14fc78-3247-4be6-9ef8-2e09b630a8ea"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
