interactions:
- request:
    body: "--82766dce8763628a929e9ce521c57ea3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/c382e4d3-83e3-4b5c-a9ba-68c2b405e360/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c382e4d3-83e3-4b5c-a9ba-68c2b405e360"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/c382e4d3-83e3-4b5c-a9ba-68c2b405e360/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"45311727","attempt":1,"shardIndex":0},{"jobId":"45311726","attempt":1,"shardIndex":1},{"jobId":"45311728","attempt":1,"shardIndex":2}]},"id":"c382e4d3-83e3-4b5c-a9ba-68c2b405e360"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/c382e4d3-83e3-4b5c-a9ba-68c2b405e360/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"45311727","attempt":1,"shardIndex":0},{"jobId":"45311726","attempt":1,"shardIndex":1},{"jobId":"45311728","attempt":1,"shardIndex":2}]},"id":"c382e4d3-83e3-4b5c-a9ba-68c2b405e360"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
