interactions:
- request:
    body: "--5c4dc7ee0aae5b8b1fe9ea972a1ea6ff\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/fd821856-ca03-47a7-8eff-3df2bf987947/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fd821856-ca03-47a7-8eff-3df2bf987947"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/fd821856-ca03-47a7-8eff-3df2bf987947/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"49682030","attempt":1,"shardIndex":-1}]},"id":"fd821856-ca03-47a7-8eff-3df2bf987947"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/fd821856-ca03-47a7-8eff-3df2bf987947/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"49682030","attempt":1,"shardIndex":-1}]},"id":"fd821856-ca03-47a7-8eff-3df2bf987947"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
