interactions:
- request:
    body: "--316ebc1839bd3d2f121a3f74eaff12c0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/31a2444e-7eed-4cf2-b1b4-00970ccb7c4f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"31a2444e-7eed-4cf2-b1b4-00970ccb7c4f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/31a2444e-7eed-4cf2-b1b4-00970ccb7c4f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"48670432","attempt":1,"shardIndex":0},{"jobId":"48670434","attempt":1,"shardIndex":1},{"jobId":"48670433","attempt":1,"shardIndex":2}]},"id":"31a2444e-7eed-4cf2-b1b4-00970ccb7c4f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/31a2444e-7eed-4cf2-b1b4-00970ccb7c4f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"48670432","attempt":1,"shardIndex":0},{"jobId":"48670434","attempt":1,"shardIndex":1},{"jobId":"48670433","attempt":1,"shardIndex":2}]},"id":"31a2444e-7eed-4cf2-b1b4-00970ccb7c4f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
