interactions:
- request:
    body: "--0b0e30cccd46b9bf325383177b0f5647\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--0b0e30cccd46b9bf325383177b0f5647\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0b0e30cccd46b9bf325383177b0f5647--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0b0e30cccd46b9bf325383177b0f5647
    method: POST
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1
  response:
    body:
      string: '{"id":"258e78c8-5736-43f0-a8c6-a427e895a8c9","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/258e78c8-5736-43f0-a8c6-a427e895a8c9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 258e78c8-5736-43f0-a8c6-a427e895a8c9\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/258e78c8-5736-43f0-a8c6-a427e895a8c9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"258e78c8-5736-43f0-a8c6-a427e895a8c9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
