interactions:
- request:
    body: "--697156bc7b6021808847cb27526d9d80\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/048f24c5-b5a8-4aae-86ec-f817b4c75e90/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"048f24c5-b5a8-4aae-86ec-f817b4c75e90"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/048f24c5-b5a8-4aae-86ec-f817b4c75e90/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"22019901","attempt":1,"shardIndex":0},{"jobId":"22019902","attempt":1,"shardIndex":1},{"jobId":"22019900","attempt":1,"shardIndex":2}]},"id":"048f24c5-b5a8-4aae-86ec-f817b4c75e90"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/048f24c5-b5a8-4aae-86ec-f817b4c75e90/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"22019901","attempt":1,"shardIndex":0},{"jobId":"22019902","attempt":1,"shardIndex":1},{"jobId":"22019900","attempt":1,"shardIndex":2}]},"id":"048f24c5-b5a8-4aae-86ec-f817b4c75e90"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
