interactions:
- request:
    body: "--b775a8f2adcb3047328e67f3bdcb8d92\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/42269c8f-4484-4013-b2ad-cd350af8601b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"42269c8f-4484-4013-b2ad-cd350af8601b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/42269c8f-4484-4013-b2ad-cd350af8601b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"50539205","attempt":1,"shardIndex":0},{"jobId":"50539203","attempt":1,"shardIndex":1},{"jobId":"50539204","attempt":1,"shardIndex":2}]},"id":"42269c8f-4484-4013-b2ad-cd350af8601b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/42269c8f-4484-4013-b2ad-cd350af8601b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"50539205","attempt":1,"shardIndex":0},{"jobId":"50539203","attempt":1,"shardIndex":1},{"jobId":"50539204","attempt":1,"shardIndex":2}]},"id":"42269c8f-4484-4013-b2ad-cd350af8601b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
