interactions:
- request:
    body: "--fc454cc91f4ddbdd048d44eca01609c8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/fac3bf68-672a-42ff-a453-bd6c80a96351/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fac3bf68-672a-42ff-a453-bd6c80a96351"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/fac3bf68-672a-42ff-a453-bd6c80a96351/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"26221179","attempt":1,"shardIndex":0},{"jobId":"26221177","attempt":1,"shardIndex":1},{"jobId":"26221178","attempt":1,"shardIndex":2}]},"id":"fac3bf68-672a-42ff-a453-bd6c80a96351"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/fac3bf68-672a-42ff-a453-bd6c80a96351/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"26221179","attempt":1,"shardIndex":0},{"jobId":"26221177","attempt":1,"shardIndex":1},{"jobId":"26221178","attempt":1,"shardIndex":2}]},"id":"fac3bf68-672a-42ff-a453-bd6c80a96351"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
