interactions:
- request:
    body: "--4b198e80f06bb336cf5792f2deba2d50\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/9c3aa4d6-6e1c-4966-8a85-952acc0dbb8b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9c3aa4d6-6e1c-4966-8a85-952acc0dbb8b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/9c3aa4d6-6e1c-4966-8a85-952acc0dbb8b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"40429128","attempt":1,"shardIndex":0},{"jobId":"40429129","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"40429130","attempt":1,"shardIndex":-1}]},"id":"9c3aa4d6-6e1c-4966-8a85-952acc0dbb8b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/9c3aa4d6-6e1c-4966-8a85-952acc0dbb8b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"40429142","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"40429128","attempt":1,"shardIndex":0},{"jobId":"40429129","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"40429130","attempt":1,"shardIndex":-1}]},"id":"9c3aa4d6-6e1c-4966-8a85-952acc0dbb8b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/9c3aa4d6-6e1c-4966-8a85-952acc0dbb8b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"40429142","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"40429128","attempt":1,"shardIndex":0},{"jobId":"40429129","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"40429130","attempt":1,"shardIndex":-1}]},"id":"9c3aa4d6-6e1c-4966-8a85-952acc0dbb8b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
