interactions:
- request:
    body: "--61f669d23e4ddd7cbb05c2f6fad94ecb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/1803eeb2-a19c-46aa-9cd6-342163facaa3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"1803eeb2-a19c-46aa-9cd6-342163facaa3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/1803eeb2-a19c-46aa-9cd6-342163facaa3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"64209488","attempt":1,"shardIndex":0},{"jobId":"64209489","attempt":1,"shardIndex":1}]},"id":"1803eeb2-a19c-46aa-9cd6-342163facaa3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/1803eeb2-a19c-46aa-9cd6-342163facaa3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"64209488","attempt":1,"shardIndex":0},{"jobId":"64209489","attempt":1,"shardIndex":1}]},"id":"1803eeb2-a19c-46aa-9cd6-342163facaa3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
