interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"16414617","attempt":1,"shardIndex":-1}]},"id":"b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/5d297729-1e86-401d-bc36-df01835416ad/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"16414585","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"16414589","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"16414591","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"16414587","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"16414586","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"16414590","attempt":1,"shardIndex":0},{"jobId":"16414584","attempt":1,"shardIndex":1},{"jobId":"16414588","attempt":1,"shardIndex":2}]},"id":"5d297729-1e86-401d-bc36-df01835416ad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/dd6c2c2b-f36e-44c5-87ab-23567fdfc622/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"16414625","attempt":1,"shardIndex":-1}]},"id":"dd6c2c2b-f36e-44c5-87ab-23567fdfc622"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/8f923309-b784-43ec-bda2-8f5b64abcb9f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"16414595","attempt":1,"shardIndex":-1}]},"id":"8f923309-b784-43ec-bda2-8f5b64abcb9f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/cb09747a-cf62-4284-a82d-917c6b5bf62f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"16414637","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"16414619","attempt":1,"shardIndex":0},{"jobId":"16414621","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"16414620","attempt":1,"shardIndex":-1}]},"id":"cb09747a-cf62-4284-a82d-917c6b5bf62f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/9b582229-0a0b-4745-a77a-6de8cdceee27/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"16414598","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"16414613","attempt":1,"shardIndex":-1}]},"id":"9b582229-0a0b-4745-a77a-6de8cdceee27"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/b6096c95-6517-435f-be7b-c90c47582b45/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"16414614","attempt":1,"shardIndex":-1}]},"id":"b6096c95-6517-435f-be7b-c90c47582b45"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/194efda3-903c-47a7-b713-3f5c1b949c1e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"16414583","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"16414596","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"16414612","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"16414618","attempt":1,"shardIndex":-1}]},"id":"194efda3-903c-47a7-b713-3f5c1b949c1e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/4d062739-0838-467f-be5c-99ecd8d678cd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"16414638","attempt":1,"shardIndex":-1}]},"id":"4d062739-0838-467f-be5c-99ecd8d678cd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/8f04aaa8-2b0c-4105-8f32-bbefb1016c5d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"16414651","attempt":1,"shardIndex":0},{"jobId":"16414650","attempt":1,"shardIndex":1}]},"id":"8f04aaa8-2b0c-4105-8f32-bbefb1016c5d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/4dc3872e-b4ce-4d2e-9741-2e23866b2265/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"16414639","attempt":1,"shardIndex":-1}]},"id":"4dc3872e-b4ce-4d2e-9741-2e23866b2265"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/6f58128b-56f3-41a3-9539-63a4f12cbf2b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"enhanced_map_test.process_sample":[{"jobId":"16414646","attempt":1,"shardIndex":0},{"jobId":"16414642","attempt":1,"shardIndex":1},{"jobId":"16414645","attempt":1,"shardIndex":2}],"enhanced_map_test.process_nested_map":[{"jobId":"16414644","attempt":1,"shardIndex":0},{"jobId":"16414643","attempt":1,"shardIndex":1}],"enhanced_map_test.create_result_map":[{"jobId":"16414670","attempt":1,"shardIndex":-1}]},"id":"6f58128b-56f3-41a3-9539-63a4f12cbf2b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/9821dc46-6202-46c7-993d-e5694a49a3ee/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"16414661","attempt":1,"shardIndex":0},{"jobId":"16414662","attempt":1,"shardIndex":1},{"jobId":"16414663","attempt":1,"shardIndex":2}]},"id":"9821dc46-6202-46c7-993d-e5694a49a3ee"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/4cf6a3b0-3a1d-454d-af56-a304de764e24/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"16414636","attempt":1,"shardIndex":-1}]},"id":"4cf6a3b0-3a1d-454d-af56-a304de764e24"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
