interactions:
- request:
    body: "--bcc2b58d6ea5b81616e7c2dda8e571a3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/2d1e92b9-2455-4ec6-8b86-8a56578f741a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2d1e92b9-2455-4ec6-8b86-8a56578f741a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/2d1e92b9-2455-4ec6-8b86-8a56578f741a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"8627971","attempt":1,"shardIndex":0},{"jobId":"8627972","attempt":1,"shardIndex":1}]},"id":"2d1e92b9-2455-4ec6-8b86-8a56578f741a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/2d1e92b9-2455-4ec6-8b86-8a56578f741a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"8627971","attempt":1,"shardIndex":0},{"jobId":"8627972","attempt":1,"shardIndex":1}]},"id":"2d1e92b9-2455-4ec6-8b86-8a56578f741a"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
