interactions:
- request:
    body: "--2cc6c184d16ba78f6734adfb7d712edc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/58df8b70-0152-4263-afb9-7a76756e68b2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"58df8b70-0152-4263-afb9-7a76756e68b2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/58df8b70-0152-4263-afb9-7a76756e68b2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"31909704","attempt":1,"shardIndex":0},{"jobId":"31909703","attempt":1,"shardIndex":1}]},"id":"58df8b70-0152-4263-afb9-7a76756e68b2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/58df8b70-0152-4263-afb9-7a76756e68b2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"31909704","attempt":1,"shardIndex":0},{"jobId":"31909703","attempt":1,"shardIndex":1}]},"id":"58df8b70-0152-4263-afb9-7a76756e68b2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
