interactions:
- request:
    body: "--4d9fe622ca1f4c3ee6a7524367e2a849\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/df3e61eb-f34d-4030-9bf7-35234323f9dd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"df3e61eb-f34d-4030-9bf7-35234323f9dd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/df3e61eb-f34d-4030-9bf7-35234323f9dd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"22019906","attempt":1,"shardIndex":0},{"jobId":"22019904","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"22019905","attempt":1,"shardIndex":-1}]},"id":"df3e61eb-f34d-4030-9bf7-35234323f9dd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/df3e61eb-f34d-4030-9bf7-35234323f9dd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"22019909","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"22019906","attempt":1,"shardIndex":0},{"jobId":"22019904","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"22019905","attempt":1,"shardIndex":-1}]},"id":"df3e61eb-f34d-4030-9bf7-35234323f9dd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/df3e61eb-f34d-4030-9bf7-35234323f9dd/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"22019909","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"22019906","attempt":1,"shardIndex":0},{"jobId":"22019904","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"22019905","attempt":1,"shardIndex":-1}]},"id":"df3e61eb-f34d-4030-9bf7-35234323f9dd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
