interactions:
- request:
    body: "--14e45f3c76a04ecb0c2506fe1112d0dc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/a649664b-4150-4c7e-b7c3-293b051e7e49/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a649664b-4150-4c7e-b7c3-293b051e7e49"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/a649664b-4150-4c7e-b7c3-293b051e7e49/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"49682080","attempt":1,"shardIndex":0},{"jobId":"49682079","attempt":1,"shardIndex":1}]},"id":"a649664b-4150-4c7e-b7c3-293b051e7e49"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/a649664b-4150-4c7e-b7c3-293b051e7e49/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"49682080","attempt":1,"shardIndex":0},{"jobId":"49682079","attempt":1,"shardIndex":1}]},"id":"a649664b-4150-4c7e-b7c3-293b051e7e49"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
