interactions:
- request:
    body: "--d288d98219de55a5c0482ccd096354f2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/b3b2cfa4-2e97-4bd3-8513-006f3c842fb7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b3b2cfa4-2e97-4bd3-8513-006f3c842fb7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/b3b2cfa4-2e97-4bd3-8513-006f3c842fb7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"64209462","attempt":1,"shardIndex":-1}]},"id":"b3b2cfa4-2e97-4bd3-8513-006f3c842fb7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/b3b2cfa4-2e97-4bd3-8513-006f3c842fb7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"64209462","attempt":1,"shardIndex":-1}]},"id":"b3b2cfa4-2e97-4bd3-8513-006f3c842fb7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
