interactions:
- request:
    body: "--5e296a1023697948fcb64d232f82a531\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--5e296a1023697948fcb64d232f82a531\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5e296a1023697948fcb64d232f82a531--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5e296a1023697948fcb64d232f82a531
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"e42b80a1-d41d-41c2-ac78-8d6f9283ff51","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/e42b80a1-d41d-41c2-ac78-8d6f9283ff51/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e42b80a1-d41d-41c2-ac78-8d6f9283ff51\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/e42b80a1-d41d-41c2-ac78-8d6f9283ff51/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e42b80a1-d41d-41c2-ac78-8d6f9283ff51"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
