interactions:
- request:
    body: "--35fa018639f0b8b09cc5dce44d83f222\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/e4a3a232-9cca-44f9-822b-e422c101c0a6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e4a3a232-9cca-44f9-822b-e422c101c0a6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/e4a3a232-9cca-44f9-822b-e422c101c0a6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"62607494","attempt":1,"shardIndex":0},{"jobId":"62607495","attempt":1,"shardIndex":1}]},"id":"e4a3a232-9cca-44f9-822b-e422c101c0a6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/e4a3a232-9cca-44f9-822b-e422c101c0a6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"62607494","attempt":1,"shardIndex":0},{"jobId":"62607495","attempt":1,"shardIndex":1}]},"id":"e4a3a232-9cca-44f9-822b-e422c101c0a6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
