interactions:
- request:
    body: "--843fc3ae12cd820af90aa70275de517f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--843fc3ae12cd820af90aa70275de517f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--843fc3ae12cd820af90aa70275de517f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=843fc3ae12cd820af90aa70275de517f
    method: POST
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1
  response:
    body:
      string: '{"id":"fd884fd5-63fe-4356-bea5-eab649d3f4a5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/fd884fd5-63fe-4356-bea5-eab649d3f4a5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: fd884fd5-63fe-4356-bea5-eab649d3f4a5\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/fd884fd5-63fe-4356-bea5-eab649d3f4a5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fd884fd5-63fe-4356-bea5-eab649d3f4a5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
