interactions:
- request:
    body: "--4d0f5146ba61aa73e5f9e11304f5edc5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/cc68be39-59a9-4ceb-a6d4-f37fd13f982d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"cc68be39-59a9-4ceb-a6d4-f37fd13f982d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/cc68be39-59a9-4ceb-a6d4-f37fd13f982d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"35143807","attempt":1,"shardIndex":0},{"jobId":"35143805","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"35143806","attempt":1,"shardIndex":-1}]},"id":"cc68be39-59a9-4ceb-a6d4-f37fd13f982d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/cc68be39-59a9-4ceb-a6d4-f37fd13f982d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"35143823","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"35143807","attempt":1,"shardIndex":0},{"jobId":"35143805","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"35143806","attempt":1,"shardIndex":-1}]},"id":"cc68be39-59a9-4ceb-a6d4-f37fd13f982d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/cc68be39-59a9-4ceb-a6d4-f37fd13f982d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"35143823","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"35143807","attempt":1,"shardIndex":0},{"jobId":"35143805","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"35143806","attempt":1,"shardIndex":-1}]},"id":"cc68be39-59a9-4ceb-a6d4-f37fd13f982d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
