interactions:
- request:
    body: "--99e36f19262fc4682c857beb5fc17aa3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/4fa32103-330b-4923-8607-6dd7908e737d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4fa32103-330b-4923-8607-6dd7908e737d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/4fa32103-330b-4923-8607-6dd7908e737d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"29797134","attempt":1,"shardIndex":0},{"jobId":"29797132","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"29797133","attempt":1,"shardIndex":-1}]},"id":"4fa32103-330b-4923-8607-6dd7908e737d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/4fa32103-330b-4923-8607-6dd7908e737d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"29797173","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"29797134","attempt":1,"shardIndex":0},{"jobId":"29797132","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"29797133","attempt":1,"shardIndex":-1}]},"id":"4fa32103-330b-4923-8607-6dd7908e737d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/4fa32103-330b-4923-8607-6dd7908e737d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"29797173","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"29797134","attempt":1,"shardIndex":0},{"jobId":"29797132","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"29797133","attempt":1,"shardIndex":-1}]},"id":"4fa32103-330b-4923-8607-6dd7908e737d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
