interactions:
- request:
    body: "--dd6641fcc42e5125df7fdf9d45f44bc4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/a7765a66-e118-4a75-ac54-89424314e400/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a7765a66-e118-4a75-ac54-89424314e400"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/a7765a66-e118-4a75-ac54-89424314e400/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"44085868","attempt":1,"shardIndex":0},{"jobId":"44085870","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"44085869","attempt":1,"shardIndex":-1}]},"id":"a7765a66-e118-4a75-ac54-89424314e400"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/a7765a66-e118-4a75-ac54-89424314e400/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"44085875","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"44085868","attempt":1,"shardIndex":0},{"jobId":"44085870","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"44085869","attempt":1,"shardIndex":-1}]},"id":"a7765a66-e118-4a75-ac54-89424314e400"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/a7765a66-e118-4a75-ac54-89424314e400/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"44085875","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"44085868","attempt":1,"shardIndex":0},{"jobId":"44085870","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"44085869","attempt":1,"shardIndex":-1}]},"id":"a7765a66-e118-4a75-ac54-89424314e400"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
