interactions:
- request:
    body: "--4d7a4693a0b0268b9582aafa540c8e98\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--4d7a4693a0b0268b9582aafa540c8e98\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4d7a4693a0b0268b9582aafa540c8e98--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4d7a4693a0b0268b9582aafa540c8e98
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"862ebdde-f9fc-40f5-89c7-c8f1bd26c098","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/862ebdde-f9fc-40f5-89c7-c8f1bd26c098/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"862ebdde-f9fc-40f5-89c7-c8f1bd26c098"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/862ebdde-f9fc-40f5-89c7-c8f1bd26c098/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"22670166","attempt":1,"shardIndex":-1}]},"id":"862ebdde-f9fc-40f5-89c7-c8f1bd26c098"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/862ebdde-f9fc-40f5-89c7-c8f1bd26c098/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"22670166","attempt":1,"shardIndex":-1}]},"id":"862ebdde-f9fc-40f5-89c7-c8f1bd26c098"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
