interactions:
- request:
    body: "--daa7ca077ac585ed107cb9d6af2bd86a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/c16710e0-d3bb-4fec-93f8-e81e9f4dacf6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c16710e0-d3bb-4fec-93f8-e81e9f4dacf6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/c16710e0-d3bb-4fec-93f8-e81e9f4dacf6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"6092455","attempt":1,"shardIndex":0},{"jobId":"6092454","attempt":1,"shardIndex":1}]},"id":"c16710e0-d3bb-4fec-93f8-e81e9f4dacf6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/c16710e0-d3bb-4fec-93f8-e81e9f4dacf6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"6092455","attempt":1,"shardIndex":0},{"jobId":"6092454","attempt":1,"shardIndex":1}]},"id":"c16710e0-d3bb-4fec-93f8-e81e9f4dacf6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
