interactions:
- request:
    body: "--8b0e1c8d175e43a478855495dbd68a8d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/877a0628-b510-48f3-bd1f-334dd6a13767/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"877a0628-b510-48f3-bd1f-334dd6a13767"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/877a0628-b510-48f3-bd1f-334dd6a13767/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"29797088","attempt":1,"shardIndex":-1}]},"id":"877a0628-b510-48f3-bd1f-334dd6a13767"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/877a0628-b510-48f3-bd1f-334dd6a13767/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"29797088","attempt":1,"shardIndex":-1}]},"id":"877a0628-b510-48f3-bd1f-334dd6a13767"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
