interactions:
- request:
    body: "--867882458f3af61a74392b0fec2327e1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/f3775230-c602-4b8a-9638-e66599a19904/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f3775230-c602-4b8a-9638-e66599a19904"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/f3775230-c602-4b8a-9638-e66599a19904/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"struct_example.process_sample":[{"jobId":"40375565","attempt":1,"shardIndex":0},{"jobId":"40375566","attempt":1,"shardIndex":1}]},"id":"f3775230-c602-4b8a-9638-e66599a19904"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/f3775230-c602-4b8a-9638-e66599a19904/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"struct_example.process_sample":[{"jobId":"40375565","attempt":1,"shardIndex":0},{"jobId":"40375566","attempt":1,"shardIndex":1}]},"id":"f3775230-c602-4b8a-9638-e66599a19904"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
