interactions:
- request:
    body: "--a037de653460ad2533c17605f4108b47\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/5d6dabd0-05a2-4880-ab9b-355de27e4a00/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"5d6dabd0-05a2-4880-ab9b-355de27e4a00"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/5d6dabd0-05a2-4880-ab9b-355de27e4a00/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"9972728","attempt":1,"shardIndex":0},{"jobId":"9972727","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"9972729","attempt":1,"shardIndex":-1}]},"id":"5d6dabd0-05a2-4880-ab9b-355de27e4a00"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/5d6dabd0-05a2-4880-ab9b-355de27e4a00/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"9972738","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"9972728","attempt":1,"shardIndex":0},{"jobId":"9972727","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"9972729","attempt":1,"shardIndex":-1}]},"id":"5d6dabd0-05a2-4880-ab9b-355de27e4a00"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/5d6dabd0-05a2-4880-ab9b-355de27e4a00/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"9972738","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"9972728","attempt":1,"shardIndex":0},{"jobId":"9972727","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"9972729","attempt":1,"shardIndex":-1}]},"id":"5d6dabd0-05a2-4880-ab9b-355de27e4a00"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
