interactions:
- request:
    body: "--db6b2fa41dd5d00152d20128da4d8b60\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/cd571cea-e2e7-47db-ab43-eddf16d3b064/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"cd571cea-e2e7-47db-ab43-eddf16d3b064"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/cd571cea-e2e7-47db-ab43-eddf16d3b064/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"42372102","attempt":1,"shardIndex":0},{"jobId":"42372100","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"42372101","attempt":1,"shardIndex":-1}]},"id":"cd571cea-e2e7-47db-ab43-eddf16d3b064"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/cd571cea-e2e7-47db-ab43-eddf16d3b064/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"42372136","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"42372102","attempt":1,"shardIndex":0},{"jobId":"42372100","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"42372101","attempt":1,"shardIndex":-1}]},"id":"cd571cea-e2e7-47db-ab43-eddf16d3b064"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/cd571cea-e2e7-47db-ab43-eddf16d3b064/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"42372136","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"42372102","attempt":1,"shardIndex":0},{"jobId":"42372100","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"42372101","attempt":1,"shardIndex":-1}]},"id":"cd571cea-e2e7-47db-ab43-eddf16d3b064"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
