interactions:
- request:
    body: "--8becb6a210feab9d53a1fcb554a4c16d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--8becb6a210feab9d53a1fcb554a4c16d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8becb6a210feab9d53a1fcb554a4c16d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=8becb6a210feab9d53a1fcb554a4c16d
    method: POST
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1
  response:
    body:
      string: '{"id":"b05b19d9-ec25-40f3-b1db-07810806360f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/b05b19d9-ec25-40f3-b1db-07810806360f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"b05b19d9-ec25-40f3-b1db-07810806360f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/b05b19d9-ec25-40f3-b1db-07810806360f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"46403872","attempt":1,"shardIndex":-1}]},"id":"b05b19d9-ec25-40f3-b1db-07810806360f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/b05b19d9-ec25-40f3-b1db-07810806360f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"46403872","attempt":1,"shardIndex":-1}]},"id":"b05b19d9-ec25-40f3-b1db-07810806360f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
