interactions:
- request:
    body: "--6163960c70abac5e98e91a89ffda3ad4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--6163960c70abac5e98e91a89ffda3ad4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6163960c70abac5e98e91a89ffda3ad4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=6163960c70abac5e98e91a89ffda3ad4
    method: POST
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1
  response:
    body:
      string: '{"id":"4c5ef56d-e3d6-49fe-822a-0730e05b3676","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/4c5ef56d-e3d6-49fe-822a-0730e05b3676/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4c5ef56d-e3d6-49fe-822a-0730e05b3676\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/4c5ef56d-e3d6-49fe-822a-0730e05b3676/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4c5ef56d-e3d6-49fe-822a-0730e05b3676"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
