interactions:
- request:
    body: "--45989936a21bdf5d659567a4a44ca5e1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/fdda34a6-573f-4d19-b651-fd06bee9ec9b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fdda34a6-573f-4d19-b651-fd06bee9ec9b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/fdda34a6-573f-4d19-b651-fd06bee9ec9b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"52866205","attempt":1,"shardIndex":0},{"jobId":"52866206","attempt":1,"shardIndex":1},{"jobId":"52866207","attempt":1,"shardIndex":2}]},"id":"fdda34a6-573f-4d19-b651-fd06bee9ec9b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/fdda34a6-573f-4d19-b651-fd06bee9ec9b/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"52866205","attempt":1,"shardIndex":0},{"jobId":"52866206","attempt":1,"shardIndex":1},{"jobId":"52866207","attempt":1,"shardIndex":2}]},"id":"fdda34a6-573f-4d19-b651-fd06bee9ec9b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
