interactions:
- request:
    body: "--e6b2c3e558e88ea130d1ee6c43d31ac6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--e6b2c3e558e88ea130d1ee6c43d31ac6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e6b2c3e558e88ea130d1ee6c43d31ac6--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e6b2c3e558e88ea130d1ee6c43d31ac6
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"2da41657-9ed4-43df-809d-34d9a3bc38f8","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/2da41657-9ed4-43df-809d-34d9a3bc38f8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2da41657-9ed4-43df-809d-34d9a3bc38f8\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/2da41657-9ed4-43df-809d-34d9a3bc38f8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2da41657-9ed4-43df-809d-34d9a3bc38f8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
