interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/55941186-1c2a-4095-9887-646e7be2d0cf/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"9063377","attempt":1,"shardIndex":-1}]},"id":"55941186-1c2a-4095-9887-646e7be2d0cf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/391c6089-ff50-45e5-b745-071a2b115ba5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"ArrayOperations.ArrayConcat":[{"jobId":"9063371","attempt":1,"shardIndex":-1}],"ArrayOperations.FileArrayOps":[{"jobId":"9063372","attempt":1,"shardIndex":-1}],"ArrayOperations.ArrayFunctions":[{"jobId":"9063368","attempt":1,"shardIndex":-1}],"ArrayOperations.IntegerArrayOps":[{"jobId":"9063373","attempt":1,"shardIndex":-1}],"ArrayOperations.ValidateIndex":[{"jobId":"9063370","attempt":1,"shardIndex":-1}],"ArrayOperations.Uppercase":[{"jobId":"9063374","attempt":1,"shardIndex":0},{"jobId":"9063375","attempt":1,"shardIndex":1},{"jobId":"9063376","attempt":1,"shardIndex":2}]},"id":"391c6089-ff50-45e5-b745-071a2b115ba5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/8e247657-6841-4932-a097-4a2283d0f17e/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonTaskOrderTest.Task1":[{"jobId":"9063410","attempt":1,"shardIndex":-1}],"jsonTaskOrderTest.Task2":[{"jobId":"9063422","attempt":1,"shardIndex":-1}]},"id":"8e247657-6841-4932-a097-4a2283d0f17e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/94e90cbc-60db-4e63-81fd-7c3194b544e3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"9063421","attempt":1,"shardIndex":-1}]},"id":"94e90cbc-60db-4e63-81fd-7c3194b544e3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/880cc3f0-47c5-41c2-b458-006756b3ad52/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"9063397","attempt":1,"shardIndex":-1}]},"id":"880cc3f0-47c5-41c2-b458-006756b3ad52"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/bc4e39b3-7864-4c80-a0ad-d60ecd38d746/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloHostname.Hostname":[{"jobId":"9063484","attempt":1,"shardIndex":-1}]},"id":"bc4e39b3-7864-4c80-a0ad-d60ecd38d746"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/cd7ae742-ac05-44bd-9fb4-dfcdcd9e45c8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"9063635","attempt":1,"shardIndex":0},{"jobId":"9063636","attempt":1,"shardIndex":1},{"jobId":"9063637","attempt":1,"shardIndex":2}]},"id":"cd7ae742-ac05-44bd-9fb4-dfcdcd9e45c8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/df202fe2-5d3e-4fdd-bb8a-ea8a7753063a/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"9063811","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"9063750","attempt":1,"shardIndex":0},{"jobId":"9063749","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"9063751","attempt":1,"shardIndex":-1}]},"id":"df202fe2-5d3e-4fdd-bb8a-ea8a7753063a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/9fe23458-f2b2-4bd1-886f-0811a8c22267/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globSubdir.create_nested_files":[{"jobId":"9063618","attempt":1,"shardIndex":-1}]},"id":"9fe23458-f2b2-4bd1-886f-0811a8c22267"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/15114e63-02d5-4bbe-88c7-1a6c78077b92/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"9063538","attempt":1,"shardIndex":-1}]},"id":"15114e63-02d5-4bbe-88c7-1a6c78077b92"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/af275974-bfe6-4151-b7ae-f325518291c6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"9063619","attempt":1,"shardIndex":-1}]},"id":"af275974-bfe6-4151-b7ae-f325518291c6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/1b465586-5f57-417d-aad2-b24ce6310f70/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicTaskTest.simpleTask":[{"jobId":"9063597","attempt":1,"shardIndex":-1}]},"id":"1b465586-5f57-417d-aad2-b24ce6310f70"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/d958d760-e7ff-4d55-9b74-90113c0dc1d7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"HelloDockerHostname.GetStartTime":[{"jobId":"9063648","attempt":1,"shardIndex":-1}],"HelloDockerHostname.Hostname":[{"jobId":"9063762","attempt":1,"shardIndex":-1}],"HelloDockerHostname.GetEndTime":[{"jobId":"9063812","attempt":1,"shardIndex":-1}],"HelloDockerHostname.ValidateExecutionTime":[{"jobId":"9063836","attempt":1,"shardIndex":-1}]},"id":"d958d760-e7ff-4d55-9b74-90113c0dc1d7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
