interactions:
- request:
    body: "--c3638d506849343081eb473d62ecf93e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/81e2dab1-1c09-4bfa-881d-73afa06e3170/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"81e2dab1-1c09-4bfa-881d-73afa06e3170"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/81e2dab1-1c09-4bfa-881d-73afa06e3170/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"54309741","attempt":1,"shardIndex":0},{"jobId":"54309740","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"54309742","attempt":1,"shardIndex":-1}]},"id":"81e2dab1-1c09-4bfa-881d-73afa06e3170"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/81e2dab1-1c09-4bfa-881d-73afa06e3170/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"54309767","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"54309741","attempt":1,"shardIndex":0},{"jobId":"54309740","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"54309742","attempt":1,"shardIndex":-1}]},"id":"81e2dab1-1c09-4bfa-881d-73afa06e3170"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/81e2dab1-1c09-4bfa-881d-73afa06e3170/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"54309767","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"54309741","attempt":1,"shardIndex":0},{"jobId":"54309740","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"54309742","attempt":1,"shardIndex":-1}]},"id":"81e2dab1-1c09-4bfa-881d-73afa06e3170"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
