interactions:
- request:
    body: "--2b813b2294cd4842ededfa8c8af7a4c9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--2b813b2294cd4842ededfa8c8af7a4c9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2b813b2294cd4842ededfa8c8af7a4c9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2b813b2294cd4842ededfa8c8af7a4c9
    method: POST
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1
  response:
    body:
      string: '{"id":"4b9a1d80-4805-4369-b6cd-a00508c49606","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/4b9a1d80-4805-4369-b6cd-a00508c49606/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"4b9a1d80-4805-4369-b6cd-a00508c49606"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/4b9a1d80-4805-4369-b6cd-a00508c49606/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"basicGlobTest.create_files":[{"jobId":"29796977","attempt":1,"shardIndex":-1}]},"id":"4b9a1d80-4805-4369-b6cd-a00508c49606"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/4b9a1d80-4805-4369-b6cd-a00508c49606/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"basicGlobTest.create_files":[{"jobId":"29796977","attempt":1,"shardIndex":-1}]},"id":"4b9a1d80-4805-4369-b6cd-a00508c49606"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
