interactions:
- request:
    body: "--e23b220cbcdd051f9705cfec0c7f9c06\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--e23b220cbcdd051f9705cfec0c7f9c06\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e23b220cbcdd051f9705cfec0c7f9c06--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e23b220cbcdd051f9705cfec0c7f9c06
    method: POST
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1
  response:
    body:
      string: '{"id":"f2dfcd90-9910-4750-8964-3aa525784eb6","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/f2dfcd90-9910-4750-8964-3aa525784eb6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f2dfcd90-9910-4750-8964-3aa525784eb6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/f2dfcd90-9910-4750-8964-3aa525784eb6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"45311208","attempt":1,"shardIndex":-1}]},"id":"f2dfcd90-9910-4750-8964-3aa525784eb6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/f2dfcd90-9910-4750-8964-3aa525784eb6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"45311208","attempt":1,"shardIndex":-1}]},"id":"f2dfcd90-9910-4750-8964-3aa525784eb6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
