interactions:
- request:
    body: "--08e9ad93f637fd120aa6b0a4e27927f0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--08e9ad93f637fd120aa6b0a4e27927f0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--08e9ad93f637fd120aa6b0a4e27927f0--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=08e9ad93f637fd120aa6b0a4e27927f0
    method: POST
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1
  response:
    body:
      string: '{"id":"9660cd0f-cc7b-4ed9-a69a-e9f067078f75","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/9660cd0f-cc7b-4ed9-a69a-e9f067078f75/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"9660cd0f-cc7b-4ed9-a69a-e9f067078f75"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/9660cd0f-cc7b-4ed9-a69a-e9f067078f75/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"45857633","attempt":1,"shardIndex":-1}]},"id":"9660cd0f-cc7b-4ed9-a69a-e9f067078f75"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/9660cd0f-cc7b-4ed9-a69a-e9f067078f75/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"45857633","attempt":1,"shardIndex":-1}]},"id":"9660cd0f-cc7b-4ed9-a69a-e9f067078f75"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
