interactions:
- request:
    body: "--173f31e58298a9dffce5a9bea1f1ef07\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/55d3b87d-609f-4fc4-a6eb-5044fb998605/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"55d3b87d-609f-4fc4-a6eb-5044fb998605"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/55d3b87d-609f-4fc4-a6eb-5044fb998605/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"22019884","attempt":1,"shardIndex":-1}]},"id":"55d3b87d-609f-4fc4-a6eb-5044fb998605"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/55d3b87d-609f-4fc4-a6eb-5044fb998605/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"22019884","attempt":1,"shardIndex":-1}]},"id":"55d3b87d-609f-4fc4-a6eb-5044fb998605"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
