interactions:
- request:
    body: "--fa1c2e08a15beebf99309d0d7b83c20f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--fa1c2e08a15beebf99309d0d7b83c20f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--fa1c2e08a15beebf99309d0d7b83c20f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=fa1c2e08a15beebf99309d0d7b83c20f
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"ce3750d9-2636-4f63-ab1d-f91a6013f953","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/ce3750d9-2636-4f63-ab1d-f91a6013f953/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ce3750d9-2636-4f63-ab1d-f91a6013f953"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/ce3750d9-2636-4f63-ab1d-f91a6013f953/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"62608504","attempt":1,"shardIndex":-1}]},"id":"ce3750d9-2636-4f63-ab1d-f91a6013f953"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/ce3750d9-2636-4f63-ab1d-f91a6013f953/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"symlinkOnly.generate_diverse_outputs":[{"jobId":"62608504","attempt":1,"shardIndex":-1}]},"id":"ce3750d9-2636-4f63-ab1d-f91a6013f953"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
