interactions:
- request:
    body: "--2a6ae4d5cd9d0ce97ecccaf07baf485f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/d6ae9123-2f56-4a81-a150-94098cca26ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d6ae9123-2f56-4a81-a150-94098cca26ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/d6ae9123-2f56-4a81-a150-94098cca26ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"52338807","attempt":1,"shardIndex":0},{"jobId":"52338806","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52338808","attempt":1,"shardIndex":-1}]},"id":"d6ae9123-2f56-4a81-a150-94098cca26ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/d6ae9123-2f56-4a81-a150-94098cca26ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"52338822","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"52338807","attempt":1,"shardIndex":0},{"jobId":"52338806","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52338808","attempt":1,"shardIndex":-1}]},"id":"d6ae9123-2f56-4a81-a150-94098cca26ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/d6ae9123-2f56-4a81-a150-94098cca26ec/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"52338822","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"52338807","attempt":1,"shardIndex":0},{"jobId":"52338806","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"52338808","attempt":1,"shardIndex":-1}]},"id":"d6ae9123-2f56-4a81-a150-94098cca26ec"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
