interactions:
- request:
    body: "--e781a489606d3647eff12b2a53f393e0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/aeed61f1-2f40-4bdb-bb67-bcaddd8e83f7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"aeed61f1-2f40-4bdb-bb67-bcaddd8e83f7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/aeed61f1-2f40-4bdb-bb67-bcaddd8e83f7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"55275961","attempt":1,"shardIndex":-1}]},"id":"aeed61f1-2f40-4bdb-bb67-bcaddd8e83f7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/aeed61f1-2f40-4bdb-bb67-bcaddd8e83f7/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"test_nonstandard_outputs.generate_diverse_outputs":[{"jobId":"55275961","attempt":1,"shardIndex":-1}]},"id":"aeed61f1-2f40-4bdb-bb67-bcaddd8e83f7"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
