interactions:
- request:
    body: "--22331990ae4d20914996432b8094feb8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--22331990ae4d20914996432b8094feb8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--22331990ae4d20914996432b8094feb8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=22331990ae4d20914996432b8094feb8
    method: POST
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1
  response:
    body:
      string: '{"id":"304e3a46-5e00-43f8-833f-de49268d859d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/304e3a46-5e00-43f8-833f-de49268d859d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"304e3a46-5e00-43f8-833f-de49268d859d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/304e3a46-5e00-43f8-833f-de49268d859d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"49457287","attempt":1,"shardIndex":-1}]},"id":"304e3a46-5e00-43f8-833f-de49268d859d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/304e3a46-5e00-43f8-833f-de49268d859d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"emptyGlobTest.create_empty_directory":[{"jobId":"49457287","attempt":1,"shardIndex":-1}]},"id":"304e3a46-5e00-43f8-833f-de49268d859d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
