interactions:
- request:
    body: "--7f4cf2886e1194eae4a333e7dc719c76\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--7f4cf2886e1194eae4a333e7dc719c76\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7f4cf2886e1194eae4a333e7dc719c76--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=7f4cf2886e1194eae4a333e7dc719c76
    method: POST
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1
  response:
    body:
      string: '{"id":"ff30341c-dd6e-4abc-ae1b-bb2e41df0617","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/ff30341c-dd6e-4abc-ae1b-bb2e41df0617/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ff30341c-dd6e-4abc-ae1b-bb2e41df0617"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/ff30341c-dd6e-4abc-ae1b-bb2e41df0617/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"50539199","attempt":1,"shardIndex":-1}]},"id":"ff30341c-dd6e-4abc-ae1b-bb2e41df0617"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/ff30341c-dd6e-4abc-ae1b-bb2e41df0617/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"50539199","attempt":1,"shardIndex":-1}]},"id":"ff30341c-dd6e-4abc-ae1b-bb2e41df0617"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
