interactions:
- request:
    body: "--7ff63a13e49a0d78726ebfe3f990b54a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--7ff63a13e49a0d78726ebfe3f990b54a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7ff63a13e49a0d78726ebfe3f990b54a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=7ff63a13e49a0d78726ebfe3f990b54a
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"d637ab16-b5ea-463b-8631-80aa839fa3e4","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/d637ab16-b5ea-463b-8631-80aa839fa3e4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d637ab16-b5ea-463b-8631-80aa839fa3e4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/d637ab16-b5ea-463b-8631-80aa839fa3e4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"globNonmatching.create_files":[{"jobId":"9972977","attempt":1,"shardIndex":-1}]},"id":"d637ab16-b5ea-463b-8631-80aa839fa3e4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/d637ab16-b5ea-463b-8631-80aa839fa3e4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"globNonmatching.create_files":[{"jobId":"9972977","attempt":1,"shardIndex":-1}]},"id":"d637ab16-b5ea-463b-8631-80aa839fa3e4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
