interactions:
- request:
    body: "--79f96dd017c4f1cecbc99a9bea1fdd97\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/ffafe221-baba-4cce-b8be-30fd3bdb05c4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ffafe221-baba-4cce-b8be-30fd3bdb05c4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/ffafe221-baba-4cce-b8be-30fd3bdb05c4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"jsonFileLocalization.CopyJsons":[{"jobId":"26888908","attempt":1,"shardIndex":-1}]},"id":"ffafe221-baba-4cce-b8be-30fd3bdb05c4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/ffafe221-baba-4cce-b8be-30fd3bdb05c4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"jsonFileLocalization.CopyJsons":[{"jobId":"26888908","attempt":1,"shardIndex":-1}]},"id":"ffafe221-baba-4cce-b8be-30fd3bdb05c4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
