interactions:
- request:
    body: "--2590254d7e3efb211d2251587a3823c4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/a4493d3e-428a-4c55-bd74-bb1aaef432c9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a4493d3e-428a-4c55-bd74-bb1aaef432c9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/a4493d3e-428a-4c55-bd74-bb1aaef432c9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"49457356","attempt":1,"shardIndex":0},{"jobId":"49457354","attempt":1,"shardIndex":1},{"jobId":"49457355","attempt":1,"shardIndex":2}]},"id":"a4493d3e-428a-4c55-bd74-bb1aaef432c9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/a4493d3e-428a-4c55-bd74-bb1aaef432c9/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"49457356","attempt":1,"shardIndex":0},{"jobId":"49457354","attempt":1,"shardIndex":1},{"jobId":"49457355","attempt":1,"shardIndex":2}]},"id":"a4493d3e-428a-4c55-bd74-bb1aaef432c9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
