interactions:
- request:
    body: "--5a0ff6e77218a94c1135ac97fa2ef5eb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/ad56466b-5b0d-4340-94ee-149aae5d9806/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"ad56466b-5b0d-4340-94ee-149aae5d9806"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/ad56466b-5b0d-4340-94ee-149aae5d9806/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.process_high_quality":[{"jobId":"46403876","attempt":1,"shardIndex":0},{"jobId":"46403875","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"46403874","attempt":1,"shardIndex":-1}]},"id":"ad56466b-5b0d-4340-94ee-149aae5d9806"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/ad56466b-5b0d-4340-94ee-149aae5d9806/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"conditional_example.summarize":[{"jobId":"46403888","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"46403876","attempt":1,"shardIndex":0},{"jobId":"46403875","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"46403874","attempt":1,"shardIndex":-1}]},"id":"ad56466b-5b0d-4340-94ee-149aae5d9806"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/ad56466b-5b0d-4340-94ee-149aae5d9806/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"conditional_example.summarize":[{"jobId":"46403888","attempt":1,"shardIndex":-1}],"conditional_example.process_high_quality":[{"jobId":"46403876","attempt":1,"shardIndex":0},{"jobId":"46403875","attempt":1,"shardIndex":2}],"conditional_example.run_qc_report":[{"jobId":"46403874","attempt":1,"shardIndex":-1}]},"id":"ad56466b-5b0d-4340-94ee-149aae5d9806"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
