interactions:
- request:
    body: "--128e6ef87f26e382f133380421b25a45\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/c58cf992-ccc7-428f-9279-f11e22d1d577/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"c58cf992-ccc7-428f-9279-f11e22d1d577"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/c58cf992-ccc7-428f-9279-f11e22d1d577/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testNestedJsonArray.processSample":[{"jobId":"24806215","attempt":1,"shardIndex":0},{"jobId":"24806213","attempt":1,"shardIndex":1},{"jobId":"24806214","attempt":1,"shardIndex":2}]},"id":"c58cf992-ccc7-428f-9279-f11e22d1d577"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/c58cf992-ccc7-428f-9279-f11e22d1d577/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testNestedJsonArray.processSample":[{"jobId":"24806215","attempt":1,"shardIndex":0},{"jobId":"24806213","attempt":1,"shardIndex":1},{"jobId":"24806214","attempt":1,"shardIndex":2}]},"id":"c58cf992-ccc7-428f-9279-f11e22d1d577"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
