interactions:
- request:
    body: "--f78a40dbc147b040b2e9452b3b09b73e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/6c548012-09d7-47a8-ba0e-c17f6c793fbc/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 6c548012-09d7-47a8-ba0e-c17f6c793fbc\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/6c548012-09d7-47a8-ba0e-c17f6c793fbc/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6c548012-09d7-47a8-ba0e-c17f6c793fbc"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
