interactions:
- request:
    body: "--0b44c17272a5403b6acf69c56fbfce41\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/83c541c0-ac1b-4900-b730-83b21b6f3f52/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"83c541c0-ac1b-4900-b730-83b21b6f3f52"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/83c541c0-ac1b-4900-b730-83b21b6f3f52/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"testFileoperations.file_operations":[{"jobId":"37628825","attempt":1,"shardIndex":-1}]},"id":"83c541c0-ac1b-4900-b730-83b21b6f3f52"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/83c541c0-ac1b-4900-b730-83b21b6f3f52/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"testFileoperations.file_operations":[{"jobId":"37628825","attempt":1,"shardIndex":-1}]},"id":"83c541c0-ac1b-4900-b730-83b21b6f3f52"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
