interactions:
- request:
    body: "--54d144e988c30b5d3a04cf8af160f3e1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/1c870291-b391-4eca-a1cf-5db9317521a1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"1c870291-b391-4eca-a1cf-5db9317521a1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/1c870291-b391-4eca-a1cf-5db9317521a1/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"1c870291-b391-4eca-a1cf-5db9317521a1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
