interactions:
- request:
    body: "--1fd80e03a11634de7782ec294ecdf9ad\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--1fd80e03a11634de7782ec294ecdf9ad\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1fd80e03a11634de7782ec294ecdf9ad--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1fd80e03a11634de7782ec294ecdf9ad
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"fb06e67e-89bc-418d-9519-c348207b637c","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/fb06e67e-89bc-418d-9519-c348207b637c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: fb06e67e-89bc-418d-9519-c348207b637c\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/fb06e67e-89bc-418d-9519-c348207b637c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fb06e67e-89bc-418d-9519-c348207b637c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
