interactions:
- request:
    body: "--cc8953030f1a6244c494d384822e1025\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--cc8953030f1a6244c494d384822e1025\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--cc8953030f1a6244c494d384822e1025--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=cc8953030f1a6244c494d384822e1025
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"d89c3d52-b66d-4bcf-be24-9673381982e8","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/d89c3d52-b66d-4bcf-be24-9673381982e8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: d89c3d52-b66d-4bcf-be24-9673381982e8\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/d89c3d52-b66d-4bcf-be24-9673381982e8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d89c3d52-b66d-4bcf-be24-9673381982e8"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
