interactions:
- request:
    body: "--43b9cc3bea687e0a56dc41af4d9d7f94\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/fa590cc3-4f57-4cb5-82f9-d68fe9bc9cf5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"fa590cc3-4f57-4cb5-82f9-d68fe9bc9cf5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/fa590cc3-4f57-4cb5-82f9-d68fe9bc9cf5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"fa590cc3-4f57-4cb5-82f9-d68fe9bc9cf5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
