interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1/57bfb303-9a45-4661-825c-7c11d17a2240/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"57bfb303-9a45-4661-825c-7c11d17a2240"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
