interactions:
- request:
    body: "--3443c405e57af1a66282fb99d883126f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/2a0a835e-d8e7-4d05-9a56-91dddbccbab3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"2a0a835e-d8e7-4d05-9a56-91dddbccbab3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/2a0a835e-d8e7-4d05-9a56-91dddbccbab3/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"2a0a835e-d8e7-4d05-9a56-91dddbccbab3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
