interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/3d54df08-0a48-421d-9b26-d9c7e7b7a4fe/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"3d54df08-0a48-421d-9b26-d9c7e7b7a4fe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/e71ed1fb-8c49-46f1-8f98-f571e2f5a1f2/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Failed to process
        task definition ''oopsie'' (reason 1 of 1): Cannot lookup value ''docker_image'',
        it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"status":"Failed","calls":{},"id":"e71ed1fb-8c49-46f1-8f98-f571e2f5a1f2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
