interactions:
- request:
    body: "--dba88e565262eae6f916b99cf0f4b0ee\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--dba88e565262eae6f916b99cf0f4b0ee\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--dba88e565262eae6f916b99cf0f4b0ee--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=dba88e565262eae6f916b99cf0f4b0ee
    method: POST
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1
  response:
    body:
      string: '{"id":"670026be-11ea-4e4d-95eb-c5c220897560","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/670026be-11ea-4e4d-95eb-c5c220897560/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"670026be-11ea-4e4d-95eb-c5c220897560"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/670026be-11ea-4e4d-95eb-c5c220897560/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Failed to process
        task definition ''oopsie'' (reason 1 of 1): Cannot lookup value ''docker_image'',
        it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"status":"Failed","calls":{},"id":"670026be-11ea-4e4d-95eb-c5c220897560"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
