interactions:
- request:
    body: "--5c4a23376394a8e4111f7d46dbe6d269\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"badValMissingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--5c4a23376394a8e4111f7d46dbe6d269\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5c4a23376394a8e4111f7d46dbe6d269--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5c4a23376394a8e4111f7d46dbe6d269
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"a72b7969-6855-4aa8-8de7-4b18f6a10d63","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/a72b7969-6855-4aa8-8de7-4b18f6a10d63/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"a72b7969-6855-4aa8-8de7-4b18f6a10d63"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/a72b7969-6855-4aa8-8de7-4b18f6a10d63/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Failed to process
        task definition ''oopsie'' (reason 1 of 1): Cannot lookup value ''docker_image'',
        it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"status":"Failed","calls":{},"id":"a72b7969-6855-4aa8-8de7-4b18f6a10d63"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
