interactions:
- request:
    body: "--7cad18ac6acaadf081c9a943c89db3cb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/6a7456e0-5b7d-48f4-83c4-db3ef631ce5c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"6a7456e0-5b7d-48f4-83c4-db3ef631ce5c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/6a7456e0-5b7d-48f4-83c4-db3ef631ce5c/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"6a7456e0-5b7d-48f4-83c4-db3ef631ce5c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
