interactions:
- request:
    body: "--dbe808bbdf32ccd5f81cd8f8575a3e59\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--dbe808bbdf32ccd5f81cd8f8575a3e59\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--dbe808bbdf32ccd5f81cd8f8575a3e59--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=dbe808bbdf32ccd5f81cd8f8575a3e59
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1
  response:
    body:
      string: '{"id":"f3e998eb-8e62-4f71-8763-bb5b67b30da6","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/f3e998eb-8e62-4f71-8763-bb5b67b30da6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f3e998eb-8e62-4f71-8763-bb5b67b30da6\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/f3e998eb-8e62-4f71-8763-bb5b67b30da6/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"f3e998eb-8e62-4f71-8763-bb5b67b30da6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
