interactions:
- request:
    body: "--8079e57cdc995c6928fc49d2e364e6a8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--8079e57cdc995c6928fc49d2e364e6a8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8079e57cdc995c6928fc49d2e364e6a8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=8079e57cdc995c6928fc49d2e364e6a8
    method: POST
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1
  response:
    body:
      string: '{"id":"e77213c3-7fa2-4ef6-b4da-023f8c69b59f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/e77213c3-7fa2-4ef6-b4da-023f8c69b59f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"e77213c3-7fa2-4ef6-b4da-023f8c69b59f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/e77213c3-7fa2-4ef6-b4da-023f8c69b59f/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Failed to process
        task definition ''oopsie'' (reason 1 of 1): Cannot lookup value ''docker_image'',
        it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"status":"Failed","calls":{},"id":"e77213c3-7fa2-4ef6-b4da-023f8c69b59f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
