interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/5df7b062-39e7-4fe7-a7dd-2221dc7b0af0/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"5df7b062-39e7-4fe7-a7dd-2221dc7b0af0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/038543b4-69ab-43e4-93ad-9285a790e7fa/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Failed to process
        task definition ''oopsie'' (reason 1 of 1): Cannot lookup value ''docker_image'',
        it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"status":"Failed","calls":{},"id":"038543b4-69ab-43e4-93ad-9285a790e7fa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
