interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/68a4433e-9c64-4447-a0fc-6c81a7b9a4a4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"68a4433e-9c64-4447-a0fc-6c81a7b9a4a4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/6067eb3e-d875-4c9d-aa60-441e97de9df8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Failed to process
        task definition ''oopsie'' (reason 1 of 1): Cannot lookup value ''docker_image'',
        it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"status":"Failed","calls":{},"id":"6067eb3e-d875-4c9d-aa60-441e97de9df8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
