interactions:
- request:
    body: "--bcf946af00243f4d6f85bd172b4f842a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--bcf946af00243f4d6f85bd172b4f842a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--bcf946af00243f4d6f85bd172b4f842a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=bcf946af00243f4d6f85bd172b4f842a
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"870183cb-0cd9-4724-962b-c35c40771658","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/870183cb-0cd9-4724-962b-c35c40771658/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 870183cb-0cd9-4724-962b-c35c40771658\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/870183cb-0cd9-4724-962b-c35c40771658/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"870183cb-0cd9-4724-962b-c35c40771658"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
