interactions:
- request:
    body: "--5640dbedf06841f929ca1080a2cf34b0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"gpuAlloc.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# This workflow tests GPU allocation and basic tensor operations using
      TensorFlow\n# It verifies that:\n# 1. A GPU can be successfully allocated\n#
      2. TensorFlow can detect and use the GPU\n# 3. Basic matrix multiplication works
      correctly\n\nworkflow GpuMatrixMult {\n    call GpuTes[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/36547cc5-734d-498a-9cf4-ab246c9c4b1d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"36547cc5-734d-498a-9cf4-ab246c9c4b1d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/36547cc5-734d-498a-9cf4-ab246c9c4b1d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Running","calls":{"GpuMatrixMult.GpuTest":[{"jobId":"22608460","attempt":1,"shardIndex":-1}]},"id":"36547cc5-734d-498a-9cf4-ab246c9c4b1d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/36547cc5-734d-498a-9cf4-ab246c9c4b1d/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Succeeded","calls":{"GpuMatrixMult.GpuTest":[{"jobId":"22608460","attempt":1,"shardIndex":-1}]},"id":"36547cc5-734d-498a-9cf4-ab246c9c4b1d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
