interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/e5770582-04b3-43ae-9c7a-916ce6fe07ef/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"e5770582-04b3-43ae-9c7a-916ce6fe07ef"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
