interactions:
- request:
    body: "--28b9452471b91c581fefb9d024fb1df2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/d8f918a1-d019-445a-abe8-e12085f91b62/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: d8f918a1-d019-445a-abe8-e12085f91b62\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/d8f918a1-d019-445a-abe8-e12085f91b62/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"d8f918a1-d019-445a-abe8-e12085f91b62"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
