interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/f34fc8b9-0fd6-4c1f-acb6-e2c0262532f8/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"f34fc8b9-0fd6-4c1f-acb6-e2c0262532f8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
