interactions:
- request:
    body: "--7ccd5408c763e1a9475ea7c36c7fd54e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--7ccd5408c763e1a9475ea7c36c7fd54e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7ccd5408c763e1a9475ea7c36c7fd54e--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=7ccd5408c763e1a9475ea7c36c7fd54e
    method: POST
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1
  response:
    body:
      string: '{"id":"36c9ca17-5301-4296-87b3-c9cf74aade77","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/36c9ca17-5301-4296-87b3-c9cf74aade77/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"36c9ca17-5301-4296-87b3-c9cf74aade77"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
