interactions:
- request:
    body: "--612efda2baae715bcd4b095eef6a3e67\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/7746cfe5-c135-41ca-b3ad-e4761f7b7ac4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"7746cfe5-c135-41ca-b3ad-e4761f7b7ac4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/7746cfe5-c135-41ca-b3ad-e4761f7b7ac4/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Required workflow
        input ''parseBatchFile.batchFile'' not specified"}],"message":"Workflow input
        processing failed"}],"status":"Failed","calls":{},"id":"7746cfe5-c135-41ca-b3ad-e4761f7b7ac4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
