interactions:
- request:
    body: "--072e214d9d3d43c9adf0a6e9f76c91bd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--072e214d9d3d43c9adf0a6e9f76c91bd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--072e214d9d3d43c9adf0a6e9f76c91bd--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=072e214d9d3d43c9adf0a6e9f76c91bd
    method: POST
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1
  response:
    body:
      string: '{"id":"17de9f73-7130-4ee1-9ad3-a9e6b68066c5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/17de9f73-7130-4ee1-9ad3-a9e6b68066c5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"status":"Submitted","calls":{},"id":"17de9f73-7130-4ee1-9ad3-a9e6b68066c5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/17de9f73-7130-4ee1-9ad3-a9e6b68066c5/metadata?includeKey=status&includeKey=failures&includeKey=jobId
  response:
    body:
      string: '{"failures":[{"causedBy":[{"causedBy":[],"message":"Failed to process
        task definition ''oopsie'' (reason 1 of 1): Cannot lookup value ''docker_image'',
        it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"status":"Failed","calls":{},"id":"17de9f73-7130-4ee1-9ad3-a9e6b68066c5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
