interactions:
- request:
    body: "--d87990c25248a5aae834d507163d86d6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--d87990c25248a5aae834d507163d86d6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d87990c25248a5aae834d507163d86d6--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d87990c25248a5aae834d507163d86d6
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"fef0b45f-8d12-4bb9-ae8a-e1cd38473927","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/fef0b45f-8d12-4bb9-ae8a-e1cd38473927/labels
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: fef0b45f-8d12-4bb9-ae8a-e1cd38473927\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/fef0b45f-8d12-4bb9-ae8a-e1cd38473927/labels
  response:
    body:
      string: '{"id":"fef0b45f-8d12-4bb9-ae8a-e1cd38473927","labels":{"cromwell-workflow-id":"cromwell-fef0b45f-8d12-4bb9-ae8a-e1cd38473927"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
