interactions:
- request:
    body: "--fbbd13d87bb1356ff003b6226cd033fc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--fbbd13d87bb1356ff003b6226cd033fc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--fbbd13d87bb1356ff003b6226cd033fc--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=fbbd13d87bb1356ff003b6226cd033fc
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"554e21dd-ea3a-41a1-85b9-e88d37ef4a00","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/554e21dd-ea3a-41a1-85b9-e88d37ef4a00/labels
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 554e21dd-ea3a-41a1-85b9-e88d37ef4a00\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/554e21dd-ea3a-41a1-85b9-e88d37ef4a00/labels
  response:
    body:
      string: '{"id":"554e21dd-ea3a-41a1-85b9-e88d37ef4a00","labels":{"cromwell-workflow-id":"cromwell-554e21dd-ea3a-41a1-85b9-e88d37ef4a00"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
