interactions:
- request:
    body: "--fe4cc773a035067e79a525b3eb0d61a3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--fe4cc773a035067e79a525b3eb0d61a3\r\nContent-Disposition:
      form-data; name=\"labels\"; filename=\"labels1.json\"\r\nContent-Type: application/json\r\n\r\n{\"workflowType\":
      \"AppSubmission\", \"Label\": \"one\", \"secondaryLabel\": \"two\"}\n\r\n--fe4cc773a035067e79a525b3eb0d61a3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--fe4cc773a035067e79a525b3eb0d61a3--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=fe4cc773a035067e79a525b3eb0d61a3
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"fd3174f1-ff1b-40f0-b60b-5958d1c5d854","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/fd3174f1-ff1b-40f0-b60b-5958d1c5d854/labels
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: fd3174f1-ff1b-40f0-b60b-5958d1c5d854\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/fd3174f1-ff1b-40f0-b60b-5958d1c5d854/labels
  response:
    body:
      string: '{"id":"fd3174f1-ff1b-40f0-b60b-5958d1c5d854","labels":{"Label":"one","secondaryLabel":"two","workflowType":"AppSubmission","cromwell-workflow-id":"cromwell-fd3174f1-ff1b-40f0-b60b-5958d1c5d854"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
