interactions:
- request:
    body: "--3e95219274394e8b163e7b0b88a0961d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--3e95219274394e8b163e7b0b88a0961d\r\nContent-Disposition:
      form-data; name=\"labels\"; filename=\"labels1.json\"\r\nContent-Type: application/json\r\n\r\n{\"workflowType\":
      \"AppSubmission\", \"Label\": \"one\", \"secondaryLabel\": \"two\"}\n\r\n--3e95219274394e8b163e7b0b88a0961d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=3e95219274394e8b163e7b0b88a0961d
    method: POST
    uri: https://gizmok115.fhcrc.org:42093/api/workflows/v1
  response:
    body:
      string: '{"id":"8a4e7eb4-c321-4fe2-8b54-2642f7d7c2d5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok115.fhcrc.org:42093/api/workflows/v1/8a4e7eb4-c321-4fe2-8b54-2642f7d7c2d5/labels
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8a4e7eb4-c321-4fe2-8b54-2642f7d7c2d5\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok115.fhcrc.org:42093/api/workflows/v1/8a4e7eb4-c321-4fe2-8b54-2642f7d7c2d5/labels
  response:
    body:
      string: '{"id":"8a4e7eb4-c321-4fe2-8b54-2642f7d7c2d5","labels":{"Label":"one","secondaryLabel":"two","workflowType":"AppSubmission","cromwell-workflow-id":"cromwell-8a4e7eb4-c321-4fe2-8b54-2642f7d7c2d5"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
