interactions:
- request:
    body: "--fa37c91094e64b21fa10daa278a650c3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--fa37c91094e64b21fa10daa278a650c3--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=fa37c91094e64b21fa10daa278a650c3
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/womtool/v1/describe
  response:
    body:
      string: '{"valid":false,"errors":["Failed to process task definition ''oopsie''
        (reason 1 of 1): Cannot lookup value ''docker_image'', it is never declared.
        Available values are: [''str'']"],"validWorkflow":false,"name":"","inputs":[],"outputs":[],"images":[],"submittedDescriptorType":{"descriptorType":"WDL","descriptorTypeVersion":"1.0"},"importedDescriptorTypes":[],"meta":{},"parameterMeta":{},"isRunnableWorkflow":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
