interactions:
- request:
    body: "--7a711dd9693e61743dc37c1d394addd3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--7a711dd9693e61743dc37c1d394addd3--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=7a711dd9693e61743dc37c1d394addd3
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/womtool/v1/describe
  response:
    body:
      string: '{"valid":true,"errors":[],"validWorkflow":true,"name":"emptyGlobTest","inputs":[],"outputs":[{"name":"no_files","valueType":{"typeName":"Array","arrayType":{"typeName":"File"},"nonEmpty":false},"typeDisplayName":"Array[File]"}],"images":[],"submittedDescriptorType":{"descriptorType":"WDL","descriptorTypeVersion":"1.0"},"importedDescriptorTypes":[],"meta":{},"parameterMeta":{},"isRunnableWorkflow":true}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
