interactions:
- request:
    body: "--80af7a32d8b15484dff9d738d77740ed\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--80af7a32d8b15484dff9d738d77740ed\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--80af7a32d8b15484dff9d738d77740ed--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=80af7a32d8b15484dff9d738d77740ed
    method: POST
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1
  response:
    body:
      string: '{"id":"26666410-15e6-410f-8b69-f0a0435845a1","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
