interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/query?submission=2025-11-15T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"6a329014-3b81-4924-b9a9-519837e92bb1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:56.000Z"},{"id":"8f59670a-80e1-456e-b131-c4ea2997b590","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:52.000Z"},{"id":"d1c276df-1ee8-4d50-83a8-9bf63f3c8f18","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:43.000Z"},{"id":"89c5a2f1-5177-4e53-9563-b0b185962d8e","metadataArchiveStatus":"Unarchived","name":"WildcardsandConditions","start":"2025-11-16T03:46:46.000Z","status":"Running","submission":"2025-11-16T03:34:33.000Z"},{"id":"19f283e1-15bc-4778-91d0-7bbf8c453e3b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:39.000Z"},{"id":"d8d13043-3cfd-42d6-b055-b7ebda422d34","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:35.000Z"},{"id":"f9809c06-304a-4396-a356-348888f80c74","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:31.000Z"},{"id":"627da38d-0688-438b-af70-cd89c0c897e8","metadataArchiveStatus":"Unarchived","name":"GpuMatrixMult","start":"2025-11-16T03:46:26.000Z","status":"Running","submission":"2025-11-16T03:34:33.000Z"},{"id":"daaad650-d1a8-4ad8-8dca-bde348b9f573","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:27.000Z"},{"id":"ba1b4873-dc69-4dd0-9a33-89853c78d11c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:19.000Z"},{"id":"9fabf4ce-a6d5-41d5-ba65-f4457a2e9909","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:21.000Z"},{"id":"b0ab636f-b588-44dd-a602-dd0c9e15c9c7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:15.000Z"},{"end":"2025-11-16T03:46:14.000Z","id":"fcb8e54b-8832-42d3-8c98-a31455ef5ad7","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-11-16T03:43:46.000Z","status":"Succeeded","submission":"2025-11-16T03:34:30.000Z"},{"id":"7699384f-97df-4929-829b-aadd15122b79","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-16T03:46:11.000Z"},{"id":"ed8642b8-a25a-482f-a812-ac862ccb7489","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-[...]
