interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/query?submission=2026-04-18T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"904344f8-b611-4e52-a227-bde41ffd9daf","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-19T04:18:41.000Z"},{"id":"e2fce0ae-1d3d-4292-90d5-b52d3db8d7b5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-19T04:18:32.000Z"},{"id":"3ef9e8dc-4636-425d-9fa3-d0b79075f767","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-19T04:18:28.000Z"},{"id":"7c29bf9f-bb0d-4cc6-b574-563c474f5720","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2026-04-19T04:18:24.000Z","status":"Running","submission":"2026-04-19T04:10:12.000Z"},{"id":"d1f80008-2532-456f-aba3-ad7e986c6191","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-19T04:18:24.000Z"},{"id":"ae9f00a0-61ab-4b47-a7df-12404b5f5fd1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-19T04:18:20.000Z"},{"id":"c20e7140-54aa-45aa-b7d1-d56c637336ab","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-19T04:18:15.000Z"},{"end":"2026-04-19T04:18:12.000Z","id":"3c4e61da-27ec-4ee6-a6e1-2191867a518e","metadataArchiveStatus":"Unarchived","name":"testRemoteFileLocalization","start":"2026-04-19T04:17:24.000Z","status":"Failed","submission":"2026-04-19T04:10:12.000Z"},{"id":"6faa0eb3-6e4f-4d5c-af41-3a30d10444f7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-19T04:18:08.000Z"},{"id":"a0ec5d82-84e8-4f49-85cb-8c8f52196c9a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2[...]
