interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/query?submission=2026-10-03T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"c922881e-0f6a-40ed-b91e-fdf40573f122","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:39:20.000Z"},{"id":"bd897778-6913-4f5e-b688-8444d6792f93","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:39:20.000Z"},{"id":"a49f780a-1537-44eb-8021-ecd738b41e8e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:39:16.000Z"},{"id":"d69435a6-6170-4232-8144-2440e1c5a090","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:39:16.000Z"},{"id":"231c2be8-5653-45b2-9cba-7d7751e5ea1f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:39:12.000Z"},{"id":"4f86d975-5581-4580-9a00-31a07358bd59","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:39:11.000Z"},{"id":"7765945c-af45-4fa9-85fa-0389f5b0090b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:39:03.000Z"},{"id":"5d679f33-b19e-401e-8ea8-0d1de4323740","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:39:04.000Z"},{"id":"e2800790-6898-4a58-86e8-51a84b857551","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-10-04T04:39:05.000Z","status":"Running","submission":"2026-10-04T04:26:45.000Z"},{"id":"fb03b5b9-6f57-449d-8ea5-2d1602b9db45","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:38:59.000Z"},{"id":"0d4b6100-8859-4243-902b-6477870215a5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:38:59.000Z"},{"id":"be1126e4-e57a-4f6a-bc41-846d6a552a58","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:38:55.000Z"},{"id":"458b5b91-741f-4f97-89cd-2f3bf12d1f8c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:38:55.000Z"},{"id":"e30beb53-b743-4fd6-a1f6-efb66682a0ef","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:38:51.000Z"},{"id":"4d5a0638-5e38-40d9-902e-7bb4808cef6f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:38:51.000Z"},{"end":"2026-10-04T04:38:45.000Z","id":"be4b9999-8b88-4868-8890-c67698531fdf","metadataArchiveStatus":"Unarchived","start":"2026-10-04T04:38:45.000Z","status":"Failed","submission":"2026-10-04T04:26:45.000Z"},{"id":"3509a67b-15e2-4ef7-ad9e-8b5755de724d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-04T04:38:43.000Z"},{"end":"2026-10-04T04:38:47.000Z","id":"c45edc78-f4e7-47a5-8080-12593058d3c1","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2[...]
