interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/query?submission=2026-01-31T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"1458ab67-f9d7-48c5-a5d3-306c0167c1d7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:15:12.000Z"},{"id":"8dd2537f-20e1-443d-9541-c7145c176497","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:15:12.000Z"},{"id":"32cdd78d-24cc-49f5-bbc0-fa3951fb12ab","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:15:08.000Z"},{"id":"99860690-6e3b-4d8a-a096-29cac8abaf8c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:15:08.000Z"},{"id":"b43c2151-8600-46fe-aa7d-9dd691ae8a3d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:15:04.000Z"},{"id":"951a7a49-ebd3-430b-8b06-a0aedc33be98","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:15:04.000Z"},{"id":"3d3e53ec-bf8f-4592-a7b5-d60e93f31c66","metadataArchiveStatus":"Unarchived","name":"globSymlink","start":"2026-02-01T04:14:57.000Z","status":"Running","submission":"2026-02-01T04:04:04.000Z"},{"id":"9638d945-20ba-4499-9ce4-b124287c0d77","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:14:56.000Z"},{"id":"b165a396-c879-4c6c-aef9-48aec5f1da56","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:14:56.000Z"},{"id":"cd2ed56d-d7fc-4ac4-b9e0-7b759ee0c6d7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:14:52.000Z"},{"id":"e0fbed14-dc80-4713-8627-155321ad55cc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:14:52.000Z"},{"id":"350bfd82-7ab5-467d-a1de-621f3c9c7185","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:14:48.000Z"},{"id":"81732dc0-7c2e-45bb-8ce8-5133e5cb8317","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:14:47.000Z"},{"end":"2026-02-01T04:14:41.000Z","id":"a069edf5-d4d3-40cd-b6b1-8a45ced926c9","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2026-02-01T04:12:57.000Z","status":"Succeeded","submission":"2026-02-01T04:04:02.000Z"},{"id":"b10e2180-74dd-4aaf-9fe1-864255786956","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-01T04:14:43.000Z"},{"id":"a57e2d1f-7de2-4c06-ba27-5083c16a89f5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-[...]
