interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/query?submission=2025-03-10T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-11T22:21:07.000Z","id":"c2c968ed-81d4-4b6d-bbc1-33d947e61a5e","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-11T22:20:26.000Z","status":"Succeeded","submission":"2025-03-11T22:20:26.000Z"},{"end":"2025-03-11T22:20:08.000Z","id":"4bfeeab6-79b5-45ae-97e4-1efa23accd45","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-03-11T22:17:26.000Z","status":"Succeeded","submission":"2025-03-11T22:12:21.000Z"},{"end":"2025-03-11T22:18:48.000Z","id":"999eb28b-6747-4f0a-81f1-bbccd9995838","metadataArchiveStatus":"Unarchived","name":"struct_example","start":"2025-03-11T22:18:06.000Z","status":"Succeeded","submission":"2025-03-11T22:12:21.00[...]
