interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/query?submission=2026-07-21T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"69dd26ba-30c0-4947-ab11-4dbfab2dcc75","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-22T18:45:39.000Z"},{"id":"a41d1d1d-54e9-45d2-bc7c-807ecb5d6e3c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-22T18:45:40.000Z"},{"end":"2026-07-22T18:45:42.000Z","id":"ab3573b9-8aa9-43f9-bbab-5bbf07806cd4","metadataArchiveStatus":"Unarchived","start":"2026-07-22T18:45:42.000Z","status":"Failed","submission":"2026-07-22T18:33:14.000Z"},{"id":"b0b0b858-791c-4969-aaef-be916dfef040","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-22T18:45:36.000Z"},{"id":"50b2eec1-0237-474d-9be1-53f282384bb4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-22T18:45:35.000Z"},{"id":"5caa61dc-6383-477d-aed2-53506498437f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-2[...]
