interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/query?submission=2025-10-27T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"df67eb74-6cdd-4793-9e4b-59ef89725e82","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:59:15.000Z"},{"id":"9454ce21-03a6-4850-8ae9-eabfb1388085","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:59:16.000Z"},{"id":"379f535e-1a53-49eb-9332-ea97e2c707fb","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:59:12.000Z"},{"id":"28aacd06-c8a7-432e-bee4-48a061512c84","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:59:11.000Z"},{"id":"c0d863b1-5057-4b16-9975-e7c3a6cce296","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:59:07.000Z"},{"id":"ab20602f-b849-4d5e-9abe-9e4c91d07b32","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:59:03.000Z"},{"id":"7ce50468-8ebc-4a97-a1cf-17737ea00121","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:58:59.000Z"},{"end":"2025-10-28T16:59:00.000Z","id":"2f9fcb92-1420-42a3-a4bb-28e7c5fd5639","metadataArchiveStatus":"Unarchived","start":"2025-10-28T16:59:00.000Z","status":"Failed","submission":"2025-10-28T16:46:46.000Z"},{"id":"3a94a22c-f113-4e0d-bd5e-0d95cce37c2f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:58:55.000Z"},{"end":"2025-10-28T16:58:57.000Z","id":"fd03ba57-915d-4dba-974e-9752d12dc1ae","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2025-10-28T16:57:20.000Z","status":"Succeeded","submission":"2025-10-28T16:46:42.000Z"},{"id":"354eaf7a-1c61-4e61-8146-ce85aa14447f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:58:51.000Z"},{"id":"403a043c-d6de-45f4-bc62-06fcffd6cd36","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-28T16:58:47.000Z"},{"id":"8b4ce60e-c5cb-4727-ab90-bed57a0a1891","metadataArchiveStatus":"Unarchived","status":"S[...]
