interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/query?submission=2025-08-23T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"e2e41d5e-22de-4e6f-89c0-81f9f17664bb","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-08-24T03:45:51.000Z","status":"Running","submission":"2025-08-24T03:33:18.000Z"},{"id":"b4d5259a-fc01-47ba-8492-3fcae42325d8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:51.000Z"},{"id":"cecb1760-42ef-4be2-a660-41709f46b538","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:51.000Z"},{"id":"67a7d9e9-b336-4437-90c4-a859276a8819","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:47.000Z"},{"id":"6139bc0a-0ad5-44d1-a41a-b3e4fda8bd84","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:47.000Z"},{"id":"e864a897-f841-4a51-af3e-83885ba3c73e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:43.000Z"},{"id":"ec052d0a-a8ae-414f-a4a4-d77788914c00","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:43.000Z"},{"id":"e303ffee-f318-41ca-b89b-3b1e0dfa6616","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:39.000Z"},{"id":"297598a9-5b62-4987-9051-47478c34b121","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:35.000Z"},{"id":"d2da09cd-0b94-44df-a5e9-eb24d11ac709","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:31.000Z"},{"end":"2025-08-24T03:45:31.000Z","id":"a25974cd-8dcd-43d4-8651-710eb0cc008c","metadataArchiveStatus":"Unarchived","start":"2025-08-24T03:45:31.000Z","status":"Failed","submission":"2025-08-24T03:33:18.000Z"},{"id":"29890088-5a32-4385-907b-1c5dad5f078b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:27.000Z"},{"id":"d42248e2-5977-4dd0-b50a-3f90b983355b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-24T03:45:23.000Z"},{"end":"20[...]
