interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/query?submission=2025-09-13T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"3bbc162c-788f-402e-af58-8b7f05197129","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-14T03:39:09.000Z"},{"id":"b574efa0-b9e0-447b-ab07-5efb3db78385","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-14T03:39:09.000Z"},{"id":"bd49a54a-af71-4bb8-998c-ee202ca1bc81","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-14T03:39:00.000Z"},{"end":"2025-09-14T03:39:04.000Z","id":"61bc1fee-f628-4944-9276-1120bb2fff41","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-09-14T03:38:22.000Z","status":"Succeeded","submission":"2025-09-14T03:23:29.000Z"},{"id":"67d88ce0-1386-4483-a1c9-8c84e0dc2ee9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-14T03:39:01.000Z"},{"end":"2025-09-14T03:39:03.000Z","id":"c03e1278-b43b-4b3e-bc2c-26cee6d91cf7","metadataArchiveStatus":"Unarchived","start":"2025-09-14T03:39:03.000Z","status":"Failed","submission":"2025-09-14T03:23:29.000Z"},{"id":"78699834-fbcf-4e8e-9b60-d1ca2b928687","metadataArch[...]
