interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/query?submission=2025-02-09T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-02-11T07:50:41.000Z","id":"76892291-ff32-4fc5-b7f0-0754f9b7c610","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-02-11T07:50:00.000Z","status":"Succeeded","submission":"2025-02-11T07:49:42.000Z"},{"end":"2025-02-11T07:49:23.000Z","id":"d958d760-e7ff-4d55-9b74-90113c0dc1d7","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-02-11T07:46:40.000Z","status":"Succeeded","submission":"2025-02-11T07:38:45.000Z"},{"end":"2025-02-11T07:48:38.000Z","id":"df202fe2-5d3e-4fdd-bb8a-ea8a7753063a","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2025-02-11T07:47:00.000Z","status":"Succeeded","submission":"2025-02-11T07:38:[...]
