interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/query?submission=2025-11-08T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"e24bd4a7-77b1-42e0-93b7-d99a1b48f642","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:31.000Z"},{"id":"834d3d06-d70e-48fd-8874-f4e706ec6579","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:31.000Z"},{"id":"51b18a96-c17b-40ee-935b-78e83baafb4d","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2025-11-09T03:42:33.000Z","status":"Running","submission":"2025-11-09T03:29:26.000Z"},{"id":"e2b2cd3f-a543-43e2-8f6b-93ab3eeabdc9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:26.000Z"},{"id":"9fb57c22-6046-4b11-a9b7-0e9ba4ca778f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:27.000Z"},{"id":"199390a7-d246-47da-80d3-46a22e6a137f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:19.000Z"},{"id":"d2818737-74ce-4276-af84-d716f64cfc7a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:22.000Z"},{"id":"0914e0f8-8d37-4b94-b801-65632dadbea2","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:18.000Z"},{"id":"f14b6789-6d1b-4c43-aa87-4b88a334e7ae","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:15.000Z"},{"end":"2025-11-09T03:42:13.000Z","id":"33279860-efaa-4b13-a1df-5440e34fee5e","metadataArchiveStatus":"Unarchived","start":"2025-11-09T03:42:13.000Z","status":"Failed","submission":"2025-11-09T03:29:26.000Z"},{"id":"e63ac3be-6df1-492e-85c6-1f8e68d34399","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:11.000Z"},{"id":"cd375049-e7ff-42e8-81e0-2cf00adac989","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-09T03:42:07.000Z"},{"id":"976[...]
