interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/query?submission=2026-06-06T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"c4aa08f2-1c61-4d6b-8481-18dca0d5eec9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-06-07T04:51:05.000Z"},{"id":"a9391ef0-dea9-44e8-8305-236e93700858","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-06-07T04:51:06.000Z"},{"id":"8d09d859-b51b-4d20-bd1d-28897fb22992","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-06-07T04:51:00.000Z","status":"Running","submission":"2026-06-07T04:38:49.000Z"},{"end":"2026-06-07T04:51:00.000Z","id":"5093f97f-1bc2-429d-b7d8-99d736c539a0","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-06-07T04:50:20.000Z","status":"Succeeded","submission":"2026-06-07T04:38:49.000Z"},{"id":"f87ff5db-df70-43f3-a599-c7591ff65b9a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-06-07T04:50:58.000Z"},{"id":"6ac7aa18-5d85-4b7c-aacc-6173a4aa664b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-06-07T[...]
