interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok165.fhcrc.org:43587/api/workflows/v1/query?submission=2025-01-23T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"a086d62d-67f3-466e-af81-e49fd375145f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-01-24T20:22:56.000Z"},{"end":"2025-01-24T20:22:48.000Z","id":"588e0e1d-553e-4bed-86fb-3dc28f5bb922","metadataArchiveStatus":"Unarchived","start":"2025-01-24T20:22:48.000Z","status":"Failed","submission":"2025-01-24T20:22:20.000Z"},{"end":"2025-01-24T20:22:28.000Z","id":"27473ddd-79a1-401c-bac7-81364a915f7f","metadataArchiveStatus":"Unarchived","start":"2025-01-24T20:22:28.000Z","status":"Failed","submission":"2025-01-24T20:22:20.000Z"},{"id":"7ee95dd1-6aec-4fef-8c4d-2051e09f9ccb","metadataArchiveStatus":"Unarchived","status":"Aborted","submission":"2025-01-24T20:22:19.000Z"},{"id":"f72df9d6-efd3-4275-aec1-6060ca89f730","metadataArchiveSt[...]
