interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/query?submission=2025-09-06T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"e21e9988-7307-405f-b84d-6b13c433a513","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-07T03:36:41.000Z"},{"end":"2025-09-07T03:36:41.000Z","id":"4d035655-973d-4d63-8624-7bdd2bfa8697","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-09-07T03:35:55.000Z","status":"Succeeded","submission":"2025-09-07T03:24:02.000Z"},{"id":"720e048b-89cb-40d7-8c0d-50133ac100e1","metadataArchiveStatus":"Unarchived","name":"jsonFileLocalization","start":"2025-09-07T03:36:35.000Z","status":"Running","submission":"2025-09-07T03:24:02.000Z"},{"id":"a6dbcc29-cba7-42df-82dd-eeda0a27e8fc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-07T03:36:37.000Z"},{"end":"2025-09-07T03:36:30.000Z","id":"ffdbae29-7707-4930-9[...]
