interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/query?submission=2025-08-30T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"cd610c3d-7176-4f70-9fa6-0fde436f2103","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:57.000Z"},{"id":"1b0da1a8-2a92-4707-bbe7-72111ec01c62","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:56.000Z"},{"id":"45aebad4-36ec-4c0e-afa9-99002729b136","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:52.000Z"},{"id":"924f5552-04a7-4860-9299-02d068eeb9ff","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:52.000Z"},{"id":"ee999e75-878f-48e8-898b-b12275066ee3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:44.000Z"},{"id":"897edb12-5506-4cbc-8a45-041a4fe55c69","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:48.000Z"},{"end":"2025-08-31T03:36:41.000Z","id":"d2da697b-0c76-4b7b-aaf7-f50c85691799","metadataArchiveStatus":"Unarchived","start":"2025-08-31T03:36:41.000Z","status":"Failed","submission":"2025-08-31T03:24:47.000Z"},{"id":"beee8b18-0a0f-46f3-96ec-3b24a2071d89","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:40.000Z"},{"id":"655ae0f7-7c88-41cc-9cc6-a40d9adcc356","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:36.000Z"},{"id":"8381322b-87f6-4b9c-a562-f039389d2fb3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:32.000Z"},{"id":"8f2a6ffd-dd9b-4fde-8f9d-678757db9ca5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:27.000Z"},{"id":"ac59db7c-1a9e-4ba6-a7a5-8965f4a63a2f","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-08-31T03:36:21.000Z","status":"Running","submission":"2025-08-31T03:24:47.000Z"},{"id":"2da2c0b2-03d9-4ed6-8e19-f3c1e9d3bc82","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:19.000Z"},{"id":"d3127b26-55c5-4e07-b898-ce61d1b98e51","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-31T03:36:15.000Z"},{"id":"1bef9220-937f-4f00-a9be-4c1b583a33d3","metadataArchiveStatus":"Unarchived","status":"Submitted[...]
