interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/query?submission=2026-04-04T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"33551e12-0c36-4861-a24e-06ac021111ad","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:35.000Z"},{"id":"9dd2d0ed-aa55-4085-aa52-10e4fb5747aa","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:35.000Z"},{"id":"c79081e5-b0f8-4c4e-ab4e-1ccfad8eef63","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:27.000Z"},{"id":"37881318-d6fd-4a6d-9ae6-22c6cf64b549","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:27.000Z"},{"id":"22970c8b-f4aa-4f28-9709-4421ed7384d6","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:23.000Z"},{"id":"b1bb8fb3-c6d6-4917-8e62-efa481a44374","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:23.000Z"},{"id":"3f327144-3dcc-447a-9459-56d977573d10","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:19.000Z"},{"id":"8f96daa9-f3f4-4fa6-98a3-50ac7f204426","metadataArchiveStatus":"Unarchived","name":"ArrayOperations","start":"2026-04-05T04:20:19.000Z","status":"Running","submission":"2026-04-05T04:06:42.000Z"},{"id":"f2855345-177c-46ab-a624-b8039b4deb05","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:19.000Z"},{"id":"5bd8d516-024a-44f8-bb53-9e778d09e8bf","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:15.000Z"},{"id":"3dae6de8-dcee-44f1-a51d-63f4d947d66f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:15.000Z"},{"id":"e4710fe0-9ad8-4d12-ae39-60ec72190980","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:11.000Z"},{"end":"2026-04-05T04:20:09.000Z","id":"eb7c9102-24ac-45ee-9f48-7124d5ea6f56","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-04-05T04:19:19.000Z","status":"Succeeded","submission":"2026-04-05T04:06:40.000Z"},{"id":"a8d3fae6-0f74-4966-86de-803076af0280","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T04:20:10.000Z"},{"id":"ae5e7c20-5052-481e-be0b-2210285dca99","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-05T[...]
