interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/query?submission=2025-06-22T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"af1d8e21-73d3-42d1-a839-a11926718629","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-23T18:07:09.000Z"},{"end":"2025-06-23T18:07:01.000Z","id":"6ee152eb-7c4c-40bc-bbbd-fd5bac4b39ab","metadataArchiveStatus":"Unarchived","name":"basicGlobTest","start":"2025-06-23T18:06:16.000Z","status":"Succeeded","submission":"2025-06-23T17:43:23.000Z"},{"id":"0f77368d-2a2d-451c-9f24-90215e989436","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2025-06-23T18:06:56.000Z","status":"Running","submission":"2025-06-23T17:43:25.000Z"},{"id":"49396548-c974-4876-be28-ba0203de5199","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-23T18:06:47.000Z"},{"id":"9798b07d-21e5-4160-8c04-f20bcb0cd0a8","metadataArchive[...]
