interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/query?submission=2025-03-15T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-16T03:28:57.000Z","id":"b29b429a-eaa0-4bb1-a9cb-3e252546b6b4","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-16T03:28:13.000Z","status":"Succeeded","submission":"2025-03-16T03:28:00.000Z"},{"end":"2025-03-16T03:26:56.000Z","id":"c6ec497b-38c7-499c-98aa-e871a30ec584","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-03-16T03:24:13.000Z","status":"Succeeded","submission":"2025-03-16T03:19:03.000Z"},{"end":"2025-03-16T03:26:09.000Z","id":"c70522c4-7e9f-42e6-861c-ccc1ca3d9218","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2025-03-16T03:24:33.000Z","status":"Succeeded","submission":"2025-03-16T03:19:[...]
