interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/query?submission=2026-09-05T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"a39fc860-0e12-4ba9-bbf8-3bee5e7b380d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-06T03:38:33.000Z"},{"id":"8f13c606-c2af-4c1e-97b0-c2a461a9407d","metadataArchiveStatus":"Unarchived","name":"globNonmatching","start":"2026-09-06T03:38:30.000Z","status":"Running","submission":"2026-09-06T03:24:24.000Z"},{"id":"a2d8ed96-ba58-4829-9b9b-fd5663b76dd9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-06T03:38:29.000Z"},{"id":"9795820a-bb6b-48fd-9c48-99ffe47e5de1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-06T03:38:25.000Z"},{"id":"4acc290b-904b-44ff-a451-4b627efa0087","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-06T03:38:17.000Z"},{"end":"2026-09-06T03:38:15.000Z","id":"2be53859-4407-4a37-81f9-3acf1a1062c2","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-09-06T03:37:30.000Z","status":"Succeeded","submission":"2026-09-06T03:24:24.000Z"},{"id":"56995b1c-6160-4f12-ac77-2c6431540d93","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-06T03:38:13.000Z"},{"id":"9a5b7cfa-fd1f-4be7-bc0b-721f7c9138e6","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-06T[...]
