interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/query?submission=2025-11-22T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"a35a8b6c-5d9f-4a4c-b333-175836cd7bae","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:28.000Z"},{"id":"952c0130-63e9-4071-be01-3c20b806cc66","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:27.000Z"},{"id":"9a2683f9-5e29-42bc-aa4c-4b08db3ac9f9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:23.000Z"},{"id":"c75bca1b-96f6-4d32-8600-d1a74800b176","metadataArchiveStatus":"Unarchived","name":"testRemoteFileLocalization","start":"2025-11-23T03:52:22.000Z","status":"Running","submission":"2025-11-23T03:39:08.000Z"},{"id":"c0605c2b-5685-4568-96a2-f05405ee048e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:23.000Z"},{"id":"d8e83763-e263-470d-a581-3e65c01f7752","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:19.000Z"},{"id":"8bba60e1-8665-4ef2-a3f1-591c04fdb4be","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:19.000Z"},{"id":"6d1ebbc9-2f0c-4d01-b604-c1227014b0bc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:10.000Z"},{"id":"0933af6f-2ca5-471a-8507-03b999a1a6a6","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:11.000Z"},{"id":"42d3bfdb-ed19-4569-83dc-3dd9d5c9785c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:07.000Z"},{"id":"0147f31a-cb76-44c8-9f93-e6b1ba8f56a3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:52:03.000Z"},{"end":"2025-11-23T03:52:02.000Z","id":"be0f0e18-8f3e-4f32-8af6-ff6e7852f90f","metadataArchiveStatus":"Unarchived","start":"2025-11-23T03:52:02.000Z","status":"Failed","submission":"2025-11-23T03:39:08.000Z"},{"id":"326fbb7c-9298-4c42-ad67-28b8b0e2077b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:51:59.000Z"},{"id":"8fc55632-1eaa-40e6-a2e2-81ac3a3cc524","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-23T03:51:51.000Z"},{"end":"20[...]
