interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/query?submission=2026-08-08T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"0764b2fa-8a8d-490b-a403-db17ff36a30f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:40.000Z"},{"id":"6748315b-ce94-4dea-b4f4-d3764a02b6d0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:43.000Z"},{"id":"4f640b1f-1983-4047-8da8-52f0e3e0aed3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:39.000Z"},{"id":"74328284-555e-481c-ba1d-4ae0740ee3c6","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:36.000Z"},{"id":"a1d66042-d488-4fd1-a847-1b9347f68a9b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:32.000Z"},{"id":"9a26a335-524b-4be7-80ad-dc714a2e87c8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:31.000Z"},{"id":"6bcd812c-f97d-4f82-8a0b-352a3655e5b5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:28.000Z"},{"id":"8bd73a3a-3b60-4add-8061-6688a2679d4f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:27.000Z"},{"id":"301f64ec-9003-4917-8f0d-ba4861f109a4","metadataArchiveStatus":"Unarchived","name":"jsonFileLocalization","start":"2026-08-09T03:52:28.000Z","status":"Running","submission":"2026-08-09T03:38:47.000Z"},{"id":"cf5db625-b581-4870-abf4-627913451f5f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:23.000Z"},{"id":"f5f8ade0-b224-4f7c-a0e8-f95b150f4ebd","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:24.000Z"},{"id":"329f757a-2dae-4935-9588-2dc38256d07d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:19.000Z"},{"id":"8e3418db-6c6a-4aa7-9878-19b1e9912f50","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:16.000Z"},{"id":"0b5a118b-4c7f-47d7-bc16-9cc09ac4b807","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:12.000Z"},{"end":"2026-08-09T03:52:14.000Z","id":"a180ad00-6715-46dd-b715-6ab575fa0834","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-08-09T03:51:27.000Z","status":"Succeeded","submission":"2026-08-09T03:38:44.000Z"},{"id":"09214e3c-f013-429c-9278-eb8399e7f6cc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-09T03:52:10.000Z"},{"end":"2026-08-09T03:52:08.000Z","id":"e8d348fd-6bed-4c26-8daf-405d3c2ccc2c","metadataArchiveStatus":"Unarchived","start":"2026[...]
