interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/query?submission=2025-12-07T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"c5d5134f-5144-4164-aa45-df3f31d9c927","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-08T17:20:19.000Z"},{"end":"2025-12-08T17:20:14.000Z","id":"82e15978-b42e-4a31-906d-46ad93b3a6f1","metadataArchiveStatus":"Unarchived","name":"globSubdir","start":"2025-12-08T17:19:33.000Z","status":"Succeeded","submission":"2025-12-08T17:07:14.000Z"},{"end":"2025-12-08T17:20:13.000Z","id":"9ab6223e-3731-4f5d-a537-9da251186c5e","metadataArchiveStatus":"Unarchived","start":"2025-12-08T17:20:13.000Z","status":"Failed","submission":"2025-12-08T17:07:14.000Z"},{"id":"25304b46-d4c0-46e2-abb5-2890da128a2e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-08T17:20:15.000Z"},{"id":"447e5f9a-5b81-4faf-b836-e1231d19d9ea","metadataArch[...]
