interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/query?submission=2025-10-11T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"a4e238c6-5989-4c1f-965f-fe257542029b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:21.000Z"},{"id":"bb70f242-717e-4958-a474-d1267b4d200b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:21.000Z"},{"id":"5bf75a40-d663-47b6-b8ab-1972b8e80dbb","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:16.000Z"},{"id":"6a0c60c6-6a9e-4e36-b2e0-8fab448848f2","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:17.000Z"},{"id":"4f43cd66-c553-418a-a2e8-8d78b88e644c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:12.000Z"},{"id":"896fbd88-4bcc-471f-a5b2-5b03160504f8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:13.000Z"},{"id":"9806c190-c6b2-4955-a7bd-1bdf4b5ba952","metadataArchiveStatus":"Unarchived","name":"test_nonstandard_outputs","start":"2025-10-12T03:36:09.000Z","status":"Running","submission":"2025-10-12T03:23:31.000Z"},{"id":"6d0fede1-0f5c-4cfd-8e95-ec6b334c7740","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:04.000Z"},{"id":"e358e3a0-ffa9-47e9-ac34-c73e7c7b32d8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:08.000Z"},{"id":"63f3c039-23d4-4fbc-98c3-d167bae57813","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:00.000Z"},{"id":"e4d164c6-82bb-49f3-9270-009348c2d06c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:36:00.000Z"},{"id":"ef515a89-d07f-4d13-8ea3-ad0526af0856","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:35:56.000Z"},{"id":"2d542d4f-9bf8-4cbc-a614-72791c86d3dd","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:35:56.000Z"},{"end":"2025-10-12T03:35:59.000Z","id":"3941f86a-892f-4844-a59c-7593c87f681b","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2025-10-12T03:34:29.000Z","status":"Succeeded","submission":"2025-10-12T03:23:30.000Z"},{"id":"5b69bb2d-1882-4a24-9e07-b04bfc31c401","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-12T03:35:52.000Z"},{"end":"2025-10-12T03:35:49.000Z","id":"f61e152a-a65c-45e2-b7ce-ff5c0400919a","metadataArchiveStatus":"Unarchived","start":"[...]
