interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/query?submission=2025-02-05T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-02-07T01:11:48.000Z","id":"c497435d-5eeb-4b44-b7b6-6f92c19a9b24","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-02-07T01:11:07.000Z","status":"Succeeded","submission":"2025-02-07T01:10:54.000Z"},{"end":"2025-02-07T01:10:37.000Z","id":"82a61df8-483d-450c-9b4a-26bb55ac1b37","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-02-07T01:07:46.000Z","status":"Succeeded","submission":"2025-02-07T01:05:57.000Z"},{"end":"2025-02-07T01:10:07.000Z","id":"ef81e2c3-1200-41ac-a941-1cb18a4435a0","metadataArchiveStatus":"Unarchived","start":"2025-02-07T01:10:07.000Z","status":"Failed","submission":"2025-02-07T01:05:57.000Z"},{"end":"2025-02-07T01:[...]
