interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/query?submission=2025-04-15T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-04-16T23:58:08.000Z","id":"b210c5b3-9b20-4d82-b94d-dadbc73d4ea8","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-04-16T23:57:17.000Z","status":"Succeeded","submission":"2025-04-16T23:56:56.000Z"},{"end":"2025-04-16T23:57:46.000Z","id":"4464623b-101e-4e2e-8e0d-607f1f072ccb","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-04-16T23:56:57.000Z","status":"Succeeded","submission":"2025-04-16T23:56:52.000Z"},{"end":"2025-04-16T23:55:19.000Z","id":"f5d9bff7-3a48-4514-811c-4ddbddbd88ae","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2025-04-16T23:53:57.000Z","status":"Succeeded","submission":"2025-04-16T22:44:35.000Z"[...]
