interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/query?submission=2025-05-18T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"1284952b-7e0d-4991-b9b7-1d0279ec05fe","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-19T17:38:46.000Z"},{"id":"4b07d7d4-41ea-4c9f-a032-3b6de7c40fe7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-19T17:38:37.000Z"},{"end":"2025-05-19T17:38:41.000Z","id":"40dbfb16-ae02-4a98-bced-35e61731c13c","metadataArchiveStatus":"Unarchived","name":"basicGlobTest","start":"2025-05-19T17:37:54.000Z","status":"Succeeded","submission":"2025-05-19T17:37:13.000Z"},{"id":"b28d64ca-3681-49a4-9080-c9b8f48115b2","metadataArchiveStatus":"Unarchived","name":"globSubdir","start":"2025-05-19T17:38:34.000Z","status":"Running","submission":"2025-05-19T17:37:13.000Z"},{"id":"b3c1e733-b51b-474e-ba95-7ece1780ae1b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-19T17:38:33.000Z"},{"id":"f52e26a2-9f5c-4077-aecc-07cccab71296","metadataArchiveStatus":"[...]
