interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/query?submission=2026-09-30T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"921d6dd4-6f9d-4d4f-9fdc-dbbc2d889b88","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:38.000Z"},{"id":"756fcc0d-188c-4a05-a2f4-ad9877de20a7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:38.000Z"},{"id":"cc367824-e294-4074-ac14-3271e5f5452d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:34.000Z"},{"id":"fac64cec-1d9c-41d8-920c-9ccfa671929e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:34.000Z"},{"id":"252085d1-cd44-4593-a70b-997e5ab07e3c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:30.000Z"},{"id":"3fd6bf4b-2a5a-4d08-9843-49068c15dff5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:30.000Z"},{"end":"2026-10-01T21:16:28.000Z","id":"fb06e67e-89bc-418d-9519-c348207b637c","metadataArchiveStatus":"Unarchived","start":"2026-10-01T21:16:28.000Z","status":"Failed","submission":"2026-10-01T21:00:50.000Z"},{"id":"64a6deea-315e-4cf5-a1ab-21896cb3a99f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:22.000Z"},{"id":"dd7716b1-a8a1-46b3-8b19-a8670f6df6d1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:22.000Z"},{"id":"f76db190-03e4-4d31-b3ec-b97857c35dc1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:17.000Z"},{"id":"eca265d4-4481-447e-8a6b-6e4f0d2b1cf2","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:18.000Z"},{"id":"c9d1c887-8eb8-4e43-b8a3-05a3f3d5debe","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:13.000Z"},{"end":"2026-10-01T21:16:15.000Z","id":"d450b43a-835f-4db3-b0a2-261f5a06273b","metadataArchiveStatus":"Unarchived","name":"jsonFileLocalization","start":"2026-10-01T21:15:28.000Z","status":"Failed","submission":"2026-10-01T21:00:49.000Z"},{"id":"3eeecd8e-e868-4ee2-ad70-f69b2295d142","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-10-01T21:16:14.000Z"},{"end":"2026-10-01T21:16:11.000Z","id":"7100f6c7-3011-4180-85cf-f2a0a062a280","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2026-10-01T21:14:48.000Z","status":"Succeeded","submission":"2026-10-01T21:00:49.000Z"},[...]
