interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/query?submission=2026-07-25T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"7919af60-a7d1-4d54-9f9d-515adb8fe5c1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:28.000Z"},{"id":"4c716cee-9f49-489e-addd-bf8d623bd36e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:30.000Z"},{"id":"57a10be6-971f-4ad4-a327-1d5fe368589a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:26.000Z"},{"id":"078ddc02-ed22-4152-bce3-7bd0fcc6b6e1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:24.000Z"},{"id":"850da873-08ee-4092-a39e-9ca532164859","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:17.000Z"},{"end":"2026-07-26T04:29:20.000Z","id":"cb7b0442-18cf-4d3d-8cf0-f25157d7990a","metadataArchiveStatus":"Unarchived","start":"2026-07-26T04:29:20.000Z","status":"Failed","submission":"2026-07-26T04:17:43.000Z"},{"id":"411c6f91-846e-403a-9fc2-d38585e3a272","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:13.000Z"},{"id":"afa0f812-3134-4ed3-a0ad-ac329a4b4939","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:09.000Z"},{"id":"b7258b97-6c7f-46bd-8be0-34b639a3f131","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:05.000Z"},{"id":"432e4d91-6345-456d-840a-837d14a66355","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:29:01.000Z"},{"end":"2026-07-26T04:29:00.000Z","id":"2cc2e10b-c8b4-495d-9221-c13395946048","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-07-26T04:28:40.000Z","status":"Succeeded","submission":"2026-07-26T04:17:43.000Z"},{"end":"2026-07-26T04:29:00.000Z","id":"4e9de125-92a8-40a6-a64c-d4fa9e665508","metadataArchiveStatus":"Unarchived","start":"2026-07-26T04:29:00.000Z","status":"Failed","submission":"2026-07-26T04:17:43.000Z"},{"id":"8043099f-aaa7-47ca-981a-4acecb35bcfc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-26T04:28:53.000Z"},{"id":"f94b82e3-386b-472c-a7b4-14a[...]
