interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/query?submission=2026-01-17T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"aef278c7-3d41-43d1-a3d7-12e6249e7ec2","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-18T03:55:09.000Z"},{"id":"7b0372be-7348-4800-bf68-65411d103880","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-18T03:55:10.000Z"},{"id":"1492721c-e317-4d31-ba92-664cf214ae3e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-18T03:55:06.000Z"},{"end":"2026-01-18T03:55:07.000Z","id":"9b8e7206-8404-4b5c-bf54-432471cfe198","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-01-18T03:54:25.000Z","status":"Succeeded","submission":"2026-01-18T03:40:46.000Z"},{"id":"8072575f-25a5-4bac-940e-2341e5addaf7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-18T03:55:05.000Z"},{"id":"1884d2f5-af88-4858-9f70-adba54e23872","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-01-18T03:55:05.000Z","status":"Running","submission":"2026-01-18T03:40:47.000Z"},{"id":"ab14b0ef-876c-4b93-8ede-50b1aa6162a9","metadataArchiveStatus[...]
