interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/query?submission=2025-12-27T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-12-28T03:53:26.000Z","id":"b955a075-e974-4b95-b204-63d9ee84086a","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-12-28T03:52:42.000Z","status":"Succeeded","submission":"2025-12-28T03:42:06.000Z"},{"id":"60166084-3dda-4b70-96d6-ebe9c043a24b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-28T03:53:28.000Z"},{"id":"726093d0-98f7-41b9-9ee7-eeb1b69f8975","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-28T03:53:27.000Z"},{"end":"2025-12-28T03:53:22.000Z","id":"7c324b52-9bfb-448a-9132-b712a7033bec","metadataArchiveStatus":"Unarchived","start":"2025-12-28T03:53:22.000Z","status":"Failed","submission":"20[...]
