interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/query?submission=2025-05-17T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"08cecc7a-2452-4600-8156-581d227c25c5","metadataArchiveStatus":"Unarchived","name":"WildcardsandConditions","start":"2025-05-18T03:58:11.000Z","status":"Running","submission":"2025-05-18T03:51:25.000Z"},{"end":"2025-05-18T03:58:11.000Z","id":"4e222b07-27b9-4c2c-bb5d-15103d3a7849","metadataArchiveStatus":"Unarchived","name":"symlinkOnly","start":"2025-05-18T03:57:31.000Z","status":"Succeeded","submission":"2025-05-18T03:50:39.000Z"},{"end":"2025-05-18T03:57:58.000Z","id":"9e2f7ece-aa60-43c9-9eb2-0090862ffdb4","metadataArchiveStatus":"Unarchived","name":"ArrayOperations","start":"2025-05-18T03:57:11.000Z","status":"Succeeded","submission":"2025-05-18T03:50:19.000Z"},{"id":"e89e9ada-881a-490e-821f-53eec1[...]
