interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/query?submission=2025-03-01T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-02T03:24:25.000Z","id":"4e07bd5c-bc5e-4bbf-aa5c-6be64b1dd6bb","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-02T03:23:44.000Z","status":"Succeeded","submission":"2025-03-02T03:23:39.000Z"},{"end":"2025-03-02T03:22:28.000Z","id":"92df7001-961b-4375-9cd5-360c8be522b3","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-03-02T03:19:44.000Z","status":"Succeeded","submission":"2025-03-02T03:15:12.000Z"},{"end":"2025-03-02T03:22:26.000Z","id":"dbe3df02-f236-4769-85b3-2819213522a4","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2025-03-02T03:20:44.000Z","status":"Succeeded","submission":"2025-03-02T03:15:[...]
