interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/query?submission=2025-02-09T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-02-11T06:48:39.000Z","id":"95a52117-dd9f-4e92-a3ca-e6d419261bb4","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-02-11T06:47:56.000Z","status":"Succeeded","submission":"2025-02-11T06:47:44.000Z"},{"end":"2025-02-11T06:47:29.000Z","id":"66ca651d-bcd0-48fb-ab1a-a1030bd06dfc","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-02-11T06:44:36.000Z","status":"Succeeded","submission":"2025-02-11T06:41:15.000Z"},{"end":"2025-02-11T06:47:03.000Z","id":"ff6bc820-00a0-4ece-a39f-995831223011","metadataArchiveStatus":"Unarchived","name":"WildcardsandConditions","start":"2025-02-11T06:46:16.000Z","status":"Succeeded","submission":"2025-02-11T06:[...]
