interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/query?submission=2025-08-03T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"796ced95-fdd6-4dc6-8cf0-2e370c1bec0e","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-08-04T16:38:38.000Z","status":"Running","submission":"2025-08-04T16:30:39.000Z"},{"id":"57aafa6f-f91b-4d98-ba68-b0e7e44f9279","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-04T16:38:38.000Z"},{"id":"0d005ff9-8309-4a0e-9b18-5381b25fca49","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-04T16:38:38.000Z"},{"id":"3f3560ea-fb20-4fe3-85e1-f60f79848ab1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-04T16:38:34.000Z"},{"id":"06b17e57-ca68-4918-b81f-880046529[...]
