interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/query?submission=2025-12-13T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"3e6f3961-3179-4120-99ed-866c9dbea926","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:56.000Z"},{"id":"ffcf49c6-aedf-40f3-b709-c6a57fcce034","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:54.000Z"},{"id":"85114c5c-5515-4b2a-b384-a4e36020bf18","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:47.000Z"},{"id":"20cc6d16-8528-4369-b84f-8255b82e5b7a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:50.000Z"},{"id":"3f4b36bd-6679-4997-a043-729eb0c3cf5a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:43.000Z"},{"id":"2048c685-778f-4d42-b88f-ad30be25f944","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:42.000Z"},{"id":"cdd5ba87-dae1-4e73-bf21-c22829644ede","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:39.000Z"},{"end":"2025-12-14T03:51:40.000Z","id":"e6c61459-2760-44b5-bc60-493427357bd6","metadataArchiveStatus":"Unarchived","start":"2025-12-14T03:51:40.000Z","status":"Failed","submission":"2025-12-14T03:39:04.000Z"},{"id":"b7dbac9f-11a4-4824-95cc-8c40d042281f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:35.000Z"},{"id":"426ee2be-8b40-43c9-b7ad-d13e7f9bb68c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:27.000Z"},{"id":"0955e9d1-9899-426a-a9cd-585f2cd930aa","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:23.000Z"},{"id":"a79e4c3c-7dbb-4b90-bdec-51416ee48346","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:18.000Z"},{"id":"dd12b65a-ec1a-4656-b4ba-19e480b1af4a","metadataArchiveStatus":"Unarchived","name":"enhanced_map_test","start":"2025-12-14T03:51:20.000Z","status":"Running","submission":"2025-12-14T03:39:04.000Z"},{"id":"269d6ee3-1ccd-4e02-b2cd-8b16001a63c0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:14.000Z"},{"id":"00983737-b0c0-45ac-b260-4a2b6130785d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-14T03:51:10.000Z"},{"id":"288798fd-9b27-4977-9350-83e032cf4e4d","metadataArchiveStatus":"Unarchived","status":"Submi[...]
