interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/query?submission=2026-02-21T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2026-02-22T04:06:32.000Z","id":"4f072f1f-15a3-4ba1-983e-a070417da541","metadataArchiveStatus":"Unarchived","name":"basicGlobTest","start":"2026-02-22T04:05:48.000Z","status":"Succeeded","submission":"2026-02-22T03:54:18.000Z"},{"id":"45ca47df-6328-4167-9b04-ea9dc52b0e82","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-22T04:06:35.000Z"},{"id":"f37a436a-ba8c-4742-bc74-42b0b42d3cf5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-22T04:06:31.000Z"},{"id":"e68cc27c-fc35-4893-a18b-40d7482477cb","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-02-22T04:06:28.000Z","status":"Running","submission":"2026-02-22T[...]
