interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/query?submission=2025-07-20T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-07-21T16:33:44.000Z","id":"dc50ec7b-5800-400b-bc84-6ce95f070f74","metadataArchiveStatus":"Unarchived","name":"ArrayOperations","start":"2025-07-21T16:32:47.000Z","status":"Succeeded","submission":"2025-07-21T16:25:15.000Z"},{"id":"f1a6685a-3034-4d49-b441-ad767efca4e9","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-07-21T16:33:27.000Z","status":"Running","submission":"2025-07-21T16:25:18.000Z"},{"end":"2025-07-21T16:33:17.000Z","id":"5859fd4e-8871-464e-aff6-c9b30b44dee5","metadataArchiveStatus":"Unarchived","name":"enhanced_map_test","start":"2025-07-21T16:31:47.000Z","status":"Succeeded","submission":"2025-07-21T16:25:09.000Z"},{"id":"c51144a2-151e-47c8-b18d-c4[...]
