interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/query?submission=2025-03-05T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-06T23:28:00.000Z","id":"8059ef5d-446c-4d0b-b7af-2222ea1de4f6","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-06T23:27:14.000Z","status":"Succeeded","submission":"2025-03-06T23:27:12.000Z"},{"end":"2025-03-06T23:25:38.000Z","id":"d07447bb-5e20-4f29-818f-929820f8b846","metadataArchiveStatus":"Unarchived","name":"enhanced_map_test","start":"2025-03-06T23:24:14.000Z","status":"Succeeded","submission":"2025-03-06T23:18:58.000Z"},{"end":"2025-03-06T23:25:37.000Z","id":"d286b298-7f10-4bbd-b878-f7fbdc899331","metadataArchiveStatus":"Unarchived","name":"basicTaskTest","start":"2025-03-06T23:24:54.000Z","status":"Succeeded","submission":"2025-03-06T23:18:58.000Z"[...]
