interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/query?submission=2026-03-07T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"2db8fa36-0cca-4d61-b259-51b3e2ba0497","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:49.000Z"},{"id":"874982bc-b858-40f3-8e78-181de0ce05b3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:49.000Z"},{"id":"e44f54d9-1e24-4150-a3e1-453523b3cb0d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:45.000Z"},{"id":"099813af-4f87-4eb5-a608-d8a94feb67cf","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2026-03-08T04:08:46.000Z","status":"Running","submission":"2026-03-08T03:52:52.000Z"},{"id":"c540f23e-f970-46f1-8082-fe7e8aee21b9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:44.000Z"},{"id":"12ab9d43-b7a4-47f1-946c-893cb286b14c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:36.000Z"},{"id":"2b7adfa4-9f88-4d60-89ba-d7a2c1c384c7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:37.000Z"},{"id":"fe822d78-e8e0-467c-99fe-ed46af147906","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:32.000Z"},{"id":"5c6af655-d1b0-4881-b9c0-2d5b9ac30556","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:33.000Z"},{"end":"2026-03-08T04:08:28.000Z","id":"ac5d8871-88f6-470e-8593-71ed5bef0900","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2026-03-08T04:07:06.000Z","status":"Succeeded","submission":"2026-03-08T03:52:48.000Z"},{"id":"ce40aa1f-8ce6-4ced-b971-7017a8c8acd5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-08T04:08:28.000Z"},{"id":"f4e2247a-b268-47b5-a8fa-373809dfb235","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03[...]
