interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/query?submission=2025-05-31T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"91ec2b33-5eb7-4478-b043-48fd6d38bb9d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-01T03:41:30.000Z"},{"id":"248724bd-852f-4446-8336-d5ba66664ce3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-01T03:41:22.000Z"},{"id":"f839fe0a-79cb-4fd4-94d5-54d935ccd3aa","metadataArchiveStatus":"Unarchived","name":"symlinkOnly","start":"2025-06-01T03:41:26.000Z","status":"Running","submission":"2025-06-01T03:39:36.000Z"},{"end":"2025-06-01T03:41:20.000Z","id":"e9cf0946-87e4-4b31-9870-f17638853e2d","metadataArchiveStatus":"Unarchived","name":"testFileoperations","start":"2025-06-01T03:41:06.000Z","status":"Succeeded","submission":"2025-06-01T03:39:36.000Z"},{"id":"a79ff22f-2760-4a48-acff-43e83631a8ae","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-01T03:41:18.000Z"},{"id":"29065788-6ed5-4136-8595-555a504852fe","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-0[...]
