interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/query?submission=2025-09-27T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"f0aa74ba-bb37-4f42-8bd4-120b62d20cb2","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:41:01.000Z"},{"id":"e020dfc2-64bc-4f35-b289-580b794b0fc4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:41:03.000Z"},{"id":"4f26f3f3-13c3-4288-9dcc-381dceed48e0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:59.000Z"},{"id":"28f4de66-2ac9-4b53-939e-5e1557d2b16a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:57.000Z"},{"id":"c7b461b1-b82b-4956-a9f3-3770ffa955c9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:55.000Z"},{"id":"c7f44b3c-db0e-4f61-a261-bcf55e5de25d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:53.000Z"},{"end":"2025-09-28T03:40:50.000Z","id":"e11c8b58-f99b-44b7-8990-15ba7cd74c11","metadataArchiveStatus":"Unarchived","start":"2025-09-28T03:40:50.000Z","status":"Failed","submission":"2025-09-28T03:26:04.000Z"},{"id":"ad45255e-7fc2-44ba-ba12-21d6236f7841","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:46.000Z"},{"id":"7d0a97af-43cf-4fcc-a871-f2eb0983400e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:42.000Z"},{"id":"bb600e96-ad3c-4527-8034-0ed7cc35e2f8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:38.000Z"},{"end":"2025-09-28T03:40:40.000Z","id":"b6b6f84b-3ded-4841-a6ac-fe5851528487","metadataArchiveStatus":"Unarchived","name":"jsonFileLocalization","start":"2025-09-28T03:38:49.000Z","status":"Succeeded","submission":"2025-09-28T03:26:03.000Z"},{"id":"7ae390a5-f8f3-4123-b839-eb995a8d2985","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:34.000Z"},{"id":"c4b28796-06ca-41d9-ae5b-ac494e74520f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-28T03:40:30.000Z"},{"id":"9dc50e73-0b13-4bff-8a63-29815cfb01a3","metadataArchiveStatus":"Unarchived","name":"js[...]
