interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/query?submission=2026-05-16T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"9bdf92bc-4efd-4e2e-a5df-e03824d01e17","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-17T04:46:29.000Z"},{"id":"7d2fffa8-2eff-446b-98a9-8f995500c5a3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-17T04:46:25.000Z"},{"id":"c6406dbe-81e1-43ef-afc3-97f01674ed6f","metadataArchiveStatus":"Unarchived","name":"ArrayOperations","start":"2026-05-17T04:46:19.000Z","status":"Running","submission":"2026-05-17T04:32:43.000Z"},{"id":"cde33da4-68e0-4d00-af78-b96e4e0e9e38","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-17T04:46:21.000Z"},{"end":"2026-05-17T04:46:14.000Z","id":"2732b15d-d677-4f30-898e-f4d2f3300f58","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2026-05-17T04:43:19.000Z","status":"Succeeded","submission":"2026-05-17T04:32:39.000Z"},{"id":"7a5fb8b0-22fc-43e4-8f17-3fb2eb718904","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-17T04:46:12.000Z"},{"id":"71e38fec-0723-4e95-aad3-87a27c9af2b5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-[...]
