interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/query?submission=2025-03-27T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-28T18:51:48.000Z","id":"e5f8a7f0-bb9e-4550-95da-bc1399e1b5f2","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-28T18:50:34.000Z","status":"Succeeded","submission":"2025-03-28T18:50:21.000Z"},{"end":"2025-03-28T18:51:32.000Z","id":"970c7ad3-8d31-4a2e-8066-c0dbc6ce80ba","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-28T18:50:54.000Z","status":"Succeeded","submission":"2025-03-28T18:50:25.000Z"},{"end":"2025-03-28T18:49:23.000Z","id":"09a46630-471f-4c81-bfc4-4bd8eaaa3b50","metadataArchiveStatus":"Unarchived","name":"enhanced_map_test","start":"2025-03-28T18:47:33.000Z","status":"Succeeded","submission":"2025-03-28T18:43:05.000Z"[...]
