interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/query?submission=2025-07-05T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"9a744dee-ccf3-4849-ba0b-1f1f3b1a9d89","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-07-06T04:00:14.000Z"},{"end":"2025-07-06T04:00:11.000Z","id":"68736e6b-790a-4a56-93ad-120100d9cb80","metadataArchiveStatus":"Unarchived","name":"globSymlink","start":"2025-07-06T03:59:29.000Z","status":"Succeeded","submission":"2025-07-06T03:36:48.000Z"},{"id":"9c0634f3-1bf7-400b-ad5a-718516161c24","metadataArchiveStatus":"Unarchived","name":"WildcardsandConditions","start":"2025-07-06T04:00:09.000Z","status":"Running","submission":"2025-07-06T03:36:48.000Z"},{"id":"63fd3b8c-1b5c-48b8-8c93-fcd5ceacdddb","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-07-06T04:00:02.000Z"},{"end":"2025-07-06T03:59:53.000Z","id":"73d267fe-1fa3-4b9e[...]
