interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/query?submission=2025-04-16T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-04-17T16:59:22.000Z","id":"a173c4f3-308e-49d1-99d6-330d593fb14a","metadataArchiveStatus":"Unarchived","name":"testFileoperations","start":"2025-04-17T16:58:41.000Z","status":"Succeeded","submission":"2025-04-17T16:54:25.000Z"},{"id":"b168c19e-df19-4839-a003-aa62a9eb08d3","metadataArchiveStatus":"Unarchived","name":"basicTaskTest","start":"2025-04-17T16:59:21.000Z","status":"Running","submission":"2025-04-17T16:54:26.000Z"},{"id":"49d72164-a4e7-4328-b6fb-9a2a2a2ab5d0","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-04-17T16:59:01.000Z","status":"Running","submission":"2025-04-17T16:54:26.000Z"},{"end":"2025-04-17T16:58:42.000Z","id":"7f0ed16d-e60e-4055-9058-ad[...]
