interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/query?submission=2026-02-11T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"e0d464a8-ebfe-40dc-950e-003e48725c02","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-12T18:11:28.000Z"},{"id":"e14f1c08-2146-494d-8f18-96c6aeb1e41a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-12T18:11:28.000Z"},{"end":"2026-02-12T18:11:29.000Z","id":"021e806a-bfc3-439f-8071-a76e197a8053","metadataArchiveStatus":"Unarchived","name":"testNestedJsonArray","start":"2026-02-12T18:10:43.000Z","status":"Succeeded","submission":"2026-02-12T17:58:45.000Z"},{"end":"2026-02-12T18:11:23.000Z","id":"5c9a9a46-a110-4b10-98e5-495fe762ed30","metadataArchiveStatus":"Unarchived","start":"2026-02-12T18:11:23.000Z","status":"Failed","submission":"2026-02-12T17:58:46.000Z"},{"id":"b2dbe982-871f-4cf5-b492-b9e927e74da5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-02-12T18:11:24.000Z"},{"id":"1453f11c-b5be-41f0-8f37-c6d192fa425b","metadataArch[...]
