interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/query?submission=2026-05-30T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"f9bbda66-e08a-46c1-8226-60099b3dc896","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-31T04:51:55.000Z"},{"end":"2026-05-31T04:51:54.000Z","id":"2674e1d6-b1ee-4ec6-9d07-1a261e7c8027","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2026-05-31T04:49:09.000Z","status":"Succeeded","submission":"2026-05-31T04:38:26.000Z"},{"id":"aba5778e-f282-43ac-8de3-b824e728ff1b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-31T04:51:51.000Z"},{"id":"53751099-12ef-4738-b998-682716979152","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-05-31T04:51:50.000Z","status":"Running","submission":"2026-05-31T04:38:29.000Z"},{"id":"67fb8c11-068f-4764-a520-9671a7e86d7b","metadataArchiveStatus[...]
