interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/query?submission=2025-10-18T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"4c28243c-f28c-4cc9-9bd2-5c5a06b626cb","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-19T03:40:34.000Z"},{"id":"a25d62cc-ca6a-459c-813c-a7e927215833","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-19T03:40:30.000Z"},{"id":"95368f61-2b0c-4235-99ee-7bb2a4081cd0","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-10-19T03:40:24.000Z","status":"Running","submission":"2025-10-19T03:30:31.000Z"},{"id":"cefb5aa6-a0eb-4016-8e58-25b2200eadf9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-19T03:40:26.000Z"},{"id":"943a0961-5ba5-4dc1-a5f8-86851dc2af63","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-19T03:40:17.000Z"},{"id":"af0379ee-1224-4fe6-9cf7-7e4f167f0e9a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-19T03:40:13.000Z"},{"id":"6fd2cc45-7008-4e5f-9dda-5b7b5d3d5c99","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-19T03:40:09.000Z"},{"id":"8660c0c3-6cb7-46fa-9660-0e666f46fd29","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-19T03:40:08.000Z"},{"end":"2025-10-19T03:40:04.000Z","id":"fdaf6aa5-6d5c-42ef-83f4-a7a2413e0cd2","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2025-10-19T03:39:23.000Z","status":"Succeeded","submission":"2025-10-19T03:30:30.000Z"},{"id":"b996e36d-0b58-4a01-9f54-fd69b8351cc9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-19T03:40:06.000Z"},{"id":"2b1a5065-72ea-4824-88a1-aacda9077001","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-[...]
