interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/query?submission=2026-09-19T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2026-09-20T03:38:03.000Z","id":"24d7f5ae-09d6-46e8-8e01-95062d855b21","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-09-20T03:37:18.000Z","status":"Succeeded","submission":"2026-09-20T03:24:47.000Z"},{"id":"afedb499-8153-4363-957c-b58939b2bf17","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-20T03:38:00.000Z"},{"id":"5216923a-adf4-432b-a7ea-6de6ae5d9b80","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-20T03:38:04.000Z"},{"id":"08acf4d6-5fd0-4c41-85b3-5f1e0bc3b364","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-09-20T03:37:56.000Z"},{"id":"67016bdd-17cf-4191-9181-a7557bcee[...]
