interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok115.fhcrc.org:42093/api/workflows/v1/query?submission=2025-01-08T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-01-08T00:18:13.000Z","id":"1a28a08b-2b26-4aa3-bf81-8e89a180ed50","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-01-08T00:18:02.000Z","status":"Succeeded","submission":"2025-01-08T00:16:36.000Z"},{"end":"2025-01-08T00:17:52.000Z","id":"c35aa099-d4bc-4c8f-b489-36d1763141b5","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2025-01-08T00:17:42.000Z","status":"Succeeded","submission":"2025-01-08T00:16:32.000Z"},{"end":"2025-01-08T00:17:34.000Z","id":"b111827a-e32e-43d1-aefc-af34ba128159","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-01-08T00:17:22.000Z","status":"Succeeded","submission":"2025-01-08T00:16:32.000[...]
