interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/query?submission=2025-04-08T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"c0d6e9a8-1d53-4c7b-98d3-5a5a3234f2fc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-04-09T17:48:43.000Z"},{"id":"2167d259-c147-467d-87c0-a06e6d2dded3","metadataArchiveStatus":"Unarchived","name":"globSymlink","start":"2025-04-09T17:48:43.000Z","status":"Running","submission":"2025-04-09T17:48:32.000Z"},{"id":"2fea8cc6-27b2-45e8-ac36-26533001df88","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-04-09T17:48:44.000Z"},{"end":"2025-04-09T17:48:41.000Z","id":"1620f421-39c3-4a9d-9b74-3ba0b614c598","metadataArchiveStatus":"Unarchived","name":"WildcardsandConditions","start":"2025-04-09T17:48:03.000Z","status":"Failed","submission":"2025-04-09T17:47:02.000Z"},{"id":"8c24b9fe-859b-4439-a674-0851916971be","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-04-09T17:48:36.000Z"},{"end":"2025-04-09T17:48:36.000Z","id":"d0c4b56f-36b3-4e9e-acbf-d148e53ed53a","metadataArchiveStatus":"Unarchived","name":[...]
