interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/query?submission=2025-10-25T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"ffc8a3fb-c68c-48ed-badf-46883f66bd9b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-26T03:37:11.000Z"},{"id":"5be7af9e-409d-44f4-845e-2266308cca89","metadataArchiveStatus":"Unarchived","name":"GpuMatrixMult","start":"2025-10-26T03:37:06.000Z","status":"Running","submission":"2025-10-26T03:27:00.000Z"},{"id":"e88b785a-fd85-4e4d-b98c-ef8da1474f2c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-26T03:37:07.000Z"},{"end":"2025-10-26T03:37:09.000Z","id":"28f2071f-8465-4370-9c8d-7d31cb2bf6f1","metadataArchiveStatus":"Unarchived","name":"globSubdir","start":"2025-10-26T03:36:26.000Z","status":"Succeeded","submission":"2025-10-26T03:27:00.000Z"},{"id":"f45a7f2a-9992-4c78-8513-4b7b2ac96a68","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-26T03:37:03.000Z"},{"id":"48cacab7-6945-4f1c-92f6-8329b68f8cd3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-10-26T03:[...]
