interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/query?submission=2025-11-29T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"218f6baf-09b7-4867-8f94-3679de4de429","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-30T03:53:35.000Z"},{"id":"1e82f976-4fb2-4cc4-8b52-e1e60e86952f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-30T03:53:39.000Z"},{"id":"d2005cc7-5697-4019-9f10-8f3134b5e4d9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-30T03:53:31.000Z"},{"id":"70609607-1d29-4b56-bf19-4c0aa84557c7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-30T03:53:31.000Z"},{"id":"dbb9b687-48ea-4222-9758-cd7b4fc9a4be","metadataArchiveStatus":"Unarchived","name":"globNonmatching","start":"2025-11-30T03:53:31.000Z","status":"Running","submission":"2025-11-30T03:40:02.000Z"},{"end":"2025-11-30T03:53:35.000Z","id":"8889b2ac-0abc-4496-81d5-e3a972c450bd","metadataArchiveStatus":"Unarchived","name":"basicTaskTest","start":"2025-11-30T03:52:51.000Z","status":"Succeeded","submission":"2025-11-30T03:40:02.000Z"},{"id":"018eba57-cfbd-4aa4-aea1-38b0f7098436","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-30T03:53:27.000Z"},{"id":"c00ca7bb-9b31-4c27-9d67-3944aab9ed7b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-30T[...]
