interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1/query?submission=2025-01-27T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"d4151ded-6a70-4002-a09b-8efe3f526ca7","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-01-28T19:23:59.000Z","status":"Running","submission":"2025-01-28T19:23:40.000Z"},{"end":"2025-01-28T19:23:24.000Z","id":"5150f1dc-5451-4dc4-b288-ef0ddf8da487","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-01-28T19:21:38.000Z","status":"Succeeded","submission":"2025-01-28T19:20:42.000Z"},{"end":"2025-01-28T19:22:56.000Z","id":"6a921318-d1b5-4e96-b311-6e389ac7dc62","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-01-28T19:22:19.000Z","status":"Succeeded","submission":"2025-01-28T19:20:42.000Z"},{"end":"2025-01-28T19:22:59.000[...]
