interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/query?submission=2025-03-09T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-10T16:10:14.000Z","id":"0c0cdbd2-372f-48a8-8280-1a1b59610df9","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-10T16:09:37.000Z","status":"Succeeded","submission":"2025-03-10T16:09:22.000Z"},{"end":"2025-03-10T16:08:14.000Z","id":"db89a73f-9bbf-4c1d-8c10-e1b37950afec","metadataArchiveStatus":"Unarchived","name":"basicGlobTest","start":"2025-03-10T16:07:37.000Z","status":"Succeeded","submission":"2025-03-10T16:01:47.000Z"},{"end":"2025-03-10T16:08:15.000Z","id":"bddfb1e9-4dbd-4c3a-b196-ea9f4a1df929","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2025-03-10T16:06:57.000Z","status":"Succeeded","submission":"2025-03-10T16:01:47.000Z"[...]
