interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/query?submission=2025-07-26T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"1c316e70-b968-46ca-910a-e2c5bc337606","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-07-27T03:53:20.000Z"},{"id":"6b7b54ed-727d-4889-a3e0-13097decd8fe","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-07-27T03:53:11.000Z"},{"id":"3aea1046-0109-4395-87b1-ddc58f8e5f60","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-07-27T03:53:07.000Z"},{"id":"4640c282-8a2e-4801-a5ba-ceb70aaf669e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-07-27T03:53:03.000Z"},{"id":"254812da-9f80-45f4-a3f0-91c287d556bb","metadataArchiveStatus":"Unarchived","name":"emptyGlobTest","start":"2025-07-27T03:53:01.000Z","status":"Running","submission":"2025-07-27T03:40:33.000Z"},{"end":"2025-07-27T03:53:00.000Z","id":"ff9f7be4-c23a-4b5c-9330-3548b0fd4c8f","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2025-07-27T03:52:21.000Z","status":"Succeeded","submission":"2025-07-27T03:40:30.000Z"},{"id":"08c3cb49-75d4-4e30-abfa-98382d770a00","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-07-27T03:52:59.000Z"},{"id":"237e98d0-cab3-4cec-af6d-4d6cf8cc2bd9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-[...]
