interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/query?submission=2025-02-25T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-02-26T18:08:40.000Z","id":"53823675-270f-4127-aac8-85d7eee1ee08","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-02-26T18:07:57.000Z","status":"Succeeded","submission":"2025-02-26T18:07:38.000Z"},{"end":"2025-02-26T18:06:23.000Z","id":"c412cae3-5d8f-45b5-ab8c-5cc504f6830f","metadataArchiveStatus":"Unarchived","name":"globSubdir","start":"2025-02-26T17:52:56.000Z","status":"Succeeded","submission":"2025-02-26T17:52:13.000Z"},{"end":"2025-02-26T17:57:56.000Z","id":"f6a3a071-07d7-47ec-a1e4-0aed07279643","metadataArchiveStatus":"Unarchived","start":"2025-02-26T17:57:56.000Z","status":"Failed","submission":"2025-02-26T17:52:14.000Z"},{"end":"2025-02-26T17:57:37.000[...]
