interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/query?submission=2026-07-04T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"2cb79558-dd2d-43a4-9486-a01af102ddca","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:44:30.000Z"},{"id":"e7e58b8d-eae3-4fa4-b435-53d767aa1026","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:44:26.000Z"},{"id":"f25e22ad-0069-4493-826d-8ff73a6175b8","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-07-05T04:44:28.000Z","status":"Running","submission":"2026-07-05T04:31:16.000Z"},{"id":"5082c851-38f2-4602-bf76-0bfb143dc805","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:44:22.000Z"},{"id":"4180e9ed-6094-4c5c-8419-367745443fb8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:44:18.000Z"},{"id":"bc974cdc-15a5-4073-8c39-99828ecc5f40","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:44:14.000Z"},{"id":"82de1863-a3e0-44ec-9545-b4556d1f5412","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2026-07-05T04:44:08.000Z","status":"Running","submission":"2026-07-05T04:31:16.000Z"},{"id":"515c97cd-a9ec-4a7b-a43f-e93087beb5ae","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:44:06.000Z"},{"id":"9e3d5647-36d9-43c4-97d8-4417bd8141d4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:44:01.000Z"},{"id":"4e7187aa-0dc8-487c-83ce-b47ebd2d4eea","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:43:57.000Z"},{"id":"afd9dfde-a82e-4190-aaae-274e0c486546","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:43:53.000Z"},{"id":"b1430e01-a3b9-4d87-97c3-52c650f34890","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:43:45.000Z"},{"end":"2026-07-05T04:43:48.000Z","id":"096675b7-fdbe-451c-84a4-4cf1840db656","metadataArchiveStatus":"Unarchived","start":"2026-07-05T04:43:48.000Z","status":"Failed","submission":"2026-07-05T04:31:16.000Z"},{"id":"2e0d7425-8777-4386-ba67-9ba7b7865822","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:43:41.000Z"},{"id":"bb71dd5c-c861-41a8-a29d-9a7adf66afb1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-05T04:43:37.000Z"},{"end":"20[...]
