interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/query?submission=2025-12-20T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-12-21T03:52:26.000Z","id":"9af60391-ac96-4185-bec3-e2a11e1896be","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-12-21T03:51:41.000Z","status":"Succeeded","submission":"2025-12-21T03:39:17.000Z"},{"id":"ca15992b-6bc2-46b9-921b-146adbf8c3cf","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-21T03:52:27.000Z"},{"id":"88149f98-e2b2-4417-94e4-2730302474d3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-21T03:52:25.000Z"},{"id":"a57a247e-5475-44eb-b129-2132ea6b8c94","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-12-21T03:52:22.000Z"},{"end":"2025-12-21T03:52:21.000Z","id":"[...]
