interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/query?submission=2026-01-10T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"7a620dea-3e03-411f-8574-bf116f7e3dbb","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-11T03:55:44.000Z"},{"id":"a4f2268e-1c62-4fc5-89aa-2e9006813760","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-11T03:55:43.000Z"},{"id":"9b438590-d5fa-4a69-b9a3-da2404a0223a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-11T03:55:40.000Z"},{"end":"2026-01-11T03:55:40.000Z","id":"eda8ee1e-6233-45c2-9b94-fd33ab0a84ca","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2026-01-11T03:52:48.000Z","status":"Succeeded","submission":"2026-01-11T03:42:11.000Z"},{"id":"403fa9d0-03c3-489f-9f7a-454ad113379c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-11T03:55:39.000Z"},{"id":"f911b96c-40f7-42a7-ad29-904bd6dcb2aa","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-11T03:55:35.000Z"},{"id":"0dd87073-a506-48a8-8183-eb9d3e347eda","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-0[...]
