interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/query?submission=2025-05-24T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-05-25T04:02:28.000Z","id":"e73d504e-0a08-4da8-8455-24aea5888182","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2025-05-25T04:00:48.000Z","status":"Succeeded","submission":"2025-05-25T03:53:37.000Z"},{"end":"2025-05-25T04:02:28.000Z","id":"0276d947-3540-47d0-90dc-0a3fee79daad","metadataArchiveStatus":"Unarchived","name":"WildcardsandConditions","start":"2025-05-25T04:01:48.000Z","status":"Succeeded","submission":"2025-05-25T03:54:20.000Z"},{"id":"ef782030-286a-4178-9896-35ff4df45b10","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2025-05-25T04:02:28.000Z","status":"Running","submission":"2025-05-25T03:54:28.000Z"},{"id":"10e68ecf-3356-4ce[...]
