interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/query?submission=2025-02-25T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-02-26T22:31:11.000Z","id":"cd7fd02d-13ce-46e8-877b-14df40f53433","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-02-26T22:30:35.000Z","status":"Succeeded","submission":"2025-02-26T22:30:20.000Z"},{"end":"2025-02-26T22:29:26.000Z","id":"bd479cb8-15bf-41e9-8f9d-98473cdb2b58","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-02-26T22:26:35.000Z","status":"Succeeded","submission":"2025-02-26T22:22:25.000Z"},{"end":"2025-02-26T22:28:15.000Z","id":"fd02ca92-818d-40da-8b39-8e8e1666042d","metadataArchiveStatus":"Unarchived","start":"2025-02-26T22:28:15.000Z","status":"Failed","submission":"2025-02-26T22:22:25.000Z"},{"end":"2025-02-26T22:[...]
