interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/query?submission=2025-05-05T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-05-06T15:29:57.000Z","id":"bebf07c1-ed80-4377-91c1-92be322ccc18","metadataArchiveStatus":"Unarchived","start":"2025-05-06T15:29:57.000Z","status":"Failed","submission":"2025-05-06T15:23:00.000Z"},{"id":"75e3c385-f0da-47e3-9355-7d147d424313","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-06T15:29:55.000Z"},{"end":"2025-05-06T15:29:53.000Z","id":"19934449-1100-4d28-b55a-f5a26ebcef40","metadataArchiveStatus":"Unarchived","name":"basicGlobTest","start":"2025-05-06T15:29:17.000Z","status":"Succeeded","submission":"2025-05-06T15:22:24.000Z"},{"id":"7f3a43e4-8f79-45b9-a38c-38e672a99f7c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-06T15:29:40.000Z"},{"end":"2025-05-06T15:29:37.000Z","id":"70cc0d0d-56b0-47e7-9bd8-7a5610b13b20","metadataArchiveStatus":"Unarchived","name":"basicTaskTest","start":"2025-05-06T15:28:57.000Z","status":"Succeeded","submission":"2025-05-06T15:22:03.000Z"},{"id":"f[...]
