interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/query?submission=2026-08-29T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"243c854f-62da-491f-bcfb-c373fa714f41","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-30T03:37:12.000Z"},{"end":"2026-08-30T03:37:13.000Z","id":"b5f098be-28da-4567-92c4-055e96ed1273","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-08-30T03:36:25.000Z","status":"Succeeded","submission":"2026-08-30T03:24:25.000Z"},{"id":"157690b4-aac9-4d2d-9536-316d486f0d2d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-30T03:37:12.000Z"},{"id":"14443f00-a2ad-42fd-9bf7-ee0b97f543f3","metadataArchiveStatus":"Unarchived","name":"testNestedJsonArray","start":"2026-08-30T03:37:05.000Z","status":"Running","submission":"2026-08-30T03:24:26.000Z"},{"id":"cf68c66e-f725-468f-87d2-4215888479f9","metadataArchive[...]
