interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/query?submission=2025-08-10T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-11T18:39:55.000Z"},{"id":"28dec353-d0ef-4a20-b7d2-315018545a49","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-11T18:39:59.000Z"},{"id":"9f2aac47-4641-4d6f-b6f0-d264a95d3f7a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-11T18:39:50.000Z"},{"id":"52938c30-c953-4ffc-bc51-e63862e97e61","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2025-08-11T18:39:54.000Z","status":"Running","submission":"2025-08-11T18:30:04.000Z"},{"end":"2025-08-11T18:39:46.000Z","id":"8c31028d-e72e-4ecd-aa44-9dd6669a42cf","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2025-08-11T18:38:13.000Z","status":"Succeeded","submission":"2025-08-11T18:30:02.000Z"},{"id":"230de222-e91e-4d6f-abf6-974edff43b63","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-08-11T18:39:46.000Z"},{"id":"0b559a22-9e34-487c-b80c-6272c2fea577","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-[...]
