interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/query?submission=2025-06-03T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"d13eeb77-75b6-479f-9e13-96d0bd3d65ca","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-04T22:52:20.000Z"},{"id":"1bf668fc-5d28-4755-b7da-2ba09ff536de","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-04T22:52:20.000Z"},{"id":"6a014215-6051-4aa7-b28d-b129321929a7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-04T22:52:17.000Z"},{"end":"2025-06-04T22:52:19.000Z","id":"460133e4-c62b-43a2-8605-ebf706f26839","metadataArchiveStatus":"Unarchived","start":"2025-06-04T22:52:19.000Z","status":"Failed","submission":"2025-06-04T22:29:17.000Z"},{"id":"cb0df2f9-bea7-4923-b17f-90570adc32e5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-04T22:52:13.000Z"},{"id":"6ac1e6ee-e91c-4fc1-8e54-daac3ea2d894","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-04T22:52:16.000Z"},{"id":"14b4f946-e067-415e-8f0f-48fbcb8f5f50","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-04T22:52:12.000Z"},{"id":"9fa26877-a528-4eef-bcce-808debc4f9a2","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-04T22:52:09.000Z"},{"end":"2025-06-04T22:52:02.000Z","id":"92856a57-52aa-4559-95ad-e344dd5e60ba","metadataArchiveStatus":"Unarchived","name":"enhanced_map_test","start":"2025-06-04T22:50:18.000Z","status":"Succeeded","submission":"2025-06-04T22:28:18.000Z"},{"end":"2025-06-04T22:52:04.000Z","id":"a8e773e0-acf0-4537-a400-975df910a656","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2025-06-04T22:51:18.000Z","status":"Succeeded","submission":"2025-06-04T22:28:19.000Z"},{"id":"fae844b9-aaf7-4172-94f8-e3d6de995aff","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-06-04T22:51:59.00[...]
