interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/query?submission=2025-06-26T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"cc2396aa-68a5-4a03-810c-33485ce68ad7","metadataArchiveStatus":"Unarchived","start":"2025-06-27T19:00:19.000Z","status":"Running","submission":"2025-06-27T18:52:55.000Z"},{"id":"e8902ecf-048d-47d3-ad2d-7510286bba13","metadataArchiveStatus":"Unarchived","start":"2025-06-27T19:00:39.000Z","status":"Submitted","submission":"2025-06-27T18:52:55.000Z"},{"end":"2025-06-27T19:00:35.000Z","id":"477867cb-fffa-40ad-93ed-ab3055e46eb1","metadataArchiveStatus":"Unarchived","name":"ArrayOperations","start":"2025-06-27T18:59:39.000Z","status":"Running","submission":"2025-06-27T18:52:55.000Z"},{"end":"2025-06-27T18:59:59.000Z","id":"c7e18c0b-bf96-4474-a168-dd4feaaae189","metadataArchiveStatus":"Unarchived","start":"2025-06-27T18:59:59.000Z","status":"Failed","submission":"2025-06-27T18:52:55.000Z"},{"end":"2025-06-27T18:59:37.000Z","id":"003cc552-d2ea-43e0-be20-fe2e88841d1b","metadataArchiveStatus":"Unarchived","name":"globNonmatching","start":"2025-06-27T18:58:59.000Z","st[...]
