interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/query?submission=2026-01-24T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"64b0cc97-d2fc-4360-b1f0-4afa9e840e92","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:43.000Z"},{"id":"bb780927-0c59-47b2-b787-ffda467aac99","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:43.000Z"},{"id":"abfb534e-965c-4cad-a6dc-2b1060a58742","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:39.000Z"},{"id":"148d4dff-26c2-449c-832b-70c219e104db","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:39.000Z"},{"id":"d7330f4a-1488-4dc1-a8be-16d71399575d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:35.000Z"},{"id":"aaeed433-9bcd-404c-ac2c-af91f317bc2f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:34.000Z"},{"id":"aeee4424-5527-4ef5-8e5f-12f7a99e14aa","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:27.000Z"},{"id":"e2234f81-ca6d-4980-8a9e-62c11a0df416","metadataArchiveStatus":"Unarchived","name":"enhanced_map_test","start":"2026-01-25T03:55:28.000Z","status":"Running","submission":"2026-01-25T03:43:08.000Z"},{"id":"13f0f541-5537-4218-bd2f-f729d229f2cf","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:26.000Z"},{"id":"b28d323a-cb1a-4d86-8b27-e5b41317fef5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:23.000Z"},{"id":"6156ba65-d5e3-40e1-a703-94fcc4b7854f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:22.000Z"},{"id":"bab6a80a-2212-417a-8ebd-919b97ccabd0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:18.000Z"},{"id":"fac2889d-fa65-4748-ac21-b7c3161acdf2","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:19.000Z"},{"id":"97e31e3f-9851-4945-808e-9dbac522858f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:15.000Z"},{"id":"78d71cc7-9c48-48d2-a1d7-56f8a2c005b5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:14.000Z"},{"id":"7e026551-0daa-49d1-b27b-0a3b54d1d4c6","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:06.000Z"},{"end":"2026-01-25T03:55:08.000Z","id":"9ba3d3ad-199a-4f12-8d80-2e1603e8b05f","metadataArchiveStatus":"Unarchived","start":"2026-01-25T03:55:08.000Z","status":"Failed","submission":"2026-01-25T03:43:08.000Z"},{"id":"fa88d64e-590b-417a-9598-84dd6bb0c276","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:55:02.000Z"},{"id":"a9860d42-1303-49aa-a2f1-ac9ab5833bdc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-25T03:54:58.000Z"},{"id":"04c[...]
