interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/query?submission=2025-03-09T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-10T23:53:07.000Z","id":"f0a0dd16-465b-4ef6-b2b0-42cb959fc9a1","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-10T23:52:25.000Z","status":"Succeeded","submission":"2025-03-10T23:52:20.000Z"},{"end":"2025-03-10T23:52:01.000Z","id":"6e0fd514-6b00-451e-a224-290bb7d89aaa","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-03-10T23:49:04.000Z","status":"Succeeded","submission":"2025-03-10T23:44:19.000Z"},{"end":"2025-03-10T23:50:47.000Z","id":"f25aa8b5-f434-442c-bc84-3dcebf4f49b5","metadataArchiveStatus":"Unarchived","name":"WildcardsandConditions","start":"2025-03-10T23:50:05.000Z","status":"Succeeded","submission":"2025-03-10T23:[...]
