interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/query?submission=2025-09-20T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"b595d460-2703-4b3e-8283-5c632579176d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-21T03:39:35.000Z"},{"id":"d7599bcc-99d1-4b90-af31-e33be046ded5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-21T03:39:37.000Z"},{"id":"cb997c47-532d-4f1c-a05f-4a2bf6e46e6d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-21T03:39:31.000Z"},{"end":"2025-09-21T03:39:31.000Z","id":"18fc11b5-b080-4c05-8f1e-31baac9f0f63","metadataArchiveStatus":"Unarchived","name":"testFileoperations","start":"2025-09-21T03:38:49.000Z","status":"Succeeded","submission":"2025-09-21T03:25:47.000Z"},{"end":"2025-09-21T03:39:29.000Z","id":"b8fa6ac3-04e3-4b5a-b977-4515c24aa167","metadataArchiveStatus":"Unarchived","start":"2025-09-21T03:39:29.000Z","status":"Failed","submission":"2025-09-21T03:25:47.000Z"},{"id":"9a26e955-a3ba-4c73-aa08-e7033f6f4d61","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-09-21T03:39:32.000Z"},{"id":"54e4f8fb-2e52-4631-90c8-bef5f2d3b932","metadataArch[...]
