interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/query?submission=2026-02-28T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"a2689bbd-52d0-48b6-bb9e-929deb43d1e4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-01T04:11:40.000Z"},{"id":"191dd3ec-fb75-4373-a4df-bc925c64cea3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-01T04:11:43.000Z"},{"id":"54dacf07-995d-45a4-bf80-80e0b0e58ebd","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-01T04:11:36.000Z"},{"id":"311d4d03-8ffa-490c-9f98-fcfd57182022","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-01T04:11:39.000Z"},{"id":"e5147dca-abd8-49ab-98c9-af2ea0c7bd89","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-01T04:11:31.000Z"},{"id":"76810808-8dab-4f8f-a0ee-bb34c32b501e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-01T04:11:32.000Z"},{"end":"2026-03-01T04:11:29.000Z","id":"2244ebf9-1550-4ce4-91cb-f4decb0f8b95","metadataArchiveStatus":"Unarchived","name":"globSymlink","start":"2026-03-01T04:09:48.000Z","status":"Succeeded","submission":"2026-03-01T03:58:22.000Z"},{"id":"83addac9-d395-4803-a991-42ad81e507ae","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-03-01T04:11:28.000Z","status":"Running","submission":"2026-03-01T03:58:24.000Z"},{"id":"830fe5cf-b6d0-4bea-a451-838072df4640","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-01T04:11:27.000Z"},{"id":"7b1e61c1-939a-493b-a12a-bb79c3655799","metadataArchiveStatus[...]
