interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/query?submission=2026-03-14T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"a9d19182-398c-44ec-877a-fceff1ff9d83","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:44.000Z"},{"id":"a354e8e1-8a0d-4f8e-8f58-0220ad01a048","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:43.000Z"},{"id":"6afafafe-a33c-4e28-b51f-de1c6f5168cf","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:39.000Z"},{"id":"7c9c0f2e-89ab-4c9b-830a-689d6ea221c7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:40.000Z"},{"id":"e82ff1bf-c0be-4cff-8e5a-0bf120cf7978","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-03-15T04:19:40.000Z","status":"Running","submission":"2026-03-15T04:04:45.000Z"},{"id":"415e2780-323e-4bcf-b76a-194f22ea832b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:36.000Z"},{"id":"997f01c8-be80-4186-90a3-e2e93c6df683","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:35.000Z"},{"id":"818b58ab-5ed9-456a-a1ca-f354f9c1d113","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:31.000Z"},{"id":"fef24ec4-15ab-4944-ae49-6a7c94965a46","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:27.000Z"},{"id":"6fe63512-2a13-4933-bb1f-b3da5b7082b8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:26.000Z"},{"id":"ee009acb-bba8-44be-8a31-b487388481f6","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:23.000Z"},{"id":"b8dad026-e174-4564-8ba8-1830fe04fcbf","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:19.000Z"},{"end":"2026-03-15T04:19:20.000Z","id":"6fa3621e-d6cf-45c0-b033-cab05d34dee8","metadataArchiveStatus":"Unarchived","start":"2026-03-15T04:19:20.000Z","status":"Failed","submission":"2026-03-15T04:04:45.000Z"},{"id":"fea475f4-4f28-4e74-ab79-cac96bfa19d2","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:15.000Z"},{"id":"a4105bd2-f83a-4103-9458-ceb1bec77bd3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-15T04:19:07.000Z"},{"id":"a1d[...]
