interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/query?submission=2026-05-25T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"0e6f9dd1-2b54-469c-8e27-a77326495e33","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-26T16:59:33.000Z"},{"id":"b9c889a7-3b7c-453b-b200-a50d382a2e89","metadataArchiveStatus":"Unarchived","name":"ArrayOperations","start":"2026-05-26T16:59:31.000Z","status":"Running","submission":"2026-05-26T16:44:30.000Z"},{"id":"01f1db6b-5d52-42e5-b59f-308b3f913a31","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-26T16:59:29.000Z"},{"id":"9df55319-efb5-4a8e-8b66-167b4cc63316","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-26T16:59:25.000Z"},{"id":"7a14a45b-1d32-4ccf-9556-55db7534ccee","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-26T16:59:21.000Z"},{"end":"2026-05-26T16:59:14.000Z","id":"1447da37-e0ae-4c6c-b333-d97036663c25","metadataArchiveStatus":"Unarchived","name":"emptyGlobTest","start":"2026-05-26T16:58:31.000Z","status":"Succeeded","submission":"2026-05-26T16:44:30.000Z"},{"id":"e18477a6-fb28-4cff-95da-112eef4f71fc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-26T16:59:13.000Z"},{"end":"2026-05-26T16:59:11.000Z","id":"a1fc73cb-a83d-429e-a830-0d4a18e40729","metadataArchiveStatus":"Unarchived","start":"2026[...]
