interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/query?submission=2025-03-02T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-03T20:48:32.000Z","id":"1ba28887-7e59-4200-ad51-54be65a79e8c","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-03T20:47:54.000Z","status":"Succeeded","submission":"2025-03-03T20:47:49.000Z"},{"end":"2025-03-03T20:46:36.000Z","id":"dc5cfe31-7f94-44fb-a146-c1f4f323b5f1","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-03T20:45:54.000Z","status":"Succeeded","submission":"2025-03-03T20:40:01.000Z"},{"end":"2025-03-03T20:46:16.000Z","id":"b4a3bbf3-f1f8-421e-89e0-b72eedd8c138","metadataArchiveStatus":"Unarchived","name":"globNonmatching","start":"2025-03-03T20:45:34.000Z","status":"Succeeded","submission":"2025-03-03T20:40:01.000Z"},[...]
