interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/query?submission=2025-07-12T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"cef188b6-c9fc-4db4-968b-fa1d48574dd5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-07-13T04:02:02.000Z"},{"end":"2025-07-13T04:01:57.000Z","id":"0bf5e1f1-40dc-4442-b24a-f51b6f89dd7c","metadataArchiveStatus":"Unarchived","name":"GpuMatrixMult","start":"2025-07-13T04:01:19.000Z","status":"Succeeded","submission":"2025-07-13T03:38:22.000Z"},{"id":"906ceccc-a701-4777-8329-6f54882a3082","metadataArchiveStatus":"Unarchived","name":"globSymlink","start":"2025-07-13T04:01:59.000Z","status":"Running","submission":"2025-07-13T03:38:25.000Z"},{"id":"843e9dc1-033e-4e43-a614-5fbad9f24d3c","metadataArchiveStatus":"Unarchived","name":"basicTaskTest","start":"2025-07-13T04:01:39.000Z","status":"Running","submission":"2025-07-13T03:38:22.000Z"},{"id":"17bcd4[...]
