interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/query?submission=2026-03-21T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"4077fd42-8d48-4937-bbbc-4fb006bfd013","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:22.000Z"},{"id":"6d9689bb-1d53-4436-8b91-ddf95321d42c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:22.000Z"},{"id":"9f1d55e8-0261-495e-8ffe-405b441e65e4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:18.000Z"},{"id":"b60f86cb-ea94-453a-8da8-a688f87e8a7d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:18.000Z"},{"id":"e01e0b68-03b1-42b9-94c1-c9543f1e92c3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:10.000Z"},{"id":"db091f4a-41f2-49ac-a722-2c2dd6077b53","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:14.000Z"},{"end":"2026-03-22T04:08:12.000Z","id":"6ba9bbaf-7629-455e-9259-d0374cc803ab","metadataArchiveStatus":"Unarchived","start":"2026-03-22T04:08:12.000Z","status":"Failed","submission":"2026-03-22T03:55:36.000Z"},{"id":"87156bdd-0c9e-4b9c-ad59-6e98ec7bcc11","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:05.000Z"},{"id":"9230f132-5cfa-4a20-98f5-b72b18fdf54c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:06.000Z"},{"id":"603ff1cf-6747-43c3-a4a3-bec64c27c583","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:01.000Z"},{"id":"1353e618-c0e7-4b47-a81e-aadb9f99a164","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:08:02.000Z"},{"id":"5146cfe1-88c4-4233-aa7c-12c077a1d073","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:07:58.000Z"},{"id":"8fedd276-8ab2-47d8-9e91-7915004c8104","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:07:57.000Z"},{"end":"2026-03-22T04:07:58.000Z","id":"9ffa10be-fce8-4b7b-9ecc-acb36d2baa28","metadataArchiveStatus":"Unarchived","name":"globSymlink","start":"2026-03-22T04:07:12.000Z","status":"Succeeded","submission":"2026-03-22T03:55:35.000Z"},{"end":"2026-03-22T04:07:52.000Z","id":"62d70ece-cf2c-49d7-adca-867fd218a7a7","metadataArchiveStatus":"Unarchived","start":"2026-03-22T04:07:52.000Z","status":"Failed","submission":"2026-03-22T03:55:36.000Z"},{"id":"89c94389-5254-4336-a091-70ae89b03fef","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-03-22T04:07:53.000Z"},{"id":"e226ee7a-572c-44bd-9461-82c62[...]
