interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/query?submission=2025-02-26T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-02-27T15:43:24.000Z","id":"b827d8ce-ca67-4bea-a4bd-57f56fee549b","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-02-27T15:42:39.000Z","status":"Succeeded","submission":"2025-02-27T15:42:34.000Z"},{"end":"2025-02-27T15:42:22.000Z","id":"2bea14fb-d69e-4b3a-b81f-921eba321306","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-02-27T15:39:39.000Z","status":"Succeeded","submission":"2025-02-27T15:35:03.000Z"},{"end":"2025-02-27T15:41:47.000Z","id":"d39269f3-1985-47c8-84df-c044ac944ac5","metadataArchiveStatus":"Unarchived","name":"basicTaskTest","start":"2025-02-27T15:40:59.000Z","status":"Succeeded","submission":"2025-02-27T15:35:03.000[...]
