interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/query?submission=2025-06-14T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"ed7041c3-626a-4138-8538-47c2176d9b51","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-15T03:58:49.000Z"},{"id":"0f33b30e-568a-42f3-b8d0-45af934eeeb9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-15T03:58:41.000Z"},{"end":"2025-06-15T03:58:37.000Z","id":"cf6ad7e7-8f01-4e02-a962-5d5e675a5436","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2025-06-15T03:57:55.000Z","status":"Succeeded","submission":"2025-06-15T03:35:26.000Z"},{"id":"fe271014-01b7-4338-8a74-b91cf838f2cf","metadataArchiveStatus":"Unarchived","name":"symlinkOnly","start":"2025-06-15T03:58:35.000Z","status":"Running","submission":"2025-06-15T03:35:28.000Z"},{"id":"6b54e7de-9e4d-43ef-8ef1-a27b6a3179a5","metadataArchiveStatus":"Unarchived","name":"struct_example","start":"2025-06-15T03:58:15.000Z","status":"Running","submission":"2025-06-15T03:35:28.000Z"},{"id":"fcbcd[...]
