interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/query?submission=2025-03-29T00%3A00Z
  response:
    body:
      string: '{"results":[{"end":"2025-03-30T03:33:13.000Z","id":"38c1b4ef-ba7d-4175-95e1-9ac478423002","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-30T03:32:33.000Z","status":"Succeeded","submission":"2025-03-30T03:31:59.000Z"},{"end":"2025-03-30T03:32:55.000Z","id":"b29c6642-3a1e-44f1-a265-68455c79fb32","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-30T03:32:13.000Z","status":"Succeeded","submission":"2025-03-30T03:31:55.000Z"},{"end":"2025-03-30T03:31:20.000Z","id":"6f58128b-56f3-41a3-9539-63a4f12cbf2b","metadataArchiveStatus":"Unarchived","name":"enhanced_map_test","start":"2025-03-30T03:27:12.000Z","status":"Succeeded","submission":"2025-03-30T03:22:41.000Z"[...]
