interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/query?submission=2025-06-26T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"4d11ba0c-fc96-4e88-812f-f62af29539d4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-27T20:26:11.000Z"},{"id":"b29e1e08-9cb8-480d-a69d-647493feec3d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-27T20:26:14.000Z"},{"end":"2025-06-27T20:26:06.000Z","id":"38ff6a6a-c23d-444a-af85-77a8c2aedfa3","metadataArchiveStatus":"Unarchived","start":"2025-06-27T20:26:06.000Z","status":"Failed","submission":"2025-06-27T20:02:45.000Z"},{"end":"2025-06-27T20:26:06.000Z","id":"3f66cf13-ab07-4431-a286-9c47e0139fef","metadataArchiveStatus":"Unarchived","name":"WildcardsandConditions","start":"2025-06-27T20:25:26.000Z","status":"Succeeded","submission":"2025-06-27T20:02:44.000Z"},{"id":"9e761f37-50d4-4c15-95e2-b6e0902f7e7e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-06-27T20:25:55.000Z"},{"end":"2025-06-27T20:25:50.000Z","id":"069d1d7a-a28d-44e4-aec6-44adf2fc201d","metadataArchiveStatus":"Unarchived","name":"emptyGlobTest","start":"2025-06-27T20:25:06.000Z","status":"Succeeded","submission":"2025-06-27T20:02:44.000Z"}[...]
