interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/query?submission=2026-07-18T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"503a51a2-1616-452e-aae9-2ba5c9ada9b4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:24.000Z"},{"id":"fa976fb7-55e3-4313-9848-571aa7536395","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:24.000Z"},{"id":"85819d16-6a5c-4aca-b1e0-6c248ca15f8f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:20.000Z"},{"id":"fcea558b-f21e-482b-a96d-00fdef5677f7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:20.000Z"},{"id":"c667d2e1-b4a4-44c4-96de-eae34230d92c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:16.000Z"},{"id":"d3a74132-d3b1-4acd-a66f-3c76f4c628a4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:16.000Z"},{"id":"b0611a05-c9d2-49ca-991b-884a55467c19","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:11.000Z"},{"end":"2026-07-19T04:28:11.000Z","id":"1ccbbf02-0d83-44a3-91ba-d566f3ae5689","metadataArchiveStatus":"Unarchived","start":"2026-07-19T04:28:10.000Z","status":"Failed","submission":"2026-07-19T04:15:10.000Z"},{"id":"d6542517-cbe7-4469-a7dd-0887bbc733c6","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:12.000Z"},{"id":"42bed49d-bdb8-4319-8814-88b935d69036","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:04.000Z"},{"id":"a7b1beaa-0409-473a-a621-103d17bf5643","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:28:03.000Z"},{"id":"71983aa1-2f90-42d3-a0b7-b2969d488a58","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:27:59.000Z"},{"id":"fcccbbb6-0ae6-4e41-a591-0a62318ea487","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:27:59.000Z"},{"end":"2026-07-19T04:27:56.000Z","id":"593951a6-b95a-49d9-a338-6b1376160bc6","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-07-19T04:27:10.000Z","status":"Succeeded","submission":"2026-07-19T04:15:09.000Z"},{"id":"fcb47516-9c2f-463c-82cf-a40cade8cc87","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:27:55.000Z"},{"id":"8b9661b5-2413-4d96-baf4-2359a40c6d1d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-07-19T04:27:55.000Z"},{"id":"0e523d2c-b9a7-474b-a134-b6e1b0b091e2","metadataArchiveStatus":"Unarchived","status":"Submitt[...]
