interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/query?submission=2025-05-11T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"9c8263bd-7694-46f4-afc7-359674a998c7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:36.000Z"},{"id":"8e303590-96af-4bb5-9f85-c18b59e653f0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:36.000Z"},{"id":"3f6f7143-443b-4a6c-ae12-dda4eb5b84bb","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:28.000Z"},{"id":"dc2386cb-b4e5-44ec-8673-b2f88535560d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:28.000Z"},{"id":"a86b54cf-bc37-4df4-bd1f-900b298ab42a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:24.000Z"},{"id":"2ebcd05a-5c9f-4534-a52c-bd25d68fd882","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:24.000Z"},{"id":"19319cf9-cd5d-4135-b69b-b3c5d876126e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:20.000Z"},{"id":"5c73e920-ee83-4958-8d8e-1839d8f1306f","metadataArchiveStatus":"Unarchived","name":"basicTaskTest","start":"2025-05-12T18:37:21.000Z","status":"Running","submission":"2025-05-12T18:36:33.000Z"},{"id":"109f2acb-b0e2-4776-9624-e9fd348f88bb","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:19.000Z"},{"id":"7356a152-63a8-47b9-ae2f-15c6e87fa0c0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-12T18:37:15.000Z"},{"id":"4e3b77f1-c737-44db-a417-34928fa9df6a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-05-[...]
