interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/query?submission=2026-01-03T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"cfb26764-69a5-44b6-870f-121deb061f7a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-04T03:54:01.000Z"},{"id":"561c23a6-3aac-4217-bbc8-661cd7fcadec","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-04T03:54:00.000Z"},{"end":"2026-01-04T03:53:58.000Z","id":"e66a461a-b432-4bf9-844f-24d8ee7b838a","metadataArchiveStatus":"Unarchived","start":"2026-01-04T03:53:58.000Z","status":"Failed","submission":"2026-01-04T03:41:44.000Z"},{"id":"35bbdcb0-2cff-44ee-b5f8-a7e3c9c17bff","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-04T03:53:57.000Z"},{"id":"6a56a21b-5377-48e5-b7b2-de6024409c7c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-04T03:53:49.000Z"},{"id":"efa1ce23-03e3-41e7-a5df-ccf7d201638b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-04T03:53:45.000Z"},{"end":"2026-01-04T03:53:39.000Z","id":"b5d1cc24-180a-4c12-bac3-6793e81179c6","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2026-01-04T03:51:58.000Z","status":"Succeeded","submission":"2026-01-04T03:41:41.000Z"},{"end":"2026-01-04T03:53:42.000Z","id":"cbd44989-4292-407e-bbbc-a1a7fe407811","metadataArchiveStatus":"Unarchived","name":"basicGlobTest","start":"2026-01-04T03:52:58.000Z","status":"Succeeded","submission":"2026-01-04T03:41:42.000Z"},{"id":"2ee42b07-1afc-48c9-aa83-2875be8218df","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-01-04T03:53:41.000Z"},{"[...]
