interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/query?submission=2026-08-15T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"3424d636-2fbe-4be8-856d-7a27d3f13b75","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:31.000Z"},{"id":"0c7ab387-e2f7-4637-be36-0696e2217b4e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:31.000Z"},{"id":"e062b59e-35f1-45a9-876d-dfcaa230bbae","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:27.000Z"},{"id":"bb35a297-18cd-4820-ada2-a658f995aa3e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:27.000Z"},{"id":"e804f8bb-2ce1-4f99-a586-81234ffd18de","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:23.000Z"},{"id":"a2ceecc1-5c77-42cc-b1f7-33be2df7412f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:23.000Z"},{"id":"027da0bf-4903-4962-9d2b-04f93c3798f9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:19.000Z"},{"end":"2026-08-16T03:36:17.000Z","id":"d89c3d52-b66d-4bcf-be24-9673381982e8","metadataArchiveStatus":"Unarchived","start":"2026-08-16T03:36:17.000Z","status":"Failed","submission":"2026-08-16T03:24:42.000Z"},{"id":"8695430f-0e37-43da-a6bc-3e5cd0f537d3","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:19.000Z"},{"id":"4740f110-7e4c-4121-ae79-683172ae8f43","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:11.000Z"},{"id":"2d53ab26-a970-47e8-9bc6-0803c9882fca","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:11.000Z"},{"id":"a42b53df-61b7-4d88-8647-2a480d318017","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:07.000Z"},{"id":"0ef8e8e4-867b-4799-be2e-0f51fa81a834","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:06.000Z"},{"end":"2026-08-16T03:36:02.000Z","id":"c609186d-2772-42d6-b5d6-4ee3caede92b","metadataArchiveStatus":"Unarchived","name":"HelloModuleHostname","start":"2026-08-16T03:35:17.000Z","status":"Succeeded","submission":"2026-08-16T03:24:39.000Z"},{"id":"9733cf8d-55cc-4dec-aae7-5c669ed756d1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:03.000Z"},{"id":"63dba208-0187-498f-a7e6-d146a568ee60","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-08-16T03:36:02.000Z"},{"end":"2026-08-16T03:35:57.000Z","id":"78324fed-a5eb-4dd1-9cfb-136f9bcf3b35","metadataArchiv[...]
