interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/query?submission=2025-11-01T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"dda4d735-ee80-4641-b1f1-8ffcc453e75d","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-02T03:42:31.000Z"},{"id":"14b34db5-7eb8-49bf-b72b-3cd58cc849d5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-02T03:42:31.000Z"},{"id":"c791409d-79f6-443b-b13f-73ddb633ffe9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-02T03:42:27.000Z"},{"id":"b163f357-4b71-47c2-a32b-33d6598c9d13","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-02T03:42:27.000Z"},{"id":"34502fa2-c131-4f23-8e94-2d7354e272cd","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-02T03:42:19.000Z"},{"id":"05a8132f-6d32-4f87-a985-59a5ce684c05","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-02T03:42:18.000Z"},{"id":"ecf5c011-b856-4d4d-9759-d2be69dc3149","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-02T03:42:14.000Z"},{"end":"2025-11-02T03:42:15.000Z","id":"add5087f-38b8-4150-bef0-9e9b14f21c52","metadataArchiveStatus":"Unarchived","name":"conditional_example","start":"2025-11-02T03:40:33.000Z","status":"Succeeded","submission":"2025-11-02T03:30:49.000Z"},{"id":"914e05f0-9bfc-4d87-97af-dd289d33eae2","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2025-11-02T03:42:14.000Z","status":"Running","submission":"2025-11-02T03:30:51.000Z"},{"id":"ab666a84-8b6d-4841-9c2c-93588769e278","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2025-11-02T03:42:15.000Z"},{"id":"445aedde-982a-4fa3-8ad5-6fc0f4564969","metadataArchiveSt[...]
