interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/query?submission=2026-05-02T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"b55fcda4-4dd0-4d90-9dfb-7cac678e03c8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:28.000Z"},{"id":"e2ce4bbb-0f0b-4fbf-827d-90f46e2c86ca","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-05-03T04:39:27.000Z","status":"Running","submission":"2026-05-03T04:26:29.000Z"},{"id":"a96c10b3-3fc1-49d0-b6e9-9646e2ae611e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:27.000Z"},{"id":"1d859909-b76c-4043-90d0-4e0e9259d761","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:24.000Z"},{"id":"3c393174-9b6b-4d0d-a380-3ff7bc7bf98f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:23.000Z"},{"id":"a4f652d0-6a7a-450a-8646-d546a564871c","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:15.000Z"},{"id":"2539f03b-a9d7-426f-ba8a-663a012489a0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:16.000Z"},{"id":"cccc8384-4a0b-44bf-8f00-6e23666c4b77","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:12.000Z"},{"id":"74326495-4342-4a07-aad2-50529a639cb0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:15.000Z"},{"id":"be8bd491-3f7b-497c-b7db-26bac7a8d10e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:08.000Z"},{"end":"2026-05-03T04:39:07.000Z","id":"d4fb3ba6-3205-42bf-b08f-8ba9c9efffef","metadataArchiveStatus":"Unarchived","start":"2026-05-03T04:39:07.000Z","status":"Failed","submission":"2026-05-03T04:26:29.000Z"},{"id":"88c5f376-1e70-4313-bdaa-a5365bb2616e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:39:03.000Z"},{"id":"5b9c02a5-cf66-420e-8c3c-ad5db3cd9e97","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-03T04:38:55.000Z"},{"id":"34f[...]
