interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/query?submission=2026-04-12T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"2aa31793-5148-4e9f-95bc-102d7f29d36e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:14:15.000Z"},{"id":"32a8c158-cd39-4be0-a8a0-6d83746e70b9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:14:15.000Z"},{"id":"96974720-bada-426c-a052-24f86e3b356f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:14:07.000Z"},{"id":"13ec8200-f90b-40ca-99e6-b36f0dccce14","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:14:11.000Z"},{"id":"6235744b-1237-4343-b0e3-39268c359f94","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:14:03.000Z"},{"id":"bc6d32d2-d65d-4352-a747-d32dd36f2087","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:14:03.000Z"},{"id":"47c14c0f-46c1-4765-92e0-13886a89273b","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2026-04-13T17:14:00.000Z","status":"Running","submission":"2026-04-13T17:00:37.000Z"},{"id":"260a85a6-8039-4949-96c0-9ae0a00ff36a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:59.000Z"},{"id":"efaa62dc-c96b-4639-9e52-54aa0259717b","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:59.000Z"},{"id":"ecb04c49-4a20-4cf5-b32c-4a9fe362bb54","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:55.000Z"},{"id":"40dbaa27-8aa1-4946-99d2-353febb20dd9","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:55.000Z"},{"id":"53f98d41-82dc-4743-83e6-9929fdae973a","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:50.000Z"},{"id":"f80a61bb-8a21-419c-884d-bfaf71a71d19","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:51.000Z"},{"id":"15b5f054-4e7f-458c-8d3f-c9d341140148","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:43.000Z"},{"id":"2dd6ee53-9842-44ab-bf23-c5e55b9f3bc1","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:42.000Z"},{"end":"2026-04-13T17:13:40.000Z","id":"f1af3dc4-2f58-4c6f-919a-09550a55da0e","metadataArchiveStatus":"Unarchived","start":"2026-04-13T17:13:40.000Z","status":"Failed","submission":"2026-04-13T17:00:36.000Z"},{"id":"076d047a-de49-49d6-a6f5-6378dca19fee","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:39.000Z"},{"id":"8b07d607-41c5-4ea9-8119-998315c559e7","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-13T17:13:35.000Z"},{"id":"0bc[...]
