interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/query?submission=2026-05-23T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"39d886f1-6324-487c-8c13-cc6edf7e87ec","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:49:33.000Z"},{"id":"63493131-03de-479c-97ab-74da07bd8d19","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:49:30.000Z"},{"id":"e233985f-560a-4082-93db-b902a937ac53","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:49:26.000Z"},{"end":"2026-05-24T04:49:26.000Z","id":"5a361998-a26c-4cff-8985-79d61236d7e3","metadataArchiveStatus":"Unarchived","start":"2026-05-24T04:49:26.000Z","status":"Failed","submission":"2026-05-24T04:36:11.000Z"},{"id":"979ea295-e1c1-4c51-8555-e2daddff1d6f","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:49:22.000Z"},{"id":"ce0d8120-c3c5-477e-9268-707f33722228","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:49:14.000Z"},{"id":"a67236c9-a697-4853-9be5-dce4a8216d34","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:49:10.000Z"},{"id":"888e38b5-83d1-44e0-9bef-c359aed0fda0","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:49:05.000Z"},{"id":"4fb4c93f-b363-44ee-b715-d33b37bfcf71","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-05-24T04:49:06.000Z","status":"Running","submission":"2026-05-24T04:36:11.000Z"},{"id":"21e25fbf-de0d-468f-8090-1e4c32872381","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:49:01.000Z"},{"id":"f8d7ba75-cf64-4f5a-b9bc-543f24175349","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-05-24T04:48:53.000Z"},{"id":"c5494069-628a-4fb0-a516-c2bb3b319c28","metadataArchiveStatus":"Unarchived","status":"Submitted[...]
