interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/query?submission=2025-02-27T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"a0acc2cf-4380-40ef-8305-666873164f02","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2025-03-01T02:58:32.000Z","status":"Running","submission":"2025-03-01T02:58:16.000Z"},{"end":"2025-03-01T02:58:04.000Z","id":"fc68de94-50c8-4ec7-84e3-1319a9f14536","metadataArchiveStatus":"Unarchived","name":"HelloDockerHostname","start":"2025-03-01T02:50:11.000Z","status":"Succeeded","submission":"2025-03-01T02:44:27.000Z"},{"end":"2025-03-01T02:53:54.000Z","id":"b45c9010-f3ae-474f-aa10-068839b9f548","metadataArchiveStatus":"Unarchived","name":"jsonTaskOrderTest","start":"2025-03-01T02:49:51.000Z","status":"Succeeded","submission":"2025-03-01T02:44:27.000Z"},{"end":"2025-03-01T02:52:36[...]
