interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/query?submission=2026-04-26T00%3A00Z
  response:
    body:
      string: '{"results":[{"id":"5a24a954-53fb-49b1-8078-cdcbebee89b5","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:46.000Z"},{"id":"5d5ac110-831b-455a-b6b7-e1f4ea9df663","metadataArchiveStatus":"Unarchived","name":"HelloHostname","start":"2026-04-27T17:14:46.000Z","status":"Running","submission":"2026-04-27T17:01:49.000Z"},{"id":"f5ea6a45-6c32-47f0-a7f8-7a3ef8624e76","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:47.000Z"},{"id":"06907006-eed6-401f-9e50-1708eb09a1a8","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:43.000Z"},{"id":"b69ed00d-b23a-4b9d-a60b-3a3d0c1897be","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:42.000Z"},{"id":"5cda5a35-9fd9-4952-a2ee-4f75a025b303","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:38.000Z"},{"id":"680eeb9c-bfb9-42a1-95b5-d751124e8fa4","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:35.000Z"},{"id":"56fc5e58-4c99-47a5-bdc5-1c4c4e664341","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:29.000Z"},{"id":"e25eca80-329b-4d49-bc43-fc7fe6678d1e","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:30.000Z"},{"end":"2026-04-27T17:14:26.000Z","id":"a4418500-3922-4db8-9bef-4969e6c7bd71","metadataArchiveStatus":"Unarchived","start":"2026-04-27T17:14:26.000Z","status":"Failed","submission":"2026-04-27T17:01:48.000Z"},{"id":"32a919d7-8768-47d5-9062-55e24b141ffd","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:26.000Z"},{"id":"de32c833-e842-486f-a61a-5ed5db09dadc","metadataArchiveStatus":"Unarchived","status":"Submitted","submission":"2026-04-27T17:14:22.000Z"},{"id":"94d[...]
