interactions:
- request:
    body: "--a140cd8d08d737fbd07610f0ad944f32\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloDockerHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for Docker functionality on Gizmo.\n\n#### WORKFLOW
      DEFINITION\n\nworkflow HelloDockerHostname {\n  call Hostname {\n  }\n\n  output
      {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
      Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
      out = stdout()\n  }\n\n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n    docker:
      \"ubuntu:latest\"\n  }\n\n  parameter_meta {\n    out: \"hostname of the node
      the job was submitted to\"\n  }\n}\n\r\n--a140cd8d08d737fbd07610f0ad944f32\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a140cd8d08d737fbd07610f0ad944f32--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a140cd8d08d737fbd07610f0ad944f32
    method: POST
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1
  response:
    body:
      string: '{"id":"8c838f7b-f771-4cc5-94bc-a509f26dbcf0","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: POST
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1/8c838f7b-f771-4cc5-94bc-a509f26dbcf0/abort
  response:
    body:
      string: '{"id":"8c838f7b-f771-4cc5-94bc-a509f26dbcf0","status":"Aborted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
