interactions:
- request:
    body: "--858f508a06014b60ddc125f8868c14a2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--858f508a06014b60ddc125f8868c14a2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--858f508a06014b60ddc125f8868c14a2--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=858f508a06014b60ddc125f8868c14a2
    method: POST
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1
  response:
    body:
      string: '{"id":"055d9c6e-ac07-49a0-9d6d-a3b8827bcf1e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: POST
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/055d9c6e-ac07-49a0-9d6d-a3b8827bcf1e/abort
  response:
    body:
      string: '{"id":"055d9c6e-ac07-49a0-9d6d-a3b8827bcf1e","status":"Aborted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
