interactions:
- request:
    body: "--7d373814eaaff1f1bdc9240765e396a7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloModuleHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for module functionality on Gizmo.\n\n#### WORKFLOW
      DEFINITION\n\nworkflow HelloModuleHostname {\n  call Hostname {\n  }\n\n  output
      {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
      Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
      out = stdout()\n  }\n\n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n    modules:
      \"Python/3.7.4-foss-2019b-fh1\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--7d373814eaaff1f1bdc9240765e396a7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7d373814eaaff1f1bdc9240765e396a7--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=7d373814eaaff1f1bdc9240765e396a7
    method: POST
    uri: https://gizmok165.fhcrc.org:43587/api/workflows/v1
  response:
    body:
      string: '{"id":"c4d3c415-84bb-41a5-a4ea-2e28f58a377c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: POST
    uri: https://gizmok165.fhcrc.org:43587/api/workflows/v1/c4d3c415-84bb-41a5-a4ea-2e28f58a377c/abort
  response:
    body:
      string: '{"id":"c4d3c415-84bb-41a5-a4ea-2e28f58a377c","status":"Aborted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
