interactions:
- request:
    body: "--abba71481b3cffe18636430073b1a6ec\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--abba71481b3cffe18636430073b1a6ec\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--abba71481b3cffe18636430073b1a6ec--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=abba71481b3cffe18636430073b1a6ec
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"171d4aaf-6d67-4e40-97fc-e69c9305b403","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/171d4aaf-6d67-4e40-97fc-e69c9305b403/abort
  response:
    body:
      string: '{"id":"171d4aaf-6d67-4e40-97fc-e69c9305b403","status":"Aborted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
