interactions:
- request:
    body: "--92836f23989b58b59c8ea67d7f454c35\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--92836f23989b58b59c8ea67d7f454c35\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--92836f23989b58b59c8ea67d7f454c35--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=92836f23989b58b59c8ea67d7f454c35
    method: POST
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1
  response:
    body:
      string: '{"id":"b1fc05a0-8bc5-4278-98a6-ae73534494ea","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/b1fc05a0-8bc5-4278-98a6-ae73534494ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b1fc05a0-8bc5-4278-98a6-ae73534494ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b1fc05a0-8bc5-4278-98a6-ae73534494ea"},"submission":"2025-11-02T03:30:43.544Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/b1fc05a0-8bc5-4278-98a6-ae73534494ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-11-02T03:32:33.341Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-02T03:32:33.342Z","id":"b1fc05a0-8bc5-4278-98a6-ae73534494ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b1fc05a0-8bc5-4278-98a6-ae73534494ea"},"submission":"2025-11-02T03:30:43.544Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/b1fc05a0-8bc5-4278-98a6-ae73534494ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-11-02T03:32:33.341Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-11-02T03:32:34.385Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-02T03:32:33.342Z","id":"b1fc05a0-8bc5-4278-98a6-ae73534494ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b1fc05a0-8bc5-4278-98a6-ae73534494ea"},"submission":"2025-11-02T03:30:43.544Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/b1fc05a0-8bc5-4278-98a6-ae73534494ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-11-02T03:32:33.341Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-11-02T03:32:34.385Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-02T03:32:33.342Z","id":"b1fc05a0-8bc5-4278-98a6-ae73534494ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b1fc05a0-8bc5-4278-98a6-ae73534494ea"},"submission":"2025-11-02T03:30:43.544Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/b1fc05a0-8bc5-4278-98a6-ae73534494ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-11-02T03:32:33.341Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"41175633","backend":"gizmo","attempt":1,"start":"2025-11-02T03:32:34.385Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-02T03:32:33.342Z","id":"b1fc05a0-8bc5-4278-98a6-ae73534494ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b1fc05a0-8bc5-4278-98a6-ae73534494ea"},"submission":"2025-11-02T03:30:43.544Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/b1fc05a0-8bc5-4278-98a6-ae73534494ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-11-02T03:32:33.341Z","cromwellVersion":"87"},{"cromwellId":"cromid-7248ac8","description":"Finished","timestamp":"2025-11-02T03:33:13.145Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"41175633","backend":"gizmo","end":"2025-11-02T03:33:11.777Z","start":"2025-11-02T03:32:34.385Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-11-02T03:32:34.385Z","description":"Pending","endTime":"2025-11-02T03:32:34.385Z"},{"startTime":"2025-11-02T03:32:39.190Z","description":"RunningJob","endTime":"2025-11-02T03:33:10.934Z"},{"startTime":"2025-11-02T03:32:39.182Z","description":"PreparingJob","endTime":"2025-11-02T03:32:39.190Z"},{"startTime":"2025-11-02T03:32:34.385Z","description":"RequestingExecutionToken","endTime":"2025-11-02T03:32:39.182Z"},{"startTime":"2025-11-02T03:32:39.182Z","description":"WaitingForValueStore","endTime":"2025-11-02T03:32:39.182Z"},{"startTime":"2025-11-02T03:33:10.934Z","description":"UpdatingJobStore","endTime":"2025-11-02T03:33:11.777Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b1fc05a0-8bc5-4278-98a6-ae73534494ea","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-11-02T03:33:13.145Z","start":"2025-11-02T03:32:33.342Z","id":"b1fc05a0-8bc5-4278-98a6-ae73534494ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b1fc05a0-8bc5-4278-98a6-ae73534494ea"},"submission":"2025-11-02T03:30:43.544Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
