interactions:
- request:
    body: "--e50e1702f35c71ec85262675f9ccdaf8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--e50e1702f35c71ec85262675f9ccdaf8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e50e1702f35c71ec85262675f9ccdaf8--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e50e1702f35c71ec85262675f9ccdaf8
    method: POST
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1
  response:
    body:
      string: '{"id":"8dc0ce07-eb62-4800-a415-32453cd79a85","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/8dc0ce07-eb62-4800-a415-32453cd79a85/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8dc0ce07-eb62-4800-a415-32453cd79a85\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/8dc0ce07-eb62-4800-a415-32453cd79a85/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"8dc0ce07-eb62-4800-a415-32453cd79a85","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8dc0ce07-eb62-4800-a415-32453cd79a85"},"submission":"2025-07-13T03:37:59.542Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
