interactions:
- request:
    body: "--0db8cca0cd17bf06966ca079e202fdc0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--0db8cca0cd17bf06966ca079e202fdc0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0db8cca0cd17bf06966ca079e202fdc0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0db8cca0cd17bf06966ca079e202fdc0
    method: POST
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1
  response:
    body:
      string: '{"id":"ef2f1ccb-37b3-4bc7-a48f-fef12b646cac","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ef2f1ccb-37b3-4bc7-a48f-fef12b646cac","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ef2f1ccb-37b3-4bc7-a48f-fef12b646cac"},"submission":"2025-10-26T03:26:55.031Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-803eda2","description":"PickedUp","timestamp":"2025-10-26T03:29:06.098Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-10-26T03:29:07.161Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-26T03:29:06.101Z","id":"ef2f1ccb-37b3-4bc7-a48f-fef12b646cac","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ef2f1ccb-37b3-4bc7-a48f-fef12b646cac"},"submission":"2025-10-26T03:26:55.031Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-803eda2","description":"PickedUp","timestamp":"2025-10-26T03:29:06.098Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"40375224","backend":"gizmo","attempt":1,"start":"2025-10-26T03:29:07.161Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-26T03:29:06.101Z","id":"ef2f1ccb-37b3-4bc7-a48f-fef12b646cac","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ef2f1ccb-37b3-4bc7-a48f-fef12b646cac"},"submission":"2025-10-26T03:26:55.031Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-803eda2","description":"PickedUp","timestamp":"2025-10-26T03:29:06.098Z","cromwellVersion":"87"},{"cromwellId":"cromid-803eda2","description":"Finished","timestamp":"2025-10-26T03:29:50.002Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"40375224","backend":"gizmo","end":"2025-10-26T03:29:48.014Z","start":"2025-10-26T03:29:07.161Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-10-26T03:29:07.162Z","description":"RequestingExecutionToken","endTime":"2025-10-26T03:29:11.419Z"},{"startTime":"2025-10-26T03:29:11.419Z","description":"PreparingJob","endTime":"2025-10-26T03:29:11.426Z"},{"startTime":"2025-10-26T03:29:11.426Z","description":"RunningJob","endTime":"2025-10-26T03:29:47.573Z"},{"startTime":"2025-10-26T03:29:11.419Z","description":"WaitingForValueStore","endTime":"2025-10-26T03:29:11.419Z"},{"startTime":"2025-10-26T03:29:47.573Z","description":"UpdatingJobStore","endTime":"2025-10-26T03:29:48.014Z"},{"startTime":"2025-10-26T03:29:07.161Z","description":"Pending","endTime":"2025-10-26T03:29:07.162Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ef2f1ccb-37b3-4bc7-a48f-fef12b646cac","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-10-26T03:29:50.002Z","start":"2025-10-26T03:29:06.101Z","id":"ef2f1ccb-37b3-4bc7-a48f-fef12b646cac","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ef2f1ccb-37b3-4bc7-a48f-fef12b646cac"},"submission":"2025-10-26T03:26:55.031Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
