interactions:
- request:
    body: "--6a4d4eb172a4151fdeb2c27f1a400a80\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--6a4d4eb172a4151fdeb2c27f1a400a80\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6a4d4eb172a4151fdeb2c27f1a400a80--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=6a4d4eb172a4151fdeb2c27f1a400a80
    method: POST
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1
  response:
    body:
      string: '{"id":"a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6"},"submission":"2026-05-17T04:32:32.828Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T04:33:58.754Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-05-17T04:33:59.831Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-17T04:33:58.755Z","id":"a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6"},"submission":"2026-05-17T04:32:32.828Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T04:33:58.754Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-05-17T04:33:59.831Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-17T04:33:58.755Z","id":"a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6"},"submission":"2026-05-17T04:32:32.828Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T04:33:58.754Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"52337828","backend":"gizmo","attempt":1,"start":"2026-05-17T04:33:59.831Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-17T04:33:58.755Z","id":"a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6"},"submission":"2026-05-17T04:32:32.828Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"Finished","timestamp":"2026-05-17T04:34:41.652Z","cromwellVersion":"87"},{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T04:33:58.754Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"52337828","backend":"gizmo","end":"2026-05-17T04:34:40.395Z","start":"2026-05-17T04:33:59.831Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-05-17T04:34:40.230Z","description":"UpdatingJobStore","endTime":"2026-05-17T04:34:40.395Z"},{"startTime":"2026-05-17T04:33:59.831Z","description":"Pending","endTime":"2026-05-17T04:33:59.832Z"},{"startTime":"2026-05-17T04:33:59.832Z","description":"RequestingExecutionToken","endTime":"2026-05-17T04:34:08.159Z"},{"startTime":"2026-05-17T04:34:08.169Z","description":"RunningJob","endTime":"2026-05-17T04:34:40.230Z"},{"startTime":"2026-05-17T04:34:08.159Z","description":"WaitingForValueStore","endTime":"2026-05-17T04:34:08.160Z"},{"startTime":"2026-05-17T04:34:08.160Z","description":"PreparingJob","endTime":"2026-05-17T04:34:08.169Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-17T04:34:41.652Z","start":"2026-05-17T04:33:58.755Z","id":"a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a8d9d654-4b3e-4e3a-bdba-d10b5bed85a6"},"submission":"2026-05-17T04:32:32.828Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
