interactions:
- request:
    body: "--5b67096aad13491f5b83a113a9c8c2e2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--5b67096aad13491f5b83a113a9c8c2e2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5b67096aad13491f5b83a113a9c8c2e2--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5b67096aad13491f5b83a113a9c8c2e2
    method: POST
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1
  response:
    body:
      string: '{"id":"40dd5c2f-b8c9-45a1-aa81-af104fefbff8","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"40dd5c2f-b8c9-45a1-aa81-af104fefbff8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40dd5c2f-b8c9-45a1-aa81-af104fefbff8"},"submission":"2025-11-23T03:44:34.393Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T04:06:03.891Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-11-23T04:06:04.952Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-23T04:06:03.892Z","id":"40dd5c2f-b8c9-45a1-aa81-af104fefbff8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40dd5c2f-b8c9-45a1-aa81-af104fefbff8"},"submission":"2025-11-23T03:44:34.393Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T04:06:03.891Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-11-23T04:06:04.952Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-23T04:06:03.892Z","id":"40dd5c2f-b8c9-45a1-aa81-af104fefbff8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40dd5c2f-b8c9-45a1-aa81-af104fefbff8"},"submission":"2025-11-23T03:44:34.393Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T04:06:03.891Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"42371920","backend":"gizmo","attempt":1,"start":"2025-11-23T04:06:04.952Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-23T04:06:03.892Z","id":"40dd5c2f-b8c9-45a1-aa81-af104fefbff8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40dd5c2f-b8c9-45a1-aa81-af104fefbff8"},"submission":"2025-11-23T03:44:34.393Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T04:06:03.891Z","cromwellVersion":"87"},{"cromwellId":"cromid-49c53ac","description":"Finished","timestamp":"2025-11-23T04:06:44.731Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"42371920","backend":"gizmo","end":"2025-11-23T04:06:42.765Z","start":"2025-11-23T04:06:04.952Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-11-23T04:06:42.432Z","description":"UpdatingJobStore","endTime":"2025-11-23T04:06:42.765Z"},{"startTime":"2025-11-23T04:06:11.068Z","description":"WaitingForValueStore","endTime":"2025-11-23T04:06:11.069Z"},{"startTime":"2025-11-23T04:06:11.069Z","description":"PreparingJob","endTime":"2025-11-23T04:06:11.077Z"},{"startTime":"2025-11-23T04:06:04.952Z","description":"Pending","endTime":"2025-11-23T04:06:04.952Z"},{"startTime":"2025-11-23T04:06:11.077Z","description":"RunningJob","endTime":"2025-11-23T04:06:42.432Z"},{"startTime":"2025-11-23T04:06:04.952Z","description":"RequestingExecutionToken","endTime":"2025-11-23T04:06:11.068Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40dd5c2f-b8c9-45a1-aa81-af104fefbff8","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-11-23T04:06:44.731Z","start":"2025-11-23T04:06:03.892Z","id":"40dd5c2f-b8c9-45a1-aa81-af104fefbff8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40dd5c2f-b8c9-45a1-aa81-af104fefbff8"},"submission":"2025-11-23T03:44:34.393Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
