interactions:
- request:
    body: "--d1577db694e7a431b59a0424c7ea31dd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--d1577db694e7a431b59a0424c7ea31dd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d1577db694e7a431b59a0424c7ea31dd--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d1577db694e7a431b59a0424c7ea31dd
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"de125f2e-9f2d-4c00-8be7-5133016bc273","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/de125f2e-9f2d-4c00-8be7-5133016bc273/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"de125f2e-9f2d-4c00-8be7-5133016bc273","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de125f2e-9f2d-4c00-8be7-5133016bc273"},"submission":"2026-10-01T21:04:11.608Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/de125f2e-9f2d-4c00-8be7-5133016bc273/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:25:49.632Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-10-01T21:25:50.682Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:25:49.632Z","id":"de125f2e-9f2d-4c00-8be7-5133016bc273","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de125f2e-9f2d-4c00-8be7-5133016bc273"},"submission":"2026-10-01T21:04:11.608Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/de125f2e-9f2d-4c00-8be7-5133016bc273/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:25:49.632Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273/call-generate_diverse_outputs/execution/stdout","commandLine":"#
        Create a symlink\necho \"original\" > original.txt\nln -s original.txt link.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:noble-20241118.1","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-10-01T21:25:50.682Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273/call-generate_diverse_outputs/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273/call-generate_diverse_outputs"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:25:49.632Z","id":"de125f2e-9f2d-4c00-8be7-5133016bc273","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de125f2e-9f2d-4c00-8be7-5133016bc273"},"submission":"2026-10-01T21:04:11.608Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/de125f2e-9f2d-4c00-8be7-5133016bc273/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:25:49.632Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273/call-generate_diverse_outputs/execution/stdout","backendStatus":"Running","commandLine":"#
        Create a symlink\necho \"original\" > original.txt\nln -s original.txt link.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:noble-20241118.1","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"9972437","backend":"gizmo","attempt":1,"start":"2026-10-01T21:25:50.682Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273/call-generate_diverse_outputs/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273/call-generate_diverse_outputs"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/de125f2e-9f2d-4c00-8be7-5133016bc273","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:25:49.632Z","id":"de125f2e-9f2d-4c00-8be7-5133016bc273","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de125f2e-9f2d-4c00-8be7-5133016bc273"},"submission":"2026-10-01T21:04:11.608Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
