interactions:
- request:
    body: "--7546e7e46be4d2946409fd9341b872e0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--7546e7e46be4d2946409fd9341b872e0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7546e7e46be4d2946409fd9341b872e0--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=7546e7e46be4d2946409fd9341b872e0
    method: POST
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1
  response:
    body:
      string: '{"id":"7fd22203-56b0-4028-a67a-862d40ff7e8f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/7fd22203-56b0-4028-a67a-862d40ff7e8f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"7fd22203-56b0-4028-a67a-862d40ff7e8f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7fd22203-56b0-4028-a67a-862d40ff7e8f"},"submission":"2026-01-25T03:46:44.249Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/7fd22203-56b0-4028-a67a-862d40ff7e8f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3d319d1","description":"PickedUp","timestamp":"2026-01-25T04:07:49.006Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-01-25T04:07:50.046Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-25T04:07:49.007Z","id":"7fd22203-56b0-4028-a67a-862d40ff7e8f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7fd22203-56b0-4028-a67a-862d40ff7e8f"},"submission":"2026-01-25T03:46:44.249Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/7fd22203-56b0-4028-a67a-862d40ff7e8f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3d319d1","description":"PickedUp","timestamp":"2026-01-25T04:07:49.006Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-01-25T04:07:50.046Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-25T04:07:49.007Z","id":"7fd22203-56b0-4028-a67a-862d40ff7e8f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7fd22203-56b0-4028-a67a-862d40ff7e8f"},"submission":"2026-01-25T03:46:44.249Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/7fd22203-56b0-4028-a67a-862d40ff7e8f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3d319d1","description":"PickedUp","timestamp":"2026-01-25T04:07:49.006Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"45591527","backend":"gizmo","attempt":1,"start":"2026-01-25T04:07:50.046Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-25T04:07:49.007Z","id":"7fd22203-56b0-4028-a67a-862d40ff7e8f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7fd22203-56b0-4028-a67a-862d40ff7e8f"},"submission":"2026-01-25T03:46:44.249Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/7fd22203-56b0-4028-a67a-862d40ff7e8f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3d319d1","description":"Finished","timestamp":"2026-01-25T04:08:29.828Z","cromwellVersion":"87"},{"cromwellId":"cromid-3d319d1","description":"PickedUp","timestamp":"2026-01-25T04:07:49.006Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"45591527","backend":"gizmo","end":"2026-01-25T04:08:28.621Z","start":"2026-01-25T04:07:50.046Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-01-25T04:07:56.936Z","description":"WaitingForValueStore","endTime":"2026-01-25T04:07:56.936Z"},{"startTime":"2026-01-25T04:07:56.943Z","description":"RunningJob","endTime":"2026-01-25T04:08:28.067Z"},{"startTime":"2026-01-25T04:08:28.067Z","description":"UpdatingJobStore","endTime":"2026-01-25T04:08:28.621Z"},{"startTime":"2026-01-25T04:07:50.046Z","description":"RequestingExecutionToken","endTime":"2026-01-25T04:07:56.936Z"},{"startTime":"2026-01-25T04:07:50.046Z","description":"Pending","endTime":"2026-01-25T04:07:50.046Z"},{"startTime":"2026-01-25T04:07:56.936Z","description":"PreparingJob","endTime":"2026-01-25T04:07:56.943Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7fd22203-56b0-4028-a67a-862d40ff7e8f","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-01-25T04:08:29.828Z","start":"2026-01-25T04:07:49.007Z","id":"7fd22203-56b0-4028-a67a-862d40ff7e8f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7fd22203-56b0-4028-a67a-862d40ff7e8f"},"submission":"2026-01-25T03:46:44.249Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
