interactions:
- request:
    body: "--6c8daacef34f173911c28c4ced4dcf34\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--6c8daacef34f173911c28c4ced4dcf34\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6c8daacef34f173911c28c4ced4dcf34--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=6c8daacef34f173911c28c4ced4dcf34
    method: POST
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1
  response:
    body:
      string: '{"id":"3414e240-4628-4fa1-88e5-3e55dc0a6fdd","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"3414e240-4628-4fa1-88e5-3e55dc0a6fdd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3414e240-4628-4fa1-88e5-3e55dc0a6fdd"},"submission":"2026-03-08T03:52:40.001Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T03:57:45.371Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-03-08T03:57:46.442Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-08T03:57:45.371Z","id":"3414e240-4628-4fa1-88e5-3e55dc0a6fdd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3414e240-4628-4fa1-88e5-3e55dc0a6fdd"},"submission":"2026-03-08T03:52:40.001Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T03:57:45.371Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-03-08T03:57:46.442Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-08T03:57:45.371Z","id":"3414e240-4628-4fa1-88e5-3e55dc0a6fdd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3414e240-4628-4fa1-88e5-3e55dc0a6fdd"},"submission":"2026-03-08T03:52:40.001Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T03:57:45.371Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"48983304","backend":"gizmo","attempt":1,"start":"2026-03-08T03:57:46.442Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-08T03:57:45.371Z","id":"3414e240-4628-4fa1-88e5-3e55dc0a6fdd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3414e240-4628-4fa1-88e5-3e55dc0a6fdd"},"submission":"2026-03-08T03:52:40.001Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"Finished","timestamp":"2026-03-08T03:58:20.105Z","cromwellVersion":"87"},{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T03:57:45.371Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"48983304","backend":"gizmo","end":"2026-03-08T03:58:18.536Z","start":"2026-03-08T03:57:46.442Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-03-08T03:58:18.003Z","description":"UpdatingJobStore","endTime":"2026-03-08T03:58:18.536Z"},{"startTime":"2026-03-08T03:57:46.952Z","description":"WaitingForValueStore","endTime":"2026-03-08T03:57:46.952Z"},{"startTime":"2026-03-08T03:57:46.961Z","description":"RunningJob","endTime":"2026-03-08T03:58:18.003Z"},{"startTime":"2026-03-08T03:57:46.952Z","description":"PreparingJob","endTime":"2026-03-08T03:57:46.961Z"},{"startTime":"2026-03-08T03:57:46.442Z","description":"RequestingExecutionToken","endTime":"2026-03-08T03:57:46.952Z"},{"startTime":"2026-03-08T03:57:46.442Z","description":"Pending","endTime":"2026-03-08T03:57:46.442Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3414e240-4628-4fa1-88e5-3e55dc0a6fdd","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-03-08T03:58:20.105Z","start":"2026-03-08T03:57:45.371Z","id":"3414e240-4628-4fa1-88e5-3e55dc0a6fdd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3414e240-4628-4fa1-88e5-3e55dc0a6fdd"},"submission":"2026-03-08T03:52:40.001Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
