interactions:
- request:
    body: "--d37debf61d7ec0ac4d4f112e5e198674\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--d37debf61d7ec0ac4d4f112e5e198674\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d37debf61d7ec0ac4d4f112e5e198674--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=d37debf61d7ec0ac4d4f112e5e198674
    method: POST
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1
  response:
    body:
      string: '{"id":"ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ebb3c5f9-d49d-4299-995d-d4c93aaaed6d"},"submission":"2026-01-11T03:42:09.992Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcb4a2c","description":"PickedUp","timestamp":"2026-01-11T03:50:48.116Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-01-11T03:50:49.166Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-11T03:50:48.117Z","id":"ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ebb3c5f9-d49d-4299-995d-d4c93aaaed6d"},"submission":"2026-01-11T03:42:09.992Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcb4a2c","description":"PickedUp","timestamp":"2026-01-11T03:50:48.116Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-01-11T03:50:49.166Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-11T03:50:48.117Z","id":"ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ebb3c5f9-d49d-4299-995d-d4c93aaaed6d"},"submission":"2026-01-11T03:42:09.992Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcb4a2c","description":"PickedUp","timestamp":"2026-01-11T03:50:48.116Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"44781942","backend":"gizmo","attempt":1,"start":"2026-01-11T03:50:49.166Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-11T03:50:48.117Z","id":"ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ebb3c5f9-d49d-4299-995d-d4c93aaaed6d"},"submission":"2026-01-11T03:42:09.992Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcb4a2c","description":"PickedUp","timestamp":"2026-01-11T03:50:48.116Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"44781942","backend":"gizmo","end":"2026-01-11T03:51:35.640Z","start":"2026-01-11T03:50:49.166Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-01-11T03:50:56.973Z","description":"PreparingJob","endTime":"2026-01-11T03:50:56.982Z"},{"startTime":"2026-01-11T03:51:35.174Z","description":"UpdatingJobStore","endTime":"2026-01-11T03:51:35.640Z"},{"startTime":"2026-01-11T03:50:49.166Z","description":"Pending","endTime":"2026-01-11T03:50:49.166Z"},{"startTime":"2026-01-11T03:50:49.166Z","description":"RequestingExecutionToken","endTime":"2026-01-11T03:50:56.973Z"},{"startTime":"2026-01-11T03:50:56.973Z","description":"WaitingForValueStore","endTime":"2026-01-11T03:50:56.973Z"},{"startTime":"2026-01-11T03:50:56.982Z","description":"RunningJob","endTime":"2026-01-11T03:51:35.174Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-11T03:50:48.117Z","id":"ebb3c5f9-d49d-4299-995d-d4c93aaaed6d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ebb3c5f9-d49d-4299-995d-d4c93aaaed6d"},"submission":"2026-01-11T03:42:09.992Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
