interactions:
- request:
    body: "--b2e2bdea81984379697622af90fef3dd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--b2e2bdea81984379697622af90fef3dd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b2e2bdea81984379697622af90fef3dd--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b2e2bdea81984379697622af90fef3dd
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"21b28b41-70d1-4078-a1d2-2a0f53c498e9","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/21b28b41-70d1-4078-a1d2-2a0f53c498e9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"21b28b41-70d1-4078-a1d2-2a0f53c498e9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-21b28b41-70d1-4078-a1d2-2a0f53c498e9"},"submission":"2026-09-06T03:24:15.380Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/21b28b41-70d1-4078-a1d2-2a0f53c498e9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:25:09.532Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-09-06T03:25:10.593Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:25:09.535Z","id":"21b28b41-70d1-4078-a1d2-2a0f53c498e9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-21b28b41-70d1-4078-a1d2-2a0f53c498e9"},"submission":"2026-09-06T03:24:15.380Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/21b28b41-70d1-4078-a1d2-2a0f53c498e9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:25:09.532Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-09-06T03:25:10.593Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:25:09.535Z","id":"21b28b41-70d1-4078-a1d2-2a0f53c498e9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-21b28b41-70d1-4078-a1d2-2a0f53c498e9"},"submission":"2026-09-06T03:24:15.380Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/21b28b41-70d1-4078-a1d2-2a0f53c498e9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:25:09.532Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"6086870","backend":"gizmo","attempt":1,"start":"2026-09-06T03:25:10.593Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:25:09.535Z","id":"21b28b41-70d1-4078-a1d2-2a0f53c498e9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-21b28b41-70d1-4078-a1d2-2a0f53c498e9"},"submission":"2026-09-06T03:24:15.380Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/21b28b41-70d1-4078-a1d2-2a0f53c498e9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:25:09.532Z","cromwellVersion":"87"},{"cromwellId":"cromid-981ef72","description":"Finished","timestamp":"2026-09-06T03:25:49.353Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"6086870","backend":"gizmo","end":"2026-09-06T03:25:47.414Z","start":"2026-09-06T03:25:10.593Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-09-06T03:25:47.085Z","description":"UpdatingJobStore","endTime":"2026-09-06T03:25:47.414Z"},{"startTime":"2026-09-06T03:25:10.593Z","description":"Pending","endTime":"2026-09-06T03:25:10.593Z"},{"startTime":"2026-09-06T03:25:16.641Z","description":"PreparingJob","endTime":"2026-09-06T03:25:16.650Z"},{"startTime":"2026-09-06T03:25:16.640Z","description":"WaitingForValueStore","endTime":"2026-09-06T03:25:16.641Z"},{"startTime":"2026-09-06T03:25:10.593Z","description":"RequestingExecutionToken","endTime":"2026-09-06T03:25:16.640Z"},{"startTime":"2026-09-06T03:25:16.650Z","description":"RunningJob","endTime":"2026-09-06T03:25:47.085Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/21b28b41-70d1-4078-a1d2-2a0f53c498e9","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-09-06T03:25:49.353Z","start":"2026-09-06T03:25:09.535Z","id":"21b28b41-70d1-4078-a1d2-2a0f53c498e9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-21b28b41-70d1-4078-a1d2-2a0f53c498e9"},"submission":"2026-09-06T03:24:15.380Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
