interactions:
- request:
    body: "--577d9fcd52f28af9a69a835a708a360f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/e0f00985-f83e-4ad9-bc22-60a03e93ba18/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n# This workflow takes a
        tab separated file where each row is a set of data to be used in each \n#
        of the independent scattered task series that you have as your workflow process.  This
        file \n# will, for example, have column names `sampleName`, `bamLocation`,
        and `bedlocation`.  This\n# allows you to know that regardless of the order
        of the columns in your batch file, the correct\n# inputs will be used for
        the tasks you define.  \nwor[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/e0f00985-f83e-4ad9-bc22-60a03e93ba18/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-3de736f","description":"Finished","timestamp":"2025-07-13T03:39:37.577Z","cromwellVersion":"87"},{"cromwellId":"cromid-3de736f","description":"PickedUp","timestamp":"2025-07-13T03:39:37.563Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n# This workflow takes a tab separated file where each row is a set of
        data to be used in each \n# of the independent scattered task series that
        you have as your workflow process.  This file \n# will, for example, have
        column names `sampleName`, `bamLocation`, and `bedlocation`.  This\n# allows
        you to know that regardless of the order of the columns in your batch file,
        the correct\n# inputs will be us[...]
