interactions:
- request:
    body: "--0138b66fc2e2b8274f2b6bf58d63ad3f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--0138b66fc2e2b8274f2b6bf58d63ad3f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0138b66fc2e2b8274f2b6bf58d63ad3f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0138b66fc2e2b8274f2b6bf58d63ad3f
    method: POST
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1
  response:
    body:
      string: '{"id":"082f418f-d3e1-42c6-a85d-3a34387f6c25","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/082f418f-d3e1-42c6-a85d-3a34387f6c25/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"082f418f-d3e1-42c6-a85d-3a34387f6c25","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-082f418f-d3e1-42c6-a85d-3a34387f6c25"},"submission":"2026-02-22T03:54:15.790Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/082f418f-d3e1-42c6-a85d-3a34387f6c25/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:01:27.949Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-02-22T04:01:28.999Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-22T04:01:27.950Z","id":"082f418f-d3e1-42c6-a85d-3a34387f6c25","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-082f418f-d3e1-42c6-a85d-3a34387f6c25"},"submission":"2026-02-22T03:54:15.790Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/082f418f-d3e1-42c6-a85d-3a34387f6c25/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:01:27.949Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-02-22T04:01:28.999Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-22T04:01:27.950Z","id":"082f418f-d3e1-42c6-a85d-3a34387f6c25","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-082f418f-d3e1-42c6-a85d-3a34387f6c25"},"submission":"2026-02-22T03:54:15.790Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/082f418f-d3e1-42c6-a85d-3a34387f6c25/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:01:27.949Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"47886639","backend":"gizmo","attempt":1,"start":"2026-02-22T04:01:28.999Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-22T04:01:27.950Z","id":"082f418f-d3e1-42c6-a85d-3a34387f6c25","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-082f418f-d3e1-42c6-a85d-3a34387f6c25"},"submission":"2026-02-22T03:54:15.790Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/082f418f-d3e1-42c6-a85d-3a34387f6c25/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"Finished","timestamp":"2026-02-22T04:03:30.381Z","cromwellVersion":"87"},{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:01:27.949Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"47886639","backend":"gizmo","end":"2026-02-22T04:03:28.663Z","start":"2026-02-22T04:01:28.999Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-02-22T04:01:36.989Z","description":"PreparingJob","endTime":"2026-02-22T04:01:37.010Z"},{"startTime":"2026-02-22T04:03:28.394Z","description":"UpdatingJobStore","endTime":"2026-02-22T04:03:28.663Z"},{"startTime":"2026-02-22T04:01:36.989Z","description":"WaitingForValueStore","endTime":"2026-02-22T04:01:36.989Z"},{"startTime":"2026-02-22T04:01:28.999Z","description":"Pending","endTime":"2026-02-22T04:01:28.999Z"},{"startTime":"2026-02-22T04:01:28.999Z","description":"RequestingExecutionToken","endTime":"2026-02-22T04:01:36.989Z"},{"startTime":"2026-02-22T04:01:37.010Z","description":"RunningJob","endTime":"2026-02-22T04:03:28.394Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/082f418f-d3e1-42c6-a85d-3a34387f6c25","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-02-22T04:03:30.381Z","start":"2026-02-22T04:01:27.950Z","id":"082f418f-d3e1-42c6-a85d-3a34387f6c25","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-082f418f-d3e1-42c6-a85d-3a34387f6c25"},"submission":"2026-02-22T03:54:15.790Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
