interactions:
- request:
    body: "--845e90ef19e0349e12c5375185017d6c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--845e90ef19e0349e12c5375185017d6c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--845e90ef19e0349e12c5375185017d6c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=845e90ef19e0349e12c5375185017d6c
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"f75d7786-c15f-4e42-8d85-121b26b04da2","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/f75d7786-c15f-4e42-8d85-121b26b04da2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"f75d7786-c15f-4e42-8d85-121b26b04da2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75d7786-c15f-4e42-8d85-121b26b04da2"},"submission":"2026-08-16T03:24:34.241Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/f75d7786-c15f-4e42-8d85-121b26b04da2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:27:36.970Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-08-16T03:27:38.026Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:27:36.972Z","id":"f75d7786-c15f-4e42-8d85-121b26b04da2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75d7786-c15f-4e42-8d85-121b26b04da2"},"submission":"2026-08-16T03:24:34.241Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/f75d7786-c15f-4e42-8d85-121b26b04da2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:27:36.970Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-08-16T03:27:38.026Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:27:36.972Z","id":"f75d7786-c15f-4e42-8d85-121b26b04da2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75d7786-c15f-4e42-8d85-121b26b04da2"},"submission":"2026-08-16T03:24:34.241Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/f75d7786-c15f-4e42-8d85-121b26b04da2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:27:36.970Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"64208611","backend":"gizmo","attempt":1,"start":"2026-08-16T03:27:38.026Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:27:36.972Z","id":"f75d7786-c15f-4e42-8d85-121b26b04da2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75d7786-c15f-4e42-8d85-121b26b04da2"},"submission":"2026-08-16T03:24:34.241Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/f75d7786-c15f-4e42-8d85-121b26b04da2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:27:36.970Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"64208611","backend":"gizmo","end":"2026-08-16T03:28:19.788Z","start":"2026-08-16T03:27:38.026Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-08-16T03:27:38.027Z","description":"RequestingExecutionToken","endTime":"2026-08-16T03:27:46.344Z"},{"startTime":"2026-08-16T03:27:46.344Z","description":"WaitingForValueStore","endTime":"2026-08-16T03:27:46.345Z"},{"startTime":"2026-08-16T03:27:46.345Z","description":"PreparingJob","endTime":"2026-08-16T03:27:46.353Z"},{"startTime":"2026-08-16T03:27:46.353Z","description":"RunningJob","endTime":"2026-08-16T03:28:18.824Z"},{"startTime":"2026-08-16T03:27:38.026Z","description":"Pending","endTime":"2026-08-16T03:27:38.027Z"},{"startTime":"2026-08-16T03:28:18.824Z","description":"UpdatingJobStore","endTime":"2026-08-16T03:28:19.788Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75d7786-c15f-4e42-8d85-121b26b04da2","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:27:36.972Z","id":"f75d7786-c15f-4e42-8d85-121b26b04da2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75d7786-c15f-4e42-8d85-121b26b04da2"},"submission":"2026-08-16T03:24:34.241Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
