interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"HelloHostname","workflowProcessingEvents":[{"cromwellId":"cromid-e9996c4","description":"PickedUp","timestamp":"2025-03-16T03:19:13.196Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW
        DEFINITION\n\nworkflow HelloHostname {\n  call Hostname {\n  }\n\n  output
        {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout:
        \"hostname of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
        Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
        out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta
        {\n    out: \"hostname of the node the job was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"HelloHostname.Hostname":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-03-16T03:19:14.550Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-03-16T03:19:13.197Z","id":"0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5"},"submission":"2025-03-16T03:19:02.805Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"HelloHostname","workflowProcessingEvents":[{"cromwellId":"cromid-e9996c4","description":"PickedUp","timestamp":"2025-03-16T03:19:13.196Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW
        DEFINITION\n\nworkflow HelloHostname {\n  call Hostname {\n  }\n\n  output
        {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout:
        \"hostname of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
        Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
        out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta
        {\n    out: \"hostname of the node the job was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"HelloHostname.Hostname":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5/call-Hostname/execution/stdout","commandLine":"echo
        $(hostname)","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-03-16T03:19:14.550Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5/call-Hostname/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5/call-Hostname"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-03-16T03:19:13.197Z","id":"0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5"},"submission":"2025-03-16T03:19:02.805Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-e9996c4","description":"Finished","timestamp":"2025-03-16T03:20:40.182Z","cromwellVersion":"87"},{"cromwellId":"cromid-e9996c4","description":"PickedUp","timestamp":"2025-03-16T03:19:53.236Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"outputs":{"matched_files_top":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt"],"matched_files_nested":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"14641762","backend":"gizmo","end":"2025-03-16T03:20:38.432Z","start":"2025-03-16T03:19:54.279Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files","attempt":1,"executionEvents":[{"startTime":"2025-03-16T03:19:54.279Z","description":"Pending","endTime":"2025-03-16T03:19:54.279Z"},{"startTime":"2025-03-16T03:20:01.877Z","description":"WaitingForValueStore","endTime":"2025-03-16T03:20:01.877Z"},{"startTime":"2025-03-16T03:19:54.279Z","description":"RequestingExecutionToken","endTime":"2025-03-16T03:20:01.877Z"},{"startTime":"2025-03-16T03:20:01.877Z","description":"PreparingJob","endTime":"2025-03-16T03:20:01.888Z"},{"startTime":"2025-03-16T03:20:37.788Z","description":"UpdatingJobStore","endTime":"2025-03-16T03:20:38.432Z"},{"startTime":"2025-03-16T03:20:01.888Z","description":"RunningJob","endTime":"2025-03-16T03:20:37.788Z"}]}]},"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-16T03:20:40.182Z","start":"2025-03-16T03:19:53.236Z","id":"71d121b0-35b9-45a3-a5a9-c5fd83925ff8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-71d121b0-35b9-45a3-a5a9-c5fd83925ff8"},"submission":"2025-03-16T03:19:02.966Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/8b1e33f9-f844-4271-9225-f6d9a8011483/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-e9996c4","description":"Finished","timestamp":"2025-03-16T03:24:00.400Z","cromwellVersion":"87"},{"cromwellId":"cromid-e9996c4","description":"PickedUp","timestamp":"2025-03-16T03:23:13.455Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/8b1e33f9-f844-4271-9225-f6d9a8011483/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"14641778","backend":"gizmo","end":"2025-03-16T03:23:58.432Z","start":"2025-03-16T03:23:14.498Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/8b1e33f9-f844-4271-9225-f6d9a8011483/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/8b1e33f9-f844-4271-9225-f6d9a8011483/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-03-16T03:23:21.877Z","description":"PreparingJob","endTime":"2025-03-16T03:23:21.886Z"},{"startTime":"2025-03-16T03:23:21.886Z","description":"RunningJob","endTime":"2025-03-16T03:23:57.668Z"},{"startTime":"2025-03-16T03:23:14.499Z","description":"Pending","endTime":"2025-03-16T03:23:14.499Z"},{"startTime":"2025-03-16T03:23:14.499Z","description":"RequestingExecutionToken","endTime":"2025-03-16T03:23:21.877Z"},{"startTime":"2025-03-16T03:23:57.668Z","description":"UpdatingJobStore","endTime":"2025-03-16T03:23:58.432Z"},{"startTime":"2025-03-16T03:23:21.877Z","description":"WaitingForValueStore","endTime":"2025-03-16T03:23:21.877Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/8b1e33f9-f844-4271-9225-f6d9a8011483","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-16T03:24:00.400Z","start":"2025-03-16T03:23:13.456Z","id":"8b1e33f9-f844-4271-9225-f6d9a8011483","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b1e33f9-f844-4271-9225-f6d9a8011483"},"submission":"2025-03-16T03:19:03.090Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/9fff1e51-5a6e-4b09-b2ba-f4c210d46df7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-e9996c4","description":"PickedUp","timestamp":"2025-03-16T03:23:33.475Z","cromwellVersion":"87"},{"cromwellId":"cromid-e9996c4","description":"Finished","timestamp":"2025-03-16T03:24:15.319Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/9fff1e51-5a6e-4b09-b2ba-f4c210d46df7/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"14641779","backend":"gizmo","end":"2025-03-16T03:24:13.431Z","start":"2025-03-16T03:23:34.519Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/9fff1e51-5a6e-4b09-b2ba-f4c210d46df7/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/9fff1e51-5a6e-4b09-b2ba-f4c210d46df7/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-03-16T03:23:41.889Z","description":"RunningJob","endTime":"2025-03-16T03:24:12.779Z"},{"startTime":"2025-03-16T03:23:34.519Z","description":"Pending","endTime":"2025-03-16T03:23:34.519Z"},{"startTime":"2025-03-16T03:23:41.877Z","description":"WaitingForValueStore","endTime":"2025-03-16T03:23:41.877Z"},{"startTime":"2025-03-16T03:24:12.779Z","description":"UpdatingJobStore","endTime":"2025-03-16T03:24:13.431Z"},{"startTime":"2025-03-16T03:23:41.877Z","description":"PreparingJob","endTime":"2025-03-16T03:23:41.889Z"},{"startTime":"2025-03-16T03:23:34.519Z","description":"RequestingExecutionToken","endTime":"2025-03-16T03:23:41.877Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/9fff1e51-5a6e-4b09-b2ba-f4c210d46df7","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-16T03:24:15.319Z","start":"2025-03-16T03:23:33.476Z","id":"9fff1e51-5a6e-4b09-b2ba-f4c210d46df7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9fff1e51-5a6e-4b09-b2ba-f4c210d46df7"},"submission":"2025-03-16T03:19:03.169Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/2e31f4ea-7042-41f0-857c-d6ae0bf0b869/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"enhanced_map_test","workflowProcessingEvents":[{"cromwellId":"cromid-e9996c4","description":"PickedUp","timestamp":"2025-03-16T03:21:13.327Z","cromwellVersion":"87"},{"cromwellId":"cromid-e9996c4","description":"Finished","timestamp":"2025-03-16T03:22:47.209Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow enhanced_map_test {\n    input {\n        # Original inputs\n        Array[String]
        samples\n        Map[String, String] sample_metadata\n        Map[String,
        Int] read_lengths\n\n        # New test inputs\n        Map[String, Map[String,
        String]] nested_map = {\n            \"patient1\": {\n                \"sample1\":
        \"normal\",\n                \"sample2\": \"tumor\"\n            },\n            \"patient2\":
        {\n                \"sample3\": \"normal\",\n                \"sample4\":
        \"tumor\"\n            }\n        }\n        # We need to provide keys as
        arrays since WDL 1.0 doesn''t have a keys() function\n        Array[String]
        patient_ids = [\"patient1\", \"patient2\"]\n    }\n\n    # Test nested map
        processing\n    scatter (patient_id in patient_ids) {\n        call process_nested_map
        {\n            input:\n                patient_id = patient_id,\n                patient_data
        = nested_map[patient_id],\n                # [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0aa90cf8-73c2-422a-9598-81e543ce33c1/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-e9996c4","description":"PickedUp","timestamp":"2025-03-16T03:20:53.305Z","cromwellVersion":"87"},{"cromwellId":"cromid-e9996c4","description":"Finished","timestamp":"2025-03-16T03:21:35.152Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/0aa90cf8-73c2-422a-9598-81e543ce33c1/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"outputs":{"txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/0aa90cf8-73c2-422a-9598-81e543ce33c1/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/0aa90cf8-73c2-422a-9598-81e543ce33c1/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/6f060448-0afa-46f0-b9fe-b5629174dc22/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-e9996c4","description":"PickedUp","timestamp":"2025-03-16T03:22:33.414Z","cromwellVersion":"87"},{"description":"Finished","cromwellVersion":"87","cromwellId":"cromid-e9996c4","timestamp":"2025-03-16T03:22:33.422Z"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-03-16T03:22:33.422Z","start":"2025-03-16T03:22:33.414Z","id":"6f060448-0afa-46f0-b9fe-b5629174dc22","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6f060448-0afa-46f0-b9fe-b5629174dc22"},"submission":"2025-03-16T03:19:03.489Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
