interactions:
- request:
    body: "--ac8dfc9116b795fe99a432ce83ccc76b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/911e60f0-3358-48be-90e4-e86511ba8fdd/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 911e60f0-3358-48be-90e4-e86511ba8fdd\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/911e60f0-3358-48be-90e4-e86511ba8fdd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow testFileoperations
        {\n    call file_operations\n\n    output {\n        File created_file1 =
        file_operations.created_file1\n        File moved_file = file_operations.moved_file\n        File
        renamed_file = file_operations.renamed_file\n    }\n}\n\ntask file_operations
        {\n    command <<<\n        # Create three different files\n        echo \"This
        is the first created file.\" > file1.txt\n        echo \"This is the second
        file that will be moved.\" > file2.txt\n        echo \"This is the third file
        that will be renamed.\" > file3.txt\n        \n        # Move the second file
        to a new directory\n        mkdir -p output_dir\n        mv file2.txt output_dir/\n        \n        #
        Rename the third file\n        mv file3.txt file3_renamed.txt\n    >>>\n\n    output
        {\n        # Output the actual existing files\n        File created_file1
        = \"file1.txt\"                  # The first file remains unchanged\n        File
        moved_file = \"output_dir/file2.txt\"          # The second file after being
        moved\n        File renamed_file = \"file3_renamed.txt\"           # The third
        file after being renamed\n    }\n\n    runtime {\n        docker: \"ubuntu:20.04\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"911e60f0-3358-48be-90e4-e86511ba8fdd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-911e60f0-3358-48be-90e4-e86511ba8fdd"},"submission":"2026-09-20T03:24:39.170Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
