interactions:
- request:
    body: "--844bc173cfacc14859e617046ffe25a2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--844bc173cfacc14859e617046ffe25a2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--844bc173cfacc14859e617046ffe25a2--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=844bc173cfacc14859e617046ffe25a2
    method: POST
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1
  response:
    body:
      string: '{"id":"74404c8a-94e3-42ac-9e4b-9428a32630aa","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/74404c8a-94e3-42ac-9e4b-9428a32630aa/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"74404c8a-94e3-42ac-9e4b-9428a32630aa","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-74404c8a-94e3-42ac-9e4b-9428a32630aa"},"submission":"2025-12-14T03:51:02.049Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/74404c8a-94e3-42ac-9e4b-9428a32630aa/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T04:08:42.784Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-12-14T04:08:43.828Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-14T04:08:42.784Z","id":"74404c8a-94e3-42ac-9e4b-9428a32630aa","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-74404c8a-94e3-42ac-9e4b-9428a32630aa"},"submission":"2025-12-14T03:51:02.049Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/74404c8a-94e3-42ac-9e4b-9428a32630aa/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T04:08:42.784Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-12-14T04:08:43.828Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-14T04:08:42.784Z","id":"74404c8a-94e3-42ac-9e4b-9428a32630aa","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-74404c8a-94e3-42ac-9e4b-9428a32630aa"},"submission":"2025-12-14T03:51:02.049Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/74404c8a-94e3-42ac-9e4b-9428a32630aa/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T04:08:42.784Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"43391482","backend":"gizmo","attempt":1,"start":"2025-12-14T04:08:43.828Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-14T04:08:42.784Z","id":"74404c8a-94e3-42ac-9e4b-9428a32630aa","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-74404c8a-94e3-42ac-9e4b-9428a32630aa"},"submission":"2025-12-14T03:51:02.049Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/74404c8a-94e3-42ac-9e4b-9428a32630aa/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T04:08:42.784Z","cromwellVersion":"87"},{"cromwellId":"cromid-444190d","description":"Finished","timestamp":"2025-12-14T04:10:31.948Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"43391482","backend":"gizmo","end":"2025-12-14T04:10:30.057Z","start":"2025-12-14T04:08:43.828Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-12-14T04:10:29.219Z","description":"UpdatingJobStore","endTime":"2025-12-14T04:10:30.057Z"},{"startTime":"2025-12-14T04:08:43.828Z","description":"RequestingExecutionToken","endTime":"2025-12-14T04:08:47.276Z"},{"startTime":"2025-12-14T04:08:47.276Z","description":"PreparingJob","endTime":"2025-12-14T04:08:47.309Z"},{"startTime":"2025-12-14T04:08:43.828Z","description":"Pending","endTime":"2025-12-14T04:08:43.828Z"},{"startTime":"2025-12-14T04:08:47.309Z","description":"RunningJob","endTime":"2025-12-14T04:10:29.219Z"},{"startTime":"2025-12-14T04:08:47.276Z","description":"WaitingForValueStore","endTime":"2025-12-14T04:08:47.276Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/74404c8a-94e3-42ac-9e4b-9428a32630aa","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-12-14T04:10:31.948Z","start":"2025-12-14T04:08:42.784Z","id":"74404c8a-94e3-42ac-9e4b-9428a32630aa","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-74404c8a-94e3-42ac-9e4b-9428a32630aa"},"submission":"2025-12-14T03:51:02.049Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
