interactions:
- request:
    body: "--19d124da3008afcc863d955f954d06a3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--19d124da3008afcc863d955f954d06a3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--19d124da3008afcc863d955f954d06a3--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=19d124da3008afcc863d955f954d06a3
    method: POST
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1
  response:
    body:
      string: '{"id":"75c6b0e9-9f09-457a-9251-95b900331ac6","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/75c6b0e9-9f09-457a-9251-95b900331ac6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"75c6b0e9-9f09-457a-9251-95b900331ac6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-75c6b0e9-9f09-457a-9251-95b900331ac6"},"submission":"2026-07-19T04:15:03.485Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/75c6b0e9-9f09-457a-9251-95b900331ac6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:21:30.358Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-07-19T04:21:31.415Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-19T04:21:30.359Z","id":"75c6b0e9-9f09-457a-9251-95b900331ac6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-75c6b0e9-9f09-457a-9251-95b900331ac6"},"submission":"2026-07-19T04:15:03.485Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/75c6b0e9-9f09-457a-9251-95b900331ac6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:21:30.358Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-07-19T04:21:31.415Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-19T04:21:30.359Z","id":"75c6b0e9-9f09-457a-9251-95b900331ac6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-75c6b0e9-9f09-457a-9251-95b900331ac6"},"submission":"2026-07-19T04:15:03.485Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/75c6b0e9-9f09-457a-9251-95b900331ac6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:21:30.358Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"55275173","backend":"gizmo","attempt":1,"start":"2026-07-19T04:21:31.415Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-19T04:21:30.359Z","id":"75c6b0e9-9f09-457a-9251-95b900331ac6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-75c6b0e9-9f09-457a-9251-95b900331ac6"},"submission":"2026-07-19T04:15:03.485Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/75c6b0e9-9f09-457a-9251-95b900331ac6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:21:30.358Z","cromwellVersion":"87"},{"cromwellId":"cromid-41f987d","description":"Finished","timestamp":"2026-07-19T04:22:17.320Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"55275173","backend":"gizmo","end":"2026-07-19T04:22:15.652Z","start":"2026-07-19T04:21:31.415Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-07-19T04:21:39.359Z","description":"PreparingJob","endTime":"2026-07-19T04:21:39.368Z"},{"startTime":"2026-07-19T04:21:31.416Z","description":"RequestingExecutionToken","endTime":"2026-07-19T04:21:39.359Z"},{"startTime":"2026-07-19T04:21:39.359Z","description":"WaitingForValueStore","endTime":"2026-07-19T04:21:39.359Z"},{"startTime":"2026-07-19T04:21:39.368Z","description":"RunningJob","endTime":"2026-07-19T04:22:15.623Z"},{"startTime":"2026-07-19T04:21:31.416Z","description":"Pending","endTime":"2026-07-19T04:21:31.416Z"},{"startTime":"2026-07-19T04:22:15.623Z","description":"UpdatingJobStore","endTime":"2026-07-19T04:22:15.653Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/75c6b0e9-9f09-457a-9251-95b900331ac6","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-07-19T04:22:17.320Z","start":"2026-07-19T04:21:30.359Z","id":"75c6b0e9-9f09-457a-9251-95b900331ac6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-75c6b0e9-9f09-457a-9251-95b900331ac6"},"submission":"2026-07-19T04:15:03.485Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
