interactions:
- request:
    body: "--e4dc4f9ea17bac2a06bfa3b006ad196d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonTaskOrderTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonTaskOrderTest {\n  input {\n    String input_json  # JSON
      string used as input for both tasks\n  }\n\n  call Task1 { input: input_json
      = input_json }\n  call Task2 { input: input_json = input_json, previous_output
      = Task1.output_file }\n\n  output {\n    File task1_output = Task1.output_file\n
      \   File task2_output = Task2.output_file\n  }\n}\n\ntask Task1 {\n  input {\n
      \   String input_json\n  }\n  \n  command <<<\n    echo \"Processing JSON in
      Task1: ~{input_json}\" > task1_output.txt\n    echo \"Task1 completed\" >> task1_output.txt\n
      \ >>>\n  \n  output {\n    File output_file = \"task1_output.txt\"\n  }\n  \n
      \ runtime {\n    cpu: 1\n    memory: \"2G\"\n  }\n}\n\ntask Task2 {\n  input
      {\n    String input_json\n    File previous_output\n  }\n  \n  command <<<\n
      \   echo \"Processing JSON in Task2: ~{input_json}\" > task2_output.txt\n    echo
      \"Task2 completed after Task1\" >> task2_output.txt\n    cat ~{previous_output}
      >> task2_output.txt\n  >>>\n  \n  output {\n    File output_file = \"task2_output.txt\"\n
      \ }\n  \n  runtime {\n    cpu: 1\n    memory: \"2G\"\n  }\n}\n\r\n--e4dc4f9ea17bac2a06bfa3b006ad196d\r\nContent-Disposition:
      form-data; name=\"workflowInputs\"; filename=\"inputs.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n  \"jsonTaskOrderTest.input_json\": \"I am the text
      that from input.json\"\n}\n\r\n--e4dc4f9ea17bac2a06bfa3b006ad196d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e4dc4f9ea17bac2a06bfa3b006ad196d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e4dc4f9ea17bac2a06bfa3b006ad196d
    method: POST
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1
  response:
    body:
      string: '{"id":"b627c975-6c1d-4887-b770-269b6ae7460a","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/b627c975-6c1d-4887-b770-269b6ae7460a/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b627c975-6c1d-4887-b770-269b6ae7460a\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/b627c975-6c1d-4887-b770-269b6ae7460a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow jsonTaskOrderTest
        {\n  input {\n    String input_json  # JSON string used as input for both
        tasks\n  }\n\n  call Task1 { input: input_json = input_json }\n  call Task2
        { input: input_json = input_json, previous_output = Task1.output_file }\n\n  output
        {\n    File task1_output = Task1.output_file\n    File task2_output = Task2.output_file\n  }\n}\n\ntask
        Task1 {\n  input {\n    String input_json\n  }\n  \n  command <<<\n    echo
        \"Processing JSON in Task1: ~{input_json}\" > task1_output.txt\n    echo \"Task1
        completed\" >> task1_output.txt\n  >>>\n  \n  output {\n    File output_file
        = \"task1_output.txt\"\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"2G\"\n  }\n}\n\ntask
        Task2 {\n  input {\n    String input_json\n    File previous_output\n  }\n  \n  command
        <<<\n    echo \"Processing JSON in Task2: ~{input_json}\" > task2_output.txt\n    echo
        \"Task2 completed after Task1\" >> task2_output.txt\n    cat ~{previous_output}
        >> task2_output.txt\n  >>>\n  \n  output {\n    File output_file = \"task2_output.txt\"\n  }\n  \n  runtime
        {\n    cpu: 1\n    memory: \"2G\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{\"jsonTaskOrderTest.input_json\":\"I am the text that
        from input.json\"}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b627c975-6c1d-4887-b770-269b6ae7460a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b627c975-6c1d-4887-b770-269b6ae7460a"},"submission":"2025-11-23T03:39:04.771Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
