interactions:
- request:
    body: "--b2855758b2a522fc9aba9e99ec40235a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--b2855758b2a522fc9aba9e99ec40235a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b2855758b2a522fc9aba9e99ec40235a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b2855758b2a522fc9aba9e99ec40235a
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"09ebacb7-b52d-49cf-933b-2a0f1fbeea98","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/09ebacb7-b52d-49cf-933b-2a0f1fbeea98/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"09ebacb7-b52d-49cf-933b-2a0f1fbeea98","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-09ebacb7-b52d-49cf-933b-2a0f1fbeea98"},"submission":"2026-10-04T04:36:03.667Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/09ebacb7-b52d-49cf-933b-2a0f1fbeea98/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:55:06.892Z","cromwellVersion":"87"},{"cromwellId":"cromid-050974d","description":"Finished","timestamp":"2026-10-04T04:55:06.902Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2026-10-04T04:55:06.902Z","start":"2026-10-04T04:55:06.893Z","id":"09ebacb7-b52d-49cf-933b-2a0f1fbeea98","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-09ebacb7-b52d-49cf-933b-2a0f1fbeea98"},"submission":"2026-10-04T04:36:03.667Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
