interactions:
- request:
    body: "--ccc1ea381955c2fce4f3e5a2cbf2cdeb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--ccc1ea381955c2fce4f3e5a2cbf2cdeb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ccc1ea381955c2fce4f3e5a2cbf2cdeb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ccc1ea381955c2fce4f3e5a2cbf2cdeb
    method: POST
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1
  response:
    body:
      string: '{"id":"9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9c7d2a1f-e5df-4a4b-9291-93234dc3cbab"},"submission":"2026-01-04T03:41:34.628Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T03:41:57.953Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-01-04T03:41:59.013Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-04T03:41:57.954Z","id":"9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9c7d2a1f-e5df-4a4b-9291-93234dc3cbab"},"submission":"2026-01-04T03:41:34.628Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T03:41:57.953Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-01-04T03:41:59.013Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-04T03:41:57.954Z","id":"9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9c7d2a1f-e5df-4a4b-9291-93234dc3cbab"},"submission":"2026-01-04T03:41:34.628Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T03:41:57.953Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"44085500","backend":"gizmo","attempt":1,"start":"2026-01-04T03:41:59.013Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-04T03:41:57.954Z","id":"9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9c7d2a1f-e5df-4a4b-9291-93234dc3cbab"},"submission":"2026-01-04T03:41:34.628Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"Finished","timestamp":"2026-01-04T03:42:42.874Z","cromwellVersion":"87"},{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T03:41:57.953Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"44085500","backend":"gizmo","end":"2026-01-04T03:42:41.045Z","start":"2026-01-04T03:41:59.013Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-01-04T03:41:59.013Z","description":"Pending","endTime":"2026-01-04T03:41:59.013Z"},{"startTime":"2026-01-04T03:42:04.350Z","description":"WaitingForValueStore","endTime":"2026-01-04T03:42:04.350Z"},{"startTime":"2026-01-04T03:42:40.373Z","description":"UpdatingJobStore","endTime":"2026-01-04T03:42:41.045Z"},{"startTime":"2026-01-04T03:42:04.360Z","description":"RunningJob","endTime":"2026-01-04T03:42:40.373Z"},{"startTime":"2026-01-04T03:41:59.013Z","description":"RequestingExecutionToken","endTime":"2026-01-04T03:42:04.350Z"},{"startTime":"2026-01-04T03:42:04.350Z","description":"PreparingJob","endTime":"2026-01-04T03:42:04.360Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-01-04T03:42:42.874Z","start":"2026-01-04T03:41:57.954Z","id":"9c7d2a1f-e5df-4a4b-9291-93234dc3cbab","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9c7d2a1f-e5df-4a4b-9291-93234dc3cbab"},"submission":"2026-01-04T03:41:34.628Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
