interactions:
- request:
    body: "--944600353d4f365c59949a7481d4241c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--944600353d4f365c59949a7481d4241c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--944600353d4f365c59949a7481d4241c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=944600353d4f365c59949a7481d4241c
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"f7cb28db-8484-4e96-b658-a5abdac47ad8","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/f7cb28db-8484-4e96-b658-a5abdac47ad8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"f7cb28db-8484-4e96-b658-a5abdac47ad8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f7cb28db-8484-4e96-b658-a5abdac47ad8"},"submission":"2026-09-20T03:29:01.418Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/f7cb28db-8484-4e96-b658-a5abdac47ad8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:50:39.843Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-09-20T03:50:40.886Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:50:39.843Z","id":"f7cb28db-8484-4e96-b658-a5abdac47ad8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f7cb28db-8484-4e96-b658-a5abdac47ad8"},"submission":"2026-09-20T03:29:01.418Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/f7cb28db-8484-4e96-b658-a5abdac47ad8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:50:39.843Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8/call-create_files/execution/stdout","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-09-20T03:50:40.886Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:50:39.843Z","id":"f7cb28db-8484-4e96-b658-a5abdac47ad8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f7cb28db-8484-4e96-b658-a5abdac47ad8"},"submission":"2026-09-20T03:29:01.418Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/f7cb28db-8484-4e96-b658-a5abdac47ad8/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:50:39.843Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"8627554","backend":"gizmo","attempt":1,"start":"2026-09-20T03:50:40.886Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/f7cb28db-8484-4e96-b658-a5abdac47ad8","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:50:39.843Z","id":"f7cb28db-8484-4e96-b658-a5abdac47ad8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f7cb28db-8484-4e96-b658-a5abdac47ad8"},"submission":"2026-09-20T03:29:01.418Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
