interactions:
- request:
    body: "--65b45eadaed8690aafdfc5d0b4a664e5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--65b45eadaed8690aafdfc5d0b4a664e5\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--65b45eadaed8690aafdfc5d0b4a664e5--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=65b45eadaed8690aafdfc5d0b4a664e5
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"41c0c3c7-3a9e-414c-bf8a-282083b4b5cd","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/41c0c3c7-3a9e-414c-bf8a-282083b4b5cd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"41c0c3c7-3a9e-414c-bf8a-282083b4b5cd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-41c0c3c7-3a9e-414c-bf8a-282083b4b5cd"},"submission":"2025-06-01T03:39:46.469Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/41c0c3c7-3a9e-414c-bf8a-282083b4b5cd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-46fd75b","description":"PickedUp","timestamp":"2025-06-01T03:53:47.368Z","cromwellVersion":"87"},{"cromwellId":"cromid-46fd75b","description":"Finished","timestamp":"2025-06-01T03:53:47.377Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-06-01T03:53:47.377Z","start":"2025-06-01T03:53:47.368Z","id":"41c0c3c7-3a9e-414c-bf8a-282083b4b5cd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-41c0c3c7-3a9e-414c-bf8a-282083b4b5cd"},"submission":"2025-06-01T03:39:46.469Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
