interactions:
- request:
    body: "--b06d7502a27968a644683f8c94cf7157\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--b06d7502a27968a644683f8c94cf7157\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b06d7502a27968a644683f8c94cf7157--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=b06d7502a27968a644683f8c94cf7157
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"490ba276-2850-4c4a-be89-fc5df0a02f4e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/490ba276-2850-4c4a-be89-fc5df0a02f4e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"490ba276-2850-4c4a-be89-fc5df0a02f4e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-490ba276-2850-4c4a-be89-fc5df0a02f4e"},"submission":"2025-12-08T17:07:11.056Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/490ba276-2850-4c4a-be89-fc5df0a02f4e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:15:33.077Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-12-08T17:15:34.125Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-08T17:15:33.078Z","id":"490ba276-2850-4c4a-be89-fc5df0a02f4e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-490ba276-2850-4c4a-be89-fc5df0a02f4e"},"submission":"2025-12-08T17:07:11.056Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/490ba276-2850-4c4a-be89-fc5df0a02f4e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:15:33.077Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-12-08T17:15:34.125Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-08T17:15:33.078Z","id":"490ba276-2850-4c4a-be89-fc5df0a02f4e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-490ba276-2850-4c4a-be89-fc5df0a02f4e"},"submission":"2025-12-08T17:07:11.056Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/490ba276-2850-4c4a-be89-fc5df0a02f4e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:15:33.077Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"43231581","backend":"gizmo","attempt":1,"start":"2025-12-08T17:15:34.125Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-08T17:15:33.078Z","id":"490ba276-2850-4c4a-be89-fc5df0a02f4e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-490ba276-2850-4c4a-be89-fc5df0a02f4e"},"submission":"2025-12-08T17:07:11.056Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/490ba276-2850-4c4a-be89-fc5df0a02f4e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:15:33.077Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"43231581","backend":"gizmo","end":"2025-12-08T17:16:15.712Z","start":"2025-12-08T17:15:34.125Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-12-08T17:15:34.125Z","description":"Pending","endTime":"2025-12-08T17:15:34.125Z"},{"startTime":"2025-12-08T17:15:42.006Z","description":"PreparingJob","endTime":"2025-12-08T17:15:42.014Z"},{"startTime":"2025-12-08T17:15:34.125Z","description":"RequestingExecutionToken","endTime":"2025-12-08T17:15:42.006Z"},{"startTime":"2025-12-08T17:16:15.152Z","description":"UpdatingJobStore","endTime":"2025-12-08T17:16:15.712Z"},{"startTime":"2025-12-08T17:15:42.014Z","description":"RunningJob","endTime":"2025-12-08T17:16:15.152Z"},{"startTime":"2025-12-08T17:15:42.006Z","description":"WaitingForValueStore","endTime":"2025-12-08T17:15:42.006Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/490ba276-2850-4c4a-be89-fc5df0a02f4e","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-08T17:15:33.078Z","id":"490ba276-2850-4c4a-be89-fc5df0a02f4e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-490ba276-2850-4c4a-be89-fc5df0a02f4e"},"submission":"2025-12-08T17:07:11.056Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
