interactions:
- request:
    body: "--b4295196fc3caa5eca525b0c479f2fa8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--b4295196fc3caa5eca525b0c479f2fa8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b4295196fc3caa5eca525b0c479f2fa8--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b4295196fc3caa5eca525b0c479f2fa8
    method: POST
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1
  response:
    body:
      string: '{"id":"13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-13cf5d1b-8c54-4b44-b17e-7880ec3a06e7"},"submission":"2025-08-11T18:39:55.740Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-20c7f37","description":"PickedUp","timestamp":"2025-08-11T19:02:15.842Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-08-11T19:02:16.885Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-11T19:02:15.842Z","id":"13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-13cf5d1b-8c54-4b44-b17e-7880ec3a06e7"},"submission":"2025-08-11T18:39:55.740Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-20c7f37","description":"PickedUp","timestamp":"2025-08-11T19:02:15.842Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-08-11T19:02:16.885Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-11T19:02:15.842Z","id":"13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-13cf5d1b-8c54-4b44-b17e-7880ec3a06e7"},"submission":"2025-08-11T18:39:55.740Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-20c7f37","description":"PickedUp","timestamp":"2025-08-11T19:02:15.842Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"29236803","backend":"gizmo","attempt":1,"start":"2025-08-11T19:02:16.885Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-11T19:02:15.842Z","id":"13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-13cf5d1b-8c54-4b44-b17e-7880ec3a06e7"},"submission":"2025-08-11T18:39:55.740Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-20c7f37","description":"PickedUp","timestamp":"2025-08-11T19:02:15.842Z","cromwellVersion":"87"},{"cromwellId":"cromid-20c7f37","description":"Finished","timestamp":"2025-08-11T19:04:05.004Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"29236803","backend":"gizmo","end":"2025-08-11T19:04:03.667Z","start":"2025-08-11T19:02:16.885Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-08-11T19:04:03.379Z","description":"UpdatingJobStore","endTime":"2025-08-11T19:04:03.667Z"},{"startTime":"2025-08-11T19:02:16.885Z","description":"Pending","endTime":"2025-08-11T19:02:16.885Z"},{"startTime":"2025-08-11T19:02:16.885Z","description":"RequestingExecutionToken","endTime":"2025-08-11T19:02:20.942Z"},{"startTime":"2025-08-11T19:02:20.942Z","description":"WaitingForValueStore","endTime":"2025-08-11T19:02:20.942Z"},{"startTime":"2025-08-11T19:02:20.942Z","description":"PreparingJob","endTime":"2025-08-11T19:02:20.952Z"},{"startTime":"2025-08-11T19:02:20.952Z","description":"RunningJob","endTime":"2025-08-11T19:04:03.379Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-08-11T19:04:05.004Z","start":"2025-08-11T19:02:15.842Z","id":"13cf5d1b-8c54-4b44-b17e-7880ec3a06e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-13cf5d1b-8c54-4b44-b17e-7880ec3a06e7"},"submission":"2025-08-11T18:39:55.740Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
