interactions:
- request:
    body: "--ebe7322f15f4df8c27f7f4cff9406d99\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSymlink.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n
      \       Array[File] matched_files = flatten([create_nested_files.matched_files_top,
      create_nested_files.matched_files_nested])\n        Array[File] symlink_matches
      = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
      {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\" >
      subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
      Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
      symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File]
      matched_symlinks = glob(\"symlinks/*.txt\")\n    }\n}\n\r\n--ebe7322f15f4df8c27f7f4cff9406d99\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ebe7322f15f4df8c27f7f4cff9406d99--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=ebe7322f15f4df8c27f7f4cff9406d99
    method: POST
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1
  response:
    body:
      string: '{"id":"08ccdb75-c4de-4837-a2e2-dc2196eb6133","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/08ccdb75-c4de-4837-a2e2-dc2196eb6133/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globSymlink
        {\n    call create_nested_files\n    output {\n        Array[File] matched_files
        = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"08ccdb75-c4de-4837-a2e2-dc2196eb6133","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-08ccdb75-c4de-4837-a2e2-dc2196eb6133"},"submission":"2025-07-13T03:39:44.112Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/08ccdb75-c4de-4837-a2e2-dc2196eb6133/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSymlink","workflowProcessingEvents":[{"cromwellId":"cromid-3de736f","description":"PickedUp","timestamp":"2025-07-13T04:02:59.404Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSymlink.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-07-13T04:03:00.447Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSymlink/08ccdb75-c4de-4837-a2e2-dc2196eb6133","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-13T04:02:59.404Z","id":"08ccdb75-c4de-4837-a2e2-dc2196eb6133","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-08ccdb75-c4de-4837-a2e2-dc2196eb6133"},"submission":"2025-07-13T03:39:44.112Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
