interactions:
- request:
    body: "--e32b9a725fa8ad85b9e769dc8a0df687\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--e32b9a725fa8ad85b9e769dc8a0df687\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e32b9a725fa8ad85b9e769dc8a0df687--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e32b9a725fa8ad85b9e769dc8a0df687
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"852a0368-b0d3-4993-a7b2-2f45f65f957e","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/852a0368-b0d3-4993-a7b2-2f45f65f957e/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 852a0368-b0d3-4993-a7b2-2f45f65f957e\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/852a0368-b0d3-4993-a7b2-2f45f65f957e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"852a0368-b0d3-4993-a7b2-2f45f65f957e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-852a0368-b0d3-4993-a7b2-2f45f65f957e"},"submission":"2026-09-06T03:24:20.627Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
