interactions:
- request:
    body: "--0c6056af10102988ca1133467d5c858d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--0c6056af10102988ca1133467d5c858d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0c6056af10102988ca1133467d5c858d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0c6056af10102988ca1133467d5c858d
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"e7abd283-0db7-41e1-ae57-aaf93c5394d4","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e7abd283-0db7-41e1-ae57-aaf93c5394d4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"e7abd283-0db7-41e1-ae57-aaf93c5394d4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7abd283-0db7-41e1-ae57-aaf93c5394d4"},"submission":"2026-07-05T04:31:07.404Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e7abd283-0db7-41e1-ae57-aaf93c5394d4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4480884","description":"PickedUp","timestamp":"2026-07-05T04:33:47.650Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-07-05T04:33:48.705Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-05T04:33:47.651Z","id":"e7abd283-0db7-41e1-ae57-aaf93c5394d4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7abd283-0db7-41e1-ae57-aaf93c5394d4"},"submission":"2026-07-05T04:31:07.404Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e7abd283-0db7-41e1-ae57-aaf93c5394d4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4480884","description":"PickedUp","timestamp":"2026-07-05T04:33:47.650Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-07-05T04:33:48.705Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-05T04:33:47.651Z","id":"e7abd283-0db7-41e1-ae57-aaf93c5394d4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7abd283-0db7-41e1-ae57-aaf93c5394d4"},"submission":"2026-07-05T04:31:07.404Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e7abd283-0db7-41e1-ae57-aaf93c5394d4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4480884","description":"PickedUp","timestamp":"2026-07-05T04:33:47.650Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"54308928","backend":"gizmo","attempt":1,"start":"2026-07-05T04:33:48.705Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-05T04:33:47.651Z","id":"e7abd283-0db7-41e1-ae57-aaf93c5394d4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7abd283-0db7-41e1-ae57-aaf93c5394d4"},"submission":"2026-07-05T04:31:07.404Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e7abd283-0db7-41e1-ae57-aaf93c5394d4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4480884","description":"PickedUp","timestamp":"2026-07-05T04:33:47.650Z","cromwellVersion":"87"},{"cromwellId":"cromid-4480884","description":"Finished","timestamp":"2026-07-05T04:34:37.668Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"54308928","backend":"gizmo","end":"2026-07-05T04:34:36.595Z","start":"2026-07-05T04:33:48.705Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-07-05T04:33:56.653Z","description":"WaitingForValueStore","endTime":"2026-07-05T04:33:56.654Z"},{"startTime":"2026-07-05T04:33:56.654Z","description":"PreparingJob","endTime":"2026-07-05T04:33:56.666Z"},{"startTime":"2026-07-05T04:33:48.705Z","description":"Pending","endTime":"2026-07-05T04:33:48.705Z"},{"startTime":"2026-07-05T04:33:48.705Z","description":"RequestingExecutionToken","endTime":"2026-07-05T04:33:56.653Z"},{"startTime":"2026-07-05T04:33:56.666Z","description":"RunningJob","endTime":"2026-07-05T04:34:35.672Z"},{"startTime":"2026-07-05T04:34:35.672Z","description":"UpdatingJobStore","endTime":"2026-07-05T04:34:36.595Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7abd283-0db7-41e1-ae57-aaf93c5394d4","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-07-05T04:34:37.668Z","start":"2026-07-05T04:33:47.651Z","id":"e7abd283-0db7-41e1-ae57-aaf93c5394d4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7abd283-0db7-41e1-ae57-aaf93c5394d4"},"submission":"2026-07-05T04:31:07.404Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
