interactions:
- request:
    body: "--e912370f27fde6596dd410bdf1deeedd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--e912370f27fde6596dd410bdf1deeedd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e912370f27fde6596dd410bdf1deeedd--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e912370f27fde6596dd410bdf1deeedd
    method: POST
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1
  response:
    body:
      string: '{"id":"6fce8ef4-f01e-4732-ba1a-9baf58430586","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/6fce8ef4-f01e-4732-ba1a-9baf58430586/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"6fce8ef4-f01e-4732-ba1a-9baf58430586","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fce8ef4-f01e-4732-ba1a-9baf58430586"},"submission":"2026-02-01T04:03:58.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/6fce8ef4-f01e-4732-ba1a-9baf58430586/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:07:37.126Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-02-01T04:07:38.179Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-01T04:07:37.127Z","id":"6fce8ef4-f01e-4732-ba1a-9baf58430586","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fce8ef4-f01e-4732-ba1a-9baf58430586"},"submission":"2026-02-01T04:03:58.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/6fce8ef4-f01e-4732-ba1a-9baf58430586/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:07:37.126Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-02-01T04:07:38.179Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-01T04:07:37.127Z","id":"6fce8ef4-f01e-4732-ba1a-9baf58430586","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fce8ef4-f01e-4732-ba1a-9baf58430586"},"submission":"2026-02-01T04:03:58.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/6fce8ef4-f01e-4732-ba1a-9baf58430586/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:07:37.126Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"45857322","backend":"gizmo","attempt":1,"start":"2026-02-01T04:07:38.179Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-01T04:07:37.127Z","id":"6fce8ef4-f01e-4732-ba1a-9baf58430586","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fce8ef4-f01e-4732-ba1a-9baf58430586"},"submission":"2026-02-01T04:03:58.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/6fce8ef4-f01e-4732-ba1a-9baf58430586/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"Finished","timestamp":"2026-02-01T04:08:18.979Z","cromwellVersion":"87"},{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:07:37.126Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"45857322","backend":"gizmo","end":"2026-02-01T04:08:17.622Z","start":"2026-02-01T04:07:38.179Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-02-01T04:07:40.967Z","description":"PreparingJob","endTime":"2026-02-01T04:07:40.982Z"},{"startTime":"2026-02-01T04:07:38.179Z","description":"RequestingExecutionToken","endTime":"2026-02-01T04:07:40.967Z"},{"startTime":"2026-02-01T04:07:40.982Z","description":"RunningJob","endTime":"2026-02-01T04:08:16.980Z"},{"startTime":"2026-02-01T04:08:16.980Z","description":"UpdatingJobStore","endTime":"2026-02-01T04:08:17.622Z"},{"startTime":"2026-02-01T04:07:40.967Z","description":"WaitingForValueStore","endTime":"2026-02-01T04:07:40.967Z"},{"startTime":"2026-02-01T04:07:38.179Z","description":"Pending","endTime":"2026-02-01T04:07:38.179Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/6fce8ef4-f01e-4732-ba1a-9baf58430586","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-02-01T04:08:18.979Z","start":"2026-02-01T04:07:37.127Z","id":"6fce8ef4-f01e-4732-ba1a-9baf58430586","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fce8ef4-f01e-4732-ba1a-9baf58430586"},"submission":"2026-02-01T04:03:58.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
