interactions:
- request:
    body: "--06741e71ac2049b42c6a4b4143bc9cb2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--06741e71ac2049b42c6a4b4143bc9cb2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--06741e71ac2049b42c6a4b4143bc9cb2--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=06741e71ac2049b42c6a4b4143bc9cb2
    method: POST
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1
  response:
    body:
      string: '{"id":"f47c86a8-a4a0-410f-9019-a98c929b5b86","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/f47c86a8-a4a0-410f-9019-a98c929b5b86/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"f47c86a8-a4a0-410f-9019-a98c929b5b86","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f47c86a8-a4a0-410f-9019-a98c929b5b86"},"submission":"2025-08-24T03:41:35.539Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/f47c86a8-a4a0-410f-9019-a98c929b5b86/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T04:00:12.887Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-08-24T04:00:13.959Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-24T04:00:12.887Z","id":"f47c86a8-a4a0-410f-9019-a98c929b5b86","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f47c86a8-a4a0-410f-9019-a98c929b5b86"},"submission":"2025-08-24T03:41:35.539Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/f47c86a8-a4a0-410f-9019-a98c929b5b86/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T04:00:12.887Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-08-24T04:00:13.959Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-24T04:00:12.887Z","id":"f47c86a8-a4a0-410f-9019-a98c929b5b86","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f47c86a8-a4a0-410f-9019-a98c929b5b86"},"submission":"2025-08-24T03:41:35.539Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/f47c86a8-a4a0-410f-9019-a98c929b5b86/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T04:00:12.887Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"29796414","backend":"gizmo","attempt":1,"start":"2025-08-24T04:00:13.959Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-24T04:00:12.887Z","id":"f47c86a8-a4a0-410f-9019-a98c929b5b86","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f47c86a8-a4a0-410f-9019-a98c929b5b86"},"submission":"2025-08-24T03:41:35.539Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/f47c86a8-a4a0-410f-9019-a98c929b5b86/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T04:00:12.887Z","cromwellVersion":"87"},{"cromwellId":"cromid-cc7e86b","description":"Finished","timestamp":"2025-08-24T04:00:56.799Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"29796414","backend":"gizmo","end":"2025-08-24T04:00:54.861Z","start":"2025-08-24T04:00:13.959Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-08-24T04:00:53.930Z","description":"UpdatingJobStore","endTime":"2025-08-24T04:00:54.861Z"},{"startTime":"2025-08-24T04:00:13.959Z","description":"Pending","endTime":"2025-08-24T04:00:13.959Z"},{"startTime":"2025-08-24T04:00:20.117Z","description":"WaitingForValueStore","endTime":"2025-08-24T04:00:20.117Z"},{"startTime":"2025-08-24T04:00:20.125Z","description":"RunningJob","endTime":"2025-08-24T04:00:53.930Z"},{"startTime":"2025-08-24T04:00:20.117Z","description":"PreparingJob","endTime":"2025-08-24T04:00:20.125Z"},{"startTime":"2025-08-24T04:00:13.959Z","description":"RequestingExecutionToken","endTime":"2025-08-24T04:00:20.117Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f47c86a8-a4a0-410f-9019-a98c929b5b86","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-08-24T04:00:56.799Z","start":"2025-08-24T04:00:12.887Z","id":"f47c86a8-a4a0-410f-9019-a98c929b5b86","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f47c86a8-a4a0-410f-9019-a98c929b5b86"},"submission":"2025-08-24T03:41:35.539Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
