interactions:
- request:
    body: "--3b99fb7bbcb643652833dec582c2a9e9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--3b99fb7bbcb643652833dec582c2a9e9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3b99fb7bbcb643652833dec582c2a9e9--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=3b99fb7bbcb643652833dec582c2a9e9
    method: POST
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1
  response:
    body:
      string: '{"id":"fefa11a5-73e1-4321-92f5-4bcdf8267f61","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/fefa11a5-73e1-4321-92f5-4bcdf8267f61/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: fefa11a5-73e1-4321-92f5-4bcdf8267f61\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/fefa11a5-73e1-4321-92f5-4bcdf8267f61/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"fefa11a5-73e1-4321-92f5-4bcdf8267f61","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fefa11a5-73e1-4321-92f5-4bcdf8267f61"},"submission":"2026-01-18T03:40:38.771Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
