interactions:
- request:
    body: "--42a1921d13ac8693e02d7cf2c5d12767\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--42a1921d13ac8693e02d7cf2c5d12767\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--42a1921d13ac8693e02d7cf2c5d12767--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=42a1921d13ac8693e02d7cf2c5d12767
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"e20d1396-2509-44fa-a93a-60eb79e21e08","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/e20d1396-2509-44fa-a93a-60eb79e21e08/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"e20d1396-2509-44fa-a93a-60eb79e21e08","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e20d1396-2509-44fa-a93a-60eb79e21e08"},"submission":"2026-04-13T17:00:30.911Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/e20d1396-2509-44fa-a93a-60eb79e21e08/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:07:20.260Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-04-13T17:07:21.310Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:07:20.261Z","id":"e20d1396-2509-44fa-a93a-60eb79e21e08","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e20d1396-2509-44fa-a93a-60eb79e21e08"},"submission":"2026-04-13T17:00:30.911Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/e20d1396-2509-44fa-a93a-60eb79e21e08/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:07:20.260Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08/call-create_nested_files/execution/stdout","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-04-13T17:07:21.310Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08/call-create_nested_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:07:20.261Z","id":"e20d1396-2509-44fa-a93a-60eb79e21e08","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e20d1396-2509-44fa-a93a-60eb79e21e08"},"submission":"2026-04-13T17:00:30.911Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/e20d1396-2509-44fa-a93a-60eb79e21e08/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:07:20.260Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08/call-create_nested_files/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"outputs":{"matched_files_top":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt"],"matched_files_nested":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"51042950","backend":"gizmo","end":"2026-04-13T17:08:01.644Z","start":"2026-04-13T17:07:21.310Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08/call-create_nested_files","attempt":1,"executionEvents":[{"startTime":"2026-04-13T17:07:27.948Z","description":"WaitingForValueStore","endTime":"2026-04-13T17:07:27.948Z"},{"startTime":"2026-04-13T17:07:21.310Z","description":"Pending","endTime":"2026-04-13T17:07:21.310Z"},{"startTime":"2026-04-13T17:07:21.310Z","description":"RequestingExecutionToken","endTime":"2026-04-13T17:07:27.948Z"},{"startTime":"2026-04-13T17:07:27.948Z","description":"PreparingJob","endTime":"2026-04-13T17:07:27.956Z"},{"startTime":"2026-04-13T17:08:01.579Z","description":"UpdatingJobStore","endTime":"2026-04-13T17:08:01.644Z"},{"startTime":"2026-04-13T17:07:27.956Z","description":"RunningJob","endTime":"2026-04-13T17:08:01.579Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e20d1396-2509-44fa-a93a-60eb79e21e08","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:07:20.261Z","id":"e20d1396-2509-44fa-a93a-60eb79e21e08","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e20d1396-2509-44fa-a93a-60eb79e21e08"},"submission":"2026-04-13T17:00:30.911Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
