interactions:
- request:
    body: "--59c7c97e1ade357bc46cb77b9afa71ba\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--59c7c97e1ade357bc46cb77b9afa71ba\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--59c7c97e1ade357bc46cb77b9afa71ba--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=59c7c97e1ade357bc46cb77b9afa71ba
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"296dc9c9-8e98-47ef-bb7f-53c6c8a33483","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"296dc9c9-8e98-47ef-bb7f-53c6c8a33483","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-296dc9c9-8e98-47ef-bb7f-53c6c8a33483"},"submission":"2026-08-09T03:42:18.138Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T04:04:09.052Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-08-09T04:04:10.103Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T04:04:09.052Z","id":"296dc9c9-8e98-47ef-bb7f-53c6c8a33483","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-296dc9c9-8e98-47ef-bb7f-53c6c8a33483"},"submission":"2026-08-09T03:42:18.138Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T04:04:09.052Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/call-create_nested_files/execution/stdout","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-08-09T04:04:10.103Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/call-create_nested_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T04:04:09.052Z","id":"296dc9c9-8e98-47ef-bb7f-53c6c8a33483","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-296dc9c9-8e98-47ef-bb7f-53c6c8a33483"},"submission":"2026-08-09T03:42:18.138Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T04:04:09.052Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/call-create_nested_files/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"outputs":{"matched_files_top":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt"],"matched_files_nested":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"62600909","backend":"gizmo","end":"2026-08-09T04:04:49.865Z","start":"2026-08-09T04:04:10.103Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483/call-create_nested_files","attempt":1,"executionEvents":[{"startTime":"2026-08-09T04:04:16.437Z","description":"RunningJob","endTime":"2026-08-09T04:04:48.880Z"},{"startTime":"2026-08-09T04:04:16.430Z","description":"PreparingJob","endTime":"2026-08-09T04:04:16.437Z"},{"startTime":"2026-08-09T04:04:48.880Z","description":"UpdatingJobStore","endTime":"2026-08-09T04:04:49.865Z"},{"startTime":"2026-08-09T04:04:10.103Z","description":"Pending","endTime":"2026-08-09T04:04:10.103Z"},{"startTime":"2026-08-09T04:04:10.103Z","description":"RequestingExecutionToken","endTime":"2026-08-09T04:04:16.430Z"},{"startTime":"2026-08-09T04:04:16.430Z","description":"WaitingForValueStore","endTime":"2026-08-09T04:04:16.430Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/296dc9c9-8e98-47ef-bb7f-53c6c8a33483","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T04:04:09.052Z","id":"296dc9c9-8e98-47ef-bb7f-53c6c8a33483","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-296dc9c9-8e98-47ef-bb7f-53c6c8a33483"},"submission":"2026-08-09T03:42:18.138Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
