interactions:
- request:
    body: "--d60bcee10c24fae1be73d66508fb1f09\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--d60bcee10c24fae1be73d66508fb1f09\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d60bcee10c24fae1be73d66508fb1f09--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d60bcee10c24fae1be73d66508fb1f09
    method: POST
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1
  response:
    body:
      string: '{"id":"fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fce3e6d8-96d1-404a-b8a7-0d2c7489e45f"},"submission":"2025-09-28T03:28:12.680Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-804f9aa","description":"PickedUp","timestamp":"2025-09-28T03:51:31.011Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-09-28T03:51:32.054Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-28T03:51:31.012Z","id":"fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fce3e6d8-96d1-404a-b8a7-0d2c7489e45f"},"submission":"2025-09-28T03:28:12.680Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-804f9aa","description":"PickedUp","timestamp":"2025-09-28T03:51:31.011Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-09-28T03:51:32.054Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-28T03:51:31.012Z","id":"fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fce3e6d8-96d1-404a-b8a7-0d2c7489e45f"},"submission":"2025-09-28T03:28:12.680Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-804f9aa","description":"PickedUp","timestamp":"2025-09-28T03:51:31.011Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"35381195","backend":"gizmo","attempt":1,"start":"2025-09-28T03:51:32.054Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-28T03:51:31.012Z","id":"fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fce3e6d8-96d1-404a-b8a7-0d2c7489e45f"},"submission":"2025-09-28T03:28:12.680Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-804f9aa","description":"PickedUp","timestamp":"2025-09-28T03:51:31.011Z","cromwellVersion":"87"},{"cromwellId":"cromid-804f9aa","description":"Finished","timestamp":"2025-09-28T03:53:18.134Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"35381195","backend":"gizmo","end":"2025-09-28T03:53:17.017Z","start":"2025-09-28T03:51:32.054Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-09-28T03:51:41.253Z","description":"WaitingForValueStore","endTime":"2025-09-28T03:51:41.253Z"},{"startTime":"2025-09-28T03:51:32.055Z","description":"Pending","endTime":"2025-09-28T03:51:32.055Z"},{"startTime":"2025-09-28T03:51:41.263Z","description":"RunningJob","endTime":"2025-09-28T03:53:16.308Z"},{"startTime":"2025-09-28T03:51:41.253Z","description":"PreparingJob","endTime":"2025-09-28T03:51:41.263Z"},{"startTime":"2025-09-28T03:51:32.055Z","description":"RequestingExecutionToken","endTime":"2025-09-28T03:51:41.253Z"},{"startTime":"2025-09-28T03:53:16.308Z","description":"UpdatingJobStore","endTime":"2025-09-28T03:53:17.017Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-09-28T03:53:18.134Z","start":"2025-09-28T03:51:31.012Z","id":"fce3e6d8-96d1-404a-b8a7-0d2c7489e45f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fce3e6d8-96d1-404a-b8a7-0d2c7489e45f"},"submission":"2025-09-28T03:28:12.680Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
