interactions:
- request:
    body: "--36d868ae9d79768050b9017d17388544\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/4a5e76dc-f26c-4c80-8a2b-2c1fa421c8ec/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4a5e76dc-f26c-4c80-8a2b-2c1fa421c8ec\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/4a5e76dc-f26c-4c80-8a2b-2c1fa421c8ec/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow jsonFileLocalization
        {\n  input {\n    # Required inputs\n    File required_json_remote     # Remote
        JSON file\n    \n    # Optional inputs\n    File? optional_json_remote\n    File?
        optional_remote_not_provided\n  }\n\n  # Task to copy JSON files to the working
        directory\n  call CopyJsons {\n    input:\n      required_remote = required_json_remote,\n      optional_remote
        = optional_json_remote,\n      optional_remote_not_provided = optional_remote_not_provided\n  }\n\n  output
        {\n    Array[File] copied_files = CopyJsons.out_files\n  }\n}\n\ntask CopyJsons
        {\n  input {\n    File required_remote\n    File? optional_remote\n    File?
        optional_remote_not_provided\n  }\n\n  command <<<\n    set -e\n    mkdir
        -p copied_jsons\n    \n    # Copy the required local and remote files\n    cp
        ~{required_remote} copied_jsons/$(basename ~{required_remote})\n    cp ~{optional_remote}
        copied_jsons/$(basename ~{optional_remote})\n    cp ~{optional_remote_not_provided}
        copied_jsons/$(basename ~{optional_remote_not_provided})\n    \n  >>>\n\n  output
        {\n    Array[File] out_files = glob(\"copied_jsons/*\")\n  }\n\n  runtime
        {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{\"jsonFileLocalization.optional_json_remote\":\"/redacted/_DaSL/proof_testing/jsonFilelocalization/local_remote_optional_file_2.txt\",\"jsonFileLocalization.required_json_remote\":\"/redacted/_DaSL/proof_testing/jsonFilelocalization/local_remote_required_file_2.txt\"}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"4a5e76dc-f26c-4c80-8a2b-2c1fa421c8ec","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4a5e76dc-f26c-4c80-8a2b-2c1fa421c8ec"},"submission":"2026-10-04T04:26:41.901Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
