interactions:
- request:
    body: "--71dcc3ea7efbddfb3cad235eb17a8cd5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--71dcc3ea7efbddfb3cad235eb17a8cd5\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--71dcc3ea7efbddfb3cad235eb17a8cd5--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=71dcc3ea7efbddfb3cad235eb17a8cd5
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"726e27f2-949a-4e08-8e5a-470f2d10d133","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/726e27f2-949a-4e08-8e5a-470f2d10d133/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"726e27f2-949a-4e08-8e5a-470f2d10d133","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-726e27f2-949a-4e08-8e5a-470f2d10d133"},"submission":"2026-09-20T03:29:27.742Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/726e27f2-949a-4e08-8e5a-470f2d10d133/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:50:59.865Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-09-20T03:51:00.907Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:50:59.866Z","id":"726e27f2-949a-4e08-8e5a-470f2d10d133","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-726e27f2-949a-4e08-8e5a-470f2d10d133"},"submission":"2026-09-20T03:29:27.742Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/726e27f2-949a-4e08-8e5a-470f2d10d133/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:50:59.865Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133/call-generate_diverse_outputs/execution/stdout","commandLine":"#
        Create a symlink\necho \"original\" > original.txt\nln -s original.txt link.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:noble-20241118.1","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"effectiveCallCachingMode":"CallCachingOff","allowResultReuse":false},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-09-20T03:51:00.907Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133/call-generate_diverse_outputs/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133/call-generate_diverse_outputs"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:50:59.866Z","id":"726e27f2-949a-4e08-8e5a-470f2d10d133","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-726e27f2-949a-4e08-8e5a-470f2d10d133"},"submission":"2026-09-20T03:29:27.742Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/726e27f2-949a-4e08-8e5a-470f2d10d133/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:50:59.865Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133/call-generate_diverse_outputs/execution/stdout","backendStatus":"Running","commandLine":"#
        Create a symlink\necho \"original\" > original.txt\nln -s original.txt link.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:noble-20241118.1","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"effectiveCallCachingMode":"CallCachingOff","allowResultReuse":false},"inputs":{},"jobId":"8627555","backend":"gizmo","attempt":1,"start":"2026-09-20T03:51:00.907Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133/call-generate_diverse_outputs/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133/call-generate_diverse_outputs"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/726e27f2-949a-4e08-8e5a-470f2d10d133","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:50:59.866Z","id":"726e27f2-949a-4e08-8e5a-470f2d10d133","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-726e27f2-949a-4e08-8e5a-470f2d10d133"},"submission":"2026-09-20T03:29:27.742Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
