interactions:
- request:
    body: "--5f315e3de58999cc7c559989d8d34cba\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--5f315e3de58999cc7c559989d8d34cba\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5f315e3de58999cc7c559989d8d34cba--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=5f315e3de58999cc7c559989d8d34cba
    method: POST
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1
  response:
    body:
      string: '{"id":"280bb7b5-c33d-4ba8-aefb-6d412df67c75","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/280bb7b5-c33d-4ba8-aefb-6d412df67c75/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"280bb7b5-c33d-4ba8-aefb-6d412df67c75","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-280bb7b5-c33d-4ba8-aefb-6d412df67c75"},"submission":"2025-12-28T03:42:00.546Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/280bb7b5-c33d-4ba8-aefb-6d412df67c75/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f3b37e6","description":"PickedUp","timestamp":"2025-12-28T03:45:02.223Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-12-28T03:45:03.274Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-28T03:45:02.227Z","id":"280bb7b5-c33d-4ba8-aefb-6d412df67c75","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-280bb7b5-c33d-4ba8-aefb-6d412df67c75"},"submission":"2025-12-28T03:42:00.546Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/280bb7b5-c33d-4ba8-aefb-6d412df67c75/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f3b37e6","description":"PickedUp","timestamp":"2025-12-28T03:45:02.223Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-12-28T03:45:03.274Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-28T03:45:02.227Z","id":"280bb7b5-c33d-4ba8-aefb-6d412df67c75","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-280bb7b5-c33d-4ba8-aefb-6d412df67c75"},"submission":"2025-12-28T03:42:00.546Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/280bb7b5-c33d-4ba8-aefb-6d412df67c75/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f3b37e6","description":"PickedUp","timestamp":"2025-12-28T03:45:02.223Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"43978051","backend":"gizmo","attempt":1,"start":"2025-12-28T03:45:03.274Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-28T03:45:02.227Z","id":"280bb7b5-c33d-4ba8-aefb-6d412df67c75","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-280bb7b5-c33d-4ba8-aefb-6d412df67c75"},"submission":"2025-12-28T03:42:00.546Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/280bb7b5-c33d-4ba8-aefb-6d412df67c75/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f3b37e6","description":"PickedUp","timestamp":"2025-12-28T03:45:02.223Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"43978051","backend":"gizmo","end":"2025-12-28T03:45:50.276Z","start":"2025-12-28T03:45:03.274Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-12-28T03:45:11.612Z","description":"PreparingJob","endTime":"2025-12-28T03:45:11.626Z"},{"startTime":"2025-12-28T03:45:49.526Z","description":"UpdatingJobStore","endTime":"2025-12-28T03:45:50.276Z"},{"startTime":"2025-12-28T03:45:03.274Z","description":"Pending","endTime":"2025-12-28T03:45:03.274Z"},{"startTime":"2025-12-28T03:45:11.612Z","description":"WaitingForValueStore","endTime":"2025-12-28T03:45:11.612Z"},{"startTime":"2025-12-28T03:45:11.626Z","description":"RunningJob","endTime":"2025-12-28T03:45:49.526Z"},{"startTime":"2025-12-28T03:45:03.274Z","description":"RequestingExecutionToken","endTime":"2025-12-28T03:45:11.612Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/280bb7b5-c33d-4ba8-aefb-6d412df67c75","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-28T03:45:02.227Z","id":"280bb7b5-c33d-4ba8-aefb-6d412df67c75","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-280bb7b5-c33d-4ba8-aefb-6d412df67c75"},"submission":"2025-12-28T03:42:00.546Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
