interactions:
- request:
    body: "--dab7b03c4ec147f882acc9eb89f1aa8c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--dab7b03c4ec147f882acc9eb89f1aa8c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--dab7b03c4ec147f882acc9eb89f1aa8c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=dab7b03c4ec147f882acc9eb89f1aa8c
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"0f52ecc2-927a-4af1-8982-1d31da7ff4ea","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"0f52ecc2-927a-4af1-8982-1d31da7ff4ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0f52ecc2-927a-4af1-8982-1d31da7ff4ea"},"submission":"2026-08-30T03:24:17.095Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-1afef60","description":"PickedUp","timestamp":"2026-08-30T03:26:24.780Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-08-30T03:26:25.839Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-30T03:26:24.785Z","id":"0f52ecc2-927a-4af1-8982-1d31da7ff4ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0f52ecc2-927a-4af1-8982-1d31da7ff4ea"},"submission":"2026-08-30T03:24:17.095Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-1afef60","description":"PickedUp","timestamp":"2026-08-30T03:26:24.780Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-08-30T03:26:25.839Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-30T03:26:24.785Z","id":"0f52ecc2-927a-4af1-8982-1d31da7ff4ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0f52ecc2-927a-4af1-8982-1d31da7ff4ea"},"submission":"2026-08-30T03:24:17.095Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-1afef60","description":"PickedUp","timestamp":"2026-08-30T03:26:24.780Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"3525830","backend":"gizmo","attempt":1,"start":"2026-08-30T03:26:25.839Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-30T03:26:24.785Z","id":"0f52ecc2-927a-4af1-8982-1d31da7ff4ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0f52ecc2-927a-4af1-8982-1d31da7ff4ea"},"submission":"2026-08-30T03:24:17.095Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-1afef60","description":"Finished","timestamp":"2026-08-30T03:27:06.712Z","cromwellVersion":"87"},{"cromwellId":"cromid-1afef60","description":"PickedUp","timestamp":"2026-08-30T03:26:24.780Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"3525830","backend":"gizmo","end":"2026-08-30T03:27:04.942Z","start":"2026-08-30T03:26:25.839Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-08-30T03:27:04.625Z","description":"UpdatingJobStore","endTime":"2026-08-30T03:27:04.942Z"},{"startTime":"2026-08-30T03:26:34.276Z","description":"RunningJob","endTime":"2026-08-30T03:27:04.625Z"},{"startTime":"2026-08-30T03:26:34.267Z","description":"WaitingForValueStore","endTime":"2026-08-30T03:26:34.268Z"},{"startTime":"2026-08-30T03:26:25.839Z","description":"Pending","endTime":"2026-08-30T03:26:25.840Z"},{"startTime":"2026-08-30T03:26:25.840Z","description":"RequestingExecutionToken","endTime":"2026-08-30T03:26:34.267Z"},{"startTime":"2026-08-30T03:26:34.268Z","description":"PreparingJob","endTime":"2026-08-30T03:26:34.276Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0f52ecc2-927a-4af1-8982-1d31da7ff4ea","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-08-30T03:27:06.711Z","start":"2026-08-30T03:26:24.785Z","id":"0f52ecc2-927a-4af1-8982-1d31da7ff4ea","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0f52ecc2-927a-4af1-8982-1d31da7ff4ea"},"submission":"2026-08-30T03:24:17.095Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
