interactions:
- request:
    body: "--529ba2e8a53b065bc94c17b41611cc85\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--529ba2e8a53b065bc94c17b41611cc85\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--529ba2e8a53b065bc94c17b41611cc85--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=529ba2e8a53b065bc94c17b41611cc85
    method: POST
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1
  response:
    body:
      string: '{"id":"65d748ee-c057-47ec-9c0e-ae3fdccb2818","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/65d748ee-c057-47ec-9c0e-ae3fdccb2818/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"65d748ee-c057-47ec-9c0e-ae3fdccb2818","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-65d748ee-c057-47ec-9c0e-ae3fdccb2818"},"submission":"2025-10-19T03:34:34.198Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/65d748ee-c057-47ec-9c0e-ae3fdccb2818/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-071d4a8","description":"PickedUp","timestamp":"2025-10-19T03:57:05.552Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-10-19T03:57:06.594Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-19T03:57:05.552Z","id":"65d748ee-c057-47ec-9c0e-ae3fdccb2818","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-65d748ee-c057-47ec-9c0e-ae3fdccb2818"},"submission":"2025-10-19T03:34:34.198Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/65d748ee-c057-47ec-9c0e-ae3fdccb2818/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-071d4a8","description":"PickedUp","timestamp":"2025-10-19T03:57:05.552Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-10-19T03:57:06.594Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-19T03:57:05.552Z","id":"65d748ee-c057-47ec-9c0e-ae3fdccb2818","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-65d748ee-c057-47ec-9c0e-ae3fdccb2818"},"submission":"2025-10-19T03:34:34.198Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/65d748ee-c057-47ec-9c0e-ae3fdccb2818/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-071d4a8","description":"PickedUp","timestamp":"2025-10-19T03:57:05.552Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"39941580","backend":"gizmo","attempt":1,"start":"2025-10-19T03:57:06.594Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-19T03:57:05.552Z","id":"65d748ee-c057-47ec-9c0e-ae3fdccb2818","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-65d748ee-c057-47ec-9c0e-ae3fdccb2818"},"submission":"2025-10-19T03:34:34.198Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/65d748ee-c057-47ec-9c0e-ae3fdccb2818/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-071d4a8","description":"PickedUp","timestamp":"2025-10-19T03:57:05.552Z","cromwellVersion":"87"},{"cromwellId":"cromid-071d4a8","description":"Finished","timestamp":"2025-10-19T03:57:44.334Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"39941580","backend":"gizmo","end":"2025-10-19T03:57:42.506Z","start":"2025-10-19T03:57:06.594Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-10-19T03:57:42.004Z","description":"UpdatingJobStore","endTime":"2025-10-19T03:57:42.506Z"},{"startTime":"2025-10-19T03:57:06.594Z","description":"Pending","endTime":"2025-10-19T03:57:06.594Z"},{"startTime":"2025-10-19T03:57:07.800Z","description":"RunningJob","endTime":"2025-10-19T03:57:42.004Z"},{"startTime":"2025-10-19T03:57:07.792Z","description":"PreparingJob","endTime":"2025-10-19T03:57:07.800Z"},{"startTime":"2025-10-19T03:57:07.791Z","description":"WaitingForValueStore","endTime":"2025-10-19T03:57:07.792Z"},{"startTime":"2025-10-19T03:57:06.594Z","description":"RequestingExecutionToken","endTime":"2025-10-19T03:57:07.791Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/65d748ee-c057-47ec-9c0e-ae3fdccb2818","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-10-19T03:57:44.334Z","start":"2025-10-19T03:57:05.552Z","id":"65d748ee-c057-47ec-9c0e-ae3fdccb2818","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-65d748ee-c057-47ec-9c0e-ae3fdccb2818"},"submission":"2025-10-19T03:34:34.198Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
