interactions:
- request:
    body: "--d001573593229d75dee8b8a314439c6c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--d001573593229d75dee8b8a314439c6c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d001573593229d75dee8b8a314439c6c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d001573593229d75dee8b8a314439c6c
    method: POST
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1
  response:
    body:
      string: '{"id":"e32ba514-4688-4291-9628-b999d807e99f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/e32ba514-4688-4291-9628-b999d807e99f/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e32ba514-4688-4291-9628-b999d807e99f\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/e32ba514-4688-4291-9628-b999d807e99f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"e32ba514-4688-4291-9628-b999d807e99f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e32ba514-4688-4291-9628-b999d807e99f"},"submission":"2025-09-14T03:23:19.637Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
