interactions:
- request:
    body: "--bc2b03f13093400ae59c0743af392628\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--bc2b03f13093400ae59c0743af392628\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--bc2b03f13093400ae59c0743af392628--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=bc2b03f13093400ae59c0743af392628
    method: POST
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1
  response:
    body:
      string: '{"id":"b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f"},"submission":"2025-06-23T17:42:59.889Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-23T17:44:55.223Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-23T17:44:56.296Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-23T17:44:55.223Z","id":"b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f"},"submission":"2025-06-23T17:42:59.889Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-23T17:44:55.223Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-23T17:44:56.296Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-23T17:44:55.223Z","id":"b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f"},"submission":"2025-06-23T17:42:59.889Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-23T17:44:55.223Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"25545578","backend":"gizmo","attempt":1,"start":"2025-06-23T17:44:56.296Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-23T17:44:55.223Z","id":"b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f"},"submission":"2025-06-23T17:42:59.889Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-23T17:44:55.223Z","cromwellVersion":"87"},{"cromwellId":"cromid-17cb9df","description":"Finished","timestamp":"2025-06-23T17:45:42.186Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"25545578","backend":"gizmo","end":"2025-06-23T17:45:40.950Z","start":"2025-06-23T17:44:56.296Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-06-23T17:44:56.296Z","description":"Pending","endTime":"2025-06-23T17:44:56.296Z"},{"startTime":"2025-06-23T17:45:05.795Z","description":"PreparingJob","endTime":"2025-06-23T17:45:05.803Z"},{"startTime":"2025-06-23T17:44:56.296Z","description":"RequestingExecutionToken","endTime":"2025-06-23T17:45:05.795Z"},{"startTime":"2025-06-23T17:45:40.457Z","description":"UpdatingJobStore","endTime":"2025-06-23T17:45:40.950Z"},{"startTime":"2025-06-23T17:45:05.795Z","description":"WaitingForValueStore","endTime":"2025-06-23T17:45:05.795Z"},{"startTime":"2025-06-23T17:45:05.803Z","description":"RunningJob","endTime":"2025-06-23T17:45:40.457Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-23T17:45:42.186Z","start":"2025-06-23T17:44:55.223Z","id":"b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b7dcab29-2fd7-4f84-bcc1-5bf81477dc9f"},"submission":"2025-06-23T17:42:59.889Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
