interactions:
- request:
    body: "--9f5f4b3b1d24bf8198171be3ac186648\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--9f5f4b3b1d24bf8198171be3ac186648\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9f5f4b3b1d24bf8198171be3ac186648--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9f5f4b3b1d24bf8198171be3ac186648
    method: POST
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1
  response:
    body:
      string: '{"id":"01082c26-a269-43b6-a56b-e928fac81854","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/01082c26-a269-43b6-a56b-e928fac81854/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"01082c26-a269-43b6-a56b-e928fac81854","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-01082c26-a269-43b6-a56b-e928fac81854"},"submission":"2026-02-01T04:19:45.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/01082c26-a269-43b6-a56b-e928fac81854/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:45:40.026Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-01T04:45:40.026Z","id":"01082c26-a269-43b6-a56b-e928fac81854","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-01082c26-a269-43b6-a56b-e928fac81854"},"submission":"2026-02-01T04:19:45.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/01082c26-a269-43b6-a56b-e928fac81854/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:45:40.026Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-02-01T04:45:41.069Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-01T04:45:40.026Z","id":"01082c26-a269-43b6-a56b-e928fac81854","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-01082c26-a269-43b6-a56b-e928fac81854"},"submission":"2026-02-01T04:19:45.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/01082c26-a269-43b6-a56b-e928fac81854/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:45:40.026Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-02-01T04:45:41.069Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-01T04:45:40.026Z","id":"01082c26-a269-43b6-a56b-e928fac81854","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-01082c26-a269-43b6-a56b-e928fac81854"},"submission":"2026-02-01T04:19:45.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/01082c26-a269-43b6-a56b-e928fac81854/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:45:40.026Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"45857575","backend":"gizmo","attempt":1,"start":"2026-02-01T04:45:41.069Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-01T04:45:40.026Z","id":"01082c26-a269-43b6-a56b-e928fac81854","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-01082c26-a269-43b6-a56b-e928fac81854"},"submission":"2026-02-01T04:19:45.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/01082c26-a269-43b6-a56b-e928fac81854/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"Finished","timestamp":"2026-02-01T04:46:23.909Z","cromwellVersion":"87"},{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:45:40.026Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"45857575","backend":"gizmo","end":"2026-02-01T04:46:22.621Z","start":"2026-02-01T04:45:41.069Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-02-01T04:45:41.069Z","description":"RequestingExecutionToken","endTime":"2026-02-01T04:45:50.957Z"},{"startTime":"2026-02-01T04:45:50.957Z","description":"PreparingJob","endTime":"2026-02-01T04:45:50.964Z"},{"startTime":"2026-02-01T04:45:41.069Z","description":"Pending","endTime":"2026-02-01T04:45:41.069Z"},{"startTime":"2026-02-01T04:45:50.964Z","description":"RunningJob","endTime":"2026-02-01T04:46:21.990Z"},{"startTime":"2026-02-01T04:45:50.957Z","description":"WaitingForValueStore","endTime":"2026-02-01T04:45:50.957Z"},{"startTime":"2026-02-01T04:46:21.990Z","description":"UpdatingJobStore","endTime":"2026-02-01T04:46:22.621Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/01082c26-a269-43b6-a56b-e928fac81854","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-02-01T04:46:23.909Z","start":"2026-02-01T04:45:40.026Z","id":"01082c26-a269-43b6-a56b-e928fac81854","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-01082c26-a269-43b6-a56b-e928fac81854"},"submission":"2026-02-01T04:19:45.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
