interactions:
- request:
    body: "--462efe511d5c7c1c677323161c59070b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--462efe511d5c7c1c677323161c59070b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--462efe511d5c7c1c677323161c59070b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=462efe511d5c7c1c677323161c59070b
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc"},"submission":"2025-05-12T18:36:35.171Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-12T18:42:41.947Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-12T18:42:41.947Z","id":"5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc"},"submission":"2025-05-12T18:36:35.171Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-12T18:42:41.947Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-05-12T18:42:42.989Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-12T18:42:41.947Z","id":"5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc"},"submission":"2025-05-12T18:36:35.171Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-12T18:42:41.947Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"21175040","backend":"gizmo","attempt":1,"start":"2025-05-12T18:42:42.989Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-12T18:42:41.947Z","id":"5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc"},"submission":"2025-05-12T18:36:35.171Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"Finished","timestamp":"2025-05-12T18:43:21.749Z","cromwellVersion":"87"},{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-12T18:42:41.947Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"21175040","backend":"gizmo","end":"2025-05-12T18:43:20.723Z","start":"2025-05-12T18:42:42.989Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-05-12T18:42:42.989Z","description":"RequestingExecutionToken","endTime":"2025-05-12T18:42:48.047Z"},{"startTime":"2025-05-12T18:42:48.047Z","description":"PreparingJob","endTime":"2025-05-12T18:42:48.055Z"},{"startTime":"2025-05-12T18:42:48.055Z","description":"RunningJob","endTime":"2025-05-12T18:43:20.569Z"},{"startTime":"2025-05-12T18:42:42.989Z","description":"Pending","endTime":"2025-05-12T18:42:42.989Z"},{"startTime":"2025-05-12T18:42:48.047Z","description":"WaitingForValueStore","endTime":"2025-05-12T18:42:48.047Z"},{"startTime":"2025-05-12T18:43:20.569Z","description":"UpdatingJobStore","endTime":"2025-05-12T18:43:20.723Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-05-12T18:43:21.749Z","start":"2025-05-12T18:42:41.947Z","id":"5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5a3f07fc-5f18-4bd9-94f6-b3b57ec337fc"},"submission":"2025-05-12T18:36:35.171Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
