interactions:
- request:
    body: "--10918f3cffdcec0398fdf15e86165639\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--10918f3cffdcec0398fdf15e86165639\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--10918f3cffdcec0398fdf15e86165639--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=10918f3cffdcec0398fdf15e86165639
    method: POST
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1
  response:
    body:
      string: '{"id":"93cd727d-97f6-4d6c-8145-ef9f9f0fd795","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"93cd727d-97f6-4d6c-8145-ef9f9f0fd795","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-93cd727d-97f6-4d6c-8145-ef9f9f0fd795"},"submission":"2025-11-16T03:34:25.496Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T03:35:45.378Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-11-16T03:35:46.437Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-16T03:35:45.379Z","id":"93cd727d-97f6-4d6c-8145-ef9f9f0fd795","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-93cd727d-97f6-4d6c-8145-ef9f9f0fd795"},"submission":"2025-11-16T03:34:25.496Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T03:35:45.378Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/call-generate_diverse_outputs/execution/stdout","commandLine":"#
        Create a symlink\necho \"original\" > original.txt\nln -s original.txt link.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:noble-20241118.1","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-11-16T03:35:46.437Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/call-generate_diverse_outputs/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/call-generate_diverse_outputs"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-16T03:35:45.379Z","id":"93cd727d-97f6-4d6c-8145-ef9f9f0fd795","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-93cd727d-97f6-4d6c-8145-ef9f9f0fd795"},"submission":"2025-11-16T03:34:25.496Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T03:35:45.378Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/call-generate_diverse_outputs/execution/stdout","backendStatus":"Running","commandLine":"#
        Create a symlink\necho \"original\" > original.txt\nln -s original.txt link.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:noble-20241118.1","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"41881330","backend":"gizmo","attempt":1,"start":"2025-11-16T03:35:46.437Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/call-generate_diverse_outputs/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795/call-generate_diverse_outputs"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/93cd727d-97f6-4d6c-8145-ef9f9f0fd795","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-16T03:35:45.379Z","id":"93cd727d-97f6-4d6c-8145-ef9f9f0fd795","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-93cd727d-97f6-4d6c-8145-ef9f9f0fd795"},"submission":"2025-11-16T03:34:25.496Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
