interactions:
- request:
    body: "--68cd79c420a429bf6d3510e384803405\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--68cd79c420a429bf6d3510e384803405\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--68cd79c420a429bf6d3510e384803405--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=68cd79c420a429bf6d3510e384803405
    method: POST
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1
  response:
    body:
      string: '{"id":"49208e98-70b6-4001-b9a9-b9904afdf58c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/49208e98-70b6-4001-b9a9-b9904afdf58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"49208e98-70b6-4001-b9a9-b9904afdf58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-49208e98-70b6-4001-b9a9-b9904afdf58c"},"submission":"2026-05-31T04:38:23.017Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/49208e98-70b6-4001-b9a9-b9904afdf58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-31T04:46:09.678Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-05-31T04:46:10.729Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-31T04:46:09.678Z","id":"49208e98-70b6-4001-b9a9-b9904afdf58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-49208e98-70b6-4001-b9a9-b9904afdf58c"},"submission":"2026-05-31T04:38:23.017Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/49208e98-70b6-4001-b9a9-b9904afdf58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-31T04:46:09.678Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-05-31T04:46:10.729Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-31T04:46:09.678Z","id":"49208e98-70b6-4001-b9a9-b9904afdf58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-49208e98-70b6-4001-b9a9-b9904afdf58c"},"submission":"2026-05-31T04:38:23.017Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/49208e98-70b6-4001-b9a9-b9904afdf58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-31T04:46:09.678Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"52865933","backend":"gizmo","attempt":1,"start":"2026-05-31T04:46:10.729Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-31T04:46:09.678Z","id":"49208e98-70b6-4001-b9a9-b9904afdf58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-49208e98-70b6-4001-b9a9-b9904afdf58c"},"submission":"2026-05-31T04:38:23.017Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/49208e98-70b6-4001-b9a9-b9904afdf58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-31T04:46:09.678Z","cromwellVersion":"87"},{"cromwellId":"cromid-07f3b3e","description":"Finished","timestamp":"2026-05-31T04:46:51.529Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"52865933","backend":"gizmo","end":"2026-05-31T04:46:50.171Z","start":"2026-05-31T04:46:10.729Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-05-31T04:46:19.107Z","description":"WaitingForValueStore","endTime":"2026-05-31T04:46:19.107Z"},{"startTime":"2026-05-31T04:46:19.107Z","description":"PreparingJob","endTime":"2026-05-31T04:46:19.114Z"},{"startTime":"2026-05-31T04:46:19.114Z","description":"RunningJob","endTime":"2026-05-31T04:46:49.397Z"},{"startTime":"2026-05-31T04:46:49.397Z","description":"UpdatingJobStore","endTime":"2026-05-31T04:46:50.171Z"},{"startTime":"2026-05-31T04:46:10.729Z","description":"Pending","endTime":"2026-05-31T04:46:10.729Z"},{"startTime":"2026-05-31T04:46:10.729Z","description":"RequestingExecutionToken","endTime":"2026-05-31T04:46:19.107Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/49208e98-70b6-4001-b9a9-b9904afdf58c","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-31T04:46:51.529Z","start":"2026-05-31T04:46:09.678Z","id":"49208e98-70b6-4001-b9a9-b9904afdf58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-49208e98-70b6-4001-b9a9-b9904afdf58c"},"submission":"2026-05-31T04:38:23.017Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
