interactions:
- request:
    body: "--13825a51751bce479ba7a04223e78ff4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--13825a51751bce479ba7a04223e78ff4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--13825a51751bce479ba7a04223e78ff4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=13825a51751bce479ba7a04223e78ff4
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dffdcf18-b3cf-48a2-8d55-bb1289eb58f6"},"submission":"2026-08-09T03:38:38.035Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T03:44:47.333Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-08-09T03:44:48.372Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T03:44:47.333Z","id":"dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dffdcf18-b3cf-48a2-8d55-bb1289eb58f6"},"submission":"2026-08-09T03:38:38.035Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T03:44:47.333Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-08-09T03:44:48.372Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T03:44:47.333Z","id":"dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dffdcf18-b3cf-48a2-8d55-bb1289eb58f6"},"submission":"2026-08-09T03:38:38.035Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T03:44:47.333Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"62593101","backend":"gizmo","attempt":1,"start":"2026-08-09T03:44:48.372Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T03:44:47.333Z","id":"dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dffdcf18-b3cf-48a2-8d55-bb1289eb58f6"},"submission":"2026-08-09T03:38:38.035Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T03:44:47.333Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"62593101","backend":"gizmo","end":"2026-08-09T03:45:29.866Z","start":"2026-08-09T03:44:48.372Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-08-09T03:44:56.447Z","description":"RunningJob","endTime":"2026-08-09T03:45:29.485Z"},{"startTime":"2026-08-09T03:45:29.485Z","description":"UpdatingJobStore","endTime":"2026-08-09T03:45:29.866Z"},{"startTime":"2026-08-09T03:44:56.440Z","description":"PreparingJob","endTime":"2026-08-09T03:44:56.447Z"},{"startTime":"2026-08-09T03:44:48.372Z","description":"RequestingExecutionToken","endTime":"2026-08-09T03:44:56.440Z"},{"startTime":"2026-08-09T03:44:56.440Z","description":"WaitingForValueStore","endTime":"2026-08-09T03:44:56.440Z"},{"startTime":"2026-08-09T03:44:48.372Z","description":"Pending","endTime":"2026-08-09T03:44:48.372Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T03:44:47.333Z","id":"dffdcf18-b3cf-48a2-8d55-bb1289eb58f6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dffdcf18-b3cf-48a2-8d55-bb1289eb58f6"},"submission":"2026-08-09T03:38:38.035Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
