interactions:
- request:
    body: "--6b2f3879b985c4b2bac3c7166bece1b8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--6b2f3879b985c4b2bac3c7166bece1b8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6b2f3879b985c4b2bac3c7166bece1b8--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=6b2f3879b985c4b2bac3c7166bece1b8
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"fb973249-1231-4f7c-81e7-8010877ca43f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/fb973249-1231-4f7c-81e7-8010877ca43f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"fb973249-1231-4f7c-81e7-8010877ca43f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fb973249-1231-4f7c-81e7-8010877ca43f"},"submission":"2025-05-18T03:29:53.137Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/fb973249-1231-4f7c-81e7-8010877ca43f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-18T03:51:31.476Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-05-18T03:51:32.529Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-18T03:51:31.476Z","id":"fb973249-1231-4f7c-81e7-8010877ca43f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fb973249-1231-4f7c-81e7-8010877ca43f"},"submission":"2025-05-18T03:29:53.137Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/fb973249-1231-4f7c-81e7-8010877ca43f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-18T03:51:31.476Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"21708560","backend":"gizmo","attempt":1,"start":"2025-05-18T03:51:32.529Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-18T03:51:31.476Z","id":"fb973249-1231-4f7c-81e7-8010877ca43f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fb973249-1231-4f7c-81e7-8010877ca43f"},"submission":"2025-05-18T03:29:53.137Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/fb973249-1231-4f7c-81e7-8010877ca43f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"Finished","timestamp":"2025-05-18T03:52:15.369Z","cromwellVersion":"87"},{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-18T03:51:31.476Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"21708560","backend":"gizmo","end":"2025-05-18T03:52:13.721Z","start":"2025-05-18T03:51:32.529Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-05-18T03:51:32.529Z","description":"Pending","endTime":"2025-05-18T03:51:32.529Z"},{"startTime":"2025-05-18T03:51:38.055Z","description":"RunningJob","endTime":"2025-05-18T03:52:13.677Z"},{"startTime":"2025-05-18T03:51:38.047Z","description":"WaitingForValueStore","endTime":"2025-05-18T03:51:38.047Z"},{"startTime":"2025-05-18T03:51:38.047Z","description":"PreparingJob","endTime":"2025-05-18T03:51:38.055Z"},{"startTime":"2025-05-18T03:52:13.677Z","description":"UpdatingJobStore","endTime":"2025-05-18T03:52:13.721Z"},{"startTime":"2025-05-18T03:51:32.529Z","description":"RequestingExecutionToken","endTime":"2025-05-18T03:51:38.047Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/fb973249-1231-4f7c-81e7-8010877ca43f","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-05-18T03:52:15.369Z","start":"2025-05-18T03:51:31.476Z","id":"fb973249-1231-4f7c-81e7-8010877ca43f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fb973249-1231-4f7c-81e7-8010877ca43f"},"submission":"2025-05-18T03:29:53.137Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
