interactions:
- request:
    body: "--3e90d3595905aeefcdee9280fe8ec32b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--3e90d3595905aeefcdee9280fe8ec32b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3e90d3595905aeefcdee9280fe8ec32b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=3e90d3595905aeefcdee9280fe8ec32b
    method: POST
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1
  response:
    body:
      string: '{"id":"47bb8b36-d81c-4b61-befc-6d8ca88f17d0","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/47bb8b36-d81c-4b61-befc-6d8ca88f17d0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"47bb8b36-d81c-4b61-befc-6d8ca88f17d0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-47bb8b36-d81c-4b61-befc-6d8ca88f17d0"},"submission":"2025-06-23T17:45:21.264Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/47bb8b36-d81c-4b61-befc-6d8ca88f17d0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-23T18:07:56.984Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-23T18:07:58.026Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/47bb8b36-d81c-4b61-befc-6d8ca88f17d0","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-23T18:07:56.985Z","id":"47bb8b36-d81c-4b61-befc-6d8ca88f17d0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-47bb8b36-d81c-4b61-befc-6d8ca88f17d0"},"submission":"2025-06-23T17:45:21.264Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/47bb8b36-d81c-4b61-befc-6d8ca88f17d0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-23T18:07:56.984Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/47bb8b36-d81c-4b61-befc-6d8ca88f17d0/call-create_nested_files/execution/stdout","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-23T18:07:58.026Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/47bb8b36-d81c-4b61-befc-6d8ca88f17d0/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/47bb8b36-d81c-4b61-befc-6d8ca88f17d0/call-create_nested_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/47bb8b36-d81c-4b61-befc-6d8ca88f17d0","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-23T18:07:56.985Z","id":"47bb8b36-d81c-4b61-befc-6d8ca88f17d0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-47bb8b36-d81c-4b61-befc-6d8ca88f17d0"},"submission":"2025-06-23T17:45:21.264Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
