interactions:
- request:
    body: "--0d75c2d4cd43257c0f636a933de11832\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--0d75c2d4cd43257c0f636a933de11832\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0d75c2d4cd43257c0f636a933de11832--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0d75c2d4cd43257c0f636a933de11832
    method: POST
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1
  response:
    body:
      string: '{"id":"ce8b30d6-8203-4080-af2b-34fcb26c8fa5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ce8b30d6-8203-4080-af2b-34fcb26c8fa5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ce8b30d6-8203-4080-af2b-34fcb26c8fa5"},"submission":"2025-11-23T03:38:58.779Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T03:41:01.636Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-11-23T03:41:02.691Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-23T03:41:01.637Z","id":"ce8b30d6-8203-4080-af2b-34fcb26c8fa5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ce8b30d6-8203-4080-af2b-34fcb26c8fa5"},"submission":"2025-11-23T03:38:58.779Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T03:41:01.636Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-11-23T03:41:02.691Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-23T03:41:01.637Z","id":"ce8b30d6-8203-4080-af2b-34fcb26c8fa5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ce8b30d6-8203-4080-af2b-34fcb26c8fa5"},"submission":"2025-11-23T03:38:58.779Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T03:41:01.636Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"42371793","backend":"gizmo","attempt":1,"start":"2025-11-23T03:41:02.691Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-23T03:41:01.637Z","id":"ce8b30d6-8203-4080-af2b-34fcb26c8fa5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ce8b30d6-8203-4080-af2b-34fcb26c8fa5"},"submission":"2025-11-23T03:38:58.779Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"Finished","timestamp":"2025-11-23T03:41:48.591Z","cromwellVersion":"87"},{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T03:41:01.636Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"42371793","backend":"gizmo","end":"2025-11-23T03:41:46.764Z","start":"2025-11-23T03:41:02.691Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-11-23T03:41:45.794Z","description":"UpdatingJobStore","endTime":"2025-11-23T03:41:46.765Z"},{"startTime":"2025-11-23T03:41:11.080Z","description":"RunningJob","endTime":"2025-11-23T03:41:45.794Z"},{"startTime":"2025-11-23T03:41:02.691Z","description":"Pending","endTime":"2025-11-23T03:41:02.691Z"},{"startTime":"2025-11-23T03:41:11.069Z","description":"WaitingForValueStore","endTime":"2025-11-23T03:41:11.070Z"},{"startTime":"2025-11-23T03:41:11.070Z","description":"PreparingJob","endTime":"2025-11-23T03:41:11.080Z"},{"startTime":"2025-11-23T03:41:02.691Z","description":"RequestingExecutionToken","endTime":"2025-11-23T03:41:11.069Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/ce8b30d6-8203-4080-af2b-34fcb26c8fa5","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-11-23T03:41:48.591Z","start":"2025-11-23T03:41:01.637Z","id":"ce8b30d6-8203-4080-af2b-34fcb26c8fa5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ce8b30d6-8203-4080-af2b-34fcb26c8fa5"},"submission":"2025-11-23T03:38:58.779Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
