interactions:
- request:
    body: "--0a12501612e150446815d771c77f9904\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--0a12501612e150446815d771c77f9904\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0a12501612e150446815d771c77f9904--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0a12501612e150446815d771c77f9904
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"180429be-4175-4635-ba5a-a509608453be","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/180429be-4175-4635-ba5a-a509608453be/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"180429be-4175-4635-ba5a-a509608453be","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-180429be-4175-4635-ba5a-a509608453be"},"submission":"2026-07-26T04:17:35.292Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/180429be-4175-4635-ba5a-a509608453be/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-cda349a","description":"PickedUp","timestamp":"2026-07-26T04:17:59.545Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-07-26T04:18:00.816Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-26T04:17:59.546Z","id":"180429be-4175-4635-ba5a-a509608453be","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-180429be-4175-4635-ba5a-a509608453be"},"submission":"2026-07-26T04:17:35.292Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/180429be-4175-4635-ba5a-a509608453be/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-cda349a","description":"PickedUp","timestamp":"2026-07-26T04:17:59.545Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-07-26T04:18:00.816Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-26T04:17:59.546Z","id":"180429be-4175-4635-ba5a-a509608453be","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-180429be-4175-4635-ba5a-a509608453be"},"submission":"2026-07-26T04:17:35.292Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/180429be-4175-4635-ba5a-a509608453be/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-cda349a","description":"PickedUp","timestamp":"2026-07-26T04:17:59.545Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"57479839","backend":"gizmo","attempt":1,"start":"2026-07-26T04:18:00.816Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-26T04:17:59.546Z","id":"180429be-4175-4635-ba5a-a509608453be","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-180429be-4175-4635-ba5a-a509608453be"},"submission":"2026-07-26T04:17:35.292Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/180429be-4175-4635-ba5a-a509608453be/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-cda349a","description":"PickedUp","timestamp":"2026-07-26T04:17:59.545Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"57479839","backend":"gizmo","end":"2026-07-26T04:18:41.600Z","start":"2026-07-26T04:18:00.816Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-07-26T04:18:00.816Z","description":"Pending","endTime":"2026-07-26T04:18:00.817Z"},{"startTime":"2026-07-26T04:18:40.749Z","description":"UpdatingJobStore","endTime":"2026-07-26T04:18:41.600Z"},{"description":"PreparingJob","endTime":"2026-07-26T04:18:07.904Z","startTime":"2026-07-26T04:18:07.894Z"},{"startTime":"2026-07-26T04:18:00.817Z","description":"RequestingExecutionToken","endTime":"2026-07-26T04:18:07.894Z"},{"startTime":"2026-07-26T04:18:07.904Z","description":"RunningJob","endTime":"2026-07-26T04:18:40.749Z"},{"startTime":"2026-07-26T04:18:07.894Z","description":"WaitingForValueStore","endTime":"2026-07-26T04:18:07.894Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/180429be-4175-4635-ba5a-a509608453be","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-26T04:17:59.546Z","id":"180429be-4175-4635-ba5a-a509608453be","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-180429be-4175-4635-ba5a-a509608453be"},"submission":"2026-07-26T04:17:35.292Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
