interactions:
- request:
    body: "--5fd5b5353c3365bf55e03d8ce83106c0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--5fd5b5353c3365bf55e03d8ce83106c0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5fd5b5353c3365bf55e03d8ce83106c0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5fd5b5353c3365bf55e03d8ce83106c0
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"600d1db9-1764-4117-9270-b6a00eeed846","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/600d1db9-1764-4117-9270-b6a00eeed846/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"600d1db9-1764-4117-9270-b6a00eeed846","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-600d1db9-1764-4117-9270-b6a00eeed846"},"submission":"2026-10-01T21:00:38.135Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/600d1db9-1764-4117-9270-b6a00eeed846/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:03:47.665Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-10-01T21:03:48.734Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:03:47.665Z","id":"600d1db9-1764-4117-9270-b6a00eeed846","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-600d1db9-1764-4117-9270-b6a00eeed846"},"submission":"2026-10-01T21:00:38.135Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/600d1db9-1764-4117-9270-b6a00eeed846/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:03:47.665Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-10-01T21:03:48.734Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:03:47.665Z","id":"600d1db9-1764-4117-9270-b6a00eeed846","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-600d1db9-1764-4117-9270-b6a00eeed846"},"submission":"2026-10-01T21:00:38.135Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/600d1db9-1764-4117-9270-b6a00eeed846/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:03:47.665Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"9972226","backend":"gizmo","attempt":1,"start":"2026-10-01T21:03:48.734Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:03:47.665Z","id":"600d1db9-1764-4117-9270-b6a00eeed846","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-600d1db9-1764-4117-9270-b6a00eeed846"},"submission":"2026-10-01T21:00:38.135Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/600d1db9-1764-4117-9270-b6a00eeed846/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"Finished","timestamp":"2026-10-01T21:05:33.793Z","cromwellVersion":"87"},{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:03:47.665Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"9972226","backend":"gizmo","end":"2026-10-01T21:05:32.555Z","start":"2026-10-01T21:03:48.734Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-10-01T21:03:57.021Z","description":"PreparingJob","endTime":"2026-10-01T21:03:57.030Z"},{"startTime":"2026-10-01T21:03:48.734Z","description":"Pending","endTime":"2026-10-01T21:03:48.735Z"},{"startTime":"2026-10-01T21:05:31.875Z","description":"UpdatingJobStore","endTime":"2026-10-01T21:05:32.555Z"},{"startTime":"2026-10-01T21:03:57.030Z","description":"RunningJob","endTime":"2026-10-01T21:05:31.875Z"},{"startTime":"2026-10-01T21:03:57.021Z","description":"WaitingForValueStore","endTime":"2026-10-01T21:03:57.021Z"},{"startTime":"2026-10-01T21:03:48.735Z","description":"RequestingExecutionToken","endTime":"2026-10-01T21:03:57.021Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/600d1db9-1764-4117-9270-b6a00eeed846","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-10-01T21:05:33.793Z","start":"2026-10-01T21:03:47.665Z","id":"600d1db9-1764-4117-9270-b6a00eeed846","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-600d1db9-1764-4117-9270-b6a00eeed846"},"submission":"2026-10-01T21:00:38.135Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
