interactions:
- request:
    body: "--0e447d14588a1ccdffc6ea58185118c5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--0e447d14588a1ccdffc6ea58185118c5\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0e447d14588a1ccdffc6ea58185118c5--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0e447d14588a1ccdffc6ea58185118c5
    method: POST
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1
  response:
    body:
      string: '{"id":"51f2cbda-9528-4a70-9b1d-49932cd0c272","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/51f2cbda-9528-4a70-9b1d-49932cd0c272/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"51f2cbda-9528-4a70-9b1d-49932cd0c272","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-51f2cbda-9528-4a70-9b1d-49932cd0c272"},"submission":"2026-04-05T04:06:32.214Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/51f2cbda-9528-4a70-9b1d-49932cd0c272/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4ac0da5","description":"PickedUp","timestamp":"2026-04-05T04:08:38.273Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-04-05T04:08:39.323Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-05T04:08:38.274Z","id":"51f2cbda-9528-4a70-9b1d-49932cd0c272","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-51f2cbda-9528-4a70-9b1d-49932cd0c272"},"submission":"2026-04-05T04:06:32.214Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/51f2cbda-9528-4a70-9b1d-49932cd0c272/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4ac0da5","description":"PickedUp","timestamp":"2026-04-05T04:08:38.273Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-04-05T04:08:39.323Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-05T04:08:38.274Z","id":"51f2cbda-9528-4a70-9b1d-49932cd0c272","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-51f2cbda-9528-4a70-9b1d-49932cd0c272"},"submission":"2026-04-05T04:06:32.214Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/51f2cbda-9528-4a70-9b1d-49932cd0c272/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4ac0da5","description":"PickedUp","timestamp":"2026-04-05T04:08:38.273Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"50538917","backend":"gizmo","attempt":1,"start":"2026-04-05T04:08:39.323Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-05T04:08:38.274Z","id":"51f2cbda-9528-4a70-9b1d-49932cd0c272","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-51f2cbda-9528-4a70-9b1d-49932cd0c272"},"submission":"2026-04-05T04:06:32.214Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/51f2cbda-9528-4a70-9b1d-49932cd0c272/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4ac0da5","description":"Finished","timestamp":"2026-04-05T04:09:22.166Z","cromwellVersion":"87"},{"cromwellId":"cromid-4ac0da5","description":"PickedUp","timestamp":"2026-04-05T04:08:38.273Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"50538917","backend":"gizmo","end":"2026-04-05T04:09:20.349Z","start":"2026-04-05T04:08:39.323Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-04-05T04:09:19.850Z","description":"UpdatingJobStore","endTime":"2026-04-05T04:09:20.349Z"},{"startTime":"2026-04-05T04:08:47.732Z","description":"RunningJob","endTime":"2026-04-05T04:09:19.850Z"},{"startTime":"2026-04-05T04:08:39.323Z","description":"RequestingExecutionToken","endTime":"2026-04-05T04:08:47.723Z"},{"startTime":"2026-04-05T04:08:39.323Z","description":"Pending","endTime":"2026-04-05T04:08:39.323Z"},{"startTime":"2026-04-05T04:08:47.723Z","description":"WaitingForValueStore","endTime":"2026-04-05T04:08:47.724Z"},{"startTime":"2026-04-05T04:08:47.724Z","description":"PreparingJob","endTime":"2026-04-05T04:08:47.732Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/51f2cbda-9528-4a70-9b1d-49932cd0c272","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-05T04:09:22.166Z","start":"2026-04-05T04:08:38.274Z","id":"51f2cbda-9528-4a70-9b1d-49932cd0c272","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-51f2cbda-9528-4a70-9b1d-49932cd0c272"},"submission":"2026-04-05T04:06:32.214Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
