interactions:
- request:
    body: "--6a19963f5c82677e283165fa0d9c20be\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--6a19963f5c82677e283165fa0d9c20be\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6a19963f5c82677e283165fa0d9c20be--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=6a19963f5c82677e283165fa0d9c20be
    method: POST
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1
  response:
    body:
      string: '{"id":"57c79e2d-9378-4add-943f-131e2d7a136f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/57c79e2d-9378-4add-943f-131e2d7a136f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"57c79e2d-9378-4add-943f-131e2d7a136f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-57c79e2d-9378-4add-943f-131e2d7a136f"},"submission":"2025-06-15T03:35:01.200Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/57c79e2d-9378-4add-943f-131e2d7a136f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3f4f81b","description":"PickedUp","timestamp":"2025-06-15T03:40:14.274Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-15T03:40:15.369Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-15T03:40:14.274Z","id":"57c79e2d-9378-4add-943f-131e2d7a136f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-57c79e2d-9378-4add-943f-131e2d7a136f"},"submission":"2025-06-15T03:35:01.200Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/57c79e2d-9378-4add-943f-131e2d7a136f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3f4f81b","description":"PickedUp","timestamp":"2025-06-15T03:40:14.274Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"23953841","backend":"gizmo","attempt":1,"start":"2025-06-15T03:40:15.369Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-15T03:40:14.274Z","id":"57c79e2d-9378-4add-943f-131e2d7a136f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-57c79e2d-9378-4add-943f-131e2d7a136f"},"submission":"2025-06-15T03:35:01.200Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/57c79e2d-9378-4add-943f-131e2d7a136f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3f4f81b","description":"PickedUp","timestamp":"2025-06-15T03:40:14.274Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"23953841","backend":"gizmo","end":"2025-06-15T03:40:54.400Z","start":"2025-06-15T03:40:15.369Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-06-15T03:40:53.930Z","description":"UpdatingJobStore","endTime":"2025-06-15T03:40:54.400Z"},{"startTime":"2025-06-15T03:40:20.826Z","description":"PreparingJob","endTime":"2025-06-15T03:40:20.834Z"},{"startTime":"2025-06-15T03:40:20.826Z","description":"WaitingForValueStore","endTime":"2025-06-15T03:40:20.826Z"},{"startTime":"2025-06-15T03:40:20.834Z","description":"RunningJob","endTime":"2025-06-15T03:40:53.930Z"},{"startTime":"2025-06-15T03:40:15.369Z","description":"Pending","endTime":"2025-06-15T03:40:15.369Z"},{"startTime":"2025-06-15T03:40:15.369Z","description":"RequestingExecutionToken","endTime":"2025-06-15T03:40:20.826Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/57c79e2d-9378-4add-943f-131e2d7a136f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-15T03:40:14.274Z","id":"57c79e2d-9378-4add-943f-131e2d7a136f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-57c79e2d-9378-4add-943f-131e2d7a136f"},"submission":"2025-06-15T03:35:01.200Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
