interactions:
- request:
    body: "--fe3bf81f50e4ed989d48a017d3969941\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--fe3bf81f50e4ed989d48a017d3969941\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--fe3bf81f50e4ed989d48a017d3969941--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=fe3bf81f50e4ed989d48a017d3969941
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5"},"submission":"2025-06-04T22:27:54.455Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-46fd75b","description":"PickedUp","timestamp":"2025-06-04T22:34:17.785Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-04T22:34:18.828Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-04T22:34:17.786Z","id":"b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5"},"submission":"2025-06-04T22:27:54.455Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-46fd75b","description":"PickedUp","timestamp":"2025-06-04T22:34:17.785Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"22895805","backend":"gizmo","attempt":1,"start":"2025-06-04T22:34:18.828Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-04T22:34:17.786Z","id":"b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5"},"submission":"2025-06-04T22:27:54.455Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-46fd75b","description":"PickedUp","timestamp":"2025-06-04T22:34:17.785Z","cromwellVersion":"87"},{"cromwellId":"cromid-46fd75b","description":"Finished","timestamp":"2025-06-04T22:34:58.608Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"22895805","backend":"gizmo","end":"2025-06-04T22:34:57.360Z","start":"2025-06-04T22:34:18.828Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-06-04T22:34:18.828Z","description":"Pending","endTime":"2025-06-04T22:34:18.828Z"},{"startTime":"2025-06-04T22:34:19.619Z","description":"RunningJob","endTime":"2025-06-04T22:34:56.818Z"},{"startTime":"2025-06-04T22:34:19.606Z","description":"PreparingJob","endTime":"2025-06-04T22:34:19.619Z"},{"startTime":"2025-06-04T22:34:19.606Z","description":"WaitingForValueStore","endTime":"2025-06-04T22:34:19.606Z"},{"startTime":"2025-06-04T22:34:56.818Z","description":"UpdatingJobStore","endTime":"2025-06-04T22:34:57.360Z"},{"startTime":"2025-06-04T22:34:18.828Z","description":"RequestingExecutionToken","endTime":"2025-06-04T22:34:19.606Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-04T22:34:58.608Z","start":"2025-06-04T22:34:17.786Z","id":"b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b3b3c11f-62ff-4b07-8961-3eeaf8e7f6f5"},"submission":"2025-06-04T22:27:54.455Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
