interactions:
- request:
    body: "--069a1326b7ced3fdc48897b540acdbfd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--069a1326b7ced3fdc48897b540acdbfd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--069a1326b7ced3fdc48897b540acdbfd--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=069a1326b7ced3fdc48897b540acdbfd
    method: POST
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1
  response:
    body:
      string: '{"id":"f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc"},"submission":"2026-03-08T03:58:26.300Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T04:19:47.179Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-03-08T04:19:48.233Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-08T04:19:47.179Z","id":"f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc"},"submission":"2026-03-08T03:58:26.300Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T04:19:47.179Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-03-08T04:19:48.233Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-08T04:19:47.179Z","id":"f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc"},"submission":"2026-03-08T03:58:26.300Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T04:19:47.179Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"48983458","backend":"gizmo","attempt":1,"start":"2026-03-08T04:19:48.233Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-08T04:19:47.179Z","id":"f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc"},"submission":"2026-03-08T03:58:26.300Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"Finished","timestamp":"2026-03-08T04:20:34.134Z","cromwellVersion":"87"},{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T04:19:47.179Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"48983458","backend":"gizmo","end":"2026-03-08T04:20:32.542Z","start":"2026-03-08T04:19:48.233Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-03-08T04:19:56.952Z","description":"PreparingJob","endTime":"2026-03-08T04:19:56.959Z"},{"startTime":"2026-03-08T04:19:48.234Z","description":"Pending","endTime":"2026-03-08T04:19:48.234Z"},{"startTime":"2026-03-08T04:19:56.959Z","description":"RunningJob","endTime":"2026-03-08T04:20:32.114Z"},{"startTime":"2026-03-08T04:19:48.234Z","description":"RequestingExecutionToken","endTime":"2026-03-08T04:19:56.951Z"},{"startTime":"2026-03-08T04:19:56.951Z","description":"WaitingForValueStore","endTime":"2026-03-08T04:19:56.952Z"},{"startTime":"2026-03-08T04:20:32.114Z","description":"UpdatingJobStore","endTime":"2026-03-08T04:20:32.542Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-03-08T04:20:34.134Z","start":"2026-03-08T04:19:47.179Z","id":"f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f45d29ea-ca1c-4c8a-9e15-6c51b6d9c1dc"},"submission":"2026-03-08T03:58:26.300Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
