interactions:
- request:
    body: "--9a2acafd990c0f0aee2f2cb4e9aae2a6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--9a2acafd990c0f0aee2f2cb4e9aae2a6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9a2acafd990c0f0aee2f2cb4e9aae2a6--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9a2acafd990c0f0aee2f2cb4e9aae2a6
    method: POST
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1
  response:
    body:
      string: '{"id":"05bd59eb-6aed-474a-87a7-58d4991f8237","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/05bd59eb-6aed-474a-87a7-58d4991f8237/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"05bd59eb-6aed-474a-87a7-58d4991f8237","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-05bd59eb-6aed-474a-87a7-58d4991f8237"},"submission":"2025-11-16T03:37:16.918Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/05bd59eb-6aed-474a-87a7-58d4991f8237/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T04:00:07.523Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-11-16T04:00:08.595Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-16T04:00:07.524Z","id":"05bd59eb-6aed-474a-87a7-58d4991f8237","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-05bd59eb-6aed-474a-87a7-58d4991f8237"},"submission":"2025-11-16T03:37:16.918Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/05bd59eb-6aed-474a-87a7-58d4991f8237/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T04:00:07.523Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-11-16T04:00:08.595Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-16T04:00:07.524Z","id":"05bd59eb-6aed-474a-87a7-58d4991f8237","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-05bd59eb-6aed-474a-87a7-58d4991f8237"},"submission":"2025-11-16T03:37:16.918Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/05bd59eb-6aed-474a-87a7-58d4991f8237/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T04:00:07.523Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"41881690","backend":"gizmo","attempt":1,"start":"2025-11-16T04:00:08.595Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-16T04:00:07.524Z","id":"05bd59eb-6aed-474a-87a7-58d4991f8237","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-05bd59eb-6aed-474a-87a7-58d4991f8237"},"submission":"2025-11-16T03:37:16.918Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/05bd59eb-6aed-474a-87a7-58d4991f8237/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T04:00:07.523Z","cromwellVersion":"87"},{"cromwellId":"cromid-ef0eaae","description":"Finished","timestamp":"2025-11-16T04:00:51.436Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"41881690","backend":"gizmo","end":"2025-11-16T04:00:49.799Z","start":"2025-11-16T04:00:08.595Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-11-16T04:00:49.789Z","description":"UpdatingJobStore","endTime":"2025-11-16T04:00:49.799Z"},{"startTime":"2025-11-16T04:00:08.595Z","description":"Pending","endTime":"2025-11-16T04:00:08.595Z"},{"startTime":"2025-11-16T04:00:14.581Z","description":"RunningJob","endTime":"2025-11-16T04:00:49.789Z"},{"startTime":"2025-11-16T04:00:14.574Z","description":"WaitingForValueStore","endTime":"2025-11-16T04:00:14.574Z"},{"startTime":"2025-11-16T04:00:14.574Z","description":"PreparingJob","endTime":"2025-11-16T04:00:14.581Z"},{"startTime":"2025-11-16T04:00:08.595Z","description":"RequestingExecutionToken","endTime":"2025-11-16T04:00:14.574Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/05bd59eb-6aed-474a-87a7-58d4991f8237","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-11-16T04:00:51.436Z","start":"2025-11-16T04:00:07.524Z","id":"05bd59eb-6aed-474a-87a7-58d4991f8237","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-05bd59eb-6aed-474a-87a7-58d4991f8237"},"submission":"2025-11-16T03:37:16.918Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
