interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/853c45f5-5f55-4e8b-bd93-a42a40db12f1/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow ArrayOperations
        {\n    input {\n        # Input arrays for different tests\n        Array[String]
        strings\n        Array[String] additional_strings = []  # For testing array
        concatenation\n        Array[Array[String]] nested_arrays = []  # For testing
        nested arrays\n        Array[Int] numbers = [1, 2, 3, 4, 5]  # Default integer
        array for numeric operations\n        Array[File] input_files = [] # Array
        of files to test file[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/853c45f5-5f55-4e8b-bd93-a42a40db12f1/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"ArrayOperations","workflowProcessingEvents":[{"cromwellId":"cromid-fd06105","description":"PickedUp","timestamp":"2025-02-06T05:27:54.866Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow ArrayOperations {\n    input {\n        # Input arrays for
        different tests\n        Array[String] strings\n        Array[String] additional_strings
        = []  # For testing array concatenation\n        Array[Array[String]] nested_arrays
        = []  # For testing nested arrays\n        Array[Int] numbers = [1, 2, 3,
        4, 5]  # Default integer array for numeric operations\n        Array[File]
        input_files[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"HelloHostname","workflowProcessingEvents":[{"cromwellId":"cromid-fd06105","description":"PickedUp","timestamp":"2025-02-06T05:27:14.825Z","cromwellVersion":"87"},{"cromwellId":"cromid-fd06105","description":"Finished","timestamp":"2025-02-06T05:27:57.702Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW
        DEFINITION\n\nworkflow HelloHostname {\n  call Hostname {\n  }\n\n  output
        {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout:
        \"hostname of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
        Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
        out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta
        {\n    out: \"hostname of the node the job was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"HelloHostname.Hostname":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/call-Hostname/execution/stdout","backendStatus":"Done","commandLine":"echo
        $(hostname)","shardIndex":-1,"outputs":{"out":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/call-Hostname/execution/stdout"},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"8313512","backend":"gizmo","end":"2025-02-06T05:27:56.332Z","start":"2025-02-06T05:27:15.883Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/call-Hostname/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/call-Hostname","attempt":1,"executionEvents":[{"startTime":"2025-02-06T05:27:22.677Z","description":"PreparingJob","endTime":"2025-02-06T05:27:22.685Z"},{"startTime":"2025-02-06T05:27:15.884Z","description":"RequestingExecutionToken","endTime":"2025-02-06T05:27:22.677Z"},{"startTime":"2025-02-06T05:27:15.883Z","description":"Pending","endTime":"2025-02-06T05:27:15.884Z"},{"startTime":"2025-02-06T05:27:56.126Z","description":"UpdatingJobStore","endTime":"2025-02-06T05:27:56.332Z"},{"startTime":"2025-02-06T05:27:22.685Z","description":"RunningJob","endTime":"2025-02-06T05:27:56.126Z"},{"startTime":"2025-02-06T05:27:22.677Z","description":"WaitingForValueStore","endTime":"2025-02-06T05:27:22.677Z"}]}]},"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/call-Hostname/execution/stdout"},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/39f5b465-0acb-4e34-bdbc-a0fd47bb771a","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-02-06T05:27:57.702Z","start":"2025-02-06T05:27:14.826Z","id":"39f5b465-0acb-4e34-bdbc-a0fd47bb771a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-39f5b465-0acb-4e34-bdbc-a0fd47bb771a"},"submission":"2025-02-06T05:26:59.887Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/48e6bcde-1645-4733-93d6-4aeca77e341c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-fd06105","description":"PickedUp","timestamp":"2025-02-06T05:27:34.845Z","cromwellVersion":"87"},{"cromwellId":"cromid-fd06105","description":"Finished","timestamp":"2025-02-06T05:27:34.870Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-02-06T05:27:34.870Z","start":"2025-02-06T05:27:34.846Z","id":"48e6bcde-1645-4733-93d6-4aeca77e341c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-48e6bcde-1645-4733-93d6-4aeca77e341c"},"submission":"2025-02-06T05:26:59.995Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/37b0729f-9647-4991-a715-4c60ecce2591/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicTaskTest","workflowProcessingEvents":[{"cromwellId":"cromid-fd06105","description":"PickedUp","timestamp":"2025-02-06T05:28:54.926Z","cromwellVersion":"87"},{"cromwellId":"cromid-fd06105","description":"Finished","timestamp":"2025-02-06T05:29:06.190Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
        a string input and writes it to a file called output.txt. It demonstrates
        a basic execution of a task with file output.\n\n# This tests basic task execution,
        input handling, and file output functionality. It ensures that a task can
        successfully take an input and generate an output.\n\nworkflow basicTaskTest
        {\n  input {\n    String text = \"Hello, World!\"\n  }\n\n  call simpleTask
        {\n    input:\n      message = text\n  }\n}\n\ntask simpleTask {\n  input
        {\n    String message\n  }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
        {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicTaskTest.simpleTask":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/37b0729f-9647-4991-a715-4c60ecce2591/call-simpleTask/execution/stdout","shardIndex":-1,"outputs":{"outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/37b0729f-9647-4991-a715-4c60ecce2591/call-simpleTask/cacheCopy/execution/output.txt"},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:20.04","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":true,"hashes":{"output count":"C4CA4238A0B923820DCC509A6F75849B","runtime
        attribute":{"docker":"04F140687C399478C9AF991349F97438","continueOnReturnCode":"CFCD208495D565EF66E7DFF9F98764DA","failOnStderr":"68934A3E9455FA72420237EB05902327"},"output
        expression":{"File outputFile":"EF1B47FFA9990E8D058D177073939DF7"},"input
        count":"C4CA4238A0B923820DCC509A6F75849B","backend name":"00B6EE220EFAF25B88D10126BC21D1FA","command
        template":"60686A67B7335CFF2AC7232921C47137","input":{"String message":"7959B2C4AF2FD6D142BA32BABD30CEB7"}},"effectiveCallCachingMode":"ReadAndWriteCache","hit":true,"result":"Cache
        Hit: 8c6dc092-d0ed-432a-be1c-ae6f59117581:basicTaskTest.simpleTask:-1"},"inputs":{"message":"Hello,
        World!"},"returnCode":0,"backend":"gizmo","end":"2025-02-06T05:29:05.333Z","start":"2025-02-06T05:28:57.008Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/37b0729f-9647-4991-a715-4c60ecce2591/call-simpleTask/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/37b0729f-9647-4991-a715-4c60ecce2591/call-simpleTask","attempt":1,"executionEvents":[{"startTime":"2025-02-06T05:29:02.688Z","description":"CallCacheReading","endTime":"2025-02-06T05:29:02.732Z"},{"startTime":"2025-02-06T05:29:02.677Z","description":"PreparingJob","endTime":"2025-02-06T05:29:02.688Z"},{"startTime":"2025-02-06T05:29:02.732Z","description":"UpdatingCallCache","endTime":"2025-02-06T05:29:04.343Z"},{"startTime":"2025-02-06T05:29:02.677Z","description":"WaitingForValueStore","endTime":"2025-02-06T05:29:02.677Z"},{"startTime":"2025-02-06T05:28:57.008Z","description":"Pending","endTime":"2025-02-06T05:28:57.008Z"},{"startTime":"2025-02-06T05:29:04.343Z","description":"UpdatingJobStore","endTime":"2025-02-06T05:29:05.333Z"},{"startTime":"2025-02-06T05:28:57.008Z","description":"RequestingExecutionToken","endTime":"2025-02-06T05:29:02.677Z"}]}]},"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/37b0729f-9647-4991-a715-4c60ecce2591/call-simpleTask/cacheCopy/execution/output.txt"},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/37b0729f-9647-4991-a715-4c60ecce2591","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-02-06T05:29:06.190Z","start":"2025-02-06T05:28:54.926Z","id":"37b0729f-9647-4991-a715-4c60ecce2591","inputs":{"text":"Hello,
        World!"},"labels":{"cromwell-workflow-id":"cromwell-37b0729f-9647-4991-a715-4c60ecce2591"},"submission":"2025-02-06T05:27:00.100Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
