interactions:
- request:
    body: "--8c3e89464650167f0b8b02f615b0ad6c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--8c3e89464650167f0b8b02f615b0ad6c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8c3e89464650167f0b8b02f615b0ad6c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=8c3e89464650167f0b8b02f615b0ad6c
    method: POST
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1
  response:
    body:
      string: '{"id":"e937ca0f-7a60-44b3-aa0e-27ef850006f5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/e937ca0f-7a60-44b3-aa0e-27ef850006f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"e937ca0f-7a60-44b3-aa0e-27ef850006f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e937ca0f-7a60-44b3-aa0e-27ef850006f5"},"submission":"2025-12-28T03:46:32.517Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/e937ca0f-7a60-44b3-aa0e-27ef850006f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f3b37e6","description":"PickedUp","timestamp":"2025-12-28T04:08:04.321Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-12-28T04:08:05.384Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-28T04:08:04.322Z","id":"e937ca0f-7a60-44b3-aa0e-27ef850006f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e937ca0f-7a60-44b3-aa0e-27ef850006f5"},"submission":"2025-12-28T03:46:32.517Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/e937ca0f-7a60-44b3-aa0e-27ef850006f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f3b37e6","description":"PickedUp","timestamp":"2025-12-28T04:08:04.321Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-12-28T04:08:05.384Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-28T04:08:04.322Z","id":"e937ca0f-7a60-44b3-aa0e-27ef850006f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e937ca0f-7a60-44b3-aa0e-27ef850006f5"},"submission":"2025-12-28T03:46:32.517Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/e937ca0f-7a60-44b3-aa0e-27ef850006f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f3b37e6","description":"PickedUp","timestamp":"2025-12-28T04:08:04.321Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"43978177","backend":"gizmo","attempt":1,"start":"2025-12-28T04:08:05.384Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-28T04:08:04.322Z","id":"e937ca0f-7a60-44b3-aa0e-27ef850006f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e937ca0f-7a60-44b3-aa0e-27ef850006f5"},"submission":"2025-12-28T03:46:32.517Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/e937ca0f-7a60-44b3-aa0e-27ef850006f5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f3b37e6","description":"Finished","timestamp":"2025-12-28T04:08:50.264Z","cromwellVersion":"87"},{"cromwellId":"cromid-f3b37e6","description":"PickedUp","timestamp":"2025-12-28T04:08:04.321Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"43978177","backend":"gizmo","end":"2025-12-28T04:08:48.276Z","start":"2025-12-28T04:08:05.384Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-12-28T04:08:11.611Z","description":"PreparingJob","endTime":"2025-12-28T04:08:11.619Z"},{"startTime":"2025-12-28T04:08:11.619Z","description":"RunningJob","endTime":"2025-12-28T04:08:47.683Z"},{"startTime":"2025-12-28T04:08:05.384Z","description":"Pending","endTime":"2025-12-28T04:08:05.384Z"},{"startTime":"2025-12-28T04:08:11.611Z","description":"WaitingForValueStore","endTime":"2025-12-28T04:08:11.611Z"},{"startTime":"2025-12-28T04:08:47.683Z","description":"UpdatingJobStore","endTime":"2025-12-28T04:08:48.276Z"},{"startTime":"2025-12-28T04:08:05.384Z","description":"RequestingExecutionToken","endTime":"2025-12-28T04:08:11.611Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e937ca0f-7a60-44b3-aa0e-27ef850006f5","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-12-28T04:08:50.263Z","start":"2025-12-28T04:08:04.322Z","id":"e937ca0f-7a60-44b3-aa0e-27ef850006f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e937ca0f-7a60-44b3-aa0e-27ef850006f5"},"submission":"2025-12-28T03:46:32.517Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
