interactions:
- request:
    body: "--655e156a70e0d686f3bda3df76e96a2e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--655e156a70e0d686f3bda3df76e96a2e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--655e156a70e0d686f3bda3df76e96a2e--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=655e156a70e0d686f3bda3df76e96a2e
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b"},"submission":"2025-07-21T16:07:33.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:28:07.284Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-07-21T16:28:08.326Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-21T16:28:07.285Z","id":"60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b"},"submission":"2025-07-21T16:07:33.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:28:07.284Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"26621195","backend":"gizmo","attempt":1,"start":"2025-07-21T16:28:08.326Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-21T16:28:07.285Z","id":"60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b"},"submission":"2025-07-21T16:07:33.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:28:07.284Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"26621195","backend":"gizmo","end":"2025-07-21T16:28:49.870Z","start":"2025-07-21T16:28:08.326Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-07-21T16:28:08.326Z","description":"Pending","endTime":"2025-07-21T16:28:08.326Z"},{"startTime":"2025-07-21T16:28:08.326Z","description":"RequestingExecutionToken","endTime":"2025-07-21T16:28:11.684Z"},{"startTime":"2025-07-21T16:28:49.436Z","description":"UpdatingJobStore","endTime":"2025-07-21T16:28:49.870Z"},{"startTime":"2025-07-21T16:28:11.684Z","description":"PreparingJob","endTime":"2025-07-21T16:28:11.695Z"},{"startTime":"2025-07-21T16:28:11.695Z","description":"RunningJob","endTime":"2025-07-21T16:28:49.436Z"},{"startTime":"2025-07-21T16:28:11.684Z","description":"WaitingForValueStore","endTime":"2025-07-21T16:28:11.684Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-21T16:28:07.285Z","id":"60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-60c34b94-4eb0-4e0e-9ea1-ea67aff9f57b"},"submission":"2025-07-21T16:07:33.608Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
