interactions:
- request:
    body: "--0336c7af271d24abe37cbfde2526b5c3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--0336c7af271d24abe37cbfde2526b5c3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0336c7af271d24abe37cbfde2526b5c3--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0336c7af271d24abe37cbfde2526b5c3
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"59a63d4c-2b1f-4269-afc8-83c0c12a271e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/59a63d4c-2b1f-4269-afc8-83c0c12a271e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"59a63d4c-2b1f-4269-afc8-83c0c12a271e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-59a63d4c-2b1f-4269-afc8-83c0c12a271e"},"submission":"2026-04-13T17:03:09.614Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/59a63d4c-2b1f-4269-afc8-83c0c12a271e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:26:41.999Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:26:42.000Z","id":"59a63d4c-2b1f-4269-afc8-83c0c12a271e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-59a63d4c-2b1f-4269-afc8-83c0c12a271e"},"submission":"2026-04-13T17:03:09.614Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/59a63d4c-2b1f-4269-afc8-83c0c12a271e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:26:41.999Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-04-13T17:26:43.040Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:26:42.000Z","id":"59a63d4c-2b1f-4269-afc8-83c0c12a271e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-59a63d4c-2b1f-4269-afc8-83c0c12a271e"},"submission":"2026-04-13T17:03:09.614Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/59a63d4c-2b1f-4269-afc8-83c0c12a271e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:26:41.999Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files/execution/stdout","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-04-13T17:26:43.040Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:26:42.000Z","id":"59a63d4c-2b1f-4269-afc8-83c0c12a271e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-59a63d4c-2b1f-4269-afc8-83c0c12a271e"},"submission":"2026-04-13T17:03:09.614Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/59a63d4c-2b1f-4269-afc8-83c0c12a271e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:26:41.999Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"51043112","backend":"gizmo","attempt":1,"start":"2026-04-13T17:26:43.040Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:26:42.000Z","id":"59a63d4c-2b1f-4269-afc8-83c0c12a271e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-59a63d4c-2b1f-4269-afc8-83c0c12a271e"},"submission":"2026-04-13T17:03:09.614Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/59a63d4c-2b1f-4269-afc8-83c0c12a271e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:26:41.999Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"outputs":{"txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"51043112","backend":"gizmo","end":"2026-04-13T17:27:06.644Z","start":"2026-04-13T17:26:43.040Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-04-13T17:26:43.040Z","description":"RequestingExecutionToken","endTime":"2026-04-13T17:26:47.949Z"},{"startTime":"2026-04-13T17:26:43.040Z","description":"Pending","endTime":"2026-04-13T17:26:43.040Z"},{"startTime":"2026-04-13T17:26:47.956Z","description":"RunningJob","endTime":"2026-04-13T17:27:06.604Z"},{"startTime":"2026-04-13T17:27:06.604Z","description":"UpdatingJobStore","endTime":"2026-04-13T17:27:06.644Z"},{"startTime":"2026-04-13T17:26:47.949Z","description":"PreparingJob","endTime":"2026-04-13T17:26:47.956Z"},{"startTime":"2026-04-13T17:26:47.949Z","description":"WaitingForValueStore","endTime":"2026-04-13T17:26:47.949Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/59a63d4c-2b1f-4269-afc8-83c0c12a271e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:26:42.000Z","id":"59a63d4c-2b1f-4269-afc8-83c0c12a271e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-59a63d4c-2b1f-4269-afc8-83c0c12a271e"},"submission":"2026-04-13T17:03:09.614Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
