interactions:
- request:
    body: "--4b3287e72bdfdba09c05aa1ef73b89c8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/ae83e5d1-3bab-44e7-aac6-d0cddd1f4577/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n# This workflow takes a
        tab separated file where each row is a set of data to be used in each \n#
        of the independent scattered task series that you have as your workflow process.  This
        file \n# will, for example, have column names `sampleName`, `bamLocation`,
        and `bedlocation`.  This\n# allows you to know that regardless of the order
        of the columns in your batch file, the correct\n# inputs will be used for
        the tasks you define.  \nwor[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/ae83e5d1-3bab-44e7-aac6-d0cddd1f4577/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-4480884","description":"PickedUp","timestamp":"2026-07-05T04:59:30.012Z","cromwellVersion":"87"},{"cromwellId":"cromid-4480884","description":"Finished","timestamp":"2026-07-05T04:59:30.032Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n# This workflow takes a tab separated file where each row is a set of
        data to be used in each \n# of the independent scattered task series that
        you have as your workflow process.  This file \n# will, for example, have
        column names `sampleName`, `bamLocation`, and `bedlocation`.  This\n# allows
        you to know that regardless of the order of the columns in your batch file,
        the correct\n# inputs will be us[...]
