interactions:
- request:
    body: "--25e62fe671009768d6ca42ee6f8437db\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--25e62fe671009768d6ca42ee6f8437db\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--25e62fe671009768d6ca42ee6f8437db--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=25e62fe671009768d6ca42ee6f8437db
    method: POST
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1
  response:
    body:
      string: '{"id":"cb394e55-96e9-4ba4-97aa-94b89c2f192b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/cb394e55-96e9-4ba4-97aa-94b89c2f192b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"cb394e55-96e9-4ba4-97aa-94b89c2f192b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cb394e55-96e9-4ba4-97aa-94b89c2f192b"},"submission":"2026-05-31T04:40:41.143Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/cb394e55-96e9-4ba4-97aa-94b89c2f192b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-31T05:03:51.135Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-05-31T05:03:52.179Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-31T05:03:51.136Z","id":"cb394e55-96e9-4ba4-97aa-94b89c2f192b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cb394e55-96e9-4ba4-97aa-94b89c2f192b"},"submission":"2026-05-31T04:40:41.143Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/cb394e55-96e9-4ba4-97aa-94b89c2f192b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-31T05:03:51.135Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-05-31T05:03:52.179Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-31T05:03:51.136Z","id":"cb394e55-96e9-4ba4-97aa-94b89c2f192b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cb394e55-96e9-4ba4-97aa-94b89c2f192b"},"submission":"2026-05-31T04:40:41.143Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/cb394e55-96e9-4ba4-97aa-94b89c2f192b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-31T05:03:51.135Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"52866032","backend":"gizmo","attempt":1,"start":"2026-05-31T05:03:52.179Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-31T05:03:51.136Z","id":"cb394e55-96e9-4ba4-97aa-94b89c2f192b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cb394e55-96e9-4ba4-97aa-94b89c2f192b"},"submission":"2026-05-31T04:40:41.143Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/cb394e55-96e9-4ba4-97aa-94b89c2f192b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-31T05:03:51.135Z","cromwellVersion":"87"},{"cromwellId":"cromid-07f3b3e","description":"Finished","timestamp":"2026-05-31T05:04:32.981Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"52866032","backend":"gizmo","end":"2026-05-31T05:04:31.172Z","start":"2026-05-31T05:03:52.179Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-05-31T05:03:59.121Z","description":"RunningJob","endTime":"2026-05-31T05:04:30.406Z"},{"startTime":"2026-05-31T05:03:59.107Z","description":"WaitingForValueStore","endTime":"2026-05-31T05:03:59.107Z"},{"startTime":"2026-05-31T05:03:52.179Z","description":"RequestingExecutionToken","endTime":"2026-05-31T05:03:59.107Z"},{"startTime":"2026-05-31T05:04:30.406Z","description":"UpdatingJobStore","endTime":"2026-05-31T05:04:31.172Z"},{"startTime":"2026-05-31T05:03:52.179Z","description":"Pending","endTime":"2026-05-31T05:03:52.179Z"},{"startTime":"2026-05-31T05:03:59.107Z","description":"PreparingJob","endTime":"2026-05-31T05:03:59.121Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/cb394e55-96e9-4ba4-97aa-94b89c2f192b","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-31T05:04:32.981Z","start":"2026-05-31T05:03:51.136Z","id":"cb394e55-96e9-4ba4-97aa-94b89c2f192b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cb394e55-96e9-4ba4-97aa-94b89c2f192b"},"submission":"2026-05-31T04:40:41.143Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
