interactions:
- request:
    body: "--38b7b948691d63ac641a9be1a4c32342\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--38b7b948691d63ac641a9be1a4c32342\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--38b7b948691d63ac641a9be1a4c32342--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=38b7b948691d63ac641a9be1a4c32342
    method: POST
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1
  response:
    body:
      string: '{"id":"cacc6ce9-95a5-4112-8cd6-87803a9d8293","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/cacc6ce9-95a5-4112-8cd6-87803a9d8293/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"cacc6ce9-95a5-4112-8cd6-87803a9d8293","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cacc6ce9-95a5-4112-8cd6-87803a9d8293"},"submission":"2025-05-06T15:06:38.309Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/cacc6ce9-95a5-4112-8cd6-87803a9d8293/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7df26a6","description":"PickedUp","timestamp":"2025-05-06T15:25:57.055Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-05-06T15:25:58.100Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-06T15:25:57.056Z","id":"cacc6ce9-95a5-4112-8cd6-87803a9d8293","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cacc6ce9-95a5-4112-8cd6-87803a9d8293"},"submission":"2025-05-06T15:06:38.309Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/cacc6ce9-95a5-4112-8cd6-87803a9d8293/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7df26a6","description":"PickedUp","timestamp":"2025-05-06T15:25:57.055Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-05-06T15:25:58.100Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-06T15:25:57.056Z","id":"cacc6ce9-95a5-4112-8cd6-87803a9d8293","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cacc6ce9-95a5-4112-8cd6-87803a9d8293"},"submission":"2025-05-06T15:06:38.309Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/cacc6ce9-95a5-4112-8cd6-87803a9d8293/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7df26a6","description":"PickedUp","timestamp":"2025-05-06T15:25:57.055Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"20758701","backend":"gizmo","attempt":1,"start":"2025-05-06T15:25:58.100Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-06T15:25:57.056Z","id":"cacc6ce9-95a5-4112-8cd6-87803a9d8293","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cacc6ce9-95a5-4112-8cd6-87803a9d8293"},"submission":"2025-05-06T15:06:38.309Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/cacc6ce9-95a5-4112-8cd6-87803a9d8293/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7df26a6","description":"PickedUp","timestamp":"2025-05-06T15:25:57.055Z","cromwellVersion":"87"},{"cromwellId":"cromid-7df26a6","description":"Finished","timestamp":"2025-05-06T15:26:39.917Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"20758701","backend":"gizmo","end":"2025-05-06T15:26:38.804Z","start":"2025-05-06T15:25:58.100Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-05-06T15:25:59.846Z","description":"PreparingJob","endTime":"2025-05-06T15:25:59.854Z"},{"startTime":"2025-05-06T15:25:58.101Z","description":"RequestingExecutionToken","endTime":"2025-05-06T15:25:59.846Z"},{"startTime":"2025-05-06T15:26:38.787Z","description":"UpdatingJobStore","endTime":"2025-05-06T15:26:38.804Z"},{"startTime":"2025-05-06T15:25:58.100Z","description":"Pending","endTime":"2025-05-06T15:25:58.101Z"},{"startTime":"2025-05-06T15:25:59.846Z","description":"WaitingForValueStore","endTime":"2025-05-06T15:25:59.846Z"},{"startTime":"2025-05-06T15:25:59.854Z","description":"RunningJob","endTime":"2025-05-06T15:26:38.787Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cacc6ce9-95a5-4112-8cd6-87803a9d8293","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-05-06T15:26:39.917Z","start":"2025-05-06T15:25:57.056Z","id":"cacc6ce9-95a5-4112-8cd6-87803a9d8293","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cacc6ce9-95a5-4112-8cd6-87803a9d8293"},"submission":"2025-05-06T15:06:38.309Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
