interactions:
- request:
    body: "--eeebdaf8106291b01a2cd31d6ce17514\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"structTypeTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
      1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in the
      workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing metadata\nstruct
      SequencingInfo {\n    String plat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/c29869b4-ab96-49ad-890a-a07021cabbb1/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\n## This workflow demonstrates
        advanced struct features in WDL including:\n## 1. Optional fields\n## 2. Nested
        structs\n## 3. Default values (handled in the workflow)\n\n#### STRUCT DEFINITIONS\n\n#
        Nested struct for sequencing metadata\nstruct SequencingInfo {\n    String
        platform\n    String? flowcell_id\n    Int? lane_number\n}\n\n# Nested struct
        for quality metrics\nstruct QualityMetrics {\n    Float quality_score\n    Float?
        gc_[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/c29869b4-ab96-49ad-890a-a07021cabbb1/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"struct_example","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T03:56:34.858Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\n## This workflow demonstrates advanced struct features in WDL including:\n##
        1. Optional fields\n## 2. Nested structs\n## 3. Default values (handled in
        the workflow)\n\n#### STRUCT DEFINITIONS\n\n# Nested struct for sequencing
        metadata\nstruct SequencingInfo {\n    String platform\n    String? flowcell_id\n    Int?
        lane_number\n}\n\n# Nested struct for quality metrics\nstruct QualityMetrics
        {\n    [...]
[...]
