interactions:
- request:
    body: "--e3b2f96a13a14e0715f363a5099260d9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--e3b2f96a13a14e0715f363a5099260d9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e3b2f96a13a14e0715f363a5099260d9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e3b2f96a13a14e0715f363a5099260d9
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"71d561c1-1677-49e1-855e-a9a8bb7d413b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/71d561c1-1677-49e1-855e-a9a8bb7d413b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"71d561c1-1677-49e1-855e-a9a8bb7d413b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-71d561c1-1677-49e1-855e-a9a8bb7d413b"},"submission":"2025-07-21T16:01:30.217Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/71d561c1-1677-49e1-855e-a9a8bb7d413b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:16:46.472Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-07-21T16:16:47.516Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-21T16:16:46.473Z","id":"71d561c1-1677-49e1-855e-a9a8bb7d413b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-71d561c1-1677-49e1-855e-a9a8bb7d413b"},"submission":"2025-07-21T16:01:30.217Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/71d561c1-1677-49e1-855e-a9a8bb7d413b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:16:46.472Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-07-21T16:16:47.516Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-21T16:16:46.473Z","id":"71d561c1-1677-49e1-855e-a9a8bb7d413b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-71d561c1-1677-49e1-855e-a9a8bb7d413b"},"submission":"2025-07-21T16:01:30.217Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/71d561c1-1677-49e1-855e-a9a8bb7d413b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:16:46.472Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"26608230","backend":"gizmo","attempt":1,"start":"2025-07-21T16:16:47.516Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-21T16:16:46.473Z","id":"71d561c1-1677-49e1-855e-a9a8bb7d413b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-71d561c1-1677-49e1-855e-a9a8bb7d413b"},"submission":"2025-07-21T16:01:30.217Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/71d561c1-1677-49e1-855e-a9a8bb7d413b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"Finished","timestamp":"2025-07-21T16:17:30.355Z","cromwellVersion":"87"},{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:16:46.472Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"26608230","backend":"gizmo","end":"2025-07-21T16:17:28.869Z","start":"2025-07-21T16:16:47.516Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-07-21T16:17:28.265Z","description":"UpdatingJobStore","endTime":"2025-07-21T16:17:28.869Z"},{"startTime":"2025-07-21T16:16:51.684Z","description":"PreparingJob","endTime":"2025-07-21T16:16:51.692Z"},{"startTime":"2025-07-21T16:16:51.684Z","description":"WaitingForValueStore","endTime":"2025-07-21T16:16:51.684Z"},{"startTime":"2025-07-21T16:16:51.692Z","description":"RunningJob","endTime":"2025-07-21T16:17:28.265Z"},{"startTime":"2025-07-21T16:16:47.516Z","description":"RequestingExecutionToken","endTime":"2025-07-21T16:16:51.684Z"},{"startTime":"2025-07-21T16:16:47.516Z","description":"Pending","endTime":"2025-07-21T16:16:47.516Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/71d561c1-1677-49e1-855e-a9a8bb7d413b","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-07-21T16:17:30.355Z","start":"2025-07-21T16:16:46.473Z","id":"71d561c1-1677-49e1-855e-a9a8bb7d413b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-71d561c1-1677-49e1-855e-a9a8bb7d413b"},"submission":"2025-07-21T16:01:30.217Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
