interactions:
- request:
    body: "--c94c9dbf5fc3a7829a3e2320eeca0de8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--c94c9dbf5fc3a7829a3e2320eeca0de8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c94c9dbf5fc3a7829a3e2320eeca0de8--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c94c9dbf5fc3a7829a3e2320eeca0de8
    method: POST
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1
  response:
    body:
      string: '{"id":"c620c85f-48b5-4f9c-b02f-397f22094c41","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/c620c85f-48b5-4f9c-b02f-397f22094c41/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"c620c85f-48b5-4f9c-b02f-397f22094c41","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c620c85f-48b5-4f9c-b02f-397f22094c41"},"submission":"2025-10-12T03:28:14.128Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/c620c85f-48b5-4f9c-b02f-397f22094c41/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-e320874","description":"PickedUp","timestamp":"2025-10-12T03:49:10.807Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-10-12T03:49:11.850Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-12T03:49:10.807Z","id":"c620c85f-48b5-4f9c-b02f-397f22094c41","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c620c85f-48b5-4f9c-b02f-397f22094c41"},"submission":"2025-10-12T03:28:14.128Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/c620c85f-48b5-4f9c-b02f-397f22094c41/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-e320874","description":"PickedUp","timestamp":"2025-10-12T03:49:10.807Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"37626260","backend":"gizmo","attempt":1,"start":"2025-10-12T03:49:11.850Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-12T03:49:10.807Z","id":"c620c85f-48b5-4f9c-b02f-397f22094c41","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c620c85f-48b5-4f9c-b02f-397f22094c41"},"submission":"2025-10-12T03:28:14.128Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/c620c85f-48b5-4f9c-b02f-397f22094c41/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-e320874","description":"PickedUp","timestamp":"2025-10-12T03:49:10.807Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"37626260","backend":"gizmo","end":"2025-10-12T03:49:53.733Z","start":"2025-10-12T03:49:11.850Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-10-12T03:49:19.968Z","description":"WaitingForValueStore","endTime":"2025-10-12T03:49:19.968Z"},{"startTime":"2025-10-12T03:49:19.976Z","description":"RunningJob","endTime":"2025-10-12T03:49:53.513Z"},{"startTime":"2025-10-12T03:49:11.850Z","description":"RequestingExecutionToken","endTime":"2025-10-12T03:49:19.968Z"},{"startTime":"2025-10-12T03:49:11.850Z","description":"Pending","endTime":"2025-10-12T03:49:11.850Z"},{"startTime":"2025-10-12T03:49:19.968Z","description":"PreparingJob","endTime":"2025-10-12T03:49:19.976Z"},{"startTime":"2025-10-12T03:49:53.513Z","description":"UpdatingJobStore","endTime":"2025-10-12T03:49:53.733Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/c620c85f-48b5-4f9c-b02f-397f22094c41","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-12T03:49:10.807Z","id":"c620c85f-48b5-4f9c-b02f-397f22094c41","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c620c85f-48b5-4f9c-b02f-397f22094c41"},"submission":"2025-10-12T03:28:14.128Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
