interactions:
- request:
    body: "--1ca9a534968c5cceffb2c479333bf5e4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--1ca9a534968c5cceffb2c479333bf5e4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1ca9a534968c5cceffb2c479333bf5e4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1ca9a534968c5cceffb2c479333bf5e4
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"1860c37e-9a44-47a9-813d-b7655bcf67b2","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/1860c37e-9a44-47a9-813d-b7655bcf67b2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"1860c37e-9a44-47a9-813d-b7655bcf67b2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1860c37e-9a44-47a9-813d-b7655bcf67b2"},"submission":"2025-06-27T20:03:07.368Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/1860c37e-9a44-47a9-813d-b7655bcf67b2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:26:26.555Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-27T20:26:27.596Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:26:26.555Z","id":"1860c37e-9a44-47a9-813d-b7655bcf67b2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1860c37e-9a44-47a9-813d-b7655bcf67b2"},"submission":"2025-06-27T20:03:07.368Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/1860c37e-9a44-47a9-813d-b7655bcf67b2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:26:26.555Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2/call-create_files/execution/stdout","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-27T20:26:27.596Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:26:26.555Z","id":"1860c37e-9a44-47a9-813d-b7655bcf67b2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1860c37e-9a44-47a9-813d-b7655bcf67b2"},"submission":"2025-06-27T20:03:07.368Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/1860c37e-9a44-47a9-813d-b7655bcf67b2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:26:26.555Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"25768081","backend":"gizmo","attempt":1,"start":"2025-06-27T20:26:27.596Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/1860c37e-9a44-47a9-813d-b7655bcf67b2","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:26:26.555Z","id":"1860c37e-9a44-47a9-813d-b7655bcf67b2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1860c37e-9a44-47a9-813d-b7655bcf67b2"},"submission":"2025-06-27T20:03:07.368Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
