interactions:
- request:
    body: "--de7cd0c23ec9674bffadc7a45c5738a1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--de7cd0c23ec9674bffadc7a45c5738a1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--de7cd0c23ec9674bffadc7a45c5738a1--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=de7cd0c23ec9674bffadc7a45c5738a1
    method: POST
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1
  response:
    body:
      string: '{"id":"8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b7f71a8-9d8f-4463-91a2-5bc97c7d833c"},"submission":"2026-06-07T04:43:44.732Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-87d329d","description":"PickedUp","timestamp":"2026-06-07T05:04:41.378Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-06-07T05:04:42.428Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-06-07T05:04:41.379Z","id":"8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b7f71a8-9d8f-4463-91a2-5bc97c7d833c"},"submission":"2026-06-07T04:43:44.732Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-87d329d","description":"PickedUp","timestamp":"2026-06-07T05:04:41.378Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-06-07T05:04:42.428Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-06-07T05:04:41.379Z","id":"8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b7f71a8-9d8f-4463-91a2-5bc97c7d833c"},"submission":"2026-06-07T04:43:44.732Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-87d329d","description":"PickedUp","timestamp":"2026-06-07T05:04:41.378Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"53131028","backend":"gizmo","attempt":1,"start":"2026-06-07T05:04:42.428Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-06-07T05:04:41.379Z","id":"8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b7f71a8-9d8f-4463-91a2-5bc97c7d833c"},"submission":"2026-06-07T04:43:44.732Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-87d329d","description":"PickedUp","timestamp":"2026-06-07T05:04:41.378Z","cromwellVersion":"87"},{"cromwellId":"cromid-87d329d","description":"Finished","timestamp":"2026-06-07T05:05:15.067Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"53131028","backend":"gizmo","end":"2026-06-07T05:05:13.960Z","start":"2026-06-07T05:04:42.428Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-06-07T05:04:42.428Z","description":"Pending","endTime":"2026-06-07T05:04:42.428Z"},{"startTime":"2026-06-07T05:04:43.215Z","description":"RunningJob","endTime":"2026-06-07T05:05:13.906Z"},{"startTime":"2026-06-07T05:04:43.196Z","description":"WaitingForValueStore","endTime":"2026-06-07T05:04:43.196Z"},{"startTime":"2026-06-07T05:04:43.196Z","description":"PreparingJob","endTime":"2026-06-07T05:04:43.215Z"},{"startTime":"2026-06-07T05:05:13.906Z","description":"UpdatingJobStore","endTime":"2026-06-07T05:05:13.960Z"},{"startTime":"2026-06-07T05:04:42.428Z","description":"RequestingExecutionToken","endTime":"2026-06-07T05:04:43.196Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-06-07T05:05:15.067Z","start":"2026-06-07T05:04:41.379Z","id":"8b7f71a8-9d8f-4463-91a2-5bc97c7d833c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b7f71a8-9d8f-4463-91a2-5bc97c7d833c"},"submission":"2026-06-07T04:43:44.732Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
