interactions:
- request:
    body: "--88c13001ab9b547a1673f2e4dd6856ac\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--88c13001ab9b547a1673f2e4dd6856ac\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--88c13001ab9b547a1673f2e4dd6856ac--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=88c13001ab9b547a1673f2e4dd6856ac
    method: POST
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1
  response:
    body:
      string: '{"id":"648c9f92-797d-4839-aa5d-83826bdbfb21","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/648c9f92-797d-4839-aa5d-83826bdbfb21/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"648c9f92-797d-4839-aa5d-83826bdbfb21","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-648c9f92-797d-4839-aa5d-83826bdbfb21"},"submission":"2026-01-04T03:44:41.245Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/648c9f92-797d-4839-aa5d-83826bdbfb21/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T04:07:00.049Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-01-04T04:07:01.092Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-04T04:07:00.050Z","id":"648c9f92-797d-4839-aa5d-83826bdbfb21","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-648c9f92-797d-4839-aa5d-83826bdbfb21"},"submission":"2026-01-04T03:44:41.245Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/648c9f92-797d-4839-aa5d-83826bdbfb21/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T04:07:00.049Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-01-04T04:07:01.092Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-04T04:07:00.050Z","id":"648c9f92-797d-4839-aa5d-83826bdbfb21","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-648c9f92-797d-4839-aa5d-83826bdbfb21"},"submission":"2026-01-04T03:44:41.245Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/648c9f92-797d-4839-aa5d-83826bdbfb21/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T04:07:00.049Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"44085686","backend":"gizmo","attempt":1,"start":"2026-01-04T04:07:01.092Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-04T04:07:00.050Z","id":"648c9f92-797d-4839-aa5d-83826bdbfb21","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-648c9f92-797d-4839-aa5d-83826bdbfb21"},"submission":"2026-01-04T03:44:41.245Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/648c9f92-797d-4839-aa5d-83826bdbfb21/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"Finished","timestamp":"2026-01-04T04:07:42.912Z","cromwellVersion":"87"},{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T04:07:00.049Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"44085686","backend":"gizmo","end":"2026-01-04T04:07:41.045Z","start":"2026-01-04T04:07:01.092Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-01-04T04:07:04.358Z","description":"RunningJob","endTime":"2026-01-04T04:07:40.543Z"},{"startTime":"2026-01-04T04:07:01.092Z","description":"RequestingExecutionToken","endTime":"2026-01-04T04:07:04.349Z"},{"startTime":"2026-01-04T04:07:04.349Z","description":"WaitingForValueStore","endTime":"2026-01-04T04:07:04.350Z"},{"startTime":"2026-01-04T04:07:01.092Z","description":"Pending","endTime":"2026-01-04T04:07:01.092Z"},{"startTime":"2026-01-04T04:07:04.350Z","description":"PreparingJob","endTime":"2026-01-04T04:07:04.358Z"},{"startTime":"2026-01-04T04:07:40.543Z","description":"UpdatingJobStore","endTime":"2026-01-04T04:07:41.045Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/648c9f92-797d-4839-aa5d-83826bdbfb21","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-01-04T04:07:42.912Z","start":"2026-01-04T04:07:00.050Z","id":"648c9f92-797d-4839-aa5d-83826bdbfb21","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-648c9f92-797d-4839-aa5d-83826bdbfb21"},"submission":"2026-01-04T03:44:41.245Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
