interactions:
- request:
    body: "--5346eb7ff999658de988eb5f041d3992\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSymlink.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n
      \       Array[File] matched_files = flatten([create_nested_files.matched_files_top,
      create_nested_files.matched_files_nested])\n        Array[File] symlink_matches
      = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
      {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\" >
      subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
      Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
      symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File]
      matched_symlinks = glob(\"symlinks/*.txt\")\n    }\n}\n\r\n--5346eb7ff999658de988eb5f041d3992\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5346eb7ff999658de988eb5f041d3992--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5346eb7ff999658de988eb5f041d3992
    method: POST
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1
  response:
    body:
      string: '{"id":"ffefa559-c47c-40ec-a7a7-00e197a89f14","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/ffefa559-c47c-40ec-a7a7-00e197a89f14/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globSymlink
        {\n    call create_nested_files\n    output {\n        Array[File] matched_files
        = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ffefa559-c47c-40ec-a7a7-00e197a89f14","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ffefa559-c47c-40ec-a7a7-00e197a89f14"},"submission":"2026-07-19T04:15:02.186Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/ffefa559-c47c-40ec-a7a7-00e197a89f14/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSymlink","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:20:10.247Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSymlink.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-07-19T04:20:11.320Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSymlink/ffefa559-c47c-40ec-a7a7-00e197a89f14","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-19T04:20:10.248Z","id":"ffefa559-c47c-40ec-a7a7-00e197a89f14","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ffefa559-c47c-40ec-a7a7-00e197a89f14"},"submission":"2026-07-19T04:15:02.186Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
