interactions:
- request:
    body: "--a101138274f030d04e04a27e42bb00a9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--a101138274f030d04e04a27e42bb00a9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a101138274f030d04e04a27e42bb00a9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a101138274f030d04e04a27e42bb00a9
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"0d96db66-06da-4b02-be98-a92591c39374","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/0d96db66-06da-4b02-be98-a92591c39374/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"0d96db66-06da-4b02-be98-a92591c39374","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0d96db66-06da-4b02-be98-a92591c39374"},"submission":"2026-09-20T03:24:39.170Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/0d96db66-06da-4b02-be98-a92591c39374/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:25:57.865Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-09-20T03:25:58.917Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:25:57.866Z","id":"0d96db66-06da-4b02-be98-a92591c39374","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0d96db66-06da-4b02-be98-a92591c39374"},"submission":"2026-09-20T03:24:39.170Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/0d96db66-06da-4b02-be98-a92591c39374/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:25:57.865Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-09-20T03:25:58.917Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:25:57.866Z","id":"0d96db66-06da-4b02-be98-a92591c39374","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0d96db66-06da-4b02-be98-a92591c39374"},"submission":"2026-09-20T03:24:39.170Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/0d96db66-06da-4b02-be98-a92591c39374/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:25:57.865Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"8627328","backend":"gizmo","attempt":1,"start":"2026-09-20T03:25:58.917Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:25:57.866Z","id":"0d96db66-06da-4b02-be98-a92591c39374","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0d96db66-06da-4b02-be98-a92591c39374"},"submission":"2026-09-20T03:24:39.170Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/0d96db66-06da-4b02-be98-a92591c39374/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:25:57.865Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"8627328","backend":"gizmo","end":"2026-09-20T03:26:39.929Z","start":"2026-09-20T03:25:58.917Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-09-20T03:25:58.918Z","description":"RequestingExecutionToken","endTime":"2026-09-20T03:26:06.155Z"},{"startTime":"2026-09-20T03:26:39.580Z","description":"UpdatingJobStore","endTime":"2026-09-20T03:26:39.929Z"},{"startTime":"2026-09-20T03:26:06.155Z","description":"PreparingJob","endTime":"2026-09-20T03:26:06.164Z"},{"startTime":"2026-09-20T03:25:58.917Z","description":"Pending","endTime":"2026-09-20T03:25:58.918Z"},{"startTime":"2026-09-20T03:26:06.164Z","description":"RunningJob","endTime":"2026-09-20T03:26:39.580Z"},{"startTime":"2026-09-20T03:26:06.155Z","description":"WaitingForValueStore","endTime":"2026-09-20T03:26:06.155Z"}]}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globNonmatching/0d96db66-06da-4b02-be98-a92591c39374","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:25:57.866Z","id":"0d96db66-06da-4b02-be98-a92591c39374","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0d96db66-06da-4b02-be98-a92591c39374"},"submission":"2026-09-20T03:24:39.170Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
