interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that returns the hostname of the node \n## the job is submitted to as a test
        for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow HelloHostname
        {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta
        {\n    stdout: \"hostname of the node the job was submitted to\"\n  }\n}\n\n####
        TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output
        {\n    File out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory:
        \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname of the node the job
        was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c"},"submission":"2025-03-30T03:22:40.326Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"HelloHostname","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-30T03:24:52.547Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW
        DEFINITION\n\nworkflow HelloHostname {\n  call Hostname {\n  }\n\n  output
        {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout:
        \"hostname of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
        Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
        out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta
        {\n    out: \"hostname of the node the job was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"HelloHostname.Hostname":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-03-30T03:24:53.597Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-03-30T03:24:52.548Z","id":"b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c"},"submission":"2025-03-30T03:22:40.326Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"HelloHostname","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-30T03:24:52.547Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW
        DEFINITION\n\nworkflow HelloHostname {\n  call Hostname {\n  }\n\n  output
        {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout:
        \"hostname of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
        Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
        out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta
        {\n    out: \"hostname of the node the job was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"HelloHostname.Hostname":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/call-Hostname/execution/stdout","commandLine":"echo
        $(hostname)","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-03-30T03:24:53.597Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/call-Hostname/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/call-Hostname"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-03-30T03:24:52.548Z","id":"b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c"},"submission":"2025-03-30T03:22:40.326Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/8f923309-b784-43ec-bda2-8f5b64abcb9f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-30T03:23:32.418Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-30T03:24:30.760Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"outputs":{"matched_files_top":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt"],"matched_files_nested":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"16414595","backend":"gizmo","end":"2025-03-30T03:24:29.601Z","start":"2025-03-30T03:23:33.640Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files","attempt":1,"executionEvents":[{"startTime":"2025-03-30T03:23:39.787Z","description":"PreparingJob","endTime":"2025-03-30T03:23:39.807Z"},{"startTime":"2025-03-30T03:23:33.640Z","description":"RequestingExecutionToken","endTime":"2025-03-30T03:23:39.786Z"},{"startTime":"2025-03-30T03:23:39.807Z","description":"RunningJob","endTime":"2025-03-30T03:24:28.930Z"},{"startTime":"2025-03-30T03:23:33.640Z","description":"Pending","endTime":"2025-03-30T03:23:33.640Z"},{"startTime":"2025-03-30T03:24:28.930Z","description":"UpdatingJobStore","endTime":"2025-03-30T03:24:29.601Z"},{"startTime":"2025-03-30T03:23:39.786Z","description":"WaitingForValueStore","endTime":"2025-03-30T03:23:39.787Z"}]}]},"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-30T03:24:30.760Z","start":"2025-03-30T03:23:32.419Z","id":"8f923309-b784-43ec-bda2-8f5b64abcb9f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8f923309-b784-43ec-bda2-8f5b64abcb9f"},"submission":"2025-03-30T03:22:40.647Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/b6096c95-6517-435f-be7b-c90c47582b45/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-30T03:25:18.481Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-30T03:24:32.521Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6096c95-6517-435f-be7b-c90c47582b45/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"16414614","backend":"gizmo","end":"2025-03-30T03:25:16.557Z","start":"2025-03-30T03:24:33.596Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6096c95-6517-435f-be7b-c90c47582b45/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6096c95-6517-435f-be7b-c90c47582b45/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-03-30T03:24:39.787Z","description":"PreparingJob","endTime":"2025-03-30T03:24:39.801Z"},{"startTime":"2025-03-30T03:24:39.787Z","description":"WaitingForValueStore","endTime":"2025-03-30T03:24:39.787Z"},{"startTime":"2025-03-30T03:24:33.596Z","description":"Pending","endTime":"2025-03-30T03:24:33.596Z"},{"startTime":"2025-03-30T03:24:39.801Z","description":"RunningJob","endTime":"2025-03-30T03:25:15.619Z"},{"startTime":"2025-03-30T03:24:33.596Z","description":"RequestingExecutionToken","endTime":"2025-03-30T03:24:39.787Z"},{"startTime":"2025-03-30T03:25:15.619Z","description":"UpdatingJobStore","endTime":"2025-03-30T03:25:16.557Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6096c95-6517-435f-be7b-c90c47582b45","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-30T03:25:18.481Z","start":"2025-03-30T03:24:32.521Z","id":"b6096c95-6517-435f-be7b-c90c47582b45","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b6096c95-6517-435f-be7b-c90c47582b45"},"submission":"2025-03-30T03:22:40.884Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/4d062739-0838-467f-be5c-99ecd8d678cd/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-30T03:27:15.628Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-30T03:26:32.746Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4d062739-0838-467f-be5c-99ecd8d678cd/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"16414638","backend":"gizmo","end":"2025-03-30T03:27:14.577Z","start":"2025-03-30T03:26:33.797Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4d062739-0838-467f-be5c-99ecd8d678cd/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4d062739-0838-467f-be5c-99ecd8d678cd/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-03-30T03:26:33.797Z","description":"RequestingExecutionToken","endTime":"2025-03-30T03:26:39.787Z"},{"startTime":"2025-03-30T03:27:14.315Z","description":"UpdatingJobStore","endTime":"2025-03-30T03:27:14.577Z"},{"startTime":"2025-03-30T03:26:39.837Z","description":"RunningJob","endTime":"2025-03-30T03:27:14.315Z"},{"startTime":"2025-03-30T03:26:39.787Z","description":"PreparingJob","endTime":"2025-03-30T03:26:39.837Z"},{"startTime":"2025-03-30T03:26:39.787Z","description":"WaitingForValueStore","endTime":"2025-03-30T03:26:39.787Z"},{"startTime":"2025-03-30T03:26:33.797Z","description":"Pending","endTime":"2025-03-30T03:26:33.797Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4d062739-0838-467f-be5c-99ecd8d678cd","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-30T03:27:15.628Z","start":"2025-03-30T03:26:32.746Z","id":"4d062739-0838-467f-be5c-99ecd8d678cd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4d062739-0838-467f-be5c-99ecd8d678cd"},"submission":"2025-03-30T03:22:41.027Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/6f58128b-56f3-41a3-9539-63a4f12cbf2b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"enhanced_map_test","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-30T03:27:12.865Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow enhanced_map_test {\n    input {\n        # Original inputs\n        Array[String]
        samples\n        Map[String, String] sample_metadata\n        Map[String,
        Int] read_lengths\n\n        # New test inputs\n        Map[String, Map[String,
        String]] nested_map = {\n            \"patient1\": {\n                \"sample1\":
        \"normal\",\n                \"sample2\": \"tumor\"\n            },\n            \"patient2\":
        {\n                \"sample3\": \"normal\",\n                \"sample4\":
        \"tumor\"\n            }\n        }\n        # We need to provide keys as
        arrays since WDL 1.0 doesn''t have a keys() function\n        Array[String]
        patient_ids = [\"patient1\", \"patient2\"]\n    }\n\n    # Test nested map
        processing\n    scatter (patient_id in patient_ids) {\n        call process_nested_map
        {\n            input:\n                patient_id = patient_id,\n                patient_data
        = nested_map[patient_id],\n                # [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/4cf6a3b0-3a1d-454d-af56-a304de764e24/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-30T03:26:12.691Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-30T03:27:04.753Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/4cf6a3b0-3a1d-454d-af56-a304de764e24/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"outputs":{"txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/4cf6a3b0-3a1d-454d-af56-a304de764e24/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/4cf6a3b0-3a1d-454d-af56-a304de764e24/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/29fe38b1-25e1-4ca4-a84d-6224d971291f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-30T03:25:52.674Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-30T03:25:52.657Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-03-30T03:25:52.674Z","start":"2025-03-30T03:25:52.657Z","id":"29fe38b1-25e1-4ca4-a84d-6224d971291f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-29fe38b1-25e1-4ca4-a84d-6224d971291f"},"submission":"2025-03-30T03:22:41.561Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
