interactions:
- request:
    body: "--c1c23d3e8c0ce51b71a1822ae17d7ae9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--c1c23d3e8c0ce51b71a1822ae17d7ae9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c1c23d3e8c0ce51b71a1822ae17d7ae9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c1c23d3e8c0ce51b71a1822ae17d7ae9
    method: POST
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1
  response:
    body:
      string: '{"id":"56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T03:33:10.442Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-08-24T03:33:12.232Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-24T03:33:10.486Z","id":"56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10"},"submission":"2025-08-24T03:33:09.510Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T03:33:10.442Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"29795061","backend":"gizmo","attempt":1,"start":"2025-08-24T03:33:12.232Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-24T03:33:10.486Z","id":"56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10"},"submission":"2025-08-24T03:33:09.510Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T03:33:10.442Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"29795061","backend":"gizmo","end":"2025-08-24T03:33:58.882Z","start":"2025-08-24T03:33:12.232Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-08-24T03:33:12.250Z","description":"Pending","endTime":"2025-08-24T03:33:12.259Z"},{"startTime":"2025-08-24T03:33:20.131Z","description":"WaitingForValueStore","endTime":"2025-08-24T03:33:20.141Z"},{"startTime":"2025-08-24T03:33:12.259Z","description":"RequestingExecutionToken","endTime":"2025-08-24T03:33:20.131Z"},{"startTime":"2025-08-24T03:33:58.587Z","description":"UpdatingJobStore","endTime":"2025-08-24T03:33:58.882Z"},{"startTime":"2025-08-24T03:33:20.205Z","description":"RunningJob","endTime":"2025-08-24T03:33:58.587Z"},{"startTime":"2025-08-24T03:33:20.141Z","description":"PreparingJob","endTime":"2025-08-24T03:33:20.205Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-24T03:33:10.486Z","id":"56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-56e3b6a1-c9a5-4918-bbe8-d4b1b7b0cc10"},"submission":"2025-08-24T03:33:09.510Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
