interactions:
- request:
    body: "--deab5ef5b28abc63048bb674927c9b2c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--deab5ef5b28abc63048bb674927c9b2c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--deab5ef5b28abc63048bb674927c9b2c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=deab5ef5b28abc63048bb674927c9b2c
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"3d509cfd-5908-421c-a40a-cef932677970","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/3d509cfd-5908-421c-a40a-cef932677970/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"3d509cfd-5908-421c-a40a-cef932677970","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3d509cfd-5908-421c-a40a-cef932677970"},"submission":"2026-04-13T17:00:30.365Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/3d509cfd-5908-421c-a40a-cef932677970/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:06:00.140Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-04-13T17:06:01.194Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:06:00.141Z","id":"3d509cfd-5908-421c-a40a-cef932677970","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3d509cfd-5908-421c-a40a-cef932677970"},"submission":"2026-04-13T17:00:30.365Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/3d509cfd-5908-421c-a40a-cef932677970/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:06:00.140Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-04-13T17:06:01.194Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:06:00.141Z","id":"3d509cfd-5908-421c-a40a-cef932677970","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3d509cfd-5908-421c-a40a-cef932677970"},"submission":"2026-04-13T17:00:30.365Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/3d509cfd-5908-421c-a40a-cef932677970/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:06:00.140Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"51042945","backend":"gizmo","attempt":1,"start":"2026-04-13T17:06:01.194Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:06:00.141Z","id":"3d509cfd-5908-421c-a40a-cef932677970","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3d509cfd-5908-421c-a40a-cef932677970"},"submission":"2026-04-13T17:00:30.365Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/3d509cfd-5908-421c-a40a-cef932677970/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:06:00.140Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"51042945","backend":"gizmo","end":"2026-04-13T17:06:41.644Z","start":"2026-04-13T17:06:01.194Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-04-13T17:06:07.948Z","description":"WaitingForValueStore","endTime":"2026-04-13T17:06:07.948Z"},{"startTime":"2026-04-13T17:06:01.194Z","description":"Pending","endTime":"2026-04-13T17:06:01.194Z"},{"startTime":"2026-04-13T17:06:07.956Z","description":"RunningJob","endTime":"2026-04-13T17:06:41.271Z"},{"startTime":"2026-04-13T17:06:01.194Z","description":"RequestingExecutionToken","endTime":"2026-04-13T17:06:07.948Z"},{"startTime":"2026-04-13T17:06:07.948Z","description":"PreparingJob","endTime":"2026-04-13T17:06:07.956Z"},{"startTime":"2026-04-13T17:06:41.271Z","description":"UpdatingJobStore","endTime":"2026-04-13T17:06:41.644Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/3d509cfd-5908-421c-a40a-cef932677970","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:06:00.141Z","id":"3d509cfd-5908-421c-a40a-cef932677970","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3d509cfd-5908-421c-a40a-cef932677970"},"submission":"2026-04-13T17:00:30.365Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
