interactions:
- request:
    body: "--da9dfe5f7efe5893ac8f70a0cebb502a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--da9dfe5f7efe5893ac8f70a0cebb502a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--da9dfe5f7efe5893ac8f70a0cebb502a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=da9dfe5f7efe5893ac8f70a0cebb502a
    method: POST
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1
  response:
    body:
      string: '{"id":"c24feeab-0f05-4311-a69e-6420f0847615","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/c24feeab-0f05-4311-a69e-6420f0847615/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"c24feeab-0f05-4311-a69e-6420f0847615","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c24feeab-0f05-4311-a69e-6420f0847615"},"submission":"2025-07-27T03:40:21.387Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/c24feeab-0f05-4311-a69e-6420f0847615/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-d11bdb6","description":"PickedUp","timestamp":"2025-07-27T03:42:21.031Z","cromwellVersion":"87"},{"cromwellVersion":"87","timestamp":"2025-07-27T03:42:21.058Z","description":"Finished","cromwellId":"cromid-d11bdb6"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-07-27T03:42:21.057Z","start":"2025-07-27T03:42:21.031Z","id":"c24feeab-0f05-4311-a69e-6420f0847615","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c24feeab-0f05-4311-a69e-6420f0847615"},"submission":"2025-07-27T03:40:21.387Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
