interactions:
- request:
    body: "--ab5146d9fbeeed3850101960928eb919\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--ab5146d9fbeeed3850101960928eb919\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ab5146d9fbeeed3850101960928eb919--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=ab5146d9fbeeed3850101960928eb919
    method: POST
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1
  response:
    body:
      string: '{"id":"40671eb6-b0f6-4a61-85f3-dff230382393","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/40671eb6-b0f6-4a61-85f3-dff230382393/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"40671eb6-b0f6-4a61-85f3-dff230382393","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40671eb6-b0f6-4a61-85f3-dff230382393"},"submission":"2025-08-24T03:34:05.504Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/40671eb6-b0f6-4a61-85f3-dff230382393/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T03:56:52.587Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-08-24T03:56:53.638Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/40671eb6-b0f6-4a61-85f3-dff230382393","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-24T03:56:52.587Z","id":"40671eb6-b0f6-4a61-85f3-dff230382393","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40671eb6-b0f6-4a61-85f3-dff230382393"},"submission":"2025-08-24T03:34:05.504Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/40671eb6-b0f6-4a61-85f3-dff230382393/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-cc7e86b","description":"PickedUp","timestamp":"2025-08-24T03:56:52.587Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/40671eb6-b0f6-4a61-85f3-dff230382393/call-create_nested_files/execution/stdout","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-08-24T03:56:53.638Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/40671eb6-b0f6-4a61-85f3-dff230382393/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/40671eb6-b0f6-4a61-85f3-dff230382393/call-create_nested_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/40671eb6-b0f6-4a61-85f3-dff230382393","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-08-24T03:56:52.587Z","id":"40671eb6-b0f6-4a61-85f3-dff230382393","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40671eb6-b0f6-4a61-85f3-dff230382393"},"submission":"2025-08-24T03:34:05.504Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
