interactions:
- request:
    body: "--5154f5dbe3820c0c6ffa171330c493b7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--5154f5dbe3820c0c6ffa171330c493b7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5154f5dbe3820c0c6ffa171330c493b7--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5154f5dbe3820c0c6ffa171330c493b7
    method: POST
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1
  response:
    body:
      string: '{"id":"2618f053-9353-4578-9311-5649a4bf5e06","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/2618f053-9353-4578-9311-5649a4bf5e06/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2618f053-9353-4578-9311-5649a4bf5e06\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/2618f053-9353-4578-9311-5649a4bf5e06/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"2618f053-9353-4578-9311-5649a4bf5e06","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-2618f053-9353-4578-9311-5649a4bf5e06"},"submission":"2026-07-19T04:15:03.208Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
