interactions:
- request:
    body: "--b8169b76630a41bda23bab8d548a9840\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloModuleHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for module functionality on Gizmo.\n## Added verification
      of module loading.\n\n#### WORKFLOW DEFINITION\n\nworkflow HelloModuleHostname
      {\n  input {\n    String module2l[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/0c3e668d-1f3a-4639-a657-3392218b721b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that returns the hostname of the node \n## the job is submitted to as a test
        for module functionality on Gizmo.\n## Added verification of module loading.\n\n####
        WORKFLOW DEFINITION\n\nworkflow HelloModuleHostname {\n  input {\n    String
        module2load = \"Python/3.12.3-GCCcore-13.3.0\" # Default value can be overwritten\n  }\n\n  call
        Hostname {\n    input:\n      module_env = module2load\n  }\n\n  output {\n    File[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/0c3e668d-1f3a-4639-a657-3392218b721b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"HelloModuleHostname","workflowProcessingEvents":[{"cromwellId":"cromid-df37326","description":"PickedUp","timestamp":"2025-11-30T03:45:31.264Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for module functionality on Gizmo.\n## Added
        verification of module loading.\n\n#### WORKFLOW DEFINITION\n\nworkflow HelloModuleHostname
        {\n  input {\n    String module2load = \"Python/3.12.3-GCCcore-13.3.0\" #
        Default value can be overwritten\n  }\n\n  call Hostname {\n    input:\n      module_env
       [...]
[...]
