interactions:
- request:
    body: "--a2574c944d29735a8d772ddd85710b84\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--a2574c944d29735a8d772ddd85710b84\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a2574c944d29735a8d772ddd85710b84--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=a2574c944d29735a8d772ddd85710b84
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"55b801eb-68da-443d-ae96-6c07a176e1f0","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/55b801eb-68da-443d-ae96-6c07a176e1f0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"55b801eb-68da-443d-ae96-6c07a176e1f0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-55b801eb-68da-443d-ae96-6c07a176e1f0"},"submission":"2025-12-08T17:15:09.829Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/55b801eb-68da-443d-ae96-6c07a176e1f0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:33:54.787Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-12-08T17:33:55.839Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-08T17:33:54.788Z","id":"55b801eb-68da-443d-ae96-6c07a176e1f0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-55b801eb-68da-443d-ae96-6c07a176e1f0"},"submission":"2025-12-08T17:15:09.829Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/55b801eb-68da-443d-ae96-6c07a176e1f0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:33:54.787Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"43231687","backend":"gizmo","attempt":1,"start":"2025-12-08T17:33:55.839Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-08T17:33:54.788Z","id":"55b801eb-68da-443d-ae96-6c07a176e1f0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-55b801eb-68da-443d-ae96-6c07a176e1f0"},"submission":"2025-12-08T17:15:09.829Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/55b801eb-68da-443d-ae96-6c07a176e1f0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:33:54.787Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"43231687","backend":"gizmo","end":"2025-12-08T17:34:40.711Z","start":"2025-12-08T17:33:55.839Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-12-08T17:34:02.005Z","description":"PreparingJob","endTime":"2025-12-08T17:34:02.013Z"},{"startTime":"2025-12-08T17:33:55.839Z","description":"Pending","endTime":"2025-12-08T17:33:55.839Z"},{"startTime":"2025-12-08T17:34:02.005Z","description":"WaitingForValueStore","endTime":"2025-12-08T17:34:02.005Z"},{"startTime":"2025-12-08T17:34:02.013Z","description":"RunningJob","endTime":"2025-12-08T17:34:40.508Z"},{"startTime":"2025-12-08T17:34:40.508Z","description":"UpdatingJobStore","endTime":"2025-12-08T17:34:40.711Z"},{"startTime":"2025-12-08T17:33:55.839Z","description":"RequestingExecutionToken","endTime":"2025-12-08T17:34:02.005Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/55b801eb-68da-443d-ae96-6c07a176e1f0","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-08T17:33:54.788Z","id":"55b801eb-68da-443d-ae96-6c07a176e1f0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-55b801eb-68da-443d-ae96-6c07a176e1f0"},"submission":"2025-12-08T17:15:09.829Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
