interactions:
- request:
    body: "--a1fa8f80f72f6e0737bd0e2715766f68\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--a1fa8f80f72f6e0737bd0e2715766f68\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a1fa8f80f72f6e0737bd0e2715766f68--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=a1fa8f80f72f6e0737bd0e2715766f68
    method: POST
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1
  response:
    body:
      string: '{"id":"89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7"},"submission":"2025-12-21T03:49:14.333Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-a3dbb85","description":"PickedUp","timestamp":"2025-12-21T04:07:43.037Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-12-21T04:07:44.094Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-21T04:07:43.038Z","id":"89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7"},"submission":"2025-12-21T03:49:14.333Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-a3dbb85","description":"PickedUp","timestamp":"2025-12-21T04:07:43.037Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/call-create_files/execution/stdout","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-12-21T04:07:44.094Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-21T04:07:43.038Z","id":"89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7"},"submission":"2025-12-21T03:49:14.333Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-a3dbb85","description":"PickedUp","timestamp":"2025-12-21T04:07:43.037Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"43905217","backend":"gizmo","attempt":1,"start":"2025-12-21T04:07:44.094Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-21T04:07:43.038Z","id":"89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-89c70c2e-fd68-499e-8b3f-6cc40f3eb6c7"},"submission":"2025-12-21T03:49:14.333Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
