interactions:
- request:
    body: "--3db587f7b5f9c81770d3d2862e2f5e92\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--3db587f7b5f9c81770d3d2862e2f5e92\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3db587f7b5f9c81770d3d2862e2f5e92--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=3db587f7b5f9c81770d3d2862e2f5e92
    method: POST
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1
  response:
    body:
      string: '{"id":"de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0"},"submission":"2025-10-12T03:28:54.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-e320874","description":"PickedUp","timestamp":"2025-10-12T03:49:30.837Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-10-12T03:49:31.880Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-12T03:49:30.838Z","id":"de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0"},"submission":"2025-10-12T03:28:54.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-e320874","description":"PickedUp","timestamp":"2025-10-12T03:49:30.837Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"37626261","backend":"gizmo","attempt":1,"start":"2025-10-12T03:49:31.880Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-12T03:49:30.838Z","id":"de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0"},"submission":"2025-10-12T03:28:54.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-e320874","description":"Finished","timestamp":"2025-10-12T03:50:13.700Z","cromwellVersion":"87"},{"cromwellId":"cromid-e320874","description":"PickedUp","timestamp":"2025-10-12T03:49:30.837Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"37626261","backend":"gizmo","end":"2025-10-12T03:50:11.732Z","start":"2025-10-12T03:49:31.880Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-10-12T03:49:39.976Z","description":"RunningJob","endTime":"2025-10-12T03:50:10.980Z"},{"startTime":"2025-10-12T03:49:31.881Z","description":"RequestingExecutionToken","endTime":"2025-10-12T03:49:39.967Z"},{"startTime":"2025-10-12T03:49:39.967Z","description":"WaitingForValueStore","endTime":"2025-10-12T03:49:39.968Z"},{"startTime":"2025-10-12T03:50:10.980Z","description":"UpdatingJobStore","endTime":"2025-10-12T03:50:11.732Z"},{"startTime":"2025-10-12T03:49:31.880Z","description":"Pending","endTime":"2025-10-12T03:49:31.881Z"},{"startTime":"2025-10-12T03:49:39.968Z","description":"PreparingJob","endTime":"2025-10-12T03:49:39.976Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-10-12T03:50:13.700Z","start":"2025-10-12T03:49:30.838Z","id":"de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de2fdeb6-4cbb-4c8e-a5d1-8eb3306546d0"},"submission":"2025-10-12T03:28:54.255Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
