interactions:
- request:
    body: "--867b2c7e4c4798820a6d6e5917d2ba07\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--867b2c7e4c4798820a6d6e5917d2ba07\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--867b2c7e4c4798820a6d6e5917d2ba07--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=867b2c7e4c4798820a6d6e5917d2ba07
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"e7877a31-2a44-465a-a440-3371d18bc2db","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/e7877a31-2a44-465a-a440-3371d18bc2db/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"e7877a31-2a44-465a-a440-3371d18bc2db","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7877a31-2a44-465a-a440-3371d18bc2db"},"submission":"2025-05-12T18:40:27.719Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/e7877a31-2a44-465a-a440-3371d18bc2db/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-12T19:12:24.117Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-05-12T19:12:25.199Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-12T19:12:24.117Z","id":"e7877a31-2a44-465a-a440-3371d18bc2db","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7877a31-2a44-465a-a440-3371d18bc2db"},"submission":"2025-05-12T18:40:27.719Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/e7877a31-2a44-465a-a440-3371d18bc2db/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-12T19:12:24.117Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"21175221","backend":"gizmo","attempt":1,"start":"2025-05-12T19:12:25.199Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-12T19:12:24.117Z","id":"e7877a31-2a44-465a-a440-3371d18bc2db","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7877a31-2a44-465a-a440-3371d18bc2db"},"submission":"2025-05-12T18:40:27.719Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/e7877a31-2a44-465a-a440-3371d18bc2db/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-12T19:12:24.117Z","cromwellVersion":"87"},{"cromwellId":"cromid-5e35139","description":"Finished","timestamp":"2025-05-12T19:13:00.899Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"21175221","backend":"gizmo","end":"2025-05-12T19:12:59.722Z","start":"2025-05-12T19:12:25.199Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-05-12T19:12:28.055Z","description":"RunningJob","endTime":"2025-05-12T19:12:59.272Z"},{"startTime":"2025-05-12T19:12:28.047Z","description":"PreparingJob","endTime":"2025-05-12T19:12:28.055Z"},{"startTime":"2025-05-12T19:12:25.199Z","description":"Pending","endTime":"2025-05-12T19:12:25.199Z"},{"startTime":"2025-05-12T19:12:28.047Z","description":"WaitingForValueStore","endTime":"2025-05-12T19:12:28.047Z"},{"startTime":"2025-05-12T19:12:59.272Z","description":"UpdatingJobStore","endTime":"2025-05-12T19:12:59.722Z"},{"startTime":"2025-05-12T19:12:25.199Z","description":"RequestingExecutionToken","endTime":"2025-05-12T19:12:28.047Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e7877a31-2a44-465a-a440-3371d18bc2db","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-05-12T19:13:00.899Z","start":"2025-05-12T19:12:24.117Z","id":"e7877a31-2a44-465a-a440-3371d18bc2db","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e7877a31-2a44-465a-a440-3371d18bc2db"},"submission":"2025-05-12T18:40:27.719Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
