interactions:
- request:
    body: "--70c6f7410fc182bd1388d3d02d3c490b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--70c6f7410fc182bd1388d3d02d3c490b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--70c6f7410fc182bd1388d3d02d3c490b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=70c6f7410fc182bd1388d3d02d3c490b
    method: POST
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1
  response:
    body:
      string: '{"id":"5ba38d62-dd08-4536-8475-3b0d760509d1","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/5ba38d62-dd08-4536-8475-3b0d760509d1/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5ba38d62-dd08-4536-8475-3b0d760509d1\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/5ba38d62-dd08-4536-8475-3b0d760509d1/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"5ba38d62-dd08-4536-8475-3b0d760509d1","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5ba38d62-dd08-4536-8475-3b0d760509d1"},"submission":"2025-09-07T03:23:53.927Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
