interactions:
- request:
    body: "--25308dd5181c8d5c693d600338491413\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--25308dd5181c8d5c693d600338491413\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--25308dd5181c8d5c693d600338491413--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=25308dd5181c8d5c693d600338491413
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0"},"submission":"2026-08-09T03:38:36.202Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T03:40:46.973Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-08-09T03:40:48.033Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T03:40:46.974Z","id":"5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0"},"submission":"2026-08-09T03:38:36.202Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T03:40:46.973Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-08-09T03:40:48.033Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T03:40:46.974Z","id":"5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0"},"submission":"2026-08-09T03:38:36.202Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T03:40:46.973Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"62591491","backend":"gizmo","attempt":1,"start":"2026-08-09T03:40:48.033Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-09T03:40:46.974Z","id":"5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0"},"submission":"2026-08-09T03:38:36.202Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T03:40:46.973Z","cromwellVersion":"87"},{"cromwellId":"cromid-16eede1","description":"Finished","timestamp":"2026-08-09T03:41:31.892Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"62591491","backend":"gizmo","end":"2026-08-09T03:41:30.864Z","start":"2026-08-09T03:40:48.033Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-08-09T03:40:56.433Z","description":"WaitingForValueStore","endTime":"2026-08-09T03:40:56.434Z"},{"startTime":"2026-08-09T03:40:48.033Z","description":"RequestingExecutionToken","endTime":"2026-08-09T03:40:56.433Z"},{"startTime":"2026-08-09T03:40:56.445Z","description":"RunningJob","endTime":"2026-08-09T03:41:30.623Z"},{"startTime":"2026-08-09T03:41:30.623Z","description":"UpdatingJobStore","endTime":"2026-08-09T03:41:30.864Z"},{"startTime":"2026-08-09T03:40:56.434Z","description":"PreparingJob","endTime":"2026-08-09T03:40:56.445Z"},{"startTime":"2026-08-09T03:40:48.033Z","description":"Pending","endTime":"2026-08-09T03:40:48.033Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-08-09T03:41:31.892Z","start":"2026-08-09T03:40:46.974Z","id":"5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5585e6f8-1f0f-409d-9f2d-0ffd874a2bf0"},"submission":"2026-08-09T03:38:36.202Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
