interactions:
- request:
    body: "--b4fe05165b7a46ca1d8b3187daabddaf\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--b4fe05165b7a46ca1d8b3187daabddaf\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b4fe05165b7a46ca1d8b3187daabddaf--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b4fe05165b7a46ca1d8b3187daabddaf
    method: POST
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1
  response:
    body:
      string: '{"id":"44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-44ab8ad1-9ac8-494e-ac8d-efe8b36b961c"},"submission":"2025-04-17T16:10:55.010Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3c9da38","description":"PickedUp","timestamp":"2025-04-17T16:19:18.867Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-04-17T16:19:19.910Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-17T16:19:18.867Z","id":"44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-44ab8ad1-9ac8-494e-ac8d-efe8b36b961c"},"submission":"2025-04-17T16:10:55.010Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3c9da38","description":"PickedUp","timestamp":"2025-04-17T16:19:18.867Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-04-17T16:19:19.910Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-17T16:19:18.867Z","id":"44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-44ab8ad1-9ac8-494e-ac8d-efe8b36b961c"},"submission":"2025-04-17T16:10:55.010Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3c9da38","description":"PickedUp","timestamp":"2025-04-17T16:19:18.867Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"18672384","backend":"gizmo","attempt":1,"start":"2025-04-17T16:19:19.910Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-17T16:19:18.867Z","id":"44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-44ab8ad1-9ac8-494e-ac8d-efe8b36b961c"},"submission":"2025-04-17T16:10:55.010Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3c9da38","description":"PickedUp","timestamp":"2025-04-17T16:19:18.867Z","cromwellVersion":"87"},{"cromwellId":"cromid-3c9da38","description":"Finished","timestamp":"2025-04-17T16:20:01.730Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"18672384","backend":"gizmo","end":"2025-04-17T16:20:00.474Z","start":"2025-04-17T16:19:19.910Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-04-17T16:19:26.095Z","description":"RunningJob","endTime":"2025-04-17T16:19:59.873Z"},{"startTime":"2025-04-17T16:19:26.088Z","description":"WaitingForValueStore","endTime":"2025-04-17T16:19:26.088Z"},{"startTime":"2025-04-17T16:19:19.910Z","description":"RequestingExecutionToken","endTime":"2025-04-17T16:19:26.088Z"},{"startTime":"2025-04-17T16:19:26.088Z","description":"PreparingJob","endTime":"2025-04-17T16:19:26.095Z"},{"startTime":"2025-04-17T16:19:59.873Z","description":"UpdatingJobStore","endTime":"2025-04-17T16:20:00.474Z"},{"startTime":"2025-04-17T16:19:19.910Z","description":"Pending","endTime":"2025-04-17T16:19:19.910Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-04-17T16:20:01.730Z","start":"2025-04-17T16:19:18.867Z","id":"44ab8ad1-9ac8-494e-ac8d-efe8b36b961c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-44ab8ad1-9ac8-494e-ac8d-efe8b36b961c"},"submission":"2025-04-17T16:10:55.010Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
