interactions:
- request:
    body: "--e57e9e030cbdcd3f00b56207e7bb1abc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--e57e9e030cbdcd3f00b56207e7bb1abc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e57e9e030cbdcd3f00b56207e7bb1abc--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e57e9e030cbdcd3f00b56207e7bb1abc
    method: POST
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1
  response:
    body:
      string: '{"id":"cf486d79-8fde-4bd3-8eff-da0b45e86d32","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/cf486d79-8fde-4bd3-8eff-da0b45e86d32/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"cf486d79-8fde-4bd3-8eff-da0b45e86d32","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cf486d79-8fde-4bd3-8eff-da0b45e86d32"},"submission":"2026-04-27T17:01:43.187Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/cf486d79-8fde-4bd3-8eff-da0b45e86d32/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:09:26.032Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-04-27T17:09:27.071Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-27T17:09:26.033Z","id":"cf486d79-8fde-4bd3-8eff-da0b45e86d32","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cf486d79-8fde-4bd3-8eff-da0b45e86d32"},"submission":"2026-04-27T17:01:43.187Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/cf486d79-8fde-4bd3-8eff-da0b45e86d32/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:09:26.032Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-04-27T17:09:27.071Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-27T17:09:26.033Z","id":"cf486d79-8fde-4bd3-8eff-da0b45e86d32","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cf486d79-8fde-4bd3-8eff-da0b45e86d32"},"submission":"2026-04-27T17:01:43.187Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/cf486d79-8fde-4bd3-8eff-da0b45e86d32/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:09:26.032Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"51703369","backend":"gizmo","attempt":1,"start":"2026-04-27T17:09:27.071Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-27T17:09:26.033Z","id":"cf486d79-8fde-4bd3-8eff-da0b45e86d32","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cf486d79-8fde-4bd3-8eff-da0b45e86d32"},"submission":"2026-04-27T17:01:43.187Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/cf486d79-8fde-4bd3-8eff-da0b45e86d32/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:09:26.032Z","cromwellVersion":"87"},{"cromwellId":"cromid-399e7d6","description":"Finished","timestamp":"2026-04-27T17:10:11.953Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"51703369","backend":"gizmo","end":"2026-04-27T17:10:10.715Z","start":"2026-04-27T17:09:27.071Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-04-27T17:09:35.018Z","description":"RunningJob","endTime":"2026-04-27T17:10:10.097Z"},{"startTime":"2026-04-27T17:09:35.010Z","description":"PreparingJob","endTime":"2026-04-27T17:09:35.018Z"},{"startTime":"2026-04-27T17:09:27.072Z","description":"RequestingExecutionToken","endTime":"2026-04-27T17:09:35.010Z"},{"startTime":"2026-04-27T17:10:10.097Z","description":"UpdatingJobStore","endTime":"2026-04-27T17:10:10.715Z"},{"startTime":"2026-04-27T17:09:27.071Z","description":"Pending","endTime":"2026-04-27T17:09:27.072Z"},{"startTime":"2026-04-27T17:09:35.010Z","description":"WaitingForValueStore","endTime":"2026-04-27T17:09:35.010Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/cf486d79-8fde-4bd3-8eff-da0b45e86d32","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-27T17:10:11.953Z","start":"2026-04-27T17:09:26.033Z","id":"cf486d79-8fde-4bd3-8eff-da0b45e86d32","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-cf486d79-8fde-4bd3-8eff-da0b45e86d32"},"submission":"2026-04-27T17:01:43.187Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
