interactions:
- request:
    body: "--6705ea1035739f4085fbce26622aef66\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--6705ea1035739f4085fbce26622aef66\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6705ea1035739f4085fbce26622aef66--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=6705ea1035739f4085fbce26622aef66
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"311ebd20-df9d-48a8-8696-9009287a1c32","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/311ebd20-df9d-48a8-8696-9009287a1c32/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 311ebd20-df9d-48a8-8696-9009287a1c32\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/311ebd20-df9d-48a8-8696-9009287a1c32/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"311ebd20-df9d-48a8-8696-9009287a1c32","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-311ebd20-df9d-48a8-8696-9009287a1c32"},"submission":"2026-07-05T04:31:12.749Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
