interactions:
- request:
    body: "--5df94792e510bb52097b223fdf462fac\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--5df94792e510bb52097b223fdf462fac\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5df94792e510bb52097b223fdf462fac--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=5df94792e510bb52097b223fdf462fac
    method: POST
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1
  response:
    body:
      string: '{"id":"f75f12f9-2041-4ec2-beb6-460403036e59","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/f75f12f9-2041-4ec2-beb6-460403036e59/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"f75f12f9-2041-4ec2-beb6-460403036e59","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75f12f9-2041-4ec2-beb6-460403036e59"},"submission":"2025-12-14T03:38:59.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/f75f12f9-2041-4ec2-beb6-460403036e59/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T03:43:39.664Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-12-14T03:43:40.708Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-14T03:43:39.665Z","id":"f75f12f9-2041-4ec2-beb6-460403036e59","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75f12f9-2041-4ec2-beb6-460403036e59"},"submission":"2025-12-14T03:38:59.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/f75f12f9-2041-4ec2-beb6-460403036e59/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T03:43:39.664Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-12-14T03:43:40.708Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-14T03:43:39.665Z","id":"f75f12f9-2041-4ec2-beb6-460403036e59","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75f12f9-2041-4ec2-beb6-460403036e59"},"submission":"2025-12-14T03:38:59.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/f75f12f9-2041-4ec2-beb6-460403036e59/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T03:43:39.664Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"43391209","backend":"gizmo","attempt":1,"start":"2025-12-14T03:43:40.708Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-14T03:43:39.665Z","id":"f75f12f9-2041-4ec2-beb6-460403036e59","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75f12f9-2041-4ec2-beb6-460403036e59"},"submission":"2025-12-14T03:38:59.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/f75f12f9-2041-4ec2-beb6-460403036e59/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T03:43:39.664Z","cromwellVersion":"87"},{"cromwellId":"cromid-444190d","description":"Finished","timestamp":"2025-12-14T03:44:28.651Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"43391209","backend":"gizmo","end":"2025-12-14T03:44:27.061Z","start":"2025-12-14T03:43:40.708Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-12-14T03:44:27.011Z","description":"UpdatingJobStore","endTime":"2025-12-14T03:44:27.061Z"},{"startTime":"2025-12-14T03:43:40.708Z","description":"RequestingExecutionToken","endTime":"2025-12-14T03:43:47.276Z"},{"startTime":"2025-12-14T03:43:47.276Z","description":"PreparingJob","endTime":"2025-12-14T03:43:47.306Z"},{"startTime":"2025-12-14T03:43:47.306Z","description":"RunningJob","endTime":"2025-12-14T03:44:27.011Z"},{"startTime":"2025-12-14T03:43:47.276Z","description":"WaitingForValueStore","endTime":"2025-12-14T03:43:47.276Z"},{"startTime":"2025-12-14T03:43:40.708Z","description":"Pending","endTime":"2025-12-14T03:43:40.708Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/f75f12f9-2041-4ec2-beb6-460403036e59","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-12-14T03:44:28.651Z","start":"2025-12-14T03:43:39.665Z","id":"f75f12f9-2041-4ec2-beb6-460403036e59","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f75f12f9-2041-4ec2-beb6-460403036e59"},"submission":"2025-12-14T03:38:59.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
