interactions:
- request:
    body: "--36878165324e6bf1b4a557b897310a1f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--36878165324e6bf1b4a557b897310a1f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--36878165324e6bf1b4a557b897310a1f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=36878165324e6bf1b4a557b897310a1f
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"fa627b66-54f0-4346-9dac-1dc247dd8746","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fa627b66-54f0-4346-9dac-1dc247dd8746/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"fa627b66-54f0-4346-9dac-1dc247dd8746","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fa627b66-54f0-4346-9dac-1dc247dd8746"},"submission":"2026-08-16T03:24:35.088Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fa627b66-54f0-4346-9dac-1dc247dd8746/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:29:57.176Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-08-16T03:29:58.225Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:29:57.176Z","id":"fa627b66-54f0-4346-9dac-1dc247dd8746","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fa627b66-54f0-4346-9dac-1dc247dd8746"},"submission":"2026-08-16T03:24:35.088Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fa627b66-54f0-4346-9dac-1dc247dd8746/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:29:57.176Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-08-16T03:29:58.225Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:29:57.176Z","id":"fa627b66-54f0-4346-9dac-1dc247dd8746","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fa627b66-54f0-4346-9dac-1dc247dd8746"},"submission":"2026-08-16T03:24:35.088Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fa627b66-54f0-4346-9dac-1dc247dd8746/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:29:57.176Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"64208694","backend":"gizmo","attempt":1,"start":"2026-08-16T03:29:58.225Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:29:57.176Z","id":"fa627b66-54f0-4346-9dac-1dc247dd8746","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fa627b66-54f0-4346-9dac-1dc247dd8746"},"submission":"2026-08-16T03:24:35.088Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/fa627b66-54f0-4346-9dac-1dc247dd8746/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:29:57.176Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"64208694","backend":"gizmo","end":"2026-08-16T03:30:54.789Z","start":"2026-08-16T03:29:58.225Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-08-16T03:30:06.344Z","description":"PreparingJob","endTime":"2026-08-16T03:30:06.358Z"},{"startTime":"2026-08-16T03:29:58.226Z","description":"RequestingExecutionToken","endTime":"2026-08-16T03:30:06.344Z"},{"startTime":"2026-08-16T03:30:54.236Z","description":"UpdatingJobStore","endTime":"2026-08-16T03:30:54.789Z"},{"startTime":"2026-08-16T03:29:58.226Z","description":"Pending","endTime":"2026-08-16T03:29:58.226Z"},{"startTime":"2026-08-16T03:30:06.344Z","description":"WaitingForValueStore","endTime":"2026-08-16T03:30:06.344Z"},{"startTime":"2026-08-16T03:30:06.358Z","description":"RunningJob","endTime":"2026-08-16T03:30:54.236Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/fa627b66-54f0-4346-9dac-1dc247dd8746","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:29:57.176Z","id":"fa627b66-54f0-4346-9dac-1dc247dd8746","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fa627b66-54f0-4346-9dac-1dc247dd8746"},"submission":"2026-08-16T03:24:35.088Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
