interactions:
- request:
    body: "--29a43088aac03be82ef69c267e07c2a4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--29a43088aac03be82ef69c267e07c2a4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--29a43088aac03be82ef69c267e07c2a4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=29a43088aac03be82ef69c267e07c2a4
    method: POST
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1
  response:
    body:
      string: '{"id":"93bc5098-f9ab-4d9f-a942-8b1206bbdd8b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/93bc5098-f9ab-4d9f-a942-8b1206bbdd8b/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 93bc5098-f9ab-4d9f-a942-8b1206bbdd8b\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/93bc5098-f9ab-4d9f-a942-8b1206bbdd8b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"93bc5098-f9ab-4d9f-a942-8b1206bbdd8b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-93bc5098-f9ab-4d9f-a942-8b1206bbdd8b"},"submission":"2025-11-23T03:39:00.509Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
