interactions:
- request:
    body: "--2480435ab77fc7b05a2ed206dfa6711b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--2480435ab77fc7b05a2ed206dfa6711b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2480435ab77fc7b05a2ed206dfa6711b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2480435ab77fc7b05a2ed206dfa6711b
    method: POST
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1
  response:
    body:
      string: '{"id":"061aef9f-eb46-41fd-b5ec-724cc42dd6be","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/061aef9f-eb46-41fd-b5ec-724cc42dd6be/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 061aef9f-eb46-41fd-b5ec-724cc42dd6be\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/061aef9f-eb46-41fd-b5ec-724cc42dd6be/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"061aef9f-eb46-41fd-b5ec-724cc42dd6be","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-061aef9f-eb46-41fd-b5ec-724cc42dd6be"},"submission":"2025-11-09T03:29:18.392Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
