interactions:
- request:
    body: "--6e650ca0d23ff43d3b8ee2b62211688b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--6e650ca0d23ff43d3b8ee2b62211688b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6e650ca0d23ff43d3b8ee2b62211688b--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=6e650ca0d23ff43d3b8ee2b62211688b
    method: POST
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1
  response:
    body:
      string: '{"id":"90b89f2f-a4fd-4a93-8768-41c06611f5fe","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/90b89f2f-a4fd-4a93-8768-41c06611f5fe/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"90b89f2f-a4fd-4a93-8768-41c06611f5fe","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90b89f2f-a4fd-4a93-8768-41c06611f5fe"},"submission":"2026-04-27T17:08:20.678Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/90b89f2f-a4fd-4a93-8768-41c06611f5fe/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:28:47.771Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-04-27T17:28:48.812Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-27T17:28:47.772Z","id":"90b89f2f-a4fd-4a93-8768-41c06611f5fe","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90b89f2f-a4fd-4a93-8768-41c06611f5fe"},"submission":"2026-04-27T17:08:20.678Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/90b89f2f-a4fd-4a93-8768-41c06611f5fe/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:28:47.771Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"effectiveCallCachingMode":"CallCachingOff","allowResultReuse":false},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-04-27T17:28:48.812Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-27T17:28:47.772Z","id":"90b89f2f-a4fd-4a93-8768-41c06611f5fe","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90b89f2f-a4fd-4a93-8768-41c06611f5fe"},"submission":"2026-04-27T17:08:20.678Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/90b89f2f-a4fd-4a93-8768-41c06611f5fe/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:28:47.771Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"effectiveCallCachingMode":"CallCachingOff","allowResultReuse":false},"inputs":{},"jobId":"51705534","backend":"gizmo","attempt":1,"start":"2026-04-27T17:28:48.812Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-27T17:28:47.772Z","id":"90b89f2f-a4fd-4a93-8768-41c06611f5fe","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90b89f2f-a4fd-4a93-8768-41c06611f5fe"},"submission":"2026-04-27T17:08:20.678Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/90b89f2f-a4fd-4a93-8768-41c06611f5fe/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"Finished","timestamp":"2026-04-27T17:29:31.652Z","cromwellVersion":"87"},{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:28:47.771Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"effectiveCallCachingMode":"CallCachingOff","allowResultReuse":false},"inputs":{},"returnCode":0,"jobId":"51705534","backend":"gizmo","end":"2026-04-27T17:29:29.714Z","start":"2026-04-27T17:28:48.812Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-04-27T17:28:48.812Z","description":"RequestingExecutionToken","endTime":"2026-04-27T17:28:55.010Z"},{"startTime":"2026-04-27T17:28:55.010Z","description":"WaitingForValueStore","endTime":"2026-04-27T17:28:55.010Z"},{"startTime":"2026-04-27T17:29:28.912Z","description":"UpdatingJobStore","endTime":"2026-04-27T17:29:29.714Z"},{"startTime":"2026-04-27T17:28:55.010Z","description":"PreparingJob","endTime":"2026-04-27T17:28:55.017Z"},{"startTime":"2026-04-27T17:28:55.017Z","description":"RunningJob","endTime":"2026-04-27T17:29:28.912Z"},{"startTime":"2026-04-27T17:28:48.812Z","description":"Pending","endTime":"2026-04-27T17:28:48.812Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/90b89f2f-a4fd-4a93-8768-41c06611f5fe","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-27T17:29:31.652Z","start":"2026-04-27T17:28:47.772Z","id":"90b89f2f-a4fd-4a93-8768-41c06611f5fe","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90b89f2f-a4fd-4a93-8768-41c06611f5fe"},"submission":"2026-04-27T17:08:20.678Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
