interactions:
- request:
    body: "--021510789d4e0b82ffdb4fd0c4b13b96\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--021510789d4e0b82ffdb4fd0c4b13b96\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--021510789d4e0b82ffdb4fd0c4b13b96--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=021510789d4e0b82ffdb4fd0c4b13b96
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"9dbf0669-c720-467c-b683-f7012a3b5370","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/9dbf0669-c720-467c-b683-f7012a3b5370/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"9dbf0669-c720-467c-b683-f7012a3b5370","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9dbf0669-c720-467c-b683-f7012a3b5370"},"submission":"2026-09-20T03:24:41.814Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/9dbf0669-c720-467c-b683-f7012a3b5370/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:31:38.324Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-09-20T03:31:39.367Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:31:38.325Z","id":"9dbf0669-c720-467c-b683-f7012a3b5370","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9dbf0669-c720-467c-b683-f7012a3b5370"},"submission":"2026-09-20T03:24:41.814Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/9dbf0669-c720-467c-b683-f7012a3b5370/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:31:38.324Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-09-20T03:31:39.367Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:31:38.325Z","id":"9dbf0669-c720-467c-b683-f7012a3b5370","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9dbf0669-c720-467c-b683-f7012a3b5370"},"submission":"2026-09-20T03:24:41.814Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/9dbf0669-c720-467c-b683-f7012a3b5370/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:31:38.324Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"8627402","backend":"gizmo","attempt":1,"start":"2026-09-20T03:31:39.367Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:31:38.325Z","id":"9dbf0669-c720-467c-b683-f7012a3b5370","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9dbf0669-c720-467c-b683-f7012a3b5370"},"submission":"2026-09-20T03:24:41.814Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/9dbf0669-c720-467c-b683-f7012a3b5370/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:31:38.324Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"8627402","backend":"gizmo","end":"2026-09-20T03:32:19.930Z","start":"2026-09-20T03:31:39.367Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-09-20T03:31:46.155Z","description":"WaitingForValueStore","endTime":"2026-09-20T03:31:46.155Z"},{"startTime":"2026-09-20T03:32:19.798Z","description":"UpdatingJobStore","endTime":"2026-09-20T03:32:19.930Z"},{"startTime":"2026-09-20T03:31:46.155Z","description":"PreparingJob","endTime":"2026-09-20T03:31:46.164Z"},{"startTime":"2026-09-20T03:31:39.367Z","description":"Pending","endTime":"2026-09-20T03:31:39.367Z"},{"startTime":"2026-09-20T03:31:46.164Z","description":"RunningJob","endTime":"2026-09-20T03:32:19.798Z"},{"startTime":"2026-09-20T03:31:39.367Z","description":"RequestingExecutionToken","endTime":"2026-09-20T03:31:46.155Z"}]}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/9dbf0669-c720-467c-b683-f7012a3b5370","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:31:38.325Z","id":"9dbf0669-c720-467c-b683-f7012a3b5370","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9dbf0669-c720-467c-b683-f7012a3b5370"},"submission":"2026-09-20T03:24:41.814Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
