interactions:
- request:
    body: "--cdaa804341d8460f243040c9c165cbdb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--cdaa804341d8460f243040c9c165cbdb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--cdaa804341d8460f243040c9c165cbdb--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=cdaa804341d8460f243040c9c165cbdb
    method: POST
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1
  response:
    body:
      string: '{"id":"ca0b4690-d28a-43ac-986b-eee77125ea30","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/ca0b4690-d28a-43ac-986b-eee77125ea30/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ca0b4690-d28a-43ac-986b-eee77125ea30\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/ca0b4690-d28a-43ac-986b-eee77125ea30/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ca0b4690-d28a-43ac-986b-eee77125ea30","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ca0b4690-d28a-43ac-986b-eee77125ea30"},"submission":"2025-10-12T03:23:26.952Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
