interactions:
- request:
    body: "--9ff4d18c0519ffd59d5dac192af8343d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSymlink.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n
      \       Array[File] matched_files = flatten([create_nested_files.matched_files_top,
      create_nested_files.matched_files_nested])\n        Array[File] symlink_matches
      = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
      {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\" >
      subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
      Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
      symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File]
      matched_symlinks = glob(\"symlinks/*.txt\")\n    }\n}\n\r\n--9ff4d18c0519ffd59d5dac192af8343d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9ff4d18c0519ffd59d5dac192af8343d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9ff4d18c0519ffd59d5dac192af8343d
    method: POST
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1
  response:
    body:
      string: '{"id":"394bb627-3abf-43f3-927e-ad494d548e8a","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/394bb627-3abf-43f3-927e-ad494d548e8a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globSymlink
        {\n    call create_nested_files\n    output {\n        Array[File] matched_files
        = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"394bb627-3abf-43f3-927e-ad494d548e8a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-394bb627-3abf-43f3-927e-ad494d548e8a"},"submission":"2026-06-07T04:46:27.635Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/394bb627-3abf-43f3-927e-ad494d548e8a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSymlink","workflowProcessingEvents":[{"cromwellId":"cromid-87d329d","description":"PickedUp","timestamp":"2026-06-07T05:06:41.547Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSymlink.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-06-07T05:06:42.617Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSymlink/394bb627-3abf-43f3-927e-ad494d548e8a","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-06-07T05:06:41.547Z","id":"394bb627-3abf-43f3-927e-ad494d548e8a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-394bb627-3abf-43f3-927e-ad494d548e8a"},"submission":"2026-06-07T04:46:27.635Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
