interactions:
- request:
    body: "--92ec14bc1b6a9255e46d5dc2f126abae\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--92ec14bc1b6a9255e46d5dc2f126abae\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--92ec14bc1b6a9255e46d5dc2f126abae--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=92ec14bc1b6a9255e46d5dc2f126abae
    method: POST
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1
  response:
    body:
      string: '{"id":"dc4e1609-e3e4-491b-a33b-990e30696050","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/dc4e1609-e3e4-491b-a33b-990e30696050/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"dc4e1609-e3e4-491b-a33b-990e30696050","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dc4e1609-e3e4-491b-a33b-990e30696050"},"submission":"2025-06-22T03:35:22.131Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/dc4e1609-e3e4-491b-a33b-990e30696050/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"description":"PickedUp","cromwellVersion":"87","cromwellId":"cromid-17cb9df","timestamp":"2025-06-22T03:42:57.065Z"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-22T03:42:58.147Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-22T03:42:57.066Z","id":"dc4e1609-e3e4-491b-a33b-990e30696050","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dc4e1609-e3e4-491b-a33b-990e30696050"},"submission":"2025-06-22T03:35:22.131Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/dc4e1609-e3e4-491b-a33b-990e30696050/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"description":"PickedUp","cromwellVersion":"87","cromwellId":"cromid-17cb9df","timestamp":"2025-06-22T03:42:57.065Z"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-22T03:42:58.147Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-22T03:42:57.066Z","id":"dc4e1609-e3e4-491b-a33b-990e30696050","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dc4e1609-e3e4-491b-a33b-990e30696050"},"submission":"2025-06-22T03:35:22.131Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/dc4e1609-e3e4-491b-a33b-990e30696050/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"description":"PickedUp","cromwellVersion":"87","cromwellId":"cromid-17cb9df","timestamp":"2025-06-22T03:42:57.065Z"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"25516128","backend":"gizmo","attempt":1,"start":"2025-06-22T03:42:58.147Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-22T03:42:57.066Z","id":"dc4e1609-e3e4-491b-a33b-990e30696050","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dc4e1609-e3e4-491b-a33b-990e30696050"},"submission":"2025-06-22T03:35:22.131Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/dc4e1609-e3e4-491b-a33b-990e30696050/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"description":"PickedUp","cromwellVersion":"87","cromwellId":"cromid-17cb9df","timestamp":"2025-06-22T03:42:57.065Z"},{"timestamp":"2025-06-22T03:43:38.949Z","cromwellId":"cromid-17cb9df","cromwellVersion":"87","description":"Finished"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"25516128","backend":"gizmo","end":"2025-06-22T03:43:36.950Z","start":"2025-06-22T03:42:58.147Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-06-22T03:43:05.794Z","description":"PreparingJob","endTime":"2025-06-22T03:43:05.804Z"},{"startTime":"2025-06-22T03:43:36.017Z","description":"UpdatingJobStore","endTime":"2025-06-22T03:43:36.950Z"},{"startTime":"2025-06-22T03:42:58.148Z","description":"RequestingExecutionToken","endTime":"2025-06-22T03:43:05.794Z"},{"startTime":"2025-06-22T03:43:05.804Z","description":"RunningJob","endTime":"2025-06-22T03:43:36.017Z"},{"startTime":"2025-06-22T03:43:05.794Z","description":"WaitingForValueStore","endTime":"2025-06-22T03:43:05.794Z"},{"startTime":"2025-06-22T03:42:58.148Z","description":"Pending","endTime":"2025-06-22T03:42:58.148Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dc4e1609-e3e4-491b-a33b-990e30696050","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-22T03:43:38.949Z","start":"2025-06-22T03:42:57.066Z","id":"dc4e1609-e3e4-491b-a33b-990e30696050","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dc4e1609-e3e4-491b-a33b-990e30696050"},"submission":"2025-06-22T03:35:22.131Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
