interactions:
- request:
    body: "--542e6b54cb5bc20bb344a8ceb9bc361f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--542e6b54cb5bc20bb344a8ceb9bc361f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--542e6b54cb5bc20bb344a8ceb9bc361f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=542e6b54cb5bc20bb344a8ceb9bc361f
    method: POST
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1
  response:
    body:
      string: '{"id":"5b30e3a2-45e0-4300-af4e-a500fc286d5b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/5b30e3a2-45e0-4300-af4e-a500fc286d5b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"5b30e3a2-45e0-4300-af4e-a500fc286d5b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5b30e3a2-45e0-4300-af4e-a500fc286d5b"},"submission":"2026-02-22T03:58:24.804Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/5b30e3a2-45e0-4300-af4e-a500fc286d5b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:19:49.599Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-02-22T04:19:50.651Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-22T04:19:49.600Z","id":"5b30e3a2-45e0-4300-af4e-a500fc286d5b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5b30e3a2-45e0-4300-af4e-a500fc286d5b"},"submission":"2026-02-22T03:58:24.804Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/5b30e3a2-45e0-4300-af4e-a500fc286d5b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:19:49.599Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-02-22T04:19:50.651Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-22T04:19:49.600Z","id":"5b30e3a2-45e0-4300-af4e-a500fc286d5b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5b30e3a2-45e0-4300-af4e-a500fc286d5b"},"submission":"2026-02-22T03:58:24.804Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/5b30e3a2-45e0-4300-af4e-a500fc286d5b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:19:49.599Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"47886778","backend":"gizmo","attempt":1,"start":"2026-02-22T04:19:50.651Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-22T04:19:49.600Z","id":"5b30e3a2-45e0-4300-af4e-a500fc286d5b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5b30e3a2-45e0-4300-af4e-a500fc286d5b"},"submission":"2026-02-22T03:58:24.804Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/5b30e3a2-45e0-4300-af4e-a500fc286d5b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"Finished","timestamp":"2026-02-22T04:20:38.590Z","cromwellVersion":"87"},{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:19:49.599Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"47886778","backend":"gizmo","end":"2026-02-22T04:20:36.663Z","start":"2026-02-22T04:19:50.651Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-02-22T04:19:57.004Z","description":"RunningJob","endTime":"2026-02-22T04:20:36.030Z"},{"startTime":"2026-02-22T04:19:50.651Z","description":"RequestingExecutionToken","endTime":"2026-02-22T04:19:56.989Z"},{"startTime":"2026-02-22T04:19:56.990Z","description":"PreparingJob","endTime":"2026-02-22T04:19:57.004Z"},{"startTime":"2026-02-22T04:20:36.030Z","description":"UpdatingJobStore","endTime":"2026-02-22T04:20:36.663Z"},{"startTime":"2026-02-22T04:19:50.651Z","description":"Pending","endTime":"2026-02-22T04:19:50.651Z"},{"startTime":"2026-02-22T04:19:56.989Z","description":"WaitingForValueStore","endTime":"2026-02-22T04:19:56.990Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5b30e3a2-45e0-4300-af4e-a500fc286d5b","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-02-22T04:20:38.590Z","start":"2026-02-22T04:19:49.600Z","id":"5b30e3a2-45e0-4300-af4e-a500fc286d5b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5b30e3a2-45e0-4300-af4e-a500fc286d5b"},"submission":"2026-02-22T03:58:24.804Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
