interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/6674cda8-042c-4840-914f-99fbd68e391a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow test_nonstandard_outputs
        {\n    call generate_diverse_outputs\n    \n    output {\n        File special_chars
        = generate_diverse_outputs.file_special_chars\n        File no_extension =
        generate_diverse_outputs.file_no_extension\n        File nested_output = generate_diverse_outputs.nested_file\n        File
        symlink_file = generate_diverse_outputs.symlink_output\n        Array[File]
        glob_files = generate_diverse_outputs.pattern_file[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/6674cda8-042c-4840-914f-99fbd68e391a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"test_nonstandard_outputs","workflowProcessingEvents":[{"cromwellId":"cromid-9a7107d","description":"PickedUp","timestamp":"2025-03-06T23:19:13.853Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n    \n    output
        {\n        File special_chars = generate_diverse_outputs.file_special_chars\n        File
        no_extension = generate_diverse_outputs.file_no_extension\n        File nested_output
        = generate_diverse_outputs.nested_file\n        File symlink_file = generate_diverse_outputs.symlink_output\n        Array[File]
        glob_files = ge[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/d07447bb-5e20-4f29-818f-929820f8b846/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"enhanced_map_test","workflowProcessingEvents":[{"cromwellId":"cromid-9a7107d","description":"PickedUp","timestamp":"2025-03-06T23:24:14.300Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow enhanced_map_test {\n    input {\n        # Original inputs\n        Array[String]
        samples\n        Map[String, String] sample_metadata\n        Map[String,
        Int] read_lengths\n\n        # New test inputs\n        Map[String, Map[String,
        String]] nested_map = {\n            \"patient1\": {\n                \"sample1\":
        \"normal\",\n                \"sample2\": \"tumor\"\n            },\n            \"patient2\":
        {\n                \"sample3\": \"normal\",\n                \"sample4\":
        \"tumor\"\n            }\n        }\n        # We need to provide keys as
        arrays since WDL 1.0 doesn''t have a keys() function\n        Array[String]
        patient_ids = [\"patient1\", \"patient2\"]\n    }\n\n    # Test nested map
        processing\n    scatter (patient_id in patient_ids) {\n        call process_nested_map
        {\n            input:\n                patient_id = patient_id,\n                patient_data
        = nested_map[patient_id],\n                # [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/a3ecee61-d5cb-4678-8473-ea80e5f3f722/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-9a7107d","description":"Finished","timestamp":"2025-03-06T23:23:59.131Z","cromwellVersion":"87"},{"cromwellId":"cromid-9a7107d","description":"PickedUp","timestamp":"2025-03-06T23:23:14.210Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/a3ecee61-d5cb-4678-8473-ea80e5f3f722/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"14040900","backend":"gizmo","end":"2025-03-06T23:23:57.562Z","start":"2025-03-06T23:23:15.271Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/a3ecee61-d5cb-4678-8473-ea80e5f3f722/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/a3ecee61-d5cb-4678-8473-ea80e5f3f722/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-03-06T23:23:22.869Z","description":"PreparingJob","endTime":"2025-03-06T23:23:22.878Z"},{"startTime":"2025-03-06T23:23:15.271Z","description":"RequestingExecutionToken","endTime":"2025-03-06T23:23:22.868Z"},{"startTime":"2025-03-06T23:23:15.271Z","description":"Pending","endTime":"2025-03-06T23:23:15.271Z"},{"startTime":"2025-03-06T23:23:22.868Z","description":"WaitingForValueStore","endTime":"2025-03-06T23:23:22.869Z"},{"startTime":"2025-03-06T23:23:22.878Z","description":"RunningJob","endTime":"2025-03-06T23:23:56.891Z"},{"startTime":"2025-03-06T23:23:56.891Z","description":"UpdatingJobStore","endTime":"2025-03-06T23:23:57.562Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/a3ecee61-d5cb-4678-8473-ea80e5f3f722","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-06T23:23:59.131Z","start":"2025-03-06T23:23:14.211Z","id":"a3ecee61-d5cb-4678-8473-ea80e5f3f722","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a3ecee61-d5cb-4678-8473-ea80e5f3f722"},"submission":"2025-03-06T23:18:58.140Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/1188a4bc-651d-4d51-a569-dc9ec943a49e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9a7107d","description":"PickedUp","timestamp":"2025-03-06T23:20:33.973Z","cromwellVersion":"87"},{"cromwellId":"cromid-9a7107d","description":"Finished","timestamp":"2025-03-06T23:21:17.872Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/1188a4bc-651d-4d51-a569-dc9ec943a49e/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"outputs":{"txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/1188a4bc-651d-4d51-a569-dc9ec943a49e/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/1188a4bc-651d-4d51-a569-dc9ec943a49e/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/9a8119a5-1c89-4a22-bede-42dbc0cbafe4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-9a7107d","description":"Finished","timestamp":"2025-03-06T23:23:36.032Z","cromwellVersion":"87"},{"cromwellId":"cromid-9a7107d","description":"PickedUp","timestamp":"2025-03-06T23:22:54.181Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/9a8119a5-1c89-4a22-bede-42dbc0cbafe4/call-create_nested_files/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"outputs":{"matched_files_top":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/9a8119a5-1c89-4a22-bede-42dbc0cbafe4/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt"],"matched_files_nested":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/9a8119a5-1c89-4a22-bede-42dbc0cbafe4/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"14040899","[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/038543b4-69ab-43e4-93ad-9285a790e7fa/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-9a7107d","description":"PickedUp","timestamp":"2025-03-06T23:19:33.882Z","cromwellVersion":"87"},{"cromwellId":"cromid-9a7107d","description":"Finished","timestamp":"2025-03-06T23:19:33.904Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-03-06T23:19:33.903Z","start":"2025-03-06T23:19:33.883Z","id":"038543b4-69ab-43e4-93ad-9285a790e7fa","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-038543b4-69ab-43e4-93ad-9285a790e7fa"},"submission":"2025-03-06T23:18:58.364Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35205/api/workflows/v1/b3894b91-b820-4ad8-9f6f-a40d9c8d84d4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9a7107d","description":"Finished","timestamp":"2025-03-06T23:24:16.092Z","cromwellVersion":"87"},{"cromwellId":"cromid-9a7107d","description":"PickedUp","timestamp":"2025-03-06T23:23:34.240Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b3894b91-b820-4ad8-9f6f-a40d9c8d84d4/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"14040901","backend":"gizmo","end":"2025-03-06T23:24:14.563Z","start":"2025-03-06T23:23:35.290Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b3894b91-b820-4ad8-9f6f-a40d9c8d84d4/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b3894b91-b820-4ad8-9f6f-a40d9c8d84d4/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-03-06T23:23:42.869Z","description":"PreparingJob","endTime":"2025-03-06T23:23:42.878Z"},{"startTime":"2025-03-06T23:23:35.291Z","description":"RequestingExecutionToken","endTime":"2025-03-06T23:23:42.868Z"},{"startTime":"2025-03-06T23:23:42.878Z","description":"RunningJob","endTime":"2025-03-06T23:24:14.510Z"},{"startTime":"2025-03-06T23:23:42.868Z","description":"WaitingForValueStore","endTime":"2025-03-06T23:23:42.869Z"},{"startTime":"2025-03-06T23:24:14.510Z","description":"UpdatingJobStore","endTime":"2025-03-06T23:24:14.563Z"},{"startTime":"2025-03-06T23:23:35.291Z","description":"Pending","endTime":"2025-03-06T23:23:35.291Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b3894b91-b820-4ad8-9f6f-a40d9c8d84d4","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-06T23:24:16.091Z","start":"2025-03-06T23:23:34.241Z","id":"b3894b91-b820-4ad8-9f6f-a40d9c8d84d4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b3894b91-b820-4ad8-9f6f-a40d9c8d84d4"},"submission":"2025-03-06T23:18:58.390Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
