interactions:
- request:
    body: "--c4c4bff4f2b33e248c28815623d28548\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--c4c4bff4f2b33e248c28815623d28548\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c4c4bff4f2b33e248c28815623d28548--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c4c4bff4f2b33e248c28815623d28548
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"dca04194-5e3b-4427-824f-a5f1b79ebbc9","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/dca04194-5e3b-4427-824f-a5f1b79ebbc9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"dca04194-5e3b-4427-824f-a5f1b79ebbc9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dca04194-5e3b-4427-824f-a5f1b79ebbc9"},"submission":"2026-09-06T03:29:53.283Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/dca04194-5e3b-4427-824f-a5f1b79ebbc9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:51:11.643Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-09-06T03:51:12.681Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:51:11.644Z","id":"dca04194-5e3b-4427-824f-a5f1b79ebbc9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dca04194-5e3b-4427-824f-a5f1b79ebbc9"},"submission":"2026-09-06T03:29:53.283Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/dca04194-5e3b-4427-824f-a5f1b79ebbc9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:51:11.643Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9/call-generate_diverse_outputs/execution/stdout","commandLine":"#
        Create a symlink\necho \"original\" > original.txt\nln -s original.txt link.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:noble-20241118.1","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-09-06T03:51:12.681Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9/call-generate_diverse_outputs/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9/call-generate_diverse_outputs"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:51:11.644Z","id":"dca04194-5e3b-4427-824f-a5f1b79ebbc9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dca04194-5e3b-4427-824f-a5f1b79ebbc9"},"submission":"2026-09-06T03:29:53.283Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/dca04194-5e3b-4427-824f-a5f1b79ebbc9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:51:11.643Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"symlinkOnly.generate_diverse_outputs":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9/call-generate_diverse_outputs/execution/stdout","backendStatus":"Running","commandLine":"#
        Create a symlink\necho \"original\" > original.txt\nln -s original.txt link.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","docker":"ubuntu:noble-20241118.1","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"6089766","backend":"gizmo","attempt":1,"start":"2026-09-06T03:51:12.681Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9/call-generate_diverse_outputs/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9/call-generate_diverse_outputs"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/dca04194-5e3b-4427-824f-a5f1b79ebbc9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:51:11.644Z","id":"dca04194-5e3b-4427-824f-a5f1b79ebbc9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dca04194-5e3b-4427-824f-a5f1b79ebbc9"},"submission":"2026-09-06T03:29:53.283Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
