interactions:
- request:
    body: "--b8c73958b6790610b2a3b93c5550b3e7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--b8c73958b6790610b2a3b93c5550b3e7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b8c73958b6790610b2a3b93c5550b3e7--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b8c73958b6790610b2a3b93c5550b3e7
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7"},"submission":"2025-05-18T03:29:33.601Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-18T03:33:50.237Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-05-18T03:33:51.279Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-18T03:33:50.238Z","id":"8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7"},"submission":"2025-05-18T03:29:33.601Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-18T03:33:50.237Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"21705938","backend":"gizmo","attempt":1,"start":"2025-05-18T03:33:51.279Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-18T03:33:50.238Z","id":"8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7"},"submission":"2025-05-18T03:29:33.601Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-5e35139","description":"Finished","timestamp":"2025-05-18T03:34:32.083Z","cromwellVersion":"87"},{"cromwellId":"cromid-5e35139","description":"PickedUp","timestamp":"2025-05-18T03:33:50.237Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"21705938","backend":"gizmo","end":"2025-05-18T03:34:30.722Z","start":"2025-05-18T03:33:51.279Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-05-18T03:33:51.280Z","description":"RequestingExecutionToken","endTime":"2025-05-18T03:33:58.047Z"},{"startTime":"2025-05-18T03:33:58.056Z","description":"RunningJob","endTime":"2025-05-18T03:34:29.888Z"},{"startTime":"2025-05-18T03:34:29.888Z","description":"UpdatingJobStore","endTime":"2025-05-18T03:34:30.722Z"},{"startTime":"2025-05-18T03:33:51.280Z","description":"Pending","endTime":"2025-05-18T03:33:51.280Z"},{"startTime":"2025-05-18T03:33:58.047Z","description":"PreparingJob","endTime":"2025-05-18T03:33:58.056Z"},{"startTime":"2025-05-18T03:33:58.047Z","description":"WaitingForValueStore","endTime":"2025-05-18T03:33:58.047Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-05-18T03:34:32.083Z","start":"2025-05-18T03:33:50.238Z","id":"8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8e92dc49-3cfa-4a9c-9c2e-7cd3ee7d19e7"},"submission":"2025-05-18T03:29:33.601Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
