interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/5c85fd0b-ff25-4bfa-b147-f1de54ba2492/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that returns the hostname of the node \n## the job is submitted to as a test
        for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow HelloHostname
        {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta
        {\n    stdout: \"hostname of the node the job was submitted to\"\n  }\n}\n\n####
        TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output
        {\n    File out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory:
        \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname of the node the job
        was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"5c85fd0b-ff25-4bfa-b147-f1de54ba2492","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5c85fd0b-ff25-4bfa-b147-f1de54ba2492"},"submission":"2025-03-28T18:43:04.148Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/5c85fd0b-ff25-4bfa-b147-f1de54ba2492/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"HelloHostname","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-28T18:44:13.268Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW
        DEFINITION\n\nworkflow HelloHostname {\n  call Hostname {\n  }\n\n  output
        {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout:
        \"hostname of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
        Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
        out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta
        {\n    out: \"hostname of the node the job was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"HelloHostname.Hostname":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-03-28T18:44:14.345Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/5c85fd0b-ff25-4bfa-b147-f1de54ba2492","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-03-28T18:44:13.269Z","id":"5c85fd0b-ff25-4bfa-b147-f1de54ba2492","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5c85fd0b-ff25-4bfa-b147-f1de54ba2492"},"submission":"2025-03-28T18:43:04.148Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/5c85fd0b-ff25-4bfa-b147-f1de54ba2492/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"HelloHostname","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-28T18:44:13.268Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW
        DEFINITION\n\nworkflow HelloHostname {\n  call Hostname {\n  }\n\n  output
        {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout:
        \"hostname of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
        Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
        out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta
        {\n    out: \"hostname of the node the job was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"HelloHostname.Hostname":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/5c85fd0b-ff25-4bfa-b147-f1de54ba2492/call-Hostname/execution/stdout","commandLine":"echo
        $(hostname)","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-03-28T18:44:14.345Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/5c85fd0b-ff25-4bfa-b147-f1de54ba2492/call-Hostname/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/5c85fd0b-ff25-4bfa-b147-f1de54ba2492/call-Hostname"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/5c85fd0b-ff25-4bfa-b147-f1de54ba2492","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-03-28T18:44:13.269Z","id":"5c85fd0b-ff25-4bfa-b147-f1de54ba2492","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5c85fd0b-ff25-4bfa-b147-f1de54ba2492"},"submission":"2025-03-28T18:43:04.148Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/d0885c39-acb8-4454-b00d-8519c26b0545/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-28T18:46:52.440Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-28T18:46:13.599Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/d0885c39-acb8-4454-b00d-8519c26b0545/call-create_nested_files/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"outputs":{"matched_files_top":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/d0885c39-acb8-4454-b00d-8519c26b0545/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt"],"matched_files_nested":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/d0885c39-acb8-4454-b00d-8519c26b0545/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"16289928","backend":"gizmo","end":"2025-03-28T18:46:50.561Z","start":"2025-03-28T18:46:14.697Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/d0885c39-acb8-4454-b00d-8519c26b0545/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/d0885c39-acb8-4454-b00d-8519c26b0545/call-create_nested_files","attempt":1,"executionEvents":[{"startTime":"2025-03-28T18:46:19.788Z","description":"PreparingJob","endTime":"2025-03-28T18:46:19.856Z"},{"startTime":"2025-03-28T18:46:19.856Z","description":"RunningJob","endTime":"2025-03-28T18:46:50.431Z"},{"startTime":"2025-03-28T18:46:50.431Z","description":"UpdatingJobStore","endTime":"2025-03-28T18:46:50.561Z"},{"startTime":"2025-03-28T18:46:14.697Z","description":"RequestingExecutionToken","endTime":"2025-03-28T18:46:19.787Z"},{"startTime":"2025-03-28T18:46:19.787Z","description":"WaitingForValueStore","endTime":"2025-03-28T18:46:19.788Z"},{"startTime":"2025-03-28T18:46:14.697Z","description":"Pending","endTime":"2025-03-28T18:46:14.697Z"}]}]},"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/d0885c39-acb8-4454-b00d-8519c26b0545/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/d0885c39-acb8-4454-b00d-8519c26b0545/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/d0885c39-acb8-4454-b00d-8519c26b0545","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-28T18:46:52.440Z","start":"2025-03-28T18:46:13.600Z","id":"d0885c39-acb8-4454-b00d-8519c26b0545","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d0885c39-acb8-4454-b00d-8519c26b0545"},"submission":"2025-03-28T18:43:04.458Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/5284f74a-e23c-4cf7-9654-3c6b906bbff9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-28T18:44:37.150Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-28T18:43:53.229Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/5284f74a-e23c-4cf7-9654-3c6b906bbff9/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"16289653","backend":"gizmo","end":"2025-03-28T18:44:35.573Z","start":"2025-03-28T18:43:54.310Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/5284f74a-e23c-4cf7-9654-3c6b906bbff9/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/5284f74a-e23c-4cf7-9654-3c6b906bbff9/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-03-28T18:43:59.787Z","description":"WaitingForValueStore","endTime":"2025-03-28T18:43:59.787Z"},{"startTime":"2025-03-28T18:44:35.446Z","description":"UpdatingJobStore","endTime":"2025-03-28T18:44:35.573Z"},{"startTime":"2025-03-28T18:43:59.787Z","description":"PreparingJob","endTime":"2025-03-28T18:43:59.852Z"},{"startTime":"2025-03-28T18:43:54.310Z","description":"Pending","endTime":"2025-03-28T18:43:54.310Z"},{"startTime":"2025-03-28T18:43:54.310Z","description":"RequestingExecutionToken","endTime":"2025-03-28T18:43:59.787Z"},{"startTime":"2025-03-28T18:43:59.852Z","description":"RunningJob","endTime":"2025-03-28T18:44:35.446Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/5284f74a-e23c-4cf7-9654-3c6b906bbff9","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-28T18:44:37.150Z","start":"2025-03-28T18:43:53.230Z","id":"5284f74a-e23c-4cf7-9654-3c6b906bbff9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5284f74a-e23c-4cf7-9654-3c6b906bbff9"},"submission":"2025-03-28T18:43:04.697Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/37bf58d3-2871-40e2-a0fe-56d7017c4d8e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-28T18:43:33.182Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-28T18:44:47.690Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/37bf58d3-2871-40e2-a0fe-56d7017c4d8e/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"16289654","backend":"gizmo","end":"2025-03-28T18:44:46.599Z","start":"2025-03-28T18:43:34.249Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/37bf58d3-2871-40e2-a0fe-56d7017c4d8e/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/37bf58d3-2871-40e2-a0fe-56d7017c4d8e/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-03-28T18:43:39.841Z","description":"RunningJob","endTime":"2025-03-28T18:44:46.204Z"},{"startTime":"2025-03-28T18:43:34.250Z","description":"RequestingExecutionToken","endTime":"2025-03-28T18:43:39.787Z"},{"startTime":"2025-03-28T18:43:34.249Z","description":"Pending","endTime":"2025-03-28T18:43:34.250Z"},{"startTime":"2025-03-28T18:43:39.787Z","description":"WaitingForValueStore","endTime":"2025-03-28T18:43:39.787Z"},{"startTime":"2025-03-28T18:43:39.787Z","description":"PreparingJob","endTime":"2025-03-28T18:43:39.841Z"},{"startTime":"2025-03-28T18:44:46.204Z","description":"UpdatingJobStore","endTime":"2025-03-28T18:44:46.599Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/37bf58d3-2871-40e2-a0fe-56d7017c4d8e","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-03-28T18:44:47.690Z","start":"2025-03-28T18:43:33.183Z","id":"37bf58d3-2871-40e2-a0fe-56d7017c4d8e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-37bf58d3-2871-40e2-a0fe-56d7017c4d8e"},"submission":"2025-03-28T18:43:04.823Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/09a46630-471f-4c81-bfc4-4bd8eaaa3b50/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"enhanced_map_test","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-28T18:49:23.090Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-28T18:47:33.809Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow enhanced_map_test {\n    input {\n        # Original inputs\n        Array[String]
        samples\n        Map[String, String] sample_metadata\n        Map[String,
        Int] read_lengths\n\n        # New test inputs\n        Map[String, Map[String,
        String]] nested_map = {\n            \"patient1\": {\n                \"sample1\":
        \"normal\",\n                \"sample2\": \"tumor\"\n            },\n            \"patient2\":
        {\n                \"sample3\": \"normal\",\n                \"sample4\":
        \"tumor\"\n            }\n        }\n        # We need to provide keys as
        arrays since WDL 1.0 doesn''t have a keys() function\n        Array[String]
        patient_ids = [\"patient1\", \"patient2\"]\n    }\n\n    # Test nested map
        processing\n    scatter (patient_id in patient_ids) {\n        call process_nested_map
        {\n            input:\n                patient_id = patient_id,\n                patient_data
        = nested_map[patient_id],\n                # [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/211b7215-eed0-443b-8409-f7a0c50c1da0/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-28T18:47:53.867Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-28T18:48:31.680Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/211b7215-eed0-443b-8409-f7a0c50c1da0/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"outputs":{"txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/211b7215-eed0-443b-8409-f7a0c50c1da0/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/211b7215-eed0-443b-8409-f7a0c50c1da0/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/e71ed1fb-8c49-46f1-8f98-f571e2f5a1f2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-818ce15","description":"PickedUp","timestamp":"2025-03-28T18:48:54.047Z","cromwellVersion":"87"},{"cromwellId":"cromid-818ce15","description":"Finished","timestamp":"2025-03-28T18:48:54.091Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-03-28T18:48:54.091Z","start":"2025-03-28T18:48:54.048Z","id":"e71ed1fb-8c49-46f1-8f98-f571e2f5a1f2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e71ed1fb-8c49-46f1-8f98-f571e2f5a1f2"},"submission":"2025-03-28T18:43:05.319Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
