interactions:
- request:
    body: "--567686c0ed1b10abe07201a657aaeed5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--567686c0ed1b10abe07201a657aaeed5\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--567686c0ed1b10abe07201a657aaeed5--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=567686c0ed1b10abe07201a657aaeed5
    method: POST
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1
  response:
    body:
      string: '{"id":"e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e35fe2fa-6d41-4c4d-8ca6-90b620b6096d"},"submission":"2025-11-09T03:29:20.847Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T03:37:13.188Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-09T03:37:13.188Z","id":"e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e35fe2fa-6d41-4c4d-8ca6-90b620b6096d"},"submission":"2025-11-09T03:29:20.847Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T03:37:13.188Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-11-09T03:37:14.241Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-09T03:37:13.188Z","id":"e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e35fe2fa-6d41-4c4d-8ca6-90b620b6096d"},"submission":"2025-11-09T03:29:20.847Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T03:37:13.188Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-11-09T03:37:14.241Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-09T03:37:13.188Z","id":"e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e35fe2fa-6d41-4c4d-8ca6-90b620b6096d"},"submission":"2025-11-09T03:29:20.847Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T03:37:13.188Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"41577254","backend":"gizmo","attempt":1,"start":"2025-11-09T03:37:14.241Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-09T03:37:13.188Z","id":"e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e35fe2fa-6d41-4c4d-8ca6-90b620b6096d"},"submission":"2025-11-09T03:29:20.847Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T03:37:13.188Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"41577254","backend":"gizmo","end":"2025-11-09T03:40:12.905Z","start":"2025-11-09T03:37:14.241Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-11-09T03:37:14.241Z","description":"Pending","endTime":"2025-11-09T03:37:14.242Z"},{"startTime":"2025-11-09T03:37:19.507Z","description":"RunningJob","endTime":"2025-11-09T03:40:12.357Z"},{"startTime":"2025-11-09T03:37:19.498Z","description":"WaitingForValueStore","endTime":"2025-11-09T03:37:19.499Z"},{"startTime":"2025-11-09T03:37:19.499Z","description":"PreparingJob","endTime":"2025-11-09T03:37:19.507Z"},{"startTime":"2025-11-09T03:37:14.242Z","description":"RequestingExecutionToken","endTime":"2025-11-09T03:37:19.498Z"},{"startTime":"2025-11-09T03:40:12.357Z","description":"UpdatingJobStore","endTime":"2025-11-09T03:40:12.905Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-09T03:37:13.188Z","id":"e35fe2fa-6d41-4c4d-8ca6-90b620b6096d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e35fe2fa-6d41-4c4d-8ca6-90b620b6096d"},"submission":"2025-11-09T03:29:20.847Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
