interactions:
- request:
    body: "--fc64064cb5317d57a29d801753727fb8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--fc64064cb5317d57a29d801753727fb8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--fc64064cb5317d57a29d801753727fb8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=fc64064cb5317d57a29d801753727fb8
    method: POST
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1
  response:
    body:
      string: '{"id":"d588df75-0ddf-4771-b8fd-9fb8e01b9244","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/d588df75-0ddf-4771-b8fd-9fb8e01b9244/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"d588df75-0ddf-4771-b8fd-9fb8e01b9244","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d588df75-0ddf-4771-b8fd-9fb8e01b9244"},"submission":"2026-03-22T03:57:55.438Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/d588df75-0ddf-4771-b8fd-9fb8e01b9244/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-8cf104f","description":"PickedUp","timestamp":"2026-03-22T04:20:53.318Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-03-22T04:20:54.359Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-22T04:20:53.319Z","id":"d588df75-0ddf-4771-b8fd-9fb8e01b9244","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d588df75-0ddf-4771-b8fd-9fb8e01b9244"},"submission":"2026-03-22T03:57:55.438Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/d588df75-0ddf-4771-b8fd-9fb8e01b9244/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-8cf104f","description":"PickedUp","timestamp":"2026-03-22T04:20:53.318Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-03-22T04:20:54.359Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-22T04:20:53.319Z","id":"d588df75-0ddf-4771-b8fd-9fb8e01b9244","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d588df75-0ddf-4771-b8fd-9fb8e01b9244"},"submission":"2026-03-22T03:57:55.438Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/d588df75-0ddf-4771-b8fd-9fb8e01b9244/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-8cf104f","description":"PickedUp","timestamp":"2026-03-22T04:20:53.318Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"49681095","backend":"gizmo","end":"2026-03-22T04:21:09.172Z","start":"2026-03-22T04:20:54.359Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-03-22T04:20:54.359Z","description":"Pending","endTime":"2026-03-22T04:20:54.360Z"},{"startTime":"2026-03-22T04:20:54.360Z","description":"RequestingExecutionToken","endTime":"2026-03-22T04:21:00.407Z"},{"startTime":"2026-03-22T04:21:00.407Z","description":"WaitingForValueStore","endTime":"2026-03-22T04:21:00.408Z"},{"startTime":"2026-03-22T04:21:00.408Z","description":"PreparingJob","endTime":"2026-03-22T04:21:00.415Z"},{"startTime":"2026-03-22T04:21:09.051Z","description":"UpdatingJobStore","endTime":"2026-03-22T04:21:09.172Z"},{"startTime":"2026-03-22T04:21:00.415Z","description":"RunningJob","endTime":"2026-03-22T04:21:09.051Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d588df75-0ddf-4771-b8fd-9fb8e01b9244","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-22T04:20:53.319Z","id":"d588df75-0ddf-4771-b8fd-9fb8e01b9244","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d588df75-0ddf-4771-b8fd-9fb8e01b9244"},"submission":"2026-03-22T03:57:55.438Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
