interactions:
- request:
    body: "--4189f36dc65d3b6152ef65542ae26b3a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--4189f36dc65d3b6152ef65542ae26b3a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4189f36dc65d3b6152ef65542ae26b3a--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=4189f36dc65d3b6152ef65542ae26b3a
    method: POST
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1
  response:
    body:
      string: '{"id":"61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e"},"submission":"2026-03-01T04:04:15.364Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-1085291","description":"PickedUp","timestamp":"2026-03-01T04:24:49.619Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-03-01T04:24:50.668Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-01T04:24:49.619Z","id":"61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e"},"submission":"2026-03-01T04:04:15.364Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-1085291","description":"PickedUp","timestamp":"2026-03-01T04:24:49.619Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-03-01T04:24:50.668Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-01T04:24:49.619Z","id":"61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e"},"submission":"2026-03-01T04:04:15.364Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-1085291","description":"PickedUp","timestamp":"2026-03-01T04:24:49.619Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"48669087","backend":"gizmo","attempt":1,"start":"2026-03-01T04:24:50.668Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-01T04:24:49.619Z","id":"61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e"},"submission":"2026-03-01T04:04:15.364Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-1085291","description":"PickedUp","timestamp":"2026-03-01T04:24:49.619Z","cromwellVersion":"87"},{"cromwellId":"cromid-1085291","description":"Finished","timestamp":"2026-03-01T04:26:33.668Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"48669087","backend":"gizmo","end":"2026-03-01T04:26:31.721Z","start":"2026-03-01T04:24:50.668Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-03-01T04:24:51.075Z","description":"PreparingJob","endTime":"2026-03-01T04:24:51.083Z"},{"startTime":"2026-03-01T04:24:50.668Z","description":"RequestingExecutionToken","endTime":"2026-03-01T04:24:51.075Z"},{"startTime":"2026-03-01T04:24:51.075Z","description":"WaitingForValueStore","endTime":"2026-03-01T04:24:51.075Z"},{"startTime":"2026-03-01T04:24:51.083Z","description":"RunningJob","endTime":"2026-03-01T04:26:31.087Z"},{"startTime":"2026-03-01T04:26:31.087Z","description":"UpdatingJobStore","endTime":"2026-03-01T04:26:31.721Z"},{"startTime":"2026-03-01T04:24:50.668Z","description":"Pending","endTime":"2026-03-01T04:24:50.668Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-03-01T04:26:33.668Z","start":"2026-03-01T04:24:49.619Z","id":"61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-61e0152e-1a5c-47a5-b2c2-ebb7ffc9886e"},"submission":"2026-03-01T04:04:15.364Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
