interactions:
- request:
    body: "--d4ce3d57b5f64f0f734f68cb4287dcc9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--d4ce3d57b5f64f0f734f68cb4287dcc9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d4ce3d57b5f64f0f734f68cb4287dcc9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d4ce3d57b5f64f0f734f68cb4287dcc9
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"ca6ea59e-044c-40f0-8f86-18caac4a23b4","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/ca6ea59e-044c-40f0-8f86-18caac4a23b4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ca6ea59e-044c-40f0-8f86-18caac4a23b4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ca6ea59e-044c-40f0-8f86-18caac4a23b4"},"submission":"2025-06-27T18:52:53.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/ca6ea59e-044c-40f0-8f86-18caac4a23b4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T18:54:59.274Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-27T18:55:00.326Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T18:54:59.274Z","id":"ca6ea59e-044c-40f0-8f86-18caac4a23b4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ca6ea59e-044c-40f0-8f86-18caac4a23b4"},"submission":"2025-06-27T18:52:53.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/ca6ea59e-044c-40f0-8f86-18caac4a23b4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T18:54:59.274Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-27T18:55:00.326Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T18:54:59.274Z","id":"ca6ea59e-044c-40f0-8f86-18caac4a23b4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ca6ea59e-044c-40f0-8f86-18caac4a23b4"},"submission":"2025-06-27T18:52:53.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/ca6ea59e-044c-40f0-8f86-18caac4a23b4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T18:54:59.274Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"25766641","backend":"gizmo","attempt":1,"start":"2025-06-27T18:55:00.326Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T18:54:59.274Z","id":"ca6ea59e-044c-40f0-8f86-18caac4a23b4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ca6ea59e-044c-40f0-8f86-18caac4a23b4"},"submission":"2025-06-27T18:52:53.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/ca6ea59e-044c-40f0-8f86-18caac4a23b4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T18:54:59.274Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"25766641","backend":"gizmo","end":"2025-06-27T18:55:34.120Z","start":"2025-06-27T18:55:00.326Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-06-27T18:55:02.783Z","description":"RunningJob","endTime":"2025-06-27T18:55:33.745Z"},{"startTime":"2025-06-27T18:55:33.745Z","description":"UpdatingJobStore","endTime":"2025-06-27T18:55:34.120Z"},{"startTime":"2025-06-27T18:55:00.326Z","description":"Pending","endTime":"2025-06-27T18:55:00.327Z"},{"startTime":"2025-06-27T18:55:02.774Z","description":"WaitingForValueStore","endTime":"2025-06-27T18:55:02.774Z"},{"startTime":"2025-06-27T18:55:02.774Z","description":"PreparingJob","endTime":"2025-06-27T18:55:02.783Z"},{"startTime":"2025-06-27T18:55:00.327Z","description":"RequestingExecutionToken","endTime":"2025-06-27T18:55:02.774Z"}]}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/ca6ea59e-044c-40f0-8f86-18caac4a23b4","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T18:54:59.274Z","id":"ca6ea59e-044c-40f0-8f86-18caac4a23b4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ca6ea59e-044c-40f0-8f86-18caac4a23b4"},"submission":"2025-06-27T18:52:53.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
