interactions:
- request:
    body: "--9173982840c89ba791e75507205223ad\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--9173982840c89ba791e75507205223ad\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9173982840c89ba791e75507205223ad--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9173982840c89ba791e75507205223ad
    method: POST
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1
  response:
    body:
      string: '{"id":"06737da3-61aa-4de0-975c-6e8e5a886ed9","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/06737da3-61aa-4de0-975c-6e8e5a886ed9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"06737da3-61aa-4de0-975c-6e8e5a886ed9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-06737da3-61aa-4de0-975c-6e8e5a886ed9"},"submission":"2026-02-12T18:05:30.801Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/06737da3-61aa-4de0-975c-6e8e5a886ed9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:25:24.828Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-02-12T18:25:25.877Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:25:24.828Z","id":"06737da3-61aa-4de0-975c-6e8e5a886ed9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-06737da3-61aa-4de0-975c-6e8e5a886ed9"},"submission":"2026-02-12T18:05:30.801Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/06737da3-61aa-4de0-975c-6e8e5a886ed9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:25:24.828Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files/execution/stdout","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-02-12T18:25:25.877Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:25:24.828Z","id":"06737da3-61aa-4de0-975c-6e8e5a886ed9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-06737da3-61aa-4de0-975c-6e8e5a886ed9"},"submission":"2026-02-12T18:05:30.801Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/06737da3-61aa-4de0-975c-6e8e5a886ed9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:25:24.828Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"46401263","backend":"gizmo","attempt":1,"start":"2026-02-12T18:25:25.877Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:25:24.828Z","id":"06737da3-61aa-4de0-975c-6e8e5a886ed9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-06737da3-61aa-4de0-975c-6e8e5a886ed9"},"submission":"2026-02-12T18:05:30.801Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/06737da3-61aa-4de0-975c-6e8e5a886ed9/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:25:24.828Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"outputs":{"txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"46401263","backend":"gizmo","end":"2026-02-12T18:26:05.131Z","start":"2026-02-12T18:25:25.877Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-02-12T18:25:31.554Z","description":"RunningJob","endTime":"2026-02-12T18:26:04.752Z"},{"startTime":"2026-02-12T18:25:25.877Z","description":"Pending","endTime":"2026-02-12T18:25:25.877Z"},{"startTime":"2026-02-12T18:25:31.546Z","description":"PreparingJob","endTime":"2026-02-12T18:25:31.554Z"},{"startTime":"2026-02-12T18:26:04.752Z","description":"UpdatingJobStore","endTime":"2026-02-12T18:26:05.131Z"},{"startTime":"2026-02-12T18:25:25.877Z","description":"RequestingExecutionToken","endTime":"2026-02-12T18:25:31.546Z"},{"startTime":"2026-02-12T18:25:31.546Z","description":"WaitingForValueStore","endTime":"2026-02-12T18:25:31.546Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/06737da3-61aa-4de0-975c-6e8e5a886ed9","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:25:24.828Z","id":"06737da3-61aa-4de0-975c-6e8e5a886ed9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-06737da3-61aa-4de0-975c-6e8e5a886ed9"},"submission":"2026-02-12T18:05:30.801Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
