interactions:
- request:
    body: "--a9d55e756947f089c60e6e1c2b01ec6a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--a9d55e756947f089c60e6e1c2b01ec6a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a9d55e756947f089c60e6e1c2b01ec6a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a9d55e756947f089c60e6e1c2b01ec6a
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"abb2aa94-b01a-4bdd-9608-afd048a00e0f","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/abb2aa94-b01a-4bdd-9608-afd048a00e0f/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: abb2aa94-b01a-4bdd-9608-afd048a00e0f\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/abb2aa94-b01a-4bdd-9608-afd048a00e0f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"abb2aa94-b01a-4bdd-9608-afd048a00e0f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-abb2aa94-b01a-4bdd-9608-afd048a00e0f"},"submission":"2026-08-30T03:24:19.924Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
