interactions:
- request:
    body: "--61bacdfca70dca6a5b371dd04ca9387f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--61bacdfca70dca6a5b371dd04ca9387f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--61bacdfca70dca6a5b371dd04ca9387f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=61bacdfca70dca6a5b371dd04ca9387f
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"f6489bf0-e3b2-4869-b720-6a4551b254c4","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/f6489bf0-e3b2-4869-b720-6a4551b254c4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"f6489bf0-e3b2-4869-b720-6a4551b254c4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f6489bf0-e3b2-4869-b720-6a4551b254c4"},"submission":"2026-08-09T03:43:30.122Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/f6489bf0-e3b2-4869-b720-6a4551b254c4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-16eede1","description":"Finished","timestamp":"2026-08-09T04:04:49.121Z","cromwellVersion":"87"},{"cromwellId":"cromid-16eede1","description":"PickedUp","timestamp":"2026-08-09T04:04:49.113Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2026-08-09T04:04:49.121Z","start":"2026-08-09T04:04:49.113Z","id":"f6489bf0-e3b2-4869-b720-6a4551b254c4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f6489bf0-e3b2-4869-b720-6a4551b254c4"},"submission":"2026-08-09T03:43:30.122Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
