interactions:
- request:
    body: "--62641ea45fd5d8d84984e1d91f375e4b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--62641ea45fd5d8d84984e1d91f375e4b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--62641ea45fd5d8d84984e1d91f375e4b--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=62641ea45fd5d8d84984e1d91f375e4b
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"103caeef-8120-48d1-87b3-01cc15cf79cb","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/103caeef-8120-48d1-87b3-01cc15cf79cb/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"103caeef-8120-48d1-87b3-01cc15cf79cb","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-103caeef-8120-48d1-87b3-01cc15cf79cb"},"submission":"2026-04-13T17:01:28.306Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/103caeef-8120-48d1-87b3-01cc15cf79cb/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:25:21.860Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:25:21.860Z","id":"103caeef-8120-48d1-87b3-01cc15cf79cb","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-103caeef-8120-48d1-87b3-01cc15cf79cb"},"submission":"2026-04-13T17:01:28.306Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/103caeef-8120-48d1-87b3-01cc15cf79cb/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:25:21.860Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-04-13T17:25:22.906Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:25:21.860Z","id":"103caeef-8120-48d1-87b3-01cc15cf79cb","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-103caeef-8120-48d1-87b3-01cc15cf79cb"},"submission":"2026-04-13T17:01:28.306Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/103caeef-8120-48d1-87b3-01cc15cf79cb/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:25:21.860Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-04-13T17:25:22.906Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:25:21.860Z","id":"103caeef-8120-48d1-87b3-01cc15cf79cb","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-103caeef-8120-48d1-87b3-01cc15cf79cb"},"submission":"2026-04-13T17:01:28.306Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/103caeef-8120-48d1-87b3-01cc15cf79cb/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:25:21.860Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"51043105","backend":"gizmo","attempt":1,"start":"2026-04-13T17:25:22.906Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:25:21.860Z","id":"103caeef-8120-48d1-87b3-01cc15cf79cb","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-103caeef-8120-48d1-87b3-01cc15cf79cb"},"submission":"2026-04-13T17:01:28.306Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/103caeef-8120-48d1-87b3-01cc15cf79cb/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"Finished","timestamp":"2026-04-13T17:26:00.641Z","cromwellVersion":"87"},{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:25:21.860Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"51043105","backend":"gizmo","end":"2026-04-13T17:25:58.643Z","start":"2026-04-13T17:25:22.906Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-04-13T17:25:27.949Z","description":"PreparingJob","endTime":"2026-04-13T17:25:27.956Z"},{"startTime":"2026-04-13T17:25:22.906Z","description":"Pending","endTime":"2026-04-13T17:25:22.907Z"},{"startTime":"2026-04-13T17:25:27.948Z","description":"WaitingForValueStore","endTime":"2026-04-13T17:25:27.949Z"},{"startTime":"2026-04-13T17:25:57.928Z","description":"UpdatingJobStore","endTime":"2026-04-13T17:25:58.643Z"},{"startTime":"2026-04-13T17:25:22.907Z","description":"RequestingExecutionToken","endTime":"2026-04-13T17:25:27.948Z"},{"startTime":"2026-04-13T17:25:27.956Z","description":"RunningJob","endTime":"2026-04-13T17:25:57.928Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/103caeef-8120-48d1-87b3-01cc15cf79cb","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-13T17:26:00.641Z","start":"2026-04-13T17:25:21.860Z","id":"103caeef-8120-48d1-87b3-01cc15cf79cb","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-103caeef-8120-48d1-87b3-01cc15cf79cb"},"submission":"2026-04-13T17:01:28.306Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
