interactions:
- request:
    body: "--1e00dbec3fe34ab73f788f18cd4010e1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--1e00dbec3fe34ab73f788f18cd4010e1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1e00dbec3fe34ab73f788f18cd4010e1--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1e00dbec3fe34ab73f788f18cd4010e1
    method: POST
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1
  response:
    body:
      string: '{"id":"68c1e07f-9a76-4076-9c4a-24fe7928bfe4","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/68c1e07f-9a76-4076-9c4a-24fe7928bfe4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"68c1e07f-9a76-4076-9c4a-24fe7928bfe4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-68c1e07f-9a76-4076-9c4a-24fe7928bfe4"},"submission":"2025-11-02T03:30:45.638Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/68c1e07f-9a76-4076-9c4a-24fe7928bfe4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-11-02T03:34:13.472Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/68c1e07f-9a76-4076-9c4a-24fe7928bfe4","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-02T03:34:13.473Z","id":"68c1e07f-9a76-4076-9c4a-24fe7928bfe4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-68c1e07f-9a76-4076-9c4a-24fe7928bfe4"},"submission":"2025-11-02T03:30:45.638Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/68c1e07f-9a76-4076-9c4a-24fe7928bfe4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-11-02T03:34:13.472Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-11-02T03:34:14.504Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/68c1e07f-9a76-4076-9c4a-24fe7928bfe4","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-02T03:34:13.473Z","id":"68c1e07f-9a76-4076-9c4a-24fe7928bfe4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-68c1e07f-9a76-4076-9c4a-24fe7928bfe4"},"submission":"2025-11-02T03:30:45.638Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/68c1e07f-9a76-4076-9c4a-24fe7928bfe4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-11-02T03:34:13.472Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSubdir.create_nested_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/68c1e07f-9a76-4076-9c4a-24fe7928bfe4/call-create_nested_files/execution/stdout","commandLine":"mkdir
        -p subdir/nested\necho \"Hello\" > subdir/nested/file1.txt\necho \"World\"
        > subdir/file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-11-02T03:34:14.504Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/68c1e07f-9a76-4076-9c4a-24fe7928bfe4/call-create_nested_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/68c1e07f-9a76-4076-9c4a-24fe7928bfe4/call-create_nested_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/68c1e07f-9a76-4076-9c4a-24fe7928bfe4","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-02T03:34:13.473Z","id":"68c1e07f-9a76-4076-9c4a-24fe7928bfe4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-68c1e07f-9a76-4076-9c4a-24fe7928bfe4"},"submission":"2025-11-02T03:30:45.638Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
