interactions:
- request:
    body: "--cf48959795c7ab53a4042c8c33d1b5cc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSymlink.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n
      \       Array[File] matched_files = flatten([create_nested_files.matched_files_top,
      create_nested_files.matched_files_nested])\n        Array[File] symlink_matches
      = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
      {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\" >
      subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
      Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
      symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File]
      matched_symlinks = glob(\"symlinks/*.txt\")\n    }\n}\n\r\n--cf48959795c7ab53a4042c8c33d1b5cc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--cf48959795c7ab53a4042c8c33d1b5cc--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=cf48959795c7ab53a4042c8c33d1b5cc
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"085570ca-2a56-4c9f-aead-d2e1a9335e56","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/085570ca-2a56-4c9f-aead-d2e1a9335e56/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globSymlink
        {\n    call create_nested_files\n    output {\n        Array[File] matched_files
        = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"085570ca-2a56-4c9f-aead-d2e1a9335e56","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-085570ca-2a56-4c9f-aead-d2e1a9335e56"},"submission":"2026-09-20T03:24:40.326Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/085570ca-2a56-4c9f-aead-d2e1a9335e56/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globSymlink","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:28:38.105Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globSymlink.create_nested_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-09-20T03:28:39.157Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globSymlink/085570ca-2a56-4c9f-aead-d2e1a9335e56","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:28:38.105Z","id":"085570ca-2a56-4c9f-aead-d2e1a9335e56","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-085570ca-2a56-4c9f-aead-d2e1a9335e56"},"submission":"2026-09-20T03:24:40.326Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
