interactions:
- request:
    body: "--4b8d96ca693aa09c8f49a30a35f567d8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicTaskExecution.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
      a string input and writes it to a file called output.txt. It demonstrates a
      basic execution of a task with file output.\n\n# This tests basic task execution,
      input handling, and file output functionality. It ensures that a task can successfully
      take an input and generate an output.\n\nworkflow basicTaskTest {\n  input {\n
      \   String text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n
      \     message = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n
      \ }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
      {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n
      \ }\n}\n\r\n--4b8d96ca693aa09c8f49a30a35f567d8\r\nContent-Disposition: form-data;
      name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type: application/json\r\n\r\n{\n
      \   \"workflow_failure_mode\": \"ContinueWhilePossible\",\n    \"write_to_cache\":
      false,\n    \"read_from_cache\": false\n}\n\r\n--4b8d96ca693aa09c8f49a30a35f567d8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=4b8d96ca693aa09c8f49a30a35f567d8
    method: POST
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1
  response:
    body:
      string: '{"id":"4a06fa43-c8d5-4e68-9257-0e46647de550","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/4a06fa43-c8d5-4e68-9257-0e46647de550/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\n# The basicTaskTest workflow
        calls a task named simpleTask, which takes a string input and writes it to
        a file called output.txt. It demonstrates a basic execution of a task with
        file output.\n\n# This tests basic task execution, input handling, and file
        output functionality. It ensures that a task can successfully take an input
        and generate an output.\n\nworkflow basicTaskTest {\n  input {\n    String
        text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n      message
        = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n  }\n\n  command
        <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output {\n    File
        outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"4a06fa43-c8d5-4e68-9257-0e46647de550","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4a06fa43-c8d5-4e68-9257-0e46647de550"},"submission":"2026-03-08T03:55:29.348Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/4a06fa43-c8d5-4e68-9257-0e46647de550/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicTaskTest","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T04:18:07.045Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
        a string input and writes it to a file called output.txt. It demonstrates
        a basic execution of a task with file output.\n\n# This tests basic task execution,
        input handling, and file output functionality. It ensures that a task can
        successfully take an input and generate an output.\n\nworkflow basicTaskTest
        {\n  input {\n    String text = \"Hello, World!\"\n  }\n\n  call simpleTask
        {\n    input:\n      message = text\n  }\n}\n\ntask simpleTask {\n  input
        {\n    String message\n  }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
        {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicTaskTest.simpleTask":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-03-08T04:18:09.103Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/4a06fa43-c8d5-4e68-9257-0e46647de550","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-08T04:18:07.046Z","id":"4a06fa43-c8d5-4e68-9257-0e46647de550","inputs":{"text":"Hello,
        World!"},"labels":{"cromwell-workflow-id":"cromwell-4a06fa43-c8d5-4e68-9257-0e46647de550"},"submission":"2026-03-08T03:55:29.348Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
