interactions:
- request:
    body: "--33bd842dd9ee56dcab928da7b87075f0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--33bd842dd9ee56dcab928da7b87075f0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--33bd842dd9ee56dcab928da7b87075f0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=33bd842dd9ee56dcab928da7b87075f0
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"1b10a5bc-ad34-4d6d-b412-9fb38f98459e","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"1b10a5bc-ad34-4d6d-b412-9fb38f98459e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1b10a5bc-ad34-4d6d-b412-9fb38f98459e"},"submission":"2026-09-06T03:24:16.974Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:30:29.989Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-09-06T03:30:31.032Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:30:29.989Z","id":"1b10a5bc-ad34-4d6d-b412-9fb38f98459e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1b10a5bc-ad34-4d6d-b412-9fb38f98459e"},"submission":"2026-09-06T03:24:16.974Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:30:29.989Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-09-06T03:30:31.032Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:30:29.989Z","id":"1b10a5bc-ad34-4d6d-b412-9fb38f98459e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1b10a5bc-ad34-4d6d-b412-9fb38f98459e"},"submission":"2026-09-06T03:24:16.974Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:30:29.989Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"6087383","backend":"gizmo","attempt":1,"start":"2026-09-06T03:30:31.032Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T03:30:29.989Z","id":"1b10a5bc-ad34-4d6d-b412-9fb38f98459e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1b10a5bc-ad34-4d6d-b412-9fb38f98459e"},"submission":"2026-09-06T03:24:16.974Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"Finished","timestamp":"2026-09-06T03:31:13.872Z","cromwellVersion":"87"},{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:30:29.989Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"6087383","backend":"gizmo","end":"2026-09-06T03:31:12.415Z","start":"2026-09-06T03:30:31.032Z","stderr":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-09-06T03:30:31.032Z","description":"RequestingExecutionToken","endTime":"2026-09-06T03:30:36.639Z"},{"startTime":"2026-09-06T03:31:12.348Z","description":"UpdatingJobStore","endTime":"2026-09-06T03:31:12.415Z"},{"startTime":"2026-09-06T03:30:36.639Z","description":"WaitingForValueStore","endTime":"2026-09-06T03:30:36.640Z"},{"startTime":"2026-09-06T03:30:36.640Z","description":"PreparingJob","endTime":"2026-09-06T03:30:36.648Z"},{"startTime":"2026-09-06T03:30:31.032Z","description":"Pending","endTime":"2026-09-06T03:30:31.032Z"},{"startTime":"2026-09-06T03:30:36.648Z","description":"RunningJob","endTime":"2026-09-06T03:31:12.348Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1b10a5bc-ad34-4d6d-b412-9fb38f98459e","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-09-06T03:31:13.872Z","start":"2026-09-06T03:30:29.989Z","id":"1b10a5bc-ad34-4d6d-b412-9fb38f98459e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1b10a5bc-ad34-4d6d-b412-9fb38f98459e"},"submission":"2026-09-06T03:24:16.974Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
