interactions:
- request:
    body: "--418bfc3e27aad7ea42cd5d0ff91b2702\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--418bfc3e27aad7ea42cd5d0ff91b2702\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--418bfc3e27aad7ea42cd5d0ff91b2702--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=418bfc3e27aad7ea42cd5d0ff91b2702
    method: POST
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1
  response:
    body:
      string: '{"id":"d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5"},"submission":"2025-06-17T19:22:57.424Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-17T19:23:11.535Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-17T19:23:12.595Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-17T19:23:11.536Z","id":"d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5"},"submission":"2025-06-17T19:22:57.424Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-17T19:23:11.535Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-17T19:23:12.595Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-17T19:23:11.536Z","id":"d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5"},"submission":"2025-06-17T19:22:57.424Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-17T19:23:11.535Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"24790310","backend":"gizmo","attempt":1,"start":"2025-06-17T19:23:12.595Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-17T19:23:11.536Z","id":"d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5"},"submission":"2025-06-17T19:22:57.424Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-17cb9df","description":"Finished","timestamp":"2025-06-17T19:23:48.298Z","cromwellVersion":"87"},{"cromwellId":"cromid-17cb9df","description":"PickedUp","timestamp":"2025-06-17T19:23:11.535Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"24790310","backend":"gizmo","end":"2025-06-17T19:23:46.954Z","start":"2025-06-17T19:23:12.595Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-06-17T19:23:15.807Z","description":"RunningJob","endTime":"2025-06-17T19:23:46.619Z"},{"startTime":"2025-06-17T19:23:46.619Z","description":"UpdatingJobStore","endTime":"2025-06-17T19:23:46.954Z"},{"startTime":"2025-06-17T19:23:15.795Z","description":"PreparingJob","endTime":"2025-06-17T19:23:15.807Z"},{"startTime":"2025-06-17T19:23:12.595Z","description":"Pending","endTime":"2025-06-17T19:23:12.596Z"},{"startTime":"2025-06-17T19:23:15.795Z","description":"WaitingForValueStore","endTime":"2025-06-17T19:23:15.795Z"},{"startTime":"2025-06-17T19:23:12.596Z","description":"RequestingExecutionToken","endTime":"2025-06-17T19:23:15.795Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-17T19:23:48.298Z","start":"2025-06-17T19:23:11.536Z","id":"d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9ccc9da-a0ad-4c51-8467-aeab2e93d0b5"},"submission":"2025-06-17T19:22:57.424Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
