interactions:
- request:
    body: "--cdae2d8ec758c736ae71e61b901afa37\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--cdae2d8ec758c736ae71e61b901afa37\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--cdae2d8ec758c736ae71e61b901afa37--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=cdae2d8ec758c736ae71e61b901afa37
    method: POST
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1
  response:
    body:
      string: '{"id":"7190a93c-1f50-47bb-93c8-76849bac9800","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/7190a93c-1f50-47bb-93c8-76849bac9800/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"7190a93c-1f50-47bb-93c8-76849bac9800","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7190a93c-1f50-47bb-93c8-76849bac9800"},"submission":"2025-04-09T17:39:10.716Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/7190a93c-1f50-47bb-93c8-76849bac9800/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-32c4e56","description":"PickedUp","timestamp":"2025-04-09T17:41:03.241Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-04-09T17:41:04.285Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-09T17:41:03.242Z","id":"7190a93c-1f50-47bb-93c8-76849bac9800","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7190a93c-1f50-47bb-93c8-76849bac9800"},"submission":"2025-04-09T17:39:10.716Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/7190a93c-1f50-47bb-93c8-76849bac9800/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-32c4e56","description":"PickedUp","timestamp":"2025-04-09T17:41:03.241Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files/execution/stdout","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-04-09T17:41:04.285Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-09T17:41:03.242Z","id":"7190a93c-1f50-47bb-93c8-76849bac9800","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7190a93c-1f50-47bb-93c8-76849bac9800"},"submission":"2025-04-09T17:39:10.716Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/7190a93c-1f50-47bb-93c8-76849bac9800/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-32c4e56","description":"PickedUp","timestamp":"2025-04-09T17:41:03.241Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"17853985","backend":"gizmo","attempt":1,"start":"2025-04-09T17:41:04.285Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-09T17:41:03.242Z","id":"7190a93c-1f50-47bb-93c8-76849bac9800","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7190a93c-1f50-47bb-93c8-76849bac9800"},"submission":"2025-04-09T17:39:10.716Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/7190a93c-1f50-47bb-93c8-76849bac9800/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-32c4e56","description":"PickedUp","timestamp":"2025-04-09T17:41:03.241Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"outputs":{"txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"17853985","backend":"gizmo","end":"2025-04-09T17:41:45.388Z","start":"2025-04-09T17:41:04.285Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-04-09T17:41:04.285Z","description":"Pending","endTime":"2025-04-09T17:41:04.285Z"},{"startTime":"2025-04-09T17:41:06.942Z","description":"WaitingForValueStore","endTime":"2025-04-09T17:41:06.942Z"},{"startTime":"2025-04-09T17:41:44.957Z","description":"UpdatingJobStore","endTime":"2025-04-09T17:41:45.388Z"},{"startTime":"2025-04-09T17:41:04.285Z","description":"RequestingExecutionToken","endTime":"2025-04-09T17:41:06.942Z"},{"startTime":"2025-04-09T17:41:06.950Z","description":"RunningJob","endTime":"2025-04-09T17:41:44.957Z"},{"startTime":"2025-04-09T17:41:06.942Z","description":"PreparingJob","endTime":"2025-04-09T17:41:06.950Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7190a93c-1f50-47bb-93c8-76849bac9800","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-09T17:41:03.242Z","id":"7190a93c-1f50-47bb-93c8-76849bac9800","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7190a93c-1f50-47bb-93c8-76849bac9800"},"submission":"2025-04-09T17:39:10.716Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
