interactions:
- request:
    body: "--14d1527d3cb9e734f5db673b69f34e53\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--14d1527d3cb9e734f5db673b69f34e53\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--14d1527d3cb9e734f5db673b69f34e53--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=14d1527d3cb9e734f5db673b69f34e53
    method: POST
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1
  response:
    body:
      string: '{"id":"39afda3d-9e99-4105-9ff6-1ac8e3f7711b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"39afda3d-9e99-4105-9ff6-1ac8e3f7711b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-39afda3d-9e99-4105-9ff6-1ac8e3f7711b"},"submission":"2025-05-06T15:06:58.008Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7df26a6","description":"PickedUp","timestamp":"2025-05-06T15:26:37.095Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-06T15:26:37.096Z","id":"39afda3d-9e99-4105-9ff6-1ac8e3f7711b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-39afda3d-9e99-4105-9ff6-1ac8e3f7711b"},"submission":"2025-05-06T15:06:58.008Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7df26a6","description":"PickedUp","timestamp":"2025-05-06T15:26:37.095Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-05-06T15:26:38.136Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-06T15:26:37.096Z","id":"39afda3d-9e99-4105-9ff6-1ac8e3f7711b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-39afda3d-9e99-4105-9ff6-1ac8e3f7711b"},"submission":"2025-05-06T15:06:58.008Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7df26a6","description":"PickedUp","timestamp":"2025-05-06T15:26:37.095Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"20758706","backend":"gizmo","attempt":1,"start":"2025-05-06T15:26:38.136Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-05-06T15:26:37.096Z","id":"39afda3d-9e99-4105-9ff6-1ac8e3f7711b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-39afda3d-9e99-4105-9ff6-1ac8e3f7711b"},"submission":"2025-05-06T15:06:58.008Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7df26a6","description":"PickedUp","timestamp":"2025-05-06T15:26:37.095Z","cromwellVersion":"87"},{"cromwellId":"cromid-7df26a6","description":"Finished","timestamp":"2025-05-06T15:27:15.877Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"20758706","backend":"gizmo","end":"2025-05-06T15:27:14.801Z","start":"2025-05-06T15:26:38.136Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-05-06T15:26:39.846Z","description":"WaitingForValueStore","endTime":"2025-05-06T15:26:39.847Z"},{"startTime":"2025-05-06T15:26:38.137Z","description":"RequestingExecutionToken","endTime":"2025-05-06T15:26:39.846Z"},{"startTime":"2025-05-06T15:26:39.847Z","description":"PreparingJob","endTime":"2025-05-06T15:26:39.855Z"},{"startTime":"2025-05-06T15:26:39.855Z","description":"RunningJob","endTime":"2025-05-06T15:27:13.968Z"},{"startTime":"2025-05-06T15:27:13.968Z","description":"UpdatingJobStore","endTime":"2025-05-06T15:27:14.801Z"},{"startTime":"2025-05-06T15:26:38.137Z","description":"Pending","endTime":"2025-05-06T15:26:38.137Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/39afda3d-9e99-4105-9ff6-1ac8e3f7711b","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-05-06T15:27:15.877Z","start":"2025-05-06T15:26:37.096Z","id":"39afda3d-9e99-4105-9ff6-1ac8e3f7711b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-39afda3d-9e99-4105-9ff6-1ac8e3f7711b"},"submission":"2025-05-06T15:06:58.008Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
