interactions:
- request:
    body: "--65bf233fa1c94db1d816ee1bea404b96\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--65bf233fa1c94db1d816ee1bea404b96\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--65bf233fa1c94db1d816ee1bea404b96--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=65bf233fa1c94db1d816ee1bea404b96
    method: POST
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1
  response:
    body:
      string: '{"id":"7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4"},"submission":"2026-05-17T04:37:51.591Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T04:59:41.252Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-05-17T04:59:42.310Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-17T04:59:41.252Z","id":"7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4"},"submission":"2026-05-17T04:37:51.591Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T04:59:41.252Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-05-17T04:59:42.310Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-17T04:59:41.252Z","id":"7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4"},"submission":"2026-05-17T04:37:51.591Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T04:59:41.252Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"52338293","backend":"gizmo","attempt":1,"start":"2026-05-17T04:59:42.310Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-17T04:59:41.252Z","id":"7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4"},"submission":"2026-05-17T04:37:51.591Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T04:59:41.252Z","cromwellVersion":"87"},{"cromwellId":"cromid-c2a0582","description":"Finished","timestamp":"2026-05-17T05:00:26.172Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"52338293","backend":"gizmo","end":"2026-05-17T05:00:24.395Z","start":"2026-05-17T04:59:42.310Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-05-17T04:59:48.159Z","description":"WaitingForValueStore","endTime":"2026-05-17T04:59:48.159Z"},{"startTime":"2026-05-17T04:59:42.310Z","description":"Pending","endTime":"2026-05-17T04:59:42.310Z"},{"startTime":"2026-05-17T04:59:42.310Z","description":"RequestingExecutionToken","endTime":"2026-05-17T04:59:48.159Z"},{"startTime":"2026-05-17T04:59:48.165Z","description":"RunningJob","endTime":"2026-05-17T05:00:24.053Z"},{"startTime":"2026-05-17T05:00:24.053Z","description":"UpdatingJobStore","endTime":"2026-05-17T05:00:24.395Z"},{"startTime":"2026-05-17T04:59:48.159Z","description":"PreparingJob","endTime":"2026-05-17T04:59:48.165Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-17T05:00:26.172Z","start":"2026-05-17T04:59:41.252Z","id":"7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7e8e0ddd-fa11-493f-94d4-4b23d4cc9dc4"},"submission":"2026-05-17T04:37:51.591Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
