interactions:
- request:
    body: "--de3bb3da3c9a3cdee18ddd05d367f54c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--de3bb3da3c9a3cdee18ddd05d367f54c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--de3bb3da3c9a3cdee18ddd05d367f54c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=de3bb3da3c9a3cdee18ddd05d367f54c
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"bfc3ab69-73a0-4378-ac4b-7085c8b5a123","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"bfc3ab69-73a0-4378-ac4b-7085c8b5a123","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-bfc3ab69-73a0-4378-ac4b-7085c8b5a123"},"submission":"2025-06-27T20:02:23.172Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:05:44.825Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-27T20:05:45.867Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:05:44.825Z","id":"bfc3ab69-73a0-4378-ac4b-7085c8b5a123","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-bfc3ab69-73a0-4378-ac4b-7085c8b5a123"},"submission":"2025-06-27T20:02:23.172Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:05:44.825Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-27T20:05:45.867Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:05:44.825Z","id":"bfc3ab69-73a0-4378-ac4b-7085c8b5a123","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-bfc3ab69-73a0-4378-ac4b-7085c8b5a123"},"submission":"2025-06-27T20:02:23.172Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:05:44.825Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"25767642","backend":"gizmo","attempt":1,"start":"2025-06-27T20:05:45.867Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:05:44.825Z","id":"bfc3ab69-73a0-4378-ac4b-7085c8b5a123","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-bfc3ab69-73a0-4378-ac4b-7085c8b5a123"},"submission":"2025-06-27T20:02:23.172Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:05:44.825Z","cromwellVersion":"87"},{"cromwellId":"cromid-f817fba","description":"Finished","timestamp":"2025-06-27T20:06:28.707Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"25767642","backend":"gizmo","end":"2025-06-27T20:06:27.118Z","start":"2025-06-27T20:05:45.867Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-06-27T20:05:45.867Z","description":"RequestingExecutionToken","endTime":"2025-06-27T20:05:52.774Z"},{"startTime":"2025-06-27T20:05:52.782Z","description":"RunningJob","endTime":"2025-06-27T20:06:26.294Z"},{"startTime":"2025-06-27T20:05:52.774Z","description":"WaitingForValueStore","endTime":"2025-06-27T20:05:52.774Z"},{"startTime":"2025-06-27T20:05:52.774Z","description":"PreparingJob","endTime":"2025-06-27T20:05:52.782Z"},{"startTime":"2025-06-27T20:05:45.867Z","description":"Pending","endTime":"2025-06-27T20:05:45.867Z"},{"startTime":"2025-06-27T20:06:26.294Z","description":"UpdatingJobStore","endTime":"2025-06-27T20:06:27.118Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/globNonmatching/bfc3ab69-73a0-4378-ac4b-7085c8b5a123","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-27T20:06:28.707Z","start":"2025-06-27T20:05:44.825Z","id":"bfc3ab69-73a0-4378-ac4b-7085c8b5a123","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-bfc3ab69-73a0-4378-ac4b-7085c8b5a123"},"submission":"2025-06-27T20:02:23.172Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
