interactions:
- request:
    body: "--05d951212cbf58903bae7d4a380fdedf\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--05d951212cbf58903bae7d4a380fdedf\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--05d951212cbf58903bae7d4a380fdedf--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=05d951212cbf58903bae7d4a380fdedf
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"8cdd040a-38e1-4c49-8275-722785223711","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/8cdd040a-38e1-4c49-8275-722785223711/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"8cdd040a-38e1-4c49-8275-722785223711","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8cdd040a-38e1-4c49-8275-722785223711"},"submission":"2026-10-01T21:00:37.857Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/8cdd040a-38e1-4c49-8275-722785223711/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:01:27.458Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-10-01T21:01:28.533Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:01:27.459Z","id":"8cdd040a-38e1-4c49-8275-722785223711","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8cdd040a-38e1-4c49-8275-722785223711"},"submission":"2026-10-01T21:00:37.857Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/8cdd040a-38e1-4c49-8275-722785223711/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:01:27.458Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-10-01T21:01:28.533Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:01:27.459Z","id":"8cdd040a-38e1-4c49-8275-722785223711","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8cdd040a-38e1-4c49-8275-722785223711"},"submission":"2026-10-01T21:00:37.857Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/8cdd040a-38e1-4c49-8275-722785223711/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:01:27.458Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"9972202","backend":"gizmo","attempt":1,"start":"2026-10-01T21:01:28.533Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:01:27.459Z","id":"8cdd040a-38e1-4c49-8275-722785223711","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8cdd040a-38e1-4c49-8275-722785223711"},"submission":"2026-10-01T21:00:37.857Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/8cdd040a-38e1-4c49-8275-722785223711/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"Finished","timestamp":"2026-10-01T21:03:15.738Z","cromwellVersion":"87"},{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:01:27.458Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"9972202","backend":"gizmo","end":"2026-10-01T21:03:14.546Z","start":"2026-10-01T21:01:28.533Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-10-01T21:01:37.021Z","description":"WaitingForValueStore","endTime":"2026-10-01T21:01:37.021Z"},{"startTime":"2026-10-01T21:01:28.533Z","description":"Pending","endTime":"2026-10-01T21:01:28.533Z"},{"startTime":"2026-10-01T21:01:28.533Z","description":"RequestingExecutionToken","endTime":"2026-10-01T21:01:37.021Z"},{"startTime":"2026-10-01T21:03:14.455Z","description":"UpdatingJobStore","endTime":"2026-10-01T21:03:14.546Z"},{"startTime":"2026-10-01T21:01:37.031Z","description":"RunningJob","endTime":"2026-10-01T21:03:14.455Z"},{"startTime":"2026-10-01T21:01:37.021Z","description":"PreparingJob","endTime":"2026-10-01T21:01:37.031Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8cdd040a-38e1-4c49-8275-722785223711","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-10-01T21:03:15.738Z","start":"2026-10-01T21:01:27.459Z","id":"8cdd040a-38e1-4c49-8275-722785223711","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8cdd040a-38e1-4c49-8275-722785223711"},"submission":"2026-10-01T21:00:37.857Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
