interactions:
- request:
    body: "--92974645f8414ddef0a32931883c2c75\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--92974645f8414ddef0a32931883c2c75\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--92974645f8414ddef0a32931883c2c75--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=92974645f8414ddef0a32931883c2c75
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"4c9748f3-14c0-4653-8db7-d40ab98aaec4","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/4c9748f3-14c0-4653-8db7-d40ab98aaec4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"4c9748f3-14c0-4653-8db7-d40ab98aaec4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4c9748f3-14c0-4653-8db7-d40ab98aaec4"},"submission":"2026-10-04T04:26:37.951Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/4c9748f3-14c0-4653-8db7-d40ab98aaec4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:30:44.693Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-10-04T04:30:45.741Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:30:44.694Z","id":"4c9748f3-14c0-4653-8db7-d40ab98aaec4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4c9748f3-14c0-4653-8db7-d40ab98aaec4"},"submission":"2026-10-04T04:26:37.951Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/4c9748f3-14c0-4653-8db7-d40ab98aaec4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:30:44.693Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-10-04T04:30:45.741Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:30:44.694Z","id":"4c9748f3-14c0-4653-8db7-d40ab98aaec4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4c9748f3-14c0-4653-8db7-d40ab98aaec4"},"submission":"2026-10-04T04:26:37.951Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/4c9748f3-14c0-4653-8db7-d40ab98aaec4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:30:44.693Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"10022879","backend":"gizmo","attempt":1,"start":"2026-10-04T04:30:45.741Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:30:44.694Z","id":"4c9748f3-14c0-4653-8db7-d40ab98aaec4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4c9748f3-14c0-4653-8db7-d40ab98aaec4"},"submission":"2026-10-04T04:26:37.951Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/4c9748f3-14c0-4653-8db7-d40ab98aaec4/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:30:44.693Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"10022879","backend":"gizmo","end":"2026-10-04T04:31:27.334Z","start":"2026-10-04T04:30:45.741Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-10-04T04:31:27.308Z","description":"UpdatingJobStore","endTime":"2026-10-04T04:31:27.334Z"},{"startTime":"2026-10-04T04:30:53.899Z","description":"WaitingForValueStore","endTime":"2026-10-04T04:30:53.899Z"},{"startTime":"2026-10-04T04:30:45.741Z","description":"Pending","endTime":"2026-10-04T04:30:45.742Z"},{"startTime":"2026-10-04T04:30:53.908Z","description":"RunningJob","endTime":"2026-10-04T04:31:27.308Z"},{"startTime":"2026-10-04T04:30:53.899Z","description":"PreparingJob","endTime":"2026-10-04T04:30:53.908Z"},{"startTime":"2026-10-04T04:30:45.742Z","description":"RequestingExecutionToken","endTime":"2026-10-04T04:30:53.899Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4c9748f3-14c0-4653-8db7-d40ab98aaec4","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:30:44.694Z","id":"4c9748f3-14c0-4653-8db7-d40ab98aaec4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4c9748f3-14c0-4653-8db7-d40ab98aaec4"},"submission":"2026-10-04T04:26:37.951Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
