interactions:
- request:
    body: "--e7ea046b7523accd26f326de6698974e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--e7ea046b7523accd26f326de6698974e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e7ea046b7523accd26f326de6698974e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e7ea046b7523accd26f326de6698974e
    method: POST
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1
  response:
    body:
      string: '{"id":"8b3e3a2d-6e3d-4288-96f5-486c4009212a","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/8b3e3a2d-6e3d-4288-96f5-486c4009212a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"8b3e3a2d-6e3d-4288-96f5-486c4009212a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b3e3a2d-6e3d-4288-96f5-486c4009212a"},"submission":"2026-02-12T18:03:36.030Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/8b3e3a2d-6e3d-4288-96f5-486c4009212a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:24:44.766Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-02-12T18:24:45.808Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:24:44.767Z","id":"8b3e3a2d-6e3d-4288-96f5-486c4009212a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b3e3a2d-6e3d-4288-96f5-486c4009212a"},"submission":"2026-02-12T18:03:36.030Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/8b3e3a2d-6e3d-4288-96f5-486c4009212a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:24:44.766Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-02-12T18:24:45.808Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:24:44.767Z","id":"8b3e3a2d-6e3d-4288-96f5-486c4009212a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b3e3a2d-6e3d-4288-96f5-486c4009212a"},"submission":"2026-02-12T18:03:36.030Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/8b3e3a2d-6e3d-4288-96f5-486c4009212a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:24:44.766Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"46401261","backend":"gizmo","attempt":1,"start":"2026-02-12T18:24:45.808Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:24:44.767Z","id":"8b3e3a2d-6e3d-4288-96f5-486c4009212a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b3e3a2d-6e3d-4288-96f5-486c4009212a"},"submission":"2026-02-12T18:03:36.030Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/8b3e3a2d-6e3d-4288-96f5-486c4009212a/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:24:44.766Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"46401261","backend":"gizmo","end":"2026-02-12T18:25:25.130Z","start":"2026-02-12T18:24:45.808Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a/call-create_files","attempt":1,"executionEvents":[{"startTime":"2026-02-12T18:24:51.556Z","description":"PreparingJob","endTime":"2026-02-12T18:24:51.564Z"},{"startTime":"2026-02-12T18:24:51.556Z","description":"WaitingForValueStore","endTime":"2026-02-12T18:24:51.556Z"},{"startTime":"2026-02-12T18:24:45.808Z","description":"Pending","endTime":"2026-02-12T18:24:45.808Z"},{"startTime":"2026-02-12T18:24:45.808Z","description":"RequestingExecutionToken","endTime":"2026-02-12T18:24:51.556Z"},{"startTime":"2026-02-12T18:25:24.670Z","description":"UpdatingJobStore","endTime":"2026-02-12T18:25:25.130Z"},{"startTime":"2026-02-12T18:24:51.564Z","description":"RunningJob","endTime":"2026-02-12T18:25:24.670Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/8b3e3a2d-6e3d-4288-96f5-486c4009212a","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:24:44.767Z","id":"8b3e3a2d-6e3d-4288-96f5-486c4009212a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8b3e3a2d-6e3d-4288-96f5-486c4009212a"},"submission":"2026-02-12T18:03:36.030Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
