interactions:
- request:
    body: "--b06518a87eed9b2fd9667e27615c9fe2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--b06518a87eed9b2fd9667e27615c9fe2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b06518a87eed9b2fd9667e27615c9fe2--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=b06518a87eed9b2fd9667e27615c9fe2
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1
  response:
    body:
      string: '{"id":"740c5ec4-0007-4d3c-a8da-1e9dfe01a753","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"740c5ec4-0007-4d3c-a8da-1e9dfe01a753","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-740c5ec4-0007-4d3c-a8da-1e9dfe01a753"},"submission":"2026-05-24T04:36:05.326Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4b24d22","description":"PickedUp","timestamp":"2026-05-24T04:43:05.296Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-05-24T04:43:06.348Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-24T04:43:05.297Z","id":"740c5ec4-0007-4d3c-a8da-1e9dfe01a753","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-740c5ec4-0007-4d3c-a8da-1e9dfe01a753"},"submission":"2026-05-24T04:36:05.326Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4b24d22","description":"PickedUp","timestamp":"2026-05-24T04:43:05.296Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-05-24T04:43:06.348Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-24T04:43:05.297Z","id":"740c5ec4-0007-4d3c-a8da-1e9dfe01a753","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-740c5ec4-0007-4d3c-a8da-1e9dfe01a753"},"submission":"2026-05-24T04:36:05.326Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4b24d22","description":"PickedUp","timestamp":"2026-05-24T04:43:05.296Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"52578192","backend":"gizmo","attempt":1,"start":"2026-05-24T04:43:06.348Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-24T04:43:05.297Z","id":"740c5ec4-0007-4d3c-a8da-1e9dfe01a753","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-740c5ec4-0007-4d3c-a8da-1e9dfe01a753"},"submission":"2026-05-24T04:36:05.326Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4b24d22","description":"PickedUp","timestamp":"2026-05-24T04:43:05.296Z","cromwellVersion":"87"},{"cromwellId":"cromid-4b24d22","description":"Finished","timestamp":"2026-05-24T04:43:51.228Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"52578192","backend":"gizmo","end":"2026-05-24T04:43:49.451Z","start":"2026-05-24T04:43:06.348Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-05-24T04:43:14.037Z","description":"PreparingJob","endTime":"2026-05-24T04:43:14.058Z"},{"startTime":"2026-05-24T04:43:49.102Z","description":"UpdatingJobStore","endTime":"2026-05-24T04:43:49.452Z"},{"startTime":"2026-05-24T04:43:06.348Z","description":"RequestingExecutionToken","endTime":"2026-05-24T04:43:14.037Z"},{"startTime":"2026-05-24T04:43:06.348Z","description":"Pending","endTime":"2026-05-24T04:43:06.348Z"},{"startTime":"2026-05-24T04:43:14.058Z","description":"RunningJob","endTime":"2026-05-24T04:43:49.102Z"},{"startTime":"2026-05-24T04:43:14.037Z","description":"WaitingForValueStore","endTime":"2026-05-24T04:43:14.037Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/740c5ec4-0007-4d3c-a8da-1e9dfe01a753","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-24T04:43:51.227Z","start":"2026-05-24T04:43:05.297Z","id":"740c5ec4-0007-4d3c-a8da-1e9dfe01a753","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-740c5ec4-0007-4d3c-a8da-1e9dfe01a753"},"submission":"2026-05-24T04:36:05.326Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
