interactions:
- request:
    body: "--05cc65f22bc66988eb55ed4974af5090\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--05cc65f22bc66988eb55ed4974af5090\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--05cc65f22bc66988eb55ed4974af5090--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=05cc65f22bc66988eb55ed4974af5090
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"0150cbb7-cfdd-4483-9c21-42a1ded0111d","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/0150cbb7-cfdd-4483-9c21-42a1ded0111d/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 0150cbb7-cfdd-4483-9c21-42a1ded0111d\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/0150cbb7-cfdd-4483-9c21-42a1ded0111d/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"0150cbb7-cfdd-4483-9c21-42a1ded0111d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0150cbb7-cfdd-4483-9c21-42a1ded0111d"},"submission":"2026-08-09T03:38:43.068Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
