interactions:
- request:
    body: "--4b5aa937bbcbde824c2ba82cb4a0cc55\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--4b5aa937bbcbde824c2ba82cb4a0cc55\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4b5aa937bbcbde824c2ba82cb4a0cc55--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4b5aa937bbcbde824c2ba82cb4a0cc55
    method: POST
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1
  response:
    body:
      string: '{"id":"16b97e67-5918-45cc-a21b-4904b128ed55","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/16b97e67-5918-45cc-a21b-4904b128ed55/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"16b97e67-5918-45cc-a21b-4904b128ed55","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-16b97e67-5918-45cc-a21b-4904b128ed55"},"submission":"2026-07-19T04:15:02.264Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/16b97e67-5918-45cc-a21b-4904b128ed55/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:19:30.182Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-07-19T04:19:31.229Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-19T04:19:30.183Z","id":"16b97e67-5918-45cc-a21b-4904b128ed55","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-16b97e67-5918-45cc-a21b-4904b128ed55"},"submission":"2026-07-19T04:15:02.264Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/16b97e67-5918-45cc-a21b-4904b128ed55/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:19:30.182Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-07-19T04:19:31.229Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-19T04:19:30.183Z","id":"16b97e67-5918-45cc-a21b-4904b128ed55","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-16b97e67-5918-45cc-a21b-4904b128ed55"},"submission":"2026-07-19T04:15:02.264Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/16b97e67-5918-45cc-a21b-4904b128ed55/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:19:30.182Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"55275142","backend":"gizmo","attempt":1,"start":"2026-07-19T04:19:31.229Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-19T04:19:30.183Z","id":"16b97e67-5918-45cc-a21b-4904b128ed55","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-16b97e67-5918-45cc-a21b-4904b128ed55"},"submission":"2026-07-19T04:15:02.264Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/16b97e67-5918-45cc-a21b-4904b128ed55/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-41f987d","description":"PickedUp","timestamp":"2026-07-19T04:19:30.182Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"55275142","backend":"gizmo","end":"2026-07-19T04:20:12.656Z","start":"2026-07-19T04:19:31.229Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-07-19T04:19:39.368Z","description":"RunningJob","endTime":"2026-07-19T04:20:12.172Z"},{"startTime":"2026-07-19T04:19:31.229Z","description":"RequestingExecutionToken","endTime":"2026-07-19T04:19:39.358Z"},{"startTime":"2026-07-19T04:19:31.229Z","description":"Pending","endTime":"2026-07-19T04:19:31.229Z"},{"startTime":"2026-07-19T04:20:12.172Z","description":"UpdatingJobStore","endTime":"2026-07-19T04:20:12.656Z"},{"startTime":"2026-07-19T04:19:39.358Z","description":"WaitingForValueStore","endTime":"2026-07-19T04:19:39.359Z"},{"startTime":"2026-07-19T04:19:39.359Z","description":"PreparingJob","endTime":"2026-07-19T04:19:39.368Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/16b97e67-5918-45cc-a21b-4904b128ed55","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-19T04:19:30.183Z","id":"16b97e67-5918-45cc-a21b-4904b128ed55","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-16b97e67-5918-45cc-a21b-4904b128ed55"},"submission":"2026-07-19T04:15:02.264Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
