interactions:
- request:
    body: "--89a2a16cba77b3a547430f7e0cfe21a9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--89a2a16cba77b3a547430f7e0cfe21a9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--89a2a16cba77b3a547430f7e0cfe21a9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=89a2a16cba77b3a547430f7e0cfe21a9
    method: POST
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1
  response:
    body:
      string: '{"id":"fae6c3ab-8347-4d77-82b1-636983ce2565","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/fae6c3ab-8347-4d77-82b1-636983ce2565/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"fae6c3ab-8347-4d77-82b1-636983ce2565","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fae6c3ab-8347-4d77-82b1-636983ce2565"},"submission":"2025-09-21T03:25:36.224Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/fae6c3ab-8347-4d77-82b1-636983ce2565/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b0c3559","description":"PickedUp","timestamp":"2025-09-21T03:29:28.821Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-21T03:29:28.821Z","id":"fae6c3ab-8347-4d77-82b1-636983ce2565","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fae6c3ab-8347-4d77-82b1-636983ce2565"},"submission":"2025-09-21T03:25:36.224Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/fae6c3ab-8347-4d77-82b1-636983ce2565/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b0c3559","description":"PickedUp","timestamp":"2025-09-21T03:29:28.821Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-09-21T03:29:29.874Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-21T03:29:28.821Z","id":"fae6c3ab-8347-4d77-82b1-636983ce2565","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fae6c3ab-8347-4d77-82b1-636983ce2565"},"submission":"2025-09-21T03:25:36.224Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/fae6c3ab-8347-4d77-82b1-636983ce2565/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b0c3559","description":"PickedUp","timestamp":"2025-09-21T03:29:28.821Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565/call-create_files/execution/stdout","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-09-21T03:29:29.874Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-21T03:29:28.821Z","id":"fae6c3ab-8347-4d77-82b1-636983ce2565","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fae6c3ab-8347-4d77-82b1-636983ce2565"},"submission":"2025-09-21T03:25:36.224Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/fae6c3ab-8347-4d77-82b1-636983ce2565/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b0c3559","description":"PickedUp","timestamp":"2025-09-21T03:29:28.821Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"basicGlobTest.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"File 1\" > file1.txt\necho \"File 2\" > file2.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"35142872","backend":"gizmo","attempt":1,"start":"2025-09-21T03:29:29.874Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fae6c3ab-8347-4d77-82b1-636983ce2565","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-21T03:29:28.821Z","id":"fae6c3ab-8347-4d77-82b1-636983ce2565","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fae6c3ab-8347-4d77-82b1-636983ce2565"},"submission":"2025-09-21T03:25:36.224Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
