interactions:
- request:
    body: "--2407d8432064e33380b37e9765b75c80\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--2407d8432064e33380b37e9765b75c80\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2407d8432064e33380b37e9765b75c80--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2407d8432064e33380b37e9765b75c80
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"90735f71-ea78-43a8-8355-7bd501b89614","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/90735f71-ea78-43a8-8355-7bd501b89614/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"90735f71-ea78-43a8-8355-7bd501b89614","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90735f71-ea78-43a8-8355-7bd501b89614"},"submission":"2025-06-27T20:10:12.964Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/90735f71-ea78-43a8-8355-7bd501b89614/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:29:26.813Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-06-27T20:29:27.856Z"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:29:26.814Z","id":"90735f71-ea78-43a8-8355-7bd501b89614","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90735f71-ea78-43a8-8355-7bd501b89614"},"submission":"2025-06-27T20:10:12.964Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/90735f71-ea78-43a8-8355-7bd501b89614/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:29:26.813Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-06-27T20:29:27.856Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:29:26.814Z","id":"90735f71-ea78-43a8-8355-7bd501b89614","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90735f71-ea78-43a8-8355-7bd501b89614"},"submission":"2025-06-27T20:10:12.964Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/90735f71-ea78-43a8-8355-7bd501b89614/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:29:26.813Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"25768112","backend":"gizmo","attempt":1,"start":"2025-06-27T20:29:27.856Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:29:26.814Z","id":"90735f71-ea78-43a8-8355-7bd501b89614","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90735f71-ea78-43a8-8355-7bd501b89614"},"submission":"2025-06-27T20:10:12.964Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/90735f71-ea78-43a8-8355-7bd501b89614/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"Finished","timestamp":"2025-06-27T20:30:13.763Z","cromwellVersion":"87"},{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:29:26.813Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"25768112","backend":"gizmo","end":"2025-06-27T20:30:12.118Z","start":"2025-06-27T20:29:27.856Z","stderr":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory/execution/stderr","callRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-06-27T20:29:27.856Z","description":"Pending","endTime":"2025-06-27T20:29:27.856Z"},{"startTime":"2025-06-27T20:29:32.774Z","description":"WaitingForValueStore","endTime":"2025-06-27T20:29:32.774Z"},{"startTime":"2025-06-27T20:29:32.774Z","description":"PreparingJob","endTime":"2025-06-27T20:29:32.786Z"},{"startTime":"2025-06-27T20:30:11.401Z","description":"UpdatingJobStore","endTime":"2025-06-27T20:30:12.118Z"},{"startTime":"2025-06-27T20:29:32.786Z","description":"RunningJob","endTime":"2025-06-27T20:30:11.401Z"},{"startTime":"2025-06-27T20:29:27.856Z","description":"RequestingExecutionToken","endTime":"2025-06-27T20:29:32.774Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/90735f71-ea78-43a8-8355-7bd501b89614","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-27T20:30:13.763Z","start":"2025-06-27T20:29:26.814Z","id":"90735f71-ea78-43a8-8355-7bd501b89614","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-90735f71-ea78-43a8-8355-7bd501b89614"},"submission":"2025-06-27T20:10:12.964Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
