interactions:
- request:
    body: "--4cedff50ca5027de1a53b32281fabeb4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--4cedff50ca5027de1a53b32281fabeb4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4cedff50ca5027de1a53b32281fabeb4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4cedff50ca5027de1a53b32281fabeb4
    method: POST
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1
  response:
    body:
      string: '{"id":"1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1f137f03-a6f4-4ab8-b2a8-eda6e357f58c"},"submission":"2025-09-07T03:27:47.514Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-8c8d93d","description":"PickedUp","timestamp":"2025-09-07T03:48:56.881Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-09-07T03:48:57.932Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-07T03:48:56.882Z","id":"1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1f137f03-a6f4-4ab8-b2a8-eda6e357f58c"},"submission":"2025-09-07T03:27:47.514Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-8c8d93d","description":"PickedUp","timestamp":"2025-09-07T03:48:56.881Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-09-07T03:48:57.932Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-07T03:48:56.882Z","id":"1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1f137f03-a6f4-4ab8-b2a8-eda6e357f58c"},"submission":"2025-09-07T03:27:47.514Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-8c8d93d","description":"PickedUp","timestamp":"2025-09-07T03:48:56.881Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"31904705","backend":"gizmo","attempt":1,"start":"2025-09-07T03:48:57.932Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-07T03:48:56.882Z","id":"1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1f137f03-a6f4-4ab8-b2a8-eda6e357f58c"},"submission":"2025-09-07T03:27:47.514Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-8c8d93d","description":"PickedUp","timestamp":"2025-09-07T03:48:56.881Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"31904705","backend":"gizmo","end":"2025-09-07T03:49:37.814Z","start":"2025-09-07T03:48:57.932Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2025-09-07T03:49:37.549Z","description":"UpdatingJobStore","endTime":"2025-09-07T03:49:37.814Z"},{"startTime":"2025-09-07T03:49:04.191Z","description":"WaitingForValueStore","endTime":"2025-09-07T03:49:04.191Z"},{"startTime":"2025-09-07T03:48:57.932Z","description":"RequestingExecutionToken","endTime":"2025-09-07T03:49:04.191Z"},{"startTime":"2025-09-07T03:49:04.214Z","description":"RunningJob","endTime":"2025-09-07T03:49:37.549Z"},{"startTime":"2025-09-07T03:48:57.932Z","description":"Pending","endTime":"2025-09-07T03:48:57.932Z"},{"startTime":"2025-09-07T03:49:04.191Z","description":"PreparingJob","endTime":"2025-09-07T03:49:04.214Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-07T03:48:56.882Z","id":"1f137f03-a6f4-4ab8-b2a8-eda6e357f58c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1f137f03-a6f4-4ab8-b2a8-eda6e357f58c"},"submission":"2025-09-07T03:27:47.514Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
