interactions:
- request:
    body: "--b1780d2bedb75ab2fd504da812784c8d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--b1780d2bedb75ab2fd504da812784c8d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b1780d2bedb75ab2fd504da812784c8d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=b1780d2bedb75ab2fd504da812784c8d
    method: POST
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1
  response:
    body:
      string: '{"id":"4b39ccc4-ee4a-4824-a634-1744333e1019","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/4b39ccc4-ee4a-4824-a634-1744333e1019/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"4b39ccc4-ee4a-4824-a634-1744333e1019","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4b39ccc4-ee4a-4824-a634-1744333e1019"},"submission":"2026-03-22T03:55:31.470Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/4b39ccc4-ee4a-4824-a634-1744333e1019/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-8cf104f","description":"PickedUp","timestamp":"2026-03-22T04:01:51.736Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-03-22T04:01:52.809Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-22T04:01:51.737Z","id":"4b39ccc4-ee4a-4824-a634-1744333e1019","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4b39ccc4-ee4a-4824-a634-1744333e1019"},"submission":"2026-03-22T03:55:31.470Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/4b39ccc4-ee4a-4824-a634-1744333e1019/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-8cf104f","description":"PickedUp","timestamp":"2026-03-22T04:01:51.736Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-03-22T04:01:52.809Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-22T04:01:51.737Z","id":"4b39ccc4-ee4a-4824-a634-1744333e1019","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4b39ccc4-ee4a-4824-a634-1744333e1019"},"submission":"2026-03-22T03:55:31.470Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/4b39ccc4-ee4a-4824-a634-1744333e1019/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-8cf104f","description":"PickedUp","timestamp":"2026-03-22T04:01:51.736Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"49680765","backend":"gizmo","end":"2026-03-22T04:02:09.171Z","start":"2026-03-22T04:01:52.809Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-03-22T04:02:00.408Z","description":"WaitingForValueStore","endTime":"2026-03-22T04:02:00.408Z"},{"startTime":"2026-03-22T04:01:52.809Z","description":"RequestingExecutionToken","endTime":"2026-03-22T04:02:00.408Z"},{"startTime":"2026-03-22T04:01:52.809Z","description":"Pending","endTime":"2026-03-22T04:01:52.809Z"},{"startTime":"2026-03-22T04:02:00.408Z","description":"PreparingJob","endTime":"2026-03-22T04:02:00.416Z"},{"startTime":"2026-03-22T04:02:00.416Z","description":"RunningJob","endTime":"2026-03-22T04:02:08.174Z"},{"startTime":"2026-03-22T04:02:08.174Z","description":"UpdatingJobStore","endTime":"2026-03-22T04:02:09.171Z"}]}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4b39ccc4-ee4a-4824-a634-1744333e1019","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-22T04:01:51.737Z","id":"4b39ccc4-ee4a-4824-a634-1744333e1019","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4b39ccc4-ee4a-4824-a634-1744333e1019"},"submission":"2026-03-22T03:55:31.470Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
