interactions:
- request:
    body: "--4baa4aad6c360f92d8fa799337b69d53\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--4baa4aad6c360f92d8fa799337b69d53\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4baa4aad6c360f92d8fa799337b69d53--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4baa4aad6c360f92d8fa799337b69d53
    method: POST
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1
  response:
    body:
      string: '{"id":"6fdcb651-7a3c-4135-980e-22d9908433bf","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/6fdcb651-7a3c-4135-980e-22d9908433bf/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"6fdcb651-7a3c-4135-980e-22d9908433bf","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fdcb651-7a3c-4135-980e-22d9908433bf"},"submission":"2025-10-28T16:51:23.840Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/6fdcb651-7a3c-4135-980e-22d9908433bf/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-10-28T17:13:22.013Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-10-28T17:13:23.054Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-28T17:13:22.014Z","id":"6fdcb651-7a3c-4135-980e-22d9908433bf","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fdcb651-7a3c-4135-980e-22d9908433bf"},"submission":"2025-10-28T16:51:23.840Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/6fdcb651-7a3c-4135-980e-22d9908433bf/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-10-28T17:13:22.013Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-10-28T17:13:23.054Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-28T17:13:22.014Z","id":"6fdcb651-7a3c-4135-980e-22d9908433bf","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fdcb651-7a3c-4135-980e-22d9908433bf"},"submission":"2025-10-28T16:51:23.840Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/6fdcb651-7a3c-4135-980e-22d9908433bf/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-10-28T17:13:22.013Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"40428884","backend":"gizmo","attempt":1,"start":"2025-10-28T17:13:23.054Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-28T17:13:22.014Z","id":"6fdcb651-7a3c-4135-980e-22d9908433bf","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fdcb651-7a3c-4135-980e-22d9908433bf"},"submission":"2025-10-28T16:51:23.840Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/6fdcb651-7a3c-4135-980e-22d9908433bf/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"Finished","timestamp":"2025-10-28T17:14:01.814Z","cromwellVersion":"87"},{"cromwellId":"cromid-7248ac8","description":"PickedUp","timestamp":"2025-10-28T17:13:22.013Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"40428884","backend":"gizmo","end":"2025-10-28T17:13:59.778Z","start":"2025-10-28T17:13:23.054Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-10-28T17:13:59.487Z","description":"UpdatingJobStore","endTime":"2025-10-28T17:13:59.778Z"},{"startTime":"2025-10-28T17:13:23.055Z","description":"Pending","endTime":"2025-10-28T17:13:23.055Z"},{"startTime":"2025-10-28T17:13:29.182Z","description":"WaitingForValueStore","endTime":"2025-10-28T17:13:29.182Z"},{"startTime":"2025-10-28T17:13:29.182Z","description":"PreparingJob","endTime":"2025-10-28T17:13:29.189Z"},{"startTime":"2025-10-28T17:13:29.189Z","description":"RunningJob","endTime":"2025-10-28T17:13:59.487Z"},{"startTime":"2025-10-28T17:13:23.055Z","description":"RequestingExecutionToken","endTime":"2025-10-28T17:13:29.182Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/6fdcb651-7a3c-4135-980e-22d9908433bf","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-10-28T17:14:01.814Z","start":"2025-10-28T17:13:22.014Z","id":"6fdcb651-7a3c-4135-980e-22d9908433bf","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6fdcb651-7a3c-4135-980e-22d9908433bf"},"submission":"2025-10-28T16:51:23.840Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
