interactions:
- request:
    body: "--371be2498cf88f7ce7a924abd14171c8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--371be2498cf88f7ce7a924abd14171c8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--371be2498cf88f7ce7a924abd14171c8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=371be2498cf88f7ce7a924abd14171c8
    method: POST
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1
  response:
    body:
      string: '{"id":"d9237891-0c3d-46d4-aa78-a3486ef3949f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/d9237891-0c3d-46d4-aa78-a3486ef3949f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"d9237891-0c3d-46d4-aa78-a3486ef3949f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9237891-0c3d-46d4-aa78-a3486ef3949f"},"submission":"2025-12-21T03:42:05.644Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/d9237891-0c3d-46d4-aa78-a3486ef3949f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-a3dbb85","description":"PickedUp","timestamp":"2025-12-21T04:04:42.718Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-12-21T04:04:43.775Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-21T04:04:42.719Z","id":"d9237891-0c3d-46d4-aa78-a3486ef3949f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9237891-0c3d-46d4-aa78-a3486ef3949f"},"submission":"2025-12-21T03:42:05.644Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/d9237891-0c3d-46d4-aa78-a3486ef3949f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-a3dbb85","description":"PickedUp","timestamp":"2025-12-21T04:04:42.718Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files/execution/stdout","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2025-12-21T04:04:43.775Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-21T04:04:42.719Z","id":"d9237891-0c3d-46d4-aa78-a3486ef3949f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9237891-0c3d-46d4-aa78-a3486ef3949f"},"submission":"2025-12-21T03:42:05.644Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/d9237891-0c3d-46d4-aa78-a3486ef3949f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-a3dbb85","description":"PickedUp","timestamp":"2025-12-21T04:04:42.718Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"43905089","backend":"gizmo","attempt":1,"start":"2025-12-21T04:04:43.775Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-21T04:04:42.719Z","id":"d9237891-0c3d-46d4-aa78-a3486ef3949f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9237891-0c3d-46d4-aa78-a3486ef3949f"},"submission":"2025-12-21T03:42:05.644Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/d9237891-0c3d-46d4-aa78-a3486ef3949f/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-a3dbb85","description":"PickedUp","timestamp":"2025-12-21T04:04:42.718Z","cromwellVersion":"87"},{"cromwellId":"cromid-a3dbb85","description":"Finished","timestamp":"2025-12-21T04:05:27.644Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"43905089","backend":"gizmo","end":"2025-12-21T04:05:26.600Z","start":"2025-12-21T04:04:43.775Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-12-21T04:04:49.754Z","description":"RunningJob","endTime":"2025-12-21T04:05:25.830Z"},{"startTime":"2025-12-21T04:04:49.732Z","description":"WaitingForValueStore","endTime":"2025-12-21T04:04:49.732Z"},{"startTime":"2025-12-21T04:04:43.775Z","description":"RequestingExecutionToken","endTime":"2025-12-21T04:04:49.732Z"},{"startTime":"2025-12-21T04:04:49.732Z","description":"PreparingJob","endTime":"2025-12-21T04:04:49.754Z"},{"startTime":"2025-12-21T04:04:43.775Z","description":"Pending","endTime":"2025-12-21T04:04:43.775Z"},{"startTime":"2025-12-21T04:05:25.830Z","description":"UpdatingJobStore","endTime":"2025-12-21T04:05:26.600Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/d9237891-0c3d-46d4-aa78-a3486ef3949f","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-12-21T04:05:27.644Z","start":"2025-12-21T04:04:42.719Z","id":"d9237891-0c3d-46d4-aa78-a3486ef3949f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d9237891-0c3d-46d4-aa78-a3486ef3949f"},"submission":"2025-12-21T03:42:05.644Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
