interactions:
- request:
    body: "--ff75cf416bac71ec25bb642fd9c46c70\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--ff75cf416bac71ec25bb642fd9c46c70\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ff75cf416bac71ec25bb642fd9c46c70--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ff75cf416bac71ec25bb642fd9c46c70
    method: POST
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1
  response:
    body:
      string: '{"id":"b6696a78-8bfb-4c42-92eb-4f1217468b22","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/b6696a78-8bfb-4c42-92eb-4f1217468b22/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b6696a78-8bfb-4c42-92eb-4f1217468b22","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b6696a78-8bfb-4c42-92eb-4f1217468b22"},"submission":"2026-04-19T04:10:11.649Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/b6696a78-8bfb-4c42-92eb-4f1217468b22/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4d0ae0e","description":"PickedUp","timestamp":"2026-04-19T04:16:24.324Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-04-19T04:16:25.370Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-19T04:16:24.325Z","id":"b6696a78-8bfb-4c42-92eb-4f1217468b22","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b6696a78-8bfb-4c42-92eb-4f1217468b22"},"submission":"2026-04-19T04:10:11.649Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/b6696a78-8bfb-4c42-92eb-4f1217468b22/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4d0ae0e","description":"PickedUp","timestamp":"2026-04-19T04:16:24.324Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-04-19T04:16:25.370Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-19T04:16:24.325Z","id":"b6696a78-8bfb-4c42-92eb-4f1217468b22","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b6696a78-8bfb-4c42-92eb-4f1217468b22"},"submission":"2026-04-19T04:10:11.649Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/b6696a78-8bfb-4c42-92eb-4f1217468b22/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4d0ae0e","description":"PickedUp","timestamp":"2026-04-19T04:16:24.324Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"51406895","backend":"gizmo","attempt":1,"start":"2026-04-19T04:16:25.370Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-19T04:16:24.325Z","id":"b6696a78-8bfb-4c42-92eb-4f1217468b22","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b6696a78-8bfb-4c42-92eb-4f1217468b22"},"submission":"2026-04-19T04:10:11.649Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/b6696a78-8bfb-4c42-92eb-4f1217468b22/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4d0ae0e","description":"PickedUp","timestamp":"2026-04-19T04:16:24.324Z","cromwellVersion":"87"},{"cromwellId":"cromid-4d0ae0e","description":"Finished","timestamp":"2026-04-19T04:17:02.087Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"51406895","backend":"gizmo","end":"2026-04-19T04:17:00.759Z","start":"2026-04-19T04:16:25.370Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-04-19T04:16:28.145Z","description":"PreparingJob","endTime":"2026-04-19T04:16:28.152Z"},{"startTime":"2026-04-19T04:16:25.370Z","description":"RequestingExecutionToken","endTime":"2026-04-19T04:16:28.144Z"},{"startTime":"2026-04-19T04:16:28.152Z","description":"RunningJob","endTime":"2026-04-19T04:17:00.138Z"},{"startTime":"2026-04-19T04:17:00.138Z","description":"UpdatingJobStore","endTime":"2026-04-19T04:17:00.759Z"},{"startTime":"2026-04-19T04:16:25.370Z","description":"Pending","endTime":"2026-04-19T04:16:25.370Z"},{"startTime":"2026-04-19T04:16:28.144Z","description":"WaitingForValueStore","endTime":"2026-04-19T04:16:28.145Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b6696a78-8bfb-4c42-92eb-4f1217468b22","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-19T04:17:02.087Z","start":"2026-04-19T04:16:24.325Z","id":"b6696a78-8bfb-4c42-92eb-4f1217468b22","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b6696a78-8bfb-4c42-92eb-4f1217468b22"},"submission":"2026-04-19T04:10:11.649Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
