interactions:
- request:
    body: "--9d3e231e13ac7a83fda779bcb750dabb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--9d3e231e13ac7a83fda779bcb750dabb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9d3e231e13ac7a83fda779bcb750dabb--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9d3e231e13ac7a83fda779bcb750dabb
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"35d7b2f0-f474-4227-aa48-b3478be0a194","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/35d7b2f0-f474-4227-aa48-b3478be0a194/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"35d7b2f0-f474-4227-aa48-b3478be0a194","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-35d7b2f0-f474-4227-aa48-b3478be0a194"},"submission":"2026-10-04T04:26:37.837Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/35d7b2f0-f474-4227-aa48-b3478be0a194/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:29:44.594Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2026-10-04T04:29:45.651Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:29:44.595Z","id":"35d7b2f0-f474-4227-aa48-b3478be0a194","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-35d7b2f0-f474-4227-aa48-b3478be0a194"},"submission":"2026-10-04T04:26:37.837Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/35d7b2f0-f474-4227-aa48-b3478be0a194/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:29:44.594Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory/execution/stdout","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"backend":"gizmo","attempt":1,"start":"2026-10-04T04:29:45.651Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:29:44.595Z","id":"35d7b2f0-f474-4227-aa48-b3478be0a194","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-35d7b2f0-f474-4227-aa48-b3478be0a194"},"submission":"2026-10-04T04:26:37.837Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/35d7b2f0-f474-4227-aa48-b3478be0a194/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:29:44.594Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory/execution/stdout","backendStatus":"Running","commandLine":"mkdir
        empty_dir","shardIndex":-1,"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"10022864","backend":"gizmo","attempt":1,"start":"2026-10-04T04:29:45.651Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:29:44.595Z","id":"35d7b2f0-f474-4227-aa48-b3478be0a194","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-35d7b2f0-f474-4227-aa48-b3478be0a194"},"submission":"2026-10-04T04:26:37.837Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/35d7b2f0-f474-4227-aa48-b3478be0a194/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"Finished","timestamp":"2026-10-04T04:30:27.473Z","cromwellVersion":"87"},{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:29:44.594Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"emptyGlobTest.create_empty_directory":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory/execution/stdout","backendStatus":"Done","commandLine":"mkdir
        empty_dir","shardIndex":-1,"outputs":{"no_files":[]},"runtimeAttributes":{"gpu":"false","failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"10022864","backend":"gizmo","end":"2026-10-04T04:30:26.334Z","start":"2026-10-04T04:29:45.651Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194/call-create_empty_directory","attempt":1,"executionEvents":[{"startTime":"2026-10-04T04:30:26.204Z","description":"UpdatingJobStore","endTime":"2026-10-04T04:30:26.334Z"},{"startTime":"2026-10-04T04:29:45.653Z","description":"Pending","endTime":"2026-10-04T04:29:45.653Z"},{"startTime":"2026-10-04T04:29:53.899Z","description":"WaitingForValueStore","endTime":"2026-10-04T04:29:53.899Z"},{"startTime":"2026-10-04T04:29:53.911Z","description":"RunningJob","endTime":"2026-10-04T04:30:26.204Z"},{"startTime":"2026-10-04T04:29:45.653Z","description":"RequestingExecutionToken","endTime":"2026-10-04T04:29:53.899Z"},{"startTime":"2026-10-04T04:29:53.899Z","description":"PreparingJob","endTime":"2026-10-04T04:29:53.911Z"}]}]},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/35d7b2f0-f474-4227-aa48-b3478be0a194","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-10-04T04:30:27.473Z","start":"2026-10-04T04:29:44.595Z","id":"35d7b2f0-f474-4227-aa48-b3478be0a194","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-35d7b2f0-f474-4227-aa48-b3478be0a194"},"submission":"2026-10-04T04:26:37.837Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
