interactions:
- request:
    body: "--3e0d1f4d0006881e89bcf5b97327c557\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--3e0d1f4d0006881e89bcf5b97327c557\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3e0d1f4d0006881e89bcf5b97327c557--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=3e0d1f4d0006881e89bcf5b97327c557
    method: POST
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1
  response:
    body:
      string: '{"id":"52d676b0-3ef9-4be7-8c30-4117905d1ab2","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/52d676b0-3ef9-4be7-8c30-4117905d1ab2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"52d676b0-3ef9-4be7-8c30-4117905d1ab2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-52d676b0-3ef9-4be7-8c30-4117905d1ab2"},"submission":"2025-10-26T03:26:55.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/52d676b0-3ef9-4be7-8c30-4117905d1ab2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-803eda2","description":"PickedUp","timestamp":"2025-10-26T03:29:26.129Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"QueuedInCromwell","shardIndex":-1,"backend":"gizmo","attempt":1,"start":"2025-10-26T03:29:27.181Z"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-26T03:29:26.130Z","id":"52d676b0-3ef9-4be7-8c30-4117905d1ab2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-52d676b0-3ef9-4be7-8c30-4117905d1ab2"},"submission":"2025-10-26T03:26:55.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/52d676b0-3ef9-4be7-8c30-4117905d1ab2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-803eda2","description":"PickedUp","timestamp":"2025-10-26T03:29:26.129Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Running","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2/call-create_files/execution/stdout","backendStatus":"Running","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"jobId":"40375226","backend":"gizmo","attempt":1,"start":"2025-10-26T03:29:27.181Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2/call-create_files"}]},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-26T03:29:26.130Z","id":"52d676b0-3ef9-4be7-8c30-4117905d1ab2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-52d676b0-3ef9-4be7-8c30-4117905d1ab2"},"submission":"2025-10-26T03:26:55.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/52d676b0-3ef9-4be7-8c30-4117905d1ab2/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-803eda2","description":"Finished","timestamp":"2025-10-26T03:30:10.021Z","cromwellVersion":"87"},{"cromwellId":"cromid-803eda2","description":"PickedUp","timestamp":"2025-10-26T03:29:26.129Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{"globNonmatching.create_files":[{"executionStatus":"Done","stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2/call-create_files/execution/stdout","backendStatus":"Done","commandLine":"echo
        \"Test file\" > test.txt","shardIndex":-1,"outputs":{"unmatched_files":[]},"runtimeAttributes":{"failOnStderr":"false","partition":"campus-new","continueOnReturnCode":"0","modules":"","gpus":"0","maxRetries":"0","cpu":"1","memory":"1.953125
        GB"},"callCaching":{"allowResultReuse":false,"effectiveCallCachingMode":"CallCachingOff"},"inputs":{},"returnCode":0,"jobId":"40375226","backend":"gizmo","end":"2025-10-26T03:30:08.013Z","start":"2025-10-26T03:29:27.181Z","stderr":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2/call-create_files/execution/stderr","callRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2/call-create_files","attempt":1,"executionEvents":[{"startTime":"2025-10-26T03:30:07.783Z","description":"UpdatingJobStore","endTime":"2025-10-26T03:30:08.013Z"},{"startTime":"2025-10-26T03:29:31.419Z","description":"PreparingJob","endTime":"2025-10-26T03:29:31.427Z"},{"startTime":"2025-10-26T03:29:27.181Z","description":"RequestingExecutionToken","endTime":"2025-10-26T03:29:31.419Z"},{"startTime":"2025-10-26T03:29:27.181Z","description":"Pending","endTime":"2025-10-26T03:29:27.181Z"},{"startTime":"2025-10-26T03:29:31.427Z","description":"RunningJob","endTime":"2025-10-26T03:30:07.783Z"},{"startTime":"2025-10-26T03:29:31.419Z","description":"WaitingForValueStore","endTime":"2025-10-26T03:29:31.419Z"}]}]},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/52d676b0-3ef9-4be7-8c30-4117905d1ab2","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-10-26T03:30:10.021Z","start":"2025-10-26T03:29:26.130Z","id":"52d676b0-3ef9-4be7-8c30-4117905d1ab2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-52d676b0-3ef9-4be7-8c30-4117905d1ab2"},"submission":"2025-10-26T03:26:55.372Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
