interactions:
- request:
    body: "--66262a7916e965079bd464b626f5a2ad\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--66262a7916e965079bd464b626f5a2ad\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--66262a7916e965079bd464b626f5a2ad--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=66262a7916e965079bd464b626f5a2ad
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"4fc5c1f4-5b91-4688-9a8e-7ced03ad169e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/4fc5c1f4-5b91-4688-9a8e-7ced03ad169e/metadata?expandSubWorkflows=true
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4fc5c1f4-5b91-4688-9a8e-7ced03ad169e\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/4fc5c1f4-5b91-4688-9a8e-7ced03ad169e/metadata?expandSubWorkflows=true
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"4fc5c1f4-5b91-4688-9a8e-7ced03ad169e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4fc5c1f4-5b91-4688-9a8e-7ced03ad169e"},"submission":"2025-06-04T22:27:53.014Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
