interactions:
- request:
    body: "--a65162293ec9a2ef314babb6db917e34\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--a65162293ec9a2ef314babb6db917e34\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a65162293ec9a2ef314babb6db917e34--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a65162293ec9a2ef314babb6db917e34
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"a2b284aa-5788-449f-b87e-b0945b351ff3","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/a2b284aa-5788-449f-b87e-b0945b351ff3/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a2b284aa-5788-449f-b87e-b0945b351ff3\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/a2b284aa-5788-449f-b87e-b0945b351ff3/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a2b284aa-5788-449f-b87e-b0945b351ff3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
