interactions:
- request:
    body: "--44d786022085a8d5c2983b325606301d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--44d786022085a8d5c2983b325606301d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--44d786022085a8d5c2983b325606301d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=44d786022085a8d5c2983b325606301d
    method: POST
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1
  response:
    body:
      string: '{"id":"007ec0e8-888b-4f5b-91fa-915ed2a68496","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/007ec0e8-888b-4f5b-91fa-915ed2a68496/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 007ec0e8-888b-4f5b-91fa-915ed2a68496\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/007ec0e8-888b-4f5b-91fa-915ed2a68496/outputs
  response:
    body:
      string: '{"outputs":{},"id":"007ec0e8-888b-4f5b-91fa-915ed2a68496"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
