interactions:
- request:
    body: "--e2adf33d5cd77997f454352f6f5d82cc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--e2adf33d5cd77997f454352f6f5d82cc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e2adf33d5cd77997f454352f6f5d82cc--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e2adf33d5cd77997f454352f6f5d82cc
    method: POST
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1
  response:
    body:
      string: '{"id":"ed036c55-03ad-4427-9711-2ed3f3ed3400","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/ed036c55-03ad-4427-9711-2ed3f3ed3400/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ed036c55-03ad-4427-9711-2ed3f3ed3400\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/ed036c55-03ad-4427-9711-2ed3f3ed3400/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ed036c55-03ad-4427-9711-2ed3f3ed3400"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
