interactions:
- request:
    body: "--1c93525db7239de8194121fb99367190\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/594b59a4-6a8a-42aa-bc22-93f0db22a7aa/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 594b59a4-6a8a-42aa-bc22-93f0db22a7aa\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/594b59a4-6a8a-42aa-bc22-93f0db22a7aa/outputs
  response:
    body:
      string: '{"outputs":{},"id":"594b59a4-6a8a-42aa-bc22-93f0db22a7aa"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
