interactions:
- request:
    body: "--772ee9bbad20d0f374d7094b8b3782e3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/e76dda37-b05b-4094-96e6-ba3da2218e07/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e76dda37-b05b-4094-96e6-ba3da2218e07\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/e76dda37-b05b-4094-96e6-ba3da2218e07/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e76dda37-b05b-4094-96e6-ba3da2218e07"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
