interactions:
- request:
    body: "--767052f8eaa250c63018f5011968166f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--767052f8eaa250c63018f5011968166f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--767052f8eaa250c63018f5011968166f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=767052f8eaa250c63018f5011968166f
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"e84e705a-fa80-4194-a78b-7c17ff912e83","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/e84e705a-fa80-4194-a78b-7c17ff912e83/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e84e705a-fa80-4194-a78b-7c17ff912e83\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/e84e705a-fa80-4194-a78b-7c17ff912e83/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e84e705a-fa80-4194-a78b-7c17ff912e83"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
