interactions:
- request:
    body: "--2d0641c48207218ca714e3e405bb0c8e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--2d0641c48207218ca714e3e405bb0c8e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2d0641c48207218ca714e3e405bb0c8e--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2d0641c48207218ca714e3e405bb0c8e
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"32faeaf0-3097-4ad7-af16-c34f58866b73","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/32faeaf0-3097-4ad7-af16-c34f58866b73/outputs
  response:
    body:
      string: '{"outputs":{},"id":"32faeaf0-3097-4ad7-af16-c34f58866b73"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
