interactions:
- request:
    body: "--823ce30430f070f5d80b0be830fc11a6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--823ce30430f070f5d80b0be830fc11a6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--823ce30430f070f5d80b0be830fc11a6--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=823ce30430f070f5d80b0be830fc11a6
    method: POST
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1
  response:
    body:
      string: '{"id":"f1b50a6c-bb77-4bce-abc1-4171c4764441","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/f1b50a6c-bb77-4bce-abc1-4171c4764441/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f1b50a6c-bb77-4bce-abc1-4171c4764441\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/f1b50a6c-bb77-4bce-abc1-4171c4764441/outputs
  response:
    body:
      string: '{"outputs":{},"id":"f1b50a6c-bb77-4bce-abc1-4171c4764441"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
