interactions:
- request:
    body: "--22a3719ce6b2530a037064f761d13cc4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/6d1106f3-0a8e-4e59-80aa-1d3e4e97d842/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 6d1106f3-0a8e-4e59-80aa-1d3e4e97d842\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/6d1106f3-0a8e-4e59-80aa-1d3e4e97d842/outputs
  response:
    body:
      string: '{"outputs":{},"id":"6d1106f3-0a8e-4e59-80aa-1d3e4e97d842"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
