interactions:
- request:
    body: "--2d12168b2d8676169d76d33404b2d9ed\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--2d12168b2d8676169d76d33404b2d9ed\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2d12168b2d8676169d76d33404b2d9ed--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2d12168b2d8676169d76d33404b2d9ed
    method: POST
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1
  response:
    body:
      string: '{"id":"e364efac-9fd6-4f84-8a39-88a52ea67d5d","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/e364efac-9fd6-4f84-8a39-88a52ea67d5d/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e364efac-9fd6-4f84-8a39-88a52ea67d5d\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/e364efac-9fd6-4f84-8a39-88a52ea67d5d/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e364efac-9fd6-4f84-8a39-88a52ea67d5d"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
