interactions:
- request:
    body: "--e94514087593dbe74329e2924867671e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--e94514087593dbe74329e2924867671e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e94514087593dbe74329e2924867671e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e94514087593dbe74329e2924867671e
    method: POST
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1
  response:
    body:
      string: '{"id":"819c657f-ead7-4e94-a7d9-c20d0c6c3522","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/819c657f-ead7-4e94-a7d9-c20d0c6c3522/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 819c657f-ead7-4e94-a7d9-c20d0c6c3522\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/819c657f-ead7-4e94-a7d9-c20d0c6c3522/outputs
  response:
    body:
      string: '{"outputs":{},"id":"819c657f-ead7-4e94-a7d9-c20d0c6c3522"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
