interactions:
- request:
    body: "--363ac76e258ae7db997ca26c48f31375\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/9a744dee-ccf3-4849-ba0b-1f1f3b1a9d89/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 9a744dee-ccf3-4849-ba0b-1f1f3b1a9d89\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/9a744dee-ccf3-4849-ba0b-1f1f3b1a9d89/outputs
  response:
    body:
      string: '{"outputs":{},"id":"9a744dee-ccf3-4849-ba0b-1f1f3b1a9d89"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
