interactions:
- request:
    body: "--827f46d001e1ce855f4376d4e9d0d91e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/ec052d0a-a8ae-414f-a4a4-d77788914c00/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ec052d0a-a8ae-414f-a4a4-d77788914c00\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/ec052d0a-a8ae-414f-a4a4-d77788914c00/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ec052d0a-a8ae-414f-a4a4-d77788914c00"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
