interactions:
- request:
    body: "--b0b0a9dd1212b259293e2ebda5d0f6f3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--b0b0a9dd1212b259293e2ebda5d0f6f3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b0b0a9dd1212b259293e2ebda5d0f6f3--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b0b0a9dd1212b259293e2ebda5d0f6f3
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"00c9a4f3-2a88-4ec6-8922-a111a90b06ae","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/00c9a4f3-2a88-4ec6-8922-a111a90b06ae/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 00c9a4f3-2a88-4ec6-8922-a111a90b06ae\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/00c9a4f3-2a88-4ec6-8922-a111a90b06ae/outputs
  response:
    body:
      string: '{"outputs":{},"id":"00c9a4f3-2a88-4ec6-8922-a111a90b06ae"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
