interactions:
- request:
    body: "--9f2d437f0dbf967b88f8edb1e4ec908b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--9f2d437f0dbf967b88f8edb1e4ec908b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9f2d437f0dbf967b88f8edb1e4ec908b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9f2d437f0dbf967b88f8edb1e4ec908b
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"81ae083c-da84-4110-9019-718122734d97","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/81ae083c-da84-4110-9019-718122734d97/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 81ae083c-da84-4110-9019-718122734d97\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/81ae083c-da84-4110-9019-718122734d97/outputs
  response:
    body:
      string: '{"outputs":{},"id":"81ae083c-da84-4110-9019-718122734d97"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
