interactions:
- request:
    body: "--55fb44b5c1a20bf8df99369e647aefc0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--55fb44b5c1a20bf8df99369e647aefc0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--55fb44b5c1a20bf8df99369e647aefc0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=55fb44b5c1a20bf8df99369e647aefc0
    method: POST
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1
  response:
    body:
      string: '{"id":"0597d582-f48b-4fd6-a74c-37d8e2c1a92f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/0597d582-f48b-4fd6-a74c-37d8e2c1a92f/outputs
  response:
    body:
      string: '{"outputs":{},"id":"0597d582-f48b-4fd6-a74c-37d8e2c1a92f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
