interactions:
- request:
    body: "--ca9b6dcc44b678755155faf766c559b1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--ca9b6dcc44b678755155faf766c559b1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ca9b6dcc44b678755155faf766c559b1--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=ca9b6dcc44b678755155faf766c559b1
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"248724bd-852f-4446-8336-d5ba66664ce3","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/248724bd-852f-4446-8336-d5ba66664ce3/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 248724bd-852f-4446-8336-d5ba66664ce3\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/248724bd-852f-4446-8336-d5ba66664ce3/outputs
  response:
    body:
      string: '{"outputs":{},"id":"248724bd-852f-4446-8336-d5ba66664ce3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
