interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5/call-Hostname/execution/stdout"},"id":"0be82d1b-8a6f-4e65-8a4b-49b8a38f23f5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/764b2b91-f919-44f8-af28-71c6f475dffc/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/764b2b91-f919-44f8-af28-71c6f475dffc/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/764b2b91-f919-44f8-af28-71c6f475dffc/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/764b2b91-f919-44f8-af28-71c6f475dffc/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/764b2b91-f919-44f8-af28-71c6f475dffc/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/764b2b91-f919-44f8-af28-71c6f475dffc/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"],"WildcardsandConditions.conditional_result":"Parsed
        prefix: testfile"},"id":"764b2b91-f919-44f8-af28-71c6f475dffc"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/20416cd7-7d31-4d01-b155-13a1618124ac/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"20416cd7-7d31-4d01-b155-13a1618124ac"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/90e0e5b6-99e3-42cf-8615-0e34f11fd689/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/90e0e5b6-99e3-42cf-8615-0e34f11fd689/call-file_operations/execution/file1.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/90e0e5b6-99e3-42cf-8615-0e34f11fd689/call-file_operations/execution/output_dir/file2.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/90e0e5b6-99e3-42cf-8615-0e34f11fd689/call-file_operations/execution/file3_renamed.txt"},"id":"90e0e5b6-99e3-42cf-8615-0e34f11fd689"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/71d121b0-35b9-45a3-a5a9-c5fd83925ff8/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"71d121b0-35b9-45a3-a5a9-c5fd83925ff8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/c70522c4-7e9f-42e6-861c-ccc1ca3d9218/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.final_summary":"Multiple high-quality
        samples processed\nNumber of samples processed: 2","conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/c70522c4-7e9f-42e6-861c-ccc1ca3d9218/call-run_qc_report/execution/report.csv"},"id":"c70522c4-7e9f-42e6-861c-ccc1ca3d9218"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/899890e5-7c99-4c94-9711-aa2d46cd1cae/outputs
  response:
    body:
      string: '{"outputs":{"jsonTaskOrderTest.task2_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/899890e5-7c99-4c94-9711-aa2d46cd1cae/call-Task2/execution/task2_output.txt","jsonTaskOrderTest.task1_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/899890e5-7c99-4c94-9711-aa2d46cd1cae/call-Task1/execution/task1_output.txt"},"id":"899890e5-7c99-4c94-9711-aa2d46cd1cae"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/8b1e33f9-f844-4271-9225-f6d9a8011483/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"8b1e33f9-f844-4271-9225-f6d9a8011483"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/c6ec497b-38c7-499c-98aa-e871a30ec584/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/c6ec497b-38c7-499c-98aa-e871a30ec584/call-Hostname/execution/stdout","HelloDockerHostname.execution_time_seconds":80.0218,"HelloDockerHostname.within_time_limit":true},"id":"c6ec497b-38c7-499c-98aa-e871a30ec584"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/9fff1e51-5a6e-4b09-b2ba-f4c210d46df7/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"9fff1e51-5a6e-4b09-b2ba-f4c210d46df7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/b1b4822e-94df-44db-bea1-8114e13f1a05/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/b1b4822e-94df-44db-bea1-8114e13f1a05/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/b1b4822e-94df-44db-bea1-8114e13f1a05/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/b1b4822e-94df-44db-bea1-8114e13f1a05/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/b1b4822e-94df-44db-bea1-8114e13f1a05/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/b1b4822e-94df-44db-bea1-8114e13f1a05/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/b1b4822e-94df-44db-bea1-8114e13f1a05/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/b1b4822e-94df-44db-bea1-8114e13f1a05/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"b1b4822e-94df-44db-bea1-8114e13f1a05"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/6b6deb96-80bf-4126-88f2-8b2af10ea688/outputs
  response:
    body:
      string: '{"outputs":{"struct_example.process_sample.message":["Processing sample1
        (normal)\nRead Length: 100\nSequencing Platform: NovaSeq\nFlowcell ID: H5K5YDSXX\nLane
        Number: 1\nQuality Score: 95.5\nGC Content: 45.2\nDuplicate Rate: 2%\nLibrary
        Prep: Standard","Processing sample2 (tumor)\nRead Length: 150\nSequencing
        Platform: NovaSeq\nFlowcell ID: N/A\nLane Number: -1\nQuality Score: 92.3\nGC
        Content: 0.0\nDuplicate Rate: 0%\nLibrary Prep: PCR-free"],"struct_example.processed_sample":[{"name":"sample1","sequencing":{"flowcell_id":"H5K5YDSXX","platform":"NovaSeq","lane_number":1},"metrics":{"gc_content":45.2,"quality_score":95.5,"duplicate_rate":2},"type":"normal","library_prep":null,"read_length":100},{"name":"sample2","sequencing":{"flowcell_id":null,"platform":"NovaSeq","lane_number":null},"metrics":{"gc_content":null,"quality_score":92.3,"duplicate_rate":null},"type":"tumor","library_prep":"PCR-free","read_length":150}]},"id":"6b6deb96-80bf-4126-88f2-8b2af10ea688"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/df37c190-9bc3-4b69-9203-7c30fda96f10/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/df37c190-9bc3-4b69-9203-7c30fda96f10/call-simpleTask/execution/output.txt"},"id":"df37c190-9bc3-4b69-9203-7c30fda96f10"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/2e31f4ea-7042-41f0-857c-d6ae0bf0b869/outputs
  response:
    body:
      string: '{"outputs":{"enhanced_map_test.result_map":{"sample2":"Processing sample2
        (tumor) with read length 150","sample1":"Processing sample1 (normal) with
        read length 100","sample3":"Processing sample3 (normal) with read length 100"},"enhanced_map_test.nested_map_results":["Processing
        patient patient1 with sample type normal\nSample: sample1\nSample: sample2","Processing
        patient patient2 with sample type normal\nSample: sample3\nSample: sample4"]},"id":"2e31f4ea-7042-41f0-857c-d6ae0bf0b869"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/4cb21128-8d41-4946-ab41-d6c73c721376/outputs
  response:
    body:
      string: '{"outputs":{"testNestedJsonArray.result_allSampleInfo":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/4cb21128-8d41-4946-ab41-d6c73c721376/call-processSample/shard-0/execution/Sample1.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/4cb21128-8d41-4946-ab41-d6c73c721376/call-processSample/shard-1/execution/Sample2.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/4cb21128-8d41-4946-ab41-d6c73c721376/call-processSample/shard-2/execution/Sample3.allSampleInfo.txt"]},"id":"4cb21128-8d41-4946-ab41-d6c73c721376"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0aa90cf8-73c2-422a-9598-81e543ce33c1/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/0aa90cf8-73c2-422a-9598-81e543ce33c1/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/0aa90cf8-73c2-422a-9598-81e543ce33c1/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"0aa90cf8-73c2-422a-9598-81e543ce33c1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/6f060448-0afa-46f0-b9fe-b5629174dc22/outputs
  response:
    body:
      string: '{"outputs":{},"id":"6f060448-0afa-46f0-b9fe-b5629174dc22"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
