interactions:
- request:
    body: "--ab1f7d9c8a84c774b782d4f5038909a2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--ab1f7d9c8a84c774b782d4f5038909a2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ab1f7d9c8a84c774b782d4f5038909a2--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ab1f7d9c8a84c774b782d4f5038909a2
    method: POST
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1
  response:
    body:
      string: '{"id":"32cdd78d-24cc-49f5-bbc0-fa3951fb12ab","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/32cdd78d-24cc-49f5-bbc0-fa3951fb12ab/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 32cdd78d-24cc-49f5-bbc0-fa3951fb12ab\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/32cdd78d-24cc-49f5-bbc0-fa3951fb12ab/outputs
  response:
    body:
      string: '{"outputs":{},"id":"32cdd78d-24cc-49f5-bbc0-fa3951fb12ab"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
