interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1/b4c610ff-437a-40a5-9562-499ffbc50566/outputs
  response:
    body:
      string: '{"outputs":{},"id":"b4c610ff-437a-40a5-9562-499ffbc50566"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1/6a921318-d1b5-4e96-b311-6e389ac7dc62/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/6a921318-d1b5-4e96-b311-6e389ac7dc62/call-Hostname/execution/stdout"},"id":"6a921318-d1b5-4e96-b311-6e389ac7dc62"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1/06446845-f189-451d-9e8f-221af10dc37e/outputs
  response:
    body:
      string: '{"outputs":{"HelloModuleHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloModuleHostname/06446845-f189-451d-9e8f-221af10dc37e/call-Hostname/execution/stdout"},"id":"06446845-f189-451d-9e8f-221af10dc37e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1/7dd646ef-2577-4d8d-9596-3e3384f3b09d/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/7dd646ef-2577-4d8d-9596-3e3384f3b09d/call-simpleTask/cacheCopy/execution/output.txt"},"id":"7dd646ef-2577-4d8d-9596-3e3384f3b09d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok96.fhcrc.org:38031/api/workflows/v1/5150f1dc-5451-4dc4-b288-ef0ddf8da487/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/5150f1dc-5451-4dc4-b288-ef0ddf8da487/call-Hostname/execution/stdout"},"id":"5150f1dc-5451-4dc4-b288-ef0ddf8da487"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
