interactions:
- request:
    body: "--8045e2089fa68f72d18d7131dfd3b9e9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloModuleHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for module functionality on Gizmo.\n## Added verification
      of module loading.\n\n#### WORKFLOW DEFINITION\n\nworkflow HelloModuleHostname
      {\n  input {\n    String module2l[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/de0b73f0-6de6-4e01-9dee-bae0b2827981/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: de0b73f0-6de6-4e01-9dee-bae0b2827981\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/de0b73f0-6de6-4e01-9dee-bae0b2827981/outputs
  response:
    body:
      string: '{"outputs":{},"id":"de0b73f0-6de6-4e01-9dee-bae0b2827981"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
