interactions:
- request:
    body: "--aa61edb5a765e7e178f3a6f47b0e1a17\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--aa61edb5a765e7e178f3a6f47b0e1a17\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--aa61edb5a765e7e178f3a6f47b0e1a17--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=aa61edb5a765e7e178f3a6f47b0e1a17
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"6ac1e6ee-e91c-4fc1-8e54-daac3ea2d894","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/6ac1e6ee-e91c-4fc1-8e54-daac3ea2d894/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 6ac1e6ee-e91c-4fc1-8e54-daac3ea2d894\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/6ac1e6ee-e91c-4fc1-8e54-daac3ea2d894/outputs
  response:
    body:
      string: '{"outputs":{},"id":"6ac1e6ee-e91c-4fc1-8e54-daac3ea2d894"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
