interactions:
- request:
    body: "--09dbae8555a6da09593caa3c3db5785c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--09dbae8555a6da09593caa3c3db5785c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--09dbae8555a6da09593caa3c3db5785c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=09dbae8555a6da09593caa3c3db5785c
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"e7e58b8d-eae3-4fa4-b435-53d767aa1026","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e7e58b8d-eae3-4fa4-b435-53d767aa1026/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e7e58b8d-eae3-4fa4-b435-53d767aa1026\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e7e58b8d-eae3-4fa4-b435-53d767aa1026/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e7e58b8d-eae3-4fa4-b435-53d767aa1026"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
