interactions:
- request:
    body: "--a3a089b63700da016bdf8132bf312414\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--a3a089b63700da016bdf8132bf312414\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a3a089b63700da016bdf8132bf312414--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a3a089b63700da016bdf8132bf312414
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"5c8c2bc7-40e6-42d9-bc6f-174a22ddfaea","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/5c8c2bc7-40e6-42d9-bc6f-174a22ddfaea/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5c8c2bc7-40e6-42d9-bc6f-174a22ddfaea\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/5c8c2bc7-40e6-42d9-bc6f-174a22ddfaea/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5c8c2bc7-40e6-42d9-bc6f-174a22ddfaea"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
