interactions:
- request:
    body: "--84746f6069e94eb81707a1eb89af588c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/b7ae046f-63c2-4b18-a45d-8c3157e03580/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b7ae046f-63c2-4b18-a45d-8c3157e03580\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/b7ae046f-63c2-4b18-a45d-8c3157e03580/outputs
  response:
    body:
      string: '{"outputs":{},"id":"b7ae046f-63c2-4b18-a45d-8c3157e03580"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
