interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/feec623d-7ac6-45d2-a70c-02f0bfcb65c2/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/feec623d-7ac6-45d2-a70c-02f0bfcb65c2/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/feec623d-7ac6-45d2-a70c-02f0bfcb65c2/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/feec623d-7ac6-45d2-a70c-02f0bfcb65c2/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/feec623d-7ac6-45d2-a70c-02f0bfcb65c2/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/feec623d-7ac6-45d2-a70c-02f0bfcb65c2/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/feec623d-7ac6-45d2-a70c-02f0bfcb65c2/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/feec623d-7ac6-45d2-a70c-02f0bfcb65c2/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"feec623d-7ac6-45d2-a70c-02f0bfcb65c2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/6c62e270-f049-4307-aa33-a4e43fa50faa/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"6c62e270-f049-4307-aa33-a4e43fa50faa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/68e0d851-426c-4e10-a719-327126217c93/outputs
  response:
    body:
      string: '{"outputs":{"enhanced_map_test.nested_map_results":["Processing patient
        patient1 with sample type normal\nSample: sample1\nSample: sample2","Processing
        patient patient2 with sample type normal\nSample: sample3\nSample: sample4"],"enhanced_map_test.result_map":{"sample2":"Processing
        sample2 (tumor) with read length 150","sample1":"Processing sample1 (normal)
        with read length 100","sample3":"Processing sample3 (normal) with read length
        100"}},"id":"68e0d851-426c-4e10-a719-327126217c93"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/087652c1-d1de-4ffc-ae28-fe768133b475/outputs
  response:
    body:
      string: '{"outputs":{"jsonTaskOrderTest.task1_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/087652c1-d1de-4ffc-ae28-fe768133b475/call-Task1/execution/task1_output.txt","jsonTaskOrderTest.task2_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/087652c1-d1de-4ffc-ae28-fe768133b475/call-Task2/execution/task2_output.txt"},"id":"087652c1-d1de-4ffc-ae28-fe768133b475"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/a287bb32-9d27-499d-89af-9b26bb7960f2/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"a287bb32-9d27-499d-89af-9b26bb7960f2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/632278b7-16a9-4334-9af1-b939f2803d8b/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/632278b7-16a9-4334-9af1-b939f2803d8b/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/632278b7-16a9-4334-9af1-b939f2803d8b/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"632278b7-16a9-4334-9af1-b939f2803d8b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/70be47ae-acb5-4a0b-9ba5-a386b0ba710d/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/70be47ae-acb5-4a0b-9ba5-a386b0ba710d/call-Hostname/execution/stdout"},"id":"70be47ae-acb5-4a0b-9ba5-a386b0ba710d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/3ee6f3b4-a703-4309-94db-f505fb3726b9/outputs
  response:
    body:
      string: '{"outputs":{"testNestedJsonArray.result_allSampleInfo":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/3ee6f3b4-a703-4309-94db-f505fb3726b9/call-processSample/shard-0/execution/Sample1.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/3ee6f3b4-a703-4309-94db-f505fb3726b9/call-processSample/shard-1/execution/Sample2.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/3ee6f3b4-a703-4309-94db-f505fb3726b9/call-processSample/shard-2/execution/Sample3.allSampleInfo.txt"]},"id":"3ee6f3b4-a703-4309-94db-f505fb3726b9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/9f76ee92-b0fc-40d8-bf44-1a03ee7d95f5/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/9f76ee92-b0fc-40d8-bf44-1a03ee7d95f5/call-run_qc_report/execution/report.csv","conditional_example.final_summary":"Multiple
        high-quality samples processed\nNumber of samples processed: 2"},"id":"9f76ee92-b0fc-40d8-bf44-1a03ee7d95f5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/e6cfbdd6-8abd-4da1-a745-df5c37f7a13b/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e6cfbdd6-8abd-4da1-a745-df5c37f7a13b/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/e6cfbdd6-8abd-4da1-a745-df5c37f7a13b/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"e6cfbdd6-8abd-4da1-a745-df5c37f7a13b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/7162d678-ed7c-4441-9daa-7adcc5589824/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"7162d678-ed7c-4441-9daa-7adcc5589824"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/75455d06-a855-4253-b5d0-384d7ff21359/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.conditional_result":"Parsed prefix:
        testfile","WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/75455d06-a855-4253-b5d0-384d7ff21359/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/75455d06-a855-4253-b5d0-384d7ff21359/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/75455d06-a855-4253-b5d0-384d7ff21359/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/75455d06-a855-4253-b5d0-384d7ff21359/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/75455d06-a855-4253-b5d0-384d7ff21359/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"]},"id":"75455d06-a855-4253-b5d0-384d7ff21359"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/65a6eb04-c4a6-4589-8cdd-8a85a3dfa5fb/outputs
  response:
    body:
      string: '{"outputs":{"struct_example.process_sample.message":["Processing sample1
        (normal)\nRead Length: 100\nSequencing Platform: NovaSeq\nFlowcell ID: H5K5YDSXX\nLane
        Number: 1\nQuality Score: 95.5\nGC Content: 45.2\nDuplicate Rate: 2%\nLibrary
        Prep: Standard","Processing sample2 (tumor)\nRead Length: 150\nSequencing
        Platform: NovaSeq\nFlowcell ID: N/A\nLane Number: -1\nQuality Score: 92.3\nGC
        Content: 0.0\nDuplicate Rate: 0%\nLibrary Prep: PCR-free"],"struct_example.processed_sample":[{"name":"sample1","sequencing":{"flowcell_id":"H5K5YDSXX","platform":"NovaSeq","lane_number":1},"metrics":{"gc_content":45.2,"quality_score":95.5,"duplicate_rate":2},"type":"normal","library_prep":null,"read_length":100},{"name":"sample2","sequencing":{"flowcell_id":null,"platform":"NovaSeq","lane_number":null},"metrics":{"gc_content":null,"quality_score":92.3,"duplicate_rate":null},"type":"tumor","library_prep":"PCR-free","read_length":150}]},"id":"65a6eb04-c4a6-4589-8cdd-8a85a3dfa5fb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/3863a52a-62fb-46ac-a052-561f8ae5e43e/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/3863a52a-62fb-46ac-a052-561f8ae5e43e/call-file_operations/execution/file3_renamed.txt","testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/3863a52a-62fb-46ac-a052-561f8ae5e43e/call-file_operations/execution/file1.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/3863a52a-62fb-46ac-a052-561f8ae5e43e/call-file_operations/execution/output_dir/file2.txt"},"id":"3863a52a-62fb-46ac-a052-561f8ae5e43e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/bbe6adc2-2c9e-48d1-8fb4-996e77de0e72/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/bbe6adc2-2c9e-48d1-8fb4-996e77de0e72/call-simpleTask/execution/output.txt"},"id":"bbe6adc2-2c9e-48d1-8fb4-996e77de0e72"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/c6dc3e52-25d6-4250-ba2b-6375a036fe1f/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.execution_time_seconds":80.1818,"HelloDockerHostname.within_time_limit":true,"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/c6dc3e52-25d6-4250-ba2b-6375a036fe1f/call-Hostname/execution/stdout"},"id":"c6dc3e52-25d6-4250-ba2b-6375a036fe1f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
