interactions:
- request:
    body: "--5ab78667b0ab0df307e3f85f6e286d5b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"badValMissingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--5ab78667b0ab0df307e3f85f6e286d5b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5ab78667b0ab0df307e3f85f6e286d5b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5ab78667b0ab0df307e3f85f6e286d5b
    method: POST
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1
  response:
    body:
      string: '{"id":"75e3c385-f0da-47e3-9355-7d147d424313","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/75e3c385-f0da-47e3-9355-7d147d424313/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 75e3c385-f0da-47e3-9355-7d147d424313\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/75e3c385-f0da-47e3-9355-7d147d424313/outputs
  response:
    body:
      string: '{"outputs":{},"id":"75e3c385-f0da-47e3-9355-7d147d424313"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
