interactions:
- request:
    body: "--ae432ad8425a00c24ff20f3a427c4a2f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--ae432ad8425a00c24ff20f3a427c4a2f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ae432ad8425a00c24ff20f3a427c4a2f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ae432ad8425a00c24ff20f3a427c4a2f
    method: POST
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1
  response:
    body:
      string: '{"id":"fcb3443c-405f-43c2-a081-05fd92f9b186","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/fcb3443c-405f-43c2-a081-05fd92f9b186/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: fcb3443c-405f-43c2-a081-05fd92f9b186\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/fcb3443c-405f-43c2-a081-05fd92f9b186/outputs
  response:
    body:
      string: '{"outputs":{},"id":"fcb3443c-405f-43c2-a081-05fd92f9b186"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
