interactions:
- request:
    body: "--a0855a2a028b0d147cc2c83c5a1a350c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/cc6fd9c2-0e55-4497-9e03-d408ad5e2268/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: cc6fd9c2-0e55-4497-9e03-d408ad5e2268\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/cc6fd9c2-0e55-4497-9e03-d408ad5e2268/outputs
  response:
    body:
      string: '{"outputs":{},"id":"cc6fd9c2-0e55-4497-9e03-d408ad5e2268"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
