interactions:
- request:
    body: "--19d4e3e79d5a1a666df49bfe5c200a6a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--19d4e3e79d5a1a666df49bfe5c200a6a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--19d4e3e79d5a1a666df49bfe5c200a6a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=19d4e3e79d5a1a666df49bfe5c200a6a
    method: POST
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1
  response:
    body:
      string: '{"id":"81558a3b-6c7e-4294-ba0b-490e8df35972","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/81558a3b-6c7e-4294-ba0b-490e8df35972/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 81558a3b-6c7e-4294-ba0b-490e8df35972\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/81558a3b-6c7e-4294-ba0b-490e8df35972/outputs
  response:
    body:
      string: '{"outputs":{},"id":"81558a3b-6c7e-4294-ba0b-490e8df35972"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
