interactions:
- request:
    body: "--e81c5ad821f432c326e8eb811d78992e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--e81c5ad821f432c326e8eb811d78992e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e81c5ad821f432c326e8eb811d78992e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e81c5ad821f432c326e8eb811d78992e
    method: POST
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1
  response:
    body:
      string: '{"id":"a57a247e-5475-44eb-b129-2132ea6b8c94","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/a57a247e-5475-44eb-b129-2132ea6b8c94/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a57a247e-5475-44eb-b129-2132ea6b8c94\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/a57a247e-5475-44eb-b129-2132ea6b8c94/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a57a247e-5475-44eb-b129-2132ea6b8c94"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
