interactions:
- request:
    body: "--43c59c38a7699d9554254e8f52f05525\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--43c59c38a7699d9554254e8f52f05525\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--43c59c38a7699d9554254e8f52f05525--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=43c59c38a7699d9554254e8f52f05525
    method: POST
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1
  response:
    body:
      string: '{"id":"1d859909-b76c-4043-90d0-4e0e9259d761","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/1d859909-b76c-4043-90d0-4e0e9259d761/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 1d859909-b76c-4043-90d0-4e0e9259d761\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/1d859909-b76c-4043-90d0-4e0e9259d761/outputs
  response:
    body:
      string: '{"outputs":{},"id":"1d859909-b76c-4043-90d0-4e0e9259d761"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
