interactions:
- request:
    body: "--d391bd9b1dbbd43e170526471708afcd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--d391bd9b1dbbd43e170526471708afcd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d391bd9b1dbbd43e170526471708afcd--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d391bd9b1dbbd43e170526471708afcd
    method: POST
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1
  response:
    body:
      string: '{"id":"44b42347-a820-48f5-b192-f3fdd4cc2f55","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/44b42347-a820-48f5-b192-f3fdd4cc2f55/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 44b42347-a820-48f5-b192-f3fdd4cc2f55\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/44b42347-a820-48f5-b192-f3fdd4cc2f55/outputs
  response:
    body:
      string: '{"outputs":{},"id":"44b42347-a820-48f5-b192-f3fdd4cc2f55"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
