interactions:
- request:
    body: "--daeaf4177212b6c293dad153bdb67fb4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--daeaf4177212b6c293dad153bdb67fb4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--daeaf4177212b6c293dad153bdb67fb4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=daeaf4177212b6c293dad153bdb67fb4
    method: POST
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1
  response:
    body:
      string: '{"id":"c9d04436-3e2c-4a23-a0ed-c25327df4bf5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/c9d04436-3e2c-4a23-a0ed-c25327df4bf5/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: c9d04436-3e2c-4a23-a0ed-c25327df4bf5\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/c9d04436-3e2c-4a23-a0ed-c25327df4bf5/outputs
  response:
    body:
      string: '{"outputs":{},"id":"c9d04436-3e2c-4a23-a0ed-c25327df4bf5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
