interactions:
- request:
    body: "--a458c8a53f3cb5c209497cd20df443aa\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--a458c8a53f3cb5c209497cd20df443aa\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a458c8a53f3cb5c209497cd20df443aa--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a458c8a53f3cb5c209497cd20df443aa
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"0e40dbb0-4f66-4ed1-a058-de22b0581740","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/0e40dbb0-4f66-4ed1-a058-de22b0581740/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 0e40dbb0-4f66-4ed1-a058-de22b0581740\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/0e40dbb0-4f66-4ed1-a058-de22b0581740/outputs
  response:
    body:
      string: '{"outputs":{},"id":"0e40dbb0-4f66-4ed1-a058-de22b0581740"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
