interactions:
- request:
    body: "--74a3fe7ca5e5e7bca9899cca6bf35443\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--74a3fe7ca5e5e7bca9899cca6bf35443\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--74a3fe7ca5e5e7bca9899cca6bf35443--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=74a3fe7ca5e5e7bca9899cca6bf35443
    method: POST
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1
  response:
    body:
      string: '{"id":"5838e301-28c7-4db2-bdf8-2941d2edd6ba","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/5838e301-28c7-4db2-bdf8-2941d2edd6ba/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5838e301-28c7-4db2-bdf8-2941d2edd6ba\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/5838e301-28c7-4db2-bdf8-2941d2edd6ba/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5838e301-28c7-4db2-bdf8-2941d2edd6ba"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
