interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/1b255972-2066-403c-8edf-0e199cf1a9b5/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/1b255972-2066-403c-8edf-0e199cf1a9b5/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/1b255972-2066-403c-8edf-0e199cf1a9b5/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/1b255972-2066-403c-8edf-0e199cf1a9b5/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/1b255972-2066-403c-8edf-0e199cf1a9b5/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/1b255972-2066-403c-8edf-0e199cf1a9b5/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/1b255972-2066-403c-8edf-0e199cf1a9b5/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/1b255972-2066-403c-8edf-0e199cf1a9b5/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"1b255972-2066-403c-8edf-0e199cf1a9b5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/916adf91-62dd-44dd-a373-369f2123c701/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"916adf91-62dd-44dd-a373-369f2123c701"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/41079c26-4c20-4917-afb5-f293acec708e/outputs
  response:
    body:
      string: '{"outputs":{"enhanced_map_test.nested_map_results":["Processing patient
        patient1 with sample type normal\nSample: sample1\nSample: sample2","Processing
        patient patient2 with sample type normal\nSample: sample3\nSample: sample4"],"enhanced_map_test.result_map":{"sample2":"Processing
        sample2 (tumor) with read length 150","sample1":"Processing sample1 (normal)
        with read length 100","sample3":"Processing sample3 (normal) with read length
        100"}},"id":"41079c26-4c20-4917-afb5-f293acec708e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/b45c9010-f3ae-474f-aa10-068839b9f548/outputs
  response:
    body:
      string: '{"outputs":{"jsonTaskOrderTest.task2_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/b45c9010-f3ae-474f-aa10-068839b9f548/call-Task2/execution/task2_output.txt","jsonTaskOrderTest.task1_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/b45c9010-f3ae-474f-aa10-068839b9f548/call-Task1/execution/task1_output.txt"},"id":"b45c9010-f3ae-474f-aa10-068839b9f548"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6cd7fc0a-6f4d-47ca-af08-2a1275a5b06a/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"6cd7fc0a-6f4d-47ca-af08-2a1275a5b06a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/7d06c2d9-ec12-4a58-8587-6f9447a79fb1/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7d06c2d9-ec12-4a58-8587-6f9447a79fb1/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/7d06c2d9-ec12-4a58-8587-6f9447a79fb1/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"7d06c2d9-ec12-4a58-8587-6f9447a79fb1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/700320cf-ff94-4b01-a4b0-e7a63ecc1696/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/700320cf-ff94-4b01-a4b0-e7a63ecc1696/call-Hostname/execution/stdout"},"id":"700320cf-ff94-4b01-a4b0-e7a63ecc1696"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/adfd882a-48dc-4081-b41b-68790583b068/outputs
  response:
    body:
      string: '{"outputs":{"testNestedJsonArray.result_allSampleInfo":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/adfd882a-48dc-4081-b41b-68790583b068/call-processSample/shard-0/execution/Sample1.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/adfd882a-48dc-4081-b41b-68790583b068/call-processSample/shard-1/execution/Sample2.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/adfd882a-48dc-4081-b41b-68790583b068/call-processSample/shard-2/execution/Sample3.allSampleInfo.txt"]},"id":"adfd882a-48dc-4081-b41b-68790583b068"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/7d69bd6d-2f83-4970-8a68-fc2eb1d6b7e9/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/7d69bd6d-2f83-4970-8a68-fc2eb1d6b7e9/call-run_qc_report/execution/report.csv","conditional_example.final_summary":"Multiple
        high-quality samples processed\nNumber of samples processed: 2"},"id":"7d69bd6d-2f83-4970-8a68-fc2eb1d6b7e9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/7807cce3-4fab-418a-8488-0f093a734c06/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/7807cce3-4fab-418a-8488-0f093a734c06/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/7807cce3-4fab-418a-8488-0f093a734c06/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"7807cce3-4fab-418a-8488-0f093a734c06"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/677fe598-54ec-40d1-9b4f-e1284c9fb974/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"677fe598-54ec-40d1-9b4f-e1284c9fb974"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/4533ccef-b77f-4050-bf88-00b17029bdc2/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.conditional_result":"Parsed prefix:
        testfile","WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/4533ccef-b77f-4050-bf88-00b17029bdc2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/4533ccef-b77f-4050-bf88-00b17029bdc2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/4533ccef-b77f-4050-bf88-00b17029bdc2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/4533ccef-b77f-4050-bf88-00b17029bdc2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/4533ccef-b77f-4050-bf88-00b17029bdc2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"]},"id":"4533ccef-b77f-4050-bf88-00b17029bdc2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/82643ffa-b01f-426f-91cb-2c3821a99004/outputs
  response:
    body:
      string: '{"outputs":{"struct_example.process_sample.message":["Processing sample1
        (normal)\nRead Length: 100\nSequencing Platform: NovaSeq\nFlowcell ID: H5K5YDSXX\nLane
        Number: 1\nQuality Score: 95.5\nGC Content: 45.2\nDuplicate Rate: 2%\nLibrary
        Prep: Standard","Processing sample2 (tumor)\nRead Length: 150\nSequencing
        Platform: NovaSeq\nFlowcell ID: N/A\nLane Number: -1\nQuality Score: 92.3\nGC
        Content: 0.0\nDuplicate Rate: 0%\nLibrary Prep: PCR-free"],"struct_example.processed_sample":[{"name":"sample1","sequencing":{"flowcell_id":"H5K5YDSXX","platform":"NovaSeq","lane_number":1},"metrics":{"gc_content":45.2,"quality_score":95.5,"duplicate_rate":2},"type":"normal","library_prep":null,"read_length":100},{"name":"sample2","sequencing":{"flowcell_id":null,"platform":"NovaSeq","lane_number":null},"metrics":{"gc_content":null,"quality_score":92.3,"duplicate_rate":null},"type":"tumor","library_prep":"PCR-free","read_length":150}]},"id":"82643ffa-b01f-426f-91cb-2c3821a99004"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/66b4204a-1819-4dc8-81b2-285a5dc088fe/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/66b4204a-1819-4dc8-81b2-285a5dc088fe/call-file_operations/execution/file1.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/66b4204a-1819-4dc8-81b2-285a5dc088fe/call-file_operations/execution/output_dir/file2.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/66b4204a-1819-4dc8-81b2-285a5dc088fe/call-file_operations/execution/file3_renamed.txt"},"id":"66b4204a-1819-4dc8-81b2-285a5dc088fe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/8dd97772-4f19-473b-86b6-15ecbe739900/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/8dd97772-4f19-473b-86b6-15ecbe739900/call-simpleTask/execution/output.txt"},"id":"8dd97772-4f19-473b-86b6-15ecbe739900"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/fc68de94-50c8-4ec7-84e3-1319a9f14536/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.execution_time_seconds":245.969,"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/fc68de94-50c8-4ec7-84e3-1319a9f14536/call-Hostname/execution/stdout","HelloDockerHostname.within_time_limit":false},"id":"fc68de94-50c8-4ec7-84e3-1319a9f14536"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
