interactions:
- request:
    body: "--22c5aaadf4e659026da2493c858f56c8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--22c5aaadf4e659026da2493c858f56c8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--22c5aaadf4e659026da2493c858f56c8--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=22c5aaadf4e659026da2493c858f56c8
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"0bb934d2-82a4-4fcf-b606-5ea13e876ba2","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/0bb934d2-82a4-4fcf-b606-5ea13e876ba2/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 0bb934d2-82a4-4fcf-b606-5ea13e876ba2\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/0bb934d2-82a4-4fcf-b606-5ea13e876ba2/outputs
  response:
    body:
      string: '{"outputs":{},"id":"0bb934d2-82a4-4fcf-b606-5ea13e876ba2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
