interactions:
- request:
    body: "--24ae37f4c678d94af2c49dc8f0f34af2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--24ae37f4c678d94af2c49dc8f0f34af2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--24ae37f4c678d94af2c49dc8f0f34af2--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=24ae37f4c678d94af2c49dc8f0f34af2
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"a060f9c9-18a9-4930-9759-e24b9fd282ac","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a060f9c9-18a9-4930-9759-e24b9fd282ac/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a060f9c9-18a9-4930-9759-e24b9fd282ac\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a060f9c9-18a9-4930-9759-e24b9fd282ac/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a060f9c9-18a9-4930-9759-e24b9fd282ac"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
