interactions:
- request:
    body: "--17d76d11beda72976ce4273b5728cca4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--17d76d11beda72976ce4273b5728cca4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--17d76d11beda72976ce4273b5728cca4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=17d76d11beda72976ce4273b5728cca4
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"5c74d636-b962-436a-bf51-aafe07e3cb2b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/5c74d636-b962-436a-bf51-aafe07e3cb2b/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5c74d636-b962-436a-bf51-aafe07e3cb2b\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/5c74d636-b962-436a-bf51-aafe07e3cb2b/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5c74d636-b962-436a-bf51-aafe07e3cb2b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
