interactions:
- request:
    body: "--c71da67d67c2cfe0d66d8bdb69678a60\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/db091f4a-41f2-49ac-a722-2c2dd6077b53/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: db091f4a-41f2-49ac-a722-2c2dd6077b53\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/db091f4a-41f2-49ac-a722-2c2dd6077b53/outputs
  response:
    body:
      string: '{"outputs":{},"id":"db091f4a-41f2-49ac-a722-2c2dd6077b53"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
