interactions:
- request:
    body: "--d656f837f02f6ce396250149c8a487e6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--d656f837f02f6ce396250149c8a487e6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d656f837f02f6ce396250149c8a487e6--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d656f837f02f6ce396250149c8a487e6
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"0a7858d0-c8e5-4771-8ba2-b6181928f9c9","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/0a7858d0-c8e5-4771-8ba2-b6181928f9c9/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 0a7858d0-c8e5-4771-8ba2-b6181928f9c9\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/0a7858d0-c8e5-4771-8ba2-b6181928f9c9/outputs
  response:
    body:
      string: '{"outputs":{},"id":"0a7858d0-c8e5-4771-8ba2-b6181928f9c9"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
