interactions:
- request:
    body: "--2866a172dbceeae025fc6eeb0669882b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--2866a172dbceeae025fc6eeb0669882b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2866a172dbceeae025fc6eeb0669882b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2866a172dbceeae025fc6eeb0669882b
    method: POST
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1
  response:
    body:
      string: '{"id":"16372f64-7c8c-4a0a-960a-59d2ae2c3241","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/16372f64-7c8c-4a0a-960a-59d2ae2c3241/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 16372f64-7c8c-4a0a-960a-59d2ae2c3241\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/16372f64-7c8c-4a0a-960a-59d2ae2c3241/outputs
  response:
    body:
      string: '{"outputs":{},"id":"16372f64-7c8c-4a0a-960a-59d2ae2c3241"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
