interactions:
- request:
    body: "--95fac6516ac44a45d6d81eb2952e4ce7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--95fac6516ac44a45d6d81eb2952e4ce7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--95fac6516ac44a45d6d81eb2952e4ce7--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=95fac6516ac44a45d6d81eb2952e4ce7
    method: POST
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1
  response:
    body:
      string: '{"id":"2868fd3f-23b1-40dd-b427-afd6ad086888","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/2868fd3f-23b1-40dd-b427-afd6ad086888/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2868fd3f-23b1-40dd-b427-afd6ad086888\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/2868fd3f-23b1-40dd-b427-afd6ad086888/outputs
  response:
    body:
      string: '{"outputs":{},"id":"2868fd3f-23b1-40dd-b427-afd6ad086888"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
