interactions:
- request:
    body: "--147b9d294da759ac942ab14741af00a9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--147b9d294da759ac942ab14741af00a9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--147b9d294da759ac942ab14741af00a9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=147b9d294da759ac942ab14741af00a9
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"b9043545-5247-4100-b0d5-623a1f510c3b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/b9043545-5247-4100-b0d5-623a1f510c3b/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b9043545-5247-4100-b0d5-623a1f510c3b\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/b9043545-5247-4100-b0d5-623a1f510c3b/outputs
  response:
    body:
      string: '{"outputs":{},"id":"b9043545-5247-4100-b0d5-623a1f510c3b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
