interactions:
- request:
    body: "--0bbbb30b1f2a69ea0bc4bdc973b20f86\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--0bbbb30b1f2a69ea0bc4bdc973b20f86\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0bbbb30b1f2a69ea0bc4bdc973b20f86--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0bbbb30b1f2a69ea0bc4bdc973b20f86
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"56d11a50-1382-40bd-a8a0-4d341edc0c10","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/56d11a50-1382-40bd-a8a0-4d341edc0c10/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 56d11a50-1382-40bd-a8a0-4d341edc0c10\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/56d11a50-1382-40bd-a8a0-4d341edc0c10/outputs
  response:
    body:
      string: '{"outputs":{},"id":"56d11a50-1382-40bd-a8a0-4d341edc0c10"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
