interactions:
- request:
    body: "--f7615a5d4ba5c798fac8ff9f5e2474f4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--f7615a5d4ba5c798fac8ff9f5e2474f4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f7615a5d4ba5c798fac8ff9f5e2474f4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f7615a5d4ba5c798fac8ff9f5e2474f4
    method: POST
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1
  response:
    body:
      string: '{"id":"225a14a3-03e3-4c1a-ae92-419521b97227","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/225a14a3-03e3-4c1a-ae92-419521b97227/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 225a14a3-03e3-4c1a-ae92-419521b97227\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/225a14a3-03e3-4c1a-ae92-419521b97227/outputs
  response:
    body:
      string: '{"outputs":{},"id":"225a14a3-03e3-4c1a-ae92-419521b97227"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
