interactions:
- request:
    body: "--74b92ce76273ae509a115889304f6071\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--74b92ce76273ae509a115889304f6071\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--74b92ce76273ae509a115889304f6071--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=74b92ce76273ae509a115889304f6071
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"fc00c1c8-0e78-495f-9b40-91c006b496ee","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/fc00c1c8-0e78-495f-9b40-91c006b496ee/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: fc00c1c8-0e78-495f-9b40-91c006b496ee\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/fc00c1c8-0e78-495f-9b40-91c006b496ee/outputs
  response:
    body:
      string: '{"outputs":{},"id":"fc00c1c8-0e78-495f-9b40-91c006b496ee"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
