interactions:
- request:
    body: "--41ae10911d2bcb44b6897f9f3924b89c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/d9063652-322b-4147-97a6-42f97253622c/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: d9063652-322b-4147-97a6-42f97253622c\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/d9063652-322b-4147-97a6-42f97253622c/outputs
  response:
    body:
      string: '{"outputs":{},"id":"d9063652-322b-4147-97a6-42f97253622c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
