interactions:
- request:
    body: "--329cc4be71c4650655588c5181e704e1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--329cc4be71c4650655588c5181e704e1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--329cc4be71c4650655588c5181e704e1--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=329cc4be71c4650655588c5181e704e1
    method: POST
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1
  response:
    body:
      string: '{"id":"29a3fd5a-b7ad-4b91-9093-0b447c0c6221","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/29a3fd5a-b7ad-4b91-9093-0b447c0c6221/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 29a3fd5a-b7ad-4b91-9093-0b447c0c6221\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/29a3fd5a-b7ad-4b91-9093-0b447c0c6221/outputs
  response:
    body:
      string: '{"outputs":{},"id":"29a3fd5a-b7ad-4b91-9093-0b447c0c6221"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
