interactions:
- request:
    body: "--ea55a6ac18115451167cf969294a3447\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--ea55a6ac18115451167cf969294a3447\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ea55a6ac18115451167cf969294a3447--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ea55a6ac18115451167cf969294a3447
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"f80a61bb-8a21-419c-884d-bfaf71a71d19","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/f80a61bb-8a21-419c-884d-bfaf71a71d19/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f80a61bb-8a21-419c-884d-bfaf71a71d19\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/f80a61bb-8a21-419c-884d-bfaf71a71d19/outputs
  response:
    body:
      string: '{"outputs":{},"id":"f80a61bb-8a21-419c-884d-bfaf71a71d19"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
