interactions:
- request:
    body: "--4a3e2094d4e730a43f219dcce83ae992\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--4a3e2094d4e730a43f219dcce83ae992\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4a3e2094d4e730a43f219dcce83ae992--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=4a3e2094d4e730a43f219dcce83ae992
    method: POST
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1
  response:
    body:
      string: '{"id":"f0514c18-8899-4de7-8388-66aa751396d0","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/f0514c18-8899-4de7-8388-66aa751396d0/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f0514c18-8899-4de7-8388-66aa751396d0\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/f0514c18-8899-4de7-8388-66aa751396d0/outputs
  response:
    body:
      string: '{"outputs":{},"id":"f0514c18-8899-4de7-8388-66aa751396d0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
