interactions:
- request:
    body: "--33de9bce95c1955371c3598234a48f96\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--33de9bce95c1955371c3598234a48f96\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--33de9bce95c1955371c3598234a48f96--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=33de9bce95c1955371c3598234a48f96
    method: POST
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1
  response:
    body:
      string: '{"id":"e88b785a-fd85-4e4d-b98c-ef8da1474f2c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/e88b785a-fd85-4e4d-b98c-ef8da1474f2c/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e88b785a-fd85-4e4d-b98c-ef8da1474f2c\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/e88b785a-fd85-4e4d-b98c-ef8da1474f2c/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e88b785a-fd85-4e4d-b98c-ef8da1474f2c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
