interactions:
- request:
    body: "--03c6fe4771f6ca1f6467179d1ed75d20\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--03c6fe4771f6ca1f6467179d1ed75d20\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--03c6fe4771f6ca1f6467179d1ed75d20--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=03c6fe4771f6ca1f6467179d1ed75d20
    method: POST
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1
  response:
    body:
      string: '{"id":"e21e9988-7307-405f-b84d-6b13c433a513","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/e21e9988-7307-405f-b84d-6b13c433a513/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e21e9988-7307-405f-b84d-6b13c433a513\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/e21e9988-7307-405f-b84d-6b13c433a513/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e21e9988-7307-405f-b84d-6b13c433a513"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
