interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/e3c222cb-2da8-414b-9b6b-9c636ac89fb1/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/e3c222cb-2da8-414b-9b6b-9c636ac89fb1/call-Hostname/execution/stdout"},"id":"e3c222cb-2da8-414b-9b6b-9c636ac89fb1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/1b76fb1c-0e52-4dfb-98b7-ae4adeebd06d/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/1b76fb1c-0e52-4dfb-98b7-ae4adeebd06d/call-file_operations/cacheCopy/execution/file3_renamed.txt","testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/1b76fb1c-0e52-4dfb-98b7-ae4adeebd06d/call-file_operations/cacheCopy/execution/file1.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/1b76fb1c-0e52-4dfb-98b7-ae4adeebd06d/call-file_operations/cacheCopy/execution/output_dir/file2.txt"},"id":"1b76fb1c-0e52-4dfb-98b7-ae4adeebd06d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/c412cae3-5d8f-45b5-ab8c-5cc504f6830f/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/c412cae3-5d8f-45b5-ab8c-5cc504f6830f/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/c412cae3-5d8f-45b5-ab8c-5cc504f6830f/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"c412cae3-5d8f-45b5-ab8c-5cc504f6830f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/5f6c214c-5323-4863-9582-d174656fece9/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"5f6c214c-5323-4863-9582-d174656fece9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/355c709d-6fb0-49c4-83bc-5c7c38fe84c8/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.execution_time_seconds":80.0005,"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/355c709d-6fb0-49c4-83bc-5c7c38fe84c8/call-Hostname/execution/stdout","HelloDockerHostname.within_time_limit":true},"id":"355c709d-6fb0-49c4-83bc-5c7c38fe84c8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/a7fc017b-1043-442c-8981-93c38fdfc4e8/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"a7fc017b-1043-442c-8981-93c38fdfc4e8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/33d26940-0600-40ff-bdab-c5f19cc911aa/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/33d26940-0600-40ff-bdab-c5f19cc911aa/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/33d26940-0600-40ff-bdab-c5f19cc911aa/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/33d26940-0600-40ff-bdab-c5f19cc911aa/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/33d26940-0600-40ff-bdab-c5f19cc911aa/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/33d26940-0600-40ff-bdab-c5f19cc911aa/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/33d26940-0600-40ff-bdab-c5f19cc911aa/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/33d26940-0600-40ff-bdab-c5f19cc911aa/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"33d26940-0600-40ff-bdab-c5f19cc911aa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/a820ddeb-d754-46f8-97a8-d10f349595d4/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/a820ddeb-d754-46f8-97a8-d10f349595d4/call-simpleTask/cacheCopy/execution/output.txt"},"id":"a820ddeb-d754-46f8-97a8-d10f349595d4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/57725888-ea3b-4de0-8029-7a7c293a397b/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/57725888-ea3b-4de0-8029-7a7c293a397b/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/57725888-ea3b-4de0-8029-7a7c293a397b/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"57725888-ea3b-4de0-8029-7a7c293a397b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/8756d0d8-02ac-4f8a-9481-afc70c8e07a7/outputs
  response:
    body:
      string: '{"outputs":{},"id":"8756d0d8-02ac-4f8a-9481-afc70c8e07a7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
