interactions:
- request:
    body: "--d83c1e5758653f5d8a6318006120858f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/a13e3433-8ac0-4e2e-a2b8-aa478c543713/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a13e3433-8ac0-4e2e-a2b8-aa478c543713\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/a13e3433-8ac0-4e2e-a2b8-aa478c543713/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a13e3433-8ac0-4e2e-a2b8-aa478c543713"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
