interactions:
- request:
    body: "--d1c258417716039c86949d12ecc89038\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--d1c258417716039c86949d12ecc89038\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d1c258417716039c86949d12ecc89038--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d1c258417716039c86949d12ecc89038
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"a9664850-df55-45d3-9123-9ddc445b0e4c","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/a9664850-df55-45d3-9123-9ddc445b0e4c/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a9664850-df55-45d3-9123-9ddc445b0e4c\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/a9664850-df55-45d3-9123-9ddc445b0e4c/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a9664850-df55-45d3-9123-9ddc445b0e4c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
