interactions:
- request:
    body: "--7644e91a1cbe19135551e6722920a65b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/64f536cf-bcae-49e3-a708-069f4efdcf48/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 64f536cf-bcae-49e3-a708-069f4efdcf48\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/64f536cf-bcae-49e3-a708-069f4efdcf48/outputs
  response:
    body:
      string: '{"outputs":{},"id":"64f536cf-bcae-49e3-a708-069f4efdcf48"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
