interactions:
- request:
    body: "--71fbcb02ddc24f4f9d0a9f43f73c5407\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/ace04a01-533f-4b64-adeb-138a5a5720ea/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ace04a01-533f-4b64-adeb-138a5a5720ea\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/ace04a01-533f-4b64-adeb-138a5a5720ea/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ace04a01-533f-4b64-adeb-138a5a5720ea"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
