interactions:
- request:
    body: "--00c84cd90078a765f5f3867675d41d14\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/ad83a8ba-95af-445e-bc31-ce3d5a76335e/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ad83a8ba-95af-445e-bc31-ce3d5a76335e\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/ad83a8ba-95af-445e-bc31-ce3d5a76335e/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ad83a8ba-95af-445e-bc31-ce3d5a76335e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
