interactions:
- request:
    body: "--2e5e322890b51aa7cf9d5b5b8b49f64f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/8707f4a2-4f9f-48f6-89fd-98d75da9a056/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8707f4a2-4f9f-48f6-89fd-98d75da9a056\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/8707f4a2-4f9f-48f6-89fd-98d75da9a056/outputs
  response:
    body:
      string: '{"outputs":{},"id":"8707f4a2-4f9f-48f6-89fd-98d75da9a056"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
