interactions:
- request:
    body: "--428f4488a1ad5bb40a670c5818a6f78f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--428f4488a1ad5bb40a670c5818a6f78f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--428f4488a1ad5bb40a670c5818a6f78f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=428f4488a1ad5bb40a670c5818a6f78f
    method: POST
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1
  response:
    body:
      string: '{"id":"87ac8401-ca6d-4260-9aa3-041224610719","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/87ac8401-ca6d-4260-9aa3-041224610719/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 87ac8401-ca6d-4260-9aa3-041224610719\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/87ac8401-ca6d-4260-9aa3-041224610719/outputs
  response:
    body:
      string: '{"outputs":{},"id":"87ac8401-ca6d-4260-9aa3-041224610719"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
