interactions:
- request:
    body: "--a5955201d8131df86c4b74a7c6a0698f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--a5955201d8131df86c4b74a7c6a0698f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a5955201d8131df86c4b74a7c6a0698f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=a5955201d8131df86c4b74a7c6a0698f
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"dd140e7d-bdd9-4590-b14f-7ecc4258af91","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/dd140e7d-bdd9-4590-b14f-7ecc4258af91/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: dd140e7d-bdd9-4590-b14f-7ecc4258af91\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/dd140e7d-bdd9-4590-b14f-7ecc4258af91/outputs
  response:
    body:
      string: '{"outputs":{},"id":"dd140e7d-bdd9-4590-b14f-7ecc4258af91"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
