interactions:
- request:
    body: "--9f6a73b0379063456da470d66dec97f1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--9f6a73b0379063456da470d66dec97f1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9f6a73b0379063456da470d66dec97f1--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9f6a73b0379063456da470d66dec97f1
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1
  response:
    body:
      string: '{"id":"a67236c9-a697-4853-9be5-dce4a8216d34","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/a67236c9-a697-4853-9be5-dce4a8216d34/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a67236c9-a697-4853-9be5-dce4a8216d34\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/a67236c9-a697-4853-9be5-dce4a8216d34/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a67236c9-a697-4853-9be5-dce4a8216d34"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
