interactions:
- request:
    body: "--c817577a07b198ca8da9799046e46061\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--c817577a07b198ca8da9799046e46061\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c817577a07b198ca8da9799046e46061--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c817577a07b198ca8da9799046e46061
    method: POST
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1
  response:
    body:
      string: '{"id":"5b312853-e156-4ac5-9af6-8119781c9a52","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/5b312853-e156-4ac5-9af6-8119781c9a52/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5b312853-e156-4ac5-9af6-8119781c9a52\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/5b312853-e156-4ac5-9af6-8119781c9a52/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5b312853-e156-4ac5-9af6-8119781c9a52"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
