interactions:
- request:
    body: "--aa2c0f3207e136de8c631a18296aa3ed\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--aa2c0f3207e136de8c631a18296aa3ed\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--aa2c0f3207e136de8c631a18296aa3ed--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=aa2c0f3207e136de8c631a18296aa3ed
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"3647bd38-5a48-4e5e-ade9-fb8dbc5e2cea","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/3647bd38-5a48-4e5e-ade9-fb8dbc5e2cea/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 3647bd38-5a48-4e5e-ade9-fb8dbc5e2cea\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/3647bd38-5a48-4e5e-ade9-fb8dbc5e2cea/outputs
  response:
    body:
      string: '{"outputs":{},"id":"3647bd38-5a48-4e5e-ade9-fb8dbc5e2cea"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
