interactions:
- request:
    body: "--c23096fbae6b6054ed7c7152603e47bd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--c23096fbae6b6054ed7c7152603e47bd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c23096fbae6b6054ed7c7152603e47bd--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c23096fbae6b6054ed7c7152603e47bd
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"c4cbdad6-7154-49a2-b473-e3844ec10a40","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/c4cbdad6-7154-49a2-b473-e3844ec10a40/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: c4cbdad6-7154-49a2-b473-e3844ec10a40\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/c4cbdad6-7154-49a2-b473-e3844ec10a40/outputs
  response:
    body:
      string: '{"outputs":{},"id":"c4cbdad6-7154-49a2-b473-e3844ec10a40"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
