interactions:
- request:
    body: "--1da4beb1475070b9ad008d1f49d7137f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--1da4beb1475070b9ad008d1f49d7137f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1da4beb1475070b9ad008d1f49d7137f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1da4beb1475070b9ad008d1f49d7137f
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"a79ff22f-2760-4a48-acff-43e83631a8ae","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/a79ff22f-2760-4a48-acff-43e83631a8ae/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a79ff22f-2760-4a48-acff-43e83631a8ae\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/a79ff22f-2760-4a48-acff-43e83631a8ae/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a79ff22f-2760-4a48-acff-43e83631a8ae"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
