interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/ff2405c6-9c25-4c37-9e1c-0cd51700796b/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"ff2405c6-9c25-4c37-9e1c-0cd51700796b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/83f9df09-ff73-4810-8fc1-0e61f40a4d12/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/83f9df09-ff73-4810-8fc1-0e61f40a4d12/call-Hostname/execution/stdout"},"id":"83f9df09-ff73-4810-8fc1-0e61f40a4d12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/e8b00db8-5b66-41ab-bac7-2152c1eaa55d/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.final_summary":"Multiple high-quality
        samples processed\nNumber of samples processed: 2","conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/e8b00db8-5b66-41ab-bac7-2152c1eaa55d/call-run_qc_report/execution/report.csv"},"id":"e8b00db8-5b66-41ab-bac7-2152c1eaa55d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/85b9b078-ab05-4635-bb58-7d3253c2078d/outputs
  response:
    body:
      string: '{"outputs":{"HelloModuleHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloModuleHostname/85b9b078-ab05-4635-bb58-7d3253c2078d/call-Hostname/execution/stdout"},"id":"85b9b078-ab05-4635-bb58-7d3253c2078d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/b79da352-cf5e-4939-918f-dceabd71ced1/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/b79da352-cf5e-4939-918f-dceabd71ced1/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/b79da352-cf5e-4939-918f-dceabd71ced1/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/b79da352-cf5e-4939-918f-dceabd71ced1/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/b79da352-cf5e-4939-918f-dceabd71ced1/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/b79da352-cf5e-4939-918f-dceabd71ced1/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"],"WildcardsandConditions.conditional_result":"Parsed
        prefix: testfile"},"id":"b79da352-cf5e-4939-918f-dceabd71ced1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/f13e87a0-4fd1-4f2e-8dc1-dcc18b9d9c2c/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/f13e87a0-4fd1-4f2e-8dc1-dcc18b9d9c2c/call-file_operations/execution/file1.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/f13e87a0-4fd1-4f2e-8dc1-dcc18b9d9c2c/call-file_operations/execution/output_dir/file2.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/f13e87a0-4fd1-4f2e-8dc1-dcc18b9d9c2c/call-file_operations/execution/file3_renamed.txt"},"id":"f13e87a0-4fd1-4f2e-8dc1-dcc18b9d9c2c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/23b5a96c-4376-4690-b97f-e12ce9b68889/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/23b5a96c-4376-4690-b97f-e12ce9b68889/call-simpleTask/execution/output.txt"},"id":"23b5a96c-4376-4690-b97f-e12ce9b68889"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/451f97cc-cc6d-464f-b743-e013e2234e12/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.execution_time_seconds":81.193,"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/451f97cc-cc6d-464f-b743-e013e2234e12/call-Hostname/execution/stdout","HelloDockerHostname.within_time_limit":true},"id":"451f97cc-cc6d-464f-b743-e013e2234e12"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
