interactions:
- request:
    body: "--4a6f34e04019b5c8e4b86cc0c787aff2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--4a6f34e04019b5c8e4b86cc0c787aff2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4a6f34e04019b5c8e4b86cc0c787aff2--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4a6f34e04019b5c8e4b86cc0c787aff2
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"a3874ae6-3b97-4781-b7aa-b39d74d79d0b","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/a3874ae6-3b97-4781-b7aa-b39d74d79d0b/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a3874ae6-3b97-4781-b7aa-b39d74d79d0b\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/a3874ae6-3b97-4781-b7aa-b39d74d79d0b/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a3874ae6-3b97-4781-b7aa-b39d74d79d0b"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
