interactions:
- request:
    body: "--ec64c0f811872099206301aa9bb3b03f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--ec64c0f811872099206301aa9bb3b03f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ec64c0f811872099206301aa9bb3b03f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=ec64c0f811872099206301aa9bb3b03f
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"e640a33c-559d-4c39-bc91-88c3ef8b1388","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/e640a33c-559d-4c39-bc91-88c3ef8b1388/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e640a33c-559d-4c39-bc91-88c3ef8b1388\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/e640a33c-559d-4c39-bc91-88c3ef8b1388/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e640a33c-559d-4c39-bc91-88c3ef8b1388"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
