interactions:
- request:
    body: "--42d727e1a973c0a4e4ad86a3b7b8483f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--42d727e1a973c0a4e4ad86a3b7b8483f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--42d727e1a973c0a4e4ad86a3b7b8483f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=42d727e1a973c0a4e4ad86a3b7b8483f
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"82d6c526-b471-42d7-8d9e-16ff55028b46","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/82d6c526-b471-42d7-8d9e-16ff55028b46/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 82d6c526-b471-42d7-8d9e-16ff55028b46\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/82d6c526-b471-42d7-8d9e-16ff55028b46/outputs
  response:
    body:
      string: '{"outputs":{},"id":"82d6c526-b471-42d7-8d9e-16ff55028b46"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
