interactions:
- request:
    body: "--868b6cc9ac0cbe87b40e63172d2a05f9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--868b6cc9ac0cbe87b40e63172d2a05f9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--868b6cc9ac0cbe87b40e63172d2a05f9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=868b6cc9ac0cbe87b40e63172d2a05f9
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"a75b166a-ec6c-4f37-9455-f5fc9c623307","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/a75b166a-ec6c-4f37-9455-f5fc9c623307/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a75b166a-ec6c-4f37-9455-f5fc9c623307\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/a75b166a-ec6c-4f37-9455-f5fc9c623307/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a75b166a-ec6c-4f37-9455-f5fc9c623307"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
