interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/853c45f5-5f55-4e8b-bd93-a42a40db12f1/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"853c45f5-5f55-4e8b-bd93-a42a40db12f1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/39f5b465-0acb-4e34-bdbc-a0fd47bb771a/call-Hostname/execution/stdout"},"id":"39f5b465-0acb-4e34-bdbc-a0fd47bb771a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/8d02c8a1-7467-45d1-8115-ab7bc3e23cf3/outputs
  response:
    body:
      string: '{"outputs":{"HelloModuleHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloModuleHostname/8d02c8a1-7467-45d1-8115-ab7bc3e23cf3/call-Hostname/execution/stdout"},"id":"8d02c8a1-7467-45d1-8115-ab7bc3e23cf3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/c2872953-849c-4109-bd33-2d0e8c450da2/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.conditional_result":"Parsed prefix:
        testfile","WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c2872953-849c-4109-bd33-2d0e8c450da2/call-wildcard_and_conditions_test/cacheCopy/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c2872953-849c-4109-bd33-2d0e8c450da2/call-wildcard_and_conditions_test/cacheCopy/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c2872953-849c-4109-bd33-2d0e8c450da2/call-wildcard_and_conditions_test/cacheCopy/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c2872953-849c-4109-bd33-2d0e8c450da2/call-wildcard_and_conditions_test/cacheCopy/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c2872953-849c-4109-bd33-2d0e8c450da2/call-wildcard_and_conditions_test/cacheCopy/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"]},"id":"c2872953-849c-4109-bd33-2d0e8c450da2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/d03c6a28-b1b0-4dc4-819c-7677e6754418/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/d03c6a28-b1b0-4dc4-819c-7677e6754418/call-file_operations/cacheCopy/execution/output_dir/file2.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/d03c6a28-b1b0-4dc4-819c-7677e6754418/call-file_operations/cacheCopy/execution/file3_renamed.txt","testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/d03c6a28-b1b0-4dc4-819c-7677e6754418/call-file_operations/cacheCopy/execution/file1.txt"},"id":"d03c6a28-b1b0-4dc4-819c-7677e6754418"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/37b0729f-9647-4991-a715-4c60ecce2591/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/37b0729f-9647-4991-a715-4c60ecce2591/call-simpleTask/cacheCopy/execution/output.txt"},"id":"37b0729f-9647-4991-a715-4c60ecce2591"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/528cf3cc-7089-4e85-89b6-60f64dbc0403/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/528cf3cc-7089-4e85-89b6-60f64dbc0403/call-Hostname/execution/stdout"},"id":"528cf3cc-7089-4e85-89b6-60f64dbc0403"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
