interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"5c3aef98-f8a1-4f59-b0fc-9fe20ffdcb1f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/991cbc7d-dc64-465f-a050-e21876d8ff19/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"991cbc7d-dc64-465f-a050-e21876d8ff19"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/b55a8707-4c9d-4fed-a130-c089ec23fddd/outputs
  response:
    body:
      string: '{"outputs":{"enhanced_map_test.result_map":{"sample2":"Processing sample2
        (tumor) with read length 150","sample1":"Processing sample1 (normal) with
        read length 100","sample3":"Processing sample3 (normal) with read length 100"},"enhanced_map_test.nested_map_results":["Processing
        patient patient1 with sample type normal\nSample: sample1\nSample: sample2","Processing
        patient patient2 with sample type normal\nSample: sample3\nSample: sample4"]},"id":"b55a8707-4c9d-4fed-a130-c089ec23fddd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/d3f59182-f391-4f86-b8f7-fa221e1c6a08/outputs
  response:
    body:
      string: '{"outputs":{"jsonTaskOrderTest.task1_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/d3f59182-f391-4f86-b8f7-fa221e1c6a08/call-Task1/execution/task1_output.txt","jsonTaskOrderTest.task2_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/d3f59182-f391-4f86-b8f7-fa221e1c6a08/call-Task2/execution/task2_output.txt"},"id":"d3f59182-f391-4f86-b8f7-fa221e1c6a08"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/4993b651-c021-4cbf-b241-42d3e1b071cb/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"4993b651-c021-4cbf-b241-42d3e1b071cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6e7b2a1a-32e6-4280-b1c4-639218fbe23f/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/6e7b2a1a-32e6-4280-b1c4-639218fbe23f/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/6e7b2a1a-32e6-4280-b1c4-639218fbe23f/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"6e7b2a1a-32e6-4280-b1c4-639218fbe23f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6c8a1731-557a-4641-a5cc-df7b3ddf5b40/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/6c8a1731-557a-4641-a5cc-df7b3ddf5b40/call-Hostname/execution/stdout"},"id":"6c8a1731-557a-4641-a5cc-df7b3ddf5b40"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/f27ededd-1d51-4ae9-8e34-314f66f3449f/outputs
  response:
    body:
      string: '{"outputs":{"testNestedJsonArray.result_allSampleInfo":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/f27ededd-1d51-4ae9-8e34-314f66f3449f/call-processSample/shard-0/execution/Sample1.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/f27ededd-1d51-4ae9-8e34-314f66f3449f/call-processSample/shard-1/execution/Sample2.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/f27ededd-1d51-4ae9-8e34-314f66f3449f/call-processSample/shard-2/execution/Sample3.allSampleInfo.txt"]},"id":"f27ededd-1d51-4ae9-8e34-314f66f3449f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/726fe93c-856c-4d96-97bc-91e0e9d6c7bf/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/726fe93c-856c-4d96-97bc-91e0e9d6c7bf/call-run_qc_report/execution/report.csv","conditional_example.final_summary":"Multiple
        high-quality samples processed\nNumber of samples processed: 2"},"id":"726fe93c-856c-4d96-97bc-91e0e9d6c7bf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6f20c604-13c5-4196-bb32-e7fb03a09cd5/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/6f20c604-13c5-4196-bb32-e7fb03a09cd5/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/6f20c604-13c5-4196-bb32-e7fb03a09cd5/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"6f20c604-13c5-4196-bb32-e7fb03a09cd5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/34b4c9b6-2cc8-4caa-80dd-e1497aa2032e/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"34b4c9b6-2cc8-4caa-80dd-e1497aa2032e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/aa83ca16-53b0-471f-98ef-b53a7c261ad2/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.conditional_result":"Parsed prefix:
        testfile","WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/aa83ca16-53b0-471f-98ef-b53a7c261ad2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/aa83ca16-53b0-471f-98ef-b53a7c261ad2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/aa83ca16-53b0-471f-98ef-b53a7c261ad2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/aa83ca16-53b0-471f-98ef-b53a7c261ad2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/aa83ca16-53b0-471f-98ef-b53a7c261ad2/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"]},"id":"aa83ca16-53b0-471f-98ef-b53a7c261ad2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/62c80e97-7eb9-4f1c-90d5-a5a726c4e963/outputs
  response:
    body:
      string: '{"outputs":{"struct_example.process_sample.message":["Processing sample1
        (normal)\nRead Length: 100\nSequencing Platform: NovaSeq\nFlowcell ID: H5K5YDSXX\nLane
        Number: 1\nQuality Score: 95.5\nGC Content: 45.2\nDuplicate Rate: 2%\nLibrary
        Prep: Standard","Processing sample2 (tumor)\nRead Length: 150\nSequencing
        Platform: NovaSeq\nFlowcell ID: N/A\nLane Number: -1\nQuality Score: 92.3\nGC
        Content: 0.0\nDuplicate Rate: 0%\nLibrary Prep: PCR-free"],"struct_example.processed_sample":[{"name":"sample1","sequencing":{"flowcell_id":"H5K5YDSXX","platform":"NovaSeq","lane_number":1},"metrics":{"gc_content":45.2,"quality_score":95.5,"duplicate_rate":2},"type":"normal","library_prep":null,"read_length":100},{"name":"sample2","sequencing":{"flowcell_id":null,"platform":"NovaSeq","lane_number":null},"metrics":{"gc_content":null,"quality_score":92.3,"duplicate_rate":null},"type":"tumor","library_prep":"PCR-free","read_length":150}]},"id":"62c80e97-7eb9-4f1c-90d5-a5a726c4e963"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/af7eba98-f659-4935-bf72-4c13a1185c08/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/af7eba98-f659-4935-bf72-4c13a1185c08/call-file_operations/execution/file3_renamed.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/af7eba98-f659-4935-bf72-4c13a1185c08/call-file_operations/execution/output_dir/file2.txt","testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/af7eba98-f659-4935-bf72-4c13a1185c08/call-file_operations/execution/file1.txt"},"id":"af7eba98-f659-4935-bf72-4c13a1185c08"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/5f19f09e-0a07-46ae-b432-539e3a62978a/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/5f19f09e-0a07-46ae-b432-539e3a62978a/call-simpleTask/execution/output.txt"},"id":"5f19f09e-0a07-46ae-b432-539e3a62978a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/c30c854d-96a6-4194-a6b1-03c47efa0793/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/c30c854d-96a6-4194-a6b1-03c47efa0793/call-Hostname/execution/stdout","HelloDockerHostname.within_time_limit":true,"HelloDockerHostname.execution_time_seconds":82.0226},"id":"c30c854d-96a6-4194-a6b1-03c47efa0793"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
