interactions:
- request:
    body: "--87ef43f12eb81c9d80994f0d5bfda85e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/df67eb74-6cdd-4793-9e4b-59ef89725e82/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: df67eb74-6cdd-4793-9e4b-59ef89725e82\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/df67eb74-6cdd-4793-9e4b-59ef89725e82/outputs
  response:
    body:
      string: '{"outputs":{},"id":"df67eb74-6cdd-4793-9e4b-59ef89725e82"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
