interactions:
- request:
    body: "--598a3e3d515ae545f84b86d3d5093cb4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--598a3e3d515ae545f84b86d3d5093cb4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--598a3e3d515ae545f84b86d3d5093cb4--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=598a3e3d515ae545f84b86d3d5093cb4
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1
  response:
    body:
      string: '{"id":"5e16f726-6e8e-4d5b-92ca-09f34403ef63","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/5e16f726-6e8e-4d5b-92ca-09f34403ef63/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5e16f726-6e8e-4d5b-92ca-09f34403ef63\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/5e16f726-6e8e-4d5b-92ca-09f34403ef63/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5e16f726-6e8e-4d5b-92ca-09f34403ef63"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
