interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/0eb0d729-df69-4ab6-9bdf-9805cd6ada98/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/0eb0d729-df69-4ab6-9bdf-9805cd6ada98/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/0eb0d729-df69-4ab6-9bdf-9805cd6ada98/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/0eb0d729-df69-4ab6-9bdf-9805cd6ada98/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/0eb0d729-df69-4ab6-9bdf-9805cd6ada98/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/0eb0d729-df69-4ab6-9bdf-9805cd6ada98/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/0eb0d729-df69-4ab6-9bdf-9805cd6ada98/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/0eb0d729-df69-4ab6-9bdf-9805cd6ada98/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"0eb0d729-df69-4ab6-9bdf-9805cd6ada98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/4dc14af1-14e0-4c43-a9aa-6193942b0043/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"4dc14af1-14e0-4c43-a9aa-6193942b0043"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/69aed49e-6ee6-4ff5-b90f-c414edc2ab67/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/69aed49e-6ee6-4ff5-b90f-c414edc2ab67/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/69aed49e-6ee6-4ff5-b90f-c414edc2ab67/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"69aed49e-6ee6-4ff5-b90f-c414edc2ab67"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/e1f2355b-862d-4e10-9b0a-0c860fd127bb/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/e1f2355b-862d-4e10-9b0a-0c860fd127bb/call-Hostname/execution/stdout"},"id":"e1f2355b-862d-4e10-9b0a-0c860fd127bb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/3173699d-0507-4129-b006-72062ac4c38c/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/3173699d-0507-4129-b006-72062ac4c38c/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/3173699d-0507-4129-b006-72062ac4c38c/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"3173699d-0507-4129-b006-72062ac4c38c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/602a2133-9800-400c-b18d-3c538497d84a/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"602a2133-9800-400c-b18d-3c538497d84a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/d0b682ad-1512-4c1f-8ec0-cc13184184a4/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/d0b682ad-1512-4c1f-8ec0-cc13184184a4/call-file_operations/cacheCopy/execution/output_dir/file2.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/d0b682ad-1512-4c1f-8ec0-cc13184184a4/call-file_operations/cacheCopy/execution/file3_renamed.txt","testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/d0b682ad-1512-4c1f-8ec0-cc13184184a4/call-file_operations/cacheCopy/execution/file1.txt"},"id":"d0b682ad-1512-4c1f-8ec0-cc13184184a4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/3ae578ce-4376-4264-853e-755f6d77425a/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/3ae578ce-4376-4264-853e-755f6d77425a/call-simpleTask/cacheCopy/execution/output.txt"},"id":"3ae578ce-4376-4264-853e-755f6d77425a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/c6ef8aa3-e0c7-4d9e-ba7c-673249b32ccd/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.execution_time_seconds":87.2414,"HelloDockerHostname.within_time_limit":true,"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/c6ef8aa3-e0c7-4d9e-ba7c-673249b32ccd/call-Hostname/execution/stdout"},"id":"c6ef8aa3-e0c7-4d9e-ba7c-673249b32ccd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
