interactions:
- request:
    body: "--a0778db0f4a896a1b24aef10f8f8db56\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--a0778db0f4a896a1b24aef10f8f8db56\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a0778db0f4a896a1b24aef10f8f8db56--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a0778db0f4a896a1b24aef10f8f8db56
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"5f1c59d6-55c8-49f0-9351-eaf947c210a6","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/5f1c59d6-55c8-49f0-9351-eaf947c210a6/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5f1c59d6-55c8-49f0-9351-eaf947c210a6\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/5f1c59d6-55c8-49f0-9351-eaf947c210a6/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5f1c59d6-55c8-49f0-9351-eaf947c210a6"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
