interactions:
- request:
    body: "--1f1afee6fddc347e18964e855b1be0eb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--1f1afee6fddc347e18964e855b1be0eb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1f1afee6fddc347e18964e855b1be0eb--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1f1afee6fddc347e18964e855b1be0eb
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"5216923a-adf4-432b-a7ea-6de6ae5d9b80","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/5216923a-adf4-432b-a7ea-6de6ae5d9b80/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5216923a-adf4-432b-a7ea-6de6ae5d9b80\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/5216923a-adf4-432b-a7ea-6de6ae5d9b80/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5216923a-adf4-432b-a7ea-6de6ae5d9b80"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
