interactions:
- request:
    body: "--36b077e46522e852c35fc0a009cb4182\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/48e55593-8e5d-4caa-a4d3-2c17d23ff4ec/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 48e55593-8e5d-4caa-a4d3-2c17d23ff4ec\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/48e55593-8e5d-4caa-a4d3-2c17d23ff4ec/outputs
  response:
    body:
      string: '{"outputs":{},"id":"48e55593-8e5d-4caa-a4d3-2c17d23ff4ec"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
