interactions:
- request:
    body: "--466f72bea46d13adaba79693dbc3cd29\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/32b7be8b-e912-4b16-bae9-ed445e15f228/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 32b7be8b-e912-4b16-bae9-ed445e15f228\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:33817/api/workflows/v1/32b7be8b-e912-4b16-bae9-ed445e15f228/outputs
  response:
    body:
      string: '{"outputs":{},"id":"32b7be8b-e912-4b16-bae9-ed445e15f228"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
