interactions:
- request:
    body: "--6aaf75cf9e1864dd66c9d71ddb9dee56\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/7260181b-ad87-443b-b6f0-2a5ad40683ab/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 7260181b-ad87-443b-b6f0-2a5ad40683ab\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/7260181b-ad87-443b-b6f0-2a5ad40683ab/outputs
  response:
    body:
      string: '{"outputs":{},"id":"7260181b-ad87-443b-b6f0-2a5ad40683ab"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
