interactions:
- request:
    body: "--0c6d42f4fbb7f1dd8ee3ee9d4fc5e731\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--0c6d42f4fbb7f1dd8ee3ee9d4fc5e731\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0c6d42f4fbb7f1dd8ee3ee9d4fc5e731--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0c6d42f4fbb7f1dd8ee3ee9d4fc5e731
    method: POST
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1
  response:
    body:
      string: '{"id":"c0d6e9a8-1d53-4c7b-98d3-5a5a3234f2fc","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/c0d6e9a8-1d53-4c7b-98d3-5a5a3234f2fc/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: c0d6e9a8-1d53-4c7b-98d3-5a5a3234f2fc\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/c0d6e9a8-1d53-4c7b-98d3-5a5a3234f2fc/outputs
  response:
    body:
      string: '{"outputs":{},"id":"c0d6e9a8-1d53-4c7b-98d3-5a5a3234f2fc"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
