interactions:
- request:
    body: "--261d44c1d4a45f848f706ff85a66a704\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--261d44c1d4a45f848f706ff85a66a704\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--261d44c1d4a45f848f706ff85a66a704--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=261d44c1d4a45f848f706ff85a66a704
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"6748315b-ce94-4dea-b4f4-d3764a02b6d0","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/6748315b-ce94-4dea-b4f4-d3764a02b6d0/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 6748315b-ce94-4dea-b4f4-d3764a02b6d0\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/6748315b-ce94-4dea-b4f4-d3764a02b6d0/outputs
  response:
    body:
      string: '{"outputs":{},"id":"6748315b-ce94-4dea-b4f4-d3764a02b6d0"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
