interactions:
- request:
    body: "--b92ba89d725f6fed47221c8e0d753a32\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--b92ba89d725f6fed47221c8e0d753a32\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b92ba89d725f6fed47221c8e0d753a32--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b92ba89d725f6fed47221c8e0d753a32
    method: POST
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1
  response:
    body:
      string: '{"id":"47c2fb63-e86e-46ac-8289-ea3b283bf465","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/47c2fb63-e86e-46ac-8289-ea3b283bf465/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 47c2fb63-e86e-46ac-8289-ea3b283bf465\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/47c2fb63-e86e-46ac-8289-ea3b283bf465/outputs
  response:
    body:
      string: '{"outputs":{},"id":"47c2fb63-e86e-46ac-8289-ea3b283bf465"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
