interactions:
- request:
    body: "--66fd2b9510ebbf13ab73c78b7cc7327e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/952c0130-63e9-4071-be01-3c20b806cc66/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 952c0130-63e9-4071-be01-3c20b806cc66\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/952c0130-63e9-4071-be01-3c20b806cc66/outputs
  response:
    body:
      string: '{"outputs":{},"id":"952c0130-63e9-4071-be01-3c20b806cc66"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
