interactions:
- request:
    body: "--b481d24cdd3bf99f9b85c2c642b225a1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--b481d24cdd3bf99f9b85c2c642b225a1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b481d24cdd3bf99f9b85c2c642b225a1--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=b481d24cdd3bf99f9b85c2c642b225a1
    method: POST
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1
  response:
    body:
      string: '{"id":"a8d3fae6-0f74-4966-86de-803076af0280","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/a8d3fae6-0f74-4966-86de-803076af0280/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a8d3fae6-0f74-4966-86de-803076af0280\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/a8d3fae6-0f74-4966-86de-803076af0280/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a8d3fae6-0f74-4966-86de-803076af0280"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
