interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/0ab308de-6ffc-44f9-8c9c-bd6c8a007185/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/0ab308de-6ffc-44f9-8c9c-bd6c8a007185/call-Hostname/execution/stdout"},"id":"0ab308de-6ffc-44f9-8c9c-bd6c8a007185"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6cb0a219-9b72-462a-93be-dfcf07456d01/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/6cb0a219-9b72-462a-93be-dfcf07456d01/call-file_operations/cacheCopy/execution/file1.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/6cb0a219-9b72-462a-93be-dfcf07456d01/call-file_operations/cacheCopy/execution/file3_renamed.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/6cb0a219-9b72-462a-93be-dfcf07456d01/call-file_operations/cacheCopy/execution/output_dir/file2.txt"},"id":"6cb0a219-9b72-462a-93be-dfcf07456d01"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/ac181a44-3a7a-4635-9881-84057b4beca0/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/ac181a44-3a7a-4635-9881-84057b4beca0/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/ac181a44-3a7a-4635-9881-84057b4beca0/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"ac181a44-3a7a-4635-9881-84057b4beca0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/e97ae0ae-90cb-4e1a-b367-1a6f21ad438d/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"e97ae0ae-90cb-4e1a-b367-1a6f21ad438d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/bd479cb8-15bf-41e9-8f9d-98473cdb2b58/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/bd479cb8-15bf-41e9-8f9d-98473cdb2b58/call-Hostname/execution/stdout","HelloDockerHostname.execution_time_seconds":77.894,"HelloDockerHostname.within_time_limit":true},"id":"bd479cb8-15bf-41e9-8f9d-98473cdb2b58"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/826b54df-2d82-4365-adf0-ae03996b055d/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"826b54df-2d82-4365-adf0-ae03996b055d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"36ba03c5-f562-4ea9-ad1d-c17b5b31eb2e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/43845110-ee3b-4503-a08c-3bb165ee8635/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/43845110-ee3b-4503-a08c-3bb165ee8635/call-simpleTask/cacheCopy/execution/output.txt"},"id":"43845110-ee3b-4503-a08c-3bb165ee8635"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/95d1ea6f-f6b7-452e-9ee1-650a661cce7b/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/95d1ea6f-f6b7-452e-9ee1-650a661cce7b/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/95d1ea6f-f6b7-452e-9ee1-650a661cce7b/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"95d1ea6f-f6b7-452e-9ee1-650a661cce7b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/7d18588e-1455-4741-8e5d-d1b15c998a83/outputs
  response:
    body:
      string: '{"outputs":{},"id":"7d18588e-1455-4741-8e5d-d1b15c998a83"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
