interactions:
- request:
    body: "--95a4e799ce515b188aeb51e82483d547\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--95a4e799ce515b188aeb51e82483d547\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--95a4e799ce515b188aeb51e82483d547--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=95a4e799ce515b188aeb51e82483d547
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"659d89be-3591-4b77-8e51-e9d0ed16b43d","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/659d89be-3591-4b77-8e51-e9d0ed16b43d/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 659d89be-3591-4b77-8e51-e9d0ed16b43d\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/659d89be-3591-4b77-8e51-e9d0ed16b43d/outputs
  response:
    body:
      string: '{"outputs":{},"id":"659d89be-3591-4b77-8e51-e9d0ed16b43d"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
