interactions:
- request:
    body: "--20db74d9c8eeb6632e191a393e4b73f4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--20db74d9c8eeb6632e191a393e4b73f4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--20db74d9c8eeb6632e191a393e4b73f4--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=20db74d9c8eeb6632e191a393e4b73f4
    method: POST
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1
  response:
    body:
      string: '{"id":"e1607a86-7562-4de6-b2be-2494cea7af60","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/e1607a86-7562-4de6-b2be-2494cea7af60/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e1607a86-7562-4de6-b2be-2494cea7af60\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/e1607a86-7562-4de6-b2be-2494cea7af60/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e1607a86-7562-4de6-b2be-2494cea7af60"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
