interactions:
- request:
    body: "--0e1089bc2ceb8cccc7e1ef8a2f755d64\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--0e1089bc2ceb8cccc7e1ef8a2f755d64\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0e1089bc2ceb8cccc7e1ef8a2f755d64--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0e1089bc2ceb8cccc7e1ef8a2f755d64
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"310af661-d6b7-4cb7-a147-1e47460f9620","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/310af661-d6b7-4cb7-a147-1e47460f9620/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 310af661-d6b7-4cb7-a147-1e47460f9620\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/310af661-d6b7-4cb7-a147-1e47460f9620/outputs
  response:
    body:
      string: '{"outputs":{},"id":"310af661-d6b7-4cb7-a147-1e47460f9620"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
