interactions:
- request:
    body: "--1976fde538fe385cf5e4e98a61da4800\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--1976fde538fe385cf5e4e98a61da4800\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1976fde538fe385cf5e4e98a61da4800--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1976fde538fe385cf5e4e98a61da4800
    method: POST
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1
  response:
    body:
      string: '{"id":"924f5552-04a7-4860-9299-02d068eeb9ff","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/924f5552-04a7-4860-9299-02d068eeb9ff/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 924f5552-04a7-4860-9299-02d068eeb9ff\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/924f5552-04a7-4860-9299-02d068eeb9ff/outputs
  response:
    body:
      string: '{"outputs":{},"id":"924f5552-04a7-4860-9299-02d068eeb9ff"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
