interactions:
- request:
    body: "--aa940d61a3acdcce1d28b57db6c84141\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--aa940d61a3acdcce1d28b57db6c84141\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--aa940d61a3acdcce1d28b57db6c84141--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=aa940d61a3acdcce1d28b57db6c84141
    method: POST
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1
  response:
    body:
      string: '{"id":"d3c76c71-d454-4448-86ba-706ce23db2dd","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/d3c76c71-d454-4448-86ba-706ce23db2dd/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: d3c76c71-d454-4448-86ba-706ce23db2dd\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/d3c76c71-d454-4448-86ba-706ce23db2dd/outputs
  response:
    body:
      string: '{"outputs":{},"id":"d3c76c71-d454-4448-86ba-706ce23db2dd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
