interactions:
- request:
    body: "--ffe0e95fe8d87f34a432c6feeac57fe1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testRemoteFileLocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testRemoteFileLocalization {\n    input {\n        String string\n
      \       Int integer\n        Float float\n        Boolean boolean\n        File
      remote_file\n    }\n\n    # Task 1: Test input localization and processing\n
      \   call testInputLocalization {[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/991e49ef-da57-422e-901e-b41325b5f947/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 991e49ef-da57-422e-901e-b41325b5f947\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/991e49ef-da57-422e-901e-b41325b5f947/outputs
  response:
    body:
      string: '{"outputs":{},"id":"991e49ef-da57-422e-901e-b41325b5f947"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
