interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/3e669fbc-7165-44e5-8b66-060fd4dc4c75/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/3e669fbc-7165-44e5-8b66-060fd4dc4c75/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/3e669fbc-7165-44e5-8b66-060fd4dc4c75/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/3e669fbc-7165-44e5-8b66-060fd4dc4c75/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/3e669fbc-7165-44e5-8b66-060fd4dc4c75/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/3e669fbc-7165-44e5-8b66-060fd4dc4c75/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/3e669fbc-7165-44e5-8b66-060fd4dc4c75/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/3e669fbc-7165-44e5-8b66-060fd4dc4c75/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"3e669fbc-7165-44e5-8b66-060fd4dc4c75"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/6b021266-f2d5-4cfe-a3b9-a370f9bc2ae5/outputs
  response:
    body:
      string: '{"outputs":{"HelloModuleHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloModuleHostname/6b021266-f2d5-4cfe-a3b9-a370f9bc2ae5/call-Hostname/execution/stdout","HelloModuleHostname.module_loaded":true},"id":"6b021266-f2d5-4cfe-a3b9-a370f9bc2ae5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/a0aa6c51-9779-4231-9c1b-bd2158d4a26e/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/a0aa6c51-9779-4231-9c1b-bd2158d4a26e/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/a0aa6c51-9779-4231-9c1b-bd2158d4a26e/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"a0aa6c51-9779-4231-9c1b-bd2158d4a26e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/c94fab6c-9741-4d4b-a805-b7ea23816325/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/c94fab6c-9741-4d4b-a805-b7ea23816325/call-Hostname/execution/stdout"},"id":"c94fab6c-9741-4d4b-a805-b7ea23816325"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/9b0fe028-641b-45cf-8118-6cc0d684d7da/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"9b0fe028-641b-45cf-8118-6cc0d684d7da"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/ac74f017-653d-4f20-997d-81cdab20be9c/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/ac74f017-653d-4f20-997d-81cdab20be9c/call-file_operations/cacheCopy/execution/file3_renamed.txt","testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/ac74f017-653d-4f20-997d-81cdab20be9c/call-file_operations/cacheCopy/execution/file1.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/ac74f017-653d-4f20-997d-81cdab20be9c/call-file_operations/cacheCopy/execution/output_dir/file2.txt"},"id":"ac74f017-653d-4f20-997d-81cdab20be9c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/d43608a7-abde-4039-bae9-fe3c2d56308b/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/d43608a7-abde-4039-bae9-fe3c2d56308b/call-simpleTask/cacheCopy/execution/output.txt"},"id":"d43608a7-abde-4039-bae9-fe3c2d56308b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/82a61df8-483d-450c-9b4a-26bb55ac1b37/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/82a61df8-483d-450c-9b4a-26bb55ac1b37/call-Hostname/execution/stdout","HelloDockerHostname.execution_time_seconds":76.9554,"HelloDockerHostname.within_time_limit":true},"id":"82a61df8-483d-450c-9b4a-26bb55ac1b37"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
