interactions:
- request:
    body: "--6d7db70e3fe2a5d68ab861c3e60422a6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--6d7db70e3fe2a5d68ab861c3e60422a6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6d7db70e3fe2a5d68ab861c3e60422a6--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=6d7db70e3fe2a5d68ab861c3e60422a6
    method: POST
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1
  response:
    body:
      string: '{"id":"ae00207d-e80f-4465-9351-3d0b7d772761","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ae00207d-e80f-4465-9351-3d0b7d772761/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ae00207d-e80f-4465-9351-3d0b7d772761\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/ae00207d-e80f-4465-9351-3d0b7d772761/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ae00207d-e80f-4465-9351-3d0b7d772761"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
