interactions:
- request:
    body: "--72cd7d4d60c60b0be7ef5a4246de0cac\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--72cd7d4d60c60b0be7ef5a4246de0cac\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--72cd7d4d60c60b0be7ef5a4246de0cac--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=72cd7d4d60c60b0be7ef5a4246de0cac
    method: POST
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1
  response:
    body:
      string: '{"id":"2d1d2b18-5190-4df0-a131-7d26bb873744","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/2d1d2b18-5190-4df0-a131-7d26bb873744/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2d1d2b18-5190-4df0-a131-7d26bb873744\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/2d1d2b18-5190-4df0-a131-7d26bb873744/outputs
  response:
    body:
      string: '{"outputs":{},"id":"2d1d2b18-5190-4df0-a131-7d26bb873744"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
