interactions:
- request:
    body: "--2eacbde61673b858c1b82bb4975095e5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--2eacbde61673b858c1b82bb4975095e5\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2eacbde61673b858c1b82bb4975095e5--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2eacbde61673b858c1b82bb4975095e5
    method: POST
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1
  response:
    body:
      string: '{"id":"28dec353-d0ef-4a20-b7d2-315018545a49","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/28dec353-d0ef-4a20-b7d2-315018545a49/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 28dec353-d0ef-4a20-b7d2-315018545a49\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/28dec353-d0ef-4a20-b7d2-315018545a49/outputs
  response:
    body:
      string: '{"outputs":{},"id":"28dec353-d0ef-4a20-b7d2-315018545a49"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
