interactions:
- request:
    body: "--81a174fac6d1b16ece5a7dafe01ed55b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--81a174fac6d1b16ece5a7dafe01ed55b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--81a174fac6d1b16ece5a7dafe01ed55b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=81a174fac6d1b16ece5a7dafe01ed55b
    method: POST
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1
  response:
    body:
      string: '{"id":"8cc7853c-4e38-4416-ba8a-667205147270","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/8cc7853c-4e38-4416-ba8a-667205147270/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8cc7853c-4e38-4416-ba8a-667205147270\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/8cc7853c-4e38-4416-ba8a-667205147270/outputs
  response:
    body:
      string: '{"outputs":{},"id":"8cc7853c-4e38-4416-ba8a-667205147270"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
