interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/652a4b1c-390e-4fba-8480-d0a031dfb6e5/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/652a4b1c-390e-4fba-8480-d0a031dfb6e5/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/652a4b1c-390e-4fba-8480-d0a031dfb6e5/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/652a4b1c-390e-4fba-8480-d0a031dfb6e5/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/652a4b1c-390e-4fba-8480-d0a031dfb6e5/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/652a4b1c-390e-4fba-8480-d0a031dfb6e5/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/652a4b1c-390e-4fba-8480-d0a031dfb6e5/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/652a4b1c-390e-4fba-8480-d0a031dfb6e5/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"652a4b1c-390e-4fba-8480-d0a031dfb6e5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/3845e3ad-0e97-438b-995d-c9b70a986f21/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"3845e3ad-0e97-438b-995d-c9b70a986f21"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/fa39d444-5d67-4849-963a-8c118145e6ed/outputs
  response:
    body:
      string: '{"outputs":{"enhanced_map_test.nested_map_results":["Processing patient
        patient1 with sample type normal\nSample: sample1\nSample: sample2","Processing
        patient patient2 with sample type normal\nSample: sample3\nSample: sample4"],"enhanced_map_test.result_map":{"sample2":"Processing
        sample2 (tumor) with read length 150","sample1":"Processing sample1 (normal)
        with read length 100","sample3":"Processing sample3 (normal) with read length
        100"}},"id":"fa39d444-5d67-4849-963a-8c118145e6ed"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/d9a81e2b-1cd8-4485-bc5f-075de813363f/outputs
  response:
    body:
      string: '{"outputs":{"jsonTaskOrderTest.task1_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/d9a81e2b-1cd8-4485-bc5f-075de813363f/call-Task1/execution/task1_output.txt","jsonTaskOrderTest.task2_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/d9a81e2b-1cd8-4485-bc5f-075de813363f/call-Task2/execution/task2_output.txt"},"id":"d9a81e2b-1cd8-4485-bc5f-075de813363f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/c6186b51-ad71-4832-8e30-b8efd7f57edd/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"c6186b51-ad71-4832-8e30-b8efd7f57edd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/ff6822d5-3c36-4399-81ac-4140368e1fdd/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/ff6822d5-3c36-4399-81ac-4140368e1fdd/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/ff6822d5-3c36-4399-81ac-4140368e1fdd/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"ff6822d5-3c36-4399-81ac-4140368e1fdd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/4c72074e-33fd-41fa-8871-4b44216363cb/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/4c72074e-33fd-41fa-8871-4b44216363cb/call-Hostname/execution/stdout"},"id":"4c72074e-33fd-41fa-8871-4b44216363cb"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/845cd26a-4da6-4e69-aa86-fb5ecb5fafa3/outputs
  response:
    body:
      string: '{"outputs":{"testNestedJsonArray.result_allSampleInfo":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/845cd26a-4da6-4e69-aa86-fb5ecb5fafa3/call-processSample/shard-0/execution/Sample1.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/845cd26a-4da6-4e69-aa86-fb5ecb5fafa3/call-processSample/shard-1/execution/Sample2.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/845cd26a-4da6-4e69-aa86-fb5ecb5fafa3/call-processSample/shard-2/execution/Sample3.allSampleInfo.txt"]},"id":"845cd26a-4da6-4e69-aa86-fb5ecb5fafa3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/15d6ba72-9854-41ed-a32b-da9293fe077b/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.final_summary":"Multiple high-quality
        samples processed\nNumber of samples processed: 2","conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/15d6ba72-9854-41ed-a32b-da9293fe077b/call-run_qc_report/execution/report.csv"},"id":"15d6ba72-9854-41ed-a32b-da9293fe077b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/4eb8af98-2e18-4887-bae0-4971c253f35e/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/4eb8af98-2e18-4887-bae0-4971c253f35e/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/4eb8af98-2e18-4887-bae0-4971c253f35e/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"4eb8af98-2e18-4887-bae0-4971c253f35e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/e2d1e68f-10d0-41c3-9cde-3b3f32dedbaa/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"e2d1e68f-10d0-41c3-9cde-3b3f32dedbaa"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/52a09096-1d88-4700-9ae7-d6500358c926/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.conditional_result":"Parsed prefix:
        testfile","WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/52a09096-1d88-4700-9ae7-d6500358c926/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/52a09096-1d88-4700-9ae7-d6500358c926/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/52a09096-1d88-4700-9ae7-d6500358c926/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/52a09096-1d88-4700-9ae7-d6500358c926/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/52a09096-1d88-4700-9ae7-d6500358c926/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"]},"id":"52a09096-1d88-4700-9ae7-d6500358c926"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/999eb28b-6747-4f0a-81f1-bbccd9995838/outputs
  response:
    body:
      string: '{"outputs":{"struct_example.processed_sample":[{"name":"sample1","sequencing":{"flowcell_id":"H5K5YDSXX","platform":"NovaSeq","lane_number":1},"metrics":{"gc_content":45.2,"quality_score":95.5,"duplicate_rate":2},"type":"normal","library_prep":null,"read_length":100},{"name":"sample2","sequencing":{"flowcell_id":null,"platform":"NovaSeq","lane_number":null},"metrics":{"gc_content":null,"quality_score":92.3,"duplicate_rate":null},"type":"tumor","library_prep":"PCR-free","read_length":150}],"struct_example.process_sample.message":["Processing
        sample1 (normal)\nRead Length: 100\nSequencing Platform: NovaSeq\nFlowcell
        ID: H5K5YDSXX\nLane Number: 1\nQuality Score: 95.5\nGC Content: 45.2\nDuplicate
        Rate: 2%\nLibrary Prep: Standard","Processing sample2 (tumor)\nRead Length:
        150\nSequencing Platform: NovaSeq\nFlowcell ID: N/A\nLane Number: -1\nQuality
        Score: 92.3\nGC Content: 0.0\nDuplicate Rate: 0%\nLibrary Prep: PCR-free"]},"id":"999eb28b-6747-4f0a-81f1-bbccd9995838"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/8c070a30-d1f0-4228-87ed-d6ac16a801f2/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/8c070a30-d1f0-4228-87ed-d6ac16a801f2/call-file_operations/execution/file1.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/8c070a30-d1f0-4228-87ed-d6ac16a801f2/call-file_operations/execution/output_dir/file2.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/8c070a30-d1f0-4228-87ed-d6ac16a801f2/call-file_operations/execution/file3_renamed.txt"},"id":"8c070a30-d1f0-4228-87ed-d6ac16a801f2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/0a355670-7e37-454a-ad25-2fae307f739e/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/0a355670-7e37-454a-ad25-2fae307f739e/call-simpleTask/execution/output.txt"},"id":"0a355670-7e37-454a-ad25-2fae307f739e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok12.fhcrc.org:34115/api/workflows/v1/4bfeeab6-79b5-45ae-97e4-1efa23accd45/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/4bfeeab6-79b5-45ae-97e4-1efa23accd45/call-Hostname/execution/stdout","HelloDockerHostname.within_time_limit":true,"HelloDockerHostname.execution_time_seconds":80.9967},"id":"4bfeeab6-79b5-45ae-97e4-1efa23accd45"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
