interactions:
- request:
    body: "--f1df606cabc911f87206ac8c2877fd69\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--f1df606cabc911f87206ac8c2877fd69\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f1df606cabc911f87206ac8c2877fd69--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f1df606cabc911f87206ac8c2877fd69
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"341e9c64-3c0e-4821-80e9-de539e27c166","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/341e9c64-3c0e-4821-80e9-de539e27c166/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 341e9c64-3c0e-4821-80e9-de539e27c166\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/341e9c64-3c0e-4821-80e9-de539e27c166/outputs
  response:
    body:
      string: '{"outputs":{},"id":"341e9c64-3c0e-4821-80e9-de539e27c166"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
