interactions:
- request:
    body: "--a9469bede067610ff306ac2e2136b6cf\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--a9469bede067610ff306ac2e2136b6cf\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a9469bede067610ff306ac2e2136b6cf--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a9469bede067610ff306ac2e2136b6cf
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"0c7ab387-e2f7-4637-be36-0696e2217b4e","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/0c7ab387-e2f7-4637-be36-0696e2217b4e/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 0c7ab387-e2f7-4637-be36-0696e2217b4e\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/0c7ab387-e2f7-4637-be36-0696e2217b4e/outputs
  response:
    body:
      string: '{"outputs":{},"id":"0c7ab387-e2f7-4637-be36-0696e2217b4e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
