interactions:
- request:
    body: "--e47dedcb620fb80fa9ff9708a62b5b36\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--e47dedcb620fb80fa9ff9708a62b5b36\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e47dedcb620fb80fa9ff9708a62b5b36--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e47dedcb620fb80fa9ff9708a62b5b36
    method: POST
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1
  response:
    body:
      string: '{"id":"474cf7c5-9ff1-49df-88f3-01ea4c9fa318","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/474cf7c5-9ff1-49df-88f3-01ea4c9fa318/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 474cf7c5-9ff1-49df-88f3-01ea4c9fa318\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/474cf7c5-9ff1-49df-88f3-01ea4c9fa318/outputs
  response:
    body:
      string: '{"outputs":{},"id":"474cf7c5-9ff1-49df-88f3-01ea4c9fa318"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
