interactions:
- request:
    body: "--b111b53fdce0a5a4b91bb2094d3f539a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--b111b53fdce0a5a4b91bb2094d3f539a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b111b53fdce0a5a4b91bb2094d3f539a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b111b53fdce0a5a4b91bb2094d3f539a
    method: POST
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1
  response:
    body:
      string: '{"id":"1b0da1a8-2a92-4707-bbe7-72111ec01c62","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/1b0da1a8-2a92-4707-bbe7-72111ec01c62/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 1b0da1a8-2a92-4707-bbe7-72111ec01c62\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/1b0da1a8-2a92-4707-bbe7-72111ec01c62/outputs
  response:
    body:
      string: '{"outputs":{},"id":"1b0da1a8-2a92-4707-bbe7-72111ec01c62"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
