interactions:
- request:
    body: "--07eb130320555082a95077e1451bbfd2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--07eb130320555082a95077e1451bbfd2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--07eb130320555082a95077e1451bbfd2--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=07eb130320555082a95077e1451bbfd2
    method: POST
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1
  response:
    body:
      string: '{"id":"2ee42b07-1afc-48c9-aa83-2875be8218df","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/2ee42b07-1afc-48c9-aa83-2875be8218df/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2ee42b07-1afc-48c9-aa83-2875be8218df\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/2ee42b07-1afc-48c9-aa83-2875be8218df/outputs
  response:
    body:
      string: '{"outputs":{},"id":"2ee42b07-1afc-48c9-aa83-2875be8218df"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
