interactions:
- request:
    body: "--9e1042dffe283593eefd8ea30079ec1d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--9e1042dffe283593eefd8ea30079ec1d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9e1042dffe283593eefd8ea30079ec1d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9e1042dffe283593eefd8ea30079ec1d
    method: POST
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1
  response:
    body:
      string: '{"id":"cecb1760-42ef-4be2-a660-41709f46b538","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/cecb1760-42ef-4be2-a660-41709f46b538/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: cecb1760-42ef-4be2-a660-41709f46b538\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/cecb1760-42ef-4be2-a660-41709f46b538/outputs
  response:
    body:
      string: '{"outputs":{},"id":"cecb1760-42ef-4be2-a660-41709f46b538"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
