interactions:
- request:
    body: "--1cd5a0f5b2e47313a16846a6a871a05b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--1cd5a0f5b2e47313a16846a6a871a05b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1cd5a0f5b2e47313a16846a6a871a05b--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=1cd5a0f5b2e47313a16846a6a871a05b
    method: POST
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1
  response:
    body:
      string: '{"id":"abfb534e-965c-4cad-a6dc-2b1060a58742","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/abfb534e-965c-4cad-a6dc-2b1060a58742/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: abfb534e-965c-4cad-a6dc-2b1060a58742\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/abfb534e-965c-4cad-a6dc-2b1060a58742/outputs
  response:
    body:
      string: '{"outputs":{},"id":"abfb534e-965c-4cad-a6dc-2b1060a58742"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
