interactions:
- request:
    body: "--cec094ae8c867683afbecaa137da99ac\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--cec094ae8c867683afbecaa137da99ac\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--cec094ae8c867683afbecaa137da99ac--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=cec094ae8c867683afbecaa137da99ac
    method: POST
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1
  response:
    body:
      string: '{"id":"cadf2467-1e29-42ea-b51a-2ff3ec4ed446","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/cadf2467-1e29-42ea-b51a-2ff3ec4ed446/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: cadf2467-1e29-42ea-b51a-2ff3ec4ed446\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/cadf2467-1e29-42ea-b51a-2ff3ec4ed446/outputs
  response:
    body:
      string: '{"outputs":{},"id":"cadf2467-1e29-42ea-b51a-2ff3ec4ed446"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
