interactions:
- request:
    body: "--39dc58489256449a734c5dbe199eccbb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--39dc58489256449a734c5dbe199eccbb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--39dc58489256449a734c5dbe199eccbb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=39dc58489256449a734c5dbe199eccbb
    method: POST
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1
  response:
    body:
      string: '{"id":"b69ed00d-b23a-4b9d-a60b-3a3d0c1897be","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/b69ed00d-b23a-4b9d-a60b-3a3d0c1897be/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b69ed00d-b23a-4b9d-a60b-3a3d0c1897be\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/b69ed00d-b23a-4b9d-a60b-3a3d0c1897be/outputs
  response:
    body:
      string: '{"outputs":{},"id":"b69ed00d-b23a-4b9d-a60b-3a3d0c1897be"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
