interactions:
- request:
    body: "--51f980bda75d7f1059864d0460c115ec\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--51f980bda75d7f1059864d0460c115ec\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--51f980bda75d7f1059864d0460c115ec--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=51f980bda75d7f1059864d0460c115ec
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"dc2386cb-b4e5-44ec-8673-b2f88535560d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/dc2386cb-b4e5-44ec-8673-b2f88535560d/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: dc2386cb-b4e5-44ec-8673-b2f88535560d\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/dc2386cb-b4e5-44ec-8673-b2f88535560d/outputs
  response:
    body:
      string: '{"outputs":{},"id":"dc2386cb-b4e5-44ec-8673-b2f88535560d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
