interactions:
- request:
    body: "--08a703c9509b823232feaa96d0fe2883\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--08a703c9509b823232feaa96d0fe2883\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--08a703c9509b823232feaa96d0fe2883--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=08a703c9509b823232feaa96d0fe2883
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"bd897778-6913-4f5e-b688-8444d6792f93","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/bd897778-6913-4f5e-b688-8444d6792f93/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: bd897778-6913-4f5e-b688-8444d6792f93\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/bd897778-6913-4f5e-b688-8444d6792f93/outputs
  response:
    body:
      string: '{"outputs":{},"id":"bd897778-6913-4f5e-b688-8444d6792f93"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
