interactions:
- request:
    body: "--1fb0e11e6ecbd8177e1fae400a392e40\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--1fb0e11e6ecbd8177e1fae400a392e40\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1fb0e11e6ecbd8177e1fae400a392e40--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1fb0e11e6ecbd8177e1fae400a392e40
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"d4d0fa88-99b9-4015-9741-5ebf5b52162b","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/d4d0fa88-99b9-4015-9741-5ebf5b52162b/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: d4d0fa88-99b9-4015-9741-5ebf5b52162b\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/d4d0fa88-99b9-4015-9741-5ebf5b52162b/outputs
  response:
    body:
      string: '{"outputs":{},"id":"d4d0fa88-99b9-4015-9741-5ebf5b52162b"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
