interactions:
- request:
    body: "--a6d2602eb963f9892ede98e081070d3a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--a6d2602eb963f9892ede98e081070d3a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a6d2602eb963f9892ede98e081070d3a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a6d2602eb963f9892ede98e081070d3a
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"00d24f79-b9a2-4559-af11-e5fa599e4aa5","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/00d24f79-b9a2-4559-af11-e5fa599e4aa5/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 00d24f79-b9a2-4559-af11-e5fa599e4aa5\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/00d24f79-b9a2-4559-af11-e5fa599e4aa5/outputs
  response:
    body:
      string: '{"outputs":{},"id":"00d24f79-b9a2-4559-af11-e5fa599e4aa5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
