interactions:
- request:
    body: "--2567323522519282994330961b9c0ad7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"badValMissingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--2567323522519282994330961b9c0ad7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2567323522519282994330961b9c0ad7--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2567323522519282994330961b9c0ad7
    method: POST
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1
  response:
    body:
      string: '{"id":"f52e26a2-9f5c-4077-aecc-07cccab71296","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/f52e26a2-9f5c-4077-aecc-07cccab71296/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f52e26a2-9f5c-4077-aecc-07cccab71296\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/f52e26a2-9f5c-4077-aecc-07cccab71296/outputs
  response:
    body:
      string: '{"outputs":{},"id":"f52e26a2-9f5c-4077-aecc-07cccab71296"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
