interactions:
- request:
    body: "--e7dbb1d3b5d79e1be5f97b67398cbf26\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--e7dbb1d3b5d79e1be5f97b67398cbf26\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e7dbb1d3b5d79e1be5f97b67398cbf26--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e7dbb1d3b5d79e1be5f97b67398cbf26
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"434e9fbb-be26-4130-833e-e51a1672e3de","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/434e9fbb-be26-4130-833e-e51a1672e3de/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 434e9fbb-be26-4130-833e-e51a1672e3de\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/434e9fbb-be26-4130-833e-e51a1672e3de/outputs
  response:
    body:
      string: '{"outputs":{},"id":"434e9fbb-be26-4130-833e-e51a1672e3de"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
