interactions:
- request:
    body: "--951f0b3a13c7f781e4925a8e8f8910c2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--951f0b3a13c7f781e4925a8e8f8910c2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--951f0b3a13c7f781e4925a8e8f8910c2--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=951f0b3a13c7f781e4925a8e8f8910c2
    method: POST
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1
  response:
    body:
      string: '{"id":"71983aa1-2f90-42d3-a0b7-b2969d488a58","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/71983aa1-2f90-42d3-a0b7-b2969d488a58/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 71983aa1-2f90-42d3-a0b7-b2969d488a58\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/71983aa1-2f90-42d3-a0b7-b2969d488a58/outputs
  response:
    body:
      string: '{"outputs":{},"id":"71983aa1-2f90-42d3-a0b7-b2969d488a58"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
