interactions:
- request:
    body: "--dbe9c67be529b75900453dacd5c3ae7b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/9638d945-20ba-4499-9ce4-b124287c0d77/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 9638d945-20ba-4499-9ce4-b124287c0d77\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/9638d945-20ba-4499-9ce4-b124287c0d77/outputs
  response:
    body:
      string: '{"outputs":{},"id":"9638d945-20ba-4499-9ce4-b124287c0d77"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
