interactions:
- request:
    body: "--03ffcea91f11231eda50d97954d9401d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--03ffcea91f11231eda50d97954d9401d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--03ffcea91f11231eda50d97954d9401d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=03ffcea91f11231eda50d97954d9401d
    method: POST
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1
  response:
    body:
      string: '{"id":"98b30d68-beb5-4745-addb-a28648095f85","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/98b30d68-beb5-4745-addb-a28648095f85/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 98b30d68-beb5-4745-addb-a28648095f85\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/98b30d68-beb5-4745-addb-a28648095f85/outputs
  response:
    body:
      string: '{"outputs":{},"id":"98b30d68-beb5-4745-addb-a28648095f85"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
