interactions:
- request:
    body: "--35cde100987297df99ddfe3a31bdb24e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--35cde100987297df99ddfe3a31bdb24e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--35cde100987297df99ddfe3a31bdb24e--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=35cde100987297df99ddfe3a31bdb24e
    method: POST
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1
  response:
    body:
      string: '{"id":"4b496ea1-fa17-4238-b8d7-e1605762df98","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/4b496ea1-fa17-4238-b8d7-e1605762df98/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4b496ea1-fa17-4238-b8d7-e1605762df98\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/4b496ea1-fa17-4238-b8d7-e1605762df98/outputs
  response:
    body:
      string: '{"outputs":{},"id":"4b496ea1-fa17-4238-b8d7-e1605762df98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
