interactions:
- request:
    body: "--286caa3c2e27a8904f7b0ac9fb399a44\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--286caa3c2e27a8904f7b0ac9fb399a44\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--286caa3c2e27a8904f7b0ac9fb399a44--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=286caa3c2e27a8904f7b0ac9fb399a44
    method: POST
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1
  response:
    body:
      string: '{"id":"b7b97242-6b70-47bb-92fa-af47522d423d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/b7b97242-6b70-47bb-92fa-af47522d423d/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b7b97242-6b70-47bb-92fa-af47522d423d\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/b7b97242-6b70-47bb-92fa-af47522d423d/outputs
  response:
    body:
      string: '{"outputs":{},"id":"b7b97242-6b70-47bb-92fa-af47522d423d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
