interactions:
- request:
    body: "--96bef66ad8247637a55f4a891e35be8c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--96bef66ad8247637a55f4a891e35be8c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--96bef66ad8247637a55f4a891e35be8c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=96bef66ad8247637a55f4a891e35be8c
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"5e7fecc5-81ca-4ad9-beb3-cd9c497d0824","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/5e7fecc5-81ca-4ad9-beb3-cd9c497d0824/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5e7fecc5-81ca-4ad9-beb3-cd9c497d0824\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/5e7fecc5-81ca-4ad9-beb3-cd9c497d0824/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5e7fecc5-81ca-4ad9-beb3-cd9c497d0824"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
