interactions:
- request:
    body: "--74d623f3634cd8f909d4c64956c80d03\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--74d623f3634cd8f909d4c64956c80d03\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--74d623f3634cd8f909d4c64956c80d03--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=74d623f3634cd8f909d4c64956c80d03
    method: POST
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1
  response:
    body:
      string: '{"id":"f3f7bd21-edaf-4b19-9cbd-119a3abad7c3","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/f3f7bd21-edaf-4b19-9cbd-119a3abad7c3/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f3f7bd21-edaf-4b19-9cbd-119a3abad7c3\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/f3f7bd21-edaf-4b19-9cbd-119a3abad7c3/outputs
  response:
    body:
      string: '{"outputs":{},"id":"f3f7bd21-edaf-4b19-9cbd-119a3abad7c3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
