interactions:
- request:
    body: "--cecd13843a3bed1f95886a9a60668150\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--cecd13843a3bed1f95886a9a60668150\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--cecd13843a3bed1f95886a9a60668150--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=cecd13843a3bed1f95886a9a60668150
    method: POST
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1
  response:
    body:
      string: '{"id":"e490655f-8ff5-4546-836b-5869ba74b180","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e490655f-8ff5-4546-836b-5869ba74b180/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e490655f-8ff5-4546-836b-5869ba74b180\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj19.fhcrc.org:33393/api/workflows/v1/e490655f-8ff5-4546-836b-5869ba74b180/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e490655f-8ff5-4546-836b-5869ba74b180"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
