interactions:
- request:
    body: "--ade1921487666cc9b5741643617767d8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/e516265f-e7fd-460a-bc8a-f6aef07c8af3/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e516265f-e7fd-460a-bc8a-f6aef07c8af3\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/e516265f-e7fd-460a-bc8a-f6aef07c8af3/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e516265f-e7fd-460a-bc8a-f6aef07c8af3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
