interactions:
- request:
    body: "--ecaf7c4ac6d17217794ce6e15b435568\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--ecaf7c4ac6d17217794ce6e15b435568\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ecaf7c4ac6d17217794ce6e15b435568--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=ecaf7c4ac6d17217794ce6e15b435568
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"d33ac289-dc87-4b22-a12f-726a28467111","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/d33ac289-dc87-4b22-a12f-726a28467111/outputs
  response:
    body:
      string: '{"outputs":{},"id":"d33ac289-dc87-4b22-a12f-726a28467111"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
