interactions:
- request:
    body: "--21b3d3eccd17b2dc796e233d5936a300\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/14745547-5083-46ac-9b89-4656d0ae0334/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 14745547-5083-46ac-9b89-4656d0ae0334\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/14745547-5083-46ac-9b89-4656d0ae0334/outputs
  response:
    body:
      string: '{"outputs":{},"id":"14745547-5083-46ac-9b89-4656d0ae0334"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
