interactions:
- request:
    body: "--133cf5c36489be395a2fa2ba2764aec1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/9f6c9cc8-5e0e-4167-8055-427066e4d568/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 9f6c9cc8-5e0e-4167-8055-427066e4d568\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/9f6c9cc8-5e0e-4167-8055-427066e4d568/outputs
  response:
    body:
      string: '{"outputs":{},"id":"9f6c9cc8-5e0e-4167-8055-427066e4d568"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
