interactions:
- request:
    body: "--f654c14f48ee51272e23bdd61d30006c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--f654c14f48ee51272e23bdd61d30006c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f654c14f48ee51272e23bdd61d30006c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=f654c14f48ee51272e23bdd61d30006c
    method: POST
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1
  response:
    body:
      string: '{"id":"e6aa6406-ebd7-4ef9-9c3b-068b8f03caee","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/e6aa6406-ebd7-4ef9-9c3b-068b8f03caee/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e6aa6406-ebd7-4ef9-9c3b-068b8f03caee\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/e6aa6406-ebd7-4ef9-9c3b-068b8f03caee/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e6aa6406-ebd7-4ef9-9c3b-068b8f03caee"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
