interactions:
- request:
    body: "--a8984e29a1f78f1ea4fc5cf2fff5e178\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--a8984e29a1f78f1ea4fc5cf2fff5e178\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a8984e29a1f78f1ea4fc5cf2fff5e178--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a8984e29a1f78f1ea4fc5cf2fff5e178
    method: POST
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1
  response:
    body:
      string: '{"id":"30379dda-365e-4561-910b-694fa7c5b685","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/30379dda-365e-4561-910b-694fa7c5b685/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 30379dda-365e-4561-910b-694fa7c5b685\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/30379dda-365e-4561-910b-694fa7c5b685/outputs
  response:
    body:
      string: '{"outputs":{},"id":"30379dda-365e-4561-910b-694fa7c5b685"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
