interactions:
- request:
    body: "--162a89d96e0ea3f904d67bf473dc0259\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--162a89d96e0ea3f904d67bf473dc0259\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--162a89d96e0ea3f904d67bf473dc0259--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=162a89d96e0ea3f904d67bf473dc0259
    method: POST
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1
  response:
    body:
      string: '{"id":"5d95eb9d-5857-4b3c-9411-f597e3083343","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/5d95eb9d-5857-4b3c-9411-f597e3083343/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5d95eb9d-5857-4b3c-9411-f597e3083343\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/5d95eb9d-5857-4b3c-9411-f597e3083343/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5d95eb9d-5857-4b3c-9411-f597e3083343"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
