interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/f5af3445-e980-4a14-bef9-f2d0671d803e/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f5af3445-e980-4a14-bef9-f2d0671d803e/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f5af3445-e980-4a14-bef9-f2d0671d803e/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f5af3445-e980-4a14-bef9-f2d0671d803e/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f5af3445-e980-4a14-bef9-f2d0671d803e/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f5af3445-e980-4a14-bef9-f2d0671d803e/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f5af3445-e980-4a14-bef9-f2d0671d803e/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f5af3445-e980-4a14-bef9-f2d0671d803e/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"f5af3445-e980-4a14-bef9-f2d0671d803e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/b36509fa-b8a2-403a-9852-e6702125fc3e/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"b36509fa-b8a2-403a-9852-e6702125fc3e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/1e5601f2-e1d9-4207-a7c5-0a16e9edaad6/outputs
  response:
    body:
      string: '{"outputs":{"enhanced_map_test.result_map":{"sample2":"Processing sample2
        (tumor) with read length 150","sample1":"Processing sample1 (normal) with
        read length 100","sample3":"Processing sample3 (normal) with read length 100"},"enhanced_map_test.nested_map_results":["Processing
        patient patient1 with sample type normal\nSample: sample1\nSample: sample2","Processing
        patient patient2 with sample type normal\nSample: sample3\nSample: sample4"]},"id":"1e5601f2-e1d9-4207-a7c5-0a16e9edaad6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/96e0d00c-f33a-4c25-86f2-e3d889fb8cb0/outputs
  response:
    body:
      string: '{"outputs":{"jsonTaskOrderTest.task1_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/96e0d00c-f33a-4c25-86f2-e3d889fb8cb0/call-Task1/execution/task1_output.txt","jsonTaskOrderTest.task2_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/96e0d00c-f33a-4c25-86f2-e3d889fb8cb0/call-Task2/execution/task2_output.txt"},"id":"96e0d00c-f33a-4c25-86f2-e3d889fb8cb0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/6df7bfcf-93c4-4b70-8648-6c08977fbad2/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"6df7bfcf-93c4-4b70-8648-6c08977fbad2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/db4d03e4-fb4c-4560-8def-924cf224955f/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/db4d03e4-fb4c-4560-8def-924cf224955f/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/db4d03e4-fb4c-4560-8def-924cf224955f/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"db4d03e4-fb4c-4560-8def-924cf224955f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/89e8e84c-9e39-404b-898b-2709945e5f85/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/89e8e84c-9e39-404b-898b-2709945e5f85/call-Hostname/execution/stdout"},"id":"89e8e84c-9e39-404b-898b-2709945e5f85"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/b82c1079-37f6-434d-bc2a-ac4af52cd96b/outputs
  response:
    body:
      string: '{"outputs":{"testNestedJsonArray.result_allSampleInfo":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/b82c1079-37f6-434d-bc2a-ac4af52cd96b/call-processSample/shard-0/execution/Sample1.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/b82c1079-37f6-434d-bc2a-ac4af52cd96b/call-processSample/shard-1/execution/Sample2.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/b82c1079-37f6-434d-bc2a-ac4af52cd96b/call-processSample/shard-2/execution/Sample3.allSampleInfo.txt"]},"id":"b82c1079-37f6-434d-bc2a-ac4af52cd96b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/4e0fd54c-3225-4add-a8e7-356a6c0ba845/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.final_summary":"Multiple high-quality
        samples processed\nNumber of samples processed: 2","conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/4e0fd54c-3225-4add-a8e7-356a6c0ba845/call-run_qc_report/execution/report.csv"},"id":"4e0fd54c-3225-4add-a8e7-356a6c0ba845"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/98b974bd-686f-4f1d-a887-20b60eef618e/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/98b974bd-686f-4f1d-a887-20b60eef618e/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/98b974bd-686f-4f1d-a887-20b60eef618e/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"98b974bd-686f-4f1d-a887-20b60eef618e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/e6ee4e46-b91d-44bb-b2e3-9902a4a7cb8d/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"e6ee4e46-b91d-44bb-b2e3-9902a4a7cb8d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/c39eac0a-12c3-4435-9d57-784e6b348f64/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c39eac0a-12c3-4435-9d57-784e6b348f64/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c39eac0a-12c3-4435-9d57-784e6b348f64/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c39eac0a-12c3-4435-9d57-784e6b348f64/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c39eac0a-12c3-4435-9d57-784e6b348f64/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/c39eac0a-12c3-4435-9d57-784e6b348f64/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"],"WildcardsandConditions.conditional_result":"Parsed
        prefix: testfile"},"id":"c39eac0a-12c3-4435-9d57-784e6b348f64"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/b96fea28-a731-4c22-9f90-54712f84ede6/outputs
  response:
    body:
      string: '{"outputs":{"struct_example.processed_sample":[{"name":"sample1","sequencing":{"flowcell_id":"H5K5YDSXX","platform":"NovaSeq","lane_number":1},"metrics":{"gc_content":45.2,"quality_score":95.5,"duplicate_rate":2},"type":"normal","library_prep":null,"read_length":100},{"name":"sample2","sequencing":{"flowcell_id":null,"platform":"NovaSeq","lane_number":null},"metrics":{"gc_content":null,"quality_score":92.3,"duplicate_rate":null},"type":"tumor","library_prep":"PCR-free","read_length":150}],"struct_example.process_sample.message":["Processing
        sample1 (normal)\nRead Length: 100\nSequencing Platform: NovaSeq\nFlowcell
        ID: H5K5YDSXX\nLane Number: 1\nQuality Score: 95.5\nGC Content: 45.2\nDuplicate
        Rate: 2%\nLibrary Prep: Standard","Processing sample2 (tumor)\nRead Length:
        150\nSequencing Platform: NovaSeq\nFlowcell ID: N/A\nLane Number: -1\nQuality
        Score: 92.3\nGC Content: 0.0\nDuplicate Rate: 0%\nLibrary Prep: PCR-free"]},"id":"b96fea28-a731-4c22-9f90-54712f84ede6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/aa460cdd-1e72-44d4-900d-ae7dbc16785a/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/aa460cdd-1e72-44d4-900d-ae7dbc16785a/call-file_operations/execution/file1.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/aa460cdd-1e72-44d4-900d-ae7dbc16785a/call-file_operations/execution/file3_renamed.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/aa460cdd-1e72-44d4-900d-ae7dbc16785a/call-file_operations/execution/output_dir/file2.txt"},"id":"aa460cdd-1e72-44d4-900d-ae7dbc16785a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/e055cc61-92d1-48bc-81fa-be08a6475978/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/e055cc61-92d1-48bc-81fa-be08a6475978/call-simpleTask/execution/output.txt"},"id":"e055cc61-92d1-48bc-81fa-be08a6475978"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:38409/api/workflows/v1/d58b0ba4-6e5d-4856-97d7-c5dbce150cac/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.within_time_limit":false,"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/d58b0ba4-6e5d-4856-97d7-c5dbce150cac/call-Hostname/execution/stdout","HelloDockerHostname.execution_time_seconds":245.458},"id":"d58b0ba4-6e5d-4856-97d7-c5dbce150cac"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
