interactions:
- request:
    body: "--f488a619051ab2348fb139689fe09dbb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--f488a619051ab2348fb139689fe09dbb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f488a619051ab2348fb139689fe09dbb--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f488a619051ab2348fb139689fe09dbb
    method: POST
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1
  response:
    body:
      string: '{"id":"f5f8ade0-b224-4f7c-a0e8-f95b150f4ebd","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/f5f8ade0-b224-4f7c-a0e8-f95b150f4ebd/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: f5f8ade0-b224-4f7c-a0e8-f95b150f4ebd\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj16.fhcrc.org:40905/api/workflows/v1/f5f8ade0-b224-4f7c-a0e8-f95b150f4ebd/outputs
  response:
    body:
      string: '{"outputs":{},"id":"f5f8ade0-b224-4f7c-a0e8-f95b150f4ebd"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
