interactions:
- request:
    body: "--7f2d6506acd80fb021414b400e173f34\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--7f2d6506acd80fb021414b400e173f34\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7f2d6506acd80fb021414b400e173f34--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=7f2d6506acd80fb021414b400e173f34
    method: POST
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1
  response:
    body:
      string: '{"id":"ab666a84-8b6d-4841-9c2c-93588769e278","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/ab666a84-8b6d-4841-9c2c-93588769e278/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ab666a84-8b6d-4841-9c2c-93588769e278\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/ab666a84-8b6d-4841-9c2c-93588769e278/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ab666a84-8b6d-4841-9c2c-93588769e278"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
