interactions:
- request:
    body: "--5b3a4381fff1c9feb2774bd6d2b05d05\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--5b3a4381fff1c9feb2774bd6d2b05d05\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5b3a4381fff1c9feb2774bd6d2b05d05--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=5b3a4381fff1c9feb2774bd6d2b05d05
    method: POST
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1
  response:
    body:
      string: '{"id":"9f280eb3-3923-4ffa-9d9a-2a8ac7dea642","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/9f280eb3-3923-4ffa-9d9a-2a8ac7dea642/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 9f280eb3-3923-4ffa-9d9a-2a8ac7dea642\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/9f280eb3-3923-4ffa-9d9a-2a8ac7dea642/outputs
  response:
    body:
      string: '{"outputs":{},"id":"9f280eb3-3923-4ffa-9d9a-2a8ac7dea642"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
