interactions:
- request:
    body: "--e13d9586fdbabc07f1fba50620ef36b5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/951a7a49-ebd3-430b-8b06-a0aedc33be98/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 951a7a49-ebd3-430b-8b06-a0aedc33be98\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/951a7a49-ebd3-430b-8b06-a0aedc33be98/outputs
  response:
    body:
      string: '{"outputs":{},"id":"951a7a49-ebd3-430b-8b06-a0aedc33be98"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
