interactions:
- request:
    body: "--7805fe1408bdfce783002b4eba5e14eb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--7805fe1408bdfce783002b4eba5e14eb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7805fe1408bdfce783002b4eba5e14eb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=7805fe1408bdfce783002b4eba5e14eb
    method: POST
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1
  response:
    body:
      string: '{"id":"cb1d4222-8f1e-4d42-b8cc-3ed435afeb83","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/cb1d4222-8f1e-4d42-b8cc-3ed435afeb83/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: cb1d4222-8f1e-4d42-b8cc-3ed435afeb83\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/cb1d4222-8f1e-4d42-b8cc-3ed435afeb83/outputs
  response:
    body:
      string: '{"outputs":{},"id":"cb1d4222-8f1e-4d42-b8cc-3ed435afeb83"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
