interactions:
- request:
    body: "--9858652e507cf5eaa9ed39e31e4cde3d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--9858652e507cf5eaa9ed39e31e4cde3d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9858652e507cf5eaa9ed39e31e4cde3d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9858652e507cf5eaa9ed39e31e4cde3d
    method: POST
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1
  response:
    body:
      string: '{"id":"b9139f36-4b3c-497f-b214-2a31f3b43808","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/b9139f36-4b3c-497f-b214-2a31f3b43808/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b9139f36-4b3c-497f-b214-2a31f3b43808\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:45261/api/workflows/v1/b9139f36-4b3c-497f-b214-2a31f3b43808/outputs
  response:
    body:
      string: '{"outputs":{},"id":"b9139f36-4b3c-497f-b214-2a31f3b43808"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
