interactions:
- request:
    body: "--783e5f2a444281d929f7e1d795c280f4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--783e5f2a444281d929f7e1d795c280f4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--783e5f2a444281d929f7e1d795c280f4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=783e5f2a444281d929f7e1d795c280f4
    method: POST
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1
  response:
    body:
      string: '{"id":"1ea9f7b9-1d86-4007-9d78-4adb7b98d74d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/1ea9f7b9-1d86-4007-9d78-4adb7b98d74d/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 1ea9f7b9-1d86-4007-9d78-4adb7b98d74d\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/1ea9f7b9-1d86-4007-9d78-4adb7b98d74d/outputs
  response:
    body:
      string: '{"outputs":{},"id":"1ea9f7b9-1d86-4007-9d78-4adb7b98d74d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
