interactions:
- request:
    body: "--4fa18cf1eceb4c9ca0fabbc3b3625ddc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/ee7dbf5d-8c9a-4e82-a0c9-d8c759053030/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ee7dbf5d-8c9a-4e82-a0c9-d8c759053030\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/ee7dbf5d-8c9a-4e82-a0c9-d8c759053030/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ee7dbf5d-8c9a-4e82-a0c9-d8c759053030"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
