interactions:
- request:
    body: "--d08351fcf5be5bda6dd21ca5204c5482\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--d08351fcf5be5bda6dd21ca5204c5482\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d08351fcf5be5bda6dd21ca5204c5482--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d08351fcf5be5bda6dd21ca5204c5482
    method: POST
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1
  response:
    body:
      string: '{"id":"3533d6cf-7a8f-43ec-905c-49846f33b196","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/3533d6cf-7a8f-43ec-905c-49846f33b196/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 3533d6cf-7a8f-43ec-905c-49846f33b196\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/3533d6cf-7a8f-43ec-905c-49846f33b196/outputs
  response:
    body:
      string: '{"outputs":{},"id":"3533d6cf-7a8f-43ec-905c-49846f33b196"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
