interactions:
- request:
    body: "--597364ba2c303c9a5ea98ca76e7887aa\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--597364ba2c303c9a5ea98ca76e7887aa\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--597364ba2c303c9a5ea98ca76e7887aa--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=597364ba2c303c9a5ea98ca76e7887aa
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"93dd6d7a-e126-4693-8a10-d564de5239ed","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/93dd6d7a-e126-4693-8a10-d564de5239ed/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 93dd6d7a-e126-4693-8a10-d564de5239ed\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/93dd6d7a-e126-4693-8a10-d564de5239ed/outputs
  response:
    body:
      string: '{"outputs":{},"id":"93dd6d7a-e126-4693-8a10-d564de5239ed"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
