interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c/call-Hostname/execution/stdout"},"id":"b8fc3e40-d4b8-490f-aecd-db45fc5b3d7c"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/9d34230d-6849-4fab-b642-b05cb708e37a/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/9d34230d-6849-4fab-b642-b05cb708e37a/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/9d34230d-6849-4fab-b642-b05cb708e37a/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/9d34230d-6849-4fab-b642-b05cb708e37a/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/9d34230d-6849-4fab-b642-b05cb708e37a/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/9d34230d-6849-4fab-b642-b05cb708e37a/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"],"WildcardsandConditions.conditional_result":"Parsed
        prefix: testfile"},"id":"9d34230d-6849-4fab-b642-b05cb708e37a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/5d297729-1e86-401d-bc36-df01835416ad/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"5d297729-1e86-401d-bc36-df01835416ad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/dd6c2c2b-f36e-44c5-87ab-23567fdfc622/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/dd6c2c2b-f36e-44c5-87ab-23567fdfc622/call-file_operations/execution/file1.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/dd6c2c2b-f36e-44c5-87ab-23567fdfc622/call-file_operations/execution/output_dir/file2.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/dd6c2c2b-f36e-44c5-87ab-23567fdfc622/call-file_operations/execution/file3_renamed.txt"},"id":"dd6c2c2b-f36e-44c5-87ab-23567fdfc622"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/8f923309-b784-43ec-bda2-8f5b64abcb9f/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/8f923309-b784-43ec-bda2-8f5b64abcb9f/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"8f923309-b784-43ec-bda2-8f5b64abcb9f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/cb09747a-cf62-4284-a82d-917c6b5bf62f/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/cb09747a-cf62-4284-a82d-917c6b5bf62f/call-run_qc_report/execution/report.csv","conditional_example.final_summary":"Multiple
        high-quality samples processed\nNumber of samples processed: 2"},"id":"cb09747a-cf62-4284-a82d-917c6b5bf62f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/9b582229-0a0b-4745-a77a-6de8cdceee27/outputs
  response:
    body:
      string: '{"outputs":{"jsonTaskOrderTest.task1_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/9b582229-0a0b-4745-a77a-6de8cdceee27/call-Task1/execution/task1_output.txt","jsonTaskOrderTest.task2_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/9b582229-0a0b-4745-a77a-6de8cdceee27/call-Task2/execution/task2_output.txt"},"id":"9b582229-0a0b-4745-a77a-6de8cdceee27"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/b6096c95-6517-435f-be7b-c90c47582b45/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"b6096c95-6517-435f-be7b-c90c47582b45"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/194efda3-903c-47a7-b713-3f5c1b949c1e/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/194efda3-903c-47a7-b713-3f5c1b949c1e/call-Hostname/execution/stdout","HelloDockerHostname.execution_time_seconds":79.586,"HelloDockerHostname.within_time_limit":true},"id":"194efda3-903c-47a7-b713-3f5c1b949c1e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/4d062739-0838-467f-be5c-99ecd8d678cd/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"4d062739-0838-467f-be5c-99ecd8d678cd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/f18ef0b2-e9ce-4155-9865-c8a72151bbad/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f18ef0b2-e9ce-4155-9865-c8a72151bbad/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f18ef0b2-e9ce-4155-9865-c8a72151bbad/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f18ef0b2-e9ce-4155-9865-c8a72151bbad/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f18ef0b2-e9ce-4155-9865-c8a72151bbad/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f18ef0b2-e9ce-4155-9865-c8a72151bbad/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f18ef0b2-e9ce-4155-9865-c8a72151bbad/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/f18ef0b2-e9ce-4155-9865-c8a72151bbad/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"f18ef0b2-e9ce-4155-9865-c8a72151bbad"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/8f04aaa8-2b0c-4105-8f32-bbefb1016c5d/outputs
  response:
    body:
      string: '{"outputs":{"struct_example.process_sample.message":["Processing sample1
        (normal)\nRead Length: 100\nSequencing Platform: NovaSeq\nFlowcell ID: H5K5YDSXX\nLane
        Number: 1\nQuality Score: 95.5\nGC Content: 45.2\nDuplicate Rate: 2%\nLibrary
        Prep: Standard","Processing sample2 (tumor)\nRead Length: 150\nSequencing
        Platform: NovaSeq\nFlowcell ID: N/A\nLane Number: -1\nQuality Score: 92.3\nGC
        Content: 0.0\nDuplicate Rate: 0%\nLibrary Prep: PCR-free"],"struct_example.processed_sample":[{"name":"sample1","sequencing":{"flowcell_id":"H5K5YDSXX","platform":"NovaSeq","lane_number":1},"metrics":{"gc_content":45.2,"quality_score":95.5,"duplicate_rate":2},"type":"normal","library_prep":null,"read_length":100},{"name":"sample2","sequencing":{"flowcell_id":null,"platform":"NovaSeq","lane_number":null},"metrics":{"gc_content":null,"quality_score":92.3,"duplicate_rate":null},"type":"tumor","library_prep":"PCR-free","read_length":150}]},"id":"8f04aaa8-2b0c-4105-8f32-bbefb1016c5d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/4dc3872e-b4ce-4d2e-9741-2e23866b2265/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/4dc3872e-b4ce-4d2e-9741-2e23866b2265/call-simpleTask/execution/output.txt"},"id":"4dc3872e-b4ce-4d2e-9741-2e23866b2265"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/6f58128b-56f3-41a3-9539-63a4f12cbf2b/outputs
  response:
    body:
      string: '{"outputs":{"enhanced_map_test.result_map":{"sample2":"Processing sample2
        (tumor) with read length 150","sample1":"Processing sample1 (normal) with
        read length 100","sample3":"Processing sample3 (normal) with read length 100"},"enhanced_map_test.nested_map_results":["Processing
        patient patient1 with sample type normal\nSample: sample1\nSample: sample2","Processing
        patient patient2 with sample type normal\nSample: sample3\nSample: sample4"]},"id":"6f58128b-56f3-41a3-9539-63a4f12cbf2b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/9821dc46-6202-46c7-993d-e5694a49a3ee/outputs
  response:
    body:
      string: '{"outputs":{"testNestedJsonArray.result_allSampleInfo":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/9821dc46-6202-46c7-993d-e5694a49a3ee/call-processSample/shard-0/execution/Sample1.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/9821dc46-6202-46c7-993d-e5694a49a3ee/call-processSample/shard-1/execution/Sample2.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/9821dc46-6202-46c7-993d-e5694a49a3ee/call-processSample/shard-2/execution/Sample3.allSampleInfo.txt"]},"id":"9821dc46-6202-46c7-993d-e5694a49a3ee"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/4cf6a3b0-3a1d-454d-af56-a304de764e24/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/4cf6a3b0-3a1d-454d-af56-a304de764e24/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/4cf6a3b0-3a1d-454d-af56-a304de764e24/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"4cf6a3b0-3a1d-454d-af56-a304de764e24"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok29.fhcrc.org:41041/api/workflows/v1/29fe38b1-25e1-4ca4-a84d-6224d971291f/outputs
  response:
    body:
      string: '{"outputs":{},"id":"29fe38b1-25e1-4ca4-a84d-6224d971291f"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
