interactions:
- request:
    body: "--c0524c236f5af17866cfb8d0216ac87a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--c0524c236f5af17866cfb8d0216ac87a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c0524c236f5af17866cfb8d0216ac87a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c0524c236f5af17866cfb8d0216ac87a
    method: POST
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1
  response:
    body:
      string: '{"id":"5ba8ad84-b569-478a-a826-7c50b11a9a55","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/5ba8ad84-b569-478a-a826-7c50b11a9a55/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5ba8ad84-b569-478a-a826-7c50b11a9a55\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:42381/api/workflows/v1/5ba8ad84-b569-478a-a826-7c50b11a9a55/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5ba8ad84-b569-478a-a826-7c50b11a9a55"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
