interactions:
- request:
    body: "--4c313377fa774f8fc28a59ac6df04c48\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--4c313377fa774f8fc28a59ac6df04c48\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4c313377fa774f8fc28a59ac6df04c48--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4c313377fa774f8fc28a59ac6df04c48
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"2ebcd05a-5c9f-4534-a52c-bd25d68fd882","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/2ebcd05a-5c9f-4534-a52c-bd25d68fd882/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2ebcd05a-5c9f-4534-a52c-bd25d68fd882\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/2ebcd05a-5c9f-4534-a52c-bd25d68fd882/outputs
  response:
    body:
      string: '{"outputs":{},"id":"2ebcd05a-5c9f-4534-a52c-bd25d68fd882"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
