interactions:
- request:
    body: "--41e074f3bc2b476b1edbc5d6eeef4150\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"conditionalTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This workflow demonstrates the usage of conditional statements in WDL\n##
      by selectively processing samples based on their properties\n\nstruct SampleInfo
      {\n    String name\n    Float quality_score\n    String type\n}\n\nworkflow
      conditional_example {\n    input {\n        [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/32d5ba0b-9ea4-4880-8aef-3e5ed2d31785/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 32d5ba0b-9ea4-4880-8aef-3e5ed2d31785\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/32d5ba0b-9ea4-4880-8aef-3e5ed2d31785/outputs
  response:
    body:
      string: '{"outputs":{},"id":"32d5ba0b-9ea4-4880-8aef-3e5ed2d31785"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
