interactions:
- request:
    body: "--05a46cb347ce64b31ebc400c83c1c7b9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"nonstandardOutputs.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow test_nonstandard_outputs {\n    call generate_diverse_outputs\n
      \   \n    output {\n        File special_chars = generate_diverse_outputs.file_special_chars\n
      \       File no_extension = generate_diverse_outputs.file_no_extension\n        File
      nested_output = gene[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/e2278835-b038-4605-b632-ab84ed943421/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e2278835-b038-4605-b632-ab84ed943421\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:46789/api/workflows/v1/e2278835-b038-4605-b632-ab84ed943421/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e2278835-b038-4605-b632-ab84ed943421"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
