interactions:
- request:
    body: "--33bf612365d320ad8307da31d3aa46ab\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--33bf612365d320ad8307da31d3aa46ab\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--33bf612365d320ad8307da31d3aa46ab--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=33bf612365d320ad8307da31d3aa46ab
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"74a93f74-045a-4fad-9de1-10a81fd02154","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/74a93f74-045a-4fad-9de1-10a81fd02154/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 74a93f74-045a-4fad-9de1-10a81fd02154\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/74a93f74-045a-4fad-9de1-10a81fd02154/outputs
  response:
    body:
      string: '{"outputs":{},"id":"74a93f74-045a-4fad-9de1-10a81fd02154"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
