interactions:
- request:
    body: "--47f116f9b49bdb0ff158184747ca13c0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--47f116f9b49bdb0ff158184747ca13c0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--47f116f9b49bdb0ff158184747ca13c0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=47f116f9b49bdb0ff158184747ca13c0
    method: POST
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1
  response:
    body:
      string: '{"id":"274ca770-f7b9-42ef-a1ab-2b3683d1fd05","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/274ca770-f7b9-42ef-a1ab-2b3683d1fd05/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 274ca770-f7b9-42ef-a1ab-2b3683d1fd05\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok138.fhcrc.org:40149/api/workflows/v1/274ca770-f7b9-42ef-a1ab-2b3683d1fd05/outputs
  response:
    body:
      string: '{"outputs":{},"id":"274ca770-f7b9-42ef-a1ab-2b3683d1fd05"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
