interactions:
- request:
    body: "--a2f322c9847d044aa3311ea2aedc109d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--a2f322c9847d044aa3311ea2aedc109d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a2f322c9847d044aa3311ea2aedc109d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a2f322c9847d044aa3311ea2aedc109d
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"4bb0e8e7-0cf3-4ef3-98fe-4934070342ed","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/4bb0e8e7-0cf3-4ef3-98fe-4934070342ed/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4bb0e8e7-0cf3-4ef3-98fe-4934070342ed\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/4bb0e8e7-0cf3-4ef3-98fe-4934070342ed/outputs
  response:
    body:
      string: '{"outputs":{},"id":"4bb0e8e7-0cf3-4ef3-98fe-4934070342ed"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
