interactions:
- request:
    body: "--5df827d9a9bb3737212d81aa1bd705d4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--5df827d9a9bb3737212d81aa1bd705d4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5df827d9a9bb3737212d81aa1bd705d4--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5df827d9a9bb3737212d81aa1bd705d4
    method: POST
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1
  response:
    body:
      string: '{"id":"b1b7d3d4-23a5-4b87-8c0d-5a5315cee69b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/b1b7d3d4-23a5-4b87-8c0d-5a5315cee69b/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b1b7d3d4-23a5-4b87-8c0d-5a5315cee69b\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj4.fhcrc.org:35141/api/workflows/v1/b1b7d3d4-23a5-4b87-8c0d-5a5315cee69b/outputs
  response:
    body:
      string: '{"outputs":{},"id":"b1b7d3d4-23a5-4b87-8c0d-5a5315cee69b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
