interactions:
- request:
    body: "--4515e7ad9cfc67ac3b2ca2bba8cf3d72\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--4515e7ad9cfc67ac3b2ca2bba8cf3d72\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4515e7ad9cfc67ac3b2ca2bba8cf3d72--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=4515e7ad9cfc67ac3b2ca2bba8cf3d72
    method: POST
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1
  response:
    body:
      string: '{"id":"4731bcde-0845-4b97-90df-ad9fb6f9a72b","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/4731bcde-0845-4b97-90df-ad9fb6f9a72b/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4731bcde-0845-4b97-90df-ad9fb6f9a72b\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/4731bcde-0845-4b97-90df-ad9fb6f9a72b/outputs
  response:
    body:
      string: '{"outputs":{},"id":"4731bcde-0845-4b97-90df-ad9fb6f9a72b"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
