interactions:
- request:
    body: "--45f302cca5229a009f0de945cd6d7df9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloModuleHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for module functionality on Gizmo.\n## Added verification
      of module loading.\n\n#### WORKFLOW DEFINITION\n\nworkflow HelloModuleHostname
      {\n  input {\n    String module2l[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/a02a24da-554b-4f8d-998e-cc750883e2d1/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a02a24da-554b-4f8d-998e-cc750883e2d1\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/a02a24da-554b-4f8d-998e-cc750883e2d1/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a02a24da-554b-4f8d-998e-cc750883e2d1"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
