interactions:
- request:
    body: "--533b1b39a5e4897f108cdce007652e34\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--533b1b39a5e4897f108cdce007652e34\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--533b1b39a5e4897f108cdce007652e34--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=533b1b39a5e4897f108cdce007652e34
    method: POST
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1
  response:
    body:
      string: '{"id":"2b7adfa4-9f88-4d60-89ba-d7a2c1c384c7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/2b7adfa4-9f88-4d60-89ba-d7a2c1c384c7/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2b7adfa4-9f88-4d60-89ba-d7a2c1c384c7\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/2b7adfa4-9f88-4d60-89ba-d7a2c1c384c7/outputs
  response:
    body:
      string: '{"outputs":{},"id":"2b7adfa4-9f88-4d60-89ba-d7a2c1c384c7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
