interactions:
- request:
    body: "--4edc142a500f14a7060d903339ebde97\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--4edc142a500f14a7060d903339ebde97\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4edc142a500f14a7060d903339ebde97--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=4edc142a500f14a7060d903339ebde97
    method: POST
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1
  response:
    body:
      string: '{"id":"13d0f9d3-7619-4059-8290-04e186697241","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/13d0f9d3-7619-4059-8290-04e186697241/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 13d0f9d3-7619-4059-8290-04e186697241\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/13d0f9d3-7619-4059-8290-04e186697241/outputs
  response:
    body:
      string: '{"outputs":{},"id":"13d0f9d3-7619-4059-8290-04e186697241"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
