interactions:
- request:
    body: "--ca25e7767029842d2bc62d76e336eb4d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"badValMissingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--ca25e7767029842d2bc62d76e336eb4d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ca25e7767029842d2bc62d76e336eb4d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=ca25e7767029842d2bc62d76e336eb4d
    method: POST
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1
  response:
    body:
      string: '{"id":"e27d8a87-3ed6-4e60-9b0b-74e7cb8d3b43","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/e27d8a87-3ed6-4e60-9b0b-74e7cb8d3b43/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e27d8a87-3ed6-4e60-9b0b-74e7cb8d3b43\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok58.fhcrc.org:43607/api/workflows/v1/e27d8a87-3ed6-4e60-9b0b-74e7cb8d3b43/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e27d8a87-3ed6-4e60-9b0b-74e7cb8d3b43"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
