interactions:
- request:
    body: "--f30c3b25cb10dea9c07eae5cf1d1b0fd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--f30c3b25cb10dea9c07eae5cf1d1b0fd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f30c3b25cb10dea9c07eae5cf1d1b0fd--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f30c3b25cb10dea9c07eae5cf1d1b0fd
    method: POST
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1
  response:
    body:
      string: '{"id":"3bbc162c-788f-402e-af58-8b7f05197129","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/3bbc162c-788f-402e-af58-8b7f05197129/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 3bbc162c-788f-402e-af58-8b7f05197129\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/3bbc162c-788f-402e-af58-8b7f05197129/outputs
  response:
    body:
      string: '{"outputs":{},"id":"3bbc162c-788f-402e-af58-8b7f05197129"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
