interactions:
- request:
    body: "--d2075cfda0866a1d0cd8d49d0a23617f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--d2075cfda0866a1d0cd8d49d0a23617f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d2075cfda0866a1d0cd8d49d0a23617f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d2075cfda0866a1d0cd8d49d0a23617f
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"8591fd57-4814-4832-a08d-7847ecbf7dc2","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/8591fd57-4814-4832-a08d-7847ecbf7dc2/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8591fd57-4814-4832-a08d-7847ecbf7dc2\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/8591fd57-4814-4832-a08d-7847ecbf7dc2/outputs
  response:
    body:
      string: '{"outputs":{},"id":"8591fd57-4814-4832-a08d-7847ecbf7dc2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
