interactions:
- request:
    body: "--784ce09a474eb554965f16d6756e0e12\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--784ce09a474eb554965f16d6756e0e12\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--784ce09a474eb554965f16d6756e0e12--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=784ce09a474eb554965f16d6756e0e12
    method: POST
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1
  response:
    body:
      string: '{"id":"1f4c45be-2b32-4e5c-89a7-c51d05d9ac67","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/1f4c45be-2b32-4e5c-89a7-c51d05d9ac67/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 1f4c45be-2b32-4e5c-89a7-c51d05d9ac67\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34331/api/workflows/v1/1f4c45be-2b32-4e5c-89a7-c51d05d9ac67/outputs
  response:
    body:
      string: '{"outputs":{},"id":"1f4c45be-2b32-4e5c-89a7-c51d05d9ac67"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
