interactions:
- request:
    body: "--1f810d32083f8465b3d5813d1b6b7361\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--1f810d32083f8465b3d5813d1b6b7361\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1f810d32083f8465b3d5813d1b6b7361--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1f810d32083f8465b3d5813d1b6b7361
    method: POST
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1
  response:
    body:
      string: '{"id":"6b7b54ed-727d-4889-a3e0-13097decd8fe","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/6b7b54ed-727d-4889-a3e0-13097decd8fe/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 6b7b54ed-727d-4889-a3e0-13097decd8fe\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/6b7b54ed-727d-4889-a3e0-13097decd8fe/outputs
  response:
    body:
      string: '{"outputs":{},"id":"6b7b54ed-727d-4889-a3e0-13097decd8fe"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
