interactions:
- request:
    body: "--928cbc2170c0103f77ba92c7de3bf6d9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"badValMissingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--928cbc2170c0103f77ba92c7de3bf6d9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--928cbc2170c0103f77ba92c7de3bf6d9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=928cbc2170c0103f77ba92c7de3bf6d9
    method: POST
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1
  response:
    body:
      string: '{"id":"3f7dd1f1-af6f-445d-b1e3-26a4c451ab82","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/3f7dd1f1-af6f-445d-b1e3-26a4c451ab82/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 3f7dd1f1-af6f-445d-b1e3-26a4c451ab82\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok120.fhcrc.org:36633/api/workflows/v1/3f7dd1f1-af6f-445d-b1e3-26a4c451ab82/outputs
  response:
    body:
      string: '{"outputs":{},"id":"3f7dd1f1-af6f-445d-b1e3-26a4c451ab82"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
