interactions:
- request:
    body: "--8a6d2077ab3ac177170ba017b31ba2b0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--8a6d2077ab3ac177170ba017b31ba2b0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8a6d2077ab3ac177170ba017b31ba2b0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=8a6d2077ab3ac177170ba017b31ba2b0
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"906bda7b-25ef-4305-bc52-e402d7379bbe","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/906bda7b-25ef-4305-bc52-e402d7379bbe/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 906bda7b-25ef-4305-bc52-e402d7379bbe\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/906bda7b-25ef-4305-bc52-e402d7379bbe/outputs
  response:
    body:
      string: '{"outputs":{},"id":"906bda7b-25ef-4305-bc52-e402d7379bbe"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
