interactions:
- request:
    body: "--4754d2e0e399bbb65f61c42583a8be58\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--4754d2e0e399bbb65f61c42583a8be58\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--4754d2e0e399bbb65f61c42583a8be58--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=4754d2e0e399bbb65f61c42583a8be58
    method: POST
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1
  response:
    body:
      string: '{"id":"43b1759f-b35a-41cc-abf2-807c6305ce80","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/43b1759f-b35a-41cc-abf2-807c6305ce80/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 43b1759f-b35a-41cc-abf2-807c6305ce80\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/43b1759f-b35a-41cc-abf2-807c6305ce80/outputs
  response:
    body:
      string: '{"outputs":{},"id":"43b1759f-b35a-41cc-abf2-807c6305ce80"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
