interactions:
- request:
    body: "--f5ca931e048da0b6375e85633967f3bc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--f5ca931e048da0b6375e85633967f3bc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f5ca931e048da0b6375e85633967f3bc--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f5ca931e048da0b6375e85633967f3bc
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"7c0ab63d-2e5a-403b-9694-30dba24228b5","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7c0ab63d-2e5a-403b-9694-30dba24228b5/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 7c0ab63d-2e5a-403b-9694-30dba24228b5\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/7c0ab63d-2e5a-403b-9694-30dba24228b5/outputs
  response:
    body:
      string: '{"outputs":{},"id":"7c0ab63d-2e5a-403b-9694-30dba24228b5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
