interactions:
- request:
    body: "--2986d46bd5787808c5b4e7f621fcf55a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--2986d46bd5787808c5b4e7f621fcf55a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2986d46bd5787808c5b4e7f621fcf55a--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=2986d46bd5787808c5b4e7f621fcf55a
    method: POST
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1
  response:
    body:
      string: '{"id":"1353e618-c0e7-4b47-a81e-aadb9f99a164","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/1353e618-c0e7-4b47-a81e-aadb9f99a164/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 1353e618-c0e7-4b47-a81e-aadb9f99a164\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/1353e618-c0e7-4b47-a81e-aadb9f99a164/outputs
  response:
    body:
      string: '{"outputs":{},"id":"1353e618-c0e7-4b47-a81e-aadb9f99a164"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
