interactions:
- request:
    body: "--5845ace2b11d923149695ab2ea52d031\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/ef4a7c9c-2cad-45da-9230-5d804f4b0a88/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ef4a7c9c-2cad-45da-9230-5d804f4b0a88\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/ef4a7c9c-2cad-45da-9230-5d804f4b0a88/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ef4a7c9c-2cad-45da-9230-5d804f4b0a88"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
