interactions:
- request:
    body: "--770292a67c623c0ab9574f8ba2ace80c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--770292a67c623c0ab9574f8ba2ace80c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--770292a67c623c0ab9574f8ba2ace80c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=770292a67c623c0ab9574f8ba2ace80c
    method: POST
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1
  response:
    body:
      string: '{"id":"e3f25b55-3782-4526-9f5e-67ce46ba5272","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/e3f25b55-3782-4526-9f5e-67ce46ba5272/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: e3f25b55-3782-4526-9f5e-67ce46ba5272\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/e3f25b55-3782-4526-9f5e-67ce46ba5272/outputs
  response:
    body:
      string: '{"outputs":{},"id":"e3f25b55-3782-4526-9f5e-67ce46ba5272"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
