interactions:
- request:
    body: "--719f0c1a84d24c629efafc9b7100bc4b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--719f0c1a84d24c629efafc9b7100bc4b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--719f0c1a84d24c629efafc9b7100bc4b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=719f0c1a84d24c629efafc9b7100bc4b
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"3d22e451-54fc-41f7-b08b-0aa2967182bc","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/3d22e451-54fc-41f7-b08b-0aa2967182bc/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 3d22e451-54fc-41f7-b08b-0aa2967182bc\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/3d22e451-54fc-41f7-b08b-0aa2967182bc/outputs
  response:
    body:
      string: '{"outputs":{},"id":"3d22e451-54fc-41f7-b08b-0aa2967182bc"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
