interactions:
- request:
    body: "--aa59c8701e7d5e09c4df3ba0393a2e99\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--aa59c8701e7d5e09c4df3ba0393a2e99\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--aa59c8701e7d5e09c4df3ba0393a2e99--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=aa59c8701e7d5e09c4df3ba0393a2e99
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"243c854f-62da-491f-bcfb-c373fa714f41","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/243c854f-62da-491f-bcfb-c373fa714f41/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 243c854f-62da-491f-bcfb-c373fa714f41\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/243c854f-62da-491f-bcfb-c373fa714f41/outputs
  response:
    body:
      string: '{"outputs":{},"id":"243c854f-62da-491f-bcfb-c373fa714f41"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
