interactions:
- request:
    body: "--cb397da092cca612949151f5351af423\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a4aa6071-51bb-4bf3-bb6d-74c9baa61ae1/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a4aa6071-51bb-4bf3-bb6d-74c9baa61ae1\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a4aa6071-51bb-4bf3-bb6d-74c9baa61ae1/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a4aa6071-51bb-4bf3-bb6d-74c9baa61ae1"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
