interactions:
- request:
    body: "--f2421fbd83cef68d861d59af9c6dd7ab\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--f2421fbd83cef68d861d59af9c6dd7ab\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f2421fbd83cef68d861d59af9c6dd7ab--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=f2421fbd83cef68d861d59af9c6dd7ab
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1
  response:
    body:
      string: '{"id":"5a9df7e8-328e-4b8f-bd97-12bc5a7ec457","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/5a9df7e8-328e-4b8f-bd97-12bc5a7ec457/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5a9df7e8-328e-4b8f-bd97-12bc5a7ec457\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/5a9df7e8-328e-4b8f-bd97-12bc5a7ec457/outputs
  response:
    body:
      string: '{"outputs":{},"id":"5a9df7e8-328e-4b8f-bd97-12bc5a7ec457"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
