interactions:
- request:
    body: "--b61ace6a4150721bed20ad1a1578a9f2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--b61ace6a4150721bed20ad1a1578a9f2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b61ace6a4150721bed20ad1a1578a9f2--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=b61ace6a4150721bed20ad1a1578a9f2
    method: POST
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1
  response:
    body:
      string: '{"id":"20e32c20-dd81-4352-be99-a2c7c30e8794","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/20e32c20-dd81-4352-be99-a2c7c30e8794/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 20e32c20-dd81-4352-be99-a2c7c30e8794\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/20e32c20-dd81-4352-be99-a2c7c30e8794/outputs
  response:
    body:
      string: '{"outputs":{},"id":"20e32c20-dd81-4352-be99-a2c7c30e8794"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
