interactions:
- request:
    body: "--7b5e3b1c92fea6de7773194dd93d5794\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--7b5e3b1c92fea6de7773194dd93d5794\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7b5e3b1c92fea6de7773194dd93d5794--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=7b5e3b1c92fea6de7773194dd93d5794
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"2b54cb16-b628-49a2-aeb6-df1aa1fdb17c","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/2b54cb16-b628-49a2-aeb6-df1aa1fdb17c/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2b54cb16-b628-49a2-aeb6-df1aa1fdb17c\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/2b54cb16-b628-49a2-aeb6-df1aa1fdb17c/outputs
  response:
    body:
      string: '{"outputs":{},"id":"2b54cb16-b628-49a2-aeb6-df1aa1fdb17c"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
