interactions:
- request:
    body: "--7b287796f65df0fcee67caeeb186fb71\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--7b287796f65df0fcee67caeeb186fb71\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7b287796f65df0fcee67caeeb186fb71--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=7b287796f65df0fcee67caeeb186fb71
    method: POST
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1
  response:
    body:
      string: '{"id":"4b1ca3fe-6a4e-4a46-a004-b721e5117876","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4b1ca3fe-6a4e-4a46-a004-b721e5117876/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4b1ca3fe-6a4e-4a46-a004-b721e5117876\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/4b1ca3fe-6a4e-4a46-a004-b721e5117876/outputs
  response:
    body:
      string: '{"outputs":{},"id":"4b1ca3fe-6a4e-4a46-a004-b721e5117876"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
