interactions:
- request:
    body: "--c509533f1b4b0252d79c2f9e957d5b50\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSymlink.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n
      \       Array[File] matched_files = flatten([create_nested_files.matched_files_top,
      create_nested_files.matched_files_nested])\n        Array[File] symlink_matches
      = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
      {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\" >
      subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
      Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
      symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File]
      matched_symlinks = glob(\"symlinks/*.txt\")\n    }\n}\n\r\n--c509533f1b4b0252d79c2f9e957d5b50\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c509533f1b4b0252d79c2f9e957d5b50--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c509533f1b4b0252d79c2f9e957d5b50
    method: POST
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1
  response:
    body:
      string: '{"id":"ddbaf256-159d-42f2-9050-381a26bd7431","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/ddbaf256-159d-42f2-9050-381a26bd7431/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ddbaf256-159d-42f2-9050-381a26bd7431\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/ddbaf256-159d-42f2-9050-381a26bd7431/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ddbaf256-159d-42f2-9050-381a26bd7431"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
