interactions:
- request:
    body: "--12b7ffa9c7b22d3eef47d2e2a0d97108\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--12b7ffa9c7b22d3eef47d2e2a0d97108\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--12b7ffa9c7b22d3eef47d2e2a0d97108--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=12b7ffa9c7b22d3eef47d2e2a0d97108
    method: POST
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1
  response:
    body:
      string: '{"id":"ba883785-df28-4849-b4cf-1e209156e667","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/ba883785-df28-4849-b4cf-1e209156e667/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: ba883785-df28-4849-b4cf-1e209156e667\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/ba883785-df28-4849-b4cf-1e209156e667/outputs
  response:
    body:
      string: '{"outputs":{},"id":"ba883785-df28-4849-b4cf-1e209156e667"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
