interactions:
- request:
    body: "--1911ceaf663f39c1d4e562217995f158\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--1911ceaf663f39c1d4e562217995f158\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1911ceaf663f39c1d4e562217995f158--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1911ceaf663f39c1d4e562217995f158
    method: POST
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1
  response:
    body:
      string: '{"id":"58b73953-7ca6-4075-a6d2-6bc0e5c2e871","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/58b73953-7ca6-4075-a6d2-6bc0e5c2e871/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 58b73953-7ca6-4075-a6d2-6bc0e5c2e871\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/58b73953-7ca6-4075-a6d2-6bc0e5c2e871/outputs
  response:
    body:
      string: '{"outputs":{},"id":"58b73953-7ca6-4075-a6d2-6bc0e5c2e871"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
