interactions:
- request:
    body: "--ba36ed56ade5867def40e831f04ba98f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testNestedJsonArray.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# Define the structure for sampleDetails\nstruct sampleDetails {\n    String
      experimentType\n    String prepMethod\n    String tissueType\n}\n\n# Define
      the main structure for the single sample\nstruct singleSample {\n    String
      sampleName\n    String aboutSample\n    Str[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/66307740-4b4e-4148-91d7-085c9c97898d/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 66307740-4b4e-4148-91d7-085c9c97898d\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:41209/api/workflows/v1/66307740-4b4e-4148-91d7-085c9c97898d/outputs
  response:
    body:
      string: '{"outputs":{},"id":"66307740-4b4e-4148-91d7-085c9c97898d"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
