interactions:
- request:
    body: "--9daf16d68ed82e97a120af8b80d1abfb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--9daf16d68ed82e97a120af8b80d1abfb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9daf16d68ed82e97a120af8b80d1abfb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9daf16d68ed82e97a120af8b80d1abfb
    method: POST
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1
  response:
    body:
      string: '{"id":"dd055d25-d285-467c-8955-7d6243d0f962","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/dd055d25-d285-467c-8955-7d6243d0f962/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: dd055d25-d285-467c-8955-7d6243d0f962\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok92.fhcrc.org:41887/api/workflows/v1/dd055d25-d285-467c-8955-7d6243d0f962/outputs
  response:
    body:
      string: '{"outputs":{},"id":"dd055d25-d285-467c-8955-7d6243d0f962"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
