interactions:
- request:
    body: "--c713658dbf6777b25e5184e2e58aa5d4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--c713658dbf6777b25e5184e2e58aa5d4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c713658dbf6777b25e5184e2e58aa5d4--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c713658dbf6777b25e5184e2e58aa5d4
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"9805eb99-7a2c-4343-8e56-b63bd0b09582","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/9805eb99-7a2c-4343-8e56-b63bd0b09582/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 9805eb99-7a2c-4343-8e56-b63bd0b09582\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/9805eb99-7a2c-4343-8e56-b63bd0b09582/outputs
  response:
    body:
      string: '{"outputs":{},"id":"9805eb99-7a2c-4343-8e56-b63bd0b09582"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
