interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/55941186-1c2a-4095-9887-646e7be2d0cf/outputs
  response:
    body:
      string: '{"outputs":{"test_nonstandard_outputs.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/55941186-1c2a-4095-9887-646e7be2d0cf/call-generate_diverse_outputs/execution/link.txt","test_nonstandard_outputs.nested_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/55941186-1c2a-4095-9887-646e7be2d0cf/call-generate_diverse_outputs/execution/nested/dir/test.txt","test_nonstandard_outputs.glob_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/55941186-1c2a-4095-9887-646e7be2d0cf/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_1.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/55941186-1c2a-4095-9887-646e7be2d0cf/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_2.out","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/55941186-1c2a-4095-9887-646e7be2d0cf/call-generate_diverse_outputs/execution/glob-4ded3a97b6654226f2cdd04e2711b93c/pattern_3.out"],"test_nonstandard_outputs.no_extension":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/55941186-1c2a-4095-9887-646e7be2d0cf/call-generate_diverse_outputs/execution/datafile","test_nonstandard_outputs.special_chars":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/test_nonstandard_outputs/55941186-1c2a-4095-9887-646e7be2d0cf/call-generate_diverse_outputs/execution/test@file#1.txt"},"id":"55941186-1c2a-4095-9887-646e7be2d0cf"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/391c6089-ff50-45e5-b745-071a2b115ba5/outputs
  response:
    body:
      string: '{"outputs":{"ArrayOperations.first_index":0,"ArrayOperations.processed_nested":[["nested1","nested2"],["nested3","nested4"]],"ArrayOperations.uppercased":["HELLO","WORLD","TEST"],"ArrayOperations.files_localized":true,"ArrayOperations.concat_test_passed":true,"ArrayOperations.last_index":2,"ArrayOperations.file_contents":["Hello...---","...
        is it me you''re ...---","... looking for???---"],"ArrayOperations.flattened":["nested1","nested2","nested3","nested4"],"ArrayOperations.sorted_array":["hello","test","world"],"ArrayOperations.combined_numbers":[1,2,3,4,5,6,7,8,9,10],"ArrayOperations.array_length":3,"ArrayOperations.sum_result":15},"id":"391c6089-ff50-45e5-b745-071a2b115ba5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/8e247657-6841-4932-a097-4a2283d0f17e/outputs
  response:
    body:
      string: '{"outputs":{"jsonTaskOrderTest.task2_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/8e247657-6841-4932-a097-4a2283d0f17e/call-Task2/execution/task2_output.txt","jsonTaskOrderTest.task1_output":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/jsonTaskOrderTest/8e247657-6841-4932-a097-4a2283d0f17e/call-Task1/execution/task1_output.txt"},"id":"8e247657-6841-4932-a097-4a2283d0f17e"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/94e90cbc-60db-4e63-81fd-7c3194b544e3/outputs
  response:
    body:
      string: '{"outputs":{"globNonmatching.unmatched_files":[]},"id":"94e90cbc-60db-4e63-81fd-7c3194b544e3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/880cc3f0-47c5-41c2-b458-006756b3ad52/outputs
  response:
    body:
      string: '{"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/880cc3f0-47c5-41c2-b458-006756b3ad52/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/880cc3f0-47c5-41c2-b458-006756b3ad52/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"id":"880cc3f0-47c5-41c2-b458-006756b3ad52"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/bc4e39b3-7864-4c80-a0ad-d60ecd38d746/outputs
  response:
    body:
      string: '{"outputs":{"HelloHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/bc4e39b3-7864-4c80-a0ad-d60ecd38d746/call-Hostname/execution/stdout"},"id":"bc4e39b3-7864-4c80-a0ad-d60ecd38d746"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/cd7ae742-ac05-44bd-9fb4-dfcdcd9e45c8/outputs
  response:
    body:
      string: '{"outputs":{"testNestedJsonArray.result_allSampleInfo":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/cd7ae742-ac05-44bd-9fb4-dfcdcd9e45c8/call-processSample/shard-0/execution/Sample1.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/cd7ae742-ac05-44bd-9fb4-dfcdcd9e45c8/call-processSample/shard-1/execution/Sample2.allSampleInfo.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testNestedJsonArray/cd7ae742-ac05-44bd-9fb4-dfcdcd9e45c8/call-processSample/shard-2/execution/Sample3.allSampleInfo.txt"]},"id":"cd7ae742-ac05-44bd-9fb4-dfcdcd9e45c8"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/df202fe2-5d3e-4fdd-bb8a-ea8a7753063a/outputs
  response:
    body:
      string: '{"outputs":{"conditional_example.qc_report":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/conditional_example/df202fe2-5d3e-4fdd-bb8a-ea8a7753063a/call-run_qc_report/execution/report.csv","conditional_example.final_summary":"Multiple
        high-quality samples processed\nNumber of samples processed: 2"},"id":"df202fe2-5d3e-4fdd-bb8a-ea8a7753063a"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/9fe23458-f2b2-4bd1-886f-0811a8c22267/outputs
  response:
    body:
      string: '{"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/9fe23458-f2b2-4bd1-886f-0811a8c22267/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/9fe23458-f2b2-4bd1-886f-0811a8c22267/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"id":"9fe23458-f2b2-4bd1-886f-0811a8c22267"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/15114e63-02d5-4bbe-88c7-1a6c78077b92/outputs
  response:
    body:
      string: '{"outputs":{"emptyGlobTest.no_files":[]},"id":"15114e63-02d5-4bbe-88c7-1a6c78077b92"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/16977ca9-7af2-4fb4-ac08-727402a6ea23/outputs
  response:
    body:
      string: '{"outputs":{"WildcardsandConditions.conditional_result":"Parsed prefix:
        testfile","WildcardsandConditions.txt_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/16977ca9-7af2-4fb4-ac08-727402a6ea23/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/parsed_output.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/16977ca9-7af2-4fb4-ac08-727402a6ea23/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/16977ca9-7af2-4fb4-ac08-727402a6ea23/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/16977ca9-7af2-4fb4-ac08-727402a6ea23/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_3.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/WildcardsandConditions/16977ca9-7af2-4fb4-ac08-727402a6ea23/call-wildcard_and_conditions_test/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/testfile_extra.txt"]},"id":"16977ca9-7af2-4fb4-ac08-727402a6ea23"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/af275974-bfe6-4151-b7ae-f325518291c6/outputs
  response:
    body:
      string: '{"outputs":{"testFileoperations.created_file1":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/af275974-bfe6-4151-b7ae-f325518291c6/call-file_operations/execution/file1.txt","testFileoperations.renamed_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/af275974-bfe6-4151-b7ae-f325518291c6/call-file_operations/execution/file3_renamed.txt","testFileoperations.moved_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/testFileoperations/af275974-bfe6-4151-b7ae-f325518291c6/call-file_operations/execution/output_dir/file2.txt"},"id":"af275974-bfe6-4151-b7ae-f325518291c6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/1b465586-5f57-417d-aad2-b24ce6310f70/outputs
  response:
    body:
      string: '{"outputs":{"basicTaskTest.simpleTask.outputFile":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/1b465586-5f57-417d-aad2-b24ce6310f70/call-simpleTask/execution/output.txt"},"id":"1b465586-5f57-417d-aad2-b24ce6310f70"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj32.fhcrc.org:35541/api/workflows/v1/d958d760-e7ff-4d55-9b74-90113c0dc1d7/outputs
  response:
    body:
      string: '{"outputs":{"HelloDockerHostname.within_time_limit":true,"HelloDockerHostname.execution_time_seconds":80.0147,"HelloDockerHostname.stdout":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloDockerHostname/d958d760-e7ff-4d55-9b74-90113c0dc1d7/call-Hostname/execution/stdout"},"id":"d958d760-e7ff-4d55-9b74-90113c0dc1d7"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
