interactions:
- request:
    body: "--7dcf21df7f60b1d9c2cdbf687cc4cee0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"parseBatchFile.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n# This workflow takes a tab separated file where each row is a set of data
      to be used in each \n# of the independent scattered task series that you have
      as your workflow process.  This file \n# will, for example, have column names
      `sampleName`, `bamLocation`, and `bedlocation`. [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/cd610c3d-7176-4f70-9fa6-0fde436f2103/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: cd610c3d-7176-4f70-9fa6-0fde436f2103\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:44825/api/workflows/v1/cd610c3d-7176-4f70-9fa6-0fde436f2103/outputs
  response:
    body:
      string: '{"outputs":{},"id":"cd610c3d-7176-4f70-9fa6-0fde436f2103"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
