interactions:
- request:
    body: "--a3fd6e4a2afa197248589b9d5b11b5de\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/8f59670a-80e1-456e-b131-c4ea2997b590/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8f59670a-80e1-456e-b131-c4ea2997b590\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/8f59670a-80e1-456e-b131-c4ea2997b590/outputs
  response:
    body:
      string: '{"outputs":{},"id":"8f59670a-80e1-456e-b131-c4ea2997b590"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
