interactions:
- request:
    body: "--40f2afbd6553ae1a6dc85fc83059bfc2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--40f2afbd6553ae1a6dc85fc83059bfc2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--40f2afbd6553ae1a6dc85fc83059bfc2--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=40f2afbd6553ae1a6dc85fc83059bfc2
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"b7668851-68eb-4d64-8faf-180acf622e06","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/b7668851-68eb-4d64-8faf-180acf622e06/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b7668851-68eb-4d64-8faf-180acf622e06\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/b7668851-68eb-4d64-8faf-180acf622e06/outputs
  response:
    body:
      string: '{"outputs":{},"id":"b7668851-68eb-4d64-8faf-180acf622e06"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
