interactions:
- request:
    body: "--2ce6a7352e3d3b9b8cfae420f250e36a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--2ce6a7352e3d3b9b8cfae420f250e36a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2ce6a7352e3d3b9b8cfae420f250e36a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2ce6a7352e3d3b9b8cfae420f250e36a
    method: POST
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1
  response:
    body:
      string: '{"id":"350da823-c8f8-4e4b-ad56-fe6fe48ff2ac","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/350da823-c8f8-4e4b-ad56-fe6fe48ff2ac/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 350da823-c8f8-4e4b-ad56-fe6fe48ff2ac\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:43631/api/workflows/v1/350da823-c8f8-4e4b-ad56-fe6fe48ff2ac/outputs
  response:
    body:
      string: '{"outputs":{},"id":"350da823-c8f8-4e4b-ad56-fe6fe48ff2ac"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
