interactions:
- request:
    body: "--8f84a128b51e1b9fef1687035ee1b434\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--8f84a128b51e1b9fef1687035ee1b434\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8f84a128b51e1b9fef1687035ee1b434--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=8f84a128b51e1b9fef1687035ee1b434
    method: POST
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1
  response:
    body:
      string: '{"id":"a0ac8c77-3b2c-4fa5-ac24-f1825faef189","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/a0ac8c77-3b2c-4fa5-ac24-f1825faef189/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a0ac8c77-3b2c-4fa5-ac24-f1825faef189\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/a0ac8c77-3b2c-4fa5-ac24-f1825faef189/outputs
  response:
    body:
      string: '{"outputs":{},"id":"a0ac8c77-3b2c-4fa5-ac24-f1825faef189"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
