interactions:
- request:
    body: "--2a655a9577daf475897ba135f1343c3c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"WildcardsandConditions.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow WildcardsandConditions {\n    input {\n        String prefix
      \ # Required input for the file prefix (no default value)\n    }\n\n    call
      wildcard_and_conditions_test {\n        input:\n            prefix = prefix
      \ # Explicitly pass the workflow input to the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/c54c44ea-aeb2-43bf-9525-d8a70aa23b26/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: c54c44ea-aeb2-43bf-9525-d8a70aa23b26\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/c54c44ea-aeb2-43bf-9525-d8a70aa23b26/outputs
  response:
    body:
      string: '{"outputs":{},"id":"c54c44ea-aeb2-43bf-9525-d8a70aa23b26"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
