interactions:
- request:
    body: "--24418d862bd5e8d450f83e4cac56c59e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"gpuAlloc.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# This workflow tests GPU allocation and basic tensor operations using
      TensorFlow\n# It verifies that:\n# 1. A GPU can be successfully allocated\n#
      2. TensorFlow can detect and use the GPU\n# 3. Basic matrix multiplication works
      correctly\n\nworkflow GpuMatrixMult {\n    call GpuTes[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/af6fa8e7-9de0-4d06-9720-eb20a02c8c37/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: af6fa8e7-9de0-4d06-9720-eb20a02c8c37\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/af6fa8e7-9de0-4d06-9720-eb20a02c8c37/outputs
  response:
    body:
      string: '{"outputs":{},"id":"af6fa8e7-9de0-4d06-9720-eb20a02c8c37"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
