interactions:
- request:
    body: "--3595082805fb575d89930372bf268b7d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--3595082805fb575d89930372bf268b7d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3595082805fb575d89930372bf268b7d--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=3595082805fb575d89930372bf268b7d
    method: POST
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1
  response:
    body:
      string: '{"id":"330ae3b5-ff31-4b79-87c2-594cffbbe895","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/330ae3b5-ff31-4b79-87c2-594cffbbe895/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 330ae3b5-ff31-4b79-87c2-594cffbbe895\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/330ae3b5-ff31-4b79-87c2-594cffbbe895/outputs
  response:
    body:
      string: '{"outputs":{},"id":"330ae3b5-ff31-4b79-87c2-594cffbbe895"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
