interactions:
- request:
    body: "--1a13681970f8a8fe7f3885e550feeee1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--1a13681970f8a8fe7f3885e550feeee1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--1a13681970f8a8fe7f3885e550feeee1--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1a13681970f8a8fe7f3885e550feeee1
    method: POST
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1
  response:
    body:
      string: '{"id":"8d4d4199-6d9f-41be-b9ff-23e679b0d48d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/8d4d4199-6d9f-41be-b9ff-23e679b0d48d/outputs
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8d4d4199-6d9f-41be-b9ff-23e679b0d48d\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/8d4d4199-6d9f-41be-b9ff-23e679b0d48d/outputs
  response:
    body:
      string: '{"outputs":{},"id":"8d4d4199-6d9f-41be-b9ff-23e679b0d48d"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
