interactions:
- request:
    body: "--64854db6fc001550f79a1395cf25445f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--64854db6fc001550f79a1395cf25445f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--64854db6fc001550f79a1395cf25445f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=64854db6fc001550f79a1395cf25445f
    method: POST
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1
  response:
    body:
      string: '{"id":"4f63cac9-90fe-4812-a9c0-a0332327a99d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/4f63cac9-90fe-4812-a9c0-a0332327a99d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"4f63cac9-90fe-4812-a9c0-a0332327a99d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4f63cac9-90fe-4812-a9c0-a0332327a99d"},"submission":"2026-05-03T04:49:55.053Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/4f63cac9-90fe-4812-a9c0-a0332327a99d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b4148f2","description":"PickedUp","timestamp":"2026-05-03T05:09:50.507Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4f63cac9-90fe-4812-a9c0-a0332327a99d","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-03T05:09:50.507Z","id":"4f63cac9-90fe-4812-a9c0-a0332327a99d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4f63cac9-90fe-4812-a9c0-a0332327a99d"},"submission":"2026-05-03T04:49:55.053Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/4f63cac9-90fe-4812-a9c0-a0332327a99d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b4148f2","description":"PickedUp","timestamp":"2026-05-03T05:09:50.507Z","cromwellVersion":"87"},{"cromwellId":"cromid-b4148f2","description":"Finished","timestamp":"2026-05-03T05:10:30.309Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/4f63cac9-90fe-4812-a9c0-a0332327a99d","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-03T05:10:30.309Z","start":"2026-05-03T05:09:50.507Z","id":"4f63cac9-90fe-4812-a9c0-a0332327a99d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4f63cac9-90fe-4812-a9c0-a0332327a99d"},"submission":"2026-05-03T04:49:55.053Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
