interactions:
- request:
    body: "--46090700d4b23b3bb35e4be0e4c58428\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--46090700d4b23b3bb35e4be0e4c58428\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--46090700d4b23b3bb35e4be0e4c58428--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=46090700d4b23b3bb35e4be0e4c58428
    method: POST
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1
  response:
    body:
      string: '{"id":"11b0edbe-a9a0-4029-89aa-1082839a4de0","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/11b0edbe-a9a0-4029-89aa-1082839a4de0/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"11b0edbe-a9a0-4029-89aa-1082839a4de0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-11b0edbe-a9a0-4029-89aa-1082839a4de0"},"submission":"2026-01-18T04:03:46.397Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/11b0edbe-a9a0-4029-89aa-1082839a4de0/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7f762f4","description":"PickedUp","timestamp":"2026-01-18T04:22:47.824Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/11b0edbe-a9a0-4029-89aa-1082839a4de0","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-18T04:22:47.825Z","id":"11b0edbe-a9a0-4029-89aa-1082839a4de0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-11b0edbe-a9a0-4029-89aa-1082839a4de0"},"submission":"2026-01-18T04:03:46.397Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/11b0edbe-a9a0-4029-89aa-1082839a4de0/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-7f762f4","description":"PickedUp","timestamp":"2026-01-18T04:22:47.824Z","cromwellVersion":"87"},{"cromwellId":"cromid-7f762f4","description":"Finished","timestamp":"2026-01-18T04:23:30.707Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/11b0edbe-a9a0-4029-89aa-1082839a4de0","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-01-18T04:23:30.707Z","start":"2026-01-18T04:22:47.825Z","id":"11b0edbe-a9a0-4029-89aa-1082839a4de0","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-11b0edbe-a9a0-4029-89aa-1082839a4de0"},"submission":"2026-01-18T04:03:46.397Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
