interactions:
- request:
    body: "--28a651b6ddcdd485c3a190d10326aa1c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--28a651b6ddcdd485c3a190d10326aa1c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--28a651b6ddcdd485c3a190d10326aa1c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=28a651b6ddcdd485c3a190d10326aa1c
    method: POST
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1
  response:
    body:
      string: '{"id":"99b64df1-bc57-469b-b734-9f7e4e14f09c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/99b64df1-bc57-469b-b734-9f7e4e14f09c/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 99b64df1-bc57-469b-b734-9f7e4e14f09c\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/99b64df1-bc57-469b-b734-9f7e4e14f09c/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"99b64df1-bc57-469b-b734-9f7e4e14f09c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-99b64df1-bc57-469b-b734-9f7e4e14f09c"},"submission":"2026-03-01T04:11:11.002Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
