interactions:
- request:
    body: "--71e82efa1f56f80d1f35cbeda0c1e63a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--71e82efa1f56f80d1f35cbeda0c1e63a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--71e82efa1f56f80d1f35cbeda0c1e63a--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=71e82efa1f56f80d1f35cbeda0c1e63a
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"b366bfac-5129-4bfa-ad08-271f0c3646c2","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/b366bfac-5129-4bfa-ad08-271f0c3646c2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b366bfac-5129-4bfa-ad08-271f0c3646c2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b366bfac-5129-4bfa-ad08-271f0c3646c2"},"submission":"2026-09-20T03:46:22.918Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/b366bfac-5129-4bfa-ad08-271f0c3646c2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T04:06:41.113Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/b366bfac-5129-4bfa-ad08-271f0c3646c2","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T04:06:41.114Z","id":"b366bfac-5129-4bfa-ad08-271f0c3646c2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b366bfac-5129-4bfa-ad08-271f0c3646c2"},"submission":"2026-09-20T03:46:22.918Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/b366bfac-5129-4bfa-ad08-271f0c3646c2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"Finished","timestamp":"2026-09-20T04:07:22.957Z","cromwellVersion":"87"},{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T04:06:41.113Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"symlinkOnly.symlink_file":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/b366bfac-5129-4bfa-ad08-271f0c3646c2/call-generate_diverse_outputs/execution/link.txt"},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/symlinkOnly/b366bfac-5129-4bfa-ad08-271f0c3646c2","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-09-20T04:07:22.957Z","start":"2026-09-20T04:06:41.114Z","id":"b366bfac-5129-4bfa-ad08-271f0c3646c2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b366bfac-5129-4bfa-ad08-271f0c3646c2"},"submission":"2026-09-20T03:46:22.918Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
