interactions:
- request:
    body: "--c45159d165e085ac044a6739a4c5aa90\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--c45159d165e085ac044a6739a4c5aa90\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c45159d165e085ac044a6739a4c5aa90--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c45159d165e085ac044a6739a4c5aa90
    method: POST
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1
  response:
    body:
      string: '{"id":"ea7a64c6-eaa2-4667-9ad5-f722b9227ed2","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/ea7a64c6-eaa2-4667-9ad5-f722b9227ed2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ea7a64c6-eaa2-4667-9ad5-f722b9227ed2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ea7a64c6-eaa2-4667-9ad5-f722b9227ed2"},"submission":"2025-07-13T04:00:02.158Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/ea7a64c6-eaa2-4667-9ad5-f722b9227ed2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3de736f","description":"PickedUp","timestamp":"2025-07-13T04:07:19.783Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/ea7a64c6-eaa2-4667-9ad5-f722b9227ed2","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-13T04:07:19.783Z","id":"ea7a64c6-eaa2-4667-9ad5-f722b9227ed2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ea7a64c6-eaa2-4667-9ad5-f722b9227ed2"},"submission":"2025-07-13T04:00:02.158Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok100.fhcrc.org:39527/api/workflows/v1/ea7a64c6-eaa2-4667-9ad5-f722b9227ed2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-3de736f","description":"Finished","timestamp":"2025-07-13T04:07:54.486Z","cromwellVersion":"87"},{"cromwellId":"cromid-3de736f","description":"PickedUp","timestamp":"2025-07-13T04:07:19.783Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/ea7a64c6-eaa2-4667-9ad5-f722b9227ed2","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-07-13T04:07:54.486Z","start":"2025-07-13T04:07:19.783Z","id":"ea7a64c6-eaa2-4667-9ad5-f722b9227ed2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ea7a64c6-eaa2-4667-9ad5-f722b9227ed2"},"submission":"2025-07-13T04:00:02.158Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
