interactions:
- request:
    body: "--84a97707faab00426d808919826f1695\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--84a97707faab00426d808919826f1695\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--84a97707faab00426d808919826f1695--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=84a97707faab00426d808919826f1695
    method: POST
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1
  response:
    body:
      string: '{"id":"28bc3175-0bca-4403-9f36-144026a92c1d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/28bc3175-0bca-4403-9f36-144026a92c1d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 28bc3175-0bca-4403-9f36-144026a92c1d\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj7.fhcrc.org:43325/api/workflows/v1/28bc3175-0bca-4403-9f36-144026a92c1d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that returns the hostname of the node \n## the job is submitted to as a test
        for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow HelloHostname
        {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta
        {\n    stdout: \"hostname of the node the job was submitted to\"\n  }\n}\n\n####
        TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output
        {\n    File out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory:
        \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname of the node the job
        was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"28bc3175-0bca-4403-9f36-144026a92c1d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-28bc3175-0bca-4403-9f36-144026a92c1d"},"submission":"2025-06-04T22:28:03.954Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
