interactions:
- request:
    body: "--35d7d78fba42e38996dcd396350c5af5\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"jsonFilelocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
      required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
      optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
      to copy JSON files to the working[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/b4aa55a4-9b9c-46db-a81a-9943d601526a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow jsonFileLocalization
        {\n  input {\n    # Required inputs\n    File required_json_remote     # Remote
        JSON file\n    \n    # Optional inputs\n    File? optional_json_remote\n    File?
        optional_remote_not_provided\n  }\n\n  # Task to copy JSON files to the working
        directory\n  call CopyJsons {\n    input:\n      required_remote = required_json_remote,\n      optional_remote
        = optional_json_remote,\n      optional_remote_not_provided = optional_remote_not_provided\n  }\n\n  output
        {\n    Array[File] copied_files = CopyJsons.out_files\n  }\n}\n\ntask CopyJsons
        {\n  input {\n    File required_remote\n    File? optional_remote\n    File?
        optional_remote_not_provided\n  }\n\n  command <<<\n    set -e\n    mkdir
        -p copied_jsons\n    \n    # Copy the required local and remote files\n    cp
        ~{required_remote} copied_jsons/$(basename ~{required_remote})\n    cp ~{optional_remote}
        copied_jsons/$(basename ~{optional_remote})\n    cp ~{optional_remote_not_provided}
        copied_jsons/$(basename ~{optional_remote_not_provided})\n    \n  >>>\n\n  output
        {\n    Array[File] out_files = glob(\"copied_jsons/*\")\n  }\n\n  runtime
        {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{\"jsonFileLocalization.optional_json_remote\":\"/redacted/_DaSL/proof_testing/jsonFilelocalization/local_remote_optional_file_2.txt\",\"jsonFileLocalization.required_json_remote\":\"/redacted/_DaSL/proof_testing/jsonFilelocalization/local_remote_required_file_2.txt\"}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b4aa55a4-9b9c-46db-a81a-9943d601526a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b4aa55a4-9b9c-46db-a81a-9943d601526a"},"submission":"2025-11-09T03:29:39.399Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/b4aa55a4-9b9c-46db-a81a-9943d601526a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"jsonFileLocalization","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T03:52:34.509Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow jsonFileLocalization {\n  input {\n    # Required inputs\n    File
        required_json_remote     # Remote JSON file\n    \n    # Optional inputs\n    File?
        optional_json_remote\n    File? optional_remote_not_provided\n  }\n\n  # Task
        to copy JSON files to the working directory\n  call CopyJsons {\n    input:\n      required_remote
        = required_json_remote,\n      optional_remote = optional_json_remote,\n[...]
[...]
