interactions:
- request:
    body: "--62f52a30393090db30f16a83bdf35816\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--62f52a30393090db30f16a83bdf35816\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--62f52a30393090db30f16a83bdf35816--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=62f52a30393090db30f16a83bdf35816
    method: POST
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1
  response:
    body:
      string: '{"id":"62ee64cd-8d3e-458b-88d8-1c5a12b515ae","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/62ee64cd-8d3e-458b-88d8-1c5a12b515ae/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"62ee64cd-8d3e-458b-88d8-1c5a12b515ae","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-62ee64cd-8d3e-458b-88d8-1c5a12b515ae"},"submission":"2025-10-28T17:11:32.260Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/62ee64cd-8d3e-458b-88d8-1c5a12b515ae/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellVersion":"87","timestamp":"2025-10-28T17:31:03.562Z","description":"PickedUp","cromwellId":"cromid-7248ac8"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/62ee64cd-8d3e-458b-88d8-1c5a12b515ae","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-28T17:31:03.563Z","id":"62ee64cd-8d3e-458b-88d8-1c5a12b515ae","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-62ee64cd-8d3e-458b-88d8-1c5a12b515ae"},"submission":"2025-10-28T17:11:32.260Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok49.fhcrc.org:32951/api/workflows/v1/62ee64cd-8d3e-458b-88d8-1c5a12b515ae/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-7248ac8","description":"Finished","timestamp":"2025-10-28T17:31:46.425Z","cromwellVersion":"87"},{"cromwellVersion":"87","timestamp":"2025-10-28T17:31:03.562Z","description":"PickedUp","cromwellId":"cromid-7248ac8"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/62ee64cd-8d3e-458b-88d8-1c5a12b515ae/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/62ee64cd-8d3e-458b-88d8-1c5a12b515ae/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/62ee64cd-8d3e-458b-88d8-1c5a12b515ae","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-10-28T17:31:46.425Z","start":"2025-10-28T17:31:03.563Z","id":"62ee64cd-8d3e-458b-88d8-1c5a12b515ae","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-62ee64cd-8d3e-458b-88d8-1c5a12b515ae"},"submission":"2025-10-28T17:11:32.260Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
