interactions:
- request:
    body: "--ef57abc0d718e0062e6931e6aedd38e4\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--ef57abc0d718e0062e6931e6aedd38e4\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ef57abc0d718e0062e6931e6aedd38e4--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ef57abc0d718e0062e6931e6aedd38e4
    method: POST
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1
  response:
    body:
      string: '{"id":"7b3e278b-a9ac-4468-ac28-e261fb7b0d04","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/7b3e278b-a9ac-4468-ac28-e261fb7b0d04/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 7b3e278b-a9ac-4468-ac28-e261fb7b0d04\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/7b3e278b-a9ac-4468-ac28-e261fb7b0d04/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"7b3e278b-a9ac-4468-ac28-e261fb7b0d04","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7b3e278b-a9ac-4468-ac28-e261fb7b0d04"},"submission":"2026-05-03T04:26:35.730Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
