interactions:
- request:
    body: "--14454d025ff72616128d7bf160041b48\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--14454d025ff72616128d7bf160041b48\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--14454d025ff72616128d7bf160041b48--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=14454d025ff72616128d7bf160041b48
    method: POST
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1
  response:
    body:
      string: '{"id":"b5cda96d-055d-4d57-8277-fdd486dcfb23","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/b5cda96d-055d-4d57-8277-fdd486dcfb23/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b5cda96d-055d-4d57-8277-fdd486dcfb23","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b5cda96d-055d-4d57-8277-fdd486dcfb23"},"submission":"2026-08-30T03:50:18.748Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/b5cda96d-055d-4d57-8277-fdd486dcfb23/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-1afef60","description":"PickedUp","timestamp":"2026-08-30T04:10:08.596Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b5cda96d-055d-4d57-8277-fdd486dcfb23","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-30T04:10:08.596Z","id":"b5cda96d-055d-4d57-8277-fdd486dcfb23","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b5cda96d-055d-4d57-8277-fdd486dcfb23"},"submission":"2026-08-30T03:50:18.748Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj10.fhcrc.org:36907/api/workflows/v1/b5cda96d-055d-4d57-8277-fdd486dcfb23/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-1afef60","description":"PickedUp","timestamp":"2026-08-30T04:10:08.596Z","cromwellVersion":"87"},{"cromwellId":"cromid-1afef60","description":"Finished","timestamp":"2026-08-30T04:10:47.379Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/b5cda96d-055d-4d57-8277-fdd486dcfb23","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-08-30T04:10:47.379Z","start":"2026-08-30T04:10:08.596Z","id":"b5cda96d-055d-4d57-8277-fdd486dcfb23","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b5cda96d-055d-4d57-8277-fdd486dcfb23"},"submission":"2026-08-30T03:50:18.748Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
