interactions:
- request:
    body: "--ae75bec8b2fb18fb03e58921e72b529a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testFileoperations.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
      {\n        File created_file1 = file_operations.created_file1\n        File
      moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n
      \   }\n}\n\ntask file_opera[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/54cd2c01-671e-4c1f-82c0-92bec87ad818/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow testFileoperations
        {\n    call file_operations\n\n    output {\n        File created_file1 =
        file_operations.created_file1\n        File moved_file = file_operations.moved_file\n        File
        renamed_file = file_operations.renamed_file\n    }\n}\n\ntask file_operations
        {\n    command <<<\n        # Create three different files\n        echo \"This
        is the first created file.\" > file1.txt\n        echo \"This is the second
        file that will be moved.\" > file2.txt\n        echo \"This is the third file
        that will be renamed.\" > file3.txt\n        \n        # Move the second file
        to a new directory\n        mkdir -p output_dir\n        mv file2.txt output_dir/\n        \n        #
        Rename the third file\n        mv file3.txt file3_renamed.txt\n    >>>\n\n    output
        {\n        # Output the actual existing files\n        File created_file1
        = \"file1.txt\"                  # The first file remains unchanged\n        File
        moved_file = \"output_dir/file2.txt\"          # The second file after being
        moved\n        File renamed_file = \"file3_renamed.txt\"           # The third
        file after being renamed\n    }\n\n    runtime {\n        docker: \"ubuntu:20.04\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"54cd2c01-671e-4c1f-82c0-92bec87ad818","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-54cd2c01-671e-4c1f-82c0-92bec87ad818"},"submission":"2026-09-06T03:24:36.894Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/54cd2c01-671e-4c1f-82c0-92bec87ad818/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"testFileoperations","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T03:47:31.359Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow testFileoperations {\n    call file_operations\n\n    output
        {\n        File created_file1 = file_operations.created_file1\n        File
        moved_file = file_operations.moved_file\n        File renamed_file = file_operations.renamed_file\n    }\n}\n\ntask
        file_operations {\n    command <<<\n        # Create three different files\n        echo
        \"This is the first created file.\" > file1.txt\n        e[...]
[...]
