interactions:
- request:
    body: "--c7648fb24841607a5788b180fe1248b3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--c7648fb24841607a5788b180fe1248b3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c7648fb24841607a5788b180fe1248b3--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c7648fb24841607a5788b180fe1248b3
    method: POST
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1
  response:
    body:
      string: '{"id":"a4c4371b-9c70-438f-a424-6b2e6ad4cef3","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/a4c4371b-9c70-438f-a424-6b2e6ad4cef3/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"a4c4371b-9c70-438f-a424-6b2e6ad4cef3","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a4c4371b-9c70-438f-a424-6b2e6ad4cef3"},"submission":"2025-12-14T04:05:44.019Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/a4c4371b-9c70-438f-a424-6b2e6ad4cef3/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T04:23:44.470Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/a4c4371b-9c70-438f-a424-6b2e6ad4cef3","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-14T04:23:44.471Z","id":"a4c4371b-9c70-438f-a424-6b2e6ad4cef3","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a4c4371b-9c70-438f-a424-6b2e6ad4cef3"},"submission":"2025-12-14T04:05:44.019Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:40319/api/workflows/v1/a4c4371b-9c70-438f-a424-6b2e6ad4cef3/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-444190d","description":"PickedUp","timestamp":"2025-12-14T04:23:44.470Z","cromwellVersion":"87"},{"cromwellId":"cromid-444190d","description":"Finished","timestamp":"2025-12-14T04:24:32.438Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/a4c4371b-9c70-438f-a424-6b2e6ad4cef3","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-12-14T04:24:32.438Z","start":"2025-12-14T04:23:44.471Z","id":"a4c4371b-9c70-438f-a424-6b2e6ad4cef3","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a4c4371b-9c70-438f-a424-6b2e6ad4cef3"},"submission":"2025-12-14T04:05:44.019Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
