interactions:
- request:
    body: "--0b54aac9582f52d5dc6ac65090ab8ba1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--0b54aac9582f52d5dc6ac65090ab8ba1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0b54aac9582f52d5dc6ac65090ab8ba1--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0b54aac9582f52d5dc6ac65090ab8ba1
    method: POST
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1
  response:
    body:
      string: '{"id":"393d42b5-447a-453c-bb0e-0e5dd3aaaa98","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/393d42b5-447a-453c-bb0e-0e5dd3aaaa98/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"393d42b5-447a-453c-bb0e-0e5dd3aaaa98","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-393d42b5-447a-453c-bb0e-0e5dd3aaaa98"},"submission":"2025-09-28T03:53:24.435Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/393d42b5-447a-453c-bb0e-0e5dd3aaaa98/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-804f9aa","description":"Finished","timestamp":"2025-09-28T04:11:52.735Z","cromwellVersion":"87"},{"cromwellId":"cromid-804f9aa","description":"PickedUp","timestamp":"2025-09-28T04:11:52.723Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-09-28T04:11:52.735Z","start":"2025-09-28T04:11:52.724Z","id":"393d42b5-447a-453c-bb0e-0e5dd3aaaa98","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-393d42b5-447a-453c-bb0e-0e5dd3aaaa98"},"submission":"2025-09-28T03:53:24.435Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
