interactions:
- request:
    body: "--d279bf8384df0a6bff60c92d00c6a829\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--d279bf8384df0a6bff60c92d00c6a829\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d279bf8384df0a6bff60c92d00c6a829--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d279bf8384df0a6bff60c92d00c6a829
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"557efb99-72bb-4c28-b696-c1a428f39f10","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/557efb99-72bb-4c28-b696-c1a428f39f10/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"557efb99-72bb-4c28-b696-c1a428f39f10","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-557efb99-72bb-4c28-b696-c1a428f39f10"},"submission":"2026-09-20T03:25:04.624Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/557efb99-72bb-4c28-b696-c1a428f39f10/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:47:59.645Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/557efb99-72bb-4c28-b696-c1a428f39f10","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T03:47:59.646Z","id":"557efb99-72bb-4c28-b696-c1a428f39f10","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-557efb99-72bb-4c28-b696-c1a428f39f10"},"submission":"2026-09-20T03:25:04.624Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/557efb99-72bb-4c28-b696-c1a428f39f10/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:47:59.645Z","cromwellVersion":"87"},{"cromwellId":"cromid-9b09684","description":"Finished","timestamp":"2026-09-20T03:48:38.427Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/557efb99-72bb-4c28-b696-c1a428f39f10/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/557efb99-72bb-4c28-b696-c1a428f39f10/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/basicGlobTest/557efb99-72bb-4c28-b696-c1a428f39f10","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-09-20T03:48:38.427Z","start":"2026-09-20T03:47:59.646Z","id":"557efb99-72bb-4c28-b696-c1a428f39f10","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-557efb99-72bb-4c28-b696-c1a428f39f10"},"submission":"2026-09-20T03:25:04.624Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
