interactions:
- request:
    body: "--13db74a04234bcc1dbd977d6aaceb2d7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--13db74a04234bcc1dbd977d6aaceb2d7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--13db74a04234bcc1dbd977d6aaceb2d7--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=13db74a04234bcc1dbd977d6aaceb2d7
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"165f2e9c-5993-4751-87e2-384afc09fea9","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/165f2e9c-5993-4751-87e2-384afc09fea9/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"165f2e9c-5993-4751-87e2-384afc09fea9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-165f2e9c-5993-4751-87e2-384afc09fea9"},"submission":"2026-09-20T03:24:57.934Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/165f2e9c-5993-4751-87e2-384afc09fea9/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"Finished","timestamp":"2026-09-20T03:46:19.530Z","cromwellVersion":"87"},{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T03:46:19.514Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2026-09-20T03:46:19.530Z","start":"2026-09-20T03:46:19.515Z","id":"165f2e9c-5993-4751-87e2-384afc09fea9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-165f2e9c-5993-4751-87e2-384afc09fea9"},"submission":"2026-09-20T03:24:57.934Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
