interactions:
- request:
    body: "--bc7df8016a1f906671a0d7b7601d935c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--bc7df8016a1f906671a0d7b7601d935c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--bc7df8016a1f906671a0d7b7601d935c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=bc7df8016a1f906671a0d7b7601d935c
    method: POST
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1
  response:
    body:
      string: '{"id":"4cd559a9-4b56-425e-9369-0a7c82a683ff","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/4cd559a9-4b56-425e-9369-0a7c82a683ff/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 4cd559a9-4b56-425e-9369-0a7c82a683ff\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok14.fhcrc.org:39041/api/workflows/v1/4cd559a9-4b56-425e-9369-0a7c82a683ff/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"4cd559a9-4b56-425e-9369-0a7c82a683ff","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4cd559a9-4b56-425e-9369-0a7c82a683ff"},"submission":"2026-01-18T03:40:52.008Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
