interactions:
- request:
    body: "--c43b069dd7fe0b174280637806955e9a\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow
      HelloHostname {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n
      \ }\n\n  parameter_meta {\n    stdout: \"hostname of the node the job was submitted
      to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo
      $(hostname)\n  >>>\n\n  output {\n    File out = stdout()\n  }\n  \n  runtime
      {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname
      of the node the job was submitted to\"\n  }\n}\n\r\n--c43b069dd7fe0b174280637806955e9a\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c43b069dd7fe0b174280637806955e9a--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c43b069dd7fe0b174280637806955e9a
    method: POST
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1
  response:
    body:
      string: '{"id":"b753292f-d246-4629-9f1d-4d78310895a8","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/b753292f-d246-4629-9f1d-4d78310895a8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that returns the hostname of the node \n## the job is submitted to as a test
        for the Gizmo backend. \n\n#### WORKFLOW DEFINITION\n\nworkflow HelloHostname
        {\n  call Hostname {\n  }\n\n  output {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta
        {\n    stdout: \"hostname of the node the job was submitted to\"\n  }\n}\n\n####
        TASK DEFINITIONS\n\ntask Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output
        {\n    File out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory:
        \"1 GB\"\n  }\n\n  parameter_meta {\n    out: \"hostname of the node the job
        was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b753292f-d246-4629-9f1d-4d78310895a8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b753292f-d246-4629-9f1d-4d78310895a8"},"submission":"2026-03-01T03:58:37.801Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok10.fhcrc.org:40417/api/workflows/v1/b753292f-d246-4629-9f1d-4d78310895a8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"HelloHostname","workflowProcessingEvents":[{"cromwellId":"cromid-1085291","description":"PickedUp","timestamp":"2026-03-01T04:19:49.217Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for the Gizmo backend. \n\n#### WORKFLOW
        DEFINITION\n\nworkflow HelloHostname {\n  call Hostname {\n  }\n\n  output
        {\n    File stdout = Hostname.out\n  }\n\n  parameter_meta {\n    stdout:
        \"hostname of the node the job was submitted to\"\n  }\n}\n\n#### TASK DEFINITIONS\n\ntask
        Hostname {\n  command <<<\n    echo $(hostname)\n  >>>\n\n  output {\n    File
        out = stdout()\n  }\n  \n  runtime {\n    cpu: 1\n    memory: \"1 GB\"\n  }\n\n  parameter_meta
        {\n    out: \"hostname of the node the job was submitted to\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/HelloHostname/b753292f-d246-4629-9f1d-4d78310895a8","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-01T04:19:49.217Z","id":"b753292f-d246-4629-9f1d-4d78310895a8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b753292f-d246-4629-9f1d-4d78310895a8"},"submission":"2026-03-01T03:58:37.801Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
