interactions:
- request:
    body: "--bfa422eeb2b5418a13c0f4d4f42dc912\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--bfa422eeb2b5418a13c0f4d4f42dc912\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--bfa422eeb2b5418a13c0f4d4f42dc912--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=bfa422eeb2b5418a13c0f4d4f42dc912
    method: POST
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1
  response:
    body:
      string: '{"id":"2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8"},"submission":"2026-03-15T04:25:23.766Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-88ca25d","description":"PickedUp","timestamp":"2026-03-15T04:46:22.504Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-03-15T04:46:22.504Z","id":"2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8"},"submission":"2026-03-15T04:25:23.766Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj31.fhcrc.org:38289/api/workflows/v1/2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-88ca25d","description":"PickedUp","timestamp":"2026-03-15T04:46:22.504Z","cromwellVersion":"87"},{"cromwellId":"cromid-88ca25d","description":"Finished","timestamp":"2026-03-15T04:46:40.896Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-03-15T04:46:40.895Z","start":"2026-03-15T04:46:22.504Z","id":"2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-2e70e0bc-fc03-4f4b-8f59-ea9e38d1f6b8"},"submission":"2026-03-15T04:25:23.766Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
