interactions:
- request:
    body: "--9e3fd56b9ea1ae621508d97909bf10dd\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--9e3fd56b9ea1ae621508d97909bf10dd\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9e3fd56b9ea1ae621508d97909bf10dd--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9e3fd56b9ea1ae621508d97909bf10dd
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"62b86c9e-dd31-44fc-aa53-56e455af539a","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/62b86c9e-dd31-44fc-aa53-56e455af539a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 62b86c9e-dd31-44fc-aa53-56e455af539a\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/62b86c9e-dd31-44fc-aa53-56e455af539a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"62b86c9e-dd31-44fc-aa53-56e455af539a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-62b86c9e-dd31-44fc-aa53-56e455af539a"},"submission":"2025-12-08T17:07:18.613Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
