interactions:
- request:
    body: "--71cda26b0962e21f839ebbda6375323c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--71cda26b0962e21f839ebbda6375323c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--71cda26b0962e21f839ebbda6375323c--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=71cda26b0962e21f839ebbda6375323c
    method: POST
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1
  response:
    body:
      string: '{"id":"b939201a-4c28-49c2-94a8-e6c8454f3764","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/b939201a-4c28-49c2-94a8-e6c8454f3764/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b939201a-4c28-49c2-94a8-e6c8454f3764\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/b939201a-4c28-49c2-94a8-e6c8454f3764/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b939201a-4c28-49c2-94a8-e6c8454f3764","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b939201a-4c28-49c2-94a8-e6c8454f3764"},"submission":"2026-02-12T17:58:52.517Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
