interactions:
- request:
    body: "--0e29fa7a5507a56f2cf2b1b5d71e256f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--0e29fa7a5507a56f2cf2b1b5d71e256f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0e29fa7a5507a56f2cf2b1b5d71e256f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0e29fa7a5507a56f2cf2b1b5d71e256f
    method: POST
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1
  response:
    body:
      string: '{"id":"0a635c4d-8db1-477f-ac9d-ea4271b8f8d7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/0a635c4d-8db1-477f-ac9d-ea4271b8f8d7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"0a635c4d-8db1-477f-ac9d-ea4271b8f8d7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0a635c4d-8db1-477f-ac9d-ea4271b8f8d7"},"submission":"2025-04-09T17:22:47.281Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/0a635c4d-8db1-477f-ac9d-ea4271b8f8d7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"timestamp":"2025-04-09T17:37:23.010Z","cromwellId":"cromid-32c4e56","cromwellVersion":"87","description":"PickedUp"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0a635c4d-8db1-477f-ac9d-ea4271b8f8d7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-09T17:37:23.011Z","id":"0a635c4d-8db1-477f-ac9d-ea4271b8f8d7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0a635c4d-8db1-477f-ac9d-ea4271b8f8d7"},"submission":"2025-04-09T17:22:47.281Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/0a635c4d-8db1-477f-ac9d-ea4271b8f8d7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-32c4e56","description":"Finished","timestamp":"2025-04-09T17:38:04.853Z","cromwellVersion":"87"},{"timestamp":"2025-04-09T17:37:23.010Z","cromwellId":"cromid-32c4e56","cromwellVersion":"87","description":"PickedUp"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0a635c4d-8db1-477f-ac9d-ea4271b8f8d7","actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[{"causedBy":[],"message":"Could
        not process output, file not found: /redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/0a635c4d-8db1-477f-ac9d-ea4271b8f8d7/call-create_files/execution/glob-c94d492e4d5a9e6759399733eb456839/*.log"}],"message":""}],"message":"Workflow
        failed"}],"end":"2025-04-09T17:38:04.853Z","start":"2025-04-09T17:37:23.011Z","id":"0a635c4d-8db1-477f-ac9d-ea4271b8f8d7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0a635c4d-8db1-477f-ac9d-ea4271b8f8d7"},"submission":"2025-04-09T17:22:47.281Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
