interactions:
- request:
    body: "--521686aed142884089ef5a7d4a716411\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--521686aed142884089ef5a7d4a716411\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--521686aed142884089ef5a7d4a716411--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=521686aed142884089ef5a7d4a716411
    method: POST
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1
  response:
    body:
      string: '{"id":"162b57d2-1026-44e4-9f57-3b5d639cbc77","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/162b57d2-1026-44e4-9f57-3b5d639cbc77/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"162b57d2-1026-44e4-9f57-3b5d639cbc77","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-162b57d2-1026-44e4-9f57-3b5d639cbc77"},"submission":"2026-02-01T04:27:39.563Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/162b57d2-1026-44e4-9f57-3b5d639cbc77/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:47:20.136Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/162b57d2-1026-44e4-9f57-3b5d639cbc77","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-01T04:47:20.136Z","id":"162b57d2-1026-44e4-9f57-3b5d639cbc77","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-162b57d2-1026-44e4-9f57-3b5d639cbc77"},"submission":"2026-02-01T04:27:39.563Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok21.fhcrc.org:39229/api/workflows/v1/162b57d2-1026-44e4-9f57-3b5d639cbc77/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-c2e3764","description":"PickedUp","timestamp":"2026-02-01T04:47:20.136Z","cromwellVersion":"87"},{"cromwellId":"cromid-c2e3764","description":"Finished","timestamp":"2026-02-01T04:48:07.079Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/162b57d2-1026-44e4-9f57-3b5d639cbc77","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-02-01T04:48:07.079Z","start":"2026-02-01T04:47:20.136Z","id":"162b57d2-1026-44e4-9f57-3b5d639cbc77","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-162b57d2-1026-44e4-9f57-3b5d639cbc77"},"submission":"2026-02-01T04:27:39.563Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
