interactions:
- request:
    body: "--d77a5473d4bf4837e8cb882cbf2bfa1f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--d77a5473d4bf4837e8cb882cbf2bfa1f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d77a5473d4bf4837e8cb882cbf2bfa1f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d77a5473d4bf4837e8cb882cbf2bfa1f
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"c2d834af-89a4-4657-bb90-e3802c70eec5","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/c2d834af-89a4-4657-bb90-e3802c70eec5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: c2d834af-89a4-4657-bb90-e3802c70eec5\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/c2d834af-89a4-4657-bb90-e3802c70eec5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"c2d834af-89a4-4657-bb90-e3802c70eec5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c2d834af-89a4-4657-bb90-e3802c70eec5"},"submission":"2026-09-20T03:24:48.809Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
