interactions:
- request:
    body: "--c7e5f9e5b81f1b59f94e7953d11b2e32\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--c7e5f9e5b81f1b59f94e7953d11b2e32\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c7e5f9e5b81f1b59f94e7953d11b2e32--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c7e5f9e5b81f1b59f94e7953d11b2e32
    method: POST
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1
  response:
    body:
      string: '{"id":"7b084a37-dff6-4761-a50b-20605b91be76","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/7b084a37-dff6-4761-a50b-20605b91be76/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"7b084a37-dff6-4761-a50b-20605b91be76","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7b084a37-dff6-4761-a50b-20605b91be76"},"submission":"2026-01-25T03:43:21.697Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/7b084a37-dff6-4761-a50b-20605b91be76/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-3d319d1","description":"PickedUp","timestamp":"2026-01-25T04:05:08.795Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/7b084a37-dff6-4761-a50b-20605b91be76","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-25T04:05:08.796Z","id":"7b084a37-dff6-4761-a50b-20605b91be76","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7b084a37-dff6-4761-a50b-20605b91be76"},"submission":"2026-01-25T03:43:21.697Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok38.fhcrc.org:44395/api/workflows/v1/7b084a37-dff6-4761-a50b-20605b91be76/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-3d319d1","description":"PickedUp","timestamp":"2026-01-25T04:05:08.795Z","cromwellVersion":"87"},{"cromwellId":"cromid-3d319d1","description":"Finished","timestamp":"2026-01-25T04:05:57.778Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/7b084a37-dff6-4761-a50b-20605b91be76","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-01-25T04:05:57.778Z","start":"2026-01-25T04:05:08.796Z","id":"7b084a37-dff6-4761-a50b-20605b91be76","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7b084a37-dff6-4761-a50b-20605b91be76"},"submission":"2026-01-25T03:43:21.697Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
