interactions:
- request:
    body: "--fa2d00b57ecd24cc992c7986f37e743e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--fa2d00b57ecd24cc992c7986f37e743e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--fa2d00b57ecd24cc992c7986f37e743e--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=fa2d00b57ecd24cc992c7986f37e743e
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"960af28c-63fb-46ae-b7ba-8ee24d08f3d7","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/960af28c-63fb-46ae-b7ba-8ee24d08f3d7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"960af28c-63fb-46ae-b7ba-8ee24d08f3d7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-960af28c-63fb-46ae-b7ba-8ee24d08f3d7"},"submission":"2026-07-26T04:43:06.759Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/960af28c-63fb-46ae-b7ba-8ee24d08f3d7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-cda349a","description":"PickedUp","timestamp":"2026-07-26T05:02:43.635Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/960af28c-63fb-46ae-b7ba-8ee24d08f3d7","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-26T05:02:43.636Z","id":"960af28c-63fb-46ae-b7ba-8ee24d08f3d7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-960af28c-63fb-46ae-b7ba-8ee24d08f3d7"},"submission":"2026-07-26T04:43:06.759Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/960af28c-63fb-46ae-b7ba-8ee24d08f3d7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-cda349a","description":"PickedUp","timestamp":"2026-07-26T05:02:43.635Z","cromwellVersion":"87"},{"cromwellId":"cromid-cda349a","description":"Finished","timestamp":"2026-07-26T05:03:24.456Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/960af28c-63fb-46ae-b7ba-8ee24d08f3d7","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-07-26T05:03:24.456Z","start":"2026-07-26T05:02:43.636Z","id":"960af28c-63fb-46ae-b7ba-8ee24d08f3d7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-960af28c-63fb-46ae-b7ba-8ee24d08f3d7"},"submission":"2026-07-26T04:43:06.759Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
