interactions:
- request:
    body: "--ae8b0a0dd40f1616747a544fb09fc65f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--ae8b0a0dd40f1616747a544fb09fc65f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ae8b0a0dd40f1616747a544fb09fc65f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=ae8b0a0dd40f1616747a544fb09fc65f
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"5d6ecb3b-4831-4c99-bcec-bd177e36531a","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/5d6ecb3b-4831-4c99-bcec-bd177e36531a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"5d6ecb3b-4831-4c99-bcec-bd177e36531a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5d6ecb3b-4831-4c99-bcec-bd177e36531a"},"submission":"2026-10-04T04:26:58.659Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/5d6ecb3b-4831-4c99-bcec-bd177e36531a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:48:46.320Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5d6ecb3b-4831-4c99-bcec-bd177e36531a","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:48:46.321Z","id":"5d6ecb3b-4831-4c99-bcec-bd177e36531a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5d6ecb3b-4831-4c99-bcec-bd177e36531a"},"submission":"2026-10-04T04:26:58.659Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/5d6ecb3b-4831-4c99-bcec-bd177e36531a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"Finished","timestamp":"2026-10-04T04:49:31.231Z","cromwellVersion":"87"},{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:48:46.320Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5d6ecb3b-4831-4c99-bcec-bd177e36531a","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-10-04T04:49:31.231Z","start":"2026-10-04T04:48:46.321Z","id":"5d6ecb3b-4831-4c99-bcec-bd177e36531a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5d6ecb3b-4831-4c99-bcec-bd177e36531a"},"submission":"2026-10-04T04:26:58.659Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
