interactions:
- request:
    body: "--47c732a06e9e86067e21da92789be1fc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--47c732a06e9e86067e21da92789be1fc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--47c732a06e9e86067e21da92789be1fc--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=47c732a06e9e86067e21da92789be1fc
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"924977c1-80f2-4944-a90c-2cf3af1ee153","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/924977c1-80f2-4944-a90c-2cf3af1ee153/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 924977c1-80f2-4944-a90c-2cf3af1ee153\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/924977c1-80f2-4944-a90c-2cf3af1ee153/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"924977c1-80f2-4944-a90c-2cf3af1ee153","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-924977c1-80f2-4944-a90c-2cf3af1ee153"},"submission":"2025-07-21T16:01:31.707Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
