interactions:
- request:
    body: "--de479b9ae06ad8b892675293e95ca970\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--de479b9ae06ad8b892675293e95ca970\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--de479b9ae06ad8b892675293e95ca970--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=de479b9ae06ad8b892675293e95ca970
    method: POST
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1
  response:
    body:
      string: '{"id":"ed4007fd-946a-4f25-99cb-75985b03ee4e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/ed4007fd-946a-4f25-99cb-75985b03ee4e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ed4007fd-946a-4f25-99cb-75985b03ee4e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ed4007fd-946a-4f25-99cb-75985b03ee4e"},"submission":"2025-11-09T03:55:40.139Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/ed4007fd-946a-4f25-99cb-75985b03ee4e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T04:13:56.187Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/ed4007fd-946a-4f25-99cb-75985b03ee4e","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-09T04:13:56.188Z","id":"ed4007fd-946a-4f25-99cb-75985b03ee4e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ed4007fd-946a-4f25-99cb-75985b03ee4e"},"submission":"2025-11-09T03:55:40.139Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok52.fhcrc.org:40937/api/workflows/v1/ed4007fd-946a-4f25-99cb-75985b03ee4e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcdd64f","description":"Finished","timestamp":"2025-11-09T04:15:49.533Z","cromwellVersion":"87"},{"cromwellId":"cromid-fcdd64f","description":"PickedUp","timestamp":"2025-11-09T04:13:56.187Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/ed4007fd-946a-4f25-99cb-75985b03ee4e/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/ed4007fd-946a-4f25-99cb-75985b03ee4e/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/ed4007fd-946a-4f25-99cb-75985b03ee4e","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-11-09T04:15:49.533Z","start":"2025-11-09T04:13:56.188Z","id":"ed4007fd-946a-4f25-99cb-75985b03ee4e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ed4007fd-946a-4f25-99cb-75985b03ee4e"},"submission":"2025-11-09T03:55:40.139Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
