interactions:
- request:
    body: "--5eea80dda4ea3e5033942c804fe86756\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--5eea80dda4ea3e5033942c804fe86756\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5eea80dda4ea3e5033942c804fe86756--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=5eea80dda4ea3e5033942c804fe86756
    method: POST
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1
  response:
    body:
      string: '{"id":"a479d6c9-7daf-450c-8909-3ded2331d784","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/a479d6c9-7daf-450c-8909-3ded2331d784/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"a479d6c9-7daf-450c-8909-3ded2331d784","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a479d6c9-7daf-450c-8909-3ded2331d784"},"submission":"2026-05-26T17:10:22.298Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/a479d6c9-7daf-450c-8909-3ded2331d784/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-26T17:29:34.671Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/a479d6c9-7daf-450c-8909-3ded2331d784","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-26T17:29:34.672Z","id":"a479d6c9-7daf-450c-8909-3ded2331d784","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a479d6c9-7daf-450c-8909-3ded2331d784"},"submission":"2026-05-26T17:10:22.298Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj40.fhcrc.org:39441/api/workflows/v1/a479d6c9-7daf-450c-8909-3ded2331d784/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-07f3b3e","description":"Finished","timestamp":"2026-05-26T17:30:29.789Z","cromwellVersion":"87"},{"cromwellId":"cromid-07f3b3e","description":"PickedUp","timestamp":"2026-05-26T17:29:34.671Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/a479d6c9-7daf-450c-8909-3ded2331d784/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/a479d6c9-7daf-450c-8909-3ded2331d784/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/a479d6c9-7daf-450c-8909-3ded2331d784","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-26T17:30:29.789Z","start":"2026-05-26T17:29:34.672Z","id":"a479d6c9-7daf-450c-8909-3ded2331d784","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a479d6c9-7daf-450c-8909-3ded2331d784"},"submission":"2026-05-26T17:10:22.298Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
