interactions:
- request:
    body: "--aa31878fdc262d94df1ec84a6a5476f6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--aa31878fdc262d94df1ec84a6a5476f6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--aa31878fdc262d94df1ec84a6a5476f6--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=aa31878fdc262d94df1ec84a6a5476f6
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"069d1d7a-a28d-44e4-aec6-44adf2fc201d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/069d1d7a-a28d-44e4-aec6-44adf2fc201d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"069d1d7a-a28d-44e4-aec6-44adf2fc201d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-069d1d7a-a28d-44e4-aec6-44adf2fc201d"},"submission":"2025-06-27T20:02:44.682Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/069d1d7a-a28d-44e4-aec6-44adf2fc201d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:25:06.453Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/069d1d7a-a28d-44e4-aec6-44adf2fc201d","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:25:06.453Z","id":"069d1d7a-a28d-44e4-aec6-44adf2fc201d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-069d1d7a-a28d-44e4-aec6-44adf2fc201d"},"submission":"2025-06-27T20:02:44.682Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/069d1d7a-a28d-44e4-aec6-44adf2fc201d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"Finished","timestamp":"2025-06-27T20:25:50.346Z","cromwellVersion":"87"},{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:25:06.453Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/emptyGlobTest/069d1d7a-a28d-44e4-aec6-44adf2fc201d","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-27T20:25:50.346Z","start":"2025-06-27T20:25:06.453Z","id":"069d1d7a-a28d-44e4-aec6-44adf2fc201d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-069d1d7a-a28d-44e4-aec6-44adf2fc201d"},"submission":"2025-06-27T20:02:44.682Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
