interactions:
- request:
    body: "--f835670830a6b2233cd538515298ceed\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--f835670830a6b2233cd538515298ceed\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f835670830a6b2233cd538515298ceed--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=f835670830a6b2233cd538515298ceed
    method: POST
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1
  response:
    body:
      string: '{"id":"49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684"},"submission":"2026-02-22T04:17:20.387Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:37:11.088Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-22T04:37:11.088Z","id":"49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684"},"submission":"2026-02-22T04:17:20.387Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-d02194a","description":"Finished","timestamp":"2026-02-22T04:37:51.901Z","cromwellVersion":"87"},{"cromwellId":"cromid-d02194a","description":"PickedUp","timestamp":"2026-02-22T04:37:11.088Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-02-22T04:37:51.901Z","start":"2026-02-22T04:37:11.088Z","id":"49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-49ef1acd-d5b6-4c11-9fa6-a5b1e4e19684"},"submission":"2026-02-22T04:17:20.387Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
