interactions:
- request:
    body: "--d03116b4de0343cd103287331d687b8b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicTaskExecution.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
      a string input and writes it to a file called output.txt. It demonstrates a
      basic execution of a task with file output.\n\n# This tests basic task execution,
      input handling, and file output functionality. It ensures that a task can successfully
      take an input and generate an output.\n\nworkflow basicTaskTest {\n  input {\n
      \   String text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n
      \     message = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n
      \ }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
      {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n
      \ }\n}\n\r\n--d03116b4de0343cd103287331d687b8b\r\nContent-Disposition: form-data;
      name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type: application/json\r\n\r\n{\n
      \   \"workflow_failure_mode\": \"ContinueWhilePossible\",\n    \"write_to_cache\":
      false,\n    \"read_from_cache\": false\n}\n\r\n--d03116b4de0343cd103287331d687b8b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d03116b4de0343cd103287331d687b8b
    method: POST
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1
  response:
    body:
      string: '{"id":"9bf2fad5-e03a-4b63-ae08-530fea9b3439","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/9bf2fad5-e03a-4b63-ae08-530fea9b3439/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 9bf2fad5-e03a-4b63-ae08-530fea9b3439\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/9bf2fad5-e03a-4b63-ae08-530fea9b3439/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\n# The basicTaskTest workflow
        calls a task named simpleTask, which takes a string input and writes it to
        a file called output.txt. It demonstrates a basic execution of a task with
        file output.\n\n# This tests basic task execution, input handling, and file
        output functionality. It ensures that a task can successfully take an input
        and generate an output.\n\nworkflow basicTaskTest {\n  input {\n    String
        text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n      message
        = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n  }\n\n  command
        <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output {\n    File
        outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"9bf2fad5-e03a-4b63-ae08-530fea9b3439","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9bf2fad5-e03a-4b63-ae08-530fea9b3439"},"submission":"2025-09-14T03:23:32.054Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
