interactions:
- request:
    body: "--2386ab9423eeab5d3ef4c6a1f85fc67b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--2386ab9423eeab5d3ef4c6a1f85fc67b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--2386ab9423eeab5d3ef4c6a1f85fc67b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=2386ab9423eeab5d3ef4c6a1f85fc67b
    method: POST
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1
  response:
    body:
      string: '{"id":"99257cad-1628-409a-9114-2cddefd530ca","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/99257cad-1628-409a-9114-2cddefd530ca/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"99257cad-1628-409a-9114-2cddefd530ca","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-99257cad-1628-409a-9114-2cddefd530ca"},"submission":"2025-07-27T04:05:16.649Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok99.fhcrc.org:45631/api/workflows/v1/99257cad-1628-409a-9114-2cddefd530ca/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-d11bdb6","description":"Finished","timestamp":"2025-07-27T04:24:23.918Z","cromwellVersion":"87"},{"cromwellId":"cromid-d11bdb6","description":"PickedUp","timestamp":"2025-07-27T04:24:23.909Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-07-27T04:24:23.918Z","start":"2025-07-27T04:24:23.910Z","id":"99257cad-1628-409a-9114-2cddefd530ca","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-99257cad-1628-409a-9114-2cddefd530ca"},"submission":"2025-07-27T04:05:16.649Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
