interactions:
- request:
    body: "--b6b2c618508e13b910898094bb3ea02d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"testRemoteFileLocalization.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow testRemoteFileLocalization {\n    input {\n        String string\n
      \       Int integer\n        Float float\n        Boolean boolean\n        File
      remote_file\n    }\n\n    # Task 1: Test input localization and processing\n
      \   call testInputLocalization {[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/9ad118b6-4e9e-4e98-96ae-f8a0f1c8d62d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow testRemoteFileLocalization
        {\n    input {\n        String string\n        Int integer\n        Float
        float\n        Boolean boolean\n        File remote_file\n    }\n\n    # Task
        1: Test input localization and processing\n    call testInputLocalization
        {\n        input:\n            input_string = string,\n            input_integer
        = integer,\n            input_float = float,\n            input_boolean =
        boolean,\n         [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:40419/api/workflows/v1/9ad118b6-4e9e-4e98-96ae-f8a0f1c8d62d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"testRemoteFileLocalization","workflowProcessingEvents":[{"cromwellId":"cromid-29ff436","description":"PickedUp","timestamp":"2026-03-08T04:39:48.599Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow testRemoteFileLocalization {\n    input {\n        String
        string\n        Int integer\n        Float float\n        Boolean boolean\n        File
        remote_file\n    }\n\n    # Task 1: Test input localization and processing\n    call
        testInputLocalization {\n        input:\n            input_string = string,\n            input_integer
        = integer,\n            input_float = float,\n            input_bo[...]
[...]
