interactions:
- request:
    body: "--e4383a06a7d147c7d80f8d0462661a3f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--e4383a06a7d147c7d80f8d0462661a3f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e4383a06a7d147c7d80f8d0462661a3f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=e4383a06a7d147c7d80f8d0462661a3f
    method: POST
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1
  response:
    body:
      string: '{"id":"12eb4db9-3165-4a64-a7ad-fcdc54807c71","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/12eb4db9-3165-4a64-a7ad-fcdc54807c71/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"12eb4db9-3165-4a64-a7ad-fcdc54807c71","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-12eb4db9-3165-4a64-a7ad-fcdc54807c71"},"submission":"2026-02-12T17:59:04.804Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/12eb4db9-3165-4a64-a7ad-fcdc54807c71/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:22:04.535Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/12eb4db9-3165-4a64-a7ad-fcdc54807c71","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-02-12T18:22:04.535Z","id":"12eb4db9-3165-4a64-a7ad-fcdc54807c71","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-12eb4db9-3165-4a64-a7ad-fcdc54807c71"},"submission":"2026-02-12T17:59:04.804Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok23.fhcrc.org:46091/api/workflows/v1/12eb4db9-3165-4a64-a7ad-fcdc54807c71/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b2bb6d7","description":"Finished","timestamp":"2026-02-12T18:22:47.398Z","cromwellVersion":"87"},{"cromwellId":"cromid-b2bb6d7","description":"PickedUp","timestamp":"2026-02-12T18:22:04.535Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/12eb4db9-3165-4a64-a7ad-fcdc54807c71","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-02-12T18:22:47.398Z","start":"2026-02-12T18:22:04.535Z","id":"12eb4db9-3165-4a64-a7ad-fcdc54807c71","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-12eb4db9-3165-4a64-a7ad-fcdc54807c71"},"submission":"2026-02-12T17:59:04.804Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
