interactions:
- request:
    body: "--27727d240288807aeb860be13de6db1d\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--27727d240288807aeb860be13de6db1d\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--27727d240288807aeb860be13de6db1d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=27727d240288807aeb860be13de6db1d
    method: POST
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1
  response:
    body:
      string: '{"id":"de2685dc-6a77-4309-bfa2-bcb029f2d67e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/de2685dc-6a77-4309-bfa2-bcb029f2d67e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"de2685dc-6a77-4309-bfa2-bcb029f2d67e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de2685dc-6a77-4309-bfa2-bcb029f2d67e"},"submission":"2026-04-27T17:02:07.331Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/de2685dc-6a77-4309-bfa2-bcb029f2d67e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:26:07.532Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/de2685dc-6a77-4309-bfa2-bcb029f2d67e","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-27T17:26:07.532Z","id":"de2685dc-6a77-4309-bfa2-bcb029f2d67e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de2685dc-6a77-4309-bfa2-bcb029f2d67e"},"submission":"2026-04-27T17:02:07.331Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/de2685dc-6a77-4309-bfa2-bcb029f2d67e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-399e7d6","description":"PickedUp","timestamp":"2026-04-27T17:26:07.532Z","cromwellVersion":"87"},{"cromwellId":"cromid-399e7d6","description":"Finished","timestamp":"2026-04-27T17:26:50.393Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/de2685dc-6a77-4309-bfa2-bcb029f2d67e","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-27T17:26:50.393Z","start":"2026-04-27T17:26:07.532Z","id":"de2685dc-6a77-4309-bfa2-bcb029f2d67e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-de2685dc-6a77-4309-bfa2-bcb029f2d67e"},"submission":"2026-04-27T17:02:07.331Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
