interactions:
- request:
    body: "--3ede83098dc503a7c651ccc9f7173022\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--3ede83098dc503a7c651ccc9f7173022\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3ede83098dc503a7c651ccc9f7173022--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=3ede83098dc503a7c651ccc9f7173022
    method: POST
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1
  response:
    body:
      string: '{"id":"2a1c64b3-2b8a-4158-aa21-bdc5a5ed3520","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/2a1c64b3-2b8a-4158-aa21-bdc5a5ed3520/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"2a1c64b3-2b8a-4158-aa21-bdc5a5ed3520","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-2a1c64b3-2b8a-4158-aa21-bdc5a5ed3520"},"submission":"2026-05-03T04:26:43.757Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:37657/api/workflows/v1/2a1c64b3-2b8a-4158-aa21-bdc5a5ed3520/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-b4148f2","description":"Finished","timestamp":"2026-05-03T04:48:48.461Z","cromwellVersion":"87"},{"cromwellId":"cromid-b4148f2","description":"PickedUp","timestamp":"2026-05-03T04:48:48.448Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2026-05-03T04:48:48.461Z","start":"2026-05-03T04:48:48.449Z","id":"2a1c64b3-2b8a-4158-aa21-bdc5a5ed3520","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-2a1c64b3-2b8a-4158-aa21-bdc5a5ed3520"},"submission":"2026-05-03T04:26:43.757Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
