interactions:
- request:
    body: "--0d9ff1a7f7be1c42a85aa8e8dc52f746\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--0d9ff1a7f7be1c42a85aa8e8dc52f746\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0d9ff1a7f7be1c42a85aa8e8dc52f746--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0d9ff1a7f7be1c42a85aa8e8dc52f746
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"c0a71036-cf98-4f0b-adde-54fa52138cd8","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/c0a71036-cf98-4f0b-adde-54fa52138cd8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: c0a71036-cf98-4f0b-adde-54fa52138cd8\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/c0a71036-cf98-4f0b-adde-54fa52138cd8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"c0a71036-cf98-4f0b-adde-54fa52138cd8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c0a71036-cf98-4f0b-adde-54fa52138cd8"},"submission":"2025-12-08T17:07:23.170Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
