interactions:
- request:
    body: "--d269484045bd39e786452dc1eddd3e46\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--d269484045bd39e786452dc1eddd3e46\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d269484045bd39e786452dc1eddd3e46--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=d269484045bd39e786452dc1eddd3e46
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"27925d4b-536d-44d4-9a5f-91109b83366e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/27925d4b-536d-44d4-9a5f-91109b83366e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"27925d4b-536d-44d4-9a5f-91109b83366e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-27925d4b-536d-44d4-9a5f-91109b83366e"},"submission":"2025-07-21T16:01:38.460Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/27925d4b-536d-44d4-9a5f-91109b83366e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:22:46.902Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/27925d4b-536d-44d4-9a5f-91109b83366e","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-21T16:22:46.902Z","id":"27925d4b-536d-44d4-9a5f-91109b83366e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-27925d4b-536d-44d4-9a5f-91109b83366e"},"submission":"2025-07-21T16:01:38.460Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/27925d4b-536d-44d4-9a5f-91109b83366e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-9ddb309","description":"PickedUp","timestamp":"2025-07-21T16:22:46.902Z","cromwellVersion":"87"},{"cromwellId":"cromid-9ddb309","description":"Finished","timestamp":"2025-07-21T16:23:30.786Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/27925d4b-536d-44d4-9a5f-91109b83366e","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-07-21T16:23:30.786Z","start":"2025-07-21T16:22:46.902Z","id":"27925d4b-536d-44d4-9a5f-91109b83366e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-27925d4b-536d-44d4-9a5f-91109b83366e"},"submission":"2025-07-21T16:01:38.460Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
