interactions:
- request:
    body: "--138e8e1097ebc25ccaf70f82749727f9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--138e8e1097ebc25ccaf70f82749727f9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--138e8e1097ebc25ccaf70f82749727f9--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=138e8e1097ebc25ccaf70f82749727f9
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"56a55c1e-ba49-42aa-93ec-8e7a8acc6e59","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/56a55c1e-ba49-42aa-93ec-8e7a8acc6e59/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"56a55c1e-ba49-42aa-93ec-8e7a8acc6e59","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-56a55c1e-ba49-42aa-93ec-8e7a8acc6e59"},"submission":"2026-09-20T03:50:25.793Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/56a55c1e-ba49-42aa-93ec-8e7a8acc6e59/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellVersion":"87","timestamp":"2026-09-20T04:10:01.354Z","description":"PickedUp","cromwellId":"cromid-9b09684"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56a55c1e-ba49-42aa-93ec-8e7a8acc6e59","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T04:10:01.354Z","id":"56a55c1e-ba49-42aa-93ec-8e7a8acc6e59","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-56a55c1e-ba49-42aa-93ec-8e7a8acc6e59"},"submission":"2026-09-20T03:50:25.793Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/56a55c1e-ba49-42aa-93ec-8e7a8acc6e59/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellVersion":"87","timestamp":"2026-09-20T04:10:01.354Z","description":"PickedUp","cromwellId":"cromid-9b09684"},{"cromwellId":"cromid-9b09684","description":"Finished","timestamp":"2026-09-20T04:10:38.097Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/56a55c1e-ba49-42aa-93ec-8e7a8acc6e59","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-09-20T04:10:38.097Z","start":"2026-09-20T04:10:01.354Z","id":"56a55c1e-ba49-42aa-93ec-8e7a8acc6e59","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-56a55c1e-ba49-42aa-93ec-8e7a8acc6e59"},"submission":"2026-09-20T03:50:25.793Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
