interactions:
- request:
    body: "--8ce970256b1f3e30f07afd949b78a5d0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--8ce970256b1f3e30f07afd949b78a5d0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8ce970256b1f3e30f07afd949b78a5d0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=8ce970256b1f3e30f07afd949b78a5d0
    method: POST
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1
  response:
    body:
      string: '{"id":"73f846e7-8f59-4298-a45c-2b5dbfbe8cdc","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/73f846e7-8f59-4298-a45c-2b5dbfbe8cdc/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"73f846e7-8f59-4298-a45c-2b5dbfbe8cdc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-73f846e7-8f59-4298-a45c-2b5dbfbe8cdc"},"submission":"2026-08-16T03:24:55.882Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/73f846e7-8f59-4298-a45c-2b5dbfbe8cdc/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:46:18.645Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/73f846e7-8f59-4298-a45c-2b5dbfbe8cdc","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-08-16T03:46:18.646Z","id":"73f846e7-8f59-4298-a45c-2b5dbfbe8cdc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-73f846e7-8f59-4298-a45c-2b5dbfbe8cdc"},"submission":"2026-08-16T03:24:55.882Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:38773/api/workflows/v1/73f846e7-8f59-4298-a45c-2b5dbfbe8cdc/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b06fbc5","description":"PickedUp","timestamp":"2026-08-16T03:46:18.645Z","cromwellVersion":"87"},{"cromwellId":"cromid-b06fbc5","description":"Finished","timestamp":"2026-08-16T03:47:01.516Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/73f846e7-8f59-4298-a45c-2b5dbfbe8cdc","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-08-16T03:47:01.515Z","start":"2026-08-16T03:46:18.646Z","id":"73f846e7-8f59-4298-a45c-2b5dbfbe8cdc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-73f846e7-8f59-4298-a45c-2b5dbfbe8cdc"},"submission":"2026-08-16T03:24:55.882Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
