interactions:
- request:
    body: "--47f90d5636a7a388151fe7d09c618c5b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--47f90d5636a7a388151fe7d09c618c5b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--47f90d5636a7a388151fe7d09c618c5b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=47f90d5636a7a388151fe7d09c618c5b
    method: POST
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1
  response:
    body:
      string: '{"id":"b458260f-f907-47c5-be1c-373aef06b4b9","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/b458260f-f907-47c5-be1c-373aef06b4b9/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b458260f-f907-47c5-be1c-373aef06b4b9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b458260f-f907-47c5-be1c-373aef06b4b9"},"submission":"2025-05-25T03:32:58.031Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok79.fhcrc.org:45745/api/workflows/v1/b458260f-f907-47c5-be1c-373aef06b4b9/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-020f250","description":"Finished","timestamp":"2025-05-25T03:51:07.430Z","cromwellVersion":"87"},{"cromwellId":"cromid-020f250","description":"PickedUp","timestamp":"2025-05-25T03:51:07.422Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-05-25T03:51:07.430Z","start":"2025-05-25T03:51:07.423Z","id":"b458260f-f907-47c5-be1c-373aef06b4b9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b458260f-f907-47c5-be1c-373aef06b4b9"},"submission":"2025-05-25T03:32:58.031Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
