interactions:
- request:
    body: "--9788ecd0aa98dfe37fe2836cee4d2f59\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--9788ecd0aa98dfe37fe2836cee4d2f59\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9788ecd0aa98dfe37fe2836cee4d2f59--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=9788ecd0aa98dfe37fe2836cee4d2f59
    method: POST
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1
  response:
    body:
      string: '{"id":"264a6a14-b36b-4e3e-80b3-b6631c5fb66f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/264a6a14-b36b-4e3e-80b3-b6631c5fb66f/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 264a6a14-b36b-4e3e-80b3-b6631c5fb66f\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj9.fhcrc.org:35725/api/workflows/v1/264a6a14-b36b-4e3e-80b3-b6631c5fb66f/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"264a6a14-b36b-4e3e-80b3-b6631c5fb66f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-264a6a14-b36b-4e3e-80b3-b6631c5fb66f"},"submission":"2025-12-28T03:42:19.534Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
