interactions:
- request:
    body: "--f9c76e38aa7d58d68667e7e466002a80\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--f9c76e38aa7d58d68667e7e466002a80\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f9c76e38aa7d58d68667e7e466002a80--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f9c76e38aa7d58d68667e7e466002a80
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"d3feaf4b-0d36-4ce7-a00c-dbe68e704770","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/d3feaf4b-0d36-4ce7-a00c-dbe68e704770/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"d3feaf4b-0d36-4ce7-a00c-dbe68e704770","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d3feaf4b-0d36-4ce7-a00c-dbe68e704770"},"submission":"2026-10-04T04:26:59.945Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/d3feaf4b-0d36-4ce7-a00c-dbe68e704770/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:49:46.412Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/d3feaf4b-0d36-4ce7-a00c-dbe68e704770","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T04:49:46.413Z","id":"d3feaf4b-0d36-4ce7-a00c-dbe68e704770","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d3feaf4b-0d36-4ce7-a00c-dbe68e704770"},"submission":"2026-10-04T04:26:59.945Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/d3feaf4b-0d36-4ce7-a00c-dbe68e704770/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"Finished","timestamp":"2026-10-04T04:50:28.262Z","cromwellVersion":"87"},{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T04:49:46.412Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/d3feaf4b-0d36-4ce7-a00c-dbe68e704770/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/d3feaf4b-0d36-4ce7-a00c-dbe68e704770/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/d3feaf4b-0d36-4ce7-a00c-dbe68e704770","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-10-04T04:50:28.262Z","start":"2026-10-04T04:49:46.413Z","id":"d3feaf4b-0d36-4ce7-a00c-dbe68e704770","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d3feaf4b-0d36-4ce7-a00c-dbe68e704770"},"submission":"2026-10-04T04:26:59.945Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
