interactions:
- request:
    body: "--fe2a5dcb5b8764224697a9d4ddf79a35\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--fe2a5dcb5b8764224697a9d4ddf79a35\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--fe2a5dcb5b8764224697a9d4ddf79a35--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=fe2a5dcb5b8764224697a9d4ddf79a35
    method: POST
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1
  response:
    body:
      string: '{"id":"0e0f6a28-108a-45c5-aa74-9020b0f7f523","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/0e0f6a28-108a-45c5-aa74-9020b0f7f523/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 0e0f6a28-108a-45c5-aa74-9020b0f7f523\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/0e0f6a28-108a-45c5-aa74-9020b0f7f523/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"0e0f6a28-108a-45c5-aa74-9020b0f7f523","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0e0f6a28-108a-45c5-aa74-9020b0f7f523"},"submission":"2026-04-19T04:10:31.779Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
