interactions:
- request:
    body: "--54a807770acb2678cdff2b9d7697e875\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--54a807770acb2678cdff2b9d7697e875\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--54a807770acb2678cdff2b9d7697e875--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=54a807770acb2678cdff2b9d7697e875
    method: POST
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1
  response:
    body:
      string: '{"id":"28bacae4-be92-494c-8a28-679a085698a5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/28bacae4-be92-494c-8a28-679a085698a5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"28bacae4-be92-494c-8a28-679a085698a5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-28bacae4-be92-494c-8a28-679a085698a5"},"submission":"2026-01-11T04:07:02.836Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/28bacae4-be92-494c-8a28-679a085698a5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcb4a2c","description":"PickedUp","timestamp":"2026-01-11T04:25:51.213Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/28bacae4-be92-494c-8a28-679a085698a5","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-11T04:25:51.214Z","id":"28bacae4-be92-494c-8a28-679a085698a5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-28bacae4-be92-494c-8a28-679a085698a5"},"submission":"2026-01-11T04:07:02.836Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok103.fhcrc.org:42705/api/workflows/v1/28bacae4-be92-494c-8a28-679a085698a5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fcb4a2c","description":"PickedUp","timestamp":"2026-01-11T04:25:51.213Z","cromwellVersion":"87"},{"cromwellId":"cromid-fcb4a2c","description":"Finished","timestamp":"2026-01-11T04:26:38.156Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/28bacae4-be92-494c-8a28-679a085698a5/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/28bacae4-be92-494c-8a28-679a085698a5/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/28bacae4-be92-494c-8a28-679a085698a5","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-01-11T04:26:38.156Z","start":"2026-01-11T04:25:51.214Z","id":"28bacae4-be92-494c-8a28-679a085698a5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-28bacae4-be92-494c-8a28-679a085698a5"},"submission":"2026-01-11T04:07:02.836Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
