interactions:
- request:
    body: "--3647305a4eb2dc4b35ef733ce62a1511\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--3647305a4eb2dc4b35ef733ce62a1511\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--3647305a4eb2dc4b35ef733ce62a1511--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=3647305a4eb2dc4b35ef733ce62a1511
    method: POST
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1
  response:
    body:
      string: '{"id":"9ecd3f38-57d8-455c-8087-92fcbb28cfcb","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/9ecd3f38-57d8-455c-8087-92fcbb28cfcb/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 9ecd3f38-57d8-455c-8087-92fcbb28cfcb\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok55.fhcrc.org:39153/api/workflows/v1/9ecd3f38-57d8-455c-8087-92fcbb28cfcb/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"9ecd3f38-57d8-455c-8087-92fcbb28cfcb","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9ecd3f38-57d8-455c-8087-92fcbb28cfcb"},"submission":"2025-07-21T16:01:33.130Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
