interactions:
- request:
    body: "--bff0a8743c8ef59cb92b97669f2243ae\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--bff0a8743c8ef59cb92b97669f2243ae\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--bff0a8743c8ef59cb92b97669f2243ae--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=bff0a8743c8ef59cb92b97669f2243ae
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1
  response:
    body:
      string: '{"id":"275140b7-a15e-47ed-8576-0a8f72273ad2","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/275140b7-a15e-47ed-8576-0a8f72273ad2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"275140b7-a15e-47ed-8576-0a8f72273ad2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-275140b7-a15e-47ed-8576-0a8f72273ad2"},"submission":"2026-05-24T05:00:05.688Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/275140b7-a15e-47ed-8576-0a8f72273ad2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-4b24d22","description":"PickedUp","timestamp":"2026-05-24T05:19:09.720Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/275140b7-a15e-47ed-8576-0a8f72273ad2","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-24T05:19:09.721Z","id":"275140b7-a15e-47ed-8576-0a8f72273ad2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-275140b7-a15e-47ed-8576-0a8f72273ad2"},"submission":"2026-05-24T05:00:05.688Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/275140b7-a15e-47ed-8576-0a8f72273ad2/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-4b24d22","description":"Finished","timestamp":"2026-05-24T05:19:56.679Z","cromwellVersion":"87"},{"cromwellId":"cromid-4b24d22","description":"PickedUp","timestamp":"2026-05-24T05:19:09.720Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/275140b7-a15e-47ed-8576-0a8f72273ad2","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-24T05:19:56.679Z","start":"2026-05-24T05:19:09.721Z","id":"275140b7-a15e-47ed-8576-0a8f72273ad2","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-275140b7-a15e-47ed-8576-0a8f72273ad2"},"submission":"2026-05-24T05:00:05.688Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
