interactions:
- request:
    body: "--44c9c140826660e0cf3734fceb0b95a3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--44c9c140826660e0cf3734fceb0b95a3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--44c9c140826660e0cf3734fceb0b95a3--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=44c9c140826660e0cf3734fceb0b95a3
    method: POST
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1
  response:
    body:
      string: '{"id":"94f5bb5f-8e68-42bb-884e-10e3bd5d803d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/94f5bb5f-8e68-42bb-884e-10e3bd5d803d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 94f5bb5f-8e68-42bb-884e-10e3bd5d803d\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/94f5bb5f-8e68-42bb-884e-10e3bd5d803d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"94f5bb5f-8e68-42bb-884e-10e3bd5d803d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-94f5bb5f-8e68-42bb-884e-10e3bd5d803d"},"submission":"2025-06-15T03:35:18.993Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
