interactions:
- request:
    body: "--f9dbc44c13c6bf836b0409e7148386c2\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--f9dbc44c13c6bf836b0409e7148386c2\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f9dbc44c13c6bf836b0409e7148386c2--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f9dbc44c13c6bf836b0409e7148386c2
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"a478ee44-20d4-45fa-b50b-1918210697ef","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a478ee44-20d4-45fa-b50b-1918210697ef/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: a478ee44-20d4-45fa-b50b-1918210697ef\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/a478ee44-20d4-45fa-b50b-1918210697ef/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"a478ee44-20d4-45fa-b50b-1918210697ef","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-a478ee44-20d4-45fa-b50b-1918210697ef"},"submission":"2026-07-22T18:45:23.292Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
