interactions:
- request:
    body: "--31abe8e881885043ee03af9f43da369e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--31abe8e881885043ee03af9f43da369e\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--31abe8e881885043ee03af9f43da369e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=31abe8e881885043ee03af9f43da369e
    method: POST
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1
  response:
    body:
      string: '{"id":"e5167a6d-72c3-4db0-8ca1-0beb10c4d10a","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/e5167a6d-72c3-4db0-8ca1-0beb10c4d10a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"e5167a6d-72c3-4db0-8ca1-0beb10c4d10a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e5167a6d-72c3-4db0-8ca1-0beb10c4d10a"},"submission":"2026-04-19T04:34:06.228Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/e5167a6d-72c3-4db0-8ca1-0beb10c4d10a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-4d0ae0e","description":"PickedUp","timestamp":"2026-04-19T04:53:07.115Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e5167a6d-72c3-4db0-8ca1-0beb10c4d10a","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-19T04:53:07.115Z","id":"e5167a6d-72c3-4db0-8ca1-0beb10c4d10a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e5167a6d-72c3-4db0-8ca1-0beb10c4d10a"},"submission":"2026-04-19T04:34:06.228Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37765/api/workflows/v1/e5167a6d-72c3-4db0-8ca1-0beb10c4d10a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-4d0ae0e","description":"PickedUp","timestamp":"2026-04-19T04:53:07.115Z","cromwellVersion":"87"},{"cromwellId":"cromid-4d0ae0e","description":"Finished","timestamp":"2026-04-19T04:53:57.126Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/e5167a6d-72c3-4db0-8ca1-0beb10c4d10a","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-19T04:53:57.126Z","start":"2026-04-19T04:53:07.115Z","id":"e5167a6d-72c3-4db0-8ca1-0beb10c4d10a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e5167a6d-72c3-4db0-8ca1-0beb10c4d10a"},"submission":"2026-04-19T04:34:06.228Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
