interactions:
- request:
    body: "--71884c34d17940a4fa12ad026bf9e4e9\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--71884c34d17940a4fa12ad026bf9e4e9\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--71884c34d17940a4fa12ad026bf9e4e9--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=71884c34d17940a4fa12ad026bf9e4e9
    method: POST
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1
  response:
    body:
      string: '{"id":"1ee727e5-fbb6-4848-bb13-e4e88cdf62ac","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/1ee727e5-fbb6-4848-bb13-e4e88cdf62ac/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 1ee727e5-fbb6-4848-bb13-e4e88cdf62ac\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok32.fhcrc.org:37589/api/workflows/v1/1ee727e5-fbb6-4848-bb13-e4e88cdf62ac/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"1ee727e5-fbb6-4848-bb13-e4e88cdf62ac","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-1ee727e5-fbb6-4848-bb13-e4e88cdf62ac"},"submission":"2026-02-22T03:54:22.956Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
