interactions:
- request:
    body: "--99692e6cfb5fa66f7628991b36ba9176\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicTaskExecution.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
      a string input and writes it to a file called output.txt. It demonstrates a
      basic execution of a task with file output.\n\n# This tests basic task execution,
      input handling, and file output functionality. It ensures that a task can successfully
      take an input and generate an output.\n\nworkflow basicTaskTest {\n  input {\n
      \   String text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n
      \     message = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n
      \ }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
      {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n
      \ }\n}\n\r\n--99692e6cfb5fa66f7628991b36ba9176\r\nContent-Disposition: form-data;
      name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type: application/json\r\n\r\n{\n
      \   \"workflow_failure_mode\": \"ContinueWhilePossible\",\n    \"write_to_cache\":
      false,\n    \"read_from_cache\": false\n}\n\r\n--99692e6cfb5fa66f7628991b36ba9176--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=99692e6cfb5fa66f7628991b36ba9176
    method: POST
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1
  response:
    body:
      string: '{"id":"638d0740-52c3-482f-97d6-e19ead86c1a7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/638d0740-52c3-482f-97d6-e19ead86c1a7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\n# The basicTaskTest workflow
        calls a task named simpleTask, which takes a string input and writes it to
        a file called output.txt. It demonstrates a basic execution of a task with
        file output.\n\n# This tests basic task execution, input handling, and file
        output functionality. It ensures that a task can successfully take an input
        and generate an output.\n\nworkflow basicTaskTest {\n  input {\n    String
        text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n      message
        = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n  }\n\n  command
        <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output {\n    File
        outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"638d0740-52c3-482f-97d6-e19ead86c1a7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-638d0740-52c3-482f-97d6-e19ead86c1a7"},"submission":"2025-10-19T03:54:29.594Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:34637/api/workflows/v1/638d0740-52c3-482f-97d6-e19ead86c1a7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicTaskTest","workflowProcessingEvents":[{"timestamp":"2025-10-19T04:13:46.961Z","cromwellId":"cromid-071d4a8","cromwellVersion":"87","description":"PickedUp"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
        a string input and writes it to a file called output.txt. It demonstrates
        a basic execution of a task with file output.\n\n# This tests basic task execution,
        input handling, and file output functionality. It ensures that a task can
        successfully take an input and generate an output.\n\nworkflow basicTaskTest
        {\n  input {\n    String text = \"Hello, World!\"\n  }\n\n  call simpleTask
        {\n    input:\n      message = text\n  }\n}\n\ntask simpleTask {\n  input
        {\n    String message\n  }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
        {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/638d0740-52c3-482f-97d6-e19ead86c1a7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-19T04:13:46.962Z","id":"638d0740-52c3-482f-97d6-e19ead86c1a7","inputs":{"text":"Hello,
        World!"},"labels":{"cromwell-workflow-id":"cromwell-638d0740-52c3-482f-97d6-e19ead86c1a7"},"submission":"2025-10-19T03:54:29.594Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
