interactions:
- request:
    body: "--c0ae1c1fbb52416737c8007f1e67a1b6\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--c0ae1c1fbb52416737c8007f1e67a1b6\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c0ae1c1fbb52416737c8007f1e67a1b6--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c0ae1c1fbb52416737c8007f1e67a1b6
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"5cd65fe7-513f-4179-8b5d-1038e79bf84b","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/5cd65fe7-513f-4179-8b5d-1038e79bf84b/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 5cd65fe7-513f-4179-8b5d-1038e79bf84b\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/5cd65fe7-513f-4179-8b5d-1038e79bf84b/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"5cd65fe7-513f-4179-8b5d-1038e79bf84b","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5cd65fe7-513f-4179-8b5d-1038e79bf84b"},"submission":"2026-09-06T03:24:28.633Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
