interactions:
- request:
    body: "--6bd8125b0c542124b6e4f11161b44c16\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSymlink.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globSymlink {\n    call create_nested_files\n    output {\n
      \       Array[File] matched_files = flatten([create_nested_files.matched_files_top,
      create_nested_files.matched_files_nested])\n        Array[File] symlink_matches
      = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
      {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\" >
      subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
      Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
      symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File]
      matched_symlinks = glob(\"symlinks/*.txt\")\n    }\n}\n\r\n--6bd8125b0c542124b6e4f11161b44c16\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6bd8125b0c542124b6e4f11161b44c16--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=6bd8125b0c542124b6e4f11161b44c16
    method: POST
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1
  response:
    body:
      string: '{"id":"2b41d94c-db97-410e-a06d-1968b4de6ffd","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/2b41d94c-db97-410e-a06d-1968b4de6ffd/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2b41d94c-db97-410e-a06d-1968b4de6ffd\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/2b41d94c-db97-410e-a06d-1968b4de6ffd/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globSymlink
        {\n    call create_nested_files\n    output {\n        Array[File] matched_files
        = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n        Array[File]
        symlink_matches = create_nested_files.matched_symlinks\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n\n        #
        Create symlinks\n        mkdir -p symlinks\n        ln -s ../subdir/nested/file1.txt
        symlinks/link_to_file1.txt\n        ln -s ../subdir/file2.txt symlinks/link_to_file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n        Array[File] matched_symlinks
        = glob(\"symlinks/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"2b41d94c-db97-410e-a06d-1968b4de6ffd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-2b41d94c-db97-410e-a06d-1968b4de6ffd"},"submission":"2026-05-17T04:32:47.885Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
