interactions:
- request:
    body: "--c122ceaf1c9aa22e65f35dc00a02ab51\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--c122ceaf1c9aa22e65f35dc00a02ab51\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c122ceaf1c9aa22e65f35dc00a02ab51--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c122ceaf1c9aa22e65f35dc00a02ab51
    method: POST
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1
  response:
    body:
      string: '{"id":"8f2829c2-04ee-4738-9daa-18b769c93ac7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/8f2829c2-04ee-4738-9daa-18b769c93ac7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"8f2829c2-04ee-4738-9daa-18b769c93ac7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8f2829c2-04ee-4738-9daa-18b769c93ac7"},"submission":"2026-04-13T17:25:43.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/8f2829c2-04ee-4738-9daa-18b769c93ac7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:45:23.638Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/8f2829c2-04ee-4738-9daa-18b769c93ac7","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-13T17:45:23.639Z","id":"8f2829c2-04ee-4738-9daa-18b769c93ac7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8f2829c2-04ee-4738-9daa-18b769c93ac7"},"submission":"2026-04-13T17:25:43.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok2.fhcrc.org:37119/api/workflows/v1/8f2829c2-04ee-4738-9daa-18b769c93ac7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-fee2f75","description":"PickedUp","timestamp":"2026-04-13T17:45:23.638Z","cromwellVersion":"87"},{"cromwellId":"cromid-fee2f75","description":"Finished","timestamp":"2026-04-13T17:46:00.380Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/8f2829c2-04ee-4738-9daa-18b769c93ac7/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/8f2829c2-04ee-4738-9daa-18b769c93ac7/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/8f2829c2-04ee-4738-9daa-18b769c93ac7","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-13T17:46:00.380Z","start":"2026-04-13T17:45:23.639Z","id":"8f2829c2-04ee-4738-9daa-18b769c93ac7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8f2829c2-04ee-4738-9daa-18b769c93ac7"},"submission":"2026-04-13T17:25:43.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
