interactions:
- request:
    body: "--9f9afc5ad1308c00bba8bc7bc61600ec\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--9f9afc5ad1308c00bba8bc7bc61600ec\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9f9afc5ad1308c00bba8bc7bc61600ec--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9f9afc5ad1308c00bba8bc7bc61600ec
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5"},"submission":"2026-07-22T18:57:09.084Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-cda349a","description":"PickedUp","timestamp":"2026-07-22T19:16:44.753Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-07-22T19:16:44.754Z","id":"45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5"},"submission":"2026-07-22T18:57:09.084Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-cda349a","description":"PickedUp","timestamp":"2026-07-22T19:16:44.753Z","cromwellVersion":"87"},{"cromwellId":"cromid-cda349a","description":"Finished","timestamp":"2026-07-22T19:17:22.516Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"symlinkOnly.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5/call-generate_diverse_outputs/execution/link.txt"},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-07-22T19:17:22.516Z","start":"2026-07-22T19:16:44.754Z","id":"45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-45b7a7e5-803f-4fb6-9b4f-92ca3aa6dfd5"},"submission":"2026-07-22T18:57:09.084Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
