interactions:
- request:
    body: "--348d37f85b96045468df1267c6610914\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--348d37f85b96045468df1267c6610914\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--348d37f85b96045468df1267c6610914--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=348d37f85b96045468df1267c6610914
    method: POST
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1
  response:
    body:
      string: '{"id":"89bc3ffc-57f2-4687-b5b4-768c913482c6","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/89bc3ffc-57f2-4687-b5b4-768c913482c6/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"89bc3ffc-57f2-4687-b5b4-768c913482c6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-89bc3ffc-57f2-4687-b5b4-768c913482c6"},"submission":"2025-09-28T03:26:19.821Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/89bc3ffc-57f2-4687-b5b4-768c913482c6/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-804f9aa","description":"PickedUp","timestamp":"2025-09-28T03:49:50.871Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/89bc3ffc-57f2-4687-b5b4-768c913482c6","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-28T03:49:50.871Z","id":"89bc3ffc-57f2-4687-b5b4-768c913482c6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-89bc3ffc-57f2-4687-b5b4-768c913482c6"},"submission":"2025-09-28T03:26:19.821Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok50.fhcrc.org:46679/api/workflows/v1/89bc3ffc-57f2-4687-b5b4-768c913482c6/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-804f9aa","description":"PickedUp","timestamp":"2025-09-28T03:49:50.871Z","cromwellVersion":"87"},{"cromwellId":"cromid-804f9aa","description":"Finished","timestamp":"2025-09-28T03:51:41.055Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/89bc3ffc-57f2-4687-b5b4-768c913482c6","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-09-28T03:51:41.055Z","start":"2025-09-28T03:49:50.871Z","id":"89bc3ffc-57f2-4687-b5b4-768c913482c6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-89bc3ffc-57f2-4687-b5b4-768c913482c6"},"submission":"2025-09-28T03:26:19.821Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
