interactions:
- request:
    body: "--a7691c82c60a55e5b1d7eaec844b92d1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"helloModuleHostname.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that returns the hostname of the node \n## the
      job is submitted to as a test for module functionality on Gizmo.\n## Added verification
      of module loading.\n\n#### WORKFLOW DEFINITION\n\nworkflow HelloModuleHostname
      {\n  input {\n    String module2l[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/055ebe26-406d-4dd4-9f73-60e00c7097fa/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that returns the hostname of the node \n## the job is submitted to as a test
        for module functionality on Gizmo.\n## Added verification of module loading.\n\n####
        WORKFLOW DEFINITION\n\nworkflow HelloModuleHostname {\n  input {\n    String
        module2load = \"Python/3.12.3-GCCcore-13.3.0\" # Default value can be overwritten\n  }\n\n  call
        Hostname {\n    input:\n      module_env = module2load\n  }\n\n  output {\n    File[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/055ebe26-406d-4dd4-9f73-60e00c7097fa/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"HelloModuleHostname","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T04:22:25.360Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that returns the hostname of the node \n##
        the job is submitted to as a test for module functionality on Gizmo.\n## Added
        verification of module loading.\n\n#### WORKFLOW DEFINITION\n\nworkflow HelloModuleHostname
        {\n  input {\n    String module2load = \"Python/3.12.3-GCCcore-13.3.0\" #
        Default value can be overwritten\n  }\n\n  call Hostname {\n    input:\n      module_env
       [...]
[...]
