interactions:
- request:
    body: "--b2b57f57682f5991bb20d14a53c2f80b\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--b2b57f57682f5991bb20d14a53c2f80b\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--b2b57f57682f5991bb20d14a53c2f80b--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=b2b57f57682f5991bb20d14a53c2f80b
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"3135fc7c-508c-4fe4-a390-723fddd3f5a9","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/3135fc7c-508c-4fe4-a390-723fddd3f5a9/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 3135fc7c-508c-4fe4-a390-723fddd3f5a9\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/3135fc7c-508c-4fe4-a390-723fddd3f5a9/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"3135fc7c-508c-4fe4-a390-723fddd3f5a9","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-3135fc7c-508c-4fe4-a390-723fddd3f5a9"},"submission":"2026-10-04T04:26:46.236Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
