interactions:
- request:
    body: "--88e6e5de26b6bccc8a2cbe8f54416aa0\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--88e6e5de26b6bccc8a2cbe8f54416aa0\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--88e6e5de26b6bccc8a2cbe8f54416aa0--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=88e6e5de26b6bccc8a2cbe8f54416aa0
    method: POST
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1
  response:
    body:
      string: '{"id":"dec1922e-5ca0-4bfe-a508-001af87c33f5","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/dec1922e-5ca0-4bfe-a508-001af87c33f5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"dec1922e-5ca0-4bfe-a508-001af87c33f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dec1922e-5ca0-4bfe-a508-001af87c33f5"},"submission":"2026-09-20T03:48:45.374Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/dec1922e-5ca0-4bfe-a508-001af87c33f5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T04:08:01.205Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globSubdir/dec1922e-5ca0-4bfe-a508-001af87c33f5","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-20T04:08:01.205Z","id":"dec1922e-5ca0-4bfe-a508-001af87c33f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dec1922e-5ca0-4bfe-a508-001af87c33f5"},"submission":"2026-09-20T03:48:45.374Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:37109/api/workflows/v1/dec1922e-5ca0-4bfe-a508-001af87c33f5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-9b09684","description":"PickedUp","timestamp":"2026-09-20T04:08:01.205Z","cromwellVersion":"87"},{"cromwellId":"cromid-9b09684","description":"Finished","timestamp":"2026-09-20T04:08:45.099Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globSubdir.matched_files":["/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globSubdir/dec1922e-5ca0-4bfe-a508-001af87c33f5/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globSubdir/dec1922e-5ca0-4bfe-a508-001af87c33f5/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/globSubdir/dec1922e-5ca0-4bfe-a508-001af87c33f5","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-09-20T04:08:45.099Z","start":"2026-09-20T04:08:01.205Z","id":"dec1922e-5ca0-4bfe-a508-001af87c33f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dec1922e-5ca0-4bfe-a508-001af87c33f5"},"submission":"2026-09-20T03:48:45.374Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
