interactions:
- request:
    body: "--15a0fc98120c9cf382f4aacabc08b4c7\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--15a0fc98120c9cf382f4aacabc08b4c7\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--15a0fc98120c9cf382f4aacabc08b4c7--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=15a0fc98120c9cf382f4aacabc08b4c7
    method: POST
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1
  response:
    body:
      string: '{"id":"0e9cbe51-432a-461c-9b4c-4de746fd6e31","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/0e9cbe51-432a-461c-9b4c-4de746fd6e31/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"0e9cbe51-432a-461c-9b4c-4de746fd6e31","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0e9cbe51-432a-461c-9b4c-4de746fd6e31"},"submission":"2026-04-05T04:06:55.536Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/0e9cbe51-432a-461c-9b4c-4de746fd6e31/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4ac0da5","description":"PickedUp","timestamp":"2026-04-05T04:29:20.134Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/0e9cbe51-432a-461c-9b4c-4de746fd6e31","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-04-05T04:29:20.134Z","id":"0e9cbe51-432a-461c-9b4c-4de746fd6e31","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0e9cbe51-432a-461c-9b4c-4de746fd6e31"},"submission":"2026-04-05T04:06:55.536Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/0e9cbe51-432a-461c-9b4c-4de746fd6e31/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-4ac0da5","description":"Finished","timestamp":"2026-04-05T04:30:09.145Z","cromwellVersion":"87"},{"cromwellId":"cromid-4ac0da5","description":"PickedUp","timestamp":"2026-04-05T04:29:20.134Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/0e9cbe51-432a-461c-9b4c-4de746fd6e31","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-04-05T04:30:09.144Z","start":"2026-04-05T04:29:20.134Z","id":"0e9cbe51-432a-461c-9b4c-4de746fd6e31","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-0e9cbe51-432a-461c-9b4c-4de746fd6e31"},"submission":"2026-04-05T04:06:55.536Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
