interactions:
- request:
    body: "--a992f82dee03e8535357f60a76d30505\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--a992f82dee03e8535357f60a76d30505\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a992f82dee03e8535357f60a76d30505--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=a992f82dee03e8535357f60a76d30505
    method: POST
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1
  response:
    body:
      string: '{"id":"fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8"},"submission":"2025-12-08T17:32:24.596Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:51:56.446Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-12-08T17:51:56.446Z","id":"fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8"},"submission":"2025-12-08T17:32:24.596Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33357/api/workflows/v1/fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-be4d9b8","description":"Finished","timestamp":"2025-12-08T17:52:13.808Z","cromwellVersion":"87"},{"cromwellId":"cromid-be4d9b8","description":"PickedUp","timestamp":"2025-12-08T17:51:56.446Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-12-08T17:52:13.808Z","start":"2025-12-08T17:51:56.446Z","id":"fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-fc5a1bff-ec56-4b2e-9ca9-d80f19e28fc8"},"submission":"2025-12-08T17:32:24.596Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
