interactions:
- request:
    body: "--05070c70416b70f4b27b1e8d8e131cbe\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--05070c70416b70f4b27b1e8d8e131cbe\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--05070c70416b70f4b27b1e8d8e131cbe--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=05070c70416b70f4b27b1e8d8e131cbe
    method: POST
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1
  response:
    body:
      string: '{"id":"050eca0c-ed2d-4b84-8d62-1baa70820856","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/050eca0c-ed2d-4b84-8d62-1baa70820856/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"050eca0c-ed2d-4b84-8d62-1baa70820856","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-050eca0c-ed2d-4b84-8d62-1baa70820856"},"submission":"2025-04-09T17:43:08.885Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/050eca0c-ed2d-4b84-8d62-1baa70820856/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-32c4e56","description":"PickedUp","timestamp":"2025-04-09T17:45:03.543Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/050eca0c-ed2d-4b84-8d62-1baa70820856","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-04-09T17:45:03.543Z","id":"050eca0c-ed2d-4b84-8d62-1baa70820856","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-050eca0c-ed2d-4b84-8d62-1baa70820856"},"submission":"2025-04-09T17:43:08.885Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/050eca0c-ed2d-4b84-8d62-1baa70820856/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-32c4e56","description":"Finished","timestamp":"2025-04-09T17:46:59.843Z","cromwellVersion":"87"},{"cromwellId":"cromid-32c4e56","description":"PickedUp","timestamp":"2025-04-09T17:45:03.543Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/050eca0c-ed2d-4b84-8d62-1baa70820856","actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[{"causedBy":[],"message":"Could
        not process output, file not found: /redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/050eca0c-ed2d-4b84-8d62-1baa70820856/call-create_empty_directory/execution/glob-6b27dd825f90d7f7b5ef66c2d642b840/*.txt"}],"message":""}],"message":"Workflow
        failed"}],"end":"2025-04-09T17:46:59.843Z","start":"2025-04-09T17:45:03.543Z","id":"050eca0c-ed2d-4b84-8d62-1baa70820856","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-050eca0c-ed2d-4b84-8d62-1baa70820856"},"submission":"2025-04-09T17:43:08.885Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
