interactions:
- request:
    body: "--e71b97d9b25c0273128a65ed65d0dd6f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--e71b97d9b25c0273128a65ed65d0dd6f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e71b97d9b25c0273128a65ed65d0dd6f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e71b97d9b25c0273128a65ed65d0dd6f
    method: POST
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1
  response:
    body:
      string: '{"id":"07e69ee1-39db-4267-af5d-1d30e2700c0d","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/07e69ee1-39db-4267-af5d-1d30e2700c0d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"07e69ee1-39db-4267-af5d-1d30e2700c0d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-07e69ee1-39db-4267-af5d-1d30e2700c0d"},"submission":"2025-09-14T03:23:39.101Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/07e69ee1-39db-4267-af5d-1d30e2700c0d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b365107","description":"PickedUp","timestamp":"2025-09-14T03:45:03.572Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/07e69ee1-39db-4267-af5d-1d30e2700c0d","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-14T03:45:03.573Z","id":"07e69ee1-39db-4267-af5d-1d30e2700c0d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-07e69ee1-39db-4267-af5d-1d30e2700c0d"},"submission":"2025-09-14T03:23:39.101Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/07e69ee1-39db-4267-af5d-1d30e2700c0d/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-b365107","description":"PickedUp","timestamp":"2025-09-14T03:45:03.572Z","cromwellVersion":"87"},{"cromwellId":"cromid-b365107","description":"Finished","timestamp":"2025-09-14T03:45:45.423Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/07e69ee1-39db-4267-af5d-1d30e2700c0d","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-09-14T03:45:45.423Z","start":"2025-09-14T03:45:03.573Z","id":"07e69ee1-39db-4267-af5d-1d30e2700c0d","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-07e69ee1-39db-4267-af5d-1d30e2700c0d"},"submission":"2025-09-14T03:23:39.101Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
