interactions:
- request:
    body: "--74fdb1be456cd69e47f308a98b5e63bb\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--74fdb1be456cd69e47f308a98b5e63bb\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--74fdb1be456cd69e47f308a98b5e63bb--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=74fdb1be456cd69e47f308a98b5e63bb
    method: POST
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1
  response:
    body:
      string: '{"id":"aaaa65e9-cca9-4ee6-9818-912c5a8c5b68","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/aaaa65e9-cca9-4ee6-9818-912c5a8c5b68/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"aaaa65e9-cca9-4ee6-9818-912c5a8c5b68","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-aaaa65e9-cca9-4ee6-9818-912c5a8c5b68"},"submission":"2026-10-04T04:54:44.815Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/aaaa65e9-cca9-4ee6-9818-912c5a8c5b68/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T05:14:28.607Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/aaaa65e9-cca9-4ee6-9818-912c5a8c5b68","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-04T05:14:28.608Z","id":"aaaa65e9-cca9-4ee6-9818-912c5a8c5b68","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-aaaa65e9-cca9-4ee6-9818-912c5a8c5b68"},"submission":"2026-10-04T04:54:44.815Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok63.fhcrc.org:42277/api/workflows/v1/aaaa65e9-cca9-4ee6-9818-912c5a8c5b68/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-050974d","description":"PickedUp","timestamp":"2026-10-04T05:14:28.607Z","cromwellVersion":"87"},{"cromwellId":"cromid-050974d","description":"Finished","timestamp":"2026-10-04T05:15:08.411Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/aaaa65e9-cca9-4ee6-9818-912c5a8c5b68","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-10-04T05:15:08.411Z","start":"2026-10-04T05:14:28.608Z","id":"aaaa65e9-cca9-4ee6-9818-912c5a8c5b68","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-aaaa65e9-cca9-4ee6-9818-912c5a8c5b68"},"submission":"2026-10-04T04:54:44.815Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
