interactions:
- request:
    body: "--c1a6d01e5f33822a888332992b30bacf\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globSubdir.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
      matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n
      \   }\n}\n\ntask create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n
      \       echo \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n
      \   >>>\n    output {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n
      \       Array[File] matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n\r\n--c1a6d01e5f33822a888332992b30bacf\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c1a6d01e5f33822a888332992b30bacf--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c1a6d01e5f33822a888332992b30bacf
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"11be23e5-f3b9-4c0a-bc71-cb76bffa4458","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/11be23e5-f3b9-4c0a-bc71-cb76bffa4458/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\nworkflow globSubdir {\n    call
        create_nested_files\n    output {\n        Array[File] matched_files = flatten([create_nested_files.matched_files_top,
        create_nested_files.matched_files_nested])\n    }\n}\n\ntask create_nested_files
        {\n    command <<<\n        mkdir -p subdir/nested\n        echo \"Hello\"
        > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"11be23e5-f3b9-4c0a-bc71-cb76bffa4458","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-11be23e5-f3b9-4c0a-bc71-cb76bffa4458"},"submission":"2026-10-01T21:01:04.139Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/11be23e5-f3b9-4c0a-bc71-cb76bffa4458/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:24:29.511Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/11be23e5-f3b9-4c0a-bc71-cb76bffa4458","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-10-01T21:24:29.511Z","id":"11be23e5-f3b9-4c0a-bc71-cb76bffa4458","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-11be23e5-f3b9-4c0a-bc71-cb76bffa4458"},"submission":"2026-10-01T21:01:04.139Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/11be23e5-f3b9-4c0a-bc71-cb76bffa4458/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globSubdir","workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:24:29.511Z","cromwellVersion":"87"},{"cromwellId":"cromid-03b90c9","description":"Finished","timestamp":"2026-10-01T21:25:14.423Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\nworkflow globSubdir {\n    call create_nested_files\n    output {\n        Array[File]
        matched_files = flatten([create_nested_files.matched_files_top, create_nested_files.matched_files_nested])\n    }\n}\n\ntask
        create_nested_files {\n    command <<<\n        mkdir -p subdir/nested\n        echo
        \"Hello\" > subdir/nested/file1.txt\n        echo \"World\" > subdir/file2.txt\n    >>>\n    output
        {\n        Array[File] matched_files_top = glob(\"subdir/*.txt\")\n        Array[File]
        matched_files_nested = glob(\"subdir/**/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globSubdir.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/11be23e5-f3b9-4c0a-bc71-cb76bffa4458/call-create_nested_files/execution/glob-ee3a9c1c6860f417d1e9ff1a72d2b62d/file2.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/11be23e5-f3b9-4c0a-bc71-cb76bffa4458/call-create_nested_files/execution/glob-4c0cd9dc6b12aa01233bbc214341aae1/file1.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globSubdir/11be23e5-f3b9-4c0a-bc71-cb76bffa4458","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-10-01T21:25:14.422Z","start":"2026-10-01T21:24:29.511Z","id":"11be23e5-f3b9-4c0a-bc71-cb76bffa4458","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-11be23e5-f3b9-4c0a-bc71-cb76bffa4458"},"submission":"2026-10-01T21:01:04.139Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
