interactions:
- request:
    body: "--ea07de0de63cd65abd53f67c47c772fa\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--ea07de0de63cd65abd53f67c47c772fa\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--ea07de0de63cd65abd53f67c47c772fa--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ea07de0de63cd65abd53f67c47c772fa
    method: POST
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1
  response:
    body:
      string: '{"id":"13cf0d9a-bd36-469e-a132-7022409482c6","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/13cf0d9a-bd36-469e-a132-7022409482c6/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"13cf0d9a-bd36-469e-a132-7022409482c6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-13cf0d9a-bd36-469e-a132-7022409482c6"},"submission":"2026-05-24T04:36:23.685Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok1.fhcrc.org:39489/api/workflows/v1/13cf0d9a-bd36-469e-a132-7022409482c6/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-4b24d22","description":"PickedUp","timestamp":"2026-05-24T04:58:07.117Z","cromwellVersion":"87"},{"cromwellId":"cromid-4b24d22","description":"Finished","timestamp":"2026-05-24T04:58:07.135Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2026-05-24T04:58:07.135Z","start":"2026-05-24T04:58:07.118Z","id":"13cf0d9a-bd36-469e-a132-7022409482c6","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-13cf0d9a-bd36-469e-a132-7022409482c6"},"submission":"2026-05-24T04:36:23.685Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
