interactions:
- request:
    body: "--0a434d14957563f6e1b9b9e226c4c2af\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--0a434d14957563f6e1b9b9e226c4c2af\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--0a434d14957563f6e1b9b9e226c4c2af--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=0a434d14957563f6e1b9b9e226c4c2af
    method: POST
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1
  response:
    body:
      string: '{"id":"d3a63622-0d6c-40c0-a4e2-942344d2e5a7","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/d3a63622-0d6c-40c0-a4e2-942344d2e5a7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"d3a63622-0d6c-40c0-a4e2-942344d2e5a7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d3a63622-0d6c-40c0-a4e2-942344d2e5a7"},"submission":"2025-11-23T04:03:52.834Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/d3a63622-0d6c-40c0-a4e2-942344d2e5a7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T04:23:45.479Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/d3a63622-0d6c-40c0-a4e2-942344d2e5a7","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-23T04:23:45.480Z","id":"d3a63622-0d6c-40c0-a4e2-942344d2e5a7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d3a63622-0d6c-40c0-a4e2-942344d2e5a7"},"submission":"2025-11-23T04:03:52.834Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj12.fhcrc.org:34469/api/workflows/v1/d3a63622-0d6c-40c0-a4e2-942344d2e5a7/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-49c53ac","description":"PickedUp","timestamp":"2025-11-23T04:23:45.479Z","cromwellVersion":"87"},{"cromwellId":"cromid-49c53ac","description":"Finished","timestamp":"2025-11-23T04:24:34.466Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/d3a63622-0d6c-40c0-a4e2-942344d2e5a7/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/d3a63622-0d6c-40c0-a4e2-942344d2e5a7/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicGlobTest/d3a63622-0d6c-40c0-a4e2-942344d2e5a7","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-11-23T04:24:34.466Z","start":"2025-11-23T04:23:45.480Z","id":"d3a63622-0d6c-40c0-a4e2-942344d2e5a7","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d3a63622-0d6c-40c0-a4e2-942344d2e5a7"},"submission":"2025-11-23T04:03:52.834Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
