interactions:
- request:
    body: "--61b5ad1152667d689843b8bb51de2f4e\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicTaskExecution.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
      a string input and writes it to a file called output.txt. It demonstrates a
      basic execution of a task with file output.\n\n# This tests basic task execution,
      input handling, and file output functionality. It ensures that a task can successfully
      take an input and generate an output.\n\nworkflow basicTaskTest {\n  input {\n
      \   String text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n
      \     message = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n
      \ }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
      {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n
      \ }\n}\n\r\n--61b5ad1152667d689843b8bb51de2f4e\r\nContent-Disposition: form-data;
      name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type: application/json\r\n\r\n{\n
      \   \"workflow_failure_mode\": \"ContinueWhilePossible\",\n    \"write_to_cache\":
      false,\n    \"read_from_cache\": false\n}\n\r\n--61b5ad1152667d689843b8bb51de2f4e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=61b5ad1152667d689843b8bb51de2f4e
    method: POST
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1
  response:
    body:
      string: '{"id":"ed3c2261-134d-4745-a401-e42906690169","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/ed3c2261-134d-4745-a401-e42906690169/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\n# The basicTaskTest workflow
        calls a task named simpleTask, which takes a string input and writes it to
        a file called output.txt. It demonstrates a basic execution of a task with
        file output.\n\n# This tests basic task execution, input handling, and file
        output functionality. It ensures that a task can successfully take an input
        and generate an output.\n\nworkflow basicTaskTest {\n  input {\n    String
        text = \"Hello, World!\"\n  }\n\n  call simpleTask {\n    input:\n      message
        = text\n  }\n}\n\ntask simpleTask {\n  input {\n    String message\n  }\n\n  command
        <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output {\n    File
        outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ed3c2261-134d-4745-a401-e42906690169","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ed3c2261-134d-4745-a401-e42906690169"},"submission":"2026-01-04T04:06:24.290Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok66.fhcrc.org:39539/api/workflows/v1/ed3c2261-134d-4745-a401-e42906690169/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicTaskTest","workflowProcessingEvents":[{"cromwellId":"cromid-62a7768","description":"PickedUp","timestamp":"2026-01-04T04:24:41.428Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\n# The basicTaskTest workflow calls a task named simpleTask, which takes
        a string input and writes it to a file called output.txt. It demonstrates
        a basic execution of a task with file output.\n\n# This tests basic task execution,
        input handling, and file output functionality. It ensures that a task can
        successfully take an input and generate an output.\n\nworkflow basicTaskTest
        {\n  input {\n    String text = \"Hello, World!\"\n  }\n\n  call simpleTask
        {\n    input:\n      message = text\n  }\n}\n\ntask simpleTask {\n  input
        {\n    String message\n  }\n\n  command <<<\n    echo \"${message}\" > output.txt\n    >>>\n\n  output
        {\n    File outputFile = \"output.txt\"\n  }\n\n  runtime {\n    docker: \"ubuntu:20.04\"\n  }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/basicTaskTest/ed3c2261-134d-4745-a401-e42906690169","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-01-04T04:24:41.428Z","id":"ed3c2261-134d-4745-a401-e42906690169","inputs":{"text":"Hello,
        World!"},"labels":{"cromwell-workflow-id":"cromwell-ed3c2261-134d-4745-a401-e42906690169"},"submission":"2026-01-04T04:06:24.290Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
