interactions:
- request:
    body: "--884cd0c037e2f64d043496ffdf21a15f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--884cd0c037e2f64d043496ffdf21a15f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--884cd0c037e2f64d043496ffdf21a15f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=884cd0c037e2f64d043496ffdf21a15f
    method: POST
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1
  response:
    body:
      string: '{"id":"b20d78e0-d22a-4e26-ac16-209c114b2b89","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/b20d78e0-d22a-4e26-ac16-209c114b2b89/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: b20d78e0-d22a-4e26-ac16-209c114b2b89\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok37.fhcrc.org:44649/api/workflows/v1/b20d78e0-d22a-4e26-ac16-209c114b2b89/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"b20d78e0-d22a-4e26-ac16-209c114b2b89","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-b20d78e0-d22a-4e26-ac16-209c114b2b89"},"submission":"2025-04-09T17:22:39.416Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
