interactions:
- request:
    body: "--e7603b16926e17059d872df1f77be6ba\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--e7603b16926e17059d872df1f77be6ba\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--e7603b16926e17059d872df1f77be6ba--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=e7603b16926e17059d872df1f77be6ba
    method: POST
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1
  response:
    body:
      string: '{"id":"6086d3e0-09a9-459a-b36f-3bc7034a582e","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/6086d3e0-09a9-459a-b36f-3bc7034a582e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"6086d3e0-09a9-459a-b36f-3bc7034a582e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6086d3e0-09a9-459a-b36f-3bc7034a582e"},"submission":"2025-07-06T03:59:21.559Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/6086d3e0-09a9-459a-b36f-3bc7034a582e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-502d9f2","description":"PickedUp","timestamp":"2025-07-06T04:06:30.092Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/6086d3e0-09a9-459a-b36f-3bc7034a582e","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-07-06T04:06:30.093Z","id":"6086d3e0-09a9-459a-b36f-3bc7034a582e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6086d3e0-09a9-459a-b36f-3bc7034a582e"},"submission":"2025-07-06T03:59:21.559Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok74.fhcrc.org:42995/api/workflows/v1/6086d3e0-09a9-459a-b36f-3bc7034a582e/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-502d9f2","description":"PickedUp","timestamp":"2025-07-06T04:06:30.092Z","cromwellVersion":"87"},{"cromwellId":"cromid-502d9f2","description":"Finished","timestamp":"2025-07-06T04:07:09.905Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"symlinkOnly.symlink_file":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/6086d3e0-09a9-459a-b36f-3bc7034a582e/call-generate_diverse_outputs/execution/link.txt"},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/symlinkOnly/6086d3e0-09a9-459a-b36f-3bc7034a582e","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-07-06T04:07:09.905Z","start":"2025-07-06T04:06:30.093Z","id":"6086d3e0-09a9-459a-b36f-3bc7034a582e","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-6086d3e0-09a9-459a-b36f-3bc7034a582e"},"submission":"2025-07-06T03:59:21.559Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
