interactions:
- request:
    body: "--d3d388613f15088ef7c9513c4e32fb46\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--d3d388613f15088ef7c9513c4e32fb46\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--d3d388613f15088ef7c9513c4e32fb46--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=d3d388613f15088ef7c9513c4e32fb46
    method: POST
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1
  response:
    body:
      string: '{"id":"70f2897c-8a4b-4e18-a0dc-5928d40b8429","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/70f2897c-8a4b-4e18-a0dc-5928d40b8429/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 70f2897c-8a4b-4e18-a0dc-5928d40b8429\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/70f2897c-8a4b-4e18-a0dc-5928d40b8429/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"70f2897c-8a4b-4e18-a0dc-5928d40b8429","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-70f2897c-8a4b-4e18-a0dc-5928d40b8429"},"submission":"2026-03-22T03:55:42.113Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
