interactions:
- request:
    body: "--c371d4a9a9722e612bfea8abe9068193\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--c371d4a9a9722e612bfea8abe9068193\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c371d4a9a9722e612bfea8abe9068193--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c371d4a9a9722e612bfea8abe9068193
    method: POST
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1
  response:
    body:
      string: '{"id":"2971b152-2ae1-4cf8-9f58-718a90453baa","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/2971b152-2ae1-4cf8-9f58-718a90453baa/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 2971b152-2ae1-4cf8-9f58-718a90453baa\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok5.fhcrc.org:36043/api/workflows/v1/2971b152-2ae1-4cf8-9f58-718a90453baa/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"2971b152-2ae1-4cf8-9f58-718a90453baa","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-2971b152-2ae1-4cf8-9f58-718a90453baa"},"submission":"2026-03-22T03:55:43.670Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
