interactions:
- request:
    body: "--c06f38b9e515fc975ff787a826b35fc1\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"symlinkOnly.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
      {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
      generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
      \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n
      \   output {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime
      {\n        docker: \"ubuntu:noble-20241118.1\"\n    }\n}\n\r\n--c06f38b9e515fc975ff787a826b35fc1\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--c06f38b9e515fc975ff787a826b35fc1--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=c06f38b9e515fc975ff787a826b35fc1
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow symlinkOnly
        {\n    call generate_diverse_outputs\n    \n    output {\n        File symlink_file
        = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask generate_diverse_outputs
        {\n    command <<<\n        # Create a symlink\n        echo \"original\"
        > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4"},"submission":"2025-06-27T19:00:45.131Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T19:29:42.294Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/symlinkOnly/ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T19:29:42.294Z","id":"ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4"},"submission":"2025-06-27T19:00:45.131Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"symlinkOnly","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"Finished","timestamp":"2025-06-27T19:30:32.296Z","cromwellVersion":"87"},{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T19:29:42.294Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow symlinkOnly {\n    call generate_diverse_outputs\n    \n    output
        {\n        File symlink_file = generate_diverse_outputs.symlink_output\n    }\n}\n\ntask
        generate_diverse_outputs {\n    command <<<\n        # Create a symlink\n        echo
        \"original\" > original.txt\n        ln -s original.txt link.txt\n    >>>\n\n    output
        {\n        File symlink_output = \"link.txt\"\n    }\n\n    runtime {\n        docker:
        \"ubuntu:noble-20241118.1\"\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"symlinkOnly.symlink_file":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/symlinkOnly/ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4/call-generate_diverse_outputs/execution/link.txt"},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/symlinkOnly/ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-27T19:30:32.296Z","start":"2025-06-27T19:29:42.294Z","id":"ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-ec2b6fca-0f52-4dc3-ab62-2189ae2af1e4"},"submission":"2025-06-27T19:00:45.131Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
