interactions:
- request:
    body: "--a8eed86c8dd718e2f832aa4177fe3a33\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--a8eed86c8dd718e2f832aa4177fe3a33\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a8eed86c8dd718e2f832aa4177fe3a33--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a8eed86c8dd718e2f832aa4177fe3a33
    method: POST
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1
  response:
    body:
      string: '{"id":"e6de5b28-8998-49b2-8c47-39a983607e0f","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/e6de5b28-8998-49b2-8c47-39a983607e0f/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"e6de5b28-8998-49b2-8c47-39a983607e0f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e6de5b28-8998-49b2-8c47-39a983607e0f"},"submission":"2025-06-15T03:35:19.989Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok97.fhcrc.org:36405/api/workflows/v1/e6de5b28-8998-49b2-8c47-39a983607e0f/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-3f4f81b","description":"Finished","timestamp":"2025-06-15T03:56:35.494Z","cromwellVersion":"87"},{"cromwellId":"cromid-3f4f81b","description":"PickedUp","timestamp":"2025-06-15T03:56:35.486Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2025-06-15T03:56:35.494Z","start":"2025-06-15T03:56:35.487Z","id":"e6de5b28-8998-49b2-8c47-39a983607e0f","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-e6de5b28-8998-49b2-8c47-39a983607e0f"},"submission":"2025-06-15T03:35:19.989Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
