interactions:
- request:
    body: "--a2c1875e7d5e71925a935569dd7ed1d8\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--a2c1875e7d5e71925a935569dd7ed1d8\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--a2c1875e7d5e71925a935569dd7ed1d8--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=a2c1875e7d5e71925a935569dd7ed1d8
    method: POST
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1
  response:
    body:
      string: '{"id":"c356642e-750f-438a-b723-e579ef518cde","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/c356642e-750f-438a-b723-e579ef518cde/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"c356642e-750f-438a-b723-e579ef518cde","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c356642e-750f-438a-b723-e579ef518cde"},"submission":"2026-09-06T03:50:37.422Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/c356642e-750f-438a-b723-e579ef518cde/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T04:10:13.149Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/c356642e-750f-438a-b723-e579ef518cde","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-09-06T04:10:13.149Z","id":"c356642e-750f-438a-b723-e579ef518cde","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c356642e-750f-438a-b723-e579ef518cde"},"submission":"2026-09-06T03:50:37.422Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok25.fhcrc.org:46847/api/workflows/v1/c356642e-750f-438a-b723-e579ef518cde/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-981ef72","description":"PickedUp","timestamp":"2026-09-06T04:10:13.149Z","cromwellVersion":"87"},{"cromwellId":"cromid-981ef72","description":"Finished","timestamp":"2026-09-06T04:10:56.011Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/testpi_t/user/svc_proof_test/cromwell-scratch/emptyGlobTest/c356642e-750f-438a-b723-e579ef518cde","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-09-06T04:10:56.011Z","start":"2026-09-06T04:10:13.149Z","id":"c356642e-750f-438a-b723-e579ef518cde","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c356642e-750f-438a-b723-e579ef518cde"},"submission":"2026-09-06T03:50:37.422Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
