interactions:
- request:
    body: "--9edf90baae06f5699f0d058ec63e8d2c\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--9edf90baae06f5699f0d058ec63e8d2c\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9edf90baae06f5699f0d058ec63e8d2c--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9edf90baae06f5699f0d058ec63e8d2c
    method: POST
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1
  response:
    body:
      string: '{"id":"8bae9c2f-65e5-47ee-a412-91fdea6619f5","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/8bae9c2f-65e5-47ee-a412-91fdea6619f5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 8bae9c2f-65e5-47ee-a412-91fdea6619f5\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok20.fhcrc.org:44823/api/workflows/v1/8bae9c2f-65e5-47ee-a412-91fdea6619f5/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"8bae9c2f-65e5-47ee-a412-91fdea6619f5","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-8bae9c2f-65e5-47ee-a412-91fdea6619f5"},"submission":"2025-08-24T03:33:27.411Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
