interactions:
- request:
    body: "--7bdc98dc09aa9fd83b89d95cdbeebadc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--7bdc98dc09aa9fd83b89d95cdbeebadc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--7bdc98dc09aa9fd83b89d95cdbeebadc--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=7bdc98dc09aa9fd83b89d95cdbeebadc
    method: POST
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1
  response:
    body:
      string: '{"id":"4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66"},"submission":"2026-05-17T04:56:11.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T05:15:42.628Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66","actualWorkflowLanguage":"WDL","status":"Running","start":"2026-05-17T05:15:42.628Z","id":"4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66"},"submission":"2026-05-17T04:56:11.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:34927/api/workflows/v1/4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"emptyGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-c2a0582","description":"PickedUp","timestamp":"2026-05-17T05:15:42.628Z","cromwellVersion":"87"},{"cromwellId":"cromid-c2a0582","description":"Finished","timestamp":"2026-05-17T05:16:28.553Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
        {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
        create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
        {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"emptyGlobTest.no_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/emptyGlobTest/4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2026-05-17T05:16:28.553Z","start":"2026-05-17T05:15:42.628Z","id":"4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-4d3786d4-ccfe-4ea9-aa68-a0efb3b86a66"},"submission":"2026-05-17T04:56:11.142Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
