interactions:
- request:
    body: "--8440b90961885e90a60defdc79f3ff45\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"missingValue.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
      WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
      oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
      { docker: docker_image }\n}\n\r\n--8440b90961885e90a60defdc79f3ff45\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8440b90961885e90a60defdc79f3ff45--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=8440b90961885e90a60defdc79f3ff45
    method: POST
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1
  response:
    body:
      string: '{"id":"9386caa9-0eff-476d-a7e5-69a8e5b078dd","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/9386caa9-0eff-476d-a7e5-69a8e5b078dd/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n## This is a test workflow
        that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"9386caa9-0eff-476d-a7e5-69a8e5b078dd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9386caa9-0eff-476d-a7e5-69a8e5b078dd"},"submission":"2026-10-01T21:00:57.731Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok34.fhcrc.org:46051/api/workflows/v1/9386caa9-0eff-476d-a7e5-69a8e5b078dd/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowProcessingEvents":[{"cromwellId":"cromid-03b90c9","description":"Finished","timestamp":"2026-10-01T21:20:49.190Z","cromwellVersion":"87"},{"cromwellId":"cromid-03b90c9","description":"PickedUp","timestamp":"2026-10-01T21:20:49.181Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n## This is a test workflow that fails against womtool.\n## From https://github.com/broadinstitute/cromwell\n\n####
        WORKFLOW DEFINITION\n\nworkflow oops {\n  call oopsie\n}\n\n#### TASK DEFINITIONS\n\ntask
        oopsie {\n  input {\n    String str\n  }\n  command { echo ${str} }\n  runtime
        { docker: docker_image }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"actualWorkflowLanguage":"WDL","status":"Failed","failures":[{"causedBy":[{"causedBy":[],"message":"Failed
        to process task definition ''oopsie'' (reason 1 of 1): Cannot lookup value
        ''docker_image'', it is never declared. Available values are: [''str'']"}],"message":"Workflow
        input processing failed"}],"end":"2026-10-01T21:20:49.190Z","start":"2026-10-01T21:20:49.181Z","id":"9386caa9-0eff-476d-a7e5-69a8e5b078dd","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-9386caa9-0eff-476d-a7e5-69a8e5b078dd"},"submission":"2026-10-01T21:00:57.731Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
