interactions:
- request:
    body: "--f576a0bca82fb31ebd1b779bb92c813f\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--f576a0bca82fb31ebd1b779bb92c813f\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--f576a0bca82fb31ebd1b779bb92c813f--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=f576a0bca82fb31ebd1b779bb92c813f
    method: POST
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1
  response:
    body:
      string: '{"id":"5ff1680c-5337-479c-ba29-013d6e3b93ce","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/5ff1680c-5337-479c-ba29-013d6e3b93ce/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"5ff1680c-5337-479c-ba29-013d6e3b93ce","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5ff1680c-5337-479c-ba29-013d6e3b93ce"},"submission":"2025-09-21T03:50:57.233Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/5ff1680c-5337-479c-ba29-013d6e3b93ce/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b0c3559","description":"PickedUp","timestamp":"2025-09-21T04:09:52.241Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5ff1680c-5337-479c-ba29-013d6e3b93ce","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-21T04:09:52.241Z","id":"5ff1680c-5337-479c-ba29-013d6e3b93ce","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5ff1680c-5337-479c-ba29-013d6e3b93ce"},"submission":"2025-09-21T03:50:57.233Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok111.fhcrc.org:34399/api/workflows/v1/5ff1680c-5337-479c-ba29-013d6e3b93ce/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b0c3559","description":"Finished","timestamp":"2025-09-21T04:10:28.984Z","cromwellVersion":"87"},{"cromwellId":"cromid-b0c3559","description":"PickedUp","timestamp":"2025-09-21T04:09:52.241Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/5ff1680c-5337-479c-ba29-013d6e3b93ce","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-09-21T04:10:28.984Z","start":"2025-09-21T04:09:52.241Z","id":"5ff1680c-5337-479c-ba29-013d6e3b93ce","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-5ff1680c-5337-479c-ba29-013d6e3b93ce"},"submission":"2025-09-21T03:50:57.233Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
