interactions:
- request:
    body: "--856c74fc417fd2f74cd54a94d3afaa08\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--856c74fc417fd2f74cd54a94d3afaa08\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--856c74fc417fd2f74cd54a94d3afaa08--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=856c74fc417fd2f74cd54a94d3afaa08
    method: POST
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1
  response:
    body:
      string: '{"id":"d6771a20-bd48-45e3-a1ed-feab2947669a","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/d6771a20-bd48-45e3-a1ed-feab2947669a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"d6771a20-bd48-45e3-a1ed-feab2947669a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d6771a20-bd48-45e3-a1ed-feab2947669a"},"submission":"2025-06-27T20:23:51.538Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/d6771a20-bd48-45e3-a1ed-feab2947669a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:31:26.986Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/d6771a20-bd48-45e3-a1ed-feab2947669a","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-06-27T20:31:26.986Z","id":"d6771a20-bd48-45e3-a1ed-feab2947669a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d6771a20-bd48-45e3-a1ed-feab2947669a"},"submission":"2025-06-27T20:23:51.538Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok161.fhcrc.org:37743/api/workflows/v1/d6771a20-bd48-45e3-a1ed-feab2947669a/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"basicGlobTest","workflowProcessingEvents":[{"cromwellId":"cromid-f817fba","description":"PickedUp","timestamp":"2025-06-27T20:31:26.986Z","cromwellVersion":"87"},{"cromwellId":"cromid-f817fba","description":"Finished","timestamp":"2025-06-27T20:32:10.877Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
        matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"basicGlobTest.matched_files":["/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/d6771a20-bd48-45e3-a1ed-feab2947669a/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file1.txt","/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/d6771a20-bd48-45e3-a1ed-feab2947669a/call-create_files/execution/glob-ef5df339533c1334f081dc8cc75ee4f3/file2.txt"]},"workflowRoot":"/redacted/testpi_t/temp/user/svc_proof_test/cromwell-scratch/basicGlobTest/d6771a20-bd48-45e3-a1ed-feab2947669a","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-06-27T20:32:10.877Z","start":"2025-06-27T20:31:26.986Z","id":"d6771a20-bd48-45e3-a1ed-feab2947669a","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-d6771a20-bd48-45e3-a1ed-feab2947669a"},"submission":"2025-06-27T20:23:51.538Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
