interactions:
- request:
    body: "--87d29f090f6459d8817985b8139bbdbc\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--87d29f090f6459d8817985b8139bbdbc\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--87d29f090f6459d8817985b8139bbdbc--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=87d29f090f6459d8817985b8139bbdbc
    method: POST
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1
  response:
    body:
      string: '{"id":"f7a444c9-1d12-4ff9-9a35-cd78e3ee8084","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/f7a444c9-1d12-4ff9-9a35-cd78e3ee8084/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"f7a444c9-1d12-4ff9-9a35-cd78e3ee8084","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f7a444c9-1d12-4ff9-9a35-cd78e3ee8084"},"submission":"2025-09-14T03:49:10.263Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/f7a444c9-1d12-4ff9-9a35-cd78e3ee8084/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b365107","description":"PickedUp","timestamp":"2025-09-14T04:08:25.622Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f7a444c9-1d12-4ff9-9a35-cd78e3ee8084","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-09-14T04:08:25.622Z","id":"f7a444c9-1d12-4ff9-9a35-cd78e3ee8084","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f7a444c9-1d12-4ff9-9a35-cd78e3ee8084"},"submission":"2025-09-14T03:49:10.263Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj36.fhcrc.org:46443/api/workflows/v1/f7a444c9-1d12-4ff9-9a35-cd78e3ee8084/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-b365107","description":"PickedUp","timestamp":"2025-09-14T04:08:25.622Z","cromwellVersion":"87"},{"cromwellId":"cromid-b365107","description":"Finished","timestamp":"2025-09-14T04:09:09.503Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/f7a444c9-1d12-4ff9-9a35-cd78e3ee8084","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-09-14T04:09:09.503Z","start":"2025-09-14T04:08:25.622Z","id":"f7a444c9-1d12-4ff9-9a35-cd78e3ee8084","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-f7a444c9-1d12-4ff9-9a35-cd78e3ee8084"},"submission":"2025-09-14T03:49:10.263Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
