interactions:
- request:
    body: "--5fecba3ab27b9a81489b4fac960489b3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"emptyGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow emptyGlobTest {\n    call create_empty_directory\n\n    output
      {\n        Array[File] no_files = create_empty_directory.no_files\n    }\n}\n\ntask
      create_empty_directory {\n    command {\n        mkdir empty_dir\n    }\n    output
      {\n        Array[File] no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n\r\n--5fecba3ab27b9a81489b4fac960489b3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--5fecba3ab27b9a81489b4fac960489b3--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=5fecba3ab27b9a81489b4fac960489b3
    method: POST
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1
  response:
    body:
      string: '{"id":"21a4151f-2756-4327-92cc-1fc419f05c81","status":"Submitted"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/21a4151f-2756-4327-92cc-1fc419f05c81/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 21a4151f-2756-4327-92cc-1fc419f05c81\"\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj8.fhcrc.org:36461/api/workflows/v1/21a4151f-2756-4327-92cc-1fc419f05c81/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow emptyGlobTest
        {\n    call create_empty_directory\n\n    output {\n        Array[File] no_files
        = create_empty_directory.no_files\n    }\n}\n\ntask create_empty_directory
        {\n    command {\n        mkdir empty_dir\n    }\n    output {\n        Array[File]
        no_files = glob(\"empty_dir/*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"21a4151f-2756-4327-92cc-1fc419f05c81","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-21a4151f-2756-4327-92cc-1fc419f05c81"},"submission":"2026-07-22T18:33:24.090Z"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
