interactions:
- request:
    body: "--6c4a4576cac380b9cb33357b0fa48d74\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"basicGlobTest.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow basicGlobTest {\n    call create_files\n    output {\n        Array[File]
      matched_files = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command
      <<<\n        echo \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n
      \   >>>\n    output {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n\r\n--6c4a4576cac380b9cb33357b0fa48d74\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--6c4a4576cac380b9cb33357b0fa48d74--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=6c4a4576cac380b9cb33357b0fa48d74
    method: POST
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1
  response:
    body:
      string: '{"id":"c521b5b7-d7ea-4197-83c2-016452549f8c","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/c521b5b7-d7ea-4197-83c2-016452549f8c/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: c521b5b7-d7ea-4197-83c2-016452549f8c\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj1.fhcrc.org:33459/api/workflows/v1/c521b5b7-d7ea-4197-83c2-016452549f8c/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow basicGlobTest
        {\n    call create_files\n    output {\n        Array[File] matched_files
        = create_files.txt_files\n    }\n}\n\ntask create_files {\n    command <<<\n        echo
        \"File 1\" > file1.txt\n        echo \"File 2\" > file2.txt\n    >>>\n    output
        {\n        Array[File] txt_files = glob(\"*.txt\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"c521b5b7-d7ea-4197-83c2-016452549f8c","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-c521b5b7-d7ea-4197-83c2-016452549f8c"},"submission":"2026-04-05T04:06:49.714Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
