interactions:
- request:
    body: "--48cfe26a9c6518df435190a03c6cf610\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--48cfe26a9c6518df435190a03c6cf610\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--48cfe26a9c6518df435190a03c6cf610--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=48cfe26a9c6518df435190a03c6cf610
    method: POST
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1
  response:
    body:
      string: '{"id":"40cfbcf3-cc23-4e2b-94c2-36176850d6bc","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/40cfbcf3-cc23-4e2b-94c2-36176850d6bc/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"40cfbcf3-cc23-4e2b-94c2-36176850d6bc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40cfbcf3-cc23-4e2b-94c2-36176850d6bc"},"submission":"2025-11-16T03:34:48.923Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/40cfbcf3-cc23-4e2b-94c2-36176850d6bc/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T03:56:47.252Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40cfbcf3-cc23-4e2b-94c2-36176850d6bc","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-11-16T03:56:47.252Z","id":"40cfbcf3-cc23-4e2b-94c2-36176850d6bc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40cfbcf3-cc23-4e2b-94c2-36176850d6bc"},"submission":"2025-11-16T03:34:48.923Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmoj5.fhcrc.org:41799/api/workflows/v1/40cfbcf3-cc23-4e2b-94c2-36176850d6bc/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-ef0eaae","description":"Finished","timestamp":"2025-11-16T03:57:09.715Z","cromwellVersion":"87"},{"cromwellId":"cromid-ef0eaae","description":"PickedUp","timestamp":"2025-11-16T03:56:47.252Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/40cfbcf3-cc23-4e2b-94c2-36176850d6bc","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-11-16T03:57:09.715Z","start":"2025-11-16T03:56:47.252Z","id":"40cfbcf3-cc23-4e2b-94c2-36176850d6bc","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-40cfbcf3-cc23-4e2b-94c2-36176850d6bc"},"submission":"2025-11-16T03:34:48.923Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
