interactions:
- request:
    body: "--9590ffe7c3c980e1f2f28d7b2218e8a3\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--9590ffe7c3c980e1f2f28d7b2218e8a3\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--9590ffe7c3c980e1f2f28d7b2218e8a3--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=9590ffe7c3c980e1f2f28d7b2218e8a3
    method: POST
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1
  response:
    body:
      string: '{"id":"dff2729f-5e33-4457-a864-616a0eae1ff1","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/dff2729f-5e33-4457-a864-616a0eae1ff1/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"dff2729f-5e33-4457-a864-616a0eae1ff1","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dff2729f-5e33-4457-a864-616a0eae1ff1"},"submission":"2025-10-12T03:49:24.023Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/dff2729f-5e33-4457-a864-616a0eae1ff1/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-e320874","description":"PickedUp","timestamp":"2025-10-12T04:08:52.368Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dff2729f-5e33-4457-a864-616a0eae1ff1","actualWorkflowLanguage":"WDL","status":"Running","start":"2025-10-12T04:08:52.368Z","id":"dff2729f-5e33-4457-a864-616a0eae1ff1","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dff2729f-5e33-4457-a864-616a0eae1ff1"},"submission":"2025-10-12T03:49:24.023Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok47.fhcrc.org:42539/api/workflows/v1/dff2729f-5e33-4457-a864-616a0eae1ff1/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"workflowName":"globNonmatching","workflowProcessingEvents":[{"cromwellId":"cromid-e320874","description":"Finished","timestamp":"2025-10-12T04:09:38.290Z","cromwellVersion":"87"},{"cromwellId":"cromid-e320874","description":"PickedUp","timestamp":"2025-10-12T04:08:52.368Z","cromwellVersion":"87"}],"actualWorkflowLanguageVersion":"1.0","submittedFiles":{"workflow":"version
        1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
        unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
        {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
        {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{"globNonmatching.unmatched_files":[]},"workflowRoot":"/redacted/_DaSL/user/svc_proof_test/cromwell-scratch/globNonmatching/dff2729f-5e33-4457-a864-616a0eae1ff1","actualWorkflowLanguage":"WDL","status":"Succeeded","end":"2025-10-12T04:09:38.290Z","start":"2025-10-12T04:08:52.368Z","id":"dff2729f-5e33-4457-a864-616a0eae1ff1","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-dff2729f-5e33-4457-a864-616a0eae1ff1"},"submission":"2025-10-12T03:49:24.023Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
