interactions:
- request:
    body: "--8e2a2db5f1d471d595b7103b9c782f34\r\nContent-Disposition: form-data; name=\"workflowSource\";
      filename=\"globNonmatching.wdl\"\r\nContent-Type: application/octet-stream\r\n\r\nversion
      1.0\n\nworkflow globNonmatching {\n    call create_files\n    output {\n        Array[File]
      unmatched_files = create_files.unmatched_files\n    }\n}\n\ntask create_files
      {\n    command <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output
      {\n        Array[File] unmatched_files = glob(\"*.log\")\n    }\n}\n\r\n--8e2a2db5f1d471d595b7103b9c782f34\r\nContent-Disposition:
      form-data; name=\"workflowOptions\"; filename=\"options.json\"\r\nContent-Type:
      application/json\r\n\r\n{\n    \"workflow_failure_mode\": \"ContinueWhilePossible\",\n
      \   \"write_to_cache\": false,\n    \"read_from_cache\": false\n}\n\r\n--8e2a2db5f1d471d595b7103b9c782f34--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=8e2a2db5f1d471d595b7103b9c782f34
    method: POST
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1
  response:
    body:
      string: '{"id":"7c3e9206-8455-4f8e-b063-1400ad7a5403","status":"Submitted"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/7c3e9206-8455-4f8e-b063-1400ad7a5403/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: "{\n  \"status\": \"fail\",\n  \"message\": \"Unrecognized workflow
        ID: 7c3e9206-8455-4f8e-b063-1400ad7a5403\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gizmok135.fhcrc.org:40485/api/workflows/v1/7c3e9206-8455-4f8e-b063-1400ad7a5403/metadata?expandSubWorkflows=false&excludeKey=calls
  response:
    body:
      string: '{"submittedFiles":{"workflow":"version 1.0\n\nworkflow globNonmatching
        {\n    call create_files\n    output {\n        Array[File] unmatched_files
        = create_files.unmatched_files\n    }\n}\n\ntask create_files {\n    command
        <<<\n        echo \"Test file\" > test.txt\n    >>>\n    output {\n        Array[File]
        unmatched_files = glob(\"*.log\")\n    }\n}\n","root":"","options":"{\n  \"read_from_cache\":
        false,\n  \"workflow_failure_mode\": \"ContinueWhilePossible\",\n  \"write_to_cache\":
        false\n}","inputs":"{}","workflowUrl":"","labels":"{}"},"calls":{},"outputs":{},"status":"Submitted","id":"7c3e9206-8455-4f8e-b063-1400ad7a5403","inputs":{},"labels":{"cromwell-workflow-id":"cromwell-7c3e9206-8455-4f8e-b063-1400ad7a5403"},"submission":"2026-04-27T17:01:55.471Z"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
