name: API Tests Regulated

on:
  workflow_dispatch:
  # schedule only triggers if this file is on the default branch
  # and will only run on the default branch
  schedule:
    # every Sunday at 3 pm (8 am PT)
    - cron: "0 15 * * 0"

jobs:
  api-tests-regulated:
    if: ${{ ! github.event.pull_request.head.repo.fork }}
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.7.21"
          python-version: 3.13.5

      - name: Install
        run: uv sync --all-extras

      - name: Load secrets
        uses: 1password/load-secrets-action@v2
        with:
          # Export loaded secrets as environment variables to subsequent steps
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN_PROOF: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          PROOF_API_TOKEN_DEV: "op://PROOF/PROOF_Test_User/dev token"
          PATH_ROOTS: "op://PROOF/PROOF_PATH_ROOTS/credential"
          PROOF_REGULATED_DATA: "op://PROOF/PROOF_Test_User/regulated_data"
          PROOF_SLURM_ACCOUNT: "op://PROOF/PROOF_Test_User/regulated_data_slurm_account"

      - name: Run tests
        run: |
          make server_type_regulated && make test_api_regulated
